﻿@{
    var createQMS_MA_IQC_TEMPLATE = ViewBag.createQMS_MA_IQC_TEMPLATE as QMSSystem.Model.CreateQMS_MA_IQC_TEMPLATE;
  
    var searchItem = ViewBag.searchItem as QMSSystem.Model.IQCControlDataSearchModel;

    var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;
   
   
    var searchIQCTemplate = ViewBag.searchIQCTemplate as QMSSystem.Model.IQCTemplateSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    
} 

<div ng-app="myApp" ng-controller="myCtrl">
     <div class=""> 
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.TemplateGAS  </h3>
                    <div class="clearfix"></div>
               </div>
          </div>

          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>


          <div class="row"  ng-show="showList">

               <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_panel">

                         <div class="x_title">  
                            <span class="btn btn-primary "  ng-click="showIQCTemplateSearch()" ><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                            <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                            <span class="btn btn-primary " my-confirm-click="delIQCTemplate()" ><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                            <div class="clearfix"></div>
                         </div>

                         <div class="x_content tblResult " style="display:none;" >  
                              <div class="form-horizontal form-label-left" ng-show="showSearch">                                
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.TemplateName </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input type="text" ng-model="mSearch.NAME"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.FileName </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input type="text" ng-model="mSearch.FILE_NAME"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div> 
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                          <button type="button" class="btn btn-primary" ng-click="loadIQCTemplate()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                          <button type="button" class="btn btn-primary" ng-click="clearIQCTemplate()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                          <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                </div>
                              <table class="table table-bordered" >
                                     <thead >
                                            <tr>
                                                <th><input type="checkbox" ng-model="AllIQCTemplate" ng-change="SelectAllCheck()" ></th>
                                                <th  class=" sorting" ng-click="sort($event)" sort="NAME">@Resources.Strings.TemplateName</th>
                                                <th  class=" sorting" ng-click="sort($event)" sort="FILE_NAME">@Resources.Strings.FileName</th> 
                                                <th>@Resources.Strings.Path</th>
                                                <th>@Resources.Strings.SheetName</th>
                                                @*<th>@Resources.Strings.Description</th>*@
                                                <th>@Resources.Strings.Tools</th>
                                            </tr>
                                     </thead>
                                     <tbody >
                                             <tr ng-repeat="mIQCTemplate in listIQCTemplate" >
                                                <td><input type="checkbox" ng-model="mIQCTemplate.ITEM_SELECTED" /></td>
                                                <td>{{mIQCTemplate.NAME}}</td>
                                                <td>{{mIQCTemplate.FILE_NAME}}</td> 
                                                <td>{{mIQCTemplate.PATH_NAME}}</td>
                                                <td>{{mIQCTemplate.SHEET_NAME}}</td>
                                                @*<td>{{mIQCTemplate.TEMPLATE_DESC}}</td>*@
                                                <td><i class="fa fa-edit set-pointer"  ng-click="editData(mIQCTemplate)"></i></td>
                                            </tr>
                                     </tbody>
                              </table>
                         </div>
                       
                         <!-- ทำหน้า -->
                            <div class="row tblResult " style="display:none;" >
                                <div class="col-md-7 col-sm-7 col-xs-6">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                    @Resources.Strings.ResultsPerPage
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select
				                        ng-model="TempPageSize"
				                        chosen 
                                        ng-change="loadByPageSize()" 
				                        ng-options="item.Text  for item in listPageSize"
				                        class="col-md-12 col-sm-12 col-xs-12"
				                        name="lst_pagesize" id="lst_pagesize">
				                        <option value=""></option>
			                        </select> 
                                </div>
                                </div><div class="col-md-5 col-sm-5 col-xs-6">
                                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                        <select
				                        ng-model="TempPageIndex"
				                        chosen 
                                        ng-change="searchByPage()" 
				                        ng-options="item.PageIndex  for item in listPageIndex"  
				                        >
			                        </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                </div>
                                </div>
                            </div>
                        <!-- ทำหน้า -->

                    </div>

               </div>
              
          </div>


          <div class="row"   ng-show="showDevice"  >
               <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="x_panel"> 
                         <div class="row text_align_right" >
                            <button type="button" class="btn btn-primary" ng-click="loadTempleteData()"><i class="fa fa-cloud-upload"></i> @Resources.Strings.Load</button>
                            <span class="btn btn-primary" ng-click="saveData()" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                            <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                        </div> 
                        <div class="x_title"> 
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content"> 
                              <div class="row">
                                <div  class="form-horizontal form-label-left" ng-form="myQMS_MA_IQC_TEMPLATE">                                                                 
                                    <div class="form-group">                                        
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-3">@Resources.Strings.TemplateName <span class="required">*</span></label>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            <input type="text" class="form-control" maxlength="100" ng-model="createModel.NAME" required>
                                        </div> 
                                    </div>
                                    <div class="form-group"> 
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-3">@Resources.Strings.Path <span class="required">*</span></label>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            <input type="text" class="form-control" maxlength="256" ng-model="createModel.PATH_NAME" required>
                                        </div>
                                    </div>      
                                    <div class="form-group"> 
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-3">@Resources.Strings.FileName <span class="required">*</span></label>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            <input type="text" class="form-control"  maxlength="256" ng-model="createModel.FILE_NAME" required>
                                        </div> 
                                    </div>
                                    <div class="form-group">
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-3">@Resources.Strings.SheetName <span class="required">*</span></label>
                                        <div class="col-md-7 col-sm-7 col-xs-7">
                                            <input type="text" class="form-control"  maxlength="256" ng-model="createModel.SHEET_NAME" required>
                                        </div>                                        
                                    </div>  
                                    <div class="form-group">
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ColumnDate <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"  maxlength="256" ng-model="createModel.COLUMN_DATE" required>
                                        </div>                                                                                
                                    </div> 
                                    <div class="form-group">
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ColumnData <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"  maxlength="256" ng-model="createModel.COLUMN_DATA" required>
                                        </div>                                                                                
                                        <label class="spec-label col-md-1 col-sm-1 col-xs-12">@Resources.Strings.ColumnUnit <span class="required">*</span></label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                                <select
					                                ng-model="CreatetempIQCUnitId"
					                                chosen="{inherit_select_classes: true}"                                         
					                                ng-options="item.NAME  for item in listUnit" >
					                                <option value=""></option>
				                                </select>
                                        </div>                                                                                
                                    </div> 
                                    <div class="form-group">
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.RowStart <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"  maxlength="256" ng-model="createModel.ROW_START" required>
                                        </div>                                                                                
                                    </div>                             
                                    <div class="form-group">
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ActiveDate </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"   ng-model="TempActiveDate"   data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                        </div> 
                                    </div>                             
                                    <div class="form-group">
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ExpireDate </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"   ng-model="TempExpireDate"  data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                        </div>
                                    </div>
                                    <div class="form-group"> 
                                        <label class="spec-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Description </label>
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <textarea id="message" rows="3" class="form-control" name="message"  maxlength="256" ng-model="createModel.TEMPLATE_DESC" ></textarea>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>  
                    </div>
               </div>
          </div> 

     
     </div> 
</div>

 

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike, $tooltip){
        
        $scope.tempIQCFormulaId;
        $scope.CreatetempIQCFormulaId;
        $scope.CreatetempIQCUnitId;
        $scope.CreatetempIQCItemEquipId;
        $scope.listUnit = getListUnit();

        $scope.createModel = getCreateModel(); 

//        $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
//        $scope.TempExpireDate = Fact.getDateFromDoubleEx($scope.createModel.EXPIRE_DATE);


        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
         
 
        $scope.saveData = function () {            
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_TEMPLATE"); 
            var valid = true;

         
            if( typeof $scope.CreatetempIQCUnitId !== "undefined"  && typeof $scope.CreatetempIQCUnitId.ID !== "undefined" ){
                $scope.createModel.COLUMN_UNIT = $scope.CreatetempIQCUnitId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.TempActiveDate;
            }else{
                $scope.createModel.ACTIVE_DATE  = null;
                valid = false;
            }  
            if( typeof $scope.TempExpireDate !== "undefined"  && $scope.TempExpireDate !== null ){
                $scope.createModel.EXPIRE_DATE =$scope.TempExpireDate;
            }else{
                $scope.createModel.EXPIRE_DATE  = null;
                valid = false;
            }              
            if( typeof $scope.createModel.NAME !== "undefined"  
                && $scope.createModel.NAME !== null  
                && typeof $scope.createModel.FILE_NAME !== "undefined"  
                && $scope.createModel.FILE_NAME !== null 
                && typeof $scope.createModel.PATH_NAME !== "undefined"  
                && $scope.createModel.PATH_NAME !== null      
                && typeof $scope.createModel.SHEET_NAME !== "undefined"  
                && $scope.createModel.SHEET_NAME !== null 
//                && $scope.TempActiveDate <= $scope.TempExpireDate
            ){
                 
            }else{
                valid = false;
            }    
             
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  

                    if(response.data.result == 1){
                         $scope.loadIQCTemplate();
                         $scope.showDeviceData();                         
                    }
                     Fact.showMessage(response.data.message);                     
                    
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }    
             
        }
    

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true; $(".showExcel").hide();}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){

            $scope.CreatetempIQCFormulaId = {};
            $scope.CreatetempIQCUnitId = {};
            $scope.CreatetempIQCItemEquipId;
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            
           
            $scope.listUnit.forEach(function(entry) {
		    	if($scope.createModel.COLUMN_UNIT  == entry.ID){  
		    		$scope.CreatetempIQCUnitId =  entry; 
                    
		    		return false;
		    	}
			}); 
                     
           $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
           $scope.TempExpireDate = Fact.getDateFromDoubleEx($scope.createModel.EXPIRE_DATE);
        }


        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('ID');
        $scope.SortOrder = Fact.setSortOrder('asc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listIQCTemplate; // listdata
        $scope.AllIQCTemplate; //checkbox

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listIQCTemplate, $scope.AllIQCTemplate) }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadIQCTemplate();
        }
         
        $scope.clearIQCTemplate = function() {  
            $scope.mSearch = getSearchModel();  
            $scope.tempIQCFormulaId = {};
            $scope.loadIQCTemplate();
        }
        $scope.showIQCTemplateSearch = function(){  $scope.showSearch = true; }
        $scope.closeIQCTemplateSearch = function() { $scope.showSearch = false; }

        $scope.getIQCTemplateSearch = function()
        { 
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadIQCTemplate();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadIQCTemplate(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadIQCTemplate(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadIQCTemplate(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadIQCTemplate(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadIQCTemplate(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadIQCTemplate(); }

        $scope.loadIQCTemplate = function () {

            if(typeof $scope.tempIQCFormulaId !== "undefined")
                $scope.mSearch.METHOD_ID = $scope.tempIQCFormulaId.ID;

            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listIQCTemplate = response.data.message;
                    console.log("$scope.listIQCTemplate",$scope.listIQCTemplate);
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delIQCTemplate = function(){
            Fact.deleteMultiData($scope.listIQCTemplate, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadIQCTemplate(); });
        }
        $scope.loadTempleteData = function(){
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_TEMPLATE"); 
            var valid = true;

        
            if( typeof $scope.CreatetempIQCUnitId !== "undefined"  && typeof $scope.CreatetempIQCUnitId.ID !== "undefined" ){
                $scope.createModel.COLUMN_UNIT = $scope.CreatetempIQCUnitId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.TempActiveDate;
            }else{
                $scope.createModel.ACTIVE_DATE  = null;
                valid = false;
            }  
            if( typeof $scope.TempExpireDate !== "undefined"  && $scope.TempExpireDate !== null ){
                $scope.createModel.EXPIRE_DATE =$scope.TempExpireDate;
            }else{
                $scope.createModel.EXPIRE_DATE  = null;
                valid = false;
            }              
            if( typeof $scope.createModel.NAME !== "undefined"  
                && $scope.createModel.NAME !== null  
                && typeof $scope.createModel.FILE_NAME !== "undefined"  
                && $scope.createModel.FILE_NAME !== null 
                && typeof $scope.createModel.PATH_NAME !== "undefined"  
                && $scope.createModel.PATH_NAME !== null      
                && typeof $scope.createModel.SHEET_NAME !== "undefined"  
                && $scope.createModel.SHEET_NAME !== null 
//                && $scope.TempActiveDate <= $scope.TempExpireDate
            ){
                 
            }else{
                valid = false;
            }    
             
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                 var urlName = get_base_url("InternalQualityControl/ExecuteFileTemplateToDB"); 
              Fact.saveDataCallback(urlName, [{TEMPLATE_ID:$scope.createModel.ID}], function (response) {  

                    if(response.data.result == 1){
                         $scope.loadIQCTemplate();
                         $scope.showDeviceData();                         
                    }
                     Fact.showMessage(response.data.message);                     
                    
                });                   
                    
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }    
             
        }
        
        $scope.init = function(){

            Fact.setDataTableUrl(get_base_url("InternalQualityControl/GetQMS_MA_IQC_TEMPLATEBySearch"));
            Fact.setDelelteUrl(get_base_url("InternalQualityControl/DeleteQMS_MA_IQC_TEMPLATE"));
            Fact.setSearchModel( getSearchModel() );        
            
            $scope.CreatetempIQCItemEquipId = {};    
            $scope.CreatetempIQCFormulaId = {};
            $scope.CreatetempIQCUnitId = {};
          
            
            $scope.listUnit.forEach(function(entry) {
		    	if($scope.createModel.COLUMN_UNIT  == entry.ID){  
		    		$scope.CreatetempIQCUnitId =  entry; 
                    
		    		return false;
		    	}
			}); 

            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadIQCTemplate();
        }
         
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_IQC_TEMPLATE)); 
        return lstData; 
    } 

    function getSearchItemModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchItem)); 
        return lstData;
    }


     function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit)); 
        return lstData;
    }

     
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchIQCTemplate)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }
    
</script>