﻿/***********************************************
	Utility
***********************************************/
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'MyriadProRegular';
	font-size: 14px;
	color: #3d4040;
	min-height: 670px;
	background: #fff;
}
.sub-bg {
	position: fixed;
	z-index: 0;
}
.sub-bg img {
	width: 100%;
	height: 100%;
}
.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.clear {
	clear: both;
	float: none;
}




/***********************************************
	Header
***********************************************/
 

.header {
	width: 100%;
	height: 90px;
}
.header .logo a {
	margin-left: 50px;
	margin-top: 50px;
	display: block;
	width: 470px;
	height: 120px; 
	float: left;
}
.header .logo-login a {
	margin-left: 50px;
	margin-top: 50px;
	display: block;
	width: 470px;
	height: 120px; 
	float: left;
}
.header .nav-right {
	float: right;
	margin-right: 20px;
	margin-top: 55px;
	height: 40px;
	padding: 10px 0;
}
.header .nav-right a {
	display: block;
	width: 100px;
	height: 40px;
	margin-left: 10px;
	float: left;
}
.header .nav-right a:hover {
	opacity: 0.9;
}
.header:after {
	clear: both;
	float: none;
}






/***********************************************
	Login
***********************************************/

.bottom-left {
	position: fixed;
	left: 0;
	bottom: -5px;
}
.bottom-right {
	position: fixed;
	right: 0;
	bottom: -5px;
}
 

.login-page {
    background: url(../Content/images/top_banner.png) no-repeat top; 
}
.login-page .content {
	width: 100%;
	height: 100%;
	min-height: 450px;
	margin-top: -50px;
	padding-top: 50px;
	
}

.login-page .content .login-box {
	width: 450px;
	height: 200px;
	margin: 100px auto 0;
	text-align: center;
	font-family: arial;
	font-size: 12px;
	color: #1b1464;
	font-weight: bold;
}
.l-form {
	width: 100%;
	padding: 0px 0 2px;
	color: #00adef;
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	position: relative;
}
.l-form label {
	width: 90px;
	height: 35px;
	line-height: 40px;
	text-align: right;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}
.l-form input[type=text] {
	margin-bottom: 10px;
	height: 30px;
	/*width: 280px;*/
    width: 245px;
	/*padding: 6px 10px 5px 30px;*/
    padding: 6px 45px 5px 30px;
	line-height: 25px;
	border: 0;
	border-radius: 5px;
	color: #fff;
}
.l-form input[type=password] {
	margin-bottom: 10px;
	height: 30px;
	/*width: 280px;*/
    width: 245px;
	/*padding: 6px 10px 5px 30px;*/
    padding: 6px 45px 5px 30px;
	line-height: 25px;
	border: 0;
	border-radius: 5px;
	color: #fff;
}
   
.alert-error
{
    color:Red;
}

.alert .alert-error
{
    color:Red;
}