﻿@{
    var createQMS_MA_UNIT = ViewBag.createQMS_MA_UNIT as QMSSystem.Model.CreateQMS_MA_UNIT; 
}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">
          <div class="page-title"> 
            <h3>@Resources.Strings.Unit  @ViewBag.ActionName</h3> 
            <div class="clearfix"></div>  
          </div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
          <div class="row"> 
               <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                    <div class="row"  style="text-align:right;">                    
                        <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                        <a href="~/Unit/ListMasterUnit"><span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span></a>                    
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div  class="form-horizontal form-label-left" >
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" ng-model="createModel.NAME"   class="form-control col-md-7 col-xs-12" required>
                        </div>
                    </div>
                </div>

                 <!-- history -->
                    <div class="x_content" ng-show="createModel.ID">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size " >
		                        @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                        </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                        <div class="title_right text_right small_font_size " >
	                            @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                        </div>
                        </div>
                    </div>
                <!-- history -->
              </div>
          </div>
     </div>
</div>


<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();
         
        $scope.saveData = function () {            
            var urlName = get_base_url("Unit/CreateQMS_MA_UNIT"); 
            var valid = true;
   
            if( typeof $scope.createModel.NAME !== "undefined"  
                && $scope.createModel.NAME !== null 
            ){
                
            }else{
                valid = false;
            }    
             
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message); 
                     $scope.createModel = response.data.model;
                     $scope.createModel.ID = response.data.dataId;     
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }     


        }  

        $scope.init = function () { 
          
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_UNIT)); 
        return lstData; 
    } 
</script>
