﻿@{
    var searchUnit = ViewBag.searchUnit as QMSSystem.Model.UnitSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var createQMS_MA_UNIT = ViewBag.createQMS_MA_UNIT as QMSSystem.Model.CreateQMS_MA_UNIT; 
}
<div  ng-app="myApp" ng-controller="myCtrl">
     <div class="">
          <div class="page-title"> 
            <h3>@Resources.Strings.Unit</h3>
            <div class="clearfix"></div>  
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            <div class="row"  ng-show="showList">
                <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                 <ul class="nav navbar-left panel_toolbox">  
                                    <span ng-click="showUnitSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                    <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                    <span class="btn btn-primary "  my-confirm-click="delUnit()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                </ul>
                                <div class="clearfix"></div>
                            </div>
                             
                            <div class="x_content tblResult " style="display:none;" >
                                <div  class="form-horizontal form-label-left" ng-show="showSearch">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" ng-model="mSearch.Name"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" class="btn btn-primary" ng-click="loadUnit()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                            <button type="button" class="btn btn-primary" ng-click="clearUnit()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                            <button type="button" class="btn btn-primary"  ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                </div>
                                <table class="table table-bordered tblResult " style="display:none;">
                                        <thead style="width:100%;"> 
                                            <tr>
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                    <input type="checkbox" ng-model="AllUnit" ng-change="SelectAllCheck()" >
                                                </th>
                                                <th class=" sorting_desc" ng-click="sort($event)" sort="NAME">@Resources.Strings.Name</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                                            </tr>
                                        </thead>
                                        <tbody style="width:100%;">
                                            <tr ng-repeat="mUnit in listUnit" >
                                                <td  ><input type="checkbox" ng-model="mUnit.ITEM_SELECTED" /></td>
                                                <td >{{mUnit.NAME}}</td>
                                                <td ><i class="fa fa-edit set-pointer"  ng-click="editData(mUnit)"></i></td>
                                            </tr>
                                        </tbody>
                                </table>

                            </div>
                  
                          <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->

                        </div>
                </div>
            </div> 

            <div class="row" ng-show="showDevice">
               <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_title">
                    <div class="row"  style="text-align:right;">                    
                        <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                        <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div  class="form-horizontal form-label-left" >
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" ng-model="createModel.NAME"   class="form-control col-md-7 col-xs-12" required>
                        </div>
                    </div>
                </div>

                 <!-- history -->
                    <div class="x_content" ng-show="createModel.ID > 0">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size " >
		                        @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                        </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                        <div class="title_right text_right small_font_size " >
	                            @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                        </div>
                        </div>
                    </div>
                <!-- history -->
              </div>
          </div>
      </div>
</div>



<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
         
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('NAME');
        $scope.SortOrder = Fact.setSortOrder('desc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;  
        $scope.listUnit; // listdata
        $scope.AllUnit; //checkbox

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listUnit, $scope.AllUnit) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("Unit/CreateMasterUnit") + "?id=" + mData.ID ); }
        
         $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadUnit();
        }
        
        $scope.clearUnit = function() {  $scope.mSearch = getSearchModel(); }
         
        $scope.showUnitSearch = function(){  $scope.showSearch = true; }
        $scope.closeUnitSearch = function() { $scope.showSearch = false; }
        $scope.getUnitSearch = function()
        { 
            $scope.loadUnit();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadUnit(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadUnit(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadUnit(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadUnit(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadUnit(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadUnit(); }

        $scope.loadUnit = function () { 
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listUnit = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delUnit = function(){
            Fact.deleteMultiData($scope.listUnit, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadUnit(); });
        }

         $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
             

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
             
        }

        $scope.saveData = function () {            
            var urlName = get_base_url("Unit/CreateQMS_MA_UNIT"); 
            var valid = true;
   
            if( typeof $scope.createModel.NAME !== "undefined"  
                && $scope.createModel.NAME !== null 
            ){
                
            }else{
                valid = false;
            }    
             
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  

                    if(response.data.result == 1){
                         $scope.loadUnit();
                         $scope.showDeviceData();
                    }else{
                        Fact.showMessage(response.data.message); 
                    }

                         
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }     


        } 
        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Unit/GetQMS_MA_UNITBySearch"));
            Fact.setDelelteUrl(get_base_url("Unit/DeleteQMS_MA_UNIT"));
            Fact.setSearchModel( getSearchModel() ); 

             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});
            Fact.setSortIcon();
            $scope.loadUnit();
        }

        $scope.init();

    });
     
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchUnit));
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize));
        return lstData; 
    }
     
    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_UNIT));
        return lstData; 
    } 
</script>