﻿@{
    var searchIQCEquip = ViewBag.searchIQCEquip as QMSSystem.Model.IQCEquipSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;


    var createQMS_MA_IQC_EQUIP = ViewBag.createQMS_MA_IQC_EQUIP as QMSSystem.Model.CreateQMS_MA_IQC_EQUIP;
  
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class=""> 
           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.IQCMasterEquipment</h3>
                     <div class="clearfix"></div> 
                </div>
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
           
           <div class="row" ng-show="showList">
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                     <div class="x_panel"> 
                          <div class="x_title">
                                <span ng-click="showIQCEquipSearch()" class="btn btn-primary" style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                               <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                <span class="btn btn-primary "  my-confirm-click="delIQCEquip()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                          </div>  
                          <div class="x_content  tblResult " style="display:none;" >
                               <div class="form-horizontal form-label-left" ng-show="showSearch"> 
                                  <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.EquipName 
                                       </label>
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" ng-model="mSearch.EQUIP_NAME"  class="form-control col-md-7 col-xs-12">
                                       </div>
                                  </div>
                                  <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                             <input type="text" ng-model="mSearch.EQUIP_DESC"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                   </div>                                
                                   <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" class="btn btn-primary" ng-click="loadIQCEquip()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                            <button type="button" class="btn btn-primary" ng-click="clearIQCEquip()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                            <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                   <div class="ln_solid"></div>
                               </div>
                               <table class="table table-bordered" >
                                      <thead>                                            
                                             <tr>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">
                                                      <input type="checkbox" ng-model="AllIQCEquip" ng-change="SelectAllCheck()" >
                                                  </th>
                                                  <th class="sorting_desc custom_textbox_50" ng-click="sort($event)" sort="EQUIP_ID">ID</th>                                               
                                                  <th class="sorting custom_textbox_200" ng-click="sort($event)" sort="EQUIP_NAME">Name</th>
                                                  <th class="sorting custom_textbox_250" ng-click="sort($event)" sort="EQUIP_DESC">Description</th>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th> 
                                             </tr>
                                      </thead>
                                      <tbody>
                                              <tr ng-repeat="mIQCEquip in listIQCEquip" >
                                                  <td><input type="checkbox" ng-model="mIQCEquip.ITEM_SELECTED" /></td>
                                                  <td>{{mIQCEquip.EQUIP_ID}}</td>
                                                  <td>{{mIQCEquip.EQUIP_NAME}}</td>
                                                  <td>{{mIQCEquip.EQUIP_DESC}}</td>                                                 
                                                  <td><i class="fa fa-edit set-pointer"  ng-click="editData(mIQCEquip)"></i></td>
                                              </tr>
                                      </tbody>                                      
                              </table>
                          </div>
                          <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->
                     </div> 
                </div> 
           </div> 


         <div class="row" ng-show="showDevice"  >
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                          <div class="x_title">
                              <div class="row text_align_right" >
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <span class="btn btn-primary " ng-click="showDeviceData()" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                              </div>
                              <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 
                               <div  class="form-horizontal form-label-left" >
                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.EquipId <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.EQUIP_ID"  class="form-control col-md-7 col-xs-12" required>
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.EquipName <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.EQUIP_NAME"  class="form-control col-md-7 col-xs-12" required>
                                          </div>
                                     </div> 
                                                                          
                                     <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea ng-model="createModel.EQUIP_DESC" rows="3" class="form-control" maxlength="250" name="message" >
                                            </textarea>
                                        </div>
                                     </div>
                                </div>  

                                
                          </div>

                             <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->

                     </div>
                </div>
           </div> 
      
      </div>
</div>



<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempEquipId;
     
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('EQUIP_ID');
        $scope.SortOrder = Fact.setSortOrder('asc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listIQCEquip; // listdata
        $scope.AllIQCEquip; //checkbox

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
       

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listIQCEquip, $scope.AllIQCEquip) }
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadIQCEquip();
        }


        $scope.clearIQCEquip = function() {          
               $scope.mSearch = getSearchModel(); 
               $scope.tempEquipId = {};
               $scope.mSearch.EQUIP_ID = 0;
               $scope.mSearch.EQUIP_NAME = null;
               $scope.mSearch.EQUIP_DESC = null;
               $scope.loadIQCEquip();
        } 

        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showIQCEquipSearch = function(){  $scope.showSearch = true; /*$("#searchIQCEquip").modal('show');*/}
        $scope.closeIQCEquipSearch = function() { $scope.showSearch = false; }
        $scope.getIQCEquipSearch = function()
        {
           // $("#searchIQCEquip").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadIQCEquip();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadIQCEquip(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadIQCEquip(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadIQCEquip(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadIQCEquip(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadIQCEquip(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadIQCEquip(); }

        $scope.loadIQCEquip = function () { 
                       
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listIQCEquip = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delIQCEquip = function(){
            Fact.deleteMultiData($scope.listIQCEquip, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadIQCEquip(); });
        }

        $scope.createModel = getCreateModel();

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchIQCEquip").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
            
      
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;

            console.log("initial", $scope.createModel );


            if($scope.createModel.ID > 0 ){

                var urlName = get_base_url("InternalQualityControl/GetCreateQMS_MA_IQC_EQUIPById");     
                var jsonData = {
	                    "id":  $scope.createModel.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                        $scope.createModel = response.data.message; 
                        
                }); 
            }
        }

        $scope.saveData = function () {   
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_EQUIP");            
            var valid = true;
             
            if( $scope.createModel.EQUIP_ID == null 
                || $scope.createModel.EQUIP_ID == ""
                || $scope.createModel.EQUIP_ID  == "undefined"
                || $scope.createModel.EQUIP_NAME == null 
                || $scope.createModel.EQUIP_NAME == ""
                || $scope.createModel.EQUIP_NAME  == "undefined"
                ){ 
                          valid = false;   
            } 
 
 
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     
                    if(response.data.result == 1){
                        $scope.loadIQCEquip();
                        $scope.showDeviceData();
                    }else{ 
                         Fact.showMessage(response.data.message);
                    }
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       }         
        
        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("InternalQualityControl/GetQMS_MA_IQC_EQUIPBySearch"));
            Fact.setDelelteUrl(get_base_url("InternalQualityControl/DeleteQMS_MA_IQC_EQUIP"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadIQCEquip();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchIQCEquip)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }
        

     function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_IQC_EQUIP)); 
        return lstData; 
    }
     
</script>