﻿@{ 
     var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.TrendGasGraphSearchModel;

     var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
     
}
  <div  ng-app="myApp" ng-controller="myCtrl">
        <div class="">
            <div class="page-title">              
                  <h3>@Resources.Strings.LabControlChart</h3>
                  <div class="clearfix"> 
                  </div>
                  <div class="clearfix"></div>
                  <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            </div>   

            @*Show Graph*@
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                     <div class="x_content">
                           <div class="form-horizontal form-label-left controlSearch" >                             
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Category<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                        ng-model="tempCategory"
					                        chosen  
                                            ng-change="loadWorkSheet()"
					                        ng-options="item.NAME  for item in listCategory" >
					                        <option value=""></option>
				                        </select>
                                    </div> 
                                </div>
                                <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.WorkSheet<span class="required">*</span>
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                        ng-model="tempWorkSheet"
					                        chosen   
                                            ng-change="loadItem()"
					                        ng-options="item.NAME for item in listWorkSheet" >
					                        <option value=""></option>
				                        </select>
                                    </div>
                             </div>
                                <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                        ng-model="tempItem"
					                        chosen   
					                        ng-options="item.NAME  for item in listItem" >
					                        <option value=""></option>
				                        </select>
                                    </div>
                              </div>
                                <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Equipment </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                        ng-model="tempItemId1"
					                        chosen   
					                        ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem1" >
					                        <option value=""></option>
				                        </select>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.StartDate<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="text" class="form-control"  ng-model="TempDateStart"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker>  
                                    </div> 
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.EndDate<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <input type="text" class="form-control"  ng-model="TempDateEnd"   data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                                    </div>
                                </div>
                           </div>
                       
                           <div class="row " style="text-align:right;">                        
                                <span class="btn btn-primary resetData controlSearch"  ng-click="clearTrendData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                                <span class="btn btn-primary  controlSearch" ng-click="GetGraphData()"  > <i class="fa fa-play"></i> @Resources.Strings.Run</span>
                                @*<span class="btn btn-primary searchData " style="display:none;"> <i class="fa fa-search"></i> @Resources.Strings.Search</span>*@
                                <span class="btn btn-primary downloadData graphData" style="display:none;"  ng-click="downloadImage()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadImage</span>
                                <span class="btn btn-primary downloadCSV graphData"  style="display:none;" ng-click="downloadCSV()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadData</span>
                           </div>

                     </div>

                  <div class="x_content graphData" style="display:none;" > 
                    <br/>
                     <div class="row" style="text-align:center;">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                  </div>
                  
                </div>
                </div>

            </div>

            
                 



            @*Settig Configuration*@
            <div class="row graphData" style="display:none;"> 

                 <div class="col-md-12 col-sm-12 col-xs-12"> 
                          <div class="x_panel"> 
                              <div class="x_title">
                                   <h3>Control Rule</h3>
                                   <div class="clearfix"></div>
                              </div>
                              <div class="x_content" >                               
                                   <table class="table table-bordered" >
                                          <thead>                                            
                                                 <tr>
                                                      <th class="col-md-1 col-sm-1 col-xs-1">
                                                          <input type="checkbox" ng-model="AllIQCRule" ng-change="SelectAllCheck()" >
                                                      </th>
                                                      <th class="sorting custom_textbox_100" ng-click="sort($event)" sort="RULE_ID">Rule</th>                                               
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="START_POINT">Start Point</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="END_POINT">End Point</th>
                                                      <th class="sorting custom_textbox_150" ng-click="sort($event)" sort="POSSICAUSE_ID">Possible Cause</th>  
                                                      <th class="sorting custom_textbox_150" ng-click="sort($event)" sort="CONTROL_REASON">Reason</th>  
                                                      <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Email</th>
                                                 </tr>
                                          </thead>
                                          <tbody>
                                              <tr ng-repeat="mIQCControl in listIQCControl" >
                                                  <td><input type="checkbox" ng-model="mIQCControl.ITEM_SELECTED" /></td>
                                                  <td>{{mIQCRule.RULE_ID}}</td>
                                                  <td>{{mIQCRule.START_POINT}}</td>
                                                  <td>{{mIQCRule.END_POINT}}</td>    
                                                  <td>{{mIQCRule.POSSICAUSE_ID}}</td>
                                                  <td>{{mIQCRule.CONTROL_REASON}}</td>                                             
                                                  <td><i class="fa fa-edit set-pointer"  ng-click="editData(mIQCControl)"></i></td>
                                              </tr>
                                         </tbody>                           
                                  </table>
                                 <!-- ทำหน้า -->
                                <div class="row tblResult " style="display:block;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                                <!-- ทำหน้า -->
                                 <br>
                                 <div class="row graphData" style="display:none;text-align:center;">  
                                    <span ng-click="showIQCMailAlertSearch()" class="btn btn-primary" style="color:white;"><i class="fa fa-paper-plane"></i> Send Mail</span>
                                    &nbsp; &nbsp; &nbsp;
                                    <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-history"></i> History</span>
                                    &nbsp; &nbsp; &nbsp;     
                                    <span class="btn btn-primary" ><i class="fa fa-sticky-note"></i> Week Report</span>
                                    &nbsp; &nbsp; &nbsp;
                                    <span class="btn btn-primary" ><i class="fa fa-sticky-note-o"></i> Month Report</span>  
                                    &nbsp; &nbsp; &nbsp;
                                    <span class="btn btn-primary" ><i class="fa fa-file-excel-o"></i> Excel</span>               
                                </div>                              

                              </div>
                          </div>
                 </div>

                 <div class="col-md-12 col-sm-12 col-xs-12">                      
                      <div class="x_panel">
                           <div class="x_title">
                                <h3>Analysis</h3>
                                <div class="clearfix"></div>
                           </div> 
                           <div class="col-md-9 col-sm-9 col-xs-12">
                                          <label>
                                              <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"  ng-model="tagType" ng-value="1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Strings.IQCMasterFormulaStandard
                                          </label>
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                                          <label>
                                              <input type="radio" checked="" value="option2" id="optionsRadios2" name="optionsRadios"  ng-model="tagType" ng-value="2"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Strings.IQCMasterFormulaRepeat
                                          </label>
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                          <label>
                                              <input type="radio" checked="" value="option3" id="optionsRadios3" name="optionsRadios"  ng-model="tagType" ng-value="3"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Resources.Strings.IQCMasterFormulaReporduce
                                          </label>
                                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                     </div>   
                           <div class="x_content" >                               
                                   <table class="table table-bordered" >
                                          <thead>                                            
                                                 <tr>
                                                      @*<th class="sorting_desc custom_textbox_150" ng-click="sort($event)" sort="RULE_ID">Item</th> *@                                              
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_NAME">Min</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Max</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Average</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">SD</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="LCL">LCL<br>(3SD)</th>                                               
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="LWL">LWL<br>(2SD)</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="AVG">AVG<br>(1SD)</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="UWL">UWL<br>(2SD)</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="UCL">UCL<br>(3SD)</th>

                                                 </tr>
                                          </thead>
                                          <tbody>
                                              <tr >
                                                  @*<td>
                                                      <div class="col-md-12 col-sm-12 col-xs-12">
                                                            <select
					                                                ng-model="tempProduct"
					                                                chosen="{inherit_select_classes: true}" 
					                                                ng-options="item.NAME  for item in listProduct" 
                                                                    class="chosen_required">
					                                                <option value=""></option>
				                                            </select> 
                                                      </div>
                                                  </td>*@
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_MIN"  class="form-control col-md-2 col-xs-2">
                                                  </td>
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_MAX"  class="form-control col-md-2 col-xs-2">
                                                  </td>  
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_AVG"  class="form-control col-md-2 col-xs-2">
                                                  </td> 
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_SD"  class="form-control col-md-2 col-xs-2">
                                                  </td>
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_LCL"  class="form-control col-md-2 col-xs-2">
                                                  </td>
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_LWL"  class="form-control col-md-2 col-xs-2">
                                                  </td>
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_AVG"  class="form-control col-md-2 col-xs-2">
                                                  </td>  
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_UWL"  class="form-control col-md-2 col-xs-2">
                                                  </td> 
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_UCL"  class="form-control col-md-2 col-xs-2">
                                                  </td>
                                              </tr>
                                         </tbody>                                      
                                  </table>
                           </div> 
                           
                      </div>
                 </div>

                 <div class="col-md-12 col-sm-12 col-xs-12">                      
                      <div class="x_panel">
                           <div class="x_title">
                                <h3>Edit Y-Axis</h3>
                                <div class="clearfix"></div>
                           </div>    
                           <div class="x_content" >                               
                                   <table class="table table-bordered" >
                                          <thead>                                            
                                                 <tr>
                                                      <th class="sorting_desc custom_textbox_150" ng-click="sort($event)" sort="RULE_ID">Title</th>                                               
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_NAME">Min</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Max</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Step size</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Apply</th>
                                                 </tr>
                                          </thead>
                                          <tbody>
                                              <tr >                                                 
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YTITLE"  class="form-control col-md-6 col-xs-6">
                                                  </td>
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YMIN"  class="form-control col-md-6 col-xs-6">
                                                  </td>  
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YMAX"  class="form-control col-md-6 col-xs-6">
                                                  </td> 
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YSTEP"  class="form-control col-md-6 col-xs-6">
                                                  </td>
                                                  <td>
                                                      <span ng-click="showIQCMailAlertSearch()" class="btn btn-primary" style="color:white;"><i class="fa fa-line-chart"></i></span>
                                                  </td>
                                              </tr>
                                         </tbody>                                      
                                  </table>
                                                           
                           </div>                                                     
                               
                      </div>
                      <div class="x_panel">
                           <div class="x_title">
                                <h3>Edit X-Axis</h3>
                                <div class="clearfix"></div>
                           </div>    
                           <div class="x_content" >                               
                                   <table class="table table-bordered" >
                                          <thead>                                            
                                                 <tr>
                                                      <th class="sorting_desc custom_textbox_150" ng-click="sort($event)" sort="RULE_ID">Title</th>  
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_NAME">Default<br> Standard</th>                                            
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_NAME">Active Date<br>current Standard</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Terminate Date<br>current Standard</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Baseline result</th>
                                                      <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="RULE_DESC">Apply</th>
                                                 </tr>
                                          </thead>
                                          <tbody>
                                              <tr >                                                 
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YTITLE"  class="form-control col-md-6 col-xs-6">
                                                  </td>
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YMIN"  class="form-control col-md-6 col-xs-6">
                                                  </td>  
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YMAX"  class="form-control col-md-6 col-xs-6">
                                                  </td> 
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YSTEP"  class="form-control col-md-6 col-xs-6">
                                                  </td>
                                                  <td>
                                                      <input type="text" ng-model="mSearch.PRODUCT_YSTEP"  class="form-control col-md-6 col-xs-6">
                                                  </td>
                                                  <td>
                                                      <span ng-click="showIQCMailAlertSearch()" class="btn btn-primary" style="color:white;"><i class="fa fa-line-chart"></i></span>
                                                  </td>
                                              </tr>
                                         </tbody>                                      
                                  </table>
                                                           
                           </div>                                                     
                               
                      </div>

               
                 </div>
                 

            </div>

            <div class="row graphAnalysis" style="display:none;"> 
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Legend</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Color</th>
                        <th >@Resources.Strings.AreaName  </th>
                        <th >@Resources.Strings.Sample  </th>
                        <th>@Resources.Strings.Item  </th>
                        <th >@Resources.Strings.Unit</th> 
                    </tr>           
                    </thead>
 
                    <tbody  >
                        <tr  > 
                            <td  >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #286090;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA1}}</td>   
                            <td >{{mSearch.SAMPLE_ID1 }}</td>                              
                            <td class="text-primary">{{mSearch.ITEM_ID1}}</td>
                            <td>{{mSearch.UNIT_NAME1}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #98c207;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA2}}</td>   
                            <td>{{mSearch.SAMPLE_ID2 }}</td>                                  
                            <td class="text-success">{{mSearch.ITEM_ID2}}</td>
                            <td>{{mSearch.UNIT_NAME2}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
            </div>

            <div class="row graphAnalysis" style="display:none;">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Analysis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Item</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th>@Resources.Strings.Average  </th>
                        <th >@Resources.Strings.SD</th>
                        <th >@Resources.Strings.ControlValue</th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  > 
                            <td class="text-primary">{{listTrendSummary.ItemsName}}</td>   
                            <td>{{listTrendSummary.MinValue}} ( {{listTrendSummary.UnitName}} )</td>                                               
                            <td>{{listTrendSummary.MaxValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.AvgValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.SDValue}}</td> 
                            <td>{{control1.SpecView}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">{{listTrendSummary2.ItemsName}}</td>   
                            <td>{{listTrendSummary2.MinValue}} ( {{listTrendSummary2.UnitName}} )</td>                                               
                            <td>{{listTrendSummary2.MaxValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.AvgValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.SDValue}}</td> 
                            <td>{{control2.SpecView}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
                

             <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.EditYAxis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.TrendData</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th> @Resources.Strings.StepSize  </th> 
                        <th></th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  >  
                            <td class="text-primary">@Resources.Strings.TrandDataData1</td>   
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMin"  number-only-input /> </td>                                               
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.stepSize"  number-only-input /> </td>
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">@Resources.Strings.TrandDataData2</td>   
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMin"  number-only-input />  </td>                                               
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.stepSize"  number-only-input /> </td> 
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
              </div> 

            </div>


            
             <form id="TheForm" method="post" action="~/TrendData/TreandDataExcel" target="TheWindow"> 
                <input type="hidden" name="searchData"  id="searchData"   />
            </form>
            

      </div> 
</div>


<script type="text/javascript">



    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        $scope.tempTemplate1;
        $scope.tempTemplate2;
        $scope.listTemplate = getListTemplate();
        $scope.listCategory = getListCategory();
        $scope.listProduct = getListProduct();
        $scope.listWorkSheet;
        $scope.listItem;
        $scope.tempCategory;
        $scope.tempWorkSheet;

        $scope.mSearch = getSearchModel();

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        $scope.tempSampleId1;
        $scope.tempSampleId2;
        $scope.listSample1;
        $scope.listSample2;

        $scope.tempItemId1;
        $scope.tempItemId2;
        $scope.listItem1;
        $scope.listItem2;

        $scope.ticksOption1;
        $scope.ticksOption2;

        $scope.mSearch = getSearchModel();

        $scope.listTrendSummary;
        $scope.listTrendData;

        $scope.listTrendSummary2;
        $scope.listTrendData2;

        $scope.control1;
        $scope.control2;

        $scope.graph1;
        $scope.TemplateType = 1; //GAS

        $scope.DataList;
        $scope.History;

        $scope.showhistory = function () {$scope.History=1}

        $scope.PosibleList = [
                                {name:'Large shirts'},
                                {name:'Small shifts'},
                                {name:'Trends'},
                                {name:'Mixtures'},
                                {name:'Stratification'},
                                {name:'Over control'}
                              ];
        $scope.loaddata = function () {
         $scope.DataList = [
                                {Start_Point:'1',End_Point:'5',Reasons:'test1'},
                                {Start_Point:'7',End_Point:'10',Reasons:'test2'},
                                {Start_Point:'12',End_Point:'14',Reasons:'test3'}
                              ];
                              }
        $scope.loadSample2 = function () {
            var urlName = get_base_url("TrendData/GetSampleByTemplateId");

            var jsonData = {
                "TemplateId": $scope.tempTemplate2.TEMPLATE_NAME,
                "TemplateType": $scope.TemplateType
            };

            $scope.tempSampleId2 = {};
            $scope.tempItemId2 = {};
            $scope.listItem2 = {};
            $scope.tempSampleId2 = {};

            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listSample2 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.loadWorkSheet = function () {

            if ($scope.tempCategory.NAME == "Lab Gas") {
                $scope.listWorkSheet = [
                  { "ID": "Hg in Liq HC", "NAME": "Hg in Liq HC" }, 
                  { "ID": "Hg in Gas", "NAME": "Hg in Gas" }, 
                  { "ID": "Total Sulfur", "NAME": "Total Sulfur" },
                  { "ID": "H2S", "NAME": "H2S" }, 
                  { "ID": "COS", "NAME": "COS" },
                  { "ID": "RVP", "NAME": "RVP" }, 
                  { "ID": "VP", "NAME": "VP" },
                  { "ID": "Distillation", "NAME": "Distillation" }, 
                  { "ID": "SG 60/60F in Pentane", "NAME": "SG 60/60F in Pentane" },
                  { "ID": "SG 60/60F in LPG", "NAME": "SG 60/60F in LPG" }, 
                  { "ID": "Hg in Gas", "NAME": "Hg in Gas" },
                  { "ID": "CO2 ppm", "NAME": "CO2 ppm" }, { "ID": "Composition in Ethane", "NAME": "Composition in Ethane" },
                  { "ID": "Composition in LPG", "NAME": "Composition in LPG" }, 
                  { "ID": "Composition in Natural Gas", "NAME": "Composition in Natural Gas" },
                  { "ID": "Composition in Methane", "NAME": "Composition in Methane" },
                  { "ID": "Composition in Propane", "NAME": "Composition in Propane"}];
            } else {
                $scope.listWorkSheet = [
                  { "ID": "pH", "NAME": "pH" }, 
                  { "ID": "TDS", "NAME": "TDS" },
                  { "ID": "SS", "NAME": "SS" }, 
                  { "ID": "Temperator", "NAME": "Temperator" },
                  { "ID": "Mercury", "NAME": "Mercury" }, 
                  { "ID": "Zine", "NAME": "Zine"}];
            }
        }

        $scope.loadItem = function () {

            if ($scope.tempWorkSheet.NAME == "Total Sulfur") {
                $scope.listItem = [{ "ID": "Standard H2S 5 ppm", "NAME": "Standard H2S 5 ppm"}];
            } else {
                $scope.listItem = [];
            }
        }

        $scope.loadSample1 = function () {

            var urlName = get_base_url("TrendData/GetSampleByTemplateId");

            var jsonData = {
                "TemplateId": $scope.tempTemplate1.TEMPLATE_NAME,
                "TemplateType": $scope.TemplateType
            };

            $scope.tempSampleId1 = {};
            $scope.tempItemId1 = {};
            $scope.listItem1 = {};
            $scope.tempSampleId1 = {};

            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listSample1 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.loadItem2 = function () {

            var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
            var jsonData = {
                "TemplateId": $scope.tempTemplate2.TEMPLATE_NAME,
                "SampleName": $scope.tempSampleId2.SAMPLE_NAME,
                "TEMPLATE_TYPE": $scope.TemplateType
            };


            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listItem2 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.loadItem1 = function () {

            var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
            var jsonData = {
                "TemplateId": $scope.tempTemplate1.TEMPLATE_NAME,
                "SampleName": $scope.tempSampleId1.SAMPLE_NAME,
                "TEMPLATE_TYPE": $scope.TemplateType
            };


            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listItem1 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.setJsonMSearch = function () {
            var bValid = true;

            if (typeof $scope.tempTemplate1 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA1 = $scope.tempTemplate1.TEMPLATE_NAME;

            if (typeof $scope.tempSampleId1 !== "undefined")
                $scope.mSearch.SAMPLE_ID1 = $scope.tempSampleId1.SAMPLE_NAME;

            if (typeof $scope.tempItemId1 !== "undefined" && typeof $scope.tempItemId1.ITEM_NAME !== "undefined") {
                $scope.mSearch.ITEM_ID1 = $scope.tempItemId1.ITEM_NAME;
                $scope.mSearch.UNIT_ID1 = $scope.tempItemId1.UNIT_ID;
                $scope.mSearch.UNIT_NAME1 = $scope.tempItemId1.UNIT_NAME;
            } else {
                bValid = false;
            }


            if (typeof $scope.tempTemplate2 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA2 = $scope.tempTemplate2.TEMPLATE_NAME;

            if (typeof $scope.tempSampleId2 !== "undefined")
                $scope.mSearch.SAMPLE_ID2 = $scope.tempSampleId2.SAMPLE_NAME;

            if (typeof $scope.tempItemId2 !== "undefined") {
                $scope.mSearch.ITEM_ID2 = $scope.tempItemId2.ITEM_NAME;
                $scope.mSearch.UNIT_ID2 = $scope.tempItemId2.UNIT_ID;
                $scope.mSearch.UNIT_NAME2 = $scope.tempItemId1.UNIT_NAME;
            }


            if (typeof $scope.TempDateStart !== null) {
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            } else {
                bValid = false;
            }

            if (typeof $scope.TempDateEnd !== null) {
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            } else {
                bValid = false;
            }

            if ($scope.mSearch.START_DATE > $scope.mSearch.END_DATE) {
                bValid = false;
                Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
            }

            return bValid;
        }


        $scope.createGraphEx = function () {
            $scope.ticksOption1 = Fact.setTicksOption(1, $scope.ticksOption1);
            $scope.ticksOption2 = Fact.setTicksOption(2, $scope.ticksOption2);

            $scope.createGraph()
        }

        $scope.createGraph = function () {

            var labelDate = ['1-1-20','2-1-20','3-1-20','4-1-20','5-1-20','6-1-20','7-1-20','8-1-20','9-1-20','10-1-20','11-1-20','13-1-20','14-1-20','15-1-20','16-1-20','17-1-20','18-1-20','19-1-20','20-1-20','21-1-20','22-1-20','23-1-20','24-1-20','25-1-20','26-1-20','27-1-20','28-1-20','29-1-20','30-1-20','31-1-20','1-2-20','2-2-20','3-2-20','4-2-20','5-2-20','6-2-20','7-2-20','8-2-20','9-2-20','10-2-20','11-2-20','12-2-20','13-2-20','14-2-20','15-2-20','16-2-20','17-2-20','18-2-20','19-2-20','20-2-20','21-2-20','22-2-20','23-2-20','24-2-20','25-2-20','26-2-20','27-2-20','28-2-20','29-2-20','1-3-20','2-3-20','3-3-20','4-3-20','5-3-20','6-3-20','7-3-20','8-3-20','9-3-20','10-3-20','11-3-20','12-3-20','13-3-20','14-3-20','15-3-20','16-3-20','17-3-20','18-3-20','19-3-20','20-3-20','21-3-20','22-3-20','23-3-20','24-3-20','25-3-20','26-3-20','27-3-20','28-3-20','29-3-20','30-3-20','31-3-20','1-4-20','2-4-20','3-4-20','4-4-20','5-4-20','6-4-20','7-4-20','8-4-20','9-4-20','10-4-20','11-4-20','12-4-20','13-4-20','14-4-20','15-4-20','16-4-20','17-4-20','18-4-20','19-4-20','20-4-20','21-4-20','22-4-20','23-4-20','24-4-20','25-4-20','26-4-20','27-4-20','28-4-20','29-4-20','30-4-20','1-5-20','2-5-20','3-5-20','4-5-20','5-5-20','6-5-20','7-5-20','8-5-20','9-5-20','10-5-20','11-5-20','12-5-20','13-5-20','14-5-20','15-5-20','16-5-20','17-5-20','18-5-20','19-5-20','20-5-20','21-5-20','22-5-20','23-5-20','24-5-20','25-5-20','26-5-20','27-5-20','28-5-20','29-5-20','30-5-20','31-5-20','1-6-20','2-6-20','3-6-20','4-6-20','5-6-20','6-6-20','7-6-20','8-6-20','9-6-20','10-6-20','11-6-20','12-6-20','13-6-20','14-6-20','15-6-20','16-6-20','17-6-20','18-6-20','19-6-20','20-6-20','21-6-20','22-6-20','23-6-20','24-6-20','25-6-20','26-6-20','29-6-20','30-6-20','1-7-20','2-7-20','3-7-20','14-7-20','15-7-20','16-7-20','17-7-20'];
            var H2S = ['5.29','5.12','5.00','5.03','4.51','4.75','4.70','5.11','5.20','5.14','5.10','4.80','4.54','4.61','5.10','5.05','5.00','4.85','4.67','4.63','4.81','5.07','4.90','4.95','5.04','4.66','4.60','4.95','4.86','5.00','4.62','4.53','4.63','4.64','5.11','4.58','4.60','5.01','4.98','4.54','4.84','4.56','4.73','4.60','4.61','4.90','4.55','4.60','4.76','5.14','4.92','4.84','4.81','4.83','4.72','4.92','5.01','4.85','4.93','4.84','5.01','4.75','4.89','4.89','5.02','4.68','4.83','4.84','4.89','4.97','4.88','4.97','5.10','5.12','5.02','4.66','4.97','4.97','5.02','5.04','4.96','4.97','4.80','4.91','5.13','5.07','4.80','5.14','5.05','5.04','4.70','4.91','4.98','4.85','5.07','5.04','5.00','4.90','4.95','5.20','4.88','5.10','4.98','5.01','5.03','4.95','4.78','4.78','5.00','4.81','4.65','4.59','4.86','5.02','4.90','4.77','4.89','5.13','5.00','5.15','4.92','5.00','4.80','4.89','5.00','4.90','4.90','4.68','4.95','4.86','4.84','5.11','4.85','4.72','4.96','4.68','4.89','5.17','5.08','5.00','4.95','5.00','4.88','4.78','4.76','4.76','4.80','4.60','4.97','4.71','4.91','5.08','5.08','4.93','5.00','4.80','4.90','4.99','4.76','5.00','4.70','4.60','4.60','4.86','4.91','4.62','4.66','4.55','4.72','4.59','5.05','5.06','4.84','5.09','4.52','5.00','4.97','4.57','4.59','4.96','5.05','4.61','4.93','4.50','4.66','4.72'];
            var LowLimit = ['4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998','4.3998'];
            var LowWarning = ['4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627','4.5627'];
            var Average = ['4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886','4.8886'];
            var UpperLimit = ['5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145','5.2145'];
            var UpperWarning = ['5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775','5.3775'];
            var CheckBy = ['ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','ST','KP','KP'];
            var ApproveBy = ['WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK','WK'];

            try {
                
                  lineChartData = {
                                    labels: labelDate,
                                    datasets: [{
                                                label: "UCL",
                                                backgroundColor: window.chartColors.red,
                                                borderColor: window.chartColors.red,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: UpperLimit, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "Warning UL",
                                                backgroundColor: window.chartColors.yellow,
                                                borderColor: window.chartColors.yellow,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: UpperWarning, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "Average",
                                                backgroundColor: window.chartColors.purple,
                                                borderColor: window.chartColors.purple,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: Average, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            },{
                                                label: "Warning LL",
                                                backgroundColor: window.chartColors.yellow,
                                                borderColor: window.chartColors.yellow,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: LowWarning, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "LCL",
                                                backgroundColor: window.chartColors.red,
                                                borderColor: window.chartColors.red,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: LowLimit, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "H2S",
                                                backgroundColor: window.chartColors.blue,
                                                borderColor: window.chartColors.blue,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: H2S, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }]
                                        };
                  var yAxesData =    [{
                                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                            display: true,
                                            position: "left",
                                            id: "y-axis-1",
                                            scaleLabel: {
                                                display: true,
                                                labelString:  "Total Sulfur (ppm)",
                                            },  
                                        }];

                var graphConfig1 = {
                        type: 'line',
                        data:  lineChartData, 
                        options: {
                            tooltips: {
                                enabled: true,
                                mode: 'single',  
                                intersect : false,                              
                                callbacks: {
                                   /* label: function(tooltipItems, data) {  
                                   
                                       var multistringText = [data.datasets[0].label + ": " + tooltipItems.yLabel]; 
                                        try{
                                           multistringText.push(data.datasets[1].label + ": " +tooltipItems.index+1); 
                                        }catch(e){

                                        }
                                        return multistringText;

                                    }, */
                                    title: function(tooltipItem, data) {
                                         console.log(data , tooltipItem[0].index);
                                        try{ 
                                            var d = data.labels[tooltipItem[0].index]; 
                                             return getDateFormatShow(d); 
                                        }catch(e){
                                             console.log(e);
                                             return tooltipItem[0].xLabel;
                                        } 
                                    }
                                }
                            },
                            responsive: true,
                            title:{
                                display:true,
                                text: "IQC Total Sulfur"
                            }, 
                            hover: {
                                mode: 'single',
                                intersect: false
                            },
                            scales: {
                                xAxes: [{
//                                            type: "time",
//                                            time: {
//                                                    displayFormats: {
//                                                       'millisecond': 'SSS [ms]',
//                                                       'second':'h:mm:ss a',
//                                                       'minute': 'h:mm:ss a',
//                                                       'hour': 'D MMM YYYY  hA',// 'D MMM YYYY  hA',
//                                                       'day': 'D MMM YYYY',
//                                                       'week': 'D MMM YYYY',
//                                                       'month': 'D MMM YYYY',
//                                                       'quarter': 'D MMM YYYY',
//                                                       'year': 'D MMM YYYY', 
//                                                    },
//                                                    min : minDateTime , //dateTime[0],
//                                                    max : maxDateTime //dateTime[dateTime.length-1]
//                                                }, 
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Date'
                                            },
                                             ticks: {
                                                 beginAtZero: true,
                                                autoSkip: false,
                                                maxRotation: 75,
                                                minRotation: 75
                                            }
                                        }],
                                yAxes: yAxesData,  
                            },
                                legend: {
                                display: true,                                        
                                labels: {
                                    //fontColor: 'rgb(255, 99, 132)',
                                    usePointStyle: true,
                                    boxWidth: 10,
                                }, 
                            }
                        }
                    };
                     
                //graphConfig1 = Fact.setGraphConfig($scope.graph1, true, "canvas");

                $(".graphData").show();
                $(".searchData").show();
                //$(".graphAnalysis").show();

                if (typeof graphConfig1 === 'undefined') {
                    $(".graphData").hide();
                    $(".searchData").hide();
                    $(".graphAnalysis").hide();
                    Fact.showMessage("@Resources.Strings.NoDataFound"); return;
                } else {
                    var ctx = document.getElementById("canvas").getContext("2d");

                    if (typeof window.myLine1 !== "undefined") {
                        window.myLine1.destroy();
                    }
                    try {
                        window.myLine1 = new Chart(ctx, graphConfig1);
                        $scope.ticksOption1 = Fact.getTicksOption(1);
                        $scope.ticksOption2 = Fact.getTicksOption(0);
                    } catch (e) {
                        console.log(e);
                    }
                }
            } catch (e) {
                console.log(e);
            }

        }

        $scope.GetGraphData = function () {

            if (typeof window.myLine !== "undefined") {
                window.myLine.destroy();
            }
             $scope.createGraph();

//            var bValid = $scope.setJsonMSearch();
//            var urlName = get_base_url("TrendData/GetGraphData");
//            var jsonData = $scope.mSearch;



//            if (bValid == true) {
//                Fact.loadlistData(urlName, jsonData, function (response) {
//                    try {

//                        $scope.graph1 = response.data.message;
//                        $scope.listTrendData = response.data.message.listTrend1;
//                        $scope.listTrendSummary = response.data.message.listSummary1;

//                        $scope.listTrendData2 = response.data.message.listTrend2;
//                        $scope.listTrendSummary2 = response.data.message.listSummary2;

//                        $scope.control1 = response.data.message.control1;
//                        $scope.control2 = response.data.message.control2;

//                        Fact.resetTicksOption();
//                        $scope.createGraph(); // $scope.ticksOption1 = {}; $scope.ticksOption2 = {};   $scope.createGraph(); 
//                    } catch (e) {

//                    }
//                });
//            } else {
//                if ($scope.mSearch.START_DATE > $scope.mSearch.END_DATE) {
//                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
//                } else {
//                    Fact.showMessage("@Resources.Strings.PleaseInputData");
//                }
//            }
        }

        $scope.clearTrendData = function () {
            $scope.mSearch = getSearchModel();

            $scope.tempItemId1 = {};
            $scope.tempSampleId1 = {};
            $scope.tempTemplate1 = {};

            $scope.tempItemId2 = {};
            $scope.tempSampleId2 = {};
            $scope.tempTemplate2 = {};

            $scope.listSample1 = [];
            $scope.listSample2 = [];

            $scope.listItem1 = [];
            $scope.listItem2 = [];


            $(".graphData").hide();
            $(".searchData").hide();
            $(".graphAnalysis").hide();
        }

        $scope.downloadCSV = function () {


            var urlName = get_base_url("TrendData/TreandDataExcel");
            var jsonData = $scope.mSearch;
            var checkResult = $scope.setJsonMSearch();


            var startDate = "";
            var endDate = "";

            var dd = jsonData.START_DATE.getDate();
            var mm = jsonData.START_DATE.getMonth() + 1;
            var yy = jsonData.START_DATE.getFullYear();

            startDate = yy + "/" + mm + "/" + dd;

            dd = jsonData.END_DATE.getDate();
            mm = jsonData.END_DATE.getMonth() + 1;
            yy = jsonData.END_DATE.getFullYear();

            endDate = yy + "/" + mm + "/" + dd;

            if (true == checkResult) {

                var dataObjectString = JSON.stringify(jsonData);
                $("#searchData").val(JSON.stringify(jsonData));
                document.getElementById('TheForm').submit();

                //                urlName += "?TEMPLATE_TYPE=" + jsonData.TEMPLATE_TYPE;
                //                urlName += "&START_DATE=" + startDate;//  jsonData.START_DATE;
                //                urlName += "&END_DATE=" +   endDate;//jsonData.END_DATE;

                //                urlName += "&PLANT_ID1=" +  jsonData.PLANT_ID1;
                //                urlName += "&SAMPLE_ID1=" +  jsonData.SAMPLE_ID1;
                //                urlName += "&ITEM_ID1=" +   jsonData.ITEM_ID1;
                //                urlName += "&UNIT_ID1=" +  jsonData.UNIT_ID1;
                //                urlName += "&UNIT_NAME1=" +  jsonData.UNIT_NAME1;

                //                urlName += "&PLANT_ID2=" +  jsonData.PLANT_ID2;
                //                urlName += "&SAMPLE_ID2=" +  jsonData.SAMPLE_ID2;
                //                urlName += "&ITEM_ID2=" +   jsonData.ITEM_ID2;
                //                urlName += "&UNIT_ID2=" +  jsonData.UNIT_ID2;
                //                urlName += "&UNIT_NAME2=" +  jsonData.UNIT_NAME2;

                //                window.open(urlName, "@Resources.Strings.TrendData");

            }

        }

        $scope.showError = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#error_message').html(msg);
            $('#myErrorModal').modal('show');
        }

        $scope.showMessage = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#show_message').html(msg);
            $('#myMessageModal').modal('show');
        }

        $scope.downloadImage = function () {
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'Trend Gas.png');
            } else {
                var link = document.createElement('a');
                link.download = 'TrendGas.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }

        $scope.downloadImage2 = function () {
            var canvas = document.getElementById("canvas");
            var dataURL = canvas.toDataURL('image/png');

            // console.log(dataURL); return;

            var urlName = get_base_url("Files/DownloadImage");
            var jsonData = {
                imageData: dataURL,
                fname: "Trend Gas"
            };
            window.open(urlName + "?imageData=" + dataURL + "&fname=Trend");

        }



    }); 
 

    function getSearchModel(){
        var self = this;
        var lstData = "";
        return lstData; 
    } 
  
    function getListTemplate(){
        var self = this;
        var lstData =  [{"TEMPLATE_ID":"GSP1","TEMPLATE_NAME":"GSP1"},{"TEMPLATE_ID":"gsp1","TEMPLATE_NAME":"gsp1"},{"TEMPLATE_ID":"area name","TEMPLATE_NAME":"area name"}]; 
        return lstData; 
    }

    function getListCategory(){
        var self = this;
        var lstData =  [{"ID":"Lab Gas","NAME":"Lab Gas"},{"ID":"Lab Utility","NAME":"Lab Utility"}]; 
        return lstData; 
    }


    function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }


</script>