﻿@{
    var searchIQCMailAlert = ViewBag.searchIQCMailAlert as QMSSystem.Model.IQCMailAlertSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;


    var createQMS_MA_IQC_MAILALERT = ViewBag.createQMS_MA_IQC_MAILALERT as QMSSystem.Model.CreateQMS_MA_IQC_MAILALERT;
    var listIQCEmail = ViewBag.listIQCEmail as List<QMSSystem.Model.ViewQMS_MA_EMAIL>;
    var listIQCPossibleCause = ViewBag.listIQCPossibleCause as List<QMSSystem.Model.ViewQMS_MA_IQC_POSSICAUSE>;
    
    var createQMS_MA_EMAIL = ViewBag.createQMS_MA_EMAIL as QMSSystem.Model.CreateQMS_MA_EMAIL;
    
    
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class=""> 
           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.IQCMasterMailAlert</h3>
                     <div class="clearfix"></div> 
                </div>
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
           
         <div class="row" ng-show="showList">
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                     <div class="x_panel"> 
                          <div class="x_title">
                                <span ng-click="showIQCMailAlertSearch()" class="btn btn-primary" style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                <span class="btn btn-primary "  my-confirm-click="delIQCMailAlert()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                          </div>  
                          <div class="x_content  tblResult " style="display:none;" >
                               <div class="form-horizontal form-label-left" ng-show="showSearch"> 
                                 <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Email
                                       </label>
                                       <div class="col-md-6 col-sm-6 col-xs-24">
                                            <select
					                                ng-model="tempIQCEmailId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.NAME  for item in listIQCEmail" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                  </div>        
                                  <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.IQCMasterPossibleCause 
                                       </label>                                       
                                       <div class="col-md-6 col-sm-6 col-xs-24">
                                            <select
					                                ng-model="tempIQCPossibleCauseId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.POSSICAUSE_NAME  for item in listIQCPossibleCause" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>

                                  </div>                                                    
                                  <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                             <input type="text" ng-model="mSearch.ALERT_DESC"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                   </div>                                
                                   <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" class="btn btn-primary" ng-click="loadIQCMailAlert()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                            <button type="button" class="btn btn-primary" ng-click="clearIQCMailAlert()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                            <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                   <div class="ln_solid"></div>
                               </div>
                               <table class="table table-bordered" >
                                      <thead>                                            
                                             <tr>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">
                                                      <input type="checkbox" ng-model="AllIQCMailAlert" ng-change="SelectAllCheck()" >
                                                  </th>
                                                  <th class="sorting custom_textbox_100" ng-click="sort($event)" sort="NAME">Name</th>
                                                  <th class="sorting custom_textbox_100" ng-click="sort($event)" sort="EMAIL">Email</th>
                                                  <th class="sorting custom_textbox_200" ng-click="sort($event)" sort="POSSICAUSE_NAME">Possible Cause</th>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th> 
                                             </tr>
                                      </thead>
                                      <tbody>
                                              <tr ng-repeat="mIQCMailAlert in listIQCMailAlert" >
                                                  <td><input type="checkbox" ng-model="mIQCMailAlert.ITEM_SELECTED" /></td>
                                                  <td>{{mIQCMailAlert.NAME}}</td>
                                                  <td>{{mIQCMailAlert.EMAIL}}</td>
                                                  <td>{{mIQCMailAlert.POSSICAUSE_NAME}}</td>
                                                  <td><i class="fa fa-edit set-pointer"  ng-click="editData(mIQCMailAlert)"></i></td>
                                              </tr>
                                      </tbody>                                      
                              </table>
                          </div>
                          <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->
                     </div> 
                </div> 
         </div> 


         <div class="row" ng-show="showDevice"  >
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                          <div class="x_title">
                              <div class="row text_align_right" >
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <span class="btn btn-primary " ng-click="showDeviceData()" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                              </div>                              
                              <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 
                               <div  class="form-horizontal form-label-left" >
                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Email <span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6 col-xs-24">
                                            <select
					                                ng-model="CreatetempIQCEmailId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.NAME  for item in listIQCEmail" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                         </div>                                         
                                         <div class="col-md-1 col-sm-1 col-xs-12" style="text-align:left;"> 
                                              <span  ng-click="openEmailManagement()" ><i class="fa fa-plus"></i> </span>
                                         </div>
                                     
                                     </div> 
                                     
                                     <div class="form-group"> 
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.IQCMasterPossibleCause <span class="required">*</span></label>
                                          <div class="col-md-6 col-sm-6 col-xs-24">
                                               <select
					                                ng-model="CreatetempIQCPossibleCauseId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.POSSICAUSE_NAME  for item in listIQCPossibleCause" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                               </select> 
                                          </div>
                                     </div>
                                                                                                                                                                            
                                     <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea ng-model="createModel.ALERT_DESC" rows="3" class="form-control" maxlength="250" name="message" >
                                            </textarea>
                                        </div>
                                     </div>
                                </div>  

                                       
                          </div>

                             <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->

                     </div>
                </div>
         </div>       

        


        <!-- Email modal -->
        <div class="modal fade email-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                       <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Email Management</h4>
                       </div>
                       <div class="modal-body">
                            <div class="col-md-12">
                                 <span class="btn btn-primary" my-confirm-click="delEmailData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                 <br><br>
                                 <table class="table table-bordered"  >
                                        <thead style="width:100%;">
                                                <tr>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">
                                                        <input type="checkbox" ng-model="AllEmailSelected" ng-change="SelectAllEmailCheck()" >  
                                                    </th>
                                                    <th>Id</th>
                                                    <th>Name</th>
                                                    <th>Position</th>
                                                    <th>Email</th>
                                                    <th>@Resources.Strings.Tools</th>
                                                </tr>
                                        </thead>
                                        <tbody style="width:100%;">
                                                <tr ng-form="myQMS_MA_EMAIL" ng-show="ShowEmail">
                                                    <td></td>
                                                    <td>
                                                        <input type="text" name="QMS_MA_EMAIL_ID" ng-model="createQMS_MA_EMAIL.EMPLOYEE_ID" maxlength="20" class="form-control" required > 
                                                    </td>
                                                    <td>
                                                        <input type="text" name="QMS_MA_EMAIL_NAME" ng-model="createQMS_MA_EMAIL.NAME" maxlength="100" class="form-control" required > 
                                                    </td>
                                                    <td>
                                                        <input type="text" name="QMS_MA_EMAIL_POSITION" ng-model="createQMS_MA_EMAIL.POSITION" maxlength="20" class="form-control" required > 
                                                    </td>
                                                    <td>
                                                        <input type="text" name="QMS_MA_EMAIL_EMAIL" ng-model="createQMS_MA_EMAIL.EMAIL" maxlength="100" class="form-control" required > 
                                                    </td>
                                            
                                                    <td><span  ng-click="saveQMS_MA_EMAIL()"  ><i class="fa fa-save" title="@Resources.Strings.Save"></i></span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="mEmailData in listIQCEmail" ng-include="getEmailTemplate(mEmailData)"></tr>
                                        </tbody>
                                 </table>
                            </div>                     
                       </div>
                       <div class="modal-footer"> </div>  
                  </div>
             </div>
        </div>
        <!-- end Email modal -->


        <!-- Template Email -->
        <script type="text/ng-template" id="displayEmail">
                <td align="center"><input type="checkbox" ng-model="mEmailData.ITEM_SELECTED" /></td>
                <td>{{ mEmailData.EMPLOYEE_ID }}</td>
                <td>{{ mEmailData.NAME }}</td>
                <td>{{ mEmailData.POSITION }}</td>
                <td>{{ mEmailData.EMAIL }}</td>
                <td align="center">
                    <span ng-click="editEmail(mEmailData)" ><i   class="fa fa-edit set-pointer" title="@Resources.Strings.Edit"></i></span>
                </td>
        </script>
        <script type="text/ng-template" id="editEmail">
            <td align="center"><input type="checkbox" ng-model="mEmailData.ITEM_SELECTED" /></td>
            <td><input type="text" class="form-control" ng-model="mEmailData.EMPLOYEE_ID" /></td>
            <td><input type="text" class="form-control" ng-model="mEmailData.NAME" /></td>
            <td><input type="text" class="form-control" ng-model="mEmailData.POSITION" /></td>
            <td><input type="text" class="form-control" ng-model="mEmailData.EMAIL" /></td>

            <td align="center">
                <span  ng-click="saveEditQMS_MA_EMAIL(mEmailData)" ><i class="fa fa-save set-pointer" title="@Resources.Strings.Save"></i></span>
                <span  ng-click="resetEmail()" ><i class="fa fa-undo set-pointer" title="@Resources.Strings.Cancel"></i></span>
            </td>
        </script>
        <!-- Template Email -->

</div>


<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
//        $scope.tempFormulaId;
        $scope.tempIQCEmailId;
        $scope.tempIQCPossibleCauseId;
        $scope.CreatetempIQCEmailId;
        $scope.CreatetempIQCPossibleCauseId; 
        $scope.listIQCEmail = getListIQCEmail();
        $scope.listIQCPossibleCause = getListIQCPossibleCause();
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();
        

        console.log(" listIQCPossibleCause ",$scope.listIQCPossibleCause);


        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('ID');
        $scope.SortOrder = Fact.setSortOrder('asc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listIQCMailAlert; // listdata
        $scope.AllIQCMailAlert; //checkbox
        $scope.listIQCEmail; // listdata
        $scope.AllIQCEmail; 


        //$scope.listEmail;
        $scope.AllEmailSelected = false;
        $scope.ShowEmail = true;
        $scope.listEmailSelect = {};
        $scope.tempEmailId;

        $scope.createQMS_MA_EMAIL = getCreateQMS_MA_EMAIL();
        $scope.SelectAllEmailCheck = function () { Fact.SelectAllCheck($scope.listIQCEmail, $scope.AllEmailSelected) }

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
       

        $scope.showSearch = false;
        $scope.showEmail = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;


        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listIQCMailAlert, $scope.AllIQCMailAlert) }
        $scope.SelectAllCheckEmail = function () { Fact.SelectAllCheckEmail($scope.listIQCEmail, $scope.AllIQCEmail) }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadIQCMailAlert();
        }


        $scope.clearIQCMailAlert = function() {          
               $scope.mSearch = getSearchModel(); 
               $scope.tempIQCEmailId = {};
               $scope.tempIQCPossibleCauseId = {};
               $scope.mSearch.EMAIL_ID = null;
               $scope.mSearch.POSSICAUSE_ID = null;
               $scope.mSearch.ALERT_DESC = null;
               $scope.loadIQCMailAlert();
        } 

        $scope.clearEmailData = function() {  
               $scope.createEmailModel = {}
               $scope.createEmailModel.EMPLOYEE_ID = null
               $scope.createEmailModel.NAME = null
               $scope.createEmailModel.POSITION = null
               $scope.createEmailModel.EMAIL = null
               
        } 

        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
        
        $scope.showAddEmail = function(){  $scope.showEmail = true; }
        $scope.closeAddEmail = function() { $scope.showEmail = false; }

        $scope.showIQCMailAlertSearch = function(){  $scope.showSearch = true; /*$("#searchIQCMailAlert").modal('show');*/}
        $scope.closeIQCMailAlertSearch = function() { $scope.showSearch = false; }
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.getIQCMailAlertSearch = function()
        {
           // $("#searchIQCMailAlert").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadIQCMailAlert();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadIQCMailAlert(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadIQCMailAlert(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadIQCMailAlert(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadIQCMailAlert(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadIQCMailAlert(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadIQCMailAlert(); }

        $scope.loadIQCMailAlert = function () { 
            
            if(typeof $scope.tempIQCEmailId !== "undefined")
                $scope.mSearch.EMAIL_ID = $scope.tempIQCEmailId.ID;
            if(typeof $scope.tempIQCPossibleCauseId !== "undefined")
                $scope.mSearch.POSSICAUSE_ID = $scope.tempIQCPossibleCauseId.ID;
           
            console.log("mSearch",$scope.mSearch);             
                          
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listIQCMailAlert = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
     
        $scope.delIQCMailAlert = function(){
            Fact.deleteMultiData($scope.listIQCMailAlert, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadIQCMailAlert(); });
        }

 
        $scope.createModel = getCreateModel();

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;


     
        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchIQCMailAlert").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.saveQMS_MA_EMAIL = function () { 
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_EMAIL");
            var jsonData = $scope.createQMS_MA_EMAIL;            
            if($scope.myQMS_MA_EMAIL.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.createQMS_MA_EMAIL = getCreateQMS_MA_EMAIL(); $scope.loadActiveEmail();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveEditQMS_MA_EMAIL = function (jsonData) { 
            
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_EMAIL");
            Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.ShowEmail = true; $scope.createQMS_MA_EMAIL = getCreateQMS_MA_EMAIL(); $scope.loadActiveEmail();  });
        }
         
        $scope.loadActiveEmail = function(){ $scope.resetEmail(); Fact.loadAllEmail(function (response){  $scope.listIQCEmail = response.data.message;  });  }
        $scope.loadActiveEmailCallBack = function(callback){ $scope.resetEmail(); Fact.loadAllEmail(function (response){  $scope.listIQCEmail = response.data.message; callback(response); });  }
         
        $scope.delEmailData = function(){
            var urlName = get_base_url("InternalQualityControl/DeleteQMS_MA_EMAIL");
            Fact.deleteMultiDataEx(urlName, $scope.listIQCEmail, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveEmail(); });
        }

        $scope.getEmailTemplate = function (mEmailData) { 
            if (mEmailData.ID === $scope.listEmailSelect.ID) return 'editEmail';
                 else return 'displayEmail';
        };

        $scope.editEmail = function (mEmailData) {
            $scope.ShowEmail = false;
            $scope.listEmailSelect = angular.copy(mEmailData);
        };

        $scope.resetEmail = function () {
            $scope.ShowEmail = true;
            $scope.createQMS_MA_EMAIL = getCreateQMS_MA_EMAIL();

            if(null != $scope.listIQCEmail){
                $scope.listIQCEmail.forEach(function(entry) { 
		    	    if($scope.listEmailSelect.ID == entry.ID){ 
		    		    entry.NAME = $scope.listEmailSelect.NAME;
		    	    } 
			    });
            }


            $scope.listEmailSelect = {};
        };

        $scope.openEmailManagement = function () { 
            $scope.resetEmail(); 
            $(".email-modal-lg").modal('show').on('shown.bs.modal', function (e) {
                 $scope.ShowEmail = true;
                 $scope.resetEmail();
            });
       };



        $scope.initialData = function(){
            
            $scope.CreatetempIQCEmailId = {};
            $scope.CreatetempIQCPossibleCauseId = {};
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false; $scope.showEmail = false;

            console.log("initial", $scope.createModel );

            $scope.listIQCEmail.forEach(function(entry) {
		    	if($scope.createModel.EMAIL_ID  == entry.ID){  
		    		$scope.CreatetempIQCEmailId =  entry; 
		    		return false;
		    	}
			}); 

            $scope.listIQCPossibleCause.forEach(function(entry) {
		    	if($scope.createModel.POSSICAUSE_ID  == entry.ID){  
		    		$scope.CreatetempIQCPossibleCauseId =  entry; 
		    		return false;
		    	}
			}); 

            if($scope.createModel.ID > 0 ){

                var urlName = get_base_url("InternalQualityControl/GetCreateQMS_MA_IQC_MAILALERTById");     
                var jsonData = {
	                    "id":  $scope.createModel.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                        $scope.createModel = response.data.message; 
                        
                }); 
            }
        }




        $scope.saveData = function () {   
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_MAILALERT");            
            var valid = true;
            
            if( typeof $scope.CreatetempIQCEmailId !== "undefined"  && typeof $scope.CreatetempIQCEmailId.ID !== "undefined" ){
                $scope.createModel.EMAIL_ID = $scope.CreatetempIQCEmailId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.CreatetempIQCPossibleCauseId !== "undefined"  && typeof $scope.CreatetempIQCPossibleCauseId.ID !== "undefined" ){
                $scope.createModel.POSSICAUSE_ID = $scope.CreatetempIQCPossibleCauseId.ID; 
            }else{
                valid = false;
            }

            if( $scope.createModel.EMAIL_ID == null 
                || $scope.createModel.EMAIL_ID == ""
                || $scope.createModel.EMAIL_ID  == "undefined"
                || $scope.createModel.POSSICAUSE_ID == null 
                || $scope.createModel.POSSICAUSE_ID == ""
                || $scope.createModel.POSSICAUSE_ID  == "undefined"                
                ){ 
                          valid = false;   
            } 
        

            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     
                    if(response.data.result == 1){
                        $scope.loadIQCMailAlert();
                        $scope.showDeviceData();
                    }else{ 
                         Fact.showMessage(response.data.message);
                    }
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       }         
        
        $scope.saveEmailData = function () {   
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_ADDEMAIL");            
            var valid = true;
            $scope.createEmailModel.GROUP_TYPE = 1;
            $scope.createEmailModel.UNIT_NAME = "IQC";
            $scope.createEmailModel.DEPARTMENT = "IQC";

            if( $scope.createEmailModel.EMPLOYEE_ID == null 
                || $scope.createEmailModel.EMPLOYEE_ID == ""
                || $scope.createEmailModel.EMPLOYEE_ID  == "undefined"
                || $scope.createEmailModel.NAME == null 
                || $scope.createEmailModel.NAME == ""
                || $scope.createEmailModel.NAME  == "undefined"    
                || $scope.createEmailModel.POSITION == null 
                || $scope.createEmailModel.POSITION == ""
                || $scope.createEmailModel.POSITION  == "undefined" 
                || $scope.createEmailModel.EMAIL == null 
                || $scope.createEmailModel.EMAIL == ""
                || $scope.createEmailModel.EMAIL  == "undefined"             
                ){ 
                          valid = false;   
            } 
            
        
            console.log("$scope.createEmailModel", $scope.createEmailModel );

            if(true == valid){ 
                var jsonData = $scope.createEmailModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     
                    if(response.data.result == 1){
                        //$scope.loadIQCMailAlert();
                        $scope.clearEmailData();
                        $scope.loadIQCEmail();
                        //$scope.showDeviceData();
                    }else{ 
                         Fact.showMessage(response.data.message);
                    }
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       }   
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("InternalQualityControl/GetQMS_MA_IQC_MAILALERTBySearch"));
            Fact.setDelelteUrl(get_base_url("InternalQualityControl/DeleteQMS_MA_IQC_MAILALERT"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadIQCMailAlert();
        }

        $scope.init();

    });

        
                 
        
  
        
    
    function getListIQCEmail(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listIQCEmail)); 
        return lstData; 
    }

    function getListIQCPossibleCause(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listIQCPossibleCause)); 
        return lstData; 
    }
    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchIQCMailAlert)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }
        

     function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_IQC_MAILALERT)); 
        return lstData; 
    }

    function getCreateQMS_MA_EMAIL(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_EMAIL));
        return lstData; 
    }
     
</script>