﻿@using QMSSystem.Model;
@using QMSsystem.Models.Privilege;
@{
    var D_OffControl = "offcontrol_button_disable";
    var D_OffSpec = "offcontrol_button_disable";
    var D_TrendHighlight = "offcontrol_button_disable";
    var D_TrendGAS = "offcontrol_button_disable";
    var D_TrendUtility = "offcontrol_button_disable";
    var D_TrendProduct = "offcontrol_button_disable";
    var D_TrendEmission = "offcontrol_button_disable";
    var D_WasteWater = "offcontrol_button_disable";
    var D_TrendWasteWater = "offcontrol_button_disable";
    var D_TrenddObservePonds = "offcontrol_button_disable";
    var D_TrenddOilyWaters = "offcontrol_button_disable";
    var D_Other = "offcontrol_button_disable";
    var D_TrendHotOilFlashPoint = "offcontrol_button_disable";
    var D_TrendTwoHundredThousandPond = "offcontrol_button_disable";
    var D_TrendHgInPLMonthly = "offcontrol_button_disable";
    var D_TrendHgStab = "offcontrol_button_disable";
    var D_TrendSulfurInGasMonthly = "offcontrol_button_disable";
    var D_TrendAcidOffGas = "offcontrol_button_disable";

    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_OffControl, DataAccessEnum.Authen))
    {
        D_OffControl = "offcontrol_button";
    }

    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_OffSpec, DataAccessEnum.Authen))
    {
        D_OffSpec = "offcontrol_button";
    }

    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHighlight, DataAccessEnum.Authen))
    {
        D_TrendHighlight = "offcontrol_button";
    }

    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendGAS, DataAccessEnum.Authen))
    {
        D_TrendGAS = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendUtility, DataAccessEnum.Authen))
    {
        D_TrendUtility = "offcontrol_button";
    }

    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendProduct, DataAccessEnum.Authen))
    {
        D_TrendProduct = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendEmission, DataAccessEnum.Authen))
    {
        D_TrendEmission = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendWasteWater, DataAccessEnum.Authen)
    || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddObservePonds, DataAccessEnum.Authen)
    || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddOilyWaters, DataAccessEnum.Authen))
    {
        D_WasteWater = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendWasteWater, DataAccessEnum.Authen))
    {
        D_TrendWasteWater = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddObservePonds, DataAccessEnum.Authen))
    {
        D_TrenddObservePonds = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddOilyWaters, DataAccessEnum.Authen))
    {
        D_TrenddOilyWaters = "offcontrol_button";
    }

    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHotOilFlashPoint, DataAccessEnum.Authen)
        || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendTwoHundredThousandPond, DataAccessEnum.Authen)
        || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgInPLMonthly, DataAccessEnum.Authen)
        || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgStab, DataAccessEnum.Authen)
        || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendSulfurInGasMonthly, DataAccessEnum.Authen)
        || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendAcidOffGas, DataAccessEnum.Authen))
    {
        D_Other = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHotOilFlashPoint, DataAccessEnum.Authen))
    {
        D_TrendHotOilFlashPoint = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendTwoHundredThousandPond, DataAccessEnum.Authen))
    {
        D_TrendTwoHundredThousandPond = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgInPLMonthly, DataAccessEnum.Authen))
    {
        D_TrendHgInPLMonthly = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgStab, DataAccessEnum.Authen))
    {
        D_TrendHgStab = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendSulfurInGasMonthly, DataAccessEnum.Authen))
    {
        D_TrendSulfurInGasMonthly = "offcontrol_button";
    }
    if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendAcidOffGas, DataAccessEnum.Authen))
    {
        D_TrendAcidOffGas = "offcontrol_button";
    }

}


<div ng-app="myApp" ng-controller="myCtrl">
    <div class="">
        <div class="row top_tiles ">
            <marquee><h3>@Resources.Strings.Marquee</h3></marquee>
        </div>

        @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendLabControlChart, DataAccessEnum.Authen))
        {
            <div ng-show="D_WasteWater!=true && D_Other!=true">
                <h4><i class="fa fa-bar-chart underline_green"></i> @Resources.Strings.OffControlAndSpec</h4>
                <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
                <div class="row top_tiles">
                    <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/OffControl/DashboardControl">

                            <div class="tile-stats @D_OffControl">
                                <div class="count">
                                    <div class="col-md-5" style="text-align:center;">
                                        <img src="~/Content/images/qms/bar_chart.png" alt="@Resources.Strings.OffControlReport" width="64px" height="64px" />
                                    </div>
                                    <div class="col-md-7 button_label">
                                        @Resources.Strings.OffControlReport
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a href="~/OffSpec/DashboardSpec">
                            <div class="tile-stats @D_OffSpec ">
                                <div class="count">
                                    <div class="col-md-5" style="text-align:center;">
                                        <img src="~/Content/images/qms/bar-chart2.png" alt="@Resources.Strings.OffSpecReport" width="64px" height="64px" />
                                    </div>
                                    <div class="col-md-7 button_label">
                                        @Resources.Strings.OffSpecReport
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        }

        <h4><i class="fa fa-line-chart underline_green"></i>@Resources.Strings.TrendData</h4>
        <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
        <br>
        <div ng-show="D_WasteWater!=true && D_Other!=true">
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendHighlight">
                        <div class="tile-stats @D_TrendHighlight trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TrendDataHighlight" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.TrendDataHighlight
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendGas">
                        <div class="tile-stats @D_TrendGAS trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TrendDataCOA" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.TrendGAS
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendUtility">
                        <div class="tile-stats @D_TrendUtility trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TrendDataUtility" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.TrendDataUtility
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendProduct">
                        <div class="tile-stats @D_TrendProduct trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TrendDataProduct" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.TrendDataProduct
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendEmission">
                        <div class="tile-stats @D_TrendEmission trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TrendEmission" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.TrendEmission
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-click="showTrendWasteWater()">
                    <div class="tile-stats @D_WasteWater trend_button">
                        <div class="count">
                            <div class="col-md-5" style="text-align:center;">
                                <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TrendWasteWater" width="64px" height="64px" />
                            </div>
                            <div class="col-md-7 button_label">
                                @Resources.Strings.TrendWasteWater
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-click="showTrendOther()">
                    <div class="tile-stats @D_Other trend_button">
                        <div class="count">
                            <div class="col-md-5" style="text-align:center;">
                                <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TrendOther" width="64px" height="64px" />
                            </div>
                            <div class="col-md-7 button_label">
                                @Resources.Strings.TrendOther
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="D_WasteWater==true">
            <div class="row top_tiles" style="text-align: right; ">
                <span class="btn btn-primary" ng-click="Back()"><i class="fa fa-arrow-left"></i> @Resources.Strings.Back</span>
            </div><br>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendWasteWater">
                        <div class="tile-stats @D_TrendWasteWater trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.WatseWaters" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.WatseWaters
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendObservePonds">
                        <div class="tile-stats @D_TrenddObservePonds trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.ObservePonds" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.ObservePonds
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendOilyWaters">
                        <div class="tile-stats @D_TrenddOilyWaters trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.OilyWaters" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.OilyWaters
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div ng-show="D_Other==true">
            <div class="row top_tiles" style="text-align: right; ">
                <span class="btn btn-primary" ng-click="Back()"><i class="fa fa-arrow-left"></i> @Resources.Strings.Back</span>
            </div><br>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendHotOilFlashPoint">
                        <div class="tile-stats @D_TrendHotOilFlashPoint trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.HotOil" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.HotOil
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendTwoHundredThousandPond">
                        <div class="tile-stats @D_TrendTwoHundredThousandPond trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.TwoHundredThousandPond" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.TwoHundredThousandPond
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendHgInPLMonthly">
                        <div class="tile-stats @D_TrendHgInPLMonthly trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.HgInOutMRU" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.HgInOutMRU
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendHgStab">
                        <div class="tile-stats @D_TrendHgStab trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.Hg" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.Hg & RVP Stab
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row top_tiles">
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendSulfurInGasMonthly">
                        <div class="tile-stats @D_TrendSulfurInGasMonthly trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.SulfurInGas" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.SulfurInGas
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
                <div class="animated flipInY col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <a href="~/TrendData/TrendAcidOffGas">
                        <div class="tile-stats @D_TrendAcidOffGas trend_button">
                            <div class="count">
                                <div class="col-md-5" style="text-align:center;">
                                    <img src="~/Content/images/qms/line_chart_icon.png" alt="@Resources.Strings.Acidoffgas" width="64px" height="64px" />
                                </div>
                                <div class="col-md-7 button_label">
                                    @Resources.Strings.Acidoffgas
                                </div>
                            </div>
                            <br>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="containerLogoImage" style="height:300px;"></div>
</div>
<script type="text/javascript">
    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {
        $scope.D_WasteWater = false;
        $scope.D_Other = false;
        $scope.showTrendWasteWater = function () {
            $scope.D_WasteWater = true;
            $scope.D_Other = false;
        }
        $scope.showTrendOther = function () {
            $scope.D_WasteWater = false;
            $scope.D_Other = true;
        }
        $scope.Back = function () {
            $scope.D_WasteWater = false;
            $scope.D_Other = false;
        }
    })
</script>