﻿@{
    
    var searchOffSpec = ViewBag.searchOffControl as QMSSystem.Model.ReportOffControlSearchModel;
    var searchOffSpecDetail = ViewBag.searchOffControlDetail as QMSSystem.Model.ReportOffControlDetailSearchModel;
    var searchOffSpecAttach = ViewBag.searchOffControlAttach as QMSSystem.Model.ReportOffControlAttachSearchModel;
    var searchOffSpecGraph = ViewBag.searchOffControlGraph as QMSSystem.Model.ReportOffControlGraphSearchModel;
    var searchOffSpecSummary = ViewBag.searchOffControlSummary as QMSSystem.Model.ReportOffControlSummarySearchModel;

    var listOffSpec = ViewBag.listOffSpec as List<QMSSystem.Model.ViewQMS_RP_OFF_CONTROL>;
    
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
       
}
<div id="myControl" ng-app="myApp" ng-controller="myCtrl">
    @* <div class="">*@
    
  
     <div class="modal fade bs-off-control-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content" > 
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                         </button>
                         <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ModalDashboardTitle</h4>
                    </div>
                    <div class="modal-body"> 
                         <div class="form-horizontal form-label-left" >
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.ModalDashboardLabel 
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                            ng-model="tempSearchOffSpec"
					                            chosen="{inherit_select_classes: true}" 
					                            ng-options="item.NAME  for item in listOffSpec"
                                                class="chosen_required">
					                            <option value=""></option>
				                        </select> 
                                   </div>                                   
                              </div>                                                                                                                         
                         </div> 
                    </div> 
                    <div class="modal-footer"> 
                        <button type="button" ng-click="RunData()" class="btn btn-primary" id="runData" data-dismiss="modal"><i class="fa fa-play"></i> @Resources.Strings.ButtonRun</button>
                    </div>

               </div>
          </div>
     </div> 

     <div class="col-md-12 col-sm-12 col-xs-12 viewMasterData" id="viewMaster" style="display:none">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.OffSpecReport </h3>
                    <div class="clearfix"></div> 
               </div>
               <div class="title_right" style="text-align:right;"> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-off-control-modal-lg"><i class="fa fa-search"></i> @Resources.Strings.ButtonSearchOffSpecReport</button>
                    <div class="clearfix"></div>
               </div>
               <div class="title_left">
                    <h3>รายงาน Off Control ประจำเดือน {{ OffSpecNAME }}</h3>
                    <div class="clearfix"></div> 
               </div>
          </div>

          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
          
  
                                                                                                                            
                                             
               <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="x_panel">                         
                              <div class="x_content fixReport">
                                   <div class="x_title"> 
                                        <h2>@Resources.Strings.ProductOffSpec</h2>  
                                        <ul class="nav navbar-right panel_toolbox">                                            
                                            <li class="viewDetail" ><i class="fa fa-th-list"></i>@Resources.Strings.ClickViewDetail / </li>
                                            <li ng-click="downloadExcel()">  <i class="fa fa-download" ></i>  @Resources.Strings.ClickToDownload </li>
                                        </ul>
                                        <div class="clearfix"></div>
                                   </div> 
                               
                                   <table class="table table-bordered tbl_overflow"  >                                                         
                                          <tbody>
                                                   <tr ng-repeat="mOffSpecSummary_T0 in listOffSpecSummary_T0"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T0" ng-show="ShowOffSpecSummary_T0">
                                                       <td ng-repeat="dataValue_T0 in mOffSpecSummary_T0" ng-class="setClass(dataValue_T0)"  >
                                                           <div ng-if=" dataValue_T0.ITEM_TYPE !== 1 && dataValue_T0.ITEM_TYPE !== 2 " >
                                                                <input type="text" class="form-control"  ng-model="dataValue_T0.SHOW_OUTPUT" number-only-input style="font-size: 12px; text-align:right" ng-readonly="true" aria-label="Readonly field">
                                                           </div>
                                                           <div ng-if=" dataValue_T0.ITEM_TYPE === 1 || dataValue_T0.ITEM_TYPE === 2 "  style="font-size: 12px;">  
                                                               {{ dataValue_T0.SHOW_OUTPUT }}  
                                                          </div>                                                                                                                                           
                                                      </td>
                                                 </tr>
                                          </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>        

               <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="x_panel">                         
                              <div class="x_content fixReport">
                                   <div class="x_title"> 
                                        <h2>@Resources.Strings.TotalProductions</h2>                                          
                                        <div class="clearfix"></div>
                                   </div>   
                                   <table class="table table-bordered tbl_overflow"  >                                                         
                                          <tbody>
                                                   <tr ng-repeat="mOffSpecSummary_T1 in listOffSpecSummary_T1"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T1" ng-show="ShowOffSpecSummary_T1">
                                                       <td ng-repeat="dataValue_T1 in mOffSpecSummary_T1" ng-class="setClass(dataValue_T1)"  >
                                                           <div ng-if=" dataValue_T1.ITEM_TYPE !== 1 && dataValue_T1.ITEM_TYPE !== 2 " >
                                                                <input type="text" class="form-control"  ng-model="dataValue_T1.SHOW_OUTPUT" number-only-input style="font-size: 12px; text-align:right" ng-readonly="true" aria-label="Readonly field">
                                                           </div>
                                                           <div ng-if=" dataValue_T1.ITEM_TYPE === 1 || dataValue_T1.ITEM_TYPE === 2 "  style="font-size: 12px;">  
                                                               {{ dataValue_T1.SHOW_OUTPUT }}  
                                                          </div>                                                                                                                                           
                                                      </td>
                                                 </tr>
                                          </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>        
                   
               <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="x_panel">                         
                              <div class="x_content fixReport">
                                   <div class="x_title"> 
                                        <h2>@Resources.Strings.PercentProductOffSpec</h2>                                         
                                        <div class="clearfix"></div>
                                   </div>    
                                                              
                                   <table class="table table-bordered tbl_overflow"  >                                                         
                                          <tbody>
                                                   <tr ng-repeat="mOffSpecSummary_T2 in listOffSpecSummary_T2"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T2" ng-show="ShowOffSpecSummary_T2">
                                                       <td ng-repeat="dataValue_T2 in mOffSpecSummary_T2" ng-class="setClass(dataValue_T2)"  >
                                                           <div ng-if=" dataValue_T2.ITEM_TYPE !== 1 && dataValue_T2.ITEM_TYPE !== 2 " >
                                                                <input type="text" class="form-control"  ng-model="dataValue_T2.SHOW_OUTPUT" number-only-input style="font-size: 12px; text-align:right" ng-readonly="true" aria-label="Readonly field">
                                                           </div>
                                                           <div ng-if=" dataValue_T2.ITEM_TYPE === 1 || dataValue_T2.ITEM_TYPE === 2 "  style="font-size: 12px;">  
                                                               {{ dataValue_T2.SHOW_OUTPUT }}  
                                                          </div>                                                                                                                                           
                                                      </td>
                                                 </tr>
                                          </tbody>
                                   </table>
                             </div>
                         </div>
                    </div>
               </div>        

     </div>   
     @Html.Partial("ViewDetail")  
     <div class="sepdata viewMasterData "> 
          <div class=" row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                              <div class="row"  style="text-align:right;">
                                   <span class="btn btn-primary" ng-click="downloadImage()"><i class="fa fa-bar-chart"></i>@Resources.Strings.GraphExport</span>
                                   <span class="btn btn-primary" ng-click="downloadCSV()"><i class="fa fa-file-excel-o"></i> @Resources.Strings.ExcelExport</span>
                              </div>
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content ">
                              <div id="container" style="width: 100%;">
                                   <canvas id="canvas"></canvas>
                              </div>
                         </div>
                    </div>
               </div>  
          </div>
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                                 <h2>{{OffSpecNAME}}</h2>
                                 <div class="clearfix"></div>
                         </div> 
                         <div class="x_content fixReport">
                               <p style="white-space: pre-line;"> 
                                  {{ OffSpecDESC }}                                 
                               </p>
                               <br>
                                     <!--<span class="btn btn-primary">บันทึกข้อความ</span>-->
                         </div>
                    </div>
               </div>       
          </div>
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                              @Resources.Strings.AttachDocumentList
                              <div class="clearfix"></div>
                         </div> 
                         <div class="x_content " > 
                              <div class="row">  
                                   <table class="table">                                        
                                          <tbody>
                                                 <tr  ng-repeat="mOffControlAttachData in listOffControlAttach">                                                                                                                 
                                                      
                                                      <td>
                                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                                                <a href="#">
                                                                <span ng-click="" ><i class="fa fa-download set-pointer" title="@Resources.Strings.Edit"></i></span>                                                               
                                                                </a>
                                                          </div>
                                                          <div class="col-md-4 col-sm-4 col-xs-12"> 
                                                               {{ mOffControlAttachData.NAME }}  
                                                          </div>                                                          
                                                      </td>
                                                      
                                                 </tr>
                                          </tbody>                                                                                          
                                   </table>
                              </div> 
                         </div>
                    </div>
               </div>
          </div> 
     </div> 
</div>

<script type="text/javascript">

  $(document).ready(function () {
        window.chartColors = {
	        red: 'rgb(255, 99, 132)',
	        orange: 'rgb(255, 159, 64)',
	        yellow: 'rgb(255, 205, 86)',
	         green: 'rgb(110, 175, 10)', // green: 'rgb(75, 192, 192)',
	        blue: 'rgb(54, 162, 235)',
	        purple: 'rgb(153, 102, 255)',
	        grey: 'rgb(231,233,237)'
        }; 
  });

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
       
        
        $scope.searchOffSpecModel = getOffSpecSearchModel();
        $scope.searchOffSpecDetailModel = getOffSpecDetailSearchModel();
        $scope.searchOffSpecAttachModel = getOffSpecAttachSearchModel();
        $scope.searchOffSpecGraphModel = getOffSpecGraphSearchModel();
        $scope.searchOffSpecSummary = getOffSpecSummarySearchModel();


        $scope.ShowOffSpecSummary_T0 = true;
        $scope.listOffSpecSummary_T0;


        $scope.ShowOffSpecSummary_T1 = true;
        $scope.listOffSpecSummary_T1;


        $scope.ShowOffSpecSummary_T2 = true;
        $scope.listOffSpecSummary_T2;

        $scope.listOffSpec;
        $scope.listOffSpecDesc;
        $scope.listOffSpecDetail;


        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;

        $scope.tempSearchOffSpec;
        $scope.listOffSpec = getListOffSpec();

        $scope.listOffSpecAttach;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadOffSpecDetail(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadOffSpecDetail(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadOffSpecDetail(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadOffSpecDetail(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadOffSpecDetail(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadOffSpecDetail(); }

        $scope.setClass = function(data){
            var type = data.ITEM_TYPE;
            var rank = data.SHOW_RANK;
            var showData = false;//data.SHOW_ON_TREND_FLAG;
            if(data.VALUE != null && data.VALUE > 0){
                showData = true;
            }


            if(type == 1 || type == 2){ // header column and row 
                  return "metrix_header";
            } else if(type == 3 ){
                console.log(showData, rank);
                if(showData == true){
                    if (rank == 0) return "metrix_data_show0";
                    if (rank == 1) return "metrix_data_show1";
                    if (rank == 2) return "metrix_data_show2";
                    if (rank == 3) return "metrix_data_show3";
                    if (rank == 4) return "metrix_data_show4";
                    if (rank == 5) return "metrix_data_show5";
                }else{
                    return "metrix_data";
                }
            } else  if(type == 4 || type == 5){
                  return "metrix_sumdata_show";                
            }else if(type == 6){
                  return "metrix_sumalldata_show";
            }             
        }

        $scope.RunData = function () {
             if(typeof $scope.tempSearchOffSpec !== "undefined")
                $scope.searchOffSpecModel.ID = $scope.tempSearchOffSpec.ID;
             
             $scope.loadOffSpecSummary_T0();
             $scope.loadOffSpecSummary_T1();
             $scope.loadOffSpecSummary_T2();
             $scope.loadOffSpecDetail();
             $scope.loadOffSpecAttach();
             $scope.loadOffSpecDesc();
             $scope.loadOffSpec();
             $scope.GetGraphData();
             $scope.OffSpecNAME = $scope.tempSearchOffSpec.NAME;
             $scope.OffSpecDESC = $scope.tempSearchOffSpec.DETAIL_DESC;
             $(".viewMasterData").show();
             $(".viewDetailData").hide();
             $(".bs-off-control-modal-lg").hide();
        }

        $scope.downloadExcel = function (){
           

            var urlName = get_base_url("OffSpec/OffSpecDataExcel");
            var jsonData = $scope.searchOffSpecModel.ID;
            var checkResult = true;
            if( true == checkResult){

                urlName += "?rp_off_control_id=" +  jsonData;

                window.open(urlName, "@Resources.Strings.ReportOffSpec");

            }
         
        }
///// Data QMS_RP_OFF_CONTROL_SUMMARY T0
 

        $scope.loadOffSpecSummary_T0 = function () {
            var urlName = get_base_url("OffSpec/GetDashboardOffSpecSummary_T0");
            var lstData = $scope.searchOffSpecModel.ID;
        
            if(  lstData > 0){ 
                var jsonData = {
	                 "RPOffSpecId": lstData
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffSpecSummary_T0 = response.data.message;
                       
                    }catch(e){
                    
                    }
                });
            }
        }
              

///// Data QMS_RP_OFF_CONTROL_SUMMARY T1
 
 
        $scope.loadOffSpecSummary_T1 = function () {
            var urlName = get_base_url("OffSpec/GetDashboardOffSpecSummary_T1");
            var lstData = $scope.searchOffSpecModel.ID;

            if( lstData > 0){ 
                var jsonData = {
	                 "RPOffSpecId":  lstData
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffSpecSummary_T1 = response.data.message;
                       //console.log($scope.listOffSpecSummary_T1);
                    }catch(e){
                    
                    }
                });
            }
        }

      
///// Data QMS_RP_OFF_CONTROL_SUMMARY T2
 
 
        $scope.loadOffSpecSummary_T2 = function () {
            var urlName = get_base_url("OffSpec/GetDashboardOffSpecSummary_T2");
            var lstData = $scope.searchOffSpecModel.ID;

            if( lstData > 0){ 
                var jsonData = {
	                 "RPOffSpecId":  lstData
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffSpecSummary_T2 = response.data.message;
                       //console.log($scope.listOffSpecSummary_T2);
                    }catch(e){
                    
                    }
                });
            }
        }

/////  Off Spec

        $scope.loadOffSpec = function () {
        var lstData = $scope.searchOffSpecModel.ID;

            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROLBySearch");
            //console.log("loadOffSpec", $scope.createModel.ID );
            if( lstData > 0){ 
                $scope.searchOffSpecModel.RP_OFF_CONTROL_ID = lstData;
                $scope.searchOffSpecModel.DOC_STATUS = 2;
                var jsonData = {
	                 "PageIndex":$scope.PageIndex,
	                 "PageSize": $scope.PageSize,
	                 "SortColumn": "NAME",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchOffSpecModel
	            };
                
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listOffSpec = response.data.message; 
                        $scope.totalPage = response.data.toTalPage; //init;
                        $scope.totalRecords = response.data.totalRecords;
                        $scope.listPageIndex = response.data.listPageIndex;
                
                        $scope.listPageIndex.forEach(function(entry, index) {
                             if($scope.PageIndex == entry.PageIndex)
		    	                $scope.TempPageIndex =  entry;  
			            });
                        $(".viewMasterData").show();
                    }catch(e){
                    
                    }
                });
            }

        }

        $scope.loadOffSpecDesc = function () {
        var lstData = $scope.searchOffSpecModel.ID;
            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROLById");

            if( lstData > 0){ 
                var jsonData = {
	                 "ids": lstData
	            };
                //console.log(jsonData,lstData);  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffSpecDesc = response.data.message;
                       //console.log($scope.searchOffSpecModel.ID,$scope.listOffSpecDesc.TITLE_GRAPH_X);
                    }catch(e){
                    
                    }
                });
            }
        }

        
/////  Off Spec Detail 

        $scope.loadOffSpecDetail = function () {
        var lstData = $scope.searchOffSpecModel.ID;

            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROL_DETAILBySearch");
            //console.log("loadOffSpecDetail", $scope.createModel.ID );
            if( lstData > 0){ 
                $scope.searchOffSpecDetailModel.RP_OFF_CONTROL_ID = lstData;
                var jsonData = {
	                 "PageIndex":$scope.PageIndex,
	                 "PageSize": $scope.PageSize,
	                 "SortColumn": "PLANT_ID",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchOffSpecDetailModel
	            };
                
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listOffSpecDetail = response.data.message; 
                        $scope.totalPage = response.data.toTalPage; //init;
                        $scope.totalRecords = response.data.totalRecords;
                        $scope.listPageIndex = response.data.listPageIndex;
                
                        $scope.listPageIndex.forEach(function(entry, index) {
                             if($scope.PageIndex == entry.PageIndex)
		    	                $scope.TempPageIndex =  entry;  
			            });
                    }catch(e){
                    
                    }
                });
            }

        }

/////  Off Spec Attach
         $scope.loadOffSpecAttach = function () {
         var lstData = $scope.searchOffSpecModel.ID;

            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROL_ATTACHBySearch");
            if( lstData > 0){ 
                $scope.searchOffSpecAttachModel.RP_OFF_CONTROL_ID = lstData;
                var jsonData = {
	                 "PageIndex":$scope.PageIndex,
	                 "PageSize": $scope.PageSize,
	                 "SortColumn": "NAME",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchOffSpecAttachModel
	            };
                
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listOffSpecAttach = response.data.message;    
                        //console.log($scope.listOffSpecAttach);                    
                    }catch(e){
                    
                    }
                });
            }

        }

///// Graph

      $scope.GetGraphData = function () { 
              
            var urlName = get_base_url("Report/GetBarGRAPHData");
            var jsonData = { "id" : $scope.searchOffSpecModel.ID }
                
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                     
                    $scope.listGraphData = response.data.message;  
                    var graphConfig = Fact.setBarGraphConfig($scope.listGraphData, $scope.listOffControlDesc); 
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myLine = new Chart(ctx, graphConfig);
                }catch(e){
                    
                }
            }); 
        }

        $scope.downloadCSV = function (){
            
            var urlName = get_base_url("OffSpec/OffSpecDataExcel");
            var checkResult = true;
            if( true == checkResult){

                urlName += "?rp_off_control_id=" +  $scope.searchOffSpecModel.ID;

                window.open(urlName, "@Resources.Strings.ReportOffSpec");

            }
         
        }
         
        

        $scope.downloadImage = function () { 
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'OFF CONTROL.png');
            } else { 
                var link = document.createElement('a');
                link.download =  'OFF CONTROL.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }


///// Main 
        

        $scope.init = function () { 

            $scope.listOffSpec.forEach(function(entry) {
		    	if($scope.searchOffSpecModel.ID  == entry.ID){  
		    		$scope.tempSearchOffSpec =  entry;                    
		    		return false;
		    	} 
			});
            
            if ($scope.searchOffSpecModel.ID > 0) {

                $scope.ShowOffSpecSummary_0 = true;
                $scope.ShowOffSpecSummary_1 = true;
                $scope.ShowOffSpecSummary_2 = true;
                $scope.ShowOffSpecDetail = true;
                         
                $scope.loadOffSpecSummary_T0();
                $scope.loadOffSpecSummary_T1();
                $scope.loadOffSpecSummary_T2();
                $scope.loadOffSpecDetail();
                $scope.loadOffSpecAttach();
                $scope.loadOffSpecDesc();
                $scope.loadOffSpec();
                $scope.GetGraphData();

                $scope.OffSpecNAME = $scope.tempSearchOffSpec.NAME;
                $scope.OffSpecDESC = $scope.tempSearchOffSpec.DETAIL_DESC;
            }else{
                objFact.showError("Please set configuration before show the Dashboard Off Spec");
            }
        }
        
        $scope.init();

    }); 

    function getListOffSpec(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listOffSpec)); 
        return lstData; 
    }

    function getOffSpecSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffSpec)); 
        return lstData; 
    }
    
    function getOffSpecDetailSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffSpecDetail)); 
        return lstData; 
    }

    function getOffSpecAttachSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffSpecAttach)); 
        return lstData; 
    }

    function getOffSpecGraphSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffSpecGraph)); 
        return lstData; 
    }

    function getOffSpecSummarySearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffSpecSummary)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

  
        $(".viewDetail").click(function () {
             $(".viewMasterData").hide();
             $(".viewDetailData").show();
        });

        $(".viewDetailBack").click(function () {
             $(".viewMasterData").show();
             $(".viewDetailData").hide();
        });




</script>

 @*  -	7 – 9, 17 September 2016 GSP#5 AGRU 1 trip  <br />
                                    -	18 – 22 September 2016 GSP#5 AGRU 1 and 2 trip <br />
                                    -	22 – 23 September ESP GTG9 and WHRU 3 trip <br />
                                    -	GSP#1 is in process of changing GC Online for all product, therefore the values are freeze. (Started 26 September 2016) <br />
                                    -	GSP#2 run LPG Mode During 7 – 24 September 2016 <br />
*@