﻿@{
    var searchOffControlCal = ViewBag.searchOffControlCal as QMSSystem.Model.OffControlCalSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
    var listRootCause = ViewBag.listRootCause as List<QMSSystem.Model.ViewQMS_MA_ROOT_CAUSE>;
    var listDocStatus = ViewBag.listDocStatus as List<SelectListItem>;

    var listDocStatusEx = ViewBag.listDocStatusEx as List<SelectListItem>;

    var volumeSearch = ViewBag.volumeSearch as QMSSystem.Model.VoulmeEXQSearchModel;
    var createQMS_TR_OFF_CONTROL_CAL = ViewBag.createQMS_TR_OFF_CONTROL_CAL as QMSSystem.Model.CreateQMS_TR_OFF_CONTROL_CAL; 
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
 <div class="">

           <div class="page-title">
                <div class="title_left">
                    <h3>@Resources.Strings.ManageData / @Resources.Strings.OffControl / @Resources.Strings.OffSpeccalculate</h3>
                     <div class="clearfix"></div> 
                </div>
           </div>
           <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
           <div class="row" ng-show="showList">

                <div class="col-md-12 col-sm-12 col-xs-12">

                     <div class="x_panel  tblResult " style="display:none;" >
                          <div class="x_title"> 
                                 <span ng-click="showSearchData()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                 <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                 <span class="btn btn-primary "  my-confirm-click="delOffControlCal()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                 <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(1)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.PENDING</span>
                                 <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(2)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.CONFIRM</span>
                                 <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(3)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.REJECT</span>

                              <div class="clearfix"></div>                                    
                          </div>

                                 
                          <div class="form-horizontal form-label-left" ng-show="showSearch">

                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Plant 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempPlantId"
					                            chosen  
					                            ng-options="item.NAME  for item in listPlant" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div>
                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Product
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempProductId"
					                            chosen  
					                            ng-options="item.NAME  for item in listProduct" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div>
                               <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempDateStart" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                     </div>
                               </div>
                               <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                          <input type="text" class="form-control"  ng-model="TempDateEnd" data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker > 
                                     </div>
                               </div>    
                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.DocStatus
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempDocStatusId"
					                            chosen  
					                            ng-options="item.Text  for item in listDocStatus" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div>
                               @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.RootCause
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempRootCauseId"
					                            chosen  
					                            ng-options="item.NAME  for item in listRootCause" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div>*@
                                                          
                               <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                         <button type="button" class="btn btn-primary" ng-click="loadOffControlCal()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                         <button type="button" class="btn btn-primary" ng-click="clearOffControlCal()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                         <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                    </div>
                               </div>
                               <div class="ln_solid"></div>

                          </div>


                          <div class="x_conten tblResult " style="display:none;" >

                               <table class="table table-bordered">
                                      <thead>
                                             <tr>
                                                 <th>
                                                      <input type="checkbox" ng-model="AllOffControlCal" ng-change="SelectAllCheck()" >
                                                 </th>
                                                 <th class="sorting_desc" ng-click="sort($event)" sort="PLANT_ID">@Resources.Strings.Plant</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="PRODUCT_ID">@Resources.Strings.Product</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="START_DATE">@Resources.Strings.StartDate</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="END_DATE">@Resources.Strings.EndDate</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="VOLUME">@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="CONTROL_VALUE">@Resources.Strings.ControlValueItem</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="DOC_STATUS">@Resources.Strings.DocStatus</th>
                                                 @*<th class="sorting" ng-click="sort($event)" sort="ROOT_CAUSE_ID">@Resources.Strings.RootCause</th>*@
                                                 @*<th class="sorting" ng-click="sort($event)" sort="OFF_CONTROL_DESC">@Resources.Strings.Description</th>*@
                                                 <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>                                                    
                                              <tr>
                                       </thead>

                                      <tbody>
                                             <tr ng-repeat="mOffControlCal in listOffControlCal" >
                                                 <td><input type="checkbox" ng-model="mOffControlCal.ITEM_SELECTED" /></td>
                                                 <td>{{mOffControlCal.PLANT_NAME}}</td>
                                                 <td>{{mOffControlCal.PRODUCT_NAME}}</td>
                                                 <td>{{mOffControlCal.START_DATE|showdatetimeformat }}</td>
                                                 <td>{{mOffControlCal.END_DATE|showdatetimeformat }}</td>
                                                 <td>{{mOffControlCal.VOLUME}}</td>
                                                 <td>{{mOffControlCal.CONTROL_VALUE}}</td>
                                                 <td>{{mOffControlCal.DOC_STATUS_NAME}}</td>
                                                 @*<td>{{mOffControlCal.ROOT_CAUSE_NAME}}</td>*@
                                                 @*<td>{{mOffControlCal.OFF_CONTROL_DESC}}</td>*@
                                                 <td><i class="fa fa-edit set-pointer"  ng-click="editData(mOffControlCal)"></i>
                                                     <i class="fa fa-download set-pointer"  ng-click="downloadExcel(mOffControlCal)"></i> 
                                                 </td>
                                             </tr>
                                      </tbody>

                               </table>
                     
                          </div>

                          <!-- ทำหน้า -->
                          <div class="row tblResult " style="display:none;" >
                               <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <select
				                                ng-model="TempPageSize"
				                                chosen 
                                                ng-change="loadByPageSize()" 
				                                ng-options="item.Text  for item in listPageSize"
				                                class="col-md-12 col-sm-12 col-xs-12"
				                                name="lst_pagesize" id="lst_pagesize">
				                                <option value=""></option>
			                             </select> 
                                    </div>
                               </div>
                               <div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                                ng-model="TempPageIndex"
				                                chosen 
                                                ng-change="searchByPage()" 
				                                ng-options="item.PageIndex  for item in listPageIndex"  
				                                >
			                             </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                    </div>
                          </div>
                          <!-- ทำหน้า -->

                     </div>

                </div> 

           </div>

           <div class="row" ng-show="showDevice">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">                 
                               <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary " ng-hide="IsInitialStatus()" ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <span class="btn btn-primary " ng-click="showDeviceData()" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>                  
                              </div>
                              <div class="clearfix"></div>                                
                         </div>
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="CreatetempPlantId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.NAME  for item in listPlant"
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.DocStatus <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" ng-hide="IsInitialStatus()">
                                            <select
					                                ng-model="CreatetempDocStatusId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.Text  for item in listDocStatusEx" 
                                                    class="chosen_required">				                              
					                                <option value=""></option>
				                            </select>
                                        </div>
                                        <label class="control-label  col-md-3 col-sm-3 col-xs-12 " ng-show="IsInitialStatus()" style="text-align:left;">
                                            @Resources.Strings.INITIAL
                                        </label>
                                   </div>  
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempStartDate" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempEndDate" data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker required> 
                                        </div>
                                   </div> 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempStartDate" data-time-format="HH:mm" data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempEndDate" data-time-format="HH:mm"  data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>
                                   </div> 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Product <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="CreatetempProductId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.NAME  for item in listProduct" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        @*<label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.RootCause <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="tempRootCauseId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listRootCause" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>*@
                                   </div> 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Volume (@Resources.Strings.Ton)<span class="required">*</span>
                                        </label>                                          
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;">
                                            <input type="text" ng-model="createModel.VOLUME"  class="form-control col-md-7 col-xs-12" number-only-input required>                                          
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12" >
                                             <span class="btn btn-primary" ng-click="loadVolume()"><i class="fa fa-calculator"></i> @Resources.Strings.AutoloadVolume</span>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        @*<label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.OffControl <span class="required">*</span>
                                        </label>                                          
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;">
                                            <input type="text" ng-model="createModel.OFF_CONTROL_TYPE"  class="form-control col-md-7 col-xs-12">                                          
                                        </div>*@
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.ControlValueItem <span class="required">*</span>
                                        </label>                                          
                                        <div class="col-md-8 col-sm-8 col-xs-12" style="text-align:left;">
                                            <input type="text" ng-model="createModel.CONTROL_VALUE"  class="form-control col-md-7 col-xs-12"  required>                                          
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>                                          
                                        <div class="col-md-8 col-sm-8 col-xs-12" style="text-align:right;">
                                             <textarea ng-model="createModel.OFF_CONTROL_DESC" 
                                                        rows="3" class="form-control" maxlength="150" name="message" >
                                             </textarea>
                                             <div class="clearfix"></div>                                              
                                        </div>
                                   </div> 
                                  @Resources.Strings.AutoVolume
                              </div>                              
                         </div>
                         <div class="x_content" ng-show="createModel.ID">
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
                                   <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                               </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
	                               <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                               </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
      </div>

</div>

<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempProductId;
        $scope.listProduct = getListProduct();
        $scope.tempRootCauseId;
        $scope.listRootCause = getListRootCause();
        $scope.tempDocStatusId;
        $scope.listDocStatus = getListDocStatus();
        $scope.listDocStatusEx = getListDocStatusEx();


        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();
        
        $scope.createModel = getCreateModel();
        $scope.mVolumeSearch = getVolumeSearchModel();
        $scope.CreateTempStartDate = null;
        $scope.CreateTempEndDate = null;
        $scope.CreatetempPlantId = {};
        $scope.CreatetempProductId= {};
        $scope.CreatetetempDocStatusId = {};

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);;
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listOffControlCal; // listdata
        $scope.AllOffControlCal; //checkbox


        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }


        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listOffControlCal, $scope.AllOffControlCal) } 
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadOffControlCal();
        }

        $scope.clearOffControlCal = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.TempDateStart = null; 
               $scope.TempDateEnd = null; 
               $scope.tempPlantId = {};
               $scope.tempProductId =  {};
               $scope.tempRootCauseId =  {};
               $scope.tempDocStatusId =  {};

               $scope.loadOffControlCal(); 
                                                            
        }
         
        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }


        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; }
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
            $scope.CreateTempStartDate  = null;
            $scope.CreateTempEndDate  = null;
            $scope.CreatetempPlantId = {};
            $scope.CreatetempProductId= {};
            $scope.CreatetetempDocStatusId = {};

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.CreatetempPlantId =  entry; 
		    		return false;
		    	} 
			});
            
            $scope.listProduct.forEach(function(entry) {
		    	if($scope.createModel.PRODUCT_ID  == entry.ID){  
		    		$scope.CreatetempProductId =  entry; 
		    		return false;
		    	} 
			});

            $scope.listDocStatusEx.forEach(function(entry) {
		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
		    		$scope.CreatetempDocStatusId =  entry; 
		    		return false;
		    	} 
			});
            

            $scope.CreateTempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
            $scope.CreateTempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
             //Fact.editData( get_base_url("Downtime/CreateManageDowntime") + "?id=" + mData.ID ); 
        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;


        $scope.saveData = function () {   
            var urlName = get_base_url("OffSpec/CreateQMS_TR_OFF_CONTROL_CAL");
            var valid = true;

            if( typeof $scope.CreatetempPlantId !== "undefined"  && typeof $scope.CreatetempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.CreatetempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempProductId !== "undefined"  && typeof $scope.CreatetempProductId.ID !== "undefined" ){
                $scope.createModel.PRODUCT_ID = $scope.CreatetempProductId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempDocStatusId !== "undefined"  && typeof $scope.CreatetempDocStatusId.Value !== "undefined" ){
                $scope.createModel.DOC_STATUS = $scope.CreatetempDocStatusId.Value;
            }else{
                valid = false;
            } 
                              
            if( typeof $scope.CreateTempStartDate !== "undefined"  && $scope.CreateTempStartDate !== null ){
                $scope.createModel.START_DATE =$scope.CreateTempStartDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.CreateTempEndDate !== "undefined"  && $scope.CreateTempEndDate !== null ){
                $scope.createModel.END_DATE =$scope.CreateTempEndDate;
            }else{
                valid = false;
            }      
            if( typeof $scope.createModel.CONTROL_VALUE !== "undefined"  
                && $scope.createModel.CONTROL_VALUE !== null
                && typeof $scope.createModel.VOLUME !== "undefined"  
                && $scope.createModel.VOLUME !== null
                && parseFloat($scope.createModel.VOLUME) > 0
                && $scope.CreateTempEndDate >= $scope.CreateTempStartDate
            ){
                
            }else{
                valid = false;
            }  
             
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                    if(response.data.result == 1){  
                       $scope.loadOffControlCal();
                       $scope.showDeviceData();
                    }else{
                        Fact.showMessage(response.data.message); 
                    } 
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                if ($scope.createModel.VOLUME == 0){
                    Fact.showMessage("@Resources.Strings.VolumeAlert");
                }else if(  $scope.CreateTempEndDate >= $scope.CreateTempStartDate){
                    Fact.showMessage("@Resources.Strings.PleaseInputData");
                }else{
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
                }
            }             
                        
            
        }  

        $scope.loadVolume = function () {  
            var valid = true;
            var urlName = get_base_url("Report/getVolumeByVoulmeEXQSearch");
             

            if( typeof $scope.CreatetempPlantId !== "undefined"  && typeof $scope.CreatetempPlantId.ID !== "undefined" ){
                $scope.mVolumeSearch.PLANT_ID = $scope.CreatetempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempProductId !== "undefined"  && typeof $scope.CreatetempProductId.ID !== "undefined" ){
                $scope.mVolumeSearch.PRODUCT_ID = $scope.CreatetempProductId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.CreateTempStartDate !== "undefined"  && $scope.CreateTempStartDate !== null ){
                $scope.mVolumeSearch.START_DATE =$scope.CreateTempStartDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.CreateTempEndDate !== "undefined"  && $scope.CreateTempEndDate !== null ){
                $scope.mVolumeSearch.END_DATE =$scope.CreateTempEndDate;
            }else{
                valid = false;
            }

            if(true == valid){ 

                if($scope.mVolumeSearch.START_DATE > $scope.mVolumeSearch.END_DATE){
                     Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }
                
                Fact.loadlistData(urlName, $scope.mVolumeSearch, function(response){ 
                    try{
                         $scope.createModel.VOLUME = response.data.message; 
                        //console.log(response);
                    }catch(e){

                    }  
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 
        } 
          
        $scope.getOffControlCalSearch = function()
        {
            $("#searchOffControlCal").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempPlantId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            }
            if( typeof $scope.tempProductId !== "undefined" ){
                $scope.mSearch.PRODUCT_ID = $scope.tempProductId.ID;
            }
//            if( typeof $scope.tempRootCauseId !== "undefined" ){
//                $scope.mSearch.ROOT_CAUSE_ID = $scope.tempRootCauseId.ID;
//            }
            if( typeof $scope.tempDocStatusId !== "undefined" ){
                $scope.mSearch.DOC_STATUS = $scope.tempDocStatusId.Value;
            }
            
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadOffControlCal();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadOffControlCal(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadOffControlCal(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadOffControlCal(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadOffControlCal(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadOffControlCal(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadOffControlCal(); }

        $scope.loadOffControlCal = function () {
            console.log($scope.mSearch, $scope.tempPlantId, $scope.tempProductId, $scope.tempDocStatusId, $scope.tempRootCauseId);

            if(typeof $scope.tempPlantId !== "undefined")
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            if(typeof $scope.tempProductId !== "undefined")
                $scope.mSearch.PRODUCT_ID = $scope.tempProductId.ID;
            if(typeof $scope.tempDocStatusId !== "undefined")
                $scope.mSearch.DOC_STATUS = $scope.tempDocStatusId.Value;
//            if(typeof $scope.tempRootCauseId !== "undefined")
//                $scope.mSearch.ROOT_CAUSE_ID = $scope.tempRootCauseId.ID;
            if( $scope.TempDateStart !== null){
                 $scope.mSearch.START_DATE = $scope.TempDateStart;
            }
            if( $scope.TempDateEnd !== null){
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }

            //console.log($scope.mSearch);
           
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listOffControlCal = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delOffControlCal = function(){

            isValid = true;
            $scope.listOffControlCal.forEach(function (entry, index) { 
	            if (true == entry.ITEM_SELECTED && 4 == entry.DOC_STATUS) { 
	                 isValid = false;
	             }
	        });

            if(isValid){
                Fact.deleteMultiData($scope.listOffControlCal, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadOffControlCal(); });
            }else{
                Fact.showError("@Resources.Strings.CannotDeleteInitial");
            }

            
        }

         $scope.downloadExcel = function (data){
            //console.log(data);return;
             
            var urlName = get_base_url("OffControl/OffControlCalDataExcel");

            var numb1 = data.START_DATE.replace("/Date(", "").replace(")/", "");
	        var dDate1 = new Date(parseFloat(numb1));
            var numb2 = data.END_DATE.replace("/Date(", "").replace(")/", "");
	        var dDate2 = new Date(parseFloat(numb2));
            
                    
            urlName += "?ID=" + data.ID + "&CROSS_VOLUME_FLAG=" + data.CROSS_VOLUME_FLAG +  "&START_DATE=" +  dDate1.getFullYear() + "/" + (dDate1.getMonth() + 1) + "/" + (dDate1.getDate()) + " " + dDate1.getHours() + ":" + dDate1.getMinutes() + ":" + dDate1.getSeconds() ;
            urlName += "&END_DATE=" +   dDate2.getFullYear() + "/" + (dDate2.getMonth() + 1) + "/" + (dDate2.getDate()) + " " + dDate2.getHours() + ":" + dDate2.getMinutes() + ":" + dDate2.getSeconds() ;

            urlName += "&PLANT_ID=" +  data.PLANT_ID;
            urlName += "&PRODUCT_ID=" +  data.PRODUCT_ID; 
            urlName += "&EXA_DATA_TYPE=" + 0;
            window.open(urlName, "@Resources.Strings.OffControlcalculate");
                 
         
        }


        $scope.ClkUpdateDocStatus = function(DOC_STATUS_VALUE){

            switch(DOC_STATUS_VALUE) {
                  case 1:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectPending";
                         break;
                  case 2:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectConfirm";
                         break;
                  case 3:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectReject";
                         break;
                  default:
                         MSG_DOC_STATUS = "Null";
                         break;
            }
        
            Fact.UpdateDocStatus($scope.listOffControlCal, DOC_STATUS_VALUE , MSG_DOC_STATUS , function(){ $scope.loadOffControlCal(); });
            $scope.loadOffControlCal();
        }   

        $scope.init = function(mData){

            Fact.setUpdateTableUrl(get_base_url("OffSpec/UpdateDocStatusQMS_TR_OFF_CONTROL_CAL"));
            Fact.setDataTableUrl(get_base_url("OffSpec/GetQMS_TR_OFF_CONTROL_CALBySearch"));
            Fact.setDelelteUrl(get_base_url("OffSpec/DeleteQMS_TR_OFF_CONTROL_CAL"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadOffControlCal();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffControlCal)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }

    function getListRootCause(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listRootCause)); 
        return lstData; 
    }

    function getListDocStatus(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDocStatus)); 
        return lstData; 
    }

    function getListDocStatusEx(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDocStatusEx)); 
        return lstData; 
    }
    
    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_TR_OFF_CONTROL_CAL)); 
        return lstData; 
    } 

    function getVolumeSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(volumeSearch)); 
        return lstData; 
    } 
         
</script>
