﻿<div class="col-md-12 col-sm-12 col-xs-12 viewDetailData" id="viewDetail" style="display:none;">
     <div class="x_panel">
          <div class="x_title">
               <h2>@Resources.Strings.OffSpecDetail</h2>
               <ul class="nav navbar-right panel_toolbox">
                   <li class="viewDetailBack" >  <i class="fa fa-arrow-left"></i>@Resources.Strings.Back  </li> 
               </ul>
               <div class="clearfix"></div>
          </div>
          <div class="x_content">
               <table class="table table-bordered">
                      <thead>
                             <tr>
                                 <th class="sorting_desc" ng-click="sort($event)" sort="PLANT_ID">@Resources.Strings.Plant</th>
                                 <th class="sorting" ng-click="sort($event)" sort="PRODUCT_ID">@Resources.Strings.Product</th>
                                 <th class="sorting" ng-click="sort($event)" sort="START_DATE">@Resources.Strings.StartDate</th>
                                 <th class="sorting" ng-click="sort($event)" sort="END_DATE">@Resources.Strings.EndDate</th>
                                 <th class="sorting" ng-click="sort($event)" sort="CONTROL_VALUE">@Resources.Strings.OffSpecItem</th>
                                 <th class="sorting" ng-click="sort($event)" sort="VOLUME">@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                 <th class="sorting" ng-click="sort($event)" sort="ROOT_CAUSE_ID">@Resources.Strings.RootCause</th>
                             </tr>                            
                      </thead>
                      <tbody>
                             <tr ng-repeat="mOffSpecDetailData in listOffSpecDetail" >
                                 <td>{{ mOffSpecDetailData.PLANT_NAME }}</td>
                                 <td>{{ mOffSpecDetailData.PRODUCT_NAME }}</td>
                                 <td>{{ mOffSpecDetailData.START_DATE |showdatetimeformat }}</td>
                                 <td>{{ mOffSpecDetailData.END_DATE |showdatetimeformat }}</td>
                                 <td>{{ mOffSpecDetailData.CONTROL_VALUE }}</td>
                                 <td>{{ mOffSpecDetailData.VOLUME ? (mOffSpecDetailData.VOLUME | number:2) : '' }}</td>
                                 <td>{{ mOffSpecDetailData.ROOT_CAUSE_TYPE_NAME }}</td>
                             </tr>
                      </tbody>
               </table>
          </div> 
     </div> 
</div>