﻿@{

    var createQMS_MA_ROOT_CAUSE = ViewBag.createQMS_MA_ROOT_CAUSE as QMSSystem.Model.CreateQMS_MA_ROOT_CAUSE;
    var listRootCauseTypeF = ViewBag.listRootCauseType as List<QMSSystem.Model.ViewQMS_MA_ROOT_CAUSE_TYPE>;
    
    var listRootCauseType = ViewBag.listRootCauseType as List<QMSSystem.Model.ViewQMS_MA_ROOT_CAUSE_TYPE>;
    var createRootCauseType = ViewBag.createRootCauseType as QMSSystem.Model.CreateQMS_MA_ROOT_CAUSE_TYPE; //controller
    var searchRootCauseType = ViewBag.searchRootCauseType as QMSSystem.Model.RootCauseTypeSearchModel;
    var listPageSizeRootCauseType = ViewBag.listPageSizeRootCauseType as List<SelectListItem>;

}


<div  ng-app="myApp" ng-controller="myCtrl">

      <div class="">

           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.RootCause @ViewBag.ActionName</h3>
                     <div class="clearfix"></div>
                </div>
           </div>

           <div class="clearfix"></div>
           <hr>

           <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                     <div class="x_panel">

                          <div class="x_title">
                               <div class="row" style="text-align:right;">              
                                    <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                    <a href="~/RootCause/ListMasterRootCause">
                                    <span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                    </a>                    
                               </div>
                               <div class="clearfix"></div>

                          </div>

                          <div class="x_content">
                               
                               <div class="form-horizontal form-label-left">

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;">
                                             <input type="text" class="form-control"  ng-model="createModel.NAME" required > 
                                        </div>
                                   </div>                                     
                                    <div class="form-group">
                                         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.RootCauseType <span class="required">*</span>
                                         </label>
                                         <div class="col-md-4 col-sm-4 col-xs-12">
                                              <select
					                                  ng-model="tempRootCauseTypeIdF"
					                                  chosen="{inherit_select_classes: true}"  
					                                  ng-options="item.NAME  for item in listRootCauseTypeF" 
                                                      class="chosen_required">
					                                  <option value=""></option>
				                              </select> 
                                         </div> 
                                         <div class="col-md-1 col-sm-1 col-xs-12"> 
                                              <span  ng-click="openRootCauseTypeManagement()" ><i class="fa fa-plus"></i> </span>
                                         </div>  
                                    </div>
                                    <div class="form-group">
                                         <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                         </label>                                          
                                         <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                              <textarea ng-model="createModel.ROOT_CAUSE_DESC" 
                                                        rows="3" class="form-control" maxlength="150" name="message" >
                                              </textarea>
                                         </div>
                                    </div>

                               </div>
                   
                          </div>

                           <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->

                     </div>
   
                </div>

           </div>

           @Html.Partial("RootCauseType")

     </div>
</div>
 

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();

        $scope.tempRootCauseTypeIdF;
        $scope.listRootCauseTypeF = getListRootCauseTypeF();

         
        $scope.saveData = function () {   
            var urlName = get_base_url("RootCause/CreateQMS_MA_ROOT_CAUSE");   
            var valid = true;

            //console.log($scope.createModel.NAME,$scope.tempRootCauseTypeIdF.ID);
            if( typeof $scope.tempRootCauseTypeIdF !== "undefined"  && $scope.tempRootCauseTypeIdF.ID !== "undefined" ){
                $scope.createModel.ROOT_CAUSE_TYPE_ID = $scope.tempRootCauseTypeIdF.ID;
            }else{
                valid = false;
            }            
            if( typeof $scope.createModel.NAME !== "undefined"  
                && $scope.createModel.NAME !== null 
            ){
               
            }else{
                valid = false;
            }  

            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message);
                     $scope.createModel =  response.data.model;
                     $scope.createModel.ID = response.data.dataId;
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }       

            //console.log($scope.tempRootCauseTypeId);         
               
        }  

        $scope.init = function () { 
            $scope.listRootCauseTypeF.forEach(function(entry) {
		    	if($scope.createModel.ROOT_CAUSE_TYPE_ID  == entry.ID){  
		    		$scope.tempRootCauseTypeIdF =  entry; 
		    		return false;
		    	} 
			});

        }
        //#region RootCauseTypeManagement

        $scope.listRootCauseType;
        $scope.AllRootCauseTypeSelected = false;
        $scope.ShowRootCauseType = true;
        $scope.listSelectRootCauseType = {};
        $scope.tempIdRootCauseType;

        $scope.mSearchRootCauseType = getSearchModelRootCauseType();

        $scope.TempPageSizeRootCauseType;
        $scope.PageSizeRootCauseType = Fact.setPageSize(20);
        $scope.totalPageRootCauseType = 1; //init;
        $scope.totalRecordsRootCauseType = 0;
        $scope.PageIndexRootCauseType = 1;
        $scope.SortColumnRootCauseType = Fact.setSortColumn('NAME');
        $scope.SortOrderRootCauseType = Fact.setSortOrder('asc'); 



        $scope.listPageSizeRootCauseType = getListPageSizeRootCauseType(); // list of page size
        $scope.listRootCauseType; // listdata
        $scope.AllRootCauseType; //checkbox

        $scope.listSelectRootCauseType = {};


        $scope.tempIdRootCauseType = 0;//root-type
        $scope.createModelRootCauseType = getCreateModelRootCauseType();

        //Search
        $scope.tempNameRootCauseType ;
        $scope.listRootCauseType = getListModelRootCauseType();
        $scope.SelectAllCheckRootCauseType = function () { Fact.SelectAllCheck($scope.listRootCauseType, $scope.AllRootCauseType) }
        $scope.editDataRootCauseType = function(mData){ Fact.editData( get_base_url("RootCause/CreateRootCauseType") + "?id=" + mData.ID ); }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadRootCauseType();
        }
         
       
        $scope.getFirstPageRootCauseType = function(){ $scope.PageIndexRootCauseType = Fact.getFirstPage(); $scope.loadRootCauseType(); }          
        $scope.getBackPageRootCauseType = function(){ $scope.PageIndexRootCauseType = Fact.getBackPage(); $scope.loadRootCauseType(); }
        $scope.getNextPageRootCauseType = function(){ $scope.PageIndexRootCauseType = Fact.getNextPage(); $scope.loadRootCauseType(); }        
        $scope.getLastPageRootCauseType = function(){ $scope.PageIndexRootCauseType = Fact.getLastPage(); $scope.loadRootCauseType(); }        
        $scope.searchByPageRootCauseType =  function(){ $scope.PageIndexRootCauseType = Fact.searchByPage(); $scope.loadRootCauseType(); }
        $scope.setPageSizeRootCauseType = function(data){ $scope.PageSizeRootCauseType = Fact.setPageSize( $scope.TempPageSizeRootCauseType.Value); }
        $scope.loadByPageSizeRootCauseType = function(){ $scope.PageIndexRootCauseType = Fact.setPageIndex(1); $scope.setPageSizeRootCauseType(); $scope.loadRootCauseType(); }

        $scope.loadRootCauseType = function () { 
//            if(typeof $scope.tempRootCauseTypeId !== "undefined")
//                $scope.mSearchRootCauseType.ROOT_CAUSE_TYPE_ID = $scope.tempRootCauseTypeId.ID;
              Fact.loadDataTable($scope.mSearchRootCauseType, function(response){               
                try{
                    $scope.listRootCauseType = response.data.message;
                    $scope.totalPageRootCauseType = response.data.toTalPage; //init;
                    $scope.totalRecordsRootCauseType = response.data.totalRecords;
                    $scope.listPageIndexRootCauseType = response.data.listPageIndex;
                
                    $scope.listPageIndexRootCauseType.forEach(function(entry, index) {
                         if($scope.PageIndexRootCauseType == entry.PageIndex)
		    	            $scope.TempPageIndexRootCauseType =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delRootCauseType = function(){
            Fact.deleteMultiData($scope.listRootCauseType, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadRootCauseType(); });
        }

        
        $scope.initRootCauseType = function(mData){

//            Fact.setDataTableUrl(get_base_url("RootCause/GetActiveRootCauseTypeList")); //Controller
            Fact.setDataTableUrl(get_base_url("RootCause/GetQMS_MA_ROOT_CAUSE_TYPEBySearch")); //Controller
            Fact.setDelelteUrl(get_base_url("RootCause/DeleteQMS_MA_ROOT_CAUSE_TYPE")); //Controller
            Fact.setSearchModel( getSearchModelRootCauseType() );
            
//            $scope.listPageSizeRootCauseType.forEach(function(entry, index) {
//                 if(0 == index)
//		    	    $scope.TempPageSizeRootCauseType =  entry;  
//			});

            Fact.setSortIcon();
            $scope.loadRootCauseType();
        }

        $scope.initRootCauseType();
        
 
        $scope.createQMS_MA_ROOT_CAUSE_TYPE = getCreateQMS_MA_ROOT_CAUSE_TYPE();
        $scope.SelectAllCheckRootCauseType = function () { Fact.SelectAllCheck($scope.listRootCauseType, $scope.AllRootCauseTypeSelected) }
  
        $scope.saveQMS_MA_ROOT_CAUSE_TYPE = function () { 
            var urlName = get_base_url("RootCause/CreateQMS_MA_ROOT_CAUSE_TYPE");
            var valid = true;

            if( typeof $scope.createQMS_MA_ROOT_CAUSE_TYPE.NAME !== "undefined" 
                && $scope.createQMS_MA_ROOT_CAUSE_TYPE.NAME !== null 
            ){
                
            }else{
                valid = false;
            }  

            if(true == valid){ 
                var jsonData = $scope.createQMS_MA_ROOT_CAUSE_TYPE; 
                Fact.saveDataCallback(urlName, jsonData, function(response){
                     $scope.createQMS_MA_ROOT_CAUSE_TYPE = getCreateQMS_MA_ROOT_CAUSE_TYPE(); 
                     $scope.loadActiveRootCauseType();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 
                        
        }

        $scope.saveEditQMS_MA_ROOT_CAUSE_TYPE = function (jsonData) { 
            
            var urlName = get_base_url("RootCause/CreateQMS_MA_ROOT_CAUSE_TYPE");
            var valid = true;
 
            if( jsonData.NAME !== null 
                && jsonData.NAME !== ""
            ){
                           
            }else{
                valid = false;
            } 

            if(true == valid){
                $scope.listSelectRootCauseType = {};
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                     $scope.ShowRootCauseType = true;
                     $scope.createQMS_MA_ROOT_CAUSE_TYPE = getCreateQMS_MA_ROOT_CAUSE_TYPE();
                     $scope.loadActiveRootCauseType(); 
                }); 
             }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

		}

        $scope.loadActiveRootCauseType = function(){ $scope.resetRootCauseType(); Fact.loadAllRootCauseType(function (response){  $scope.listRootCauseType = response.data.message;  });  }

        $scope.delRootCauseTypeData = function(){
            var urlName = get_base_url("RootCause/DeleteQMS_MA_ROOT_CAUSE_TYPE");
            Fact.deleteMultiDataEx(urlName, $scope.listRootCauseType, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveRootCauseType(); });
        }

        $scope.getRootCauseTypeTemplate = function (mRootCauseTypeData) { 
            if (mRootCauseTypeData.ID === $scope.listSelectRootCauseType.ID) return 'editRootCauseType';
                 else return 'displayRootCauseType';
        };

        $scope.editRootCauseType = function (mRootCauseTypeData) {
            $scope.ShowRootCauseType = false;
            $scope.listSelectRootCauseType = angular.copy(mRootCauseTypeData);
        };

        $scope.resetRootCauseType = function () {
            $scope.ShowRootCauseType = true;
            $scope.listRootCauseType.forEach(function(entry) { 
		    	if($scope.listSelectRootCauseType.ID == entry.ID){ 
		    		entry.NAME = $scope.listSelectRootCauseType.NAME;
		    	} 
			});
            $scope.listSelectRootCauseType = {};
        };

        $scope.openRootCauseTypeManagement = function () { 
            $scope.resetRootCauseType();
//            $(".RootCauseType-modal-lg").modal('show');


            $scope.ShowPlant = true;
            $scope.listSelectRootCauseType = {};
            $(".RootCauseType-modal-lg").modal('show').on('shown.bs.modal', function (e) {
                 $scope.resetRootCauseType();
            });

        };


        //#endregion
       

        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_ROOT_CAUSE)); 
        return lstData; 
    }

     function getListRootCauseTypeF(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listRootCauseTypeF)); 
        return lstData; 
    }

    function getSearchModelRootCauseType(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchRootCauseType)); 
        return lstData; 
    }


    function getListPageSizeRootCauseType(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSizeRootCauseType)); 
        return lstData; 
    }

    function getListModelRootCauseType(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listRootCauseType)); 
        return lstData; 
    }
 

    function getCreateModelRootCauseType(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createRootCauseType)); 
        return lstData; 
    }


    function getCreateQMS_MA_ROOT_CAUSE_TYPE(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createRootCauseType)); 
        return lstData; 
    }


</script>
