﻿@{    
    var searchRootCause = ViewBag.searchRootCause as QMSSystem.Model.RootCauseSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var listRootCauseType = ViewBag.listRootCauseType as List<QMSSystem.Model.ViewQMS_MA_ROOT_CAUSE_TYPE>;

}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">

          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.RootCause</h3>
                    <div class="clearfix"></div>

               </div>
          </div>

          <div class="clearfix"></div>
          <hr>


          <div class="row">

               <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_panel">

                         <div class="x_title">
                                <span ng-click="showRootCauseSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                <a href="~/RootCause/CreateMasterRootCause"><span  class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span></a>
                                <span class="btn btn-primary "  my-confirm-click="delRootCause()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                         </div>
                       
                         <div class="x_content tblResult " style="display:none;" >
                            <div class="form-horizontal form-label-left" ng-show="showSearch">
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.NAME"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.RootCause <span class="required">*</span> 
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                            ng-model="tempRootCauseTypeId"
					                            chosen  
					                            ng-options="item.NAME  for item in listRootCauseType" >
					                            <option value=""></option>
				                        </select> 
                                   </div>
                              </div> 
                              @*<div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.ROOT_CAUSE_DESC"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>*@
                              <div class="ln_solid"></div>
                              <div class="form-group">
                                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="button" class="btn btn-primary" ng-click="loadRootCause()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                        <button type="button" class="btn btn-primary" ng-click="clearRootCause()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                        <button type="button" class="btn btn-primary"  ng-click="closeRootCauseSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                   </div>
                              </div>
                         </div>
                              <table class="table table-bordered" >
                                     <thead>
                                            <tr>
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                      <input type="checkbox" ng-model="AllRootCause" ng-change="SelectAllCheck()" >
                                                </th>
                                                <th class=" sorting" ng-click="sort($event)" sort="NAME" >@Resources.Strings.Name</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="ROOT_CAUSE_TYPE_ID" >@Resources.Strings.Type</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="ROOT_CAUSE_DESC" >@Resources.Strings.Description</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                                            <tr>
                                     </thead>
                                     <tbody>
                                            <tr ng-repeat="mRootCause in listRootCause" >
                                                <td><input type="checkbox" ng-model="mRootCauseData.ITEM_SELECTED" /></td>
                                                <td>{{ mRootCause.NAME }}</td>
                                                <td>{{ mRootCause.ROOT_CAUSE_TYPE_NAME }}</td>
                                                <td>{{ mRootCause.ROOT_CAUSE_DESC }}</td>
                                                <td><i class="fa fa-edit set-pointer"  ng-click="editData(mRootCause)"></i></td>
                                            </tr>                                            
                                     </tbody>
                              </table>

                        </div>

                        <!-- ทำหน้า -->
                        <div class="row tblResult " style="display:none;" >
                             <div class="col-md-7 col-sm-7 col-xs-6">
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                       @Resources.Strings.ResultsPerPage
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                       <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                           </select> 
                                  </div>
                             </div>
                             <div class="col-md-5 col-sm-5 col-xs-6">
                                  <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                       <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                  </div>
                                  <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                       <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                           </select>
                                 </div>
                                 <div class="col-md-4 col-sm-4 col-xs-12">
                                      <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                 </div>
                                 </div>
                        </div>
                        <!-- ทำหน้า -->
                    </div>
                    <!-- *** ในส่วนของ Exception case ถ้าสร้างแล้ว จะเป็น List ลำดับต่อท้ายลงมา -->

               </div>

          </div>

     </div>
</div>


<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempRootCauseTypeId;
        $scope.listRootCauseType = getListRootCauseType();

        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('NAME');
        $scope.SortOrder = Fact.setSortOrder('asc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex; 
        $scope.listRootCause; // listdata
        $scope.AllRootCause; //checkbox

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listRootCause, $scope.AllRootCause) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("RootCause/CreateMasterRootCause") + "?id=" + mData.ID ); }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadRootCause();
        }
        
        $scope.clearRootCause = function() {  
               //$scope.mSearch = getSearchModel(); 
               $scope.mSearch.NAME = null;
               $scope.tempRootCauseTypeId =  {};
               $scope.mSearch.ROOT_CAUSE_DESC = null;
               $scope.loadRootCause(); 
                                                            
        }

        $scope.showRootCauseSearch = function(){  $scope.showSearch = true; /*$("#searchRootCause").modal('show');*/}
        $scope.closeRootCauseSearch = function() { $scope.showSearch = false; }
        $scope.getRootCauseSearch = function()
        {
            $("#searchRootCause").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempRootCauseTypeId !== "undefined" ){
                $scope.mSearch.ROOT_CAUSE_TYPE_ID = $scope.tempRootCauseTypeId.ID;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadRootCause();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadRootCause(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadRootCause(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadRootCause(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadRootCause(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadRootCause(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadRootCause(); }

        $scope.loadRootCause = function () { 
            if(typeof $scope.tempRootCauseTypeId !== "undefined")
                $scope.mSearch.ROOT_CAUSE_TYPE_ID = $scope.tempRootCauseTypeId.ID;
            Fact.loadDataTable($scope.mSearch, function(response){               
                try{
                    $scope.listRootCause = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delRootCause = function(){
            Fact.deleteMultiData($scope.listRootCause, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadRootCause(); });
        }

        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("RootCause/GetQMS_MA_ROOT_CAUSEBySearch"));
            Fact.setDelelteUrl(get_base_url("RootCause/DeleteQMS_MA_ROOT_CAUSE"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadRootCause();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchRootCause)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListRootCauseType(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listRootCauseType)); 
        return lstData; 
    }



     
</script>