﻿<!-- RootCauseType modal -->
<div class="modal fade RootCauseType-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">

               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.RootCauseTypeManagement</h4>
               </div>

               <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                          <div class="x_title">
               
                               <ul class="nav navbar-left panel_toolbox">
                                  <li> 
                                       <span class="btn btn-primary re-pos-btn"  my-confirm-click="delRootCauseTypeData()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                  </li>

                              </ul>
                              <div class="clearfix"></div>
                         </div>

                         <table class="table table-bordered" ng-form="myEditQMS_MA_ROOT_CAUSE_TYPE">
                                <thead>
                                       <tr>
                                              <th class="col-md-1 col-sm-1 col-xs-1">
                                                <input type="checkbox" ng-model="AllRootCauseTypeSelected" ng-change="SelectAllCheckRootCauseType()" >  
                                              </th>
                                              <th class=" sorting" ng-click="sort($event)" sort="NAME" >@Resources.Strings.RootCauseTypeName</th> 
                                              <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                                       </tr>
                                </thead>
                                <tbody>
                                       <tr ng-form="myQMS_MA_ROOT_CAUSE_TYPE" ng-show="ShowRootCauseType">
                                              <td><input type="checkbox" ng-model="mRootCauseData.ITEM_SELECTED" /></td>
                                              <td>
                                                  <input type="text" name="QMS_MA_ROOT_CAUSE_TYPE_NAME" ng-model="createQMS_MA_ROOT_CAUSE_TYPE.NAME" maxlength="10" class="form-control" required >
                                              </td>
                                              <td>
                                                  <span  ng-click="saveQMS_MA_ROOT_CAUSE_TYPE()" ><i class="fa fa-save"></i> </span>                                           
                                              </td>
                                       </tr>
                                       <tr  ng-repeat="mRootCauseTypeData in listRootCauseType" ng-include="getRootCauseTypeTemplate(mRootCauseTypeData)"></tr>
                                </tbody>
                         </table>
                
                    </div>

                   
                    <!-- *** ในส่วนของ Exception case ถ้าสร้างแล้ว จะเป็น List ลำดับต่อท้ายลงมา -->
               </div>
               <div class="modal-footer"></div>
          </div>
     </div>
</div>
<!-- end RootCauseType modal -->


<!-- Template RootCauseType -->
<script type="text/ng-template" id="displayRootCauseType">
        <td><input type="checkbox" ng-model="mRootCauseTypeData.ITEM_SELECTED" /></td>
        <td>{{ mRootCauseTypeData.NAME }}</td>
        <td>
            <span ng-click="editRootCauseType(mRootCauseTypeData)" ><i class="fa fa-edit set-pointer"></i></span>
        </td>
</script>
<script type="text/ng-template" id="editRootCauseType">
    <td><input type="checkbox" ng-model="mRootCauseTypeData.ITEM_SELECTED" /></td> 
    <td>
        <input class="form-control" type="text" name="QMS_MA_ROOT_CAUSE_TYPE_NAME" ng-model="mRootCauseTypeData.NAME"  maxlength="10"  required  />        
    </td>
    <td>
        <span ng-click="saveEditQMS_MA_ROOT_CAUSE_TYPE(mRootCauseTypeData)" ><i class="fa fa-save set-pointer"></i></span>
        <span ng-click="resetRootCauseType()" ><i class="fa fa-undo set-pointer"></i></span>
    </td>
</script>
<!-- Template RootCauseType -->


