﻿@{
  
    var createUser = ViewBag.createUser as QMSSystem.Model.CreateQMS_ST_AUTHORIZATION;
    var createLapAdmin = ViewBag.createLapAdmin as QMSSystem.Model.CreateQMS_ST_AUTHORIZATION;
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
}

<div  ng-app="myApp" ng-controller="myCtrl"> 
   <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>@Resources.Strings.Authorization</h3>
                <div class="clearfix"></div> 
              </div>
            </div> 
            <div class="clearfix"></div>
             <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                      @*<div class="x_title" style="text-align:right;">
                          <span class="btn btn-primary" ng-click="ReadTemplateFile()"><i class="fa fa-save"></i> ReadTemplateFile</span>
                          <div class="clearfix"></div>
                      </div>*@
                      <div class="x_title" style="text-align:right;">
                          <span class="btn btn-primary" ng-click="saveData()"><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                          <div class="clearfix"></div>
                      </div>
                      <div class="x_content">
                          <table class="table table-bordered" style="width:70%;">
                              <thead style="width:100%;">
                                  <tr>
                                      <th>@Resources.Strings.Items</th>
                                      <th>@Resources.Strings.User</th>
                                      <th>@Resources.Strings.LabAdmin</th>
                                  </tr>
                              </thead>
                              <tbody style="width:100%;">
                                  <tr>
                                      <td>@Resources.Strings.HOME</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_Home"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_Home"></td>
                                  </tr>
                                  <tr>
                                      <td>Product Quality Dashboard</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_Dashboard"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_Dashboard"></td>
                                  </tr>
                                  <tr>
                                      <td>@Resources.Strings.OffControlAndSpec</td>
                                      <td style="text-align:center;"></td>
                                      <td style="text-align:center;"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffControlReport</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_OffControl"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_OffControl"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffSpecReport</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_OffSpec"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_OffSpec"></td>
                                  </tr>
                                  <tr>
                                      <td>@Resources.Strings.TrendData</td>
                                      <td style="text-align:center;"></td>
                                      <td style="text-align:center;"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendHighlight</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendHighlight"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendHighlight"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendGAS</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendGAS"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendGAS"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendUtility</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendUtility"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendUtility"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendProduct</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendProduct"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendProduct"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendEmission</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendEmission"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendEmission"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendWasteWater / @Resources.Strings.WatseWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendWasteWater"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendWasteWater"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendWasteWater / @Resources.Strings.ObservePonds</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrenddObservePonds"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrenddObservePonds"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendWasteWater / @Resources.Strings.OilyWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrenddOilyWaters"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrenddOilyWaters"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendOther / @Resources.Strings.HotOil</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendHotOilFlashPoint"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendHotOilFlashPoint"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendOther / @Resources.Strings.TwoHundredThousandPond</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendTwoHundredThousandPond"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendTwoHundredThousandPond"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendOther / @Resources.Strings.HgInOutMRU</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendHgInPLMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendHgInPLMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendOther / @Resources.Strings.HgStab</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendHgStab"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendHgStab"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendOther / @Resources.Strings.SulfurInGas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendSulfurInGasMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendSulfurInGasMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendOther / @Resources.Strings.Acidoffgas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendAcidOffGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendAcidOffGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendData / @Resources.Strings.LabControlChart</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_TrendLabControlChart"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_TrendLabControlChart"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ProductQualityToCSC</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.D_ProductCSC"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.D_ProductCSC"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.IQCControlChart</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LabControlChart"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LabControlChart"></td>
                                  </tr>
                                  <tr>
                                      <td>@Resources.Strings.ManageData</td>
                                      <td style="text-align:center;"></td>
                                      <td style="text-align:center;"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.RawDataExport</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_RawDataExport"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_RawDataExport"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffControlcalculate</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_OffControlCal"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_OffControlCal"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffSpeccalculate</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_OffSpecCal"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_OffSpecCal"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TurnAround</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TurnAround"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TurnAround"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.Downtime</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_DownTime"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_DownTime"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ChangeGrade</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_ChangeGrade"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_ChangeGrade"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.CrossVolume</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_CrossVolume"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_CrossVolume"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.Abnormal</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_Abnormal"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_Abnormal"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ReduceFeed</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_ReduceFeed"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_ReduceFeed"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ExceptionCase</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_Exception"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_Exception"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.DataLake</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_DataLake"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_DataLake"></td>
                                  </tr>
                                  @*<tr>
            <td style="text-align:right;">@Resources.Strings.LoadDataLake</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LoadDataLake"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LoadDataLake"></td>
        </tr>
        <tr>
            <td style="text-align:right;">@Resources.Strings.LoadEventRawDataToDB</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LoadEventRawDataToDB"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LoadEventRawDataToDB"></td>
        </tr>
        <tr>
            <td style="text-align:right;">@Resources.Strings.LoadQmsRpOffControlToDataLake</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LoadQmsRpOffControlToDataLake"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LoadQmsRpOffControlToDataLake"></td>
        </tr>
        <tr>
            <td style="text-align:right;">@Resources.Strings.LoadQmsRpOffControlSummaryToDataLake</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LoadQmsRpOffControlSummaryToDataLake"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LoadQmsRpOffControlSummaryToDataLake"></td>
        </tr>
        <tr>
            <td style="text-align:right;">@Resources.Strings.LoadQmsRpOffControlStampToDataLake</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LoadQmsRpOffControlStampToDataLake"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LoadQmsRpOffControlStampToDataLake"></td>
        </tr>
        <tr>
            <td style="text-align:right;">@Resources.Strings.LoadAbnormalToDB</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LoadAbnormalToDB"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LoadAbnormalToDB"></td>
        </tr>
        <tr>
            <td style="text-align:right;">@Resources.Strings.LoadEventCalToDB</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_LoadEventCalToDB"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_LoadEventCalToDB"></td>
        </tr>
        <tr>
            <td style="text-align:right;">@Resources.Strings.CheckTotalEXQProduct</td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_CheckTotalEXQProduct"></td>
            <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_CheckTotalEXQProduct"></td>
        </tr>*@

                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateGAS</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateUtility</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateUtility"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateUtility"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.LoadCSCProduct</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateCSCProduct"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateCSCProduct"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.LoadCOAToDataLake</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateCOAToDataLake"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateCOAToDataLake"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateEmission</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateEmission"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateEmission"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateCOA</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateCOA"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateCOA"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateWasteWater / @Resources.Strings.WatseWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateWasteWater"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateWasteWater"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateWasteWater / @Resources.Strings.ObservePonds</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateObservePonds"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateObservePonds"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateWasteWater / @Resources.Strings.OilyWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateOilyWaters"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateOilyWaters"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HotOilFlashPoint</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateHotOilFlashPoint"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateHotOilFlashPoint"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HotOilPhysicalImpurity</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateHotOilPhysical"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateHotOilPhysical"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.ControlValueofClarifiedSystem</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateClarifiedSystem"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateClarifiedSystem"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.TwoHundredThousandPond</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateTwoHundredThousandPond"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateTwoHundredThousandPond"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HgInOutMRU</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateHgInPLMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateHgInPLMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HgStab</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateHgStab"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateHgStab"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.SulfurInGas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateSulfurInGasMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateSulfurInGasMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.Acidoffgas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_TemplateAcidOffGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_TemplateAcidOffGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">Product Mapping</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ProductMerge"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ProductMerge"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">Customer Mapping</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_CustomerMerge"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_CustomerMerge"></td>
                                  </tr>
                                  <tr>
                                      <td>@Resources.Strings.Report</td>
                                      <td style="text-align:center;"></td>
                                      <td style="text-align:center;"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffControlSummary</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.R_OffControlSum"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.R_OffControlSum"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffSpecSummary</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.R_OffSpecSum"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.R_OffSpecSum"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffControlCorrectData</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.R_CorrectData"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.R_CorrectData"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OffControlShiftAnalysis</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.R_Shift"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.R_Shift"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendDataGAS</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.R_TrendGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.R_TrendGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendUtility</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.R_TrendUtitliy"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.R_TrendUtitliy"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendProduct</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.R_TrendProduct"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.R_TrendProduct"></td>
                                  </tr>
                                  <tr>
                                      <td>@Resources.Strings.MasterData</td>
                                      <td style="text-align:center;"></td>
                                      <td style="text-align:center;"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.PlantAndProductMapping</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_PlantAndProduct"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_PlantAndProduct"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ReduceFeed</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ReduceFeed"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ReduceFeed"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.Downtime</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_DownTime"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_DownTime"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.CorrectData</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_CorrectData"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_CorrectData"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.KPI</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_KPI"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_KPI"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.IntervalSampling</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_IntervalSampling"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_IntervalSampling"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.SigmaLevel</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_SigmaLevel"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_SigmaLevel"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.OperationShift</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_Shift"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_Shift"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlValueofGAS</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.SpecValue</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_SpecGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_SpecGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlValueofUtility</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlUtility"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlUtility"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlValueofProduct</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlProdcut"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlProdcut"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlValueofEmission</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlEmission"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlEmission"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlWasteWater / @Resources.Strings.WatseWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlWatseWater"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlWatseWater"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlWasteWater / @Resources.Strings.ObservePonds</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlObservePonds"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlObservePonds"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlWasteWater / @Resources.Strings.OilyWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlOilyWaters"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlOilyWaters"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.HotOilFlashPoint</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlHotOilFlashPoint"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlHotOilFlashPoint"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.HotOilPhysicalImpurity</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlHotOilPhysical"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlHotOilPhysical"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.ControlValueofClarifiedSystem</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlClarifiedSystem"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlClarifiedSystem"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.TwoHundredThousandPond</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlTwoHundredThousandPond"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlTwoHundredThousandPond"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.HgInOutMRU</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlHgInPLMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlHgInPLMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.HgStab</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlHgStab"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlHgStab"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.SulfurInGas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlSulfurInGasMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlSulfurInGasMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ControlOther / @Resources.Strings.Acidoffgas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_ControlAcidOffGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_ControlAcidOffGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateGAS</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateUtility</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateUtility"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateUtility"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateEmission</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateEmission"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateEmission"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateWasteWater / @Resources.Strings.WatseWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateWatseWater"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateWatseWater"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateWasteWater / @Resources.Strings.ObservePonds</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateObservePonds"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateObservePonds"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateWasteWater / @Resources.Strings.OilyWaters</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateOilyWaters"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateOilyWaters"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HotOilFlashPoint</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateHotOilFlashPoint"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateHotOilFlashPoint"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HotOilPhysicalImpurity</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateHotOilPhysical"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateHotOilPhysical"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.ControlValueofClarifiedSystem</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateClarifiedSystem"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateClarifiedSystem"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.TwoHundredThousandPond</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateTwoHundredThousandPond"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateTwoHundredThousandPond"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HgInOutMRU</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateHgInPLMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateHgInPLMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.HgStab</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateHgStab"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateHgStab"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.SulfurInGas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateSulfurInGasMonthly"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateSulfurInGasMonthly"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TemplateOther / @Resources.Strings.Acidoffgas</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_TemplateAcidOffGas"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_TemplateAcidOffGas"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.Email</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_Email"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_Email"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.Unit</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.M_Unit"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.M_Unit"></td>
                                  </tr>
                                  <tr>
                                      <td>@Resources.Strings.Setting</td>
                                      <td style="text-align:center;"></td>
                                      <td style="text-align:center;"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.HomeBackground</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_Home"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_Home"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.Abnormal</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_Abnormal"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_Abnormal"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ExportDataBoundary</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_ExportData"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_ExportData"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ReportOffControlSpecSetting</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_ReportOff"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_ReportOff"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ExaquantumSchedule</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_ExtraSchedule"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_ExtraSchedule"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ImportExportEXQTemplate</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.N_ImpExpTemplate"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.N_ImpExpTemplate"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.TrendHighlight</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_TrendHightlight"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_TrendHightlight"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.ProductCSCPath</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_ProductCSCPath"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_ProductCSCPath"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.SortOption</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_SortOption"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_SortOption"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.SystemConnect</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_Connect"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_Connect"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.Authorization</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_Authen"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_Authen"></td>
                                  </tr>
                                  <tr>
                                      <td style="text-align:right;">@Resources.Strings.SystemLog</td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createUserModel.ATUH_DATA.S_Log"></td>
                                      <td style="text-align:center;"><input type="checkbox" ng-model="createAdminModel.ATUH_DATA.S_Log"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                      <!-- history -->
                      <div class="x_content">
                          <div class="col-md-6 col-sm-6 col-xs-6  ">
                              <div class="title_left text_left small_font_size ">
                                  @Resources.Strings.CreateBy {{StampUserModel.CREATE_USER}} ( {{StampUserModel.SHOW_CREATE_DATE }} )
                              </div>
                          </div><div class="col-md-6 col-sm-6 col-xs-6  ">
                              <div class="title_right text_right small_font_size ">
                                  @Resources.Strings.UpdateBy {{StampUserModel.UPDATE_USER}} ( {{StampUserModel.SHOW_UPDATE_DATE }} )
                              </div>
                          </div>
                      </div>
                      <!-- history -->
                  </div>
              </div>
            </div>
          </div>
</div>

<script type="text/javascript">

      app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        $scope.StampUserModel = getStampUserModel(); 
    
         $scope.createUserModel = getCreateUser();
         $scope.createAdminModel = getCreateLapAdmin();
        
         //console.log($scope.createAdminModel);

         $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
        $scope.IsInitialStatus = function(){
            if( $scope.createModel.DOC_STATUS  == 4)//initial
            {
                return true;
            }else{
                return false;
            } 
        }
         
        $scope.saveData = function () {   
            var urlName = get_base_url("Setting/CreateQMS_ST_AUTHORIZATION");      
            
            var jsonData = [];
            var user = $scope.createUserModel;
            var admin = $scope.createAdminModel;
            console.log("admin", admin);
            console.log("user", user);

            //console.log("admin",$scope.createAdminModel.ATUH_DATA);
            //console.log("user",$scope.createUserModel.ATUH_DATA);
            jsonData.push(user);
            jsonData.push(admin);
            
            console.log(jsonData);
             
            Fact.saveDataCallback(urlName, jsonData, function (response) {  

                console.log(response);
                    try{ 
                        $scope.createUserModel.ID = response.data.userId;
                        $scope.createAdminModel.ID = response.data.adminId; 
                        $scope.StampUserModel = response.data.history;
                        Fact.showMessage(response.data.message );
                    }catch(e){
                        console.log(e);
                    }   
            });            
                        

          }
          $scope.ReadTemplateFile = function () {
              var urlName = get_base_url("Setting/ReadTemplateFileDataToDatabaseByTemplateType");
              var jsonData = {
                  "templateType": 7
              };

              Fact.saveDataCallback(urlName, jsonData, function (response) {
                  try {
                  } catch (e) {
                      console.log(e);
                  }
              });


          }

//        $scope.init = function () { 
//            $scope.listPlant.forEach(function(entry) {
//		    	if($scope.createModel.PLANT_ID  == entry.ID){  
//		    		$scope.tempPlantId =  entry; 
//		    		return false;
//		    	} 
//			});            
//            $scope.listDocStatus.forEach(function(entry) {
//		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
//		    		$scope.tempDocStatusId =  entry; 
//		    		return false;
//		    	} 
//			});
//        }
//        
//        $scope.init();

    }); 


    function getCreateUser(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createUser)); 
        return lstData; 
    }
    
    
    function getCreateLapAdmin(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createLapAdmin)); 
        return lstData; 
    }

    function getStampUserModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStamp)); 
        return lstData; 
    }
</script>