﻿ @{ 
    var createQMS_ST_EXAQUATUM_SCHEDULE = ViewBag.createQMS_ST_EXAQUATUM_SCHEDULE as QMSSystem.Model.CreateQMS_ST_EXAQUATUM_SCHEDULE; 
    
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listStatus = ViewBag.listStatus as List<SelectListItem>; 
}
 <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>@Resources.Strings.ExaquantumSchedule @ViewBag.ActionName</h3>
                <div class="clearfix"></div> 
              </div>
            </div>

            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title"> 
                     <div class="row text_align_right" >
                        <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                        <a href="~/Setting/ListExaquatumSchedule"">
                            <span class="btn btn-primary" ><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                        </a> 
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.Plant
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <select
					            ng-model="tempPlantId"
					            chosen  
					            ng-options="item.NAME  for item in listPlant" >
					            <option value=""></option>
				        </select> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.DocStatus
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <select
					            ng-model="tempStatusId"
					            chosen  
					            ng-options="item.Text  for item in listStatus" >
					            <option value=""></option>
				        </select> 
                      </div>
                    </div>
                    <br> 
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.StartDate
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;">
                        <input type="text" class="form-control " ng-model="TempStartDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.EndDate
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <input type="text" class="form-control " ng-model="TempEndDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                      </div>
                    </div> 

                  </div>

                  
                    <!-- history -->
                    <div class="x_content" ng-show="createModel.ID">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size " >
		                        @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                        </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                        <div class="title_right text_right small_font_size " >
	                            @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                        </div>
                        </div>
                    </div>
                    <!-- history -->

                </div>
              </div>
            </div>
          </div>
        </div>


<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
       
        $scope.createModel = getCreateModel(); 
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempStatusId;
        $scope.listStatus = getListStatus();

        $scope.TempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
        $scope.TempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
         
        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        };
        
         
        $scope.saveData = function () {   
            var urlName = get_base_url("Setting/CreateQMS_ST_EXAQUATUM_SCHEDULE");          
            var jsonData = $scope.createModel;

            jsonData.START_DATE = $scope.TempStartDate;
            jsonData.END_DATE = $scope.TempEndDate;
            jsonData.PLANT_ID = $scope.tempPlantId.ID;
            jsonData.DOC_STATUS = $scope.tempStatusId.Value;

            console.log(jsonData);

            Fact.saveData(urlName, jsonData, true);
// 
//            Fact.saveDataCallback(urlName, jsonData, function(response){ 
//                Fact.showMessage(response.data.message); 
//                $scope.createModel.ID = response.data.dataId;
//                                       
//            });
       }

       $scope.init = function () { 
            
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempPlantId =  entry; 
		    		return false;
		    	} 
			});

            $scope.listStatus.forEach(function(entry) {
		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
		    		$scope.tempStatusId =  entry; 
		    		return false;
		    	} 
			});
        }
        
        $scope.init(); 

    }); 
     

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_ST_EXAQUATUM_SCHEDULE)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListStatus(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listStatus)); 
        return lstData; 
    }
     

</script>
