﻿@{    
    var create = ViewBag.create as QMSSystem.Model.CreateQMS_ST_EXPORT_PREFIX;
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
}
<div  ng-app="myApp" ng-controller="myCtrl">
    <div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>@Resources.Strings.ExportDataPrefixSetting</h3>
        <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row text_align_right" >
                    <span class="btn btn-primary" ng-click="saveData()"  ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                    <a href="~/Setting/ListExportDataPrefix"><span class="btn btn-primary" ><i class="fa fa-close"></i> @Resources.Strings.Close</span></a>
                </div>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
                @Resources.Strings.Plant <span class="required">*</span> 
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;"> 
                <select
					ng-model="tempProductId"
					chosen="{inherit_select_classes: true}" 
					ng-options="item.NAME  for item in listPlant"
					class=" chosen_required"
					name="lst_product" id="lst_product" >
					<option value=""></option>
				</select> 
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                </div> 
            </div><br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.Downtime</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control" maxlength="20" ng-model="createModel.DOWNTIME"   />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.DowntimePrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.DowntimeRemark</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.DOWNTIME_REMARK" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.DowntimeRemarkPrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.ReduceFeed</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.REDUCE_FEED" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.ReduceFeedPrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.ReduceFeedRemark</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.REDUCE_FEED_REMARK" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.ReduceFeedRemarkPrefix</div>
            </div><br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.LPGGRADE</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.LPG_GRADE" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.LPGGRADEPrefix</div>
            </div> <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError1</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_1" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError2</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_2" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError3</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_3" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError4</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_4" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError5</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_5" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCErrorRemark</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_REMARK" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.GCErrorRemarkPrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount1</div> 
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_1" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div> 
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount2</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_2" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount3</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_3" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount4</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_4" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount5</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_5" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount6</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_6" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount7</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_7" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount8</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_8" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount9</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_9" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount10</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_10" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>

              <!-- history -->
            <div class="x_content" ng-show="createModel.ID">
                <div class="col-md-6 col-sm-6 col-xs-6  ">
                    <div class="title_left text_left small_font_size " >
		                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                </div>
                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                <div class="title_right text_right small_font_size " >
	                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                </div>
                </div>
            </div>
            <!-- history -->
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        $scope.tempProductId = 0;//PLANT_ID
        $scope.createModel = getCreateModel();
        $scope.listPlant = getListPlantModel();
        $scope.StampUserModel = getStampUserModel();
          
        $scope.saveData = function () {            
            var urlName = get_base_url("Setting/CreateQMS_ST_EXPORT_PREFIX");

            console.log( $scope.tempProductId, $scope.tempProductId.ID);

            if($scope.tempProductId.ID> 0){

                $scope.createModel.PLANT_ID = $scope.tempProductId.ID;
                var jsonData = $scope.createModel;

                 Fact.saveDataCallback(urlName, jsonData, function (response) {  
                        console.log(response);
                         Fact.showMessage(response.data.message); 
                         $scope.createModel = response.data.history;
                        console.log($scope.createModel);     
                    });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
                 
        }  

        $scope.init = function () { 
           $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempProductId =  entry; 
		    		return false;
		    	} 
			});
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(create)); 
        return lstData; 
    }

    function getStampUserModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStamp)); 
        return lstData; 
    }

    function getListPlantModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }


</script>