﻿@{
    
    var createQMS_ST_FILE_ATTACH = ViewBag.createQMS_ST_FILE_ATTACH as QMSSystem.Model.CreateQMS_ST_FILE_ATTACH;

    var listTypeReport = ViewBag.listTypeReport as List<SelectListItem>;
     
}
<div ng-app="fileUpload" ng-controller="MyCtrl">
     <div class="">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.FileAttach @ViewBag.ActionName</h3>                 
               </div>
               <div class="clearfix"></div> 
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
          
         
            
             
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">                 
                               <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <a href="~/Setting/ListFileAttach">
                                      <span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                   </a>                    
                              </div>
                              <div class="clearfix"></div>                                
                         </div>
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">     
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span> 
                                        </label>   
                                        <div class="col-md-7 col-sm-7 col-xs-12 text_left">
                                             <input type="text" ng-model="createModel.NAME"  class="form-control col-md-7 col-xs-12">                                          
                                        </div>                                       
                                        <div class="clearfix"></div> 
                                   </div>                        
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Board<span class="required">*</span> 
                                        </label>
                                        <div class="col-md-7 col-sm-7 col-xs-12">
                                            <select
					                                ng-model="tempTypeReportId"
					                                chosen  
					                                ng-options="item.Text  for item in listTypeReport" >					                              
					                                <option value=""></option>
				                            </select>
                                        </div>
                                        <div class="clearfix"></div> 
                                   </div>                                                              
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.FileName <span class="required">*</span> 
                                        </label>      
                                        <div class="col-md-7 col-sm-7 col-xs-12 text_left">
                                             <input type="text" ng-model="createModel.PATH"  ng-readonly="true" aria-label="Readonly field" class="form-control col-md-7 col-xs-12">                                                                                       
                                        </div>                                           
                                        <div class="col-md-1 col-sm-1 col-xs-12"  > 
                                             <span class="btn btn-primary" ng-click="openUploadFile()"><i class="fa fa-search"></i> @Resources.Strings.SelectFile</span> 
                                        </div> 
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>


<!-- Attach File Dialog -->
         <div class="modal fade file-attach-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
               <div class="modal-dialog modal-lg">
                    <div class="modal-content"> 
                         <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                              <h4 class="modal-title" id="myModalLabel">@Resources.Strings.FileAttach</h4>
                         </div>
                         <div class="modal-body">
                              <form  name="form">
                                    <br />
                                    <br />
                                    @*<div class="col-md-2 col-sm-2 col-xs-12 text_right" >
                                         &nbsp;
                                    </div>*@
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name" style="text-align:right;">@Resources.Strings.FileName <span class="required">*</span>
                                        </label>
                                        <div class="col-md-7 col-sm-7 col-xs-12" > @*style="text-align:left;">*@
                                             <input type="text" ng-model="createModel.PATH"  ng-readonly="true" aria-label="Readonly field" class="form-control col-md-4 col-xs-12">
                                             @*<span >{{file.name}}</span>*@ 
                                              
                                        </div>         
                                        <div class="col-md-1 col-sm-1 col-xs-12"  ngf-select ng-model="file" name="file" ngf-pattern="'.xls,.csv,.xlsx'"
                                              ngf-accept="'.xls,.csv,.xlsx'" ngf-max-size="2048MB" ngf-min-height="100"  >
                                              <span class="btn btn-primary" >@Resources.Strings.Browse</span> 
                                              <img ngf-src="file" class="thumb"> 
                                        </div>

                                   </div>


                                    @*<div class="row">
                                         <br />
                                         <br />
                                         <div class="col-md-2 col-sm-2 col-xs-12 text_right" >
                                              &nbsp;
                                         </div>
                                         <div class="col-md-2 col-sm-2 col-xs-12 text_right" >
                                              @Resources.Strings.FileName
                                         </div>
                                         <div class="col-md-3 col-sm-3 col-xs-12 text_right" >                                                                                                                                     
                                              <input type="text" class="form-control"  name="year" maxlength="4" id="year" ng-model="year" number-only-input>
                                         </div>
                                         <div class="col-md-4 col-sm-4 col-xs-12"  ngf-select ng-model="file" name="file" ngf-pattern="'.xls,.csv,.xlsx'"
                                              ngf-accept="'.xls,.csv,.xlsx'" ngf-max-size="2048MB" ngf-min-height="100"  ><span class="btn btn-primary" >@Resources.Strings.Browse</span> 
                                              <img ngf-src="file" class="thumb"> {{file.name}}
                                         </div> 
                                    </div>*@
                              </form>
                         </div>
                         <div class="modal-footer">
                              <button type="button" class="btn btn-primary" ng-click="upload(file)" ><i class="fa fa-save"></i> @Resources.Strings.Upload</button>
                              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Cancel</button>
                         </div> 
                    </div>
               </div>
          </div>
       <!-- end Attach File modal -->



</div>
<script type="text/javascript">


    var app = angular.module('fileUpload', ['ngFileUpload', 'ui.date', 'localytics.directives', 'siyfion.sfTypeahead']); 
    app.directive("myConfirmClick", [
      function () {
          return {
              priority: -1,
              restrict: 'A',
              scope: { confirmFunction: "&myConfirmClick" },
              link: function (scope, element, attrs) {
                  element.bind('click', function (e) {
                      // message defaults to "Are you sure?"
                      var message = attrs.myConfirmClickMessage ? attrs.myConfirmClickMessage : "Are you sure?";

                      $("#dialog-confirm").modal({         // wire up the actual modal functionality and show the dialog
                          "backdrop": "static",
                          "keyboard": true,
                          "show": true                     // ensure the modal is shown immediately
                      }).one('click', '#btnYes', function () {
                          console.log("button pressed");   // just as an example...
                        scope.confirmFunction();
                        $("#dialog-confirm").modal('hide');  
                      }); 

                  });
              }
          }
      }
    ]);


    app.controller('MyCtrl', ['$scope', 'Upload',  '$http' , function ($scope, Upload, $http) {
      
        $scope.createModel = getCreateModel(); 
        $scope.createModel = getCreateModel();
        $scope.tempTypeReportId;
        $scope.listTypeReport = getListTypeReport();
      


         $scope.init = function () {                       
         
            $scope.listTypeReport.forEach(function(entry) {
		    	if($scope.createModel.BOARD_TYPE  == entry.Value){  
		    		$scope.tempTypeReportId =  entry; 
		    		return false;
		    	} 
			});
        }
        
     
   
        $scope.openUploadFile = function(){
            $scope.file = null;
            $(".file-attach-modal-lg").modal('show'); 
            console.log($scope.form.file);            
            //$scope.createModel.PATH = $attr.name;
        }

        $scope.upload = function (file) {
            if ($scope.form.file.$valid && $scope.file) {
                console.log("valid");
            }

            Upload.upload({
                url: 'Files/SaveFileAttachReport',
                data: { file: file}
            }).then(function (resp) { 
                 
                   $(".file-attach-modal-lg").modal('hide'); 
               

            }, function (resp) {
                console.log('Error status: ' + resp.status);
            }, function (evt) {
                var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
            });
        };
        

        $scope.showMessage = function(msg){
             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	         $('#show_message').html(msg);
	         $('#myMessageModal').modal('show');
        }

        
        $scope.saveData = function(){

            $('#overlay').show(); //$('#myWaitModal').modal('show');
            var urlName = get_base_url("Setting/CreateQMS_ST_FILE_ATTACH");

            $scope.createModel.BOARD_TYPE = $scope.tempTypeReportId.Value;
            var jsonData = $scope.createModel;

             $(".operationEdit-shift-modal-lg").modal('hide'); 

	         $http({
	             url: urlName,
	             method: "POST", 
	             data: jsonData, 
	             headers: { 'Content-Type': 'application/json;charset=UTF-8' }
	         }).then(function (response) {
                $(".tableshift").show(); 
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             if ('1' == response.data.result) {
                     $scope.createModel.ID = response.data.dataId;
	             } else {
	                 $scope.showMessage(response.data.message);
	             }
	         }, function (response) {
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             $scope.showMessage(response.data.message);
	         });
        }
        
        $scope.init();

  } ]);




    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_ST_FILE_ATTACH)); 
        return lstData; 
    }

 
    function getListTypeReport(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTypeReport)); 
        return lstData; 
    }

  
</script>
