﻿@{    
    var create = ViewBag.create as QMSSystem.Model.CreateExportDataBoundary;
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
}

<div  ng-app="myApp" ng-controller="myCtrl">
    <div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>@Resources.Strings.ExportDataBoundary </h3>
        <div class="clearfix"></div> 
        </div>
    </div> 
    <div class="clearfix"></div>
    <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title"> 
            <div class="row text_align_right" >
                <span ng-click="saveData()"  class="btn btn-primary" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
            </div>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" >@Resources.Strings.UpperBoundary</div>
                <div class="col-md-4 col-sm-4 col-xs-12" >
                    <input type="text"  ng-model="createModel.UPPER_BOUNDARY" maxlength="3" class="form-control" placeholder="" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.Records</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" >@Resources.Strings.LowerBoundary</div>
                <div class="col-md-4 col-sm-4 col-xs-12" >
                    <input type="text"  ng-model="createModel.LOWER_BOUNDARY" maxlength="3" class="form-control" placeholder=""  >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.Records</div>
            </div>
            <br>

             <!-- history -->
            <div class="x_content"  >
                <div class="col-md-6 col-sm-6 col-xs-6  ">
                    <div class="title_left text_left small_font_size " >
		                @Resources.Strings.CreateBy {{StampUserModel.CREATE_USER}} ( {{StampUserModel.SHOW_CREATE_DATE }} )
	                </div>
                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                <div class="title_right text_right small_font_size " >
	                    @Resources.Strings.UpdateBy {{StampUserModel.UPDATE_USER}} ( {{StampUserModel.SHOW_UPDATE_DATE }} )
	                </div>
                </div>
            </div>
            <!-- history -->
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
     
        $scope.bResultTable = true;
        $scope.createModel = getCreateModel();
          
        $scope.StampUserModel = getStampUserModel();
       
        $scope.saveData = function () {

            var urlName = get_base_url("Setting/CreateExportDataBoundary"); 
            var jsonData = {                                "LOWER_BOUNDARY":$scope.createModel.LOWER_BOUNDARY,                                "UPPER_BOUNDARY":$scope.createModel.UPPER_BOUNDARY                           }; 
            console.log(jsonData);

            $http({
                url: urlName,
                method: "POST",
                data: $httpParamSerializerJQLike(jsonData),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(function (response) {
                if ('1' == response.data.result) {
                   Fact.showMessage(response.data.message);
                   $scope.StampUserModel = response.data.history;
                } else {
                   Fact.showError(response.data.message);
                }
            },
			function (response) { // optional
			    console.log(response);
                 Fact.showError(response);
			});
        }

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(create)); 
        return lstData; 
    }

     function getStampUserModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStamp)); 
        return lstData; 
    }

</script>