﻿@{    
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
}
 <div >
    <div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>@Resources.Strings.HomeBackgroundSetting</h3>
        <div class="clearfix"></div>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
    <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;"></div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;"></div>
        <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;"></div>
        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;"></div>
    </div>
    <br/> 
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="containerLogoImage" style="height:300px;" ></div>             
        </div>
    </div>
    <br>
    <form ng-app="fileUpload" ng-controller="MyCtrl" name="form">
        @*<div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.HomeBackground</div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
              <input type="file" class="form-control" placeholder="" />
            </div>
          <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left;"> 
             <a href="#"><span class="btn btn-primary" ><i class="fa fa-save"></i> @Resources.Strings.Save</span></a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;"></div>
        </div>*@
        <div class="row"> 
              <div class="col-md-2 col-sm-2 col-xs-12"  ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
                ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"  ><span class="btn btn-primary" >Select Image</span> 
                <img ngf-src="file" class="thumb">
              </div>
              <div class="col-md-2 col-sm-2 col-xs-12"> 
                <span  class="btn btn-primary" ng-click="upload(file)"><i class="fa fa-save"></i> @Resources.Strings.Save</span>
              </div>
        </div> 

          
        <!-- history -->
        <div class="x_content"  >
            <div class="col-md-6 col-sm-6 col-xs-6  ">
                <div class="title_left text_left small_font_size " >
		            @Resources.Strings.CreateBy {{StampUserModel.CREATE_USER}} ( {{StampUserModel.SHOW_CREATE_DATE }} )
	            </div>
            </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	            <div class="title_right text_right small_font_size " >
	                @Resources.Strings.UpdateBy {{StampUserModel.UPDATE_USER}} ( {{StampUserModel.SHOW_UPDATE_DATE }} )
	            </div>
            </div>
        </div>
        <!-- history -->
     </form>
    </div>
</div>

  
<script type="text/javascript">

var app = angular.module('fileUpload', ['ngFileUpload']);

app.controller('MyCtrl', ['$scope', 'Upload', function ($scope, Upload) {
    // upload later on form submit or something similar
    /*$scope.submit = function() {
    if ($scope.form.file.$valid && $scope.file) {
    $scope.upload($scope.file);
    }
    };*/

    $scope.StampUserModel = getStampUserModel();

    // upload on file select or drop
    $scope.upload = function (file) {
        if ($scope.form.file.$valid && $scope.file) {
            console.log("valid");
        }

        Upload.upload({
            url: 'Files/SaveBackgroudImage',
            data: { file: file} //, 'username': $scope.username}
        }).then(function (resp) {
            console.log('Success ' + resp.config.data.file.name + 'uploaded. Response: ' + resp.data);
            location.reload();
        }, function (resp) {
            console.log('Error status: ' + resp.status);
        }, function (evt) {
            var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
            console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
        });
    };
    // for multiple files:
    $scope.uploadFiles = function (files) {
        /*if (files && files.length) {
        for (var i = 0; i < files.length; i++) {
        Upload.upload({..., data: {file: files[i]}, ...})...;
        }
        // or send them all together for HTML5 browsers:
        Upload.upload({..., data: {file: files}, ...})...;
        }*/
    }
} ]);

function getStampUserModel(){
    var self = this;
    var lstData = @Html.Raw(Json.Encode(userStamp)); 
    return lstData; 
}
</script>