﻿@{    
    var create = ViewBag.create as QMSSystem.Model.CreateQMS_ST_EXPORT_PREFIX;
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;

    var searchExportPrefix = ViewBag.searchExportPrefix as QMSSystem.Model.ExportPrefixSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_COA_PRODUCT>; 
}
<div  ng-app="myApp" ng-controller="myCtrl">
     
    <div class="page-title">
        <div class="title_left">
        <h3>@Resources.Strings.ExportDataPrefixSetting</h3>
        <div class="clearfix"></div>
        </div>
    </div>

    <div class="clearfix"></div>
    <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 

    <div class="row"   ng-show="showList">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title"> 
             <div class="row " > 
                <span ng-click="showExportPrefixSearch()" class="btn btn-primary " ><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                <span class="btn btn-primary "  my-confirm-click="delExportPrefix()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
            </div>
            <div class="clearfix"></div>
            </div>
            <div class="x_content  tblResult " style="display:none;" >
                <div  class="form-horizontal form-label-left" ng-show="showSearch" >
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <select style="width:200px;" 
					            ng-model="SearchtempPlantId"
					            chosen  
					            ng-options="item.NAME  for item in listPlant" 
					             >
					            <option value=""></option>
				            </select> 
                        </div> 
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary" ng-click="loadExportPrefix()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                            <button type="button" class="btn btn-primary" ng-click="clearExportPrefix()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                            <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                        </div>
                    </div>
                </div>
                

                <table class="table table-bordered" style="width:50%;">
                <thead style="width:100%;">
                    <tr>
                        <th>
                            <input type="checkbox" ng-model="AllExportPrefix" ng-change="SelectAllCheck()" >
                        </th>
                        <th class=" sorting_desc" ng-click="sort($event)" sort="PLANT_ID">@Resources.Strings.Plant</th>
                        <th>@Resources.Strings.Tools</th>
                    </tr>
                </thead>
                <tbody >
                    <tr ng-repeat="mExportPrefix in listExportPrefix" >
                        <td><input type="checkbox" ng-model="mExportPrefix.ITEM_SELECTED" /></td>
                        <td>{{mExportPrefix.PLANT_NAME}}</td>
                        <td><i class="fa fa-edit set-pointer"  ng-click="editData(mExportPrefix)"></i></td>
                    </tr>
                </tbody>
                </table> 
            </div>
                        <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->
        </div>
        </div> 
    </div>
     

    <div class="modal fade" id="searchExportPrefix" style="display:none" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myMessageModalLabel">@Resources.Strings.Search</h4>
                </div>
                <div class="modal-body">
                    <p>
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="text-align:right;">
                                @Resources.Strings.Plant
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align:left;"> 
                                <select style="width:200px;" 
					                ng-model="tempPlantId"
					                chosen  
					                ng-options="item.NAME  for item in listProduct" 
					                name="lst_product" id="lst_product">
					                <option value=""></option>
				                </select> 
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3" >
                            </div>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                   <button type="button" ng-click="getExportPrefixSearch()" class="btn btn-primary" ><i class="fa fa-search"></i>@Resources.Strings.Search</button>
                   <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Strings.Cancel</button>           
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div> 

    <div class="row" ng-show="showDevice"  >
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <div class="row text_align_right" >
                    <span class="btn btn-primary" ng-click="saveData()"  ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                    <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                </div>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
             <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
                @Resources.Strings.Plant <span class="required">*</span> 
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;"> 
                <select
					ng-model="tempPlantId"
					chosen="{inherit_select_classes: true}" 
					ng-options="item.NAME  for item in listPlant"
					class=" chosen_required"
					name="lst_product" id="lst_product" >
					<option value=""></option>
				</select> 
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                </div> 
            </div><br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.Downtime</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control" maxlength="20" ng-model="createModel.DOWNTIME"   />
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.DowntimePrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.DowntimeRemark</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.DOWNTIME_REMARK" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.DowntimeRemarkPrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.ReduceFeed</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.REDUCE_FEED" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.ReduceFeedPrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.ReduceFeedRemark</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.REDUCE_FEED_REMARK" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.ReduceFeedRemarkPrefix</div>
            </div><br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.LPGGRADE</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.LPG_GRADE" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.LPGGRADEPrefix</div>
            </div> <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError1</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_1" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError2</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_2" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError3</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_3" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError4</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_4" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCError5</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_5" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.CheckGConlineError</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCErrorRemark</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_ERROR_REMARK" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">@Resources.Strings.GCErrorRemarkPrefix</div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount1</div> 
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_1" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div> 
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount2</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_2" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount3</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_3" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount4</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_4" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount5</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_5" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount6</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_6" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount7</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_7" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount8</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_8" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount9</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_9" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.GCCycleCount10</div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                <input type="text" class="form-control"  maxlength="20" ng-model="createModel.GC_CYCCOUNT_10" >
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"></div>
            </div>

              <!-- history -->
            <div class="x_content" ng-show="createModel.ID">
                <div class="col-md-6 col-sm-6 col-xs-6  ">
                    <div class="title_left text_left small_font_size " >
		                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                </div>
                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                <div class="title_right text_right small_font_size " >
	                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                </div>
                </div>
            </div>
            <!-- history -->
            </div>
        </div>
        </div>
    </div>
     

</div>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        $scope.tempPlantId;//PLANT_ID
        $scope.createModel = getCreateModel();
        $scope.listPlant = getListPlantModel();
        $scope.StampUserModel = getStampUserModel();
          
        $scope.saveData = function () {            
            var urlName = get_base_url("Setting/CreateQMS_ST_EXPORT_PREFIX");
             
            if($scope.tempPlantId.ID> 0){

                $scope.createModel.PLANT_ID = $scope.tempPlantId.ID;
                var jsonData = $scope.createModel;

                 Fact.saveDataCallback(urlName, jsonData, function (response) {  
                        if(response.data.result == 1){
                             $scope.loadExportPrefix(); 
                        } 
                         Fact.showMessage(response.data.message); 
                         $scope.createModel = response.data.history;    
                    });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
                 
        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
              
            $scope.tempPlantId = {}; 
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            
            $scope.listPlant.forEach(function(entry) {   
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
                    console.log($scope.createModel.PLANT_ID);
		    		$scope.tempPlantId =  entry;  
		    		return false;
		    	}
			});
              
          console.log($scope.tempPlantId);
        }


         $scope.mSearch = getSearchModel();

        $scope.TempPageSize; 
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listProduct;
        $scope.listExportPrefix; // listdata
        $scope.AllExportPrefix; //checkbox

        $scope.showSearch = false;
        

        $scope.clearExportPrefix = function() {  
            $scope.SearchtempPlantId = {};
               $scope.mSearch = getSearchModel();
               $scope.loadExportPrefix();
        }

        //Search
        $scope.SearchtempPlantId ;
        $scope.listProduct = getListProductModel();
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listExportPrefix, $scope.AllExportPrefix) }
          
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadExportPrefix();
        }
         
        $scope.showExportPrefixSearch = function(){  $scope.showSearch = true; }
        $scope.closeExportPrefixSearch = function() { $scope.showSearch = false; }
        //$scope.showExportPrefixSearch = function(){ $("#searchExportPrefix").modal('show');}
        $scope.getExportPrefixSearch = function()
        {
            $("#searchExportPrefix").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempProductId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempProductId.ID;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadExportPrefix();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadExportPrefix(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadExportPrefix(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadExportPrefix(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadExportPrefix(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadExportPrefix(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadExportPrefix(); }

        $scope.loadExportPrefix = function () { 
             
            if( typeof $scope.SearchtempPlantId !== "undefined" && null !=  $scope.SearchtempPlantId.ID){ 
                $scope.mSearch.PLANT_ID = $scope.SearchtempPlantId.ID;
            }else{
                 $scope.mSearch.PLANT_ID =  0;
            }

            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                     $scope.listExportPrefix = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delExportPrefix = function(){
            Fact.deleteMultiData($scope.listExportPrefix, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadExportPrefix(); });
        }

        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Setting/GetQMS_ST_EXPORT_PREFIXBySearch"));
            Fact.setDelelteUrl(get_base_url("Setting/DeleteQMS_ST_EXPORT_PREFIX"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});
            Fact.setSortIcon();
            $scope.loadExportPrefix();
        }

     
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(create)); 
        return lstData; 
    }

    function getStampUserModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStamp)); 
        return lstData; 
    }

    function getListPlantModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

     function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchExportPrefix)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListProductModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }

</script>