﻿@{    
    var searchFileAttach = ViewBag.searchFileAttach as QMSSystem.Model.FileAttachSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var listTypeReport = ViewBag.listTypeReport as List<SelectListItem>;

}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">

          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.FileAttach</h3>
                    <div class="clearfix"></div>

               </div>
          </div>

          <div class="clearfix"></div>
          <hr>


          <div class="row">

               <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_panel">

                         <div class="x_title">
                                <span ng-click="showFileAttachSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                <a href="~/Setting/CreateFileAttach"><span  class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span></a>
                                <span class="btn btn-primary "  my-confirm-click="delFileAttach()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                         </div>
                       
                         <div class="x_content tblResult " style="display:none;" >
                            <div class="form-horizontal form-label-left" ng-show="showSearch">
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="createModel.NAME"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.FileName</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="createModel.PATH"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Board <span class="required">*</span> 
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                            ng-model="tempTypeReportId"
					                            chosen  
					                            ng-options="item.Text  for item in listTypeReport" >
					                            <option value=""></option>
				                        </select> 
                                   </div>
                              </div> 
                              
                              <div class="ln_solid"></div>
                              <div class="form-group">
                                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="button" class="btn btn-primary" ng-click="loadFileAttach()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                        <button type="button" class="btn btn-primary" ng-click="clearFileAttach()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                        <button type="button" class="btn btn-primary"  ng-click="closeFileAttachSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                   </div>
                              </div>
                         </div>
                              <table class="table table-bordered" >
                                     <thead>
                                            <tr>
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                      <input type="checkbox" ng-model="AllFileAttach" ng-change="SelectAllCheck()" >
                                                </th>
                                                <th class=" sorting" ng-click="sort($event)" sort="NAME" >@Resources.Strings.Name</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="PATH" >@Resources.Strings.FileName</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="BOARD_NAME" >Board</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                                            <tr>
                                     </thead>
                                     <tbody>
                                            <tr ng-repeat="mFileAttach in listFileAttach" >
                                                <td><input type="checkbox" ng-model="mFileAttachData.ITEM_SELECTED" /></td>
                                                <td>{{ mFileAttach.NAME }}</td>
                                                <td>{{ mFileAttach.PATH }}</td>
                                                <td>{{ mFileAttach.BOARD_NAME }}</td>
                                                <td><i class="fa fa-edit set-pointer"  ng-click="editData(mFileAttach)"></i></td>
                                            </tr>                                            
                                     </tbody>
                              </table>

                        </div>

                        <!-- ทำหน้า -->
                        <div class="row tblResult " style="display:none;" >
                             <div class="col-md-7 col-sm-7 col-xs-6">
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                       @Resources.Strings.ResultsPerPage
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                       <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                           </select> 
                                  </div>
                             </div>
                             <div class="col-md-5 col-sm-5 col-xs-6">
                                  <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                       <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                  </div>
                                  <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                       <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                           </select>
                                 </div>
                                 <div class="col-md-4 col-sm-4 col-xs-12">
                                      <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                 </div>
                                 </div>
                        </div>
                        <!-- ทำหน้า -->
                    </div>
                    <!-- *** ในส่วนของ Exception case ถ้าสร้างแล้ว จะเป็น List ลำดับต่อท้ายลงมา -->

               </div>

          </div>

     </div>
</div>


<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempTypeReportId;
        $scope.listTypeReport = getListTypeReport();

        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('NAME');
        $scope.SortOrder = Fact.setSortOrder('asc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex; 
        $scope.listTypeReport; // listdata
        $scope.AllTypeReport; //checkbox

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listFileAttach, $scope.AllFileAttach) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("Setting/CreateFileAttach") + "?id=" + mData.ID ); }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadFileAttach();
        }
        
        $scope.clearFileAttach = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.createModel.NAME = null;
               $scope.tempTypeReportId =  {};
               $scope.createModel.PATH = null;
               $scope.loadFileAttach(); 
                                                            
        }

        $scope.showFileAttachSearch = function(){  $scope.showSearch = true; /*$("#searchFileAttach").modal('show');*/}
        $scope.closeFileAttachSearch = function() { $scope.showSearch = false; }
        $scope.getFileAttachSearch = function()
        {
            $("#searchFileAttach").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempTypeReportId !== "undefined" ){
                $scope.mSearch.BOARD_TYPE = $scope.tempTypeReportId.ID;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadFileAttach();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadFileAttach(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadFileAttach(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadFileAttach(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadFileAttach(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadFileAttach(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadFileAttach(); }

        $scope.loadFileAttach = function () { 
            if(typeof $scope.tempTypeReportId !== "undefined")
                $scope.mSearch.BOARD_TYPE = $scope.tempTypeReportId.ID;

            Fact.loadDataTable($scope.mSearch, function(response){               
                try{
                    $scope.listFileAttach = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delFileAttach = function(){
            Fact.deleteMultiData($scope.listFileAttach, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadFileAttach(); });
        }

        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Setting/GetQMS_ST_FILE_ATTACHBySearch"));
            Fact.setDelelteUrl(get_base_url("Setting/DeleteQMS_ST_FILE_ATTACH"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadFileAttach();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchFileAttach)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListTypeReport(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTypeReport)); 
        return lstData; 
    }



     
</script>
