﻿ @{ 
    var createQMS_ST_EXAQUATUM_SCHEDULE = ViewBag.createQMS_ST_EXAQUATUM_SCHEDULE as QMSSystem.Model.CreateQMS_ST_EXAQUATUM_SCHEDULE; 
    
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listStatus = ViewBag.listStatus as List<SelectListItem>;

    var searchExaSchedule = ViewBag.searchExaSchedule as QMSSystem.Model.ExaScheduleSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
}
 <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>@Resources.Strings.ExaquantumSchedule  </h3>
                <div class="clearfix"></div> 
              </div>
            </div>

            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
           
           <div class="row" ng-show="showList">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                     <div class="x_title"> 
                            <span ng-click="showExaScheduleSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                            <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                            <span class="btn btn-primary "  my-confirm-click="delExaSchedule()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                        <div class="clearfix"></div>                                    
                    </div> 
                  <div class="x_content tblResult"  style="display:none;" >
                    <div class="form-horizontal form-label-left" ng-show="showSearch"> 
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select
					                    ng-model="SearchtempPlantId"
					                    chosen  
					                    ng-options="item.NAME  for item in listPlant" >
					                    <option value=""></option>
				                    </select> 
                            </div>
                        </div>     
                        <div class="form-group">
                          <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.DocStatus <span class="required">*</span> 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select
					                        ng-model="SearchtempStatusId"
					                        chosen  
					                        ng-options="item.Text  for item in listStatus" >
					                        <option value=""></option>
				                    </select> 
                            </div>
                        </div>                                
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.StartDate </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                               <input type="text" class="form-control " ng-model="SearchTempStartDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.EndDate </span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control " ng-model="SearchTempEndDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                            </div>
                        </div> 
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                <button type="button" class="btn btn-primary" ng-click="loadExaSchedule()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                <button type="button" class="btn btn-primary" ng-click="clearExaSchedule()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                            </div>
                        </div>
                        <div class="ln_solid"></div>
                    </div>

                    <table class="table table-bordered" style="width:100%;">
                      <thead style="width:100%;">
                        <tr>
                           <th class="col-md-1 col-sm-1 col-xs-1">
                                <input type="checkbox" ng-model="AllExaSchedule" ng-change="SelectAllCheck()" >
                          </th>
                          <th class=" sorting" ng-click="sort($event)" sort="PLANT_NAME" >@Resources.Strings.Plant</th>
                          <th class=" sorting" ng-click="sort($event)" sort="START_DATE" >@Resources.Strings.StartDate</th>
                          <th class=" sorting" ng-click="sort($event)" sort="END_DATE" >@Resources.Strings.EndDate</th>
                          <th class=" sorting" ng-click="sort($event)" sort="DOC_STATUS" >@Resources.Strings.DocStatus</th>
                          <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                        </tr>
                      </thead>
                      <tbody >
                            <tr ng-repeat="mExaSchedule in listExaSchedule" >
                                <td><input type="checkbox" ng-model="mExaSchedule.ITEM_SELECTED" /></td>
                                <td>{{mExaSchedule.PLANT_NAME}}</td>
                                <td>{{mExaSchedule.START_DATE | showdateformat}}</td>
                                <td>{{mExaSchedule.END_DATE | showdateformat}}</td>
                                <td>{{mExaSchedule.DOC_STATUS_NAME}}</td> 
                                <td><i class="fa fa-edit set-pointer"  ng-click="editData(mExaSchedule)"></i></td>
                            </tr>
                        </tbody>
                    </table>


                  </div>
                  <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->
                </div>

              </div>


            </div>


           
            <div class="row"   ng-show="showDevice"  >
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title"> 
                     <div class="row text_align_right" >
                        <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                        <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.Plant
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <select
					            ng-model="tempPlantId"
					            chosen  
					            ng-options="item.NAME  for item in listPlant" >
					            <option value=""></option>
				        </select> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.DocStatus
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <select
					            ng-model="tempStatusId"
					            chosen  
					            ng-options="item.Text  for item in listStatus" >
					            <option value=""></option>
				        </select> 
                      </div>
                    </div>
                    <br> 
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.StartDate
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;">
                        <input type="text" class="form-control " ng-model="TempStartDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.EndDate
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <input type="text" class="form-control " ng-model="TempEndDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                      </div>
                    </div> 

                  </div>

                  
                    <!-- history -->
                    <div class="x_content" ng-show="createModel.ID">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size " >
		                        @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                        </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                        <div class="title_right text_right small_font_size " >
	                            @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                        </div>
                        </div>
                    </div>
                    <!-- history -->

                </div>
              </div>
            </div>
          </div>
        </div>


<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
       
        $scope.createModel = getCreateModel(); 
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempStatusId;
        $scope.listStatus = getListStatus();

        $scope.TempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
        $scope.TempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
         
        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        };
        
         
        $scope.saveData = function () {   
            var urlName = get_base_url("Setting/CreateQMS_ST_EXAQUATUM_SCHEDULE");          
            var jsonData = $scope.createModel;

            jsonData.START_DATE = $scope.TempStartDate;
            jsonData.END_DATE = $scope.TempEndDate;
            jsonData.PLANT_ID = $scope.tempPlantId.ID;
            jsonData.DOC_STATUS = $scope.tempStatusId.Value;
             

           // Fact.saveData(urlName, jsonData, true);
 
            Fact.saveDataCallback(urlName, jsonData, function(response){ 

              
                if(response.data.result == 1){
                        $scope.loadExaSchedule();
                        $scope.showDeviceData();
                }else{
                    Fact.showMessage(response.data.message); 
                }                    
            });
       }


        /**Special case by case ตาม search model**/ 
        $scope.SearchtempPlantId;
        $scope.SearchtempStatusId;  
        $scope.SearchTempStartDate = null;
        $scope.SearchTempEndDate = null;
        $scope.listPlant = getListPlant();
        $scope.listStatus = getListStatus();
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listExaSchedule; // listdata
        $scope.AllExaSchedule; //checkbox

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { console.log($scope.listExaSchedule); Fact.SelectAllCheck($scope.listExaSchedule, $scope.AllExaSchedule) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("Setting/CreateExaquatumSchedule") + "?id=" + mData.ID ); }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadExaSchedule();
        }

        
        $scope.clearExaSchedule = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.SearchtempPlantId = {};  
               $scope.SearchtempStatusId = {};  
               $scope.SearchTempStartDate = null; 
               $scope.SearchTempEndDate = null; 

               $scope.loadExaSchedule();
        } 
        $scope.showExaScheduleSearch = function(){  $scope.showSearch = true; }
        $scope.closeExaScheduleSearch = function() { $scope.showSearch = false; }

        $scope.getExaScheduleSearch = function()
        { 
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadExaSchedule();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadExaSchedule(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadExaSchedule(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadExaSchedule(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadExaSchedule(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadExaSchedule(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadExaSchedule(); }

        $scope.loadExaSchedule = function () { 
            if( typeof $scope.SearchtempPlantId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.SearchtempPlantId.ID;
            }
            if( typeof $scope.SearchtempStatusId !== "undefined" ){
                $scope.mSearch.DOC_STATUS = $scope.SearchtempStatusId.Value;
            }

            if( typeof $scope.SearchTempStartDate !== "undefined" ){
                $scope.mSearch.START_DATE = $scope.SearchTempStartDate;
            }
            if( typeof $scope.SearchTempEndDate !== "undefined" ){
                $scope.mSearch.END_DATE = $scope.SearchTempEndDate;
            } 
            
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listExaSchedule = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                     
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delExaSchedule = function(){
            Fact.deleteMultiData($scope.listExaSchedule, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadExaSchedule(); });
        }


        
        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
            
            $scope.tempPlantId = {};
            $scope.tempStatusId = {};
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempPlantId =  entry; 
		    		return false;
		    	} 
			});

            $scope.listStatus.forEach(function(entry) {
		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
		    		$scope.tempStatusId =  entry; 
		    		return false;
		    	} 
			});

            $scope.TempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
            $scope.TempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE); 
        }
        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Setting/GetQMS_ST_EXAQUATUM_SCHEDULEBySearch"));
            Fact.setDelelteUrl(get_base_url("Setting/DeleteQMS_ST_EXAQUATUM_SCHEDULE"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadExaSchedule();
        }
         
        $scope.init(); 

    }); 
     

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_ST_EXAQUATUM_SCHEDULE)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListStatus(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listStatus)); 
        return lstData; 
    }
     
      function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchExaSchedule)); 
        return lstData; 
    }

      function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

</script>
