﻿@{    
    var create = ViewBag.ProductCSCPath as QMSSystem.Model.CreatePRODUCT_CSC_PATH;
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
}

<div  ng-app="myApp" ng-controller="myCtrl">
    <div class="">
    <div class="page-title">
        <div class="title_left">
        <h3>@Resources.Strings.ProductCSCPath </h3>
        <div class="clearfix"></div> 
        </div>
    </div> 
    <div class="clearfix"></div>
    <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title"> 
            <div class="row text_align_right" >
                <span ng-click="saveData()"  class="btn btn-primary" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
            </div>
            <div class="clearfix"></div>
            </div>
            <div class="x_content">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12" >@Resources.Strings.ProductCSCPath <span class="required">*</span></div>
                <div class="col-md-8 col-sm-8 col-xs-12" >
                    <input type="text"  ng-model="createModel.PRODUCT_CSC_PATH" maxlength="400" class="form-control"  required >
                </div> 
            </div>
            <br />
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12" >@Resources.Strings.ProductCSCName <span class="required">*</span></div>
                <div class="col-md-8 col-sm-8 col-xs-12" >
                    <input type="text"  ng-model="createModel.PRODUCT_CSC_NAME" maxlength="80" class="form-control"   required>
                </div> 
            </div>
            <br /><br />

             <!-- history -->
            <div class="x_content"  >
                <div class="col-md-6 col-sm-6 col-xs-6  ">
                    <div class="title_left text_left small_font_size " >
		                @Resources.Strings.CreateBy {{StampUserModel.CREATE_USER}} ( {{StampUserModel.SHOW_CREATE_DATE }} )
	                </div>
                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                <div class="title_right text_right small_font_size " >
	                    @Resources.Strings.UpdateBy {{StampUserModel.UPDATE_USER}} ( {{StampUserModel.SHOW_UPDATE_DATE }} )
	                </div>
                </div>
            </div>
            <!-- history -->
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {  
        $scope.bResultTable = true;
        $scope.createModel = getCreateModel();
          
        $scope.StampUserModel = getStampUserModel(); 

         

        $scope.saveData = function () {

            if( typeof $scope.createModel.PRODUCT_CSC_PATH !== "undefined"  
                && $scope.createModel.PRODUCT_CSC_PATH !== null 
                && $scope.createModel.PRODUCT_CSC_PATH != "" 
                && typeof $scope.createModel.PRODUCT_CSC_NAME !== "undefined"  
                && $scope.createModel.PRODUCT_CSC_NAME !== null 
                && $scope.createModel.PRODUCT_CSC_NAME != ""
              ){
                var urlName = get_base_url("Setting/CreateProductCSCPath"); 
                var jsonData = {                                    "PRODUCT_CSC_PATH":$scope.createModel.PRODUCT_CSC_PATH,                                    "PRODUCT_CSC_NAME":$scope.createModel.PRODUCT_CSC_NAME                                };

                $http({
                    url: urlName,
                    method: "POST",
                    data: $httpParamSerializerJQLike(jsonData),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                }).then(function (response) {
                    if ('1' == response.data.result) {
                        $scope.StampUserModel = response.data.history;
                        Fact.showMessage(response.data.message);
                    } else {
                        Fact.showError(response.data.message);
                    }
                },
			    function (response) { // optional 
                        Fact.showError(response);
			    });
            
            
            }else{
                 Fact.showMessage("@Resources.Strings.PleaseInputData");
            }     
           
        }

    }); 
     
    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(create));
        console.log(lstData);
        return lstData; 
    }

     function getStampUserModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStamp)); 
        return lstData; 
    }

</script>