﻿@{
    
    var createModel = ViewBag.createModel as QMSSystem.Model.UpdateOFFReportQMS_ST_SYSTEM_CONFIG; 
    var listOffControl = ViewBag.listOffControl as List<QMSSystem.Model.ViewQMS_RP_OFF_CONTROL>;
    var listOffSpec = ViewBag.listOffSpec as List<QMSSystem.Model.ViewQMS_RP_OFF_CONTROL>;
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;   
}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.ReportOffControlSpecSetting</h3>                 
               </div>
               <div class="clearfix"></div> 
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            
             
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">                 
                               <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary " ng-click="saveData()" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>                                                    
                              </div>
                              <div class="clearfix"></div>                                
                         </div> 
                         <div class="title_left">
                              <h3>@Resources.Strings.ReportOffControl</h3>                 
                         </div>
                         <div class="clearfix"></div> 
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">                                   
                                   <div class="form-group">
                                        <label class="control-labe col-md-4 col-sm-4 col-xs-12" for="first-name">@Resources.Strings.OffControlReport 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                                ng-model="tempControlId"
					                                chosen  
					                                ng-options="item.NAME  for item in listOffControl" >
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12" >
                                            <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData(1)"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                                        </div>
                                   </div>                                    
                              </div>      
                         </div>      
                         &nbsp;                                                
                         <div class="title_left">
                              <h3>@Resources.Strings.ReportOffSpec</h3>                 
                         </div>
                         <div class="clearfix"></div> 
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">                                   
                                   <div class="form-group">
                                        <label class="control-labe col-md-4 col-sm-4 col-xs-12" for="first-name">@Resources.Strings.OffSpecReport 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                                ng-model="tempSpecId"
					                                chosen  
					                                ng-options="item.NAME  for item in listOffSpec" >
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12" >
                                            <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData(2)"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                                        </div>
                                   </div>                                    
                              </div>      
                         </div> 
                         <!-- history -->
                        <div class="x_content"  >
                            <div class="col-md-6 col-sm-6 col-xs-6  ">
                                <div class="title_left text_left small_font_size " >
		                            @Resources.Strings.CreateBy {{StampUserModel.CREATE_USER}} ( {{StampUserModel.SHOW_CREATE_DATE }} )
	                            </div>
                            </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                            <div class="title_right text_right small_font_size " >
	                                @Resources.Strings.UpdateBy {{StampUserModel.UPDATE_USER}} ( {{StampUserModel.SHOW_UPDATE_DATE }} )
	                            </div>
                            </div>
                        </div>
                        <!-- history -->
                    </div>
               </div>
          </div>
     </div>
</div>
<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();

        $scope.TempEXA = Fact.getDateFromDoubleEx($scope.createModel.EXA_SCHEDULE);
        $scope.TempLIMS = Fact.getDateFromDoubleEx($scope.createModel.LIMS_SCHEDULE);
        $scope.TempTEMPLATE = Fact.getDateFromDoubleEx($scope.createModel.TEMPLATE_SCHEDULE);
 
        $scope.tempControlId;
        $scope.listOffControl = getListOffControl();
        $scope.tempSpecId;
        $scope.listOffSpec = getListOffSpec();
        
        $scope.StampUserModel = getStampUserModel();

         $scope.dateOptions = {
            dateFormat: 'dd/mm/yy' 
        }
        
             
        $scope.saveData = function () {   
            var urlName = get_base_url("Setting/UpdateOFFReportQMS_ST_SYSTEM_CONFIG");

            console.log($scope.tempControlId, $scope.tempSpecId);
            
            if (typeof $scope.tempControlId !== "undefined" && typeof $scope.tempControlId.ID !== "undefined"){
                $scope.createModel.REPORT_OFF_CONTROL = $scope.tempControlId.ID;
            }else{           
                $scope.createModel.REPORT_OFF_CONTROL = 0;
            }
            if (typeof $scope.tempSpecId !== "undefined" && typeof $scope.tempSpecId.ID !== "undefined"){
                $scope.createModel.REPORT_OFF_SPEC = $scope.tempSpecId.ID;
            }else{   
                $scope.createModel.REPORT_OFF_SPEC = 0; 
            } 
    
            var jsonData = $scope.createModel;
            
            Fact.saveDataCallback(urlName, jsonData, function(response){ 
                 Fact.showMessage(response.data.message); 
                 $scope.createModel.ID = response.data.dataId; 
                 $scope.StampUserModel = response.data.history;
            });

        }

        $scope.clearTrendData = function(target){
            
            if( target == "1"){
                $scope.tempControlId = {};
            }else {
                $scope.tempSpecId = {};
            } 
        }

        $scope.init = function () { 
            $scope.listOffControl.forEach(function(entry) {
		    	if($scope.createModel.REPORT_OFF_CONTROL == entry.ID){  
		    		$scope.tempControlId =  entry;                     
		    		return false;
		    	} 
			});   
            $scope.listOffSpec.forEach(function(entry) {
		    	if($scope.createModel.REPORT_OFF_SPEC  == entry.ID){  
		    		$scope.tempSpecId =  entry; 
		    		return false;
		    	} 
			}); 
 
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createModel)); 
        return lstData; 
    }

     function getListOffControl(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listOffControl)); 
        return lstData; 
    }

    function getListOffSpec(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listOffSpec)); 
        return lstData; 
    }

    function getStampUserModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStamp)); 
        return lstData; 
    }
 
</script>
