﻿@{
    var searhData = ViewBag.searhTrendData as QMSSystem.Model.TrendGasGraphSearchModel;
    var listTemplate = ViewBag.listTemplate as List<QMSSystem.Model.ViewQMS_MA_TEMPLATE>;
}
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="" id="myDIV">
        <div class="page-title">
            <h3>@Resources.Strings.SortOption</h3>
            <div class="clearfix">
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-horizontal form-label-left controlSearch">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    @Resources.Strings.Template<span class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <select ng-model="tempTemplate"
                                            chosen
                                            ng-options="item.NAME  for item in listTemplate">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <span class="btn btn-primary  controlSearch" ng-click="GetData()"> <i class="fa fa-play"></i> @Resources.Strings.Search</span>
                                    <span class="btn btn-primary resetData controlSearch" ng-click="clearData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*showDeviceArea*@
        <div class="row showDeviceArea" style="display:none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i>@Resources.Strings.Area</h2>
                        <div class="clearfix">

                        </div>
                    </div>
                    <div class="x_content">

                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Strings.AreaName</th>
                                            <th>@Resources.Strings.Tools</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mAreaData in listArea" ng-include="getAreaTemplate(mAreaData)"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- Area -->
            <script type="text/ng-template" id="displayArea">
                <td>{{ mAreaData.AREA_NAME }}</td>
                <td>
                    <span><i class="fa fa-arrow-up" ng-show="$index > 0" ng-click="adjustAreaPostionup($index)" title="@Resources.Strings.Up"></i></span>
                    <span><i class="fa fa-arrow-down" ng-show="$index < listArea.length-1" ng-click="adjustAreaPostiondown($index)" title="@Resources.Strings.Down"></i></span>
                    <span ng-click="getSample(mAreaData)"><i class="fa fa-edit set-pointer"></i></span>
                </td>
            </script>
        </div>

        @*showDeviceSample*@
        <div class="row showDeviceSample" style="display:none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i>@Resources.Strings.Sample</h2>
                        <div class="clearfix">
                            <div class="row showDeviceSample" ng-hide="Template_Type == 5 || Template_Type == 7 || Template_Type == 15 || Template_Type == 16 " style="text-align: right; ">
                                <span class="btn btn-primary" ng-click="GetData()"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div class="row showDeviceSample form-group" ng-hide="Template_Type == 5 || Template_Type == 7 || Template_Type == 15 || Template_Type == 16 ">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.AreaName</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" ng-model="AreaName" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Strings.SampleName</th>
                                            <th>@Resources.Strings.Tools</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mSampleData in listSample" ng-include="getSampleTemplate(mSampleData)"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--- Sample -->
            <script type="text/ng-template" id="displaySample">
                <td>{{ mSampleData.SAMPLE_NAME }}</td>
                <td>
                    <span><i class="fa fa-arrow-up" ng-show="$index > 0" ng-click="adjustSamplePostionup($index)" title="@Resources.Strings.Up"></i></span>
                    <span><i class="fa fa-arrow-down" ng-show="$index < listSample.length-1" ng-click="adjustSamplePostiondown($index)" title="@Resources.Strings.Down"></i></span>
                    <span ng-click="getItem(mSampleData)" ng-hide="Template_Type == 8"><i class="fa fa-edit set-pointer"></i></span>
                </td>
            </script>
        </div>

        @*showDeviceItem*@
        <div class="row showDeviceItem" style="display:none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i>@Resources.Strings.Item</h2>
                        <div class="clearfix">
                            <div class="row showDeviceItem"style="text-align: right; ">
                                <span class="btn btn-primary" ng-click="getSample({AREA_NAME:AreaName})"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                            </div>
                        </div>
                    </div>
                    <div class="x_content">
                        <div class="row showDeviceItem form-group" ng-hide="Template_Type == 5 || Template_Type == 7 || Template_Type == 15 || Template_Type == 16 " >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.AreaName</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" ng-model="AreaName" disabled />
                            </div>
                        </div>
                        <div class="row showDeviceItem form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.SampleName</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input type="text" class="form-control" ng-model="SampleName" disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>@Resources.Strings.ItemName</th>
                                            <th>@Resources.Strings.Tools</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="mItemData in listItem" ng-include="getItemTemplate(mItemData)"></tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*Item*@
            <script type="text/ng-template" id="displayItem">
                <td>{{ mItemData.ITEM_NAME }}</td>
                <td>
                    <span><i class="fa fa-arrow-up" ng-show="$index > 0" ng-click="adjustItemPostionup($index)" title="@Resources.Strings.Up"></i></span>
                    <span><i class="fa fa-arrow-down" ng-show="$index < listItem.length-1" ng-click="adjustItemPostiondown($index)" title="@Resources.Strings.Down"></i></span>
                </td>
            </script>
        </div>
    </div>
</div>

<script type="text/javascript">
app.controller(
  "myCtrl",
  function (
    $scope,
    Fact,
    $sce,
    $http,
    $httpParamSerializer,
    $httpParamSerializerJQLike
  ) {
        $scope.mSearch = getSearchModel();
        $scope.listTemplate = getlistTemplate();

      $scope.tempTemplate;

      $scope.Template_Type;

      $scope.listArea;
      $scope.listSample;
      $scope.listItem;

      $scope.AreaName = "";
      $scope.SampleName = "";
      $scope.TemplateId;
      $scope.GetData = function () {
          $(".showDeviceArea").hide();
          $(".showDeviceSample").hide();
          $(".showDeviceItem").hide();
            var urlName = get_base_url("Setting/GetDataSortingByTemplateType");
            var valid = true;
            if (typeof $scope.tempTemplate !== "undefined"
                && $scope.tempTemplate !== null
                && typeof $scope.tempTemplate.NAME !== "undefined"
                && $scope.tempTemplate.NAME !== null
            ){
            }else{
                valid = false;
            }
            if (true == valid) {
                $scope.Template_Type = $scope.tempTemplate.TEMPLATE_TYPE;
                var jsonData = {
                    TemplateType: $scope.tempTemplate.TEMPLATE_TYPE
                };
                Fact.loadlistData(urlName, jsonData, function (response) {
                    try {
                        $scope.listArea = response.data.listArea;
                        $scope.listSample = response.data.listSample;
                        $scope.listItem = response.data.listItem;
                        if ($scope.listArea.length>0) {
                            $(".showDeviceArea").show();
                            $(".showDeviceSample").hide();
                            $(".showDeviceItem").hide();
                        }
                        if ($scope.listSample.length > 0) {
                            $(".showDeviceArea").hide();
                            $(".showDeviceSample").show();
                            $(".showDeviceItem").hide();
                        }
                    } catch (e) { }
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
      }
      $scope.clearData = function () {
          $scope.tempTemplate = null;
          $(".showDeviceArea").hide();
          $(".showDeviceSample").hide();
          $(".showDeviceItem").hide();
          $scope.listArea = [];
          $scope.listSample = [];
          $scope.listItem = [];
      }
      //Area
      $scope.getAreaTemplate = function () {
          return 'displayArea';
      };
      $scope.adjustAreaPostionup = function (index) {
          var element = $scope.listArea[index];
          $scope.listArea.splice(index, 1);
          $scope.listArea.splice(index - 1, 0, element);
          $scope.listArea.forEach(function (entry, index) {
              entry.POSITION = $scope.listArea.length - index;
          })
          $scope.setAreaPostion();
      };
      $scope.adjustAreaPostiondown = function (index) {
          var element = $scope.listArea[index];
          $scope.listArea.splice(index, 1);
          $scope.listArea.splice(index + 1, 0, element);
          $scope.listArea.forEach(function (entry, index) {
              entry.POSITION = $scope.listArea.length - index;
          });
          $scope.setAreaPostion();
      };
      $scope.setAreaPostion = function () {
          var urlName = get_base_url("Setting/setAreaPostion");
          var jsonData = {
              listArea: $scope.listArea,
              TemplateType: $scope.tempTemplate.TEMPLATE_TYPE
          }
          Fact.loadlistData(urlName, jsonData, function (response) {
              try {
                  $scope.GetData();
              } catch (e) { }
          });
      }
      $scope.getSample = function (mData) {
          
          if ($scope.tempTemplate.TEMPLATE_TYPE == 3
              || $scope.tempTemplate.TEMPLATE_TYPE == 8
              || $scope.tempTemplate.TEMPLATE_TYPE == 9
              || $scope.tempTemplate.TEMPLATE_TYPE == 13
              || $scope.tempTemplate.TEMPLATE_TYPE == 14) {
              var urlName = get_base_url("Setting/GetSampleByTemplateTypeAreaName");
              var jsonData = {
                  TemplateType: $scope.tempTemplate.TEMPLATE_TYPE,
                  AreaName: mData.AREA_NAME
              };
              $scope.AreaName = mData.AREA_NAME;
              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").show();
                      $(".showDeviceItem").hide();
                      $scope.listSample = response.data.listSample;
                      $scope.listSample.forEach(function (entry, index) {
                          entry.AREA_NAME = mData.AREA_NAME;
                      })
                  } catch (e) {

                  }
              });
          } else if ($scope.tempTemplate.TEMPLATE_TYPE == 17) {
              var urlName = get_base_url("Setting/GetSampleByTemplateId");
              var jsonData = {
                  TemplateId: mData.AREA_NAME,
                  TemplateType: $scope.tempTemplate.TEMPLATE_TYPE,
                  AreaName: mData.AREA_NAME
              };
              $scope.AreaName = mData.AREA_NAME;
              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").show();
                      $(".showDeviceItem").hide();
                      $scope.listSample = response.data.listSample;
                      $scope.listSample.forEach(function (entry, index) {
                          entry.AREA_NAME = mData.AREA_NAME;
                      })
                  } catch (e) {

                  }
              });
          }
          else {
              $scope.GetData();
          }
      }

      //Sample
      $scope.getSampleTemplate = function () {
          return 'displaySample';
      };
      $scope.adjustSamplePostionup = function (index) {
          var element = $scope.listSample[index];
          $scope.listSample.splice(index, 1);
          $scope.listSample.splice(index - 1, 0, element);
          $scope.listSample.forEach(function (entry, index) {
              entry.POSITION = $scope.listSample.length - index;
          })
          $scope.setSamplePostion();
      };
      $scope.adjustSamplePostiondown = function (index) {
          var element = $scope.listSample[index];
          $scope.listSample.splice(index, 1);
          $scope.listSample.splice(index + 1, 0, element);
          $scope.listSample.forEach(function (entry, index) {
              entry.POSITION = $scope.listSample.length - index;
          });
          $scope.setSamplePostion();
      };
      $scope.setSamplePostion = function () {
          var urlName = get_base_url("Setting/setSamplePostion");
          var jsonData = {
              listSample: $scope.listSample,
              TemplateType: $scope.tempTemplate.TEMPLATE_TYPE
          }
          Fact.loadlistData(urlName, jsonData, function (response) {
              try {
                  if ($scope.tempTemplate.TEMPLATE_TYPE == 3
                      || $scope.tempTemplate.TEMPLATE_TYPE == 8
                      || $scope.tempTemplate.TEMPLATE_TYPE == 9
                      || $scope.tempTemplate.TEMPLATE_TYPE == 13
                      || $scope.tempTemplate.TEMPLATE_TYPE == 14
                      || $scope.tempTemplate.TEMPLATE_TYPE == 17) {
                      $scope.getSample({ AREA_NAME: $scope.AreaName});
                  } else {
                      $scope.GetData();
                  }
              } catch (e) { }
          });
      }
      $scope.getItem = function (mData) {
          $scope.SampleName = mData.SAMPLE_NAME;
          $scope.TemplateId = mData.TEMPLATE_ID;
          if ($scope.tempTemplate.TEMPLATE_TYPE == 3
              || $scope.tempTemplate.TEMPLATE_TYPE == 13
              || $scope.tempTemplate.TEMPLATE_TYPE == 14) {
              var urlName = get_base_url("Setting/GetItemByTemplateId");
              var jsonData = {
                  AreaName: $scope.AreaName,
                  SampleName: mData.SAMPLE_NAME,
                  TemplateId: mData.TEMPLATE_ID,
                  TemplateType: $scope.tempTemplate.TEMPLATE_TYPE,
              };
              
              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").hide();
                      $(".showDeviceItem").show();
                      $scope.listItem = response.data.listItem;
                  } catch (e) {

                  }
              });
          } else if ($scope.tempTemplate.TEMPLATE_TYPE == 5) {
              var urlName = get_base_url("Setting/GetItemByTemplateIdEx");
              var jsonData = {
                  AreaName: $scope.AreaName,
                  SampleName: mData.SAMPLE_NAME,
                  TemplateId: mData.TEMPLATE_ID,
                  TemplateType: $scope.tempTemplate.TEMPLATE_TYPE,
              };

              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").hide();
                      $(".showDeviceItem").show();
                      $scope.listItem = response.data.listItem;
                  } catch (e) {

                  }
              });
          }
          else if ($scope.tempTemplate.TEMPLATE_TYPE == 7) {
              var urlName = get_base_url("Setting/GetItemBySampleNameTemplateType");
              var jsonData = {
                  SampleName: mData.SAMPLE_NAME,
                  TemplateTypes: [6, 7],
                  AreaName: $scope.AreaName,
                  TemplateType: $scope.tempTemplate.TEMPLATE_TYPE,
              };

              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").hide();
                      $(".showDeviceItem").show();
                      $scope.listItem = response.data.listItem;
                  } catch (e) {

                  }
              });
          }
          else if ($scope.tempTemplate.TEMPLATE_TYPE == 15) {
              var urlName = get_base_url("Setting/GetItemBySampleNameTemplateTypeEx");
              var jsonData = {
                  SampleName: mData.SAMPLE_NAME,
                  TemplateTypes: [15],
                  AreaName: $scope.AreaName,
                  TemplateType: $scope.tempTemplate.TEMPLATE_TYPE,
              };

              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").hide();
                      $(".showDeviceItem").show();
                      $scope.listItem = response.data.listItem;
                  } catch (e) {

                  }
              });
          }
          else if ($scope.tempTemplate.TEMPLATE_TYPE == 16 || $scope.tempTemplate.TEMPLATE_TYPE == 17) {
              var urlName = get_base_url("Setting/GetColItemBySampleNameTemplateTypeEx");
              var jsonData = {
                  SampleName: mData.SAMPLE_NAME,
                  TemplateTypes: [$scope.tempTemplate.TEMPLATE_TYPE],
                  AreaName: $scope.AreaName,
                  TemplateType: $scope.tempTemplate.TEMPLATE_TYPE,
              };

              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").hide();
                      $(".showDeviceItem").show();
                      $scope.listItem = response.data.listItem;
                  } catch (e) {

                  }
              });
          }
          else if ($scope.tempTemplate.TEMPLATE_TYPE == 9) {
              var urlName = get_base_url("Setting/GetItemByTemplateIdAreaNameEx");
              var jsonData = {
                  TemplateId: mData.TEMPLATE_ID,
                  SampleName: mData.SAMPLE_NAME,
                  AreaName: $scope.AreaName,
              };

              Fact.loadlistData(urlName, jsonData, function (response) {
                  try {
                      $(".showDeviceArea").hide();
                      $(".showDeviceSample").hide();
                      $(".showDeviceItem").show();
                      $scope.listItem = response.data.listItem;
                  } catch (e) {

                  }
              });
          }
      }

      //Item
      $scope.getItemTemplate = function () {
          return 'displayItem';
      };
      $scope.adjustItemPostionup = function (index) {
          var element = $scope.listItem[index];
          $scope.listItem.splice(index, 1);
          $scope.listItem.splice(index - 1, 0, element);
          $scope.listItem.forEach(function (entry, index) {
              entry.POSITION = $scope.listItem.length - index;
          })
          $scope.setItemPostion();
      };
      $scope.adjustItemPostiondown = function (index) {
          var element = $scope.listItem[index];
          $scope.listItem.splice(index, 1);
          $scope.listItem.splice(index + 1, 0, element);
          $scope.listItem.forEach(function (entry, index) {
              entry.POSITION = $scope.listItem.length - index;
          });
          $scope.setItemPostion();
      };
      $scope.setItemPostion = function () {
          var urlName = get_base_url("Setting/setItemPostion");
          var jsonData = {
              listItem: $scope.listItem,
              TemplateType: $scope.tempTemplate.TEMPLATE_TYPE
          }
          Fact.loadlistData(urlName, jsonData, function (response) {
              try {
                    $scope.getItem({ TEMPLATE_ID: $scope.TemplateId,SAMPLE_NAME: $scope.SampleName });
              } catch (e) { }
          });
      }
    }
);
function getSearchModel(){
    var self = this;
    var lstData = @Html.Raw(Json.Encode(searhData));
    return lstData;
}
function getlistTemplate(){
    var self = this;
    var lstData = @Html.Raw(Json.Encode(listTemplate));
    return lstData;
}
</script>