﻿@{    
    var searchSystemLog = ViewBag.searchSystemLog as QMSSystem.Model.SystemLogSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">

          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.SystemLog</h3>
                    <div class="clearfix"></div>

               </div>
          </div>

          <div class="clearfix"></div>
          <hr>


          <div class="row">

               <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_panel">

                         <div class="x_title">
                                <span ng-click="showSystemLogSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                <span class="btn btn-primary "  my-confirm-click="delSystemLog()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                         </div>
                       
                         <div class="x_content tblResult " style="display:none;" >
                            <div class="form-horizontal form-label-left" ng-show="showSearch">
                              @*<div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Date <span class="required">*</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.LOG_DATE"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>*@
                             @* <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.ErrorLevel</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.ERROR_LEVEL"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>*@
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.ProcessName</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.PROCESS_NAME"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.ProcessDesc</span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.PROCESS_DESC"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>
                              
                              
                              <div class="ln_solid"></div>
                              <div class="form-group">
                                   <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="button" class="btn btn-primary" ng-click="loadSystemLog()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                        <button type="button" class="btn btn-primary" ng-click="clearSystemLog()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                        <button type="button" class="btn btn-primary"  ng-click="closeSystemLogSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                   </div>
                              </div>
                         </div>
                              <table class="table table-bordered" >
                                     <thead>
                                            <tr>
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                    <input type="checkbox" ng-model="AllSystemLog" ng-change="SelectAllCheck()" >
                                                </th>
                                                <th class=" sorting" ng-click="sort($event)" sort="LOG_DATE" >@Resources.Strings.Start</th> 
                                                <th class=" sorting" ng-click="sort($event)" sort="PROCESS_NAME" >@Resources.Strings.ProcessName</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="PROCESS_DESC" >@Resources.Strings.ProcessDesc</th>                                                
                                            <tr>
                                     </thead>
                                     <tbody>
                                            <tr ng-repeat="mSystemLog in listSystemLog" >
                                                <td><input type="checkbox" ng-model="mSystemLog.ITEM_SELECTED" /></td>
                                                <td>{{ mSystemLog.LOG_DATE|showdatetimeformat }}</td> 
                                                <td>{{ mSystemLog.PROCESS_NAME }}</td>
                                                <td>{{ mSystemLog.PROCESS_DESC }}</td>
                                            </tr>                                            
                                     </tbody>
                              </table>

                        </div>

                        <!-- ทำหน้า -->
                        <div class="row tblResult " style="display:none;" >
                             <div class="col-md-7 col-sm-7 col-xs-6">
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                       @Resources.Strings.ResultsPerPage
                                  </div>
                                  <div class="col-md-4 col-sm-4 col-xs-12">
                                       <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                           </select> 
                                  </div>
                             </div>
                             <div class="col-md-5 col-sm-5 col-xs-6">
                                  <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                       <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                  </div>
                                  <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                       <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                           </select>
                                 </div>
                                 <div class="col-md-4 col-sm-4 col-xs-12">
                                      <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                 </div>
                                 </div>
                        </div>
                        <!-- ทำหน้า -->
                    </div>
                    <!-- *** ในส่วนของ Exception case ถ้าสร้างแล้ว จะเป็น List ลำดับต่อท้ายลงมา -->

               </div>

          </div>

     </div>
</div>


<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

 
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('ID');
        $scope.SortOrder = Fact.setSortOrder('asc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex; 
   
        $scope.showSearch = false;
        
        $scope.TempDateStart = null;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }

        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listSystemLog, $scope.AllSystemLog) }
         
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadSystemLog();
        }
        
        $scope.clearSystemLog = function() {  
               $scope.mSearch = getSearchModel(); 
               //$scope.TempDateStart = null;
               $scope.createModel.PROCESS_NAME = null;
               $scope.createModel.PROCESS_DESC = null;
               $scope.loadSystemLog(); 
                                                            
        }

        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }

        $scope.showSystemLogSearch = function(){  $scope.showSearch = true; /*$("#searchSystemLog").modal('show');*/}
        $scope.closeSystemLogSearch = function() { $scope.showSearch = false; }
        $scope.getSystemLogSearch = function()
        {
            $("#searchSystemLog").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadSystemLog();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadSystemLog(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadSystemLog(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadSystemLog(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadSystemLog(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadSystemLog(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadSystemLog(); }

        $scope.loadSystemLog = function () {
            //$scope.mSearch.LOG_DATE = null; 
            //console.log($scope.mSearch);
            Fact.loadDataTable($scope.mSearch, function(response){               
                try{
                    $scope.listSystemLog = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delSystemLog = function(){
            Fact.deleteMultiData($scope.listSystemLog, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadSystemLog(); });
        }

        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Setting/GetQMS_ST_SYSTEM_LOGBySearch"));
            Fact.setDelelteUrl(get_base_url("Setting/DeleteQMS_ST_SYSTEM_LOG"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadSystemLog();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchSystemLog)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

     
</script>

