﻿@{
    
    var createExaConnect = ViewBag.createExaConnect as QMSSystem.Model.CreateQMS_ST_EXA_CONNECT;
    var createLIMSConnect = ViewBag.createLIMSConnect as QMSSystem.Model.CreateQMS_ST_LIMS_CONNECT;
    var createTEMPConnect = ViewBag.createTEMPConnect as QMSSystem.Model.CreateQMS_ST_TEMPLATE_CONNECT;

    var userStampLIMS_CONNNECT = ViewBag.userStampLIMS_CONNNECT as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
    var userStampTEMP_CONNNECT = ViewBag.userStampTEMP_CONNNECT as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
    var userStampEXA_CONNNECT = ViewBag.userStampEXA_CONNNECT as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
}
<div ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>@Resources.Strings.SystemConnect</h3>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i class="fa fa-bars"></i> @Resources.Strings.ExaquantumLIMSTemplate</h2> 
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content"> 
                    <div class="" role="tabpanel" data-example-id="togglable-tabs">
                      <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#tab_content1" id="exaquantum-tab" role="tab" data-toggle="tab" aria-expanded="true">Exaquantum System</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content2" role="tab" id="lims-tab" data-toggle="tab" aria-expanded="false">LIMS System</a>
                        </li>
                        <li role="presentation" class=""><a href="#tab_content3" role="tab" id="template-tab" data-toggle="tab" aria-expanded="false">Template System</a>
                        </li>
                      </ul>
                      <div id="myTabContent" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="exaquantum-tab">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <br> 
                                   <div class="row text_align_right" >
                                        <span ng-click="saveEXA_CONNECT_DATA()"  class="btn btn-primary" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                                    </div>
                                   <hr><br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                       @Resources.Strings.LIMS_SERVER
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                      <input type="text" class="form-control" placeholder="" maxlength="30" ng-model="createExaConnect.LAKE_SERVER">
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" style="text-align:left;">
                                     </div> 
                                   </div> 
                                   <br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                       @Resources.Strings.LIMS_DATABASE
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                      <input type="text" class="form-control" placeholder="" maxlength="30" ng-model="createExaConnect.LAKE_DATABASE">
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" style="text-align:left;">
                                     </div> 
                                   </div> 
                                   <br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                       @Resources.Strings.ScheduleTime
                                     </div>
                                     <div class="col-md-3 col-sm-3 col-xs-12" >
                                      <input type="text" class="form-control"  ng-model="TempExaConnectTime" data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" bs-timepicker required> 
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" style="text-align:left;">
                                       @Resources.Strings.ScheduleTimeDesc
                                     </div> 
                                   </div> 
                                   <br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                        @Resources.Strings.LIMS_USER
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                       <input type="text" class="form-control" placeholder="" maxlength="30" ng-model="createExaConnect.LAKE_USER">
                                     </div>

                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                     </div>
                                   </div>
                                   <br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                         @Resources.Strings.LIMS_PASS
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                       <input type="password" class="form-control" placeholder="" maxlength="30" ng-model="createExaConnect.LAKE_PASSWORD">
                                     </div>

                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                     </div>
                                   </div>
                                   <br /><br />
                            </div>
                            <!-- history -->
                            <div class="x_content"  >
                                
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{StampEXA_CONNNECT.CREATE_USER}} ( {{StampEXA_CONNNECT.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{StampEXA_CONNNECT.UPDATE_USER}} ( {{StampEXA_CONNNECT.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->
                          </div>
                           
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="oc-lims-tab">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <br>
                                  <div class="row text_align_right" >
                                        <span ng-click="saveLIMS_CONNECT_DATA()"  class="btn btn-primary" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                                  </div>
                                  <hr> <br>
                                    <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                        @Resources.Strings.LIMS_SID
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                       <input type="text" class="form-control" placeholder="" maxlength="30" ng-model="createLIMSConnect.LIMS_SID">
                                     </div> 
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                     </div>
                                   </div>
                                   <br />
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                        @Resources.Strings.LIMS_SERVER
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                       <input type="text" class="form-control" placeholder="" maxlength="30" ng-model="createLIMSConnect.LIMS_SERVER">
                                     </div> 
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                     </div>
                                   </div>
                                   <br>
                                    <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                        @Resources.Strings.LIMS_PORT
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                       <input type="text" class="form-control" placeholder="" maxlength="30" ng-model="createLIMSConnect.LIMS_PORT">
                                     </div> 
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                     </div>
                                   </div>
                                   <br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                       @Resources.Strings.ScheduleTime
                                     </div>
                                     <div class="col-md-3 col-sm-3 col-xs-12" >
                                      <input type="text" class="form-control"  ng-model="TempLIMSConnectTime" data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" bs-timepicker required> 
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" style="text-align:left;">
                                       @Resources.Strings.ScheduleTimeDesc
                                     </div> 
                                   </div> 
                                   <br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                        @Resources.Strings.LIMS_USER
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                       <input type="text" class="form-control" placeholder="" maxlength="30" ng-model="createLIMSConnect.LIMS_USER">
                                     </div>

                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                     </div>
                                   </div>
                                   <br>
                                   <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                         @Resources.Strings.LIMS_PASS
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                       <input type="password" class="form-control" placeholder="" maxlength="30" ng-model="createLIMSConnect.LIMS_PASSWORD">
                                     </div>

                                     <div class="col-md-5 col-sm-5 col-xs-12" >
                                     </div>
                                   </div>
                                   <br> 
                            </div>
                            <br /><br />
                          </div>

                            <!-- history -->
                            <div class="x_content"  >
                                
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{StampLIMS_CONNNECT.CREATE_USER}} ( {{StampLIMS_CONNNECT.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{StampLIMS_CONNNECT.UPDATE_USER}} ( {{StampLIMS_CONNNECT.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="template-tab">
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12" >
                                <br>
                                  <div class="row text_align_right" >
                                        <span ng-click="saveTEMP_CONNECT_DATA()"  class="btn btn-primary" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                                  </div>
                                  <hr>
                                   <br>
                                    <div class="row">
                                     <div class="col-md-2 col-sm-2 col-xs-12" >
                                       @Resources.Strings.ScheduleTime
                                     </div>
                                     <div class="col-md-3 col-sm-3 col-xs-12" >
                                      <input type="text" class="form-control"  ng-model="TempTEMPConnectTime" data-time-format="HH:mm" data-length="1" data-minute-step="1" data-arrow-behavior="picker" bs-timepicker required> 
                                     </div>
                                     <div class="col-md-5 col-sm-5 col-xs-12" style="text-align:left;">
                                       @Resources.Strings.ScheduleTimeDesc
                                     </div> 
                                   </div> 
                                   <br /><br />
                            </div>
                          </div>
                            <!-- history -->
                            <div class="x_content"  >
                                
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{StampTEMP_CONNNECT.CREATE_USER}} ( {{StampTEMP_CONNNECT.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{StampTEMP_CONNNECT.UPDATE_USER}} ( {{StampTEMP_CONNNECT.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
</div>


<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createLIMSConnect = getCreateLIMSConnect();
        $scope.createTEMPConnect = getCreateTEMPConnect();
        $scope.createExaConnect = getCreateExaConnect();

        $scope.TempExaConnectTime = Fact.getDateFromDoubleEx($scope.createExaConnect.EXA_SCHEDULE);
        $scope.TempLIMSConnectTime = Fact.getDateFromDoubleEx($scope.createLIMSConnect.LIMS_SCHEDULE);
        $scope.TempTEMPConnectTime = Fact.getDateFromDoubleEx($scope.createTEMPConnect.TEMPLATE_SCHEDULE); 

        $scope.StampEXA_CONNNECT = getStampEXA_CONNNECTModel();
        $scope.StampLIMS_CONNNECT = getStampLIMS_CONNNECTModel();
        $scope.StampTEMP_CONNNECT = getStampTEMP_CONNNECTModel();

        
        $scope.saveLIMS_CONNECT_DATA = function () {   
            var urlName = get_base_url("Setting/CreateQMS_ST_LIMS_CONNECT_DATA");            
            var valid = true;
             
            if( typeof $scope.TempLIMSConnectTime !== "undefined"  && $scope.TempLIMSConnectTime !== null ){
                $scope.createLIMSConnect.LIMS_SCHEDULE =$scope.TempLIMSConnectTime;
            }else{
                valid = false;
            }    
            
            if(true == valid){  
                var jsonData = $scope.createLIMSConnect;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message);
                     $scope.StampLIMS_CONNNECT = response.data.history;
                     $scope.TempTEMPConnectTime = $scope.TempLIMSConnectTime;
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }             
            
        }

        $scope.saveTEMP_CONNECT_DATA = function () {   
            var urlName = get_base_url("Setting/CreateQMS_ST_TEMPLATE_CONNECT_DATA");            
            var valid = true;
             
            if( typeof $scope.TempTEMPConnectTime !== "undefined"  && $scope.TempTEMPConnectTime !== null ){
                $scope.createTEMPConnect.TEMPLATE_SCHEDULE =$scope.TempTEMPConnectTime;
            }else{
                valid = false;
            }    
            
            if(true == valid){  
                var jsonData = $scope.createTEMPConnect;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message);
                     $scope.StampTEMP_CONNNECT = response.data.history;
                     $scope.TempLIMSConnectTime = $scope.TempTEMPConnectTime;
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }             
            
        }

        $scope.saveEXA_CONNECT_DATA = function () {   
            var urlName = get_base_url("Setting/CreateQMS_ST_EXA_CONNECT_DATA");            
            var valid = true;
             
            if( typeof $scope.TempExaConnectTime !== "undefined"  && $scope.TempExaConnectTime !== null ){
                $scope.createExaConnect.EXA_SCHEDULE =$scope.TempExaConnectTime;
            }else{
                valid = false;
            }    
            
            if(true == valid){  
                var jsonData = $scope.createExaConnect;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message);
                     $scope.StampEXA_CONNNECT = response.data.history;    
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }             
            
        }

        $scope.init = function () { 
         
        }
        
        $scope.init();

    }); 

    function getCreateExaConnect(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createExaConnect)); 
        return lstData; 
    } 

    function getCreateLIMSConnect(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createLIMSConnect)); 
        return lstData; 
    } 

    function getCreateTEMPConnect(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createTEMPConnect)); 
        return lstData; 
    } 

    function getStampEXA_CONNNECTModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStampEXA_CONNNECT)); 
        return lstData; 
    }

    function getStampLIMS_CONNNECTModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStampLIMS_CONNNECT)); 
        return lstData; 
    }

    function getStampTEMP_CONNNECTModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStampTEMP_CONNNECT)); 
        return lstData; 
    }


</script>