﻿@{
    
    var createModel = ViewBag.createModel as QMSSystem.Model.UpdateTrendQMS_ST_SYSTEM_CONFIG;
    var listReport = ViewBag.listReport as List<QMSSystem.Model.ViewQMS_RP_TREND_DATA_ComboList>;
    var userStamp = ViewBag.userStamp as QMSSystem.Model.CreateQMS_ST_SYSTEM_USER_STAMP;
}
<div ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title"> 
                    <div class="row text_align_right" >
                        <span class="btn btn-primary " ng-click="saveData()" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                    </div>
                    <div class="clearfix"></div> 
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.TrendHighlight 1
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <select
					            ng-model="tempReportId1"
					            chosen  
					            ng-options="item.NAME  for item in listReport" >
					            <option value=""></option>
				        </select> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData(1)"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <!-- <input type="text" class="form-control" placeholder="Excel Name"> -->
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.TrendHighlight 2
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                       <select
					            ng-model="tempReportId2"
					            chosen  
					            ng-options="item.NAME  for item in listReport" >
					            <option value=""></option>
				        </select> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData(2)"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <!-- <input type="text" class="form-control" placeholder="Excel Name"> -->
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.TrendHighlight 3
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <select
					            ng-model="tempReportId3"
					            chosen  
					            ng-options="item.NAME  for item in listReport" >
					            <option value=""></option>
				        </select> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData(3)"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <!-- <input type="text" class="form-control" placeholder="Excel Name"> -->
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        @Resources.Strings.TrendHighlight 4
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                       <select
					            ng-model="tempReportId4"
					            chosen  
					            ng-options="item.NAME  for item in listReport" >
					            <option value=""></option>
				        </select> 
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" >
                        <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData(4)"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <!-- <input type="text" class="form-control" placeholder="Excel Name"> -->
                      </div>
                    </div>
                    <br>
                        <!-- history -->
                        <div class="x_content"  >
                            <div class="col-md-6 col-sm-6 col-xs-6  ">
                                <div class="title_left text_left small_font_size " >
		                            @Resources.Strings.CreateBy {{StampUserModel.CREATE_USER}} ( {{StampUserModel.SHOW_CREATE_DATE }} )
	                            </div>
                            </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                            <div class="title_right text_right small_font_size " >
	                                @Resources.Strings.UpdateBy {{StampUserModel.UPDATE_USER}} ( {{StampUserModel.SHOW_UPDATE_DATE }} )
	                            </div>
                            </div>
                        </div>
                        <!-- history -->
                  </div>
                </div>
              </div>
            </div>
          </div>
</div>
<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();

        $scope.TempEXA = Fact.getDateFromDoubleEx($scope.createModel.EXA_SCHEDULE);
        $scope.TempLIMS = Fact.getDateFromDoubleEx($scope.createModel.LIMS_SCHEDULE);
        $scope.TempTEMPLATE = Fact.getDateFromDoubleEx($scope.createModel.TEMPLATE_SCHEDULE);
 
        $scope.tempReportId1;
        $scope.tempReportId2;
        $scope.tempReportId3;
        $scope.tempReportId4;
        $scope.listReport = getListReport();
        $scope.StampUserModel = getStampUserModel(); 


        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy', 
        }

        $scope.clearTrendData = function(target){
            
            if( target == "1"){
                $scope.tempReportId1 = {};
            }else if ( target == "2"){
                $scope.tempReportId2 = {};
            }else if ( target == "3"){
                $scope.tempReportId3 = {};
            }else {
                $scope.tempReportId4 = {};
            } 
        }

        $scope.saveData = function () {   
            var urlName = get_base_url("Setting/UpdateTrendReportQMS_ST_SYSTEM_CONFIG");            
            
            if (typeof $scope.tempReportId1 !== "undefined" && typeof $scope.tempReportId1.ID !== "undefined"){
                $scope.createModel.HIGHLIGHT_1 = $scope.tempReportId1.ID;
            }else{           
                $scope.createModel.HIGHLIGHT_1 = 0;
            }

            if (typeof $scope.tempReportId2 !== "undefined"  && typeof $scope.tempReportId2.ID !== "undefined"){
                $scope.createModel.HIGHLIGHT_2 = $scope.tempReportId2.ID;
            }else{           
                $scope.createModel.HIGHLIGHT_2 = 0;
            }

            if (typeof $scope.tempReportId3 !== "undefined"  && typeof $scope.tempReportId3.ID !== "undefined"){
                $scope.createModel.HIGHLIGHT_3 = $scope.tempReportId3.ID;
            }else{           
                $scope.createModel.HIGHLIGHT_3 = 0;
            }

            if (typeof $scope.tempReportId4 !== "undefined"  && typeof $scope.tempReportId4.ID !== "undefined"){
                $scope.createModel.HIGHLIGHT_4 = $scope.tempReportId4.ID;
            }else{           
                $scope.createModel.HIGHLIGHT_4 = 0;
            }
    
            var jsonData = $scope.createModel; 
            
            Fact.saveDataCallback(urlName, jsonData, function(response){ 
                 Fact.showMessage(response.data.message); 
                 $scope.createModel.ID = response.data.dataId; 
                 $scope.StampUserModel = response.data.history;
            });

        }  

        $scope.init = function () { 
            
            $scope.listReport.forEach(function(entry) {

		    	if($scope.createModel.HIGHLIGHT_1 == entry.ID){  
		    		$scope.tempReportId1 =  entry;
		    	}

                if($scope.createModel.HIGHLIGHT_2 == entry.ID){  
		    		$scope.tempReportId2 =  entry;
		    	}

                if($scope.createModel.HIGHLIGHT_3 == entry.ID){  
		    		$scope.tempReportId3 =  entry;
		    	}

                if($scope.createModel.HIGHLIGHT_4 == entry.ID){  
		    		$scope.tempReportId4 =  entry;
		    	}
                 
			});   
 
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createModel)); 
        return lstData; 
    }

    function getListReport(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listReport)); 
        return lstData; 
    }
     
     function getStampUserModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(userStamp)); 
        return lstData; 
    }
 
</script>
