﻿@{
    
    var createQMS_MA_KPI = ViewBag.createQMS_MA_KPI as QMSSystem.Model.CreateQMS_MA_KPI;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>; 
     
}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">

          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.KPI @ViewBag.ActionName</h3> 
               </div>
          </div>

          <div class="clearfix"></div>

          <div class="row">

               <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_panel">

                         <div class="x_title">

                              <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <a href="~/KPI/ListMasterKPI">
                                      <span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                   </a>                    
                              </div>
                              <div class="clearfix"></div>
                         </div>

                         <div class="x_content">

                              <div class="form-horizontal form-label-left">
                                   <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                                ng-model="tempPlantId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listPlant"
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                   </div>                                     
                                   <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Product <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                             <select
					                                 ng-model="tempProductId"
					                                 chosen="{inherit_select_classes: true}" 
					                                 ng-options="item.NAME  for item in listProduct"
                                                     class="chosen_required">
					                                 <option value=""></option>
				                             </select> 
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.ActiveDate <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;">
                                            <input type="text" class="form-control"  ng-model="TempActiveDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>                                          
                                        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                            <textarea ng-model="createModel.KPI_DESC" 
                                                        rows="3" class="form-control" maxlength="150" name="message" >
                                            </textarea>
                                        </div>
                                   </div>

                                   <div class="row">
                                        <div class="form-group">
                                             <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.KPIPoint <span class="required">*</span>
                                             </label>
                                             <div class="table-responsive" >

                                                  <table class="table table-bordered" >

                                                         <thead >
                                                                <tr>
                                                                    <th>@Resources.Strings.Rank</th>
                                                                    <th>@Resources.Strings.Max</th>
                                                                    <th>@Resources.Strings.Min</th>
                                                                </tr>
                                                         </thead>

                                                         <tbody >
                                                                <tr style="text-align:center;">
                                                                    <td style="background-color:#00af50;color:white;">5</td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_5" number-only-input required></td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_5" number-only-input required></td>
                                                                </tr>
                                                                <tr style="text-align:center;">
                                                                    <td style="background-color:#8ea250;color:white;">4</td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_4" number-only-input required></td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_4" number-only-input required></td>
                                                                </tr>
                                                                <tr style="text-align:center;">
                                                                    <td style="background-color:#fefe00;color:black;">3</td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_3" number-only-input required></td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_3" number-only-input required></td>
                                                                </tr>
                                                                <tr style="text-align:center;">
                                                                    <td style="background-color:#e99551;color:white;">2</td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_2"number-only-input required></td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_2" number-only-input required></td>
                                                                </tr>
                                                                <tr style="text-align:center;">
                                                                    <td style="background-color:#fe0000;color:white;">1</td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_1" number-only-input required></td>
                                                                    <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_1" number-only-input required></td>
                                                                </tr>
                                                         </tbody>

                                                  </table>

                                             </div>

                                          
                                        </div>                                    
                


                                   </div>
                                    
                                   
                                    <!-- history -->
                                    <div class="x_content" ng-show="createModel.ID">
                                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                                            <div class="title_left text_left small_font_size " >
		                                        @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                        </div>
                                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                        <div class="title_right text_right small_font_size " >
	                                            @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                        </div>
                                        </div>
                                    </div>
                                    <!-- history -->
                              </div>

                         </div> 
                    </div>

               </div>
          </div>
     </div>
</div>
<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();
        $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
        //$scope.TempActiveDateValue = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);

        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempProductId;
        $scope.listProduct = getListProduct();
//        $scope.tempKPI_DESC;

         $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
         
        $scope.saveData = function () {   
            var urlName = get_base_url("KPI/CreateQMS_MA_KPI");            
            var valid = true;

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempProductId !== "undefined"  && typeof $scope.tempProductId.ID !== "undefined" ){
                $scope.createModel.PRODUCT_ID = $scope.tempProductId.ID; 
            }else{
                valid = false;
            }                              
            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.TempActiveDate;
            }else{
                valid = false;
            }      
//            console.log($scope.createModel.END_VALUE_5 , $scope.createModel.START_VALUE_5 , $scope.createModel.END_VALUE_4 )   ;
//            if( typeof $scope.createModel.END_VALUE_5 !== "undefined"  
//                && $scope.createModel.END_VALUE_5 !== null && $scope.createModel.END_VALUE_5 > 0 
//                && typeof $scope.createModel.START_VALUE_5 !== "undefined"  
//                && $scope.createModel.START_VALUE_5 !== null && $scope.createModel.START_VALUE_5 > 0 
//                && typeof $scope.createModel.END_VALUE_4 !== "undefined"  
//                && $scope.createModel.END_VALUE_4 !== null && $scope.createModel.END_VALUE_4 > 0 
//                && typeof $scope.createModel.START_VALUE_4 !== "undefined"  
//                && $scope.createModel.START_VALUE_4 !== null && $scope.createModel.START_VALUE_4 > 0 
//                && typeof $scope.createModel.END_VALUE_3 !== "undefined"  
//                && $scope.createModel.END_VALUE_3 !== null && $scope.createModel.END_VALUE_3 > 0 
//                && typeof $scope.createModel.START_VALUE_3 !== "undefined"  
//                && $scope.createModel.START_VALUE_3 !== null && $scope.createModel.START_VALUE_3 > 0 
//                && typeof $scope.createModel.END_VALUE_5 !== "undefined"  
//                && $scope.createModel.END_VALUE_2 !== null && $scope.createModel.END_VALUE_2 > 0 
//                && typeof $scope.createModel.START_VALUE_2 !== "undefined"  
//                && $scope.createModel.START_VALUE_2 !== null && $scope.createModel.START_VALUE_2 > 0 
//                && typeof $scope.createModel.END_VALUE_5 !== "undefined"  
//                && $scope.createModel.END_VALUE_1 !== null && $scope.createModel.END_VALUE_1 >= 0 
//                && typeof $scope.createModel.START_VALUE_1 !== "undefined"  
//                && $scope.createModel.START_VALUE_1 !== null && $scope.createModel.START_VALUE_1 >= 0 
//               
//            ){
//                
//            }else{ 
//                valid = false;
//            }
            
            
            console.log($scope.createModel);
            if( parseFloat($scope.createModel.END_VALUE_1) <  parseFloat($scope.createModel.START_VALUE_1)
                    || parseFloat($scope.createModel.START_VALUE_1) <  parseFloat($scope.createModel.END_VALUE_2)
                    || parseFloat($scope.createModel.END_VALUE_2) < parseFloat($scope.createModel.START_VALUE_2)
                    || parseFloat($scope.createModel.START_VALUE_2) <  parseFloat($scope.createModel.END_VALUE_3)
                    || parseFloat($scope.createModel.END_VALUE_3) < parseFloat($scope.createModel.START_VALUE_3)
                    || parseFloat($scope.createModel.START_VALUE_3) <  parseFloat($scope.createModel.END_VALUE_4)
                    || parseFloat($scope.createModel.END_VALUE_4) < parseFloat($scope.createModel.START_VALUE_4)
                    || parseFloat($scope.createModel.START_VALUE_4) <  parseFloat($scope.createModel.END_VALUE_5) 
                    || parseFloat($scope.createModel.END_VALUE_5) < parseFloat($scope.createModel.START_VALUE_5)){
                    Fact.showMessage("@Resources.Strings.PleaseCheckMinOverMax");
                    return;
            } 
                         
            
            if(true == valid){ 
                var jsonData = $scope.createModel; 
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message); 
                     $scope.createModel =  response.data.model;
                     $scope.createModel.ID = response.data.dataId;     
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }             
                        
            
        }  

        $scope.init = function () { 
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempPlantId =  entry; 
		    		return false;
		    	} 
			});

            $scope.listProduct.forEach(function(entry) { 
		    	if($scope.createModel.PRODUCT_ID  == entry.ID){  
		    		$scope.tempProductId =  entry; 
		    		return false;
		    	} 
			});
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_KPI)); 
        return lstData; 
    }

     function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

     function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }


</script>