﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @{
        var baseurl = Request.Url.GetLeftPart(UriPartial.Authority) + VirtualPathUtility.ToAbsolute("~/");//url.GetLeftPart(UriPartial.Authority);
    }


<script type="text/javascript">
    function get_base_url(url) {  
        url = url || "";
        return '@baseurl' + url;
    }
</script>

</head>
<body>

    <div class="modal fade" id="myWaitModal" tabindex="-1" role="dialog" aria-labelledby="myWaitModalLabel" aria-hidden="true" style="display:none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row col-lg-12">
                            <p><br/></p>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.myWaitModal-dialog -->
         
		<div class="modal fade" id="myErrorModal" tabindex="-1" role="dialog" aria-labelledby="myErrorModalLabel" aria-hidden="true" style="display:none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel"></h4>
                    </div>
                    <div class="modal-body">
                        
                        <div class="row col-lg-12">
                            <p id="error_message"><br/></p>
                        </div>
                    </div>
                    <div class="modal-footer"></div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div><!-- /.myWaitModal-dialog -->


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
