﻿@{
  
	var searchOffControlDetail = ViewBag.searchOffControlDetail as QMSSystem.Model.ReportOffControlDetailSearchModel;
	var searchOffControlGraph = ViewBag.searchOffControlGraph as QMSSystem.Model.ReportOffControlGraphSearchModel;
	var searchOffControlAttach = ViewBag.searchOffControlAttach as QMSSystem.Model.ReportOffControlAttachSearchModel;
	var searchOffControlSummary = ViewBag.searchOffControlSummary as QMSSystem.Model.ReportOffControlSummarySearchModel;
	var searchAutoCal = ViewBag.searchAutoCal as QMSSystem.Model.OffControlCalAutoSearchModel; 
   
	var createQMS_RP_OFF_CONTROL = ViewBag.createQMS_RP_OFF_CONTROL as QMSSystem.Model.CreateQMS_RP_OFF_CONTROL;
	var createQMS_RP_OFF_CONTROL_DETAIL = ViewBag.createQMS_RP_OFF_CONTROL_DETAIL as QMSSystem.Model.CreateQMS_RP_OFF_CONTROL_DETAIL;
	var createQMS_RP_OFF_CONTROL_GRAPH = ViewBag.createQMS_RP_OFF_CONTROL_GRAPH as QMSSystem.Model.CreateQMS_RP_OFF_CONTROL_GRAPH;
	var createQMS_RP_OFF_CONTROL_ATTACH = ViewBag.createQMS_RP_OFF_CONTROL_ATTACH as QMSSystem.Model.CreateQMS_RP_OFF_CONTROL_ATTACH;
	var createQMS_RP_OFF_CONTROL_SUMMARY = ViewBag.createQMS_RP_OFF_CONTROL_SUMMARY as QMSSystem.Model.CreateQMS_RP_OFF_CONTROL_SUMMARY;
	
	var listReportDocStatus = ViewBag.listReportDocStatus as List<SelectListItem>;

	var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
	var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
	var listRootCause = ViewBag.listRootCause as List<QMSSystem.Model.ViewQMS_MA_ROOT_CAUSE>;

	var listAutoOffType = ViewBag.listAutoOffType as List<SelectListItem>;
	var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
 
}
<div id="myControl" ng-app="myApp" ng-controller="myCtrl">
	 <div class="">
		  <div class="page-title">
			   <div class="title_left">
					<h3>@Resources.Strings.OffControlSummaryReport  @ViewBag.ActionName</h3>
					<div class="clearfix"></div> 
			   </div>
		  </div>

		  <div class="clearfix"></div>
		  <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

		  <div class="row">
			   <div class="col-md-12 col-sm-12 col-xs-12"> 
					<div class="x_panel"> 
						 <div class="row text_align_right" >
                              <span class="btn btn-primary " ng-click="openAutoOffControlCal(true)" ng-show="createModel.ID > 0"  style="float:left" ><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
							  <span class="btn btn-primary" ng-click="saveData()"  ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
							  <span class="btn btn-primary" ng-click="openAutoOffControlCal(false)" ng-show="createModel.ID > 0"  ><i class="fa fa-calculator"></i> @Resources.Strings.AutoOffControlCal</span>                              
							  <span class="btn btn-primary" ng-click="downloadCSV()" ng-show="createModel.ID > 0"><i class="fa fa-file-excel-o"></i> @Resources.Strings.ExcelExport</span>
							  <a href="~/Report/ListOffControlSummary"><span class="btn btn-primary"  ><i class="fa fa-close"></i> @Resources.Strings.Close</span></a>
						 </div>
						 <div class="x_title"> 
							  <div class="clearfix"></div>
						 </div>
						 <div class="x_content">
							  <div  class="form-horizontal form-label-left" ng-form="myQMS_RP_OFF_CONTROL" >  
									 
									<div class="form-group">
										<label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Name <span class="required">*</span>
										</label>                                          
										<div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;">
											<input type="text" ng-model="createModel.NAME"  class="form-control col-md-7 col-xs-12" required>                                          
										</div>
										<label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.DocStatus <span class="required">*</span> 
										</label>
										<div class="col-md-3 col-sm-3 col-xs-12">
											<select
													ng-model="tempReportDocStatusId"
													chosen="{inherit_select_classes: true}" 
													ng-options="item.Text  for item in listReportDocStatus"
													class="chosen_required">					                              
													<option value=""></option>
											</select>
										</div>
								   </div>                                            
															 
									<div class="form-group">
										 <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.StartDate <span class="required">*</span>
										 </label>
										 <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;">
											  <input type="text" class="form-control"  ng-model="TempHeadStartDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
										 </div>

										 <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.EndDate <span class="required">*</span>
										 </label>
										 <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;">
											  <input type="text" class="form-control"  ng-model="TempHeadEndDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
										 </div>
									</div> 

							  </div>  
						 </div>
                         <!-- history -->
                        <div class="x_content" ng-show="createModel.ID">
                            <div class="col-md-6 col-sm-6 col-xs-6  ">
                                <div class="title_left text_left small_font_size " >
		                            @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                            </div>
                            </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                            <div class="title_right text_right small_font_size " >
	                                @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                            </div>
                            </div>
                        </div>
                        <!-- history -->
					</div> 
			   </div>
		  </div>

		  <div class="row showTab" style="display:none;">
			   <div class="col-md-12 col-sm-12 col-xs-12">
					<div class="x_panel">
						 <div class="x_title">
							  <h2><i class="fa fa-bars"></i>@Resources.Strings.OffControlSummaryDetailGraphDescription </h2>
							  <div class="clearfix"></div>
						 </div>
						 <div class="x_content"> 
							  <div class="" role="tabpanel" data-example-id="togglable-tabs"> 

								   <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
									   <li role="presentation" class="active"><a href="#tab_content1" id="offcontrol-summary-tab" role="tab" data-toggle="tab" aria-expanded="true">@Resources.Strings.OffControlSummary</a>
									   </li>
									   <li role="presentation" class=""><a href="#tab_content2" role="tab" id="offcontrol-detail-tab" data-toggle="tab" aria-expanded="false">@Resources.Strings.OffControlDetail</a>
									   </li>
									   <li role="presentation" class=""><a href="#tab_content3" role="tab" id="graph-tab" data-toggle="tab" aria-expanded="false">@Resources.Strings.Graph</a>
									   </li>
									   <li role="presentation" class=""><a href="#tab_content4" role="tab" id="attach-tab" data-toggle="tab" aria-expanded="false">@Resources.Strings.FileAttach</a>
									   </li>
									   <li role="presentation" class=""><a href="#tab_content5" role="tab" id="description-tab" data-toggle="tab" aria-expanded="false">@Resources.Strings.Description</a>
									   </li>
								   </ul>

								   <div id="myTabContent" class="tab-content"> 
									
										<div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="control-value-tab">
											
											 <div class="row" style="overflow-x:scroll">
												  <div class="page-title">
													   <div class="title_left">
															<h3>@Resources.Strings.ProductOffControl </h3>
															<div class="clearfix"></div> 
													   </div>
													   <div class="title_right" style="text-align:right;"> 
															@*<button type="button" class="btn btn-primary" ng-click="saveQMS_RP_OFF_CONTROL_SUMMARY_ALL()"><i class="fa fa-save"></i> @Resources.Strings.Save</button>
															<span class="btn btn-primary" ng-click="downloadCSV()"><i class="fa fa-file-excel-o"></i> @Resources.Strings.ExcelExport</span>
															<div class="clearfix"></div>*@
													   </div>
												  </div>
												  <table class="table table-bordered tbl_overflow"  >                                                         
														 <tbody>
																<tr  ng-repeat="mOffControlSummary_T0 in listOffControlSummary_T0"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T0" ng-show="ShowOffControlSummary_T0">
																	 <td ng-repeat="dataValue_T0 in mOffControlSummary_T0" ng-class="setClass(dataValue_T0)"  >
																		 <div ng-if=" dataValue_T0.ITEM_TYPE !== 1 && dataValue_T0.ITEM_TYPE !== 2 " >
																			  <input type="text" class="form-control"  ng-model="dataValue_T0.SHOW_OUTPUT" number-only-input-ex dir="rtl"  style="font-size: 12px;"> 
																		 </div>
																		 <div ng-if=" dataValue_T0.ITEM_TYPE === 1 || dataValue_T0.ITEM_TYPE === 2 "  style="font-size: 12px;">  
																			  {{ dataValue_T0.SHOW_OUTPUT }}  
																		 </div>                                                                                                                                           
																	 </td>
																</tr>
														 </tbody>
												  </table>
											 </div>
											 <br>
											 <br>
											 <div class="row" style="overflow-x:scroll">                                                  
												  <div class="page-title">
													   <div class="title_left">
															<h3>@Resources.Strings.TotalProductions </h3>
															<div class="clearfix"></div> 
													   </div>
													   <div class="title_right" style="text-align:right;"> 
															@*<button type="button" class="btn btn-primary" ng-click="saveQMS_RP_OFF_CONTROL_SUMMARY_T1()"><i class="fa fa-save"></i> @Resources.Strings.Save</button>*@
															<div class="clearfix"></div>
													   </div>
												  </div>
												  <table class="table table-bordered tbl_overflow"  >                                                         
														 <tbody>
																<tr  ng-repeat="mOffControlSummary_T1 in listOffControlSummary_T1"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T1" ng-show="ShowOffControlSummary_T1">
																	 <td ng-repeat="dataValue_T1 in mOffControlSummary_T1" ng-class="setClass(dataValue_T1)"  >
																		 <div ng-if=" dataValue_T1.ITEM_TYPE !== 1 && dataValue_T1.ITEM_TYPE !== 2  " >
																			  <input type="text" class="form-control"  ng-model="dataValue_T1.SHOW_OUTPUT" number-only-input-ex dir="rtl"  style="font-size: 12px;">
																		 </div>
																		 <div ng-if=" dataValue_T1.ITEM_TYPE === 1 || dataValue_T1.ITEM_TYPE === 2 "  style="font-size: 12px;">  
																			  {{ dataValue_T1.SHOW_OUTPUT }}   
																		 </div>                                                                                                                                           
																	 </td>
																</tr>
														 </tbody>
												  </table>
											 </div>
											 <br>
											 <br>
											 <div class="row" style="overflow-x:scroll">
												  <h2>@Resources.Strings.PercentProductOffControl </h2>
												  <table class="table table-bordered tbl_overflow"  >                                                         
														 <tbody>
																<tr  ng-repeat="mOffControlSummary_T2 in listOffControlSummary_T2"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T2" ng-show="ShowOffControlSummary_T2">
																	 <td ng-repeat="dataValue_T2 in mOffControlSummary_T2" ng-class="setClass(dataValue_T2)"  >
																		 <div ng-if=" dataValue_T2.ITEM_TYPE !== 1 && dataValue_T2.ITEM_TYPE !== 2 " >
																			  <input type="text" class="form-control"  ng-model="dataValue_T2.SHOW_OUTPUT" style="font-size: 12px; text-align:right" ng-readonly="true" aria-label="Readonly field">
																		 </div>
																		 <div ng-if=" dataValue_T2.ITEM_TYPE === 1 || dataValue_T2.ITEM_TYPE === 2 "  style="font-size: 12px;">  
																			  {{ dataValue_T2.SHOW_OUTPUT }} 
																		 </div>                                                                                                                                           
																	 </td>
																</tr>
														 </tbody>
												  </table>
											 </div>


										</div>  


										<div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="item-tab">
								 
											 <div class="row" style="overflow-x:scroll">                                                 
																					 
												  <div class="col-md-12 col-sm-12 col-xs-12" >
													   <div class="x_title">   
															<span ng-click="showOffControlDetailSearch()" class="btn btn-primary " ><i class="fa fa-search"></i> @Resources.Strings.Search</span>       
															<span class="btn btn-primary" style="color:white;" ng-click="openOffControlDetailDialog(false)"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>                                                          
															<span class="btn btn-primary "  my-confirm-click="delQMS_RP_OFF_CONTROL_DETAIL()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
															<div class="clearfix"></div>
													   </div>
																											

													   <div class="form-horizontal form-label-left" ng-show="showSearch">

															<div class="form-group">
																 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Plant 
																 </label>
																 <div class="col-md-6 col-sm-6 col-xs-12">
																	  <select
																				ng-model="tempSearchOffControlDetailPlantId"
																				chosen="{inherit_select_classes: true}" 
																				ng-options="item.NAME  for item in listPlant"
																				>
																				<option value=""></option>
																	  </select> 
																 </div>
															</div>
															<div class="form-group">
																 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Product
																 </label>
																 <div class="col-md-6 col-sm-6 col-xs-12">
																	  <select  
																				ng-model="tempSearchOffControlDetailProductId"
																				chosen="{inherit_select_classes: true}"  
																				ng-options="item.NAME  for item in listProduct"
																				 >
																				<option value=""></option>
																	  </select> 
																 </div>
															</div>
															@*<div class="form-group">
																 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.RootCause
																 </label>
																 <div class="col-md-6 col-sm-6 col-xs-12">
																	  <select
																				ng-model="tempSearchOffControlDetailRootCauseId"
																				chosen="{inherit_select_classes: true}"  
																				ng-options="item.NAME  for item in listRootCause"
																				>
																				<option value=""></option>
																	  </select> 
																 </div>
															</div>*@
															<div class="form-group">
																  <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
																  <div class="checkbox">
																	<label>
																		<input type="checkbox" ng-model="searchOffControlDetailModel.CHK_AUTO_CAL" >  @Resources.Strings.AutoCalCheck
																	</label>
																  </div> 
															</div>  
							  
							  
															<div class="form-group">
																 <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
																	  <button type="button" class="btn btn-primary" ng-click="loadOffControlDetail()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
																	  <button type="button" class="btn btn-primary" ng-click="clearOffControlDetail()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
																	  <button type="button" class="btn btn-primary" ng-click="closeOffControlDetailSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
																 </div>
															</div>
															<div class="ln_solid"></div>
													   </div>

													   <table class="table table-bordered" ng-form="myEditQMS_RP_OFF_CONTROL_DETAIL">
															  <thead>
																	 <tr>
																		  <th class="col-md-1 col-sm-1 col-xs-1">
																			  <input type="checkbox" ng-model="AllOffControlDetail" ng-change="SelectAllCheckOffControlDetail()" >  
																		  </th>
																		  <th class="sorting_desc" ng-click="sort($event)" sort="PLANT_ID">@Resources.Strings.Plant</th>
																		  <th class="sorting" ng-click="sort($event)" sort="PRODUCT_ID">@Resources.Strings.Product</th>
																		  <th class="sorting" ng-click="sort($event)" sort="START_DATE">@Resources.Strings.StartDate</th>
																		  <th class="sorting" ng-click="sort($event)" sort="END_DATE">@Resources.Strings.EndDate</th>
																		  <th class="sorting" ng-click="sort($event)" sort="VOLUME">@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
																		  <th class="sorting" ng-click="sort($event)" sort="CONTROL_VALUE">@Resources.Strings.ControlValueItem</th>
																		  @*<th class="sorting" ng-click="sort($event)" sort="ROOT_CAUSE_ID">@Resources.Strings.RootCause</th>*@
																		  <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
																	 </tr>
															  </thead>
															  <tbody>                                                                      
																	  <tr  ng-repeat="mOffControlDetailData in listOffControlDetail"  ng-class="IsAutoCalDetail(mOffControlDetailData)">
																		   <td><input type="checkbox" ng-model="mOffControlDetailData.ITEM_SELECTED" /></td>
																		   <td>{{ mOffControlDetailData.PLANT_NAME }}</td>
																		   <td>{{ mOffControlDetailData.PRODUCT_NAME }}</td>
																		   <td>{{ mOffControlDetailData.START_DATE |showdatetimeformat }}</td>
																		   <td>{{ mOffControlDetailData.END_DATE |showdatetimeformat }}</td>
																		   <td>{{ mOffControlDetailData.VOLUME }}</td>
																		   <td>{{ mOffControlDetailData.CONTROL_VALUE }}</td>
																		   @*<td>{{ mOffControlDetailData.ROOT_CAUSE_TYPE_NAME }}</td>*@
																		   <td > 
																			   <span ng-click="openOffControlDetailDialog(mOffControlDetailData)" ><i class="fa fa-edit set-pointer"></i></span>
																		   </td>
																	  </tr>
															  </tbody>
																						  
													   </table>
													   <!-- ทำหน้า -->
													   <div class="row tblResult " >
															<div class="col-md-7 col-sm-7 col-xs-6">
																 <div class="col-md-4 col-sm-4 col-xs-12">
																	  @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
																 </div>
																 <div class="col-md-4 col-sm-4 col-xs-12 text_right">
																	  @Resources.Strings.ResultsPerPage
																 </div>
																 <div class="col-md-4 col-sm-4 col-xs-12">
																	  <select
																			 ng-model="TempPageSize"		
																			 chosen		                                                             
																			 ng-change="loadByPageSize()" 
																			 ng-options="item.Text  for item in listPageSize"
																			 class="col-md-12 col-sm-12 col-xs-12"
																			 name="lst_pagesize" id="lst_pagesize">                                                                            
																			 <option value=""></option>
																	  </select> 
																 </div>
															</div>
															<div class="col-md-5 col-sm-5 col-xs-6">
																 <div class="col-md-4 col-sm-4 col-xs-12 text_left">
																	  <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
																 </div>
																 <div class="col-md-3 col-sm-3 col-xs-12 text_left" >
																	  <select
																			 ng-model="TempPageIndex"
																			 chosen
																			 ng-change="searchByPage()" 
																			 ng-options="item.PageIndex  for item in listPageIndex"  >
																	  </select>
																 </div>
																 <div class="col-md-4 col-sm-4 col-xs-12">
																	  <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
																 </div>
															</div>
													   </div>
													   <!-- ทำหน้า -->

												  </div>                         
						 
												  
											 </div>
											

										</div> 
						 

										<div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="graph-name-tab">
											 
											<div class="row" >                                                 
												  <div class="row" style="text-align:right;">
													   <span ng-click="openGraph()" class="btn btn-primary" ><i class="fa fa-bar-chart"></i> @Resources.Strings.ViewGraph</span>
												  </div>
												  <div class="form-horizontal form-label-left" ng-form="myQMS_MA_CONTROL_GRAPH" >      
													   
													   <div class="form-group">
															<label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.TitleGraph <span class="required">*</span>
															</label>                                          
															<div class="col-md-6 col-sm-6 col-xs-12 text_left">
																 <input type="text" ng-model="createModel.TITLE_GRAPH"  class="form-control col-md-7 col-xs-12" >                                          
															</div>
																
													   </div> 
													   <div class="form-group">
															<label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.TitleGraphX <span class="required">*</span>
															</label>                                          
															<div class="col-md-6 col-sm-6 col-xs-12 text_left">
																 <input type="text" ng-model="createModel.TITLE_GRAPH_X"  class="form-control col-md-7 col-xs-12" >                                          
															</div>
																
													   </div> 
													   <div class="form-group">
															<label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.TitleGraphY <span class="required">*</span>
															</label>                                          
															<div class="col-md-6 col-sm-6 col-xs-12 text_left">
																 <input type="text" ng-model="createModel.TITLE_GRAPH_Y"  class="form-control col-md-7 col-xs-12" >                                          
															</div> 
													   </div>  
												  </div>
												  <div class="x_title">   
													   <span class="btn btn-primary "  my-confirm-click="delQMS_RP_OFF_CONTROL_GRAPH()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
													   <div class="clearfix"></div>
												  </div>                                   
												  <div class="col-md-12 col-sm-12 col-xs-12" >
													   
													   <table class="table table-bordered" ng-form="myEditQMS_RP_OFF_CONTROL_GRAPH">
															  <thead>
																	 <tr>
																		  <th class="col-md-1 col-sm-1 col-xs-1">
																			  <input type="checkbox" ng-model="AllOffControlGraph" ng-change="SelectAllCheckOffControlGraph()" >  
																		  </th>     
																		  <th class="sorting_desc" ng-click="sort($event)" sort="PREVIOUS">@Resources.Strings.Period</th>
																		  <th class="sorting" ng-click="sort($event)" sort="OFF_CONTROL">@Resources.Strings.percentOffControl</th>
																		  <th class="sorting" ng-click="sort($event)" sort="GRAPH_DESC">@Resources.Strings.GraphDescription</th>
																		  <th class="col-md-1 col-sm-1 col-xs-1 custom_textbox_100">@Resources.Strings.Tools</th>
																	 </tr>
															  </thead>
															  <tbody>
																	  <tr ng-form="myQMS_RP_OFF_CONTROL_GRAPH" ng-show="ShowOffControlGraph">
																		  <td><input type="checkbox" ng-model="mOffControlGraphData.ITEM_SELECTED" /></td>                                                                                                                                             
																		  <td>
																			  <input type="text" name="QMS_RP_OFF_CONTROL_GRAPH_PREVIOUS"  ng-model="createOffControlGraphModel.PREVIOUS" class="form-control custom_textbox_150"  required >
																		  </td>
																		  <td>
																			  <input type="text" name="QMS_RP_OFF_CONTROL_GRAPH_OFF_CONTROL"  ng-model="createOffControlGraphModel.OFF_CONTROL" class="form-control custom_textbox_100" number-only-input-ex required >
																		  </td>
																		  <td>
																			  <input type="text" name="QMS_RP_OFF_CONTROL_GRAPH_DESC"  ng-model="createOffControlGraphModel.GRAPH_DESC" class="form-control custom_textbox_150"  >
																		  </td>                                                                         
																		  <td>
																			  <span  ng-click="saveQMS_RP_OFF_CONTROL_GRAPH()" ><i class="fa fa-save"></i> </span>                                           
																		  </td>
																	  </tr>
																	  <tr  ng-repeat="mOffControlGraphData in listOffControlGraph" ng-include="getOffControlGraphTemplate(mOffControlGraphData)"></tr>
															  </tbody>                                                                                          
													   </table>
												  </div>
						
												
												  <!-- Template Off Control Graph -->
												   <script type="text/ng-template" id="displayOffControlGraph">
															<td><input type="checkbox" ng-model="mOffControlGraphData.ITEM_SELECTED" /></td>                                                            
															<td>{{ mOffControlGraphData.PREVIOUS }}</td>
															<td>{{ mOffControlGraphData.OFF_CONTROL }}</td>
															<td>{{ mOffControlGraphData.GRAPH_DESC }}</td>
															<td align="center">
																<span ng-click="editOffControlGraph(mOffControlGraphData)" ><i class="fa fa-edit set-pointer" title="@Resources.Strings.Edit"></i></span>
																<span ><i class="fa fa-arrow-up" ng-show="mOffControlGraphData.ARROW_UP" ng-click="adjustOffControlGraphPosition(mOffControlGraphData, 1)" title="@Resources.Strings.Up"></i></span>
																<span ><i class="fa fa-arrow-down" ng-show="mOffControlGraphData.ARROW_DOWN" ng-click="adjustOffControlGraphPosition(mOffControlGraphData, 2)" title="@Resources.Strings.Down"></i></span>
														   </td>
												   </script>
												   <script type="text/ng-template" id="editOffControlGraph">
														<td><input type="checkbox" ng-model="mOffControlGraphData.ITEM_SELECTED" /></td>                                                                                                                                 
														<td>
															<input type="text" name="QMS_RP_OFF_CONTROL_GRAPH_PREVIOUS"  ng-model="mOffControlGraphData.PREVIOUS" class="form-control custom_textbox_150"  required >
														</td>
														<td>
															<input type="text" name="QMS_RP_OFF_CONTROL_GRAPH_OFF_CONTROL"  ng-model="mOffControlGraphData.OFF_CONTROL" class="form-control custom_textbox_100" number-only-input-ex required >
														</td>
														<td>
															<input type="text" name="QMS_RP_OFF_CONTROL_GRAPH_DESC"  ng-model="mOffControlGraphData.GRAPH_DESC" class="form-control custom_textbox_150" required >
														</td> 
														<td class="sorting_desc" >
															<span ng-click="saveEditQMS_RP_OFF_CONTROL_GRAPH(mOffControlGraphData)" ><i class="fa fa-save set-pointer"></i></span>
															<span ng-click="resetOffControlGraph()" ><i class="fa fa-undo set-pointer"></i></span>
														</td>
			 
													</script>
												  <!-- Template Off Control Graph -->
											 </div>
										</div>
										
						
										<div role="tabpanel" class="tab-pane fade" id="tab_content4" aria-labelledby="attach-tab">
											 <div class="row"> 
												  <div class="col-md-12 col-sm-12 col-xs-12" >
													   <div class="x_title">   
															<span class="btn btn-primary" style="color:white;" ng-click="openOffControlAttachFileDialog(false)"><i class="fa fa-plus"></i> @Resources.Strings.Add</span> 
															<span class="btn btn-primary "  my-confirm-click="delQMS_RP_OFF_CONTROL_ATTACH()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
															<div class="clearfix"></div>
													   </div>                           
													   
													   <table class="table table-bordered" ng-form="myEditQMS_RP_OFF_CONTROL_ATTACH">
																<thead>
																		<tr>
																			<th class="col-md-1 col-sm-1 col-xs-1">
																				<input type="checkbox" ng-model="AllOffControlAttach" ng-change="SelectAllCheckOffControlAttach()" >  
																			</th>     
																			<th>@Resources.Strings.Name</th>
																			@*<th>@Resources.Strings.FilePath</th>*@                                                                          
																			<th class="col-md-1 col-sm-1 col-xs-1 custom_textbox_100">@Resources.Strings.Tools</th>
																		</tr>
																</thead>
																<tbody>
																		<tr  ng-repeat="mOffControlAttachData in listOffControlAttach" >
																			 <td><input type="checkbox" ng-model="mOffControlAttachData.ITEM_SELECTED" /></td>                                                            
																			 <td>{{ mOffControlAttachData.NAME }}</td>
																			 @*<td>{{ mOffControlAttachData.PATH }}</td>*@
																			 <td align="center">
																				 <span ng-click="downloadAttachFile(mOffControlAttachData)" ><i class="fa fa-download set-pointer" title="@Resources.Strings.Edit"></i></span>
																				 <span ng-click="openOffControlAttachFileDialog(mOffControlAttachData)" ><i class="fa fa-edit set-pointer" title="@Resources.Strings.Edit"></i></span>
																			 </td>
																		</tr>
																</tbody>                                                                                          
													   </table>
												  </div>
											 </div>
										</div> 
										
  
										<div role="tabpanel" class="tab-pane fade" id="tab_content5" aria-labelledby="description-tab">
											 <div class="row" style="overflow-x:scroll"> 
												  <div class="form-horizontal form-label-left" ng-form="myQMS_MA_CONTROL" >         
													   <div class="form-group">
															<label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.TextTitle <span class="required">*</span>
															</label>                                          
															<div class="col-md-8 col-sm-8 col-xs-12 text_left">
																 <input type="text" ng-model="createModel.TITLE_DESC"  class="form-control col-md-7 col-xs-12" >                                          
															</div>
																
													   </div>     
													   <div class="form-group">
															<label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description <span class="required">*</span>
															</label>                                          
															<div class="col-md-8 col-sm-8 col-xs-12 text_left">
																 <textarea ng-model="createModel.DETAIL_DESC" 
																		   rows="9" class="form-control" maxlength="2048" name="message" >
																 </textarea> 
															</div>                                                                
													   </div>                                                        
												  </div> 
											 </div>
										</div> 

								  </div> 
							  </div> 
						 </div>
					</div>
			   </div>                    
		  </div>
	 </div>

		<!-- Off Control Detail Dialog -->
		<div class="modal fade off-control-detail-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
			 <div class="modal-dialog modal-lg">
				  <div class="modal-content">
					   <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">@Resources.Strings.OffControlDetail </h4>
					   </div> 
					   <div class="modal-body"> 
							<div class="form-horizontal form-label-left" >                                
								 <div class="form-group">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Plant 
									  </label>
									  <div class="col-md-12 col-sm-12 col-xs-12 custom_textbox_150">
										   <select                                                    
													ng-model="TempEditOffControlDetailPlantId"
													chosen="{inherit_select_classes: true}" 
													ng-change="PlantChange(tempOffControlDetailPlantId)"
													ng-options="item.NAME  for item in listPlant"
													class="chosen_required">
													<option value=""></option>
										   </select> 
									  </div>
								 </div>
								 <div class="form-group">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Product
									  </label>
									  <div class="col-md-12 col-sm-12 col-xs-12 custom_textbox_150">
										   <select
												ng-model="TempEditOffControlDetailProductId"
												chosen="{inherit_select_classes: true}" 
												ng-change="ProductChange(tempOffControlDetailProductId)"
												ng-options="item.NAME  for item in listProduct" 
												class="chosen_required">
												<option value=""></option>
										  </select> 
									 </div>
								</div>
								<div class="form-group">
									 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.StartDateTime <span class="required">*</span>
									 </label>
									 <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
										  <input type="text" class="form-control"  ng-model="TempEditOffControlDetailStartDate" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
									 </div>
									 
									 <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.EndDateTime <span class="required">*</span>
									 </label>
									 <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left;"> 
										  <input type="text" class="form-control"  ng-model="TempEditOffControlDetailEndDate" data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker required> 
									 </div>
								</div> 
								<div class="form-group">
									 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.StartTime <span class="required">*</span>
									 </label>
									 <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
										  <input type="text" class="form-control"  ng-model="TempEditOffControlDetailStartDate" data-time-format="HH:mm" data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
									 </div>

									 <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.EndTime <span class="required">*</span>
									 </label>
									 <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left;"> 
										  <input type="text" class="form-control"  ng-model="TempEditOffControlDetailEndDate" data-time-format="HH:mm"  data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
									 </div>
								</div>                                
								<div class="form-group">
									 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Volume (@Resources.Strings.Ton)
									 </label>
									 <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left;"> 
										  <input type="text" name="QMS_RP_OFF_CONTROL_DETAIL_VOLUME"  ng-model="listOffControlDetailSelect.VOLUME" class="form-control custom_textbox_100" number-only-input-ex required >
									 </div>
								</div>
								<div class="form-group">
									 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ControlValueItem
									 </label>
									 <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left;">
										  <input type="text" name="QMS_RP_OFF_CONTROL_DETAIL_CONTROL_VALUE"  ng-model="listOffControlDetailSelect.CONTROL_VALUE" class="form-control custom_textbox_150" required >
									 </div>
								</div>
								@*<div class="form-group">
									 <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.RootCause
									 </label>
									 <div class="col-md-6 col-sm-6 col-xs-12">
										  <select
												 ng-model="TempEditOffControlDetailRootCauseId"
												 chosen="{inherit_select_classes: true}"  
												 ng-options="item.NAME  for item in listRootCause"
												 class="chosen_required">
												 <option value=""></option>
										  </select> 
									 </div>
								</div>  *@                              
																	
							</div>         
					   </div> 
					   <div class="modal-footer">
							<div class="form-group">
								@*<div class="col-md-3 col-sm-12 col-xs-12">
									<button type="button" class="btn btn-primary" my-confirm-click="delOffControlDetail()"  data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
								</div>*@
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3"> 
									<button type="button" class="btn btn-primary" ng-click="saveQMS_RP_OFF_CONTROL_DETAIL()" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
								</div>
							</div>
					   </div>                       
				  </div>
			 </div>
		</div>
		<!-- end  Off Spec Detail modal -->        

		<!-- Attach File Dialog -->
		<div class="modal fade file-attach-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
			 <div class="modal-dialog modal-lg">
				  <div class="modal-content"> 
					   <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">@Resources.Strings.FileAttach</h4>
					   </div>
					   <div class="modal-body">
							<form name="form">
								  <br />
								  <br />      
								  <div class="form-group">  
										<div class="row"> 
											<label class="control-label col-md-2 col-sm-2 col-xs-12" style="text-align:right;">@Resources.Strings.Name <span class="required">*</span>
											</label>
											<div class="col-md-7 col-sm-7 col-xs-12" >
												<input type="text" ng-model="FileAttName"  class="form-control col-md-4 col-xs-12" required> 
												<br />
											</div>
										</div> 
								</div>                                                                
								  <div class="form-group">
									   <div class="row" style="margin-top:10px;"> 
											<label class="control-label col-md-2 col-sm-2 col-xs-12" style="text-align:right;"></label>
																			
											<div class="col-md-10 col-sm-10 col-xs-12"  ngf-select ng-model="file" name="file" ngf-pattern="'.xls,.csv,.xlsx,.doc,.docx,.pdf'"
												 ngf-accept="'.xls,.csv,.xlsx,.doc,.docx,.pdf'" ngf-max-size="2048MB" ngf-min-height="100"  >
												 <span class="btn btn-primary" >@Resources.Strings.Browse</span> 
												 <span >{{file.name}}</span>  
										   </div> 
									  </div>
								  </div>                                                                    
							</form>
					   </div>
					   <div class="modal-footer">
							<button type="button" class="btn btn-primary" ng-click="upload(file)" ><i class="fa fa-save"></i> @Resources.Strings.Upload</button>
							<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Cancel</button>
					   </div> 
				  </div>
			 </div>
		</div>
		<!-- end Attach File modal -->


		<!-- Auto Off Control Detail Dialog -->
		<div class="modal fade auto-offcontrol-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
			 <div class="modal-dialog modal-lg">
				  <div class="modal-content">
					   <div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">@Resources.Strings.AutoOffControlCal </h4>
					   </div> 
					   <div class="modal-body"> 
							<div class="form-horizontal form-label-left" >                                
								 <div class="form-group"   ng-hide="searchAutoCal.CHK_RECALRAW">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.DocStatusCal 
									  </label>
									  <div class="ccol-md-9 col-sm-9 col-xs-12 ">
										   <select                                                    
													ng-model="TempAutoType"
													chosen="{inherit_select_classes: true}" 
													ng-options="item.Text  for item in listAutoOffType"
                                                    ng-change="CheckTempAutoType()"
													class="chosen_required">
													<option value=""></option>
										   </select> 
									  </div>
								 </div>
								 <div class="form-group"  style="display:none;">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
									  <div class="checkbox"  >
										<label>
											<input type="checkbox" ng-model="searchAutoCal.CHK_RECALRAW" >  @Resources.Strings.ReCalRawData
										</label>
									  </div> 
								</div>
                                <div class="form-group"  ng-show="searchAutoCal.CHK_RECALRAW">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
									  <div class="checkbox">
										<label>
											<input type="checkbox" ng-model="searchAutoCal.CHK_ALL_PLANT" >  @Resources.Strings.AllPlant
										</label> &nbsp;&nbsp; <label>
											<input type="checkbox" ng-model="searchAutoCal.CHK_ALL_PRODUCT" >  @Resources.Strings.AllProduct
										</label>
									  </div> 
								</div> 
								<div class="form-group" ng-show="searchAutoCal.CHK_RECALRAW && !searchAutoCal.CHK_ALL_PLANT ">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Plant</label>
									  <div class="checkbox">
									  <div class="col-md-9 col-sm-9 col-xs-12 "> 
											 <select
													ng-model="tempAutoPlantId"
													chosen="{inherit_select_classes: true}" multiple
													ng-options="item.NAME  for item in listPlant"
													class="col-md-12 col-sm-12 col-xs-12 "
													>
													<option value=""></option>
											</select>  
									  </div> 
									  </div> 
								</div>
								<div class="form-group" ng-show="searchAutoCal.CHK_RECALRAW && !searchAutoCal.CHK_ALL_PRODUCT">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Product</label>
									  <div class="checkbox">
										<div class="col-md-9 col-sm-9 col-xs-12 "> 
											 <select
												ng-model="tempAutoProductId"
												chosen="{inherit_select_classes: true}"  multiple
												ng-options="item.NAME  for item in listProduct" 
												class="col-md-12 col-sm-12 col-xs-12 ">
												<option value=""></option>
											 </select> 
										</div>
									  </div> 
								</div>
								<div class="form-group">
									  <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
									  <div class="control-label col-md-6 col-sm-6 col-xs-12 required text-left " style="text-align:left;">
                                        <span  ng-hide="searchAutoCal.CHK_RECALRAW">@Resources.Strings.ReCalRawDataDesc</span>
                                        <span  ng-show="searchAutoCal.CHK_RECALRAW">@Resources.Strings.ReCalurateRawDataDesc </span>
										<ul> 
                                            <li  ng-hide="searchAutoCal.CHK_RECALRAW">@Resources.Strings.ReCalRawDataDesc1</li>
                                            <li  ng-hide="searchAutoCal.CHK_RECALRAW">@Resources.Strings.ReCalRawDataDesc2</li>
                                            <li  ng-hide="searchAutoCal.CHK_RECALRAW">@Resources.Strings.ReCalRawDataDesc3</li>
										</ul>
									  </div> 
								</div>                 
							</div>         
					   </div> 
					   <div class="modal-footer">
							<div class="form-group"> 
								<div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-primary"  ng-hide="searchAutoCal.CHK_RECALRAW" ng-click="loadAutoOffControlCal()" ><i class="fa fa-play"></i> @Resources.Strings.Execute</button>
									<button type="button" class="btn btn-primary"  ng-show="searchAutoCal.CHK_RECALRAW" ng-click="loadAutoOffControlCal()" ><i class="fa fa-play"></i> @Resources.Strings.ResetManageData</button>
									<button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
								</div>
							</div>
					   </div>
				  </div>
			 </div>
		</div>
		<!-- end  Off Spec Detail modal --> 
</div>

<script type="text/javascript">
	$(document).ready(function () {

		//        $(".condcheck").change(function () {
		//            if ($(".condcheck").prop("checked")) {
		//                $(".min_max").hide();
		//                $(".conc_loading").show();
		//            } else {
		//                $(".conc_loading").hide();
		//                $(".min_max").show();
		//            }
		//        });
	});

//    function openOffControlSummaryDialog() {
//        $(".off-control-summary-modal-lg").modal('show');
//    }
</script>

<script type="text/javascript">

	//app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
	  
	app.controller('myCtrl', ['$scope', 'Upload',  '$http', 'Fact' , function ($scope, Upload, $http, Fact) {
		$scope.createModel = getCreateModel();
		$scope.createOffControlDetailModel = getCreateOffControlDetailModel();
		$scope.createOffControlGraphModel = getCreateOffControlGraphModel();
		$scope.createOffControlAttachModel = getCreateOffControlAttachModel();
		$scope.createOffControlSummaryModel_T0 = getCreateOffControlSummaryModel();
		$scope.createOffControlSummaryModel_T1 = getCreateOffControlSummaryModel();
		$scope.createOffControlSummaryModel_T2 = getCreateOffControlSummaryModel();

		$scope.TempHeadStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
		$scope.TempHeadEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
		$scope.TempOffControlDetailStartDate = Fact.getDateFromDoubleEx($scope.createOffControlDetailModel.START_DATE);
		$scope.TempOffControlDetailEndDate = Fact.getDateFromDoubleEx($scope.createOffControlDetailModel.END_DATE);
		$scope.TempSearchOffControlDetailStartDate = Fact.getDateFromDoubleEx($scope.createOffControlDetailModel.START_DATE);
		$scope.TempSearchOffControlDetailEndDate = Fact.getDateFromDoubleEx($scope.createOffControlDetailModel.END_DATE);


		$scope.tempReportDocStatusId; 
		$scope.listReportDocStatus = getListReportDocStatus();

		$scope.tempOffControlDetailPlantId;
		$scope.listPlant = getListPlant();

		$scope.tempOffControlDetailProductId;
		$scope.listProduct = getListProduct();


		$scope.tempOffControlDetailRootCauseId;
		$scope.listRootCause = getListRootCause();
		 

		$scope.searchOffControlDetailModel = getOffControlDetailSearchModel();
		$scope.searchOffControlGraphModel = getOffControlGraphSearchModel();
		$scope.searchOffControlAttachModel = getOffControlAttachSearchModel();
		$scope.searchOffControlSummary = getOffControlSummarySearchModel();
		$scope.searchAutoCal = getAutoCalSearchModel();

		$scope.TempSearchOffControlDetailStartDate = null;
		$scope.TempSearchOffControlDetailEndDate = null;
		$scope.tempSearchOffControlDetailPlantId;
		$scope.tempSearchOffControlDetailProductId;
		$scope.tempSearchOffControlDetailRootCauseId;


		$scope.TempPageSize;
		$scope.PageSize = Fact.setPageSize(20);
		$scope.totalPage = 1; //init;
		$scope.totalRecords = 0;
		$scope.PageIndex = 1; 
		$scope.SortColumn = Fact.setSortColumn('PLANT_ID');
		$scope.SortOrder = Fact.setSortOrder('desc');

		$scope.listPageSize = getListPageSize(); // list of page size
		$scope.listPageIndex;
		$scope.listOffControlDetail; // listdata
		$scope.AllOffControlDetail; //checkbox
		$scope.listOffControlGraph; // listdata
		$scope.AllOffControlGraph; //checkbox
		$scope.listOffControlAttach; // listdata
		$scope.AllOffControlAttach; //checkbox

		$scope.listAutoOffType = getListAutoOffType();
		$scope.TempAutoType ;
        $scope.TempAutoTypeValue = true;
        $scope.tempAutoPlantId = [];
		$scope.tempAutoProductId = [];

		$scope.tempOffControlDetail;
		$scope.listOffControlDetailSelect = {};
		$scope.AllOffControlDetail= false;
		$scope.ShowOffControlDetail = true;
		$scope.listOffControlDetail;

		$scope.tempOffControlGraph;
		$scope.listOffControlGraphSelect = {};
		$scope.AllOffControlGraph= false;
		$scope.ShowOffControlGraph = true;
		$scope.listOffControlGraph;

		$scope.tempOffControlAttach;
		$scope.listOffControlAttachSelect = {};
		$scope.AllOffControlAttach= false;
		$scope.ShowOffControlAttach = true;
		$scope.listOffControlAttach;


		$scope.ShowOffControlSummary_T0 = true;
		$scope.listOffControlSummary_T0;


		$scope.ShowOffControlSummary_T1 = true;
		$scope.listOffControlSummary_T1;


		$scope.ShowOffControlSummary_T2 = true;
		$scope.listOffControlSummary_T2;

		$scope.dateOptions = {
			dateFormat: 'dd/mm/yy',
			/*changeYear: true,
			changeMonth: true,
			yearRange: '1900:-0',*/
		}
		
		$scope.showSearch = false;
		



//#region QMS_RP_OFF_CONTROL_DETAIL
		$scope.IsAutoCalDetail = function(mData){
			try{
				if(mData.ID == 0) return "red";
			}catch(e){

			}
		}
	
		//Search 
		$scope.SelectAllCheckOffControlDetail = function () { Fact.SelectAllCheck($scope.listOffControlDetail, $scope.AllOffControlDetail) }
		//$scope.editData = function(mData){ Fact.editData( get_base_url("Report/CreateOffControlSummary") + "?id=" + mData.ID ); }
		$scope.sort = function(e){ 
			Fact.sort(e);
			$scope.SortColumn = Fact.getSortColumn();
			$scope.SortOrder = Fact.getSortOrder();
			$scope.loadOffControlDetail();
		}

		
		$scope.openOffControlDetailDialog = function(data){
		
				$(".off-control-detail-modal-lg").modal('show');
				if( data != false ){
				 
					$scope.listOffControlDetailSelect = angular.copy(data);
					$scope.TempEditOffControlDetailPlantId = {};
					$scope.TempEditOffControlDetailProductId =  {};
					$scope.TempEditOffControlDetailRootCauseId = {};   
						 
					 if($scope.listOffControlDetailSelect.RP_OFF_CONTROL_ID  > 0){         
				 
						$scope.listPlant.forEach(function(entry) {
							if($scope.listOffControlDetailSelect.PLANT_ID  == entry.ID){  
								$scope.TempEditOffControlDetailPlantId =  entry;                       
							} 
						});
						$scope.listProduct.forEach(function(entry) {
							if($scope.listOffControlDetailSelect.PRODUCT_ID  == entry.ID){  
								$scope.TempEditOffControlDetailProductId =  entry; 
							} 
						});
//						$scope.listRootCause.forEach(function(entry) {
//							if($scope.listOffControlDetailSelect.ROOT_CAUSE_ID  == entry.ID){  
//								$scope.TempEditOffControlDetailRootCauseId =  entry; 
//							} 
//						});  
					 
						$scope.TempEditOffControlDetailStartDate = Fact.getDateFromDoubleEx($scope.listOffControlDetailSelect.START_DATE);
						$scope.TempEditOffControlDetailEndDate = Fact.getDateFromDoubleEx($scope.listOffControlDetailSelect.END_DATE);                    
						//$scope.$apply();
					 }
				}else{
					 $scope.TempEditOffControlDetailPlantId = {};
					 $scope.TempEditOffControlDetailProductId =  {};
					 $scope.TempEditOffControlDetailRootCauseId = {};
					 $scope.TempEditOffControlDetailStartDate = null;
					 $scope.TempEditOffControlDetailEndDate = null;
					 $scope.listOffControlDetailSelect = {};
					 $scope.listOffControlDetailSelect.RP_OFF_CONTROL_ID = $scope.createModel.ID;
				}          
		}

		$scope.clearOffControlDetail = function() {  
			   $scope.mOffControlDetailSearch = getOffControlDetailSearchModel();                  
			   
			   $scope.TempSearchOffControlDetailStartDate = null;
			   $scope.TempSearchOffControlDetailEndDate = null;
			   $scope.tempSearchOffControlDetailPlantId = {};
			   $scope.tempSearchOffControlDetailProductId = {};
			   $scope.tempSearchOffControlDetailRootCauseId = {};

			   $scope.loadOffControlDetail();
		} 

		$scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
		 
		$scope.showOffControlDetailSearch = function(){  $scope.showSearch = true; /*$("#searchOffControlDetail").modal('show');*/}
		$scope.closeOffControlDetailSearch = function() { $scope.showSearch = false; }
		$scope.getOffControlDetailSearch = function()
		{
			$("#searchOffControlDetail").modal('hide');
			//กำหนด ค่า params ให้กับ mOffControlDetailSearch
			if( typeof $scope.SearchOffControlDetailtempPlantId !== "undefined" ){
				$scope.mOffControlDetailSearch.PLANT_ID = $scope.SearchOffControlDetailtempPlantId.ID;
			}
			if( typeof $scope.SearchOffControlDetailtempProductId !== "undefined" ){
				$scope.mOffControlDetailSearch.PRODUCT_ID = $scope.SearchOffControlDetailtempProductId.ID;
			}
//			if( typeof $scope.SearchOffControlDetailtempRootCauseId !== "undefined" ){
//				$scope.mOffControlDetailSearch.ROOT_CAUSE_ID = $scope.SearchOffControlDetailtempRootCauseId.ID;
//			}
			//เรียกใช้ ฟังก์ชั่น แบบ ปกติ
			$scope.loadOffControlDetail();
		}

	   
		$scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadOffControlDetail(); }          
		$scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadOffControlDetail(); }
		$scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadOffControlDetail(); }        
		$scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadOffControlDetail(); }        
		$scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadOffControlDetail(); }
		$scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
		$scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadOffControlDetail(); }

        $scope.CheckTempAutoType = function(){
            if( typeof $scope.TempAutoType !== "undefined"  && $scope.TempAutoType !== null ){
				var AUTO_OFF_TYPE =$scope.TempAutoType.Value;
                var initial = 4;

                if(initial == AUTO_OFF_TYPE){
                    $scope.TempAutoTypeValue = false;
                    $scope.searchAutoCal.CHK_RECALRAW = false;
                }else{
                    $scope.TempAutoTypeValue = true;                  
                }
			}
        }

		$scope.loadOffControlDetail = function () {

			if(typeof $scope.tempSearchOffControlDetailPlantId !== "undefined")
				$scope.searchOffControlDetailModel.PLANT_ID = $scope.tempSearchOffControlDetailPlantId.ID;
			if(typeof $scope.tempSearchOffControlDetailProductId !== "undefined")
				$scope.searchOffControlDetailModel.PRODUCT_ID = $scope.tempSearchOffControlDetailProductId.ID;
//			if(typeof $scope.tempSearchOffControlDetailRootCauseId !== "undefined")
//				$scope.searchOffControlDetailModel.ROOT_CAUSE_ID = $scope.tempSearchOffControlDetailRootCauseId.ID;

			//ไม่น่าจะต้องใช้นะ 
//            if(typeof $scope.TempSearchOffControlDetailStartDate !== "undefined")
//                $scope.searchOffControlDetailModel.START_DATE = $scope.TempSearchOffControlDetailStartDate;
//            if(typeof $scope.TempSearchOffControlDetailEndDate !== "undefined")
//                $scope.searchOffControlDetailModel.END_DATE = $scope.TempSearchOffControlDetailEndDate;
		   

		   if(typeof $scope.TempHeadStartDate !== "undefined")
				$scope.searchOffControlDetailModel.AUTO_START_DATE = $scope.TempHeadStartDate;

		   if(typeof $scope.TempHeadEndDate !== "undefined")
				$scope.searchOffControlDetailModel.AUTO_END_DATE = $scope.TempHeadEndDate;
		   

			var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROL_DETAILBySearch");
			//console.log("loadOffControlDetail", $scope.createModel.ID );
			if( $scope.createModel.ID > 0){ 
				$scope.searchOffControlDetailModel.RP_OFF_CONTROL_ID = $scope.createModel.ID;
				var jsonData = {
					 "PageIndex":$scope.PageIndex,
					 "PageSize": $scope.PageSize,
					 "SortColumn":  $scope.SortColumn,
					 "SortOrder":  $scope.SortOrder,
					 "mSearch": $scope.searchOffControlDetailModel
				};

				jsonData.mSearch.AUTO_OFF_TYPE = $scope.TempAutoType.Value;
				
				Fact.loadlistData(urlName, jsonData, function(response){ 
					try{
						$scope.listOffControlDetail = response.data.message; 
						$scope.totalPage = response.data.toTalPage; //init;
						$scope.totalRecords = response.data.totalRecords;
						$scope.listPageIndex = response.data.listPageIndex;
				
						$scope.listPageIndex.forEach(function(entry, index) {
							 if($scope.PageIndex == entry.PageIndex)
								$scope.TempPageIndex =  entry;  
						});
					}catch(e){
					
					}
				});
			}

		}
	 
		 
		$scope.saveQMS_RP_OFF_CONTROL_DETAIL = function () {
			//myQMS_RP_OFF_CONTROL_DETAIL
				$scope.createOffControlDetailModel.ID = $scope.listOffControlDetailSelect.ID;
				$scope.createOffControlDetailModel.RP_OFF_CONTROL_ID = $scope.listOffControlDetailSelect.RP_OFF_CONTROL_ID;
				var urlName = get_base_url("Report/CreateQMS_RP_OFF_CONTROL_DETAIL");
				var valid = true;

				if( typeof $scope.TempEditOffControlDetailPlantId !== "undefined"  && typeof $scope.TempEditOffControlDetailPlantId.ID !== "undefined" ){
					$scope.createOffControlDetailModel.PLANT_ID = $scope.TempEditOffControlDetailPlantId.ID; 
				}else{
					valid = false;
				}
				if( typeof $scope.TempEditOffControlDetailProductId !== "undefined"  && typeof $scope.TempEditOffControlDetailProductId.ID !== "undefined" ){
					$scope.createOffControlDetailModel.PRODUCT_ID = $scope.TempEditOffControlDetailProductId.ID;
				}else{
					valid = false;
				}     
//				if( typeof $scope.TempEditOffControlDetailRootCauseId !== "undefined"  && typeof $scope.TempEditOffControlDetailRootCauseId.ID !== "undefined" ){
//					$scope.createOffControlDetailModel.ROOT_CAUSE_ID = $scope.TempEditOffControlDetailRootCauseId.ID;
//				}else{
//					valid = false;
//				}                             
				if( typeof $scope.TempEditOffControlDetailEndDate !== "undefined"  && $scope.TempEditOffControlDetailEndDate != null ){
					$scope.createOffControlDetailModel.END_DATE =$scope.TempEditOffControlDetailEndDate;
				}else{
					valid = false;
				}  
				if( typeof $scope.TempEditOffControlDetailStartDate !== "undefined"  && $scope.TempEditOffControlDetailStartDate !== null ){
					$scope.createOffControlDetailModel.START_DATE =$scope.TempEditOffControlDetailStartDate;
				}else{
					valid = false;
				}            

				if( typeof $scope.createOffControlDetailModel.VOLUME !== "undefined"  
					&& $scope.listOffControlDetailSelect.VOLUME !== null 
					&& $scope.listOffControlDetailSelect.VOLUME >= 0
					&& $scope.TempEditOffControlDetailEndDate >= $scope.TempEditOffControlDetailStartDate
					&& typeof $scope.listOffControlDetailSelect.CONTROL_VALUE !== "undefined"  
					&& $scope.listOffControlDetailSelect.CONTROL_VALUE !== null          
				){
					$scope.createOffControlDetailModel.VOLUME = $scope.listOffControlDetailSelect.VOLUME;
					$scope.createOffControlDetailModel.CONTROL_VALUE = $scope.listOffControlDetailSelect.CONTROL_VALUE;
				}else{
					valid = false;
				}
			
			
				if(true == valid){ 
					$(".off-control-detail-modal-lg").modal('hide');
					var jsonData = $scope.createOffControlDetailModel;
					Fact.saveDataCallback(urlName, jsonData, function(response){
						Fact.showMessage(response.data.message);
						$scope.loadOffControlDetail();
					});
				}else{
					Fact.showMessage("@Resources.Strings.PleaseInputData");
				} 
		}


		$scope.delQMS_RP_OFF_CONTROL_DETAIL = function(){
			var urlName = get_base_url("Report/DeleteQMS_RP_OFF_CONTROL_DETAIL");
			Fact.deleteMultiDataEx(urlName, $scope.listOffControlDetail, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadOffControlDetail(); });
		}

	  
		$scope.PlantChange = function(itemSelected){ 
			$scope.tempOffControlDetailPlantId = itemSelected;
		};
		$scope.ProductChange = function(itemSelected){ 
			$scope.tempOffControlDetailProductId = itemSelected;
		};
		$scope.RootCauseChange = function(itemSelected){ 
			$scope.tempOffControlDetailRootCauseId = itemSelected;
		}






///// OFF CONTROL GRAPH
		$scope.SelectAllCheckOffControlGraph = function () { Fact.SelectAllCheck($scope.listOffControlGraph, $scope.AllOffControlGraph) }

		$scope.loadOffControlGraph = function () {

			var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROL_GRAPHBySearch");
			//console.log("loadGraph", $scope.createModel.ID );
			if( $scope.createModel.ID > 0){ 
				$scope.searchOffControlGraphModel.RP_OFF_CONTROL_ID = $scope.createModel.ID;
				var jsonData = {
					 "PageIndex":$scope.PageIndex,
					 "PageSize": $scope.PageSize,
					 "SortColumn": "PREVIOUS",
					 "SortOrder": "ID",
					 "mSearch": $scope.searchOffControlGraphModel
				};
				
				Fact.loadlistData(urlName, jsonData, function(response){ 
					try{
						$scope.listOffControlGraph = response.data.message;                        
					}catch(e){
					
					}
				});
			}

		}
		  
		 
		$scope.saveQMS_RP_OFF_CONTROL_GRAPH = function () {
			//myQMS_RP_OFF_CONTROL_GRAPH 
						
			$scope.createOffControlGraphModel.RP_OFF_CONTROL_ID = $scope.createModel.ID;

			var urlName = get_base_url("Report/CreateQMS_RP_OFF_CONTROL_GRAPH");
			var valid = true;
			
			if( typeof $scope.createOffControlGraphModel.PREVIOUS !== "undefined"  
				&& $scope.createOffControlGraphModel.PREVIOUS !== null   
				&& typeof $scope.createOffControlGraphModel.OFF_CONTROL !== "undefined"  
				&& $scope.createOffControlGraphModel.OFF_CONTROL !== null  
//                && typeof $scope.createOffControlGraphModel.GRAPH_DESC !== "undefined"  
//                && $scope.createOffControlGraphModel.GRAPH_DESC !== null                             
			){
				
			}else{
				valid = false;
			}
			
			
			if(true == valid){ 
				var jsonData = $scope.createOffControlGraphModel; 
				Fact.saveDataCallback(urlName, jsonData, function(response){
				   $scope.createOffControlGraphModel = getCreateOffControlGraphModel();                    
					$scope.loadOffControlGraph();
				});
			}else{
				Fact.showMessage("@Resources.Strings.PleaseInputData");
			} 
		}


		$scope.saveEditQMS_RP_OFF_CONTROL_GRAPH = function (jsonData) { 
			
			var urlName = get_base_url("Report/CreateQMS_RP_OFF_CONTROL_GRAPH");
			$scope.listOffControlGraphSelect = {};

			jsonData.RP_OFF_CONTROL_ID = $scope.createModel.ID;
			var valid = true;
			
			if( typeof jsonData.PREVIOUS !== "undefined"  
				&& jsonData.PREVIOUS !== null   
				&& typeof jsonData.OFF_CONTROL !== "undefined"  
				&& jsonData.OFF_CONTROL !== null  
//                && typeof jsonData.GRAPH_DESC !== "undefined"  
//                && jsonData.GRAPH_DESC !== null                             
			){
				
			}else{
				valid = false;
			}
			
			
			if(true == valid){ 
				Fact.saveDataCallback(urlName, jsonData, function (response) {  
					$scope.ShowOffControlGraph = true;
					$scope.createOffControlGraphModel = getCreateOffControlGraphModel();
					$scope.loadOffControlGraph();
				});                       
			}else{
				Fact.showMessage("@Resources.Strings.PleaseInputData");
			}  
		} 

		$scope.delQMS_RP_OFF_CONTROL_GRAPH = function(){
			var urlName = get_base_url("Report/DeleteQMS_RP_OFF_CONTROL_GRAPH");
			Fact.deleteMultiDataEx(urlName, $scope.listOffControlGraph, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadOffControlGraph(); });
		}

		$scope.getOffControlGraphTemplate = function (mOffControlGraphData) { 
			//console.log("get rd detail : " , mOffControlGraphData , mOffControlGraphData.ID);
			if (mOffControlGraphData.ID === $scope.listOffControlGraphSelect.ID) 
			{
				return 'editOffControlGraph';
			}else{
				return 'displayOffControlGraph';
			}
		};

		$scope.editOffControlGraph = function (mOffControlGraphData) {
			$scope.ShowOffControlGraph = false;
			$scope.listOffControlGraphSelect = angular.copy(mOffControlGraphData); 
																									
			$scope.createOffControlGraphModel.PREVIOUS = $scope.listOffControlGraphSelect.PREVIOUS;
			$scope.createOffControlGraphModel.OFF_CONTROL = $scope.listOffControlGraphSelect.OFF_CONTROL;
			$scope.createOffControlGraphModel.POSITION = $scope.listOffControlGraphSelect.POSITION;
			$scope.createOffControlGraphModel.GRAPH_DESC = $scope.listOffControlGraphSelect.GRAPH_DESC;
		};

		$scope.resetOffControlGraph = function () { 
			$scope.ShowOffControlGraph = true;
			$scope.listOffControlGraph.forEach(function(entry) { 
				if($scope.listOffControlGraphSelect.ID == entry.ID){ 
					entry.PREVIOUS = $scope.listOffControlGraphSelect.PREVIOUS;
					entry.OFF_CONTROL = $scope.listOffControlGraphSelect.OFF_CONTROL;
					entry.POSITION = $scope.listOffControlGraphSelect.POSITION;
					entry.GRAPH_DESC = $scope.listOffControlGraphSelect.GRAPH_DESC;
				} 
			});
			$scope.listOffControlGraphSelect = {};

		};

  
		$scope.adjustOffControlGraphPosition = function(data, arrow){
			console.log(data);
			var urlName = get_base_url("Report/SetOffControlGraphPosition");
			var jsonData = {"ID" : data.ID, "DIRECTION" : arrow, RP_OFF_CONTROL_ID : data.RP_OFF_CONTROL_ID };
			Fact.loadlistData(urlName, jsonData, function (response){  
			   try{
					//$scope.listOffControlGraph = response.data.message;
					$scope.loadOffControlGraph();                       
			   }catch(e){
					
			   }
			});  
		}


///// OFF CONTROL ATTACH
		$scope.RP_OFF_CONTROL_ATTACH_ID = 0;
		$scope.SelectAllCheckOffControlAttach = function () { Fact.SelectAllCheck($scope.listOffControlAttach, $scope.AllOffControlAttach) }

		 // upload on file select or drop
		$scope.FileAttName;

		$scope.downloadAttachFile = function (data){
			var path =  get_base_url("Files/DownloadAttachReportFile");
			path += "?id=" + data.ID;
			window.location.href = path; 
		}


		$scope.upload = function (file) {
			if ($scope.form.file.$valid && $scope.file) {
				console.log("valid");
			}

			Upload.upload({
				url: 'Files/SaveFileAttachReport',
				data: { file: file, 
						'FileName': $scope.FileAttName ,
						'RP_OFF_CONTROL_ID' : $scope.createModel.ID ,
						'RP_OFF_CONTROL_ATTACH_ID' : $scope.RP_OFF_CONTROL_ATTACH_ID
					   }
			}).then(function (resp) { 
				  console.log(resp.data.result);
				  $(".file-attach-modal-lg").modal('hide');
				  if(resp.data.result == "Error"){
					Fact.showError( resp.data.message );
				  }else{        
				 //Fact.showMessage( "Upload File"+ resp.data.thisFileUpload + "Success"); 
					 $scope.loadOffControlAttach();
				 }

			}, function (resp) {
				console.log('Error status: ' + resp.status);
			}, function (evt) {
				var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
				console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
			});
		};


		$scope.loadOffControlAttach = function () {

			var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROL_ATTACHBySearch");
			//console.log("loadAttach", $scope.createModel.ID );
			if( $scope.createModel.ID > 0){ 
				$scope.searchOffControlAttachModel.RP_OFF_CONTROL_ID = $scope.createModel.ID;
				var jsonData = {
					 "PageIndex":$scope.PageIndex,
					 "PageSize": $scope.PageSize,
					 "SortColumn": "NAME",
					 "SortOrder": "ID",
					 "mSearch": $scope.searchOffControlAttachModel
				};
				
				Fact.loadlistData(urlName, jsonData, function(response){ 
					try{
						$scope.listOffControlAttach = response.data.message;                        
					}catch(e){
					
					}
				});
			}

		}
	 
   
		$scope.delQMS_RP_OFF_CONTROL_ATTACH = function(){
			var urlName = get_base_url("Report/DeleteQMS_RP_OFF_CONTROL_ATTACH");
			Fact.deleteMultiDataEx(urlName, $scope.listOffControlAttach, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadOffControlAttach(); });
		}

		
		$scope.openOffControlAttachFileDialog = function (data) {
			
			console.log(data);    

			$(".file-attach-modal-lg").modal('show');
				if( data != false ){ 
					
					$scope.listOffControlAttachSelect = angular.copy(data);
					$scope.RP_OFF_CONTROL_ATTACH_ID = data.ID;
					
					 if($scope.listOffControlAttachSelect.RP_OFF_CONTROL_ID  > 0){   
						$scope.createOffControlAttachModel.NAME = $scope.listOffControlAttachSelect.NAME; 
						$scope.FileAttName =  $scope.listOffControlAttachSelect.NAME; 
					 }
				}else{
				   
					 $scope.listOffControlAttachSelect.NAME = null;
					 $scope.FileAttName =  "";
					 $scope.RP_OFF_CONTROL_ATTACH_ID = 0;
					 $scope.listOffControlDetailSelect.RP_OFF_CONTROL_ID = $scope.createModel.ID;
				}
			
		};

		$scope.resetOffControlAttach = function () { 
			$scope.ShowOffControlAttach = true;
			$scope.listOffControlAttach.forEach(function(entry) { 
				if($scope.listOffControlAttachSelect.ID == entry.ID){ 
					entry.NAME = $scope.listOffControlAttachSelect.NAME;
					entry.PATH = $scope.listOffControlAttachSelect.PATH;
				} 
			});
			$scope.listOffControlAttachSelect = {};

		};
			   
		
///// Data QMS_RP_OFF_CONTROL_SUMMARY T0
 

		$scope.setClass = function(data){
            var type = data.ITEM_TYPE;
            var rank = data.SHOW_RANK;
            var showData = false;//data.SHOW_ON_TREND_FLAG;
            if(data.VALUE != null && data.VALUE > 0){
                showData = true;
            }


            if(type == 1 || type == 2){ // header column and row 
                  return "metrix_header";
            } else if(type == 3 || type == 0 ){ 
                if(showData == true){
                    if (rank == 0) return "metrix_data_show0";
                    if (rank == 1) return "metrix_data_show1";
                    if (rank == 2) return "metrix_data_show2";
                    if (rank == 3) return "metrix_data_show3";
                    if (rank == 4) return "metrix_data_show4";
                    if (rank == 5) return "metrix_data_show5";
                }else{
                    return "metrix_data";
                }
            } else  if(type == 4 || type == 5){
                  return "metrix_sumdata_show";                
            }else if(type == 6){
                  return "metrix_sumalldata_show";
            }             
        }

		$scope.loadOffControlSummary= function () {
			var urlName = get_base_url("Report/GetTemplateOffControlSummary");

			if( $scope.createModel.ID > 0){ 
				var jsonData = {
					 "RPOffControlId": $scope.createModel.ID
				};
				  
				Fact.loadlistData(urlName, jsonData, function(response){ 

					try{
					   //console.log(response); 
					   
					   $scope.listOffControlSummary_T0 = response.data.message.matrixOffControl;
					   $scope.listOffControlSummary_T1 = response.data.message.matrixInputVolume;
					   $scope.listOffControlSummary_T2 = response.data.message.matrixPercentage;
					   $(".showTab").show(); 
					   //console.log($scope.listOffControlSummary_T0); 
					}catch(e){
					
					}
				});
			}
		}
		
		$scope.loadOffControlSummary_T0 = function () {
			var urlName = get_base_url("Report/GetTemplateOffControlSummary_T0");

			if( $scope.createModel.ID > 0){ 
				var jsonData = {
					 "RPOffControlId": $scope.createModel.ID
				};
				  
				Fact.loadlistData(urlName, jsonData, function(response){ 

					try{
					   $scope.listOffControlSummary_T0 = response.data.message;                       
					}catch(e){
					
					}
				});
			}
		}

		$scope.openOffControlSummary_T0 = function(data){
			if(data.ITEM_TYPE == 3){
				$(".off-control-summary-modal-lg-T0").modal('show');
				$scope.createOffControlSummaryModel_T0  = angular.copy(data);
				console.log($scope.createOffControlSummaryModel_T0);
			}
		}

		$scope.saveQMS_RP_OFF_CONTROL_SUMMARY_ALL = function () {
			$(".off-control-summary-modal-lg-T0").modal('hide');
		   
			//DATA_TYPE 0: Total ของเสียเป็นจำนวน 1: Total ของเสียเป็น % 2: Total input ทั้งหมด
			var urlName = get_base_url("Report/CreateLISTQMS_RP_OFF_CONTROL_SUMMARY");
			var jsonData = [];

			$scope.listOffControlSummary_T0.forEach(function(entry) {

					for (var i=0; i<entry.length; i++) {
						 try{
							  $scope.createOffControlSummaryModel_T0 = {};               
								
							  if ( parseFloat(entry[i].SHOW_OUTPUT) >= 0 && parseFloat(entry[i].ID) > 0 ){// check id ป้องกัน input volume
								   jsonData.push({
													ID : entry[i].ID,
													PLANT_ID : entry[i].PLANT_ID,
													PRODUCT_ID : entry[i].PRODUCT_ID,
													VALUE : parseFloat(removeCommas(entry[i].SHOW_OUTPUT)),
													RP_OFF_CONTROL_ID : $scope.createModel.ID,
													DATA_TYPE : 0
												}); 
								}
								//console.log("Save#",i);                                    
						 }catch(e){
							console.log("error",e);
						 }   
					} 
						
		   });

		   //console.log(jsonData, jsonData.length); //return;   
			if(jsonData.length > 0){
				Fact.saveDataCallback(urlName, jsonData, function(response){ 
					  $scope.saveQMS_RP_OFF_CONTROL_SUMMARY_T1();
				});
			}
		}


		$scope.saveQMS_RP_OFF_CONTROL_SUMMARY_T0 = function () {
			$(".off-control-summary-modal-lg-T0").modal('hide');
		   
			//DATA_TYPE 0: Total ของเสียเป็นจำนวน 1: Total ของเสียเป็น % 2: Total input ทั้งหมด
			var urlName = get_base_url("Report/CreateLISTQMS_RP_OFF_CONTROL_SUMMARY");
			var jsonData = [];

			$scope.listOffControlSummary_T0.forEach(function(entry) {

					for (var i=0; i<entry.length; i++) {
						 try{
							  $scope.createOffControlSummaryModel_T0 = {};               
								
							  if ( parseFloat(entry[i].SHOW_OUTPUT) >= 0 && parseFloat(entry[i].ID) > 0 ){// check id ป้องกัน input volume
								   jsonData.push({
													ID : entry[i].ID,
													PLANT_ID : entry[i].PLANT_ID,
													PRODUCT_ID : entry[i].PRODUCT_ID,
													VALUE : parseFloat(removeCommas(entry[i].SHOW_OUTPUT)),
													RP_OFF_CONTROL_ID : $scope.createModel.ID,
													DATA_TYPE : 0
												}); 
								}
								//console.log("Save#",i);                                    
						 }catch(e){
							console.log("error",e);
						 }   
					} 
						
		   });

		   //console.log(jsonData, jsonData.length); //return;   
			if(jsonData.length > 0){
				Fact.saveDataCallback(urlName, jsonData, function(response){ 
						$scope.loadOffControlSummary();
				});
			}
		}

///// Data QMS_RP_OFF_CONTROL_SUMMARY T1
 
 
	   $scope.loadOffControlSummary_T1 = function () {
			var urlName = get_base_url("Report/GetTemplateOffControlSummary_T1");

			if( $scope.createModel.ID > 0){ 
				var jsonData = {
					 "RPOffControlId": $scope.createModel.ID
				};
				  
				Fact.loadlistData(urlName, jsonData, function(response){ 

					try{
					   $scope.listOffControlSummary_T1 = response.data.message;
					}catch(e){
					
					}
				});
			}
		}

		$scope.openOffControlSummary_T1 = function(data){
			if(data.ITEM_TYPE == 3){
				$(".off-control-summary-modal-lg-T1").modal('show');
				$scope.createOffControlSummaryModel_T1  = angular.copy(data);
				//console.log($scope.createOffControlSummaryModel_T1);
			}
		}

		$scope.saveQMS_RP_OFF_CONTROL_SUMMARY_T1 = function () {
			 $(".off-control-summary-modal-lg-T1").modal('hide');


			var urlName = get_base_url("Report/CreateLISTQMS_RP_OFF_CONTROL_SUMMARY");
			var jsonData = [];

			$scope.listOffControlSummary_T1.forEach(function(entry) {

					for (var i=0; i<entry.length; i++) {
						 try{
							   
							  if ( parseFloat(entry[i].SHOW_OUTPUT) > 0 && parseFloat(entry[i].ID) > 0 ){// check id ป้องกัน input volume
								  
								  jsonData.push({
													ID : entry[i].ID,
													PLANT_ID : entry[i].PLANT_ID,
													PRODUCT_ID : entry[i].PRODUCT_ID,
													VALUE : parseFloat(removeCommas(entry[i].SHOW_OUTPUT) ),
													RP_OFF_CONTROL_ID : $scope.createModel.ID,
													DATA_TYPE : 1
												}); 
								}
								//console.log("Save#",i);                                    
						 }catch(e){
							console.log("error",e);
						 }   
					} 
						
		   });

		   //console.log(jsonData, jsonData.length); //return;   
		   if(jsonData.length > 0){
				Fact.saveDataCallback(urlName, jsonData, function(response){ 
					$scope.saveQMS_RP_OFF_CONTROL_DETAILEx();
					//$scope.loadOffControlSummary();
				});
			} 

	  }


	  $scope.saveQMS_RP_OFF_CONTROL_DETAILEx = function () {

//		   var urlName = get_base_url("Report/CreateQMS_RP_OFF_CONTROL_DETAILEx");
//            
//		   var jsonData =   angular.copy($scope.listOffControlDetail); 
//           console.log(jsonData.length);
//           if(jsonData.length > 0 ){
//		       for(i = 0 ; i < jsonData.length; i++){
//				    jsonData[i].START_DATE =  Fact.getDateFromDoubleEx(jsonData[i].START_DATE);
//				    jsonData[i].END_DATE = Fact.getDateFromDoubleEx(jsonData[i].END_DATE); 
//		       }
//		   
//		       Fact.saveDataCallback(urlName, jsonData, function(response){ 
//				    $scope.loadOffControlDetail ();
//				    //$scope.loadOffControlSummary();
//		       });
//           } 
			var urlName = get_base_url("Report/CreateQMS_RP_OFF_CONTROL_DETAILEx");
			//console.log("loadOffControlDetail", $scope.createModel.ID );
			if( $scope.createModel.ID > 0){ 
				 
				var jsonData = {
					 "PageIndex":1,
					 "PageSize": -1,
					 "SortColumn":  $scope.SortColumn,
					 "SortOrder":  $scope.SortOrder,
					 "mSearch": {}
				};
                jsonData.mSearch = getOffControlDetailSearchModel();
				jsonData.mSearch.AUTO_OFF_TYPE = $scope.TempAutoType.Value;
                jsonData.mSearch.RP_OFF_CONTROL_ID = $scope.createModel.ID;
                jsonData.mSearch.CHK_AUTO_CAL =  $scope.searchOffControlDetailModel.CHK_AUTO_CAL;

                if(typeof $scope.TempHeadStartDate !== "undefined")
				    jsonData.mSearch.AUTO_START_DATE = $scope.TempHeadStartDate;

		        if(typeof $scope.TempHeadEndDate !== "undefined")
				    jsonData.mSearch.AUTO_END_DATE = $scope.TempHeadEndDate;
				
				Fact.loadlistData(urlName, jsonData, function(response){ 
					$scope.loadOffControlDetail ();
				});
			}

	  }

///// Data QMS_RP_OFF_CONTROL_SUMMARY T2
 
 
		$scope.loadOffControlSummary_T2 = function () {
			var urlName = get_base_url("Report/GetTemplateOffControlSummary_T2");

			if( $scope.createModel.ID > 0){ 
				var jsonData = {
					 "RPOffControlId": $scope.createModel.ID
				};
				  
				Fact.loadlistData(urlName, jsonData, function(response){ 

					try{
					   $scope.listOffControlSummary_T2 = response.data.message;
					}catch(e){
					
					}
				});
			}
		}



///// Main 
		$scope.saveData = function () {
			var isEdit = false ;
			var urlName = get_base_url("Report/CreateQMS_RP_OFF_CONTROL");            

			var valid = true;

			if( typeof $scope.tempReportDocStatusId !== "undefined" && typeof $scope.tempReportDocStatusId.Value !== "undefined" ){
				$scope.createModel.DOC_STATUS = $scope.tempReportDocStatusId.Value; 
			}else{
				valid = false;
			}
										   
			if( typeof $scope.TempHeadEndDate !== "undefined"  && $scope.TempHeadEndDate !== null ){
				$scope.createModel.END_DATE =$scope.TempHeadEndDate;
			}else{
				valid = false;
			}  
			if( typeof $scope.TempHeadStartDate !== "undefined"  && $scope.TempHeadStartDate !== null ){
				$scope.createModel.START_DATE =$scope.TempHeadStartDate;
			}else{
				valid = false;
			}            
			if( typeof $scope.createModel.NAME !== "undefined"  
				&& $scope.createModel.NAME !== null
			){ 

			}else{
				valid = false;
			}
			 
			if(true == valid){ 
				var jsonData = $scope.createModel;

				if(jsonData.ID > 0){
					isEdit = true;
				}

				Fact.saveDataCallback(urlName, jsonData, function(response){
					
					$scope.createModel.ID = response.data.dataId;
					$scope.createModel = response.data.model;
					if( isEdit === true ){
						$scope.saveQMS_RP_OFF_CONTROL_SUMMARY_ALL();
					}else{
                        
						$scope.loadOffControlSummary();
                        Fact.showMessage(response.data.message); 
					}
				});
			}else{
				Fact.showMessage("@Resources.Strings.PleaseInputData");
			} 
						
		}

		$scope.openGraph = function(){
			var urlName = get_base_url("Report/GraphOffControlSummary?id=") + $scope.createModel.ID;
			window.open(urlName);
		}
		  
		$scope.openAutoOffControlCal = function(isRecal){
            $scope.tempAutoPlantId = [];
            $scope.tempAutoProductId = [];
            //reset
            $scope.searchAutoCal = getAutoCalSearchModel();
            $scope.listAutoOffType.forEach(function(entry) {
				if($scope.searchAutoCal.AUTO_OFF_TYPE  == entry.Value){  
					$scope.TempAutoType =  entry; 
					return false;
				} 
			});

            $scope.searchAutoCal.CHK_ALL_PLANT = true;
            $scope.searchAutoCal.CHK_ALL_PRODUCT = true; 
            $scope.searchAutoCal.CHK_RECALRAW = isRecal;

			$(".auto-offcontrol-modal-lg").modal('show')
		}

		$scope.loadAutoOffControlCal= function () {  
			var valid = true;
			var urlName = get_base_url("Report/getOffControlByOffControlCalAutoSearch");
            
			var jsonData =  $scope.searchAutoCal;

			 
			jsonData.RPOffControlId = $scope.createModel.ID;
			 
			if( typeof $scope.TempAutoType !== "undefined"  && $scope.TempAutoType !== null ){
				jsonData.AUTO_OFF_TYPE =$scope.TempAutoType.Value;                
			}else{
				valid = false;
			}

			if( typeof $scope.TempHeadEndDate !== "undefined"  && $scope.TempHeadEndDate !== null ){
				jsonData.END_DATE =$scope.TempHeadEndDate;                
			}else{
				valid = false;
			}
			 
			if( typeof $scope.TempHeadStartDate !== "undefined"  && $scope.TempHeadStartDate !== null ){
				jsonData.START_DATE = $scope.TempHeadStartDate;
			}else{
				valid = false;
			}
			 
			if(true == valid){ 
			 
				if(jsonData.START_DATE > jsonData.END_DATE){
					 Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
				}

                if(jsonData.CHK_ALL_PLANT === false && $scope.tempAutoPlantId.length === 0){
					 Fact.showMessage("@Resources.Strings.PleaseSelectAtLessPlant"); return;
				}

                if(jsonData.CHK_ALL_PRODUCT === false && $scope.tempAutoProductId.length === 0){
					 Fact.showMessage("@Resources.Strings.PleaseSelectAtLessProduct"); return;
				}

                $scope.searchOffControlDetailModel.CHK_AUTO_CAL = true; //default true เพราะต้องดึง detail off control by auto cal ด้วย
                 
                if($scope.tempAutoPlantId !== 'undefined' && $scope.tempAutoPlantId.length > 0){
                    for(i = 0; i < $scope.tempAutoPlantId.length ; i ++){
                        console.log("ID", $scope.tempAutoPlantId[i].ID);
                        jsonData.LIST_PLANT_ID.push( $scope.tempAutoPlantId[i].ID);
                    }
                }

                if($scope.tempAutoProductId !== 'undefined' && $scope.tempAutoProductId.length > 0){
                    for(i = 0; i < $scope.tempAutoProductId.length ; i ++){
                        console.log("ID", $scope.tempAutoProductId[i].ID);
                        jsonData.LIST_PRODUCT_ID.push( $scope.tempAutoProductId[i].ID);
                    }
                }
                 
				//Fact.loadlistData(urlName, $scope.searchAutoCal, function(response){ //เปลี่ยนเป็น jsonData ดีกว่า
                Fact.loadlistData(urlName, jsonData, function(response){ 
					try{ 

						$(".auto-offcontrol-modal-lg").modal('hide');
						$scope.listOffControlSummary_T0 = response.data.message.matrixOffControl;
						$scope.listOffControlSummary_T1 = response.data.message.matrixInputVolume;
						$scope.listOffControlSummary_T2 = response.data.message.matrixPercentage;


						$scope.listOffControlDetail = response.data.listDataDetail; 
						$scope.totalPage = response.data.toTalPage;//init;
						$scope.totalRecords = response.data.totalRecords;
						$scope.listPageIndex = response.data.listPageIndex;
				
						$scope.listPageIndex.forEach(function(entry, index) {
							 if($scope.PageIndex == entry.PageIndex)
								$scope.TempPageIndex =  entry;
						});

						$(".showTab").show(); 
					}catch(e){

					}  
				});
			}else{
				Fact.showMessage("@Resources.Strings.PleaseInputData");
			} 
		}

		$scope.downloadCSV = function (){
			
			var urlName = get_base_url("OffControl/OffControlDataExcel");
			var checkResult = true;
			if( true == checkResult){ 
				urlName += "?rp_off_control_id=" +  $scope.createModel.ID; 
				console.log(urlName);
				window.open(urlName, "@Resources.Strings.ReportOffControl");
			}
		}
		
		$scope.init = function () { 
		   
			$scope.listReportDocStatus.forEach(function(entry) {
				if($scope.createModel.DOC_STATUS  == entry.Value){  
					$scope.tempReportDocStatusId =  entry; 
					return false;
				} 
			});
			$scope.listPlant.forEach(function(entry) {
				if($scope.createOffControlDetailModel.PLANT_ID  == entry.ID){  
					$scope.tempSearchOffControlDetailPlantId =  entry; 
					return false;
				} 
			});
			$scope.listProduct.forEach(function(entry) {
				if($scope.createOffControlDetailModel.PRODUCT_ID  == entry.ID){  
					$scope.tempSearchOffControlDetailProductId =  entry; 
					return false;
				} 
			});
			$scope.listRootCause.forEach(function(entry) {
				if($scope.createOffControlDetailModel.ROOT_CAUSE_ID  == entry.ID){  
					$scope.tempSearchOffControlDetailRootCauseId =  entry; 
					return false;
				} 
			});
			$scope.listPlant.forEach(function(entry) {
				if($scope.createOffControlDetailModel.PLANT_ID  == entry.ID){  
					$scope.tempOffControlDetailPlantId =  entry; 
					return false;
				} 
			});
			$scope.listProduct.forEach(function(entry) {
				if($scope.createOffControlDetailModel.PRODUCT_ID  == entry.ID){  
					$scope.tempOffControlDetailProductId =  entry; 
					return false;
				} 
			});
//			$scope.listRootCause.forEach(function(entry) {
//				if($scope.createOffControlDetailModel.ROOT_CAUSE_ID  == entry.ID){  
//					$scope.tempOffControlDetailRootCauseId =  entry; 
//					return false;
//				} 
//			});

			$scope.listAutoOffType.forEach(function(entry) {
				if($scope.searchAutoCal.AUTO_OFF_TYPE  == entry.Value){  
					$scope.TempAutoType =  entry; 
					return false;
				} 
			});

			if( $scope.createModel.ID > 0){ 
				$(".showTab").show();
			}

			Fact.setDataTableUrl(get_base_url("Report/GetQMS_RP_OFF_CONTROLBySearch"));
			Fact.setDelelteUrl(get_base_url("Report/DeleteQMS_RP_OFF_CONTROL"));
			Fact.setSearchModel( getOffControlDetailSearchModel() );
			Fact.setSearchModel( getOffControlGraphSearchModel() );
			Fact.setSearchModel( getOffControlAttachSearchModel() );
			 
			$scope.listPageSize.forEach(function(entry, index) {
				 if(0 == index)
					$scope.TempPageSize =  entry;  
			});

			Fact.setSortIcon();

			$scope.ShowOffControlSummary_0 = true;
			$scope.ShowOffControlSummary_1 = true;
			$scope.ShowOffControlSummary_2 = true;
			$scope.ShowOffControlDetail = true;
			$scope.ShowOffControlGraph = true;
			$scope.ShowOffControlAttach = true;
		   
//            $scope.loadOffControlSummary_T0();
//            $scope.loadOffControlSummary_T1();
//            $scope.loadOffControlSummary_T2();

			$scope.loadOffControlSummary();

			$scope.loadOffControlDetail();
			$scope.loadOffControlGraph();
			$scope.loadOffControlAttach();
		   
			
		}
		
		$scope.init();

	}]); 

 
	function getCreateModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(createQMS_RP_OFF_CONTROL)); 
		return lstData; 
	}

	function getCreateOffControlDetailModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(createQMS_RP_OFF_CONTROL_DETAIL)); 
		return lstData; 
	}

	function getCreateOffControlGraphModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(createQMS_RP_OFF_CONTROL_GRAPH)); 
		return lstData; 
	}

	function getCreateOffControlAttachModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(createQMS_RP_OFF_CONTROL_ATTACH)); 
		return lstData; 
	}

	function getCreateOffControlSummaryModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(createQMS_RP_OFF_CONTROL_SUMMARY)); 
		return lstData; 
	}
  
	function getListReportDocStatus(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(listReportDocStatus)); 
		return lstData; 
	}


	function getListPlant(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(listPlant)); 
		return lstData; 
	}

	function getListProduct(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(listProduct)); 
		return lstData; 
	}
	
	function getListRootCause(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(listRootCause)); 
		return lstData; 
	}


	function getOffControlDetailSearchModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(searchOffControlDetail)); 
		return lstData; 
	}

	function getOffControlGraphSearchModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(searchOffControlGraph)); 
		return lstData; 
	}

	function getOffControlAttachSearchModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(searchOffControlAttach)); 
		return lstData; 
	}

	function getAutoCalSearchModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(searchAutoCal)); 
		return lstData; 
	}

	function getOffControlSummarySearchModel(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(searchOffControlSummary)); 
		return lstData; 
	}

	function getListPageSize(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(listPageSize)); 
		return lstData; 
	}

	function getListAutoOffType(){
		var self = this;
		var lstData = @Html.Raw(Json.Encode(listAutoOffType)); 
		return lstData; 
	}



</script>


		
