﻿@{
    var createQMS_RP_OFF_CONTROL = ViewBag.createQMS_RP_OFF_CONTROL as QMSSystem.Model.CreateQMS_RP_OFF_CONTROL; 
}

<div id="myControl" ng-app="myApp" ng-controller="myCtrl">
     <div class="">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.OffControlSummaryReportGraph</h3>
                    <div class="clearfix"></div> 
               </div>
          </div>

          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_panel">

                         <div class="row"  style="text-align:right;">
                              @*<span class="btn btn-primary" ng-click="backControlOff()" ><i class="fa fa-backward"></i> @Resources.Strings.Back</span></a>*@
                              <span class="btn btn-primary" ng-click="downloadImage()"><i class="fa fa-bar-chart"></i>@Resources.Strings.GraphExport</span>
                              <span class="btn btn-primary" ng-click="downloadCSV()"><i class="fa fa-file-excel-o"></i> @Resources.Strings.ExcelExport</span>
                         </div>
                         <div class="x_title">
                              <h2></h2>

                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content">
                              <div id="container" style="width: 100%;">
                                   <canvas id="canvas"></canvas>
                              </div>
                         </div>
                         <div class="col-md-12 col-sm-12 col-xs-12" >                                                       
                            <table class="table table-bordered rawData" >
                                    <thead>
                                        <tr>    
                                            <th class="sorting_desc" ng-click="sort($event)" sort="PREVIOUS">@Resources.Strings.Period</th>
                                            <th class="sorting" ng-click="sort($event)" sort="OFF_CONTROL">@Resources.Strings.percentOffControl</th>
                                            <th class="sorting" ng-click="sort($event)" sort="GRAPH_DESC">@Resources.Strings.GraphDescription</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                            <tr ng-repeat="graphData in listGraphData" >                                                                                                                                            
                                                <td>{{graphData.PREVIOUS}}</td>
                                                <td>{{graphData.OFF_CONTROL}}</td>
                                                <td>{{graphData.GRAPH_DESC}}</td>
                                            </tr>
                                   </tbody>                                                                                          
                            </table>
                        </div> 
                    </div>
               </div>
          </div> 
     </div>
</div>

<script type="text/javascript">
 
  app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {
    
        $scope.listGraphData;
        $scope.createModel = getCreateModel();

        $scope.backControlOff = function(){
            var urlName = get_base_url("Report/CreateOffControlSummary?id=") + @ViewBag.id;
            window.location.href = urlName;
        }

        $scope.GetGraphData = function () { 
              
            var urlName = get_base_url("Report/GetBarGRAPHData");
            var jsonData = { "id" : @ViewBag.id }
                
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{  
                    $scope.listGraphData = response.data.message; 
                    var graphConfig = Fact.setBarGraphConfig($scope.listGraphData, $scope.createModel); 
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myLine = new Chart(ctx, graphConfig);

                    $(".rawData").show();
                }catch(e){
                    
                }
            }); 
        }

        $scope.downloadCSV = function (){
            
            var urlName = get_base_url("OffControl/OffControlGraphDataExcel");
            var checkResult = true;
            if( true == checkResult){ 
                urlName += "?rp_off_control_id=" +  @ViewBag.id; 
                window.open(urlName, "@Resources.Strings.OffControlSummaryReportGraph");
            }
        }
         
        

        $scope.downloadImage = function () { 
            var canvas = document.getElementById("canvas");

            var graphName = 'OFF CONTROL.png';

            if(null !== $scope.createModel.TITLE_GRAPH && $scope.createModel.TITLE_GRAPH  != ""){
                graphName = $scope.createModel.TITLE_GRAPH + '.png';
            }

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, graphName);
            } else { 
                var link = document.createElement('a');
                link.download =  graphName;
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }
        
       $scope.init = function() {
         $scope.GetGraphData();
       }         

       $scope.init();

    }); 


    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_RP_OFF_CONTROL)); 
        return lstData; 
    }
  
</script>
