﻿@{ 
    var createQMS_RP_TREND = ViewBag.createQMS_RP_TREND as QMSSystem.Model.CreateQMS_RP_TREND;

    var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.TrendGasGraphSearchModel;
     
    var listTemplate = ViewBag.listTemplate as List<QMSSystem.Model.TemplateName_COMBO>; 

    var TrendSampleData1 = ViewBag.TrendSampleData1 as List<QMSSystem.Model.TrendSample>;
    var TrendSampleData2 = ViewBag.TrendSampleData2 as List<QMSSystem.Model.TrendSample>;

    var listItemData1 = ViewBag.listItemData1 as List<QMSSystem.Model.TrendItem>;
    var listItemData2 = ViewBag.listItemData2 as List<QMSSystem.Model.TrendItem>;

    var searchTrendReport = ViewBag.searchTrendReport as QMSSystem.Model.ReportTrendSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
}
 <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">              
                <h3>@Resources.Strings.TrendGAS </h3>
                <div class="clearfix"> 
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            </div>   

            <div class="row" ng-show="showList">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                      <span ng-click="showTrendReportSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                      <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                      <span class="btn btn-primary "  my-confirm-click="delTrendReport()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                    <div class="clearfix"></div>
                  </div>

                   <div class="form-horizontal form-label-left" ng-show="showSearch">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name 
                                </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input type="text" class="form-control"  ng-model="mSearchEx.NAME" />
                                </div>
                            </div> 
                            <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                        <input type="text" class="form-control"  ng-model="SearchTempDateStart" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                    </div>
                            </div>
                            <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                        <input type="text" class="form-control"  ng-model="SearchTempDateEnd" data-autoclose="1"  data-date-format="dd-MM-yyyy"    bs-datepicker > 
                                    </div>
                            </div>                                 
                              
                              
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="button" class="btn btn-primary" ng-click="loadTrendReport()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                        <button type="button" class="btn btn-primary" ng-click="clearTrendReport()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                        <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                </div>
                            </div>
                            <div class="ln_solid"></div> 
                  </div>

                  <div class="x_content tblResult " style="display:none;" >
                      <table class="table table-bordered" >
                        <thead >
                          <tr>
                            <th><input type="checkbox"  ng-model="AllTrendReport" ng-change="SelectAllCheck()" ></th>
                            <th class=" sorting_desc" ng-click="sort($event)" sort="NAME">@Resources.Strings.Name</th>
                            <th class=" sorting" ng-click="sort($event)" sort="START_DATE">@Resources.Strings.StartDate</th>
                            <th class=" sorting" ng-click="sort($event)" sort="END_DATE">@Resources.Strings.EndDate</th>
                            <th>@Resources.Strings.Description</th> 
                            <th>@Resources.Strings.Tools</th>
                          </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="mTrendReport in listTrendReport" >
                                <td><input type="checkbox" ng-model="mTrendReport.ITEM_SELECTED" /></td>
                                <td>{{mTrendReport.NAME}}</td>
                                <td>{{ mTrendReport.START_DATE|showdateformat }}</td>
                                <td>{{ mTrendReport.END_DATE|showdateformat }}</td>
                                <td>{{mTrendReport.TREND_DESC}}</td> 
                                <td><i class="fa fa-edit set-pointer"  ng-click="editData(mTrendReport)"></i></td>
                            </tr> 
                        </tbody>
                      </table>
                  </div>
                   
                   
                  <!-- ทำหน้า -->
                    <div class="row tblResult " style="display:none;" >
                            <div class="col-md-7 col-sm-7 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                @Resources.Strings.ResultsPerPage
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select
				                    ng-model="TempPageSize"
				                    chosen 
                                    ng-change="loadByPageSize()" 
				                    ng-options="item.Text  for item in listPageSize"
				                    class="col-md-12 col-sm-12 col-xs-12"
				                    name="lst_pagesize" id="lst_pagesize">
				                    <option value=""></option>
			                    </select>
                            </div>
                            </div><div class="col-md-5 col-sm-5 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                    <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                    <select
				                    ng-model="TempPageIndex"
				                    chosen 
                                    ng-change="searchByPage()" 
				                    ng-options="item.PageIndex  for item in listPageIndex"  
				                    >
			                    </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                            </div>
                            </div>
                        </div>
                    <!-- ทำหน้า -->

                </div>

              </div>


            </div>

            <div class="row" ng-show="showDevice"  >
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                <div class="x_content">
                    <div  class="form-horizontal form-label-left controlSearch" >
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Name<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <input type="text" class="form-control"   ng-model="createModel.REPORT_MASTER.NAME"   >  
                            </div>  
                        </div>
                        <div class="form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.StartDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateStart"    data-autoclose="1"  data-date-format="dd-MM-yyyy"   bs-datepicker>  
                            </div> 
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.EndDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateEnd"   data-autoclose="1"  data-date-format="dd-MM-yyyy"   bs-datepicker> 
                            </div>
                        </div>
                         <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Description<span class="required">*</span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                <textarea ng-model="createModel.REPORT_MASTER.TREND_DESC" 
                                        rows="3" class="form-control" maxlength="150" name="message" >
                                </textarea>
                            </div> 
                        </div>
                        <div class="form-group">@Resources.Strings.TrandDataData1 </div>                                
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempTemplate1"
					                chosen  
                                    ng-change="loadSample1()"
					                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
					                <option value=""></option>
				                </select>
                            </div> 
                         </div><div class="form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempSampleId1"
					                chosen  
                                    ng-change="loadItem1()"
					                ng-options="item.SAMPLE_NAME  for item in listSample1" >
					                <option value=""></option>
				                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempItemId1"
					                chosen   
					                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem1" >
					                <option value=""></option>
				                </select>
                            </div>
                        </div>
                        <div class="form-group">@Resources.Strings.TrandDataData2 </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempTemplate2"
					                chosen  
                                    ng-change="loadSample2()"
					                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
					                <option value=""></option>
				                </select> 
                            </div> 
                      </div><div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempSampleId2"
					                chosen  
                                    ng-change="loadItem2()"
					                ng-options="item.SAMPLE_NAME  for item in listSample2" >
					                <option value=""></option>
				                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempItemId2"
					                chosen   
					                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')'   for item in listItem2" >
					                <option value=""></option>
				                </select>
                            </div>
                        </div>
                     </div>
                       
                     <div class="row " style="text-align:right;">                        
                        <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                        <span class="btn btn-primary controlSearch" ng-click="GetGraphData(0)"  > <i class="fa fa-play"></i> @Resources.Strings.Run</span> 
                        <span class="btn btn-primary downloadData graphData" style="display:none;"  ng-click="downloadImage()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadImage</span>
                        <span class="btn btn-primary downloadCSV graphData"  style="display:none;" ng-click="downloadCSV()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadData</span>
                        <span class="btn btn-primary"  ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                        <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                    </div>
                  </div>

                  <div class="x_content graphData" style="display:none;" >
                    @*<h3>@Resources.Strings.TrendDataReport</h3>*@
                    <br>
                     <div class="row" style="text-align:center;">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas"></canvas>
                        </div>
                    </div> 
                  </div> 


                  <!-- history -->
                <div class="x_content" ng-show="createModel.ID">
                    <div class="col-md-6 col-sm-6 col-xs-6  ">
                        <div class="title_left text_left small_font_size " >
		                    @Resources.Strings.CreateBy {{createModel.REPORT_MASTER.CREATE_USER  }} ( {{createModel.REPORT_MASTER.SHOW_CREATE_DATE }} )
	                    </div>
                    </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                    <div class="title_right text_right small_font_size " >
	                        @Resources.Strings.UpdateBy {{createModel.REPORT_MASTER.UPDATE_USER}} ( {{createModel.REPORT_MASTER.SHOW_UPDATE_DATE }} )
	                    </div>
                    </div>
                </div>
                <!-- history -->

                </div>
              </div>

            </div>

            <div class="row graphAnalysis" style="display:none;"> 
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Legend</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Color</th>
                        <th >@Resources.Strings.AreaName  </th>
                        <th >@Resources.Strings.Sample  </th>
                        <th>@Resources.Strings.Item  </th>
                        <th >@Resources.Strings.Unit</th> 
                    </tr>           
                    </thead>
 
                    <tbody  >
                        <tr  > 
                            <td  >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #286090;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA1}}</td>   
                            <td >{{mSearch.SAMPLE_ID1 }}</td>                              
                            <td class="text-primary">{{mSearch.ITEM_ID1}}</td>
                            <td>{{mSearch.UNIT_NAME1}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #98c207;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA2}}</td>   
                            <td>{{mSearch.SAMPLE_ID2 }}</td>                                  
                            <td class="text-success">{{mSearch.ITEM_ID2}}</td>
                            <td>{{mSearch.UNIT_NAME2}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
            </div>

            <div class="row graphAnalysis" style="display:none;">
             
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Analysis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Item</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th>@Resources.Strings.Average  </th>
                        <th >@Resources.Strings.SD</th>
                        <th >@Resources.Strings.ControlValue</th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  > 
                            <td class="text-primary">{{listTrendSummary.ItemsName}}</td>   
                            <td>{{listTrendSummary.MinValue}} ( {{listTrendSummary.UnitName}} )</td>                                               
                            <td>{{listTrendSummary.MaxValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.AvgValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.SDValue}}</td> 
                            <td>{{control1.SpecView}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">{{listTrendSummary2.ItemsName}}</td>   
                            <td>{{listTrendSummary2.MinValue}} ( {{listTrendSummary2.UnitName}} )</td>                                               
                            <td>{{listTrendSummary2.MaxValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.AvgValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.SDValue}}</td> 
                            <td>{{control2.SpecView}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>

             <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.EditYAxis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.TrendData</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th> @Resources.Strings.StepSize  </th> 
                        <th></th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  >  
                            <td class="text-primary">@Resources.Strings.TrandDataData1</td>   
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMin"  number-only-input /> </td>                                               
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.stepSize"  number-only-input /> </td>
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">@Resources.Strings.TrandDataData2</td>   
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMin"  number-only-input />  </td>                                               
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.stepSize"  number-only-input /> </td> 
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
              </div> 

            </div>
             
          </div>
           <form id="TheForm" method="post" action="~/TrendData/TreandDataExcel" target="TheWindow"> 
                <input type="hidden" name="searchData"  id="searchData"   />
            </form>
        </div>
<script type="text/javascript">
   

var graphConfig = {};
     
app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        $scope.createModel = getCreateModel();

        console.log($scope.createModel);

        $scope.TempDateStart = Fact.getDateFromDoubleEx($scope.createModel.REPORT_MASTER.START_DATE);
        $scope.TempDateEnd = Fact.getDateFromDoubleEx($scope.createModel.REPORT_MASTER.END_DATE);
        

        $scope.tempTemplate1;
        $scope.tempTemplate2; 
        $scope.listTemplate = getListTemplate();

        $scope.mSearch = getSearchModel();
         

        $scope.tempSampleId1;
        $scope.tempSampleId2;
        $scope.listSample1 = getListSampleData1();
        $scope.listSample2 = getListSampleData2();

        $scope.tempItemId1;
        $scope.tempItemId2 ;
        $scope.listItem1 = getListItemData1();
        $scope.listItem2 = getListItemData2();

        $scope.ticksOption1;
        $scope.ticksOption2;

        $scope.mSearch = getSearchModel();

        $scope.listTrendSummary;
        $scope.listTrendData;

        $scope.listTrendSummary2;
        $scope.listTrendData2;

        $scope.control1;
        $scope.control2;

        $scope.graph1;
        $scope.TemplateType = 1;//GAS


       $scope.loadSample2 = function(){
            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
           
            var jsonData = {
	                            "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                "TemplateType" : $scope.TemplateType
                            };

            $scope.tempSampleId2 = {};
            $scope.tempItemId2 = {};
            $scope.listItem2 = {};
            $scope.tempSampleId2 = {};
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listSample2 = response.data.message;
                }catch(e){ 

                }
            }); 
        }

        $scope.loadSample1 = function () { 
             
            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
           
            var jsonData = {
	                            "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                "TemplateType" : $scope.TemplateType
                            };

            $scope.tempSampleId1 = {};
            $scope.tempItemId1 = {};
            $scope.listItem1 = {};
            $scope.tempSampleId1 = {}; 
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listSample1 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

         $scope.loadItem2 = function () { 
              
           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
           var jsonData = {
	                            "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                "SampleName" : $scope.tempSampleId2.SAMPLE_NAME,
                                "TEMPLATE_TYPE" : $scope.TemplateType
                            };
                             
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listItem2 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

        $scope.loadItem1 = function () { 
             
           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
           var jsonData = {
	                            "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                "SampleName" : $scope.tempSampleId1.SAMPLE_NAME,
                                "TEMPLATE_TYPE" : $scope.TemplateType
                            };
                             
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listItem1 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

       $scope.createGraphEx = function () {  
           $scope.ticksOption1 = Fact.setTicksOption(1,$scope.ticksOption1); 
           $scope.ticksOption2 = Fact.setTicksOption(2,$scope.ticksOption2); 
            
           $scope.createGraph()
       }

       $scope.createGraph = function () { 
            
          try{
               graphConfig1 = Fact.setGraphConfig($scope.graph1, true, "canvas");
                
                $(".graphData").show(); 
                $(".searchData").show();
                $(".graphAnalysis").show();
             
               if(typeof graphConfig1 === 'undefined'){
                   $(".graphData").hide(); 
                   $(".searchData").hide();
                   $(".graphAnalysis").hide(); 
                   Fact.showMessage("@Resources.Strings.NoDataFound"); return; 
               }else{
                   var ctx = document.getElementById( "canvas").getContext("2d");
                   
                   if(typeof window.myLine1 !== "undefined"){
                        window.myLine1.destroy();
                   } 
                   try{
                        window.myLine1 = new Chart(ctx, graphConfig1); 
                        $scope.ticksOption1 = Fact.getTicksOption(1);
                        $scope.ticksOption2 = Fact.getTicksOption(0);
                   }catch(e){
                        console.log(e);
                   } 
               }
           }catch(e){
                console.log(e);
           }
            
        }

       
        $scope.setJsonMSearch = function(){
            var bValid = true;

            if(typeof $scope.tempTemplate1 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA1 = $scope.tempTemplate1.TEMPLATE_NAME;
            
            if(typeof $scope.tempSampleId1 !== "undefined")
                $scope.mSearch.SAMPLE_ID1 = $scope.tempSampleId1.SAMPLE_NAME;
            
            if(typeof $scope.tempItemId1 !== "undefined" && typeof $scope.tempItemId1.ITEM_NAME !== "undefined"){
                $scope.mSearch.ITEM_ID1 = $scope.tempItemId1.ITEM_NAME;
                $scope.mSearch.UNIT_ID1 = $scope.tempItemId1.UNIT_ID;
                $scope.mSearch.UNIT_NAME1 = $scope.tempItemId1.UNIT_NAME;
            }else{
                bValid = false;
            }


            if(typeof $scope.tempTemplate2 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA2 = $scope.tempTemplate2.TEMPLATE_NAME;
            
            if(typeof $scope.tempSampleId2 !== "undefined")
                $scope.mSearch.SAMPLE_ID2 = $scope.tempSampleId2.SAMPLE_NAME;
            
            if(typeof $scope.tempItemId2 !== "undefined"){
                $scope.mSearch.ITEM_ID2 = $scope.tempItemId2.ITEM_NAME;
                $scope.mSearch.UNIT_ID2 = $scope.tempItemId2.UNIT_ID;
                $scope.mSearch.UNIT_NAME2 = $scope.tempItemId1.UNIT_NAME;
            }


            if( typeof $scope.TempDateStart !== null ){
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                bValid = false;
            }

            if( typeof $scope.TempDateEnd !== null ){
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                bValid = false;
            }

            if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                bValid = false;
                Fact.showMessage("@Resources.Strings.StartDateOverEndDate");  
            }

            return bValid;
        } 

        $scope.GetGraphData = function (loadTick) { 
            if(typeof window.myLine !== "undefined"){
                window.myLine.destroy();
            }
             
            var bValid = $scope.setJsonMSearch();
            var urlName = get_base_url("TrendData/GetGraphData");
            var jsonData = $scope.mSearch;

            //console.log(jsonData); return ;

            if(bValid == true){                 
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        
                         $scope.graph1 =  response.data.message;
                         $scope.listTrendData = response.data.message.listTrend1;
                         $scope.listTrendSummary = response.data.message.listSummary1;

                         $scope.listTrendData2 = response.data.message.listTrend2;
                         $scope.listTrendSummary2 = response.data.message.listSummary2;

                         $scope.control1 = response.data.message.control1;
                         $scope.control2 = response.data.message.control2;
                         
                         if(loadTick != "1"){ //reset value
                            Fact.resetTicksOption();
                         }
                         $scope.createGraph(); // $scope.ticksOption1 = {}; $scope.ticksOption2 = {};   $scope.createGraph(); 

//                         if(loadTick == "1"){ //no reset tick
////                             $scope.ticksOption1 = {};
////                             $scope.ticksOption2 = {};
//                         }else{
//                             $scope.ticksOption1 = {};
//                             $scope.ticksOption2 = {};
//                         }  

//                         $scope.createGraph();



                          

                    }catch(e){
                        console.log(e);
                    }
                }); 
              }else{
                    if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){  
                        Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); 
                    } else{ 
                        Fact.showMessage("@Resources.Strings.PleaseInputData");
                    }
              }
        }

       $scope.clearTrendData = function() {  
            $scope.mSearch = getSearchModel(); 

            $scope.tempItemId1 = {};
            $scope.tempSampleId1 = {};
            $scope.tempTemplate1 = {}; 

            $scope.tempItemId2 = {};
            $scope.tempSampleId2 = {};
            $scope.tempTemplate2 = {};

            $(".graphData").hide(); 
            $(".searchData").hide();
            $(".graphAnalysis").hide();
       } 

        $scope.downloadCSV = function (){
           
           
            var urlName = get_base_url("TrendData/TreandDataExcel");
            var jsonData = $scope.mSearch;
            var checkResult =  $scope.setJsonMSearch();


            var startDate = "";
            var endDate = "";

            var dd=jsonData.START_DATE.getDate();
            var mm=jsonData.START_DATE.getMonth()+1;
            var yy=jsonData.START_DATE.getFullYear();

            startDate = yy+"/"+mm+"/"+dd;

            dd=jsonData.END_DATE.getDate();
            mm=jsonData.END_DATE.getMonth()+1;
            yy=jsonData.END_DATE.getFullYear();

            endDate = yy+"/"+mm+"/"+dd;

            if( true == checkResult){
                  
                var dataObjectString = JSON.stringify(jsonData);
                $("#searchData").val(JSON.stringify(jsonData));
                document.getElementById('TheForm').submit(); 
//                urlName += "?TEMPLATE_TYPE=" + jsonData.TEMPLATE_TYPE;
//                urlName += "&START_DATE=" + startDate;//  jsonData.START_DATE;
//                urlName += "&END_DATE=" +   endDate;//jsonData.END_DATE;

//                urlName += "&PLANT_ID1=" +  jsonData.PLANT_ID1;
//                urlName += "&SAMPLE_ID1=" +  jsonData.SAMPLE_ID1;
//                urlName += "&ITEM_ID1=" +   jsonData.ITEM_ID1;
//                urlName += "&UNIT_ID1=" +  jsonData.UNIT_ID1;
//                urlName += "&UNIT_NAME1=" +  jsonData.UNIT_NAME1;

//                urlName += "&PLANT_ID2=" +  jsonData.PLANT_ID2;
//                urlName += "&SAMPLE_ID2=" +  jsonData.SAMPLE_ID2;
//                urlName += "&ITEM_ID2=" +   jsonData.ITEM_ID2;
//                urlName += "&UNIT_ID2=" +  jsonData.UNIT_ID2;
//                urlName += "&UNIT_NAME2=" +  jsonData.UNIT_NAME2;

//                window.open(urlName, "@Resources.Strings.TrendData");

            }
         
        }

        $scope.saveData = function () {   
            var urlName = get_base_url("Report/CreateQMS_RP_TREND");
            var bValid = $scope.setJsonMSearch();
            var jsonDataTemp = $scope.mSearch;

            
            var jsonData = $scope.createModel;

           

            jsonData.REPORT_MASTER.START_DATE = jsonDataTemp.START_DATE;
            jsonData.REPORT_MASTER.END_DATE = jsonDataTemp.END_DATE;
            
            jsonData.REPORT_DETAIL_1.DATE_TYPE = 1;
            jsonData.REPORT_DETAIL_1.TEMPLATE_AREA = jsonDataTemp.TEMPLATE_AREA1;
            jsonData.REPORT_DETAIL_1.SAMPLE_ID =jsonDataTemp.SAMPLE_ID1;
            jsonData.REPORT_DETAIL_1.ITEM_ID = jsonDataTemp.ITEM_ID1;
             
            jsonData.REPORT_DETAIL_2.DATE_TYPE = 2;
            jsonData.REPORT_DETAIL_2.TEMPLATE_AREA = jsonDataTemp.TEMPLATE_AREA2;
            jsonData.REPORT_DETAIL_2.SAMPLE_ID =jsonDataTemp.SAMPLE_ID2;
            jsonData.REPORT_DETAIL_2.ITEM_ID = jsonDataTemp.ITEM_ID2;

             
            //check tick
            if(typeof $scope.ticksOption1  !== "undefined" && $scope.ticksOption1  !== null  ){ 
                jsonData.REPORT_DETAIL_1.TICK_MIN = $scope.ticksOption1.suggestedMin;
                jsonData.REPORT_DETAIL_1.TICK_MAX = $scope.ticksOption1.suggestedMax;
                jsonData.REPORT_DETAIL_1.TICK_STEP = $scope.ticksOption1.stepSize;
            }else{ 
                jsonData.REPORT_DETAIL_1.TICK_MIN = 0; //auto
                jsonData.REPORT_DETAIL_1.TICK_MAX = 0; //auto
                jsonData.REPORT_DETAIL_1.TICK_STEP = 0; //auto
            }

            if(typeof $scope.ticksOption2  !== "undefined" && $scope.ticksOption2  !== null  ){ 
                jsonData.REPORT_DETAIL_2.TICK_MIN = $scope.ticksOption2.suggestedMin;
                jsonData.REPORT_DETAIL_2.TICK_MAX = $scope.ticksOption2.suggestedMax;
                jsonData.REPORT_DETAIL_2.TICK_STEP = $scope.ticksOption2.stepSize;
            }else{ 
                jsonData.REPORT_DETAIL_2.TICK_MIN = 0; //auto
                jsonData.REPORT_DETAIL_2.TICK_MAX = 0; //auto
                jsonData.REPORT_DETAIL_2.TICK_STEP = 0; //auto
            } 

             
            // console.log(jsonData, jsonDataTemp);
            if (true == bValid) { 
                
                Fact.saveDataCallback(urlName, jsonData, function (response) {  

                    
                     Fact.showMessage(response.data.message); 
                     $scope.createModel.ID = response.data.dataId.REPORT_MASTER;
                     $scope.createModel.REPORT_MASTER.ID = response.data.dataId.REPORT_MASTER;
                     $scope.createModel.REPORT_DETAIL_1.ID = response.data.dataId.REPORT_DETAIL_1; 
                     $scope.createModel.REPORT_DETAIL_2.ID = response.data.dataId.REPORT_DETAIL_2; 

                     $scope.createModel.REPORT_MASTER = response.data.model;

                    if(response.data.result == 1){
                        $scope.loadTrendReport();
                    }
                         
                });

            } else {
               
                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){  
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); 
                } else{ 
                    Fact.showMessage("@Resources.Strings.PleaseInputData");
                }
            } 

        }
         
        $scope.showError = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#error_message').html(msg);
            $('#myErrorModal').modal('show');
        }

        $scope.showMessage = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#show_message').html(msg);
            $('#myMessageModal').modal('show');
        }

        $scope.downloadImage = function () { 
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'TrendGas.png');
            } else { 
                var link = document.createElement('a');
                link.download =  'TrendGas.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }

        $scope.downloadImage2 = function () {
            var canvas = document.getElementById("canvas");
            var dataURL = canvas.toDataURL('image/png');

           // console.log(dataURL); return;

            var urlName = get_base_url("Files/DownloadImage"); 
            var jsonData = {
                               imageData : dataURL,
                               fname : "Trend Gas"
                           }; 
            window.open(urlName+"?imageData="+dataURL+"&fname=Trend" );
 
       }


       $scope.mSearchEx = getSearchModelEx();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('NAME');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listTrendReport; // listdata
        $scope.AllTrendReport; //checkbox

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listTrendReport, $scope.AllTrendReport) }
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadTrendReport();
        }
         
        $scope.showTrendReportSearch = function(){  $scope.showSearch = true; }
        $scope.closeTrendReportSearch = function() { $scope.showSearch = false; }

        $scope.getTrendReportSearch = function()
        { 
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadTrendReport();
        } 
       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadTrendReport(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadTrendReport(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadTrendReport(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadTrendReport(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadTrendReport(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadTrendReport(); }

        $scope.loadTrendReport = function () { 

            if( $scope.SearchTempDateStart !== null){
                 //console.log($scope.TempDateStart, $scope.mSearchEx );
                 $scope.mSearchEx.START_DATE =  $scope.SearchTempDateStart ;
                 
            }else{
                $scope.mSearchEx.START_DATE =  null;
            }
            if( $scope.SearchTempDateEnd !== null){
                $scope.mSearchEx.END_DATE =  $scope.SearchTempDateEnd ;
            }else{
                $scope.mSearchEx.END_DATE = null;
            }
            
             
            Fact.loadDataTable($scope.mSearchEx, function(response){ 
                try{
                    $scope.listTrendReport = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 

        $scope.clearTrendReport = function() {  
               $scope.mSearchEx = getSearchModelEx(); 
               $scope.SearchTempDateStart = null; 
               $scope.SearchTempDateEnd = null; 
                

               $scope.loadTrendReport();
        }
         
        $scope.delTrendReport = function(){
            Fact.deleteMultiData($scope.listTrendReport, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadTrendReport(); });
        }
        
        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;  $(".graphData").hide(); $(".graphAnalysis").hide();}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.loadGraphData = function (){
                
                //console.log($scope.createModel.REPORT_DETAIL_1.TICK_MIN, $scope.createModel.REPORT_DETAIL_1.TICK_MAX, $scope.createModel.REPORT_DETAIL_1.TICK_STEP);
                if($scope.createModel.REPORT_DETAIL_1.TICK_MIN != 0 || $scope.createModel.REPORT_DETAIL_1.TICK_MAX != 0 
                    ||  $scope.createModel.REPORT_DETAIL_1.TICK_STEP != 0 ){ 
                        
                    var  ticksOption = {  
                                suggestedMin : $scope.createModel.REPORT_DETAIL_1.TICK_MIN,
                                suggestedMax :$scope.createModel.REPORT_DETAIL_1.TICK_MAX,
                                stepSize: $scope.createModel.REPORT_DETAIL_1.TICK_STEP
                            };

                    $scope.ticksOption1 =ticksOption;

                    $scope.ticksOption1 = Fact.setTicksOption(1,$scope.ticksOption1); 
          
                }

                if($scope.createModel.REPORT_DETAIL_2.TICK_MIN != 0 || $scope.createModel.REPORT_DETAIL_2.TICK_MAX != 0 
                    ||  $scope.createModel.REPORT_DETAIL_2.TICK_STEP != 0 ){ 
                        var  ticksOption = {  
                                suggestedMin : $scope.createModel.REPORT_DETAIL_2.TICK_MIN,
                                suggestedMax :$scope.createModel.REPORT_DETAIL_2.TICK_MAX,
                                stepSize: $scope.createModel.REPORT_DETAIL_2.TICK_STEP
                            };

                    $scope.ticksOption2 =ticksOption;
                        
                    $scope.ticksOption2 = Fact.setTicksOption(2,$scope.ticksOption2); 
                }

            $scope.GetGraphData(1);
        }

        $scope.initialData = function(){
            $scope.clearTrendData();

            $scope.tempSampleId1 = {};
            $scope.tempItemId1 = {};
            $scope.listItem1 = [];
            $scope.tempSampleId1 = {}; 
            $scope.listSample1 = [];

            $scope.tempSampleId2 = {};
            $scope.tempItemId2 = {};
            $scope.listItem2 = [];
            $scope.tempSampleId2 = {}; 
            $scope.listSample2 = [];

            $scope.TempDateStart = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
            $scope.TempDateEnd = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
            $scope.tempTemplate1 = {};
            $scope.tempTemplate2 = {}; 

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;


            var urlName = get_base_url("Report/GetcreateQMS_RP_TRENDById");

            if( $scope.createModel.ID > 0){
                 
                var jsonData = {
	                 "id": $scope.createModel.ID 
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{ 

                        $scope.createModel = angular.copy(response.data.message);
                        $scope.TempDateStart = Fact.getDateFromDoubleEx($scope.createModel.REPORT_MASTER.START_DATE);
                        $scope.TempDateEnd = Fact.getDateFromDoubleEx($scope.createModel.REPORT_MASTER.END_DATE);
                        if($scope.createModel.ID > 0){
                            $scope.listTemplate.forEach(function(entry) { 
		    	                if($scope.createModel.REPORT_DETAIL_1.TEMPLATE_AREA  == entry.TEMPLATE_NAME){  
		    		                $scope.tempTemplate1 =  entry;  
		    	                }

                                if($scope.createModel.REPORT_DETAIL_2.TEMPLATE_AREA  == entry.TEMPLATE_NAME){  
		    		                $scope.tempTemplate2 =  entry;  
		    	                } 
			                });


                            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
           
                            var jsonData = {
	                                            "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                                "TemplateType" : $scope.TemplateType
                                            };

                            $scope.tempSampleId1 = {};
                            $scope.tempItemId1 = {};
                            $scope.listItem1 = {};
                            $scope.tempSampleId1 = {}; 
                  
                            Fact.loadlistData(urlName, jsonData, function(response){ 
                                try{
                                    $scope.listSample1 = response.data.message;
                                    $scope.listSample1.forEach(function(entry) {
		    	                        if($scope.createModel.REPORT_DETAIL_1.SAMPLE_ID  == entry.SAMPLE_NAME){  
		    		                        $scope.tempSampleId1 =  entry;  
                                            return false;
		    	                        } 
			                        });


                                    var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
                                    var jsonData = {
	                                                        "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                                            "SampleName" : $scope.tempSampleId1.SAMPLE_NAME,
                                                            "TEMPLATE_TYPE" : $scope.TemplateType
                                                        };
                             
                  

                                    Fact.loadlistData(urlName, jsonData, function(response){ 
                                        try{
                                            $scope.listItem1 = response.data.message;
                                             
                                            $scope.listItem1.forEach(function(entry) {
		    	                                if($scope.createModel.REPORT_DETAIL_1.ITEM_ID  == entry.ITEM_NAME){  
		    		                                $scope.tempItemId1 =  entry;  
                                                    return false;
		    	                                } 
			                                });

                                            if($scope.createModel.REPORT_DETAIL_2.TEMPLATE_AREA == ""){
                                                $scope.loadGraphData();
                                            }else{
                                                var urlName = get_base_url("TrendData/GetSampleByTemplateId");
           
                                                var jsonData = {
	                                                                "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                                                    "TemplateType" : $scope.TemplateType
                                                                };

                                                $scope.tempSampleId2 = {};
                                                $scope.tempItemId2 = {};
                                                $scope.listItem2 = {};
                                                $scope.tempSampleId2 = {};
                  
                                                Fact.loadlistData(urlName, jsonData, function(response){ 
                                                    try{
                                                        $scope.listSample2 = response.data.message;

                                                         $scope.listSample2.forEach(function(entry) {
		    	                                            if($scope.createModel.REPORT_DETAIL_2.SAMPLE_ID  == entry.SAMPLE_NAME){  
		    		                                            $scope.tempSampleId2 =  entry;  
                                                                return false;
		    	                                            } 
			                                            });


                                                        var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
                                                        var jsonData = {
	                                                                        "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                                                            "SampleName" : $scope.tempSampleId2.SAMPLE_NAME,
                                                                            "TEMPLATE_TYPE" : $scope.TemplateType
                                                                        };
                             
                  
                                                        Fact.loadlistData(urlName, jsonData, function(response){ 
                                                            try{
                                                                $scope.listItem2 = response.data.message;

                                                                $scope.listItem2.forEach(function(entry) {
		    	                                                    if($scope.createModel.REPORT_DETAIL_2.ITEM_ID  == entry.ITEM_NAME){  
		    		                                                    $scope.tempItemId2 =  entry;  
                                                                        return false;
		    	                                                    } 
			                                                    });

                                                                 $scope.loadGraphData(); 
                                                            }catch(e){
                    
                                                            }
                                                        }); 

                                                    }catch(e){ 

                                                    }
                                                }); 
                                            }

                                            

                                        }catch(e){
                    
                                        }
                                    }); 
                                     
                                }catch(e){
                    
                                }
                            }); 
                              
                    }

                    }catch(e){
                    
                    }
                });
            }
            
           
        }

        $scope.init = function(){

            Fact.setDataTableUrl(get_base_url("Report/GetQMS_RP_TRENDBySearch"));
            Fact.setDelelteUrl(get_base_url("Report/DeleteQMS_RP_TREND_DATA"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadTrendReport();
        }

    
        
        $scope.init();

    }); 
 

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searhTrendData)); 
        return lstData; 
    } 

    function getListTemplate(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTemplate)); 
        return lstData; 
    }

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_RP_TREND)); 
        return lstData; 
    } 

    function getListSampleData1(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(TrendSampleData1)); 
        return lstData; 
    }

    function getListSampleData2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(TrendSampleData2)); 
        return lstData; 
    }

     function getListItemData1(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listItemData1)); 
        return lstData; 
    }

    function getListItemData2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listItemData2)); 
        return lstData; 
    }

    function getSearchModelEx(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchTrendReport)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    } 
      
</script>