﻿@{    
    var searchModel = ViewBag.searchModel as QMSSystem.Model.CorrectDataReportSearchModel;     
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;     
}
<div ng-app="myApp" ng-controller="myCtrl"> 
     <div class="">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.OffControlCorrectData</h3>
                    <div class="clearfix"></div> 
               </div>
          </div>

          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title"> 
                              <div class="row" style="text-align:right;">
                                   <button type="button" class="btn btn-primary" ng-click="loadCorrectReport()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                   <a href="">
                                       <span class="btn btn-primary" ng-click="loadExcelCorrectReport()" style="color:white;"><i class="fa fa-file-excel-o"></i> @Resources.Strings.ExcelExport</span>
                                   </a>
                                   <a href="">
                                       <span class="btn btn-primary" ng-click="loadPdfCorrectReport()" style="color:white;"><i class="fa fa-file-excel-o"></i> @Resources.Strings.PDFExport</span>
                                   </a>
                              </div>
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">
                                   <div class="form-group">
                                        <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
                                             @Resources.Strings.Plant
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12" >
                                             <select
					                                ng-model="tempPlantId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.NAME  for item in listPlant" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                             </select> 
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                   </div>
                              </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"   ng-model="TempDateStart"   data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"   ng-model="TempDateEnd"  data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker required> 
                                        </div>
                                   </div> 
                              </div>
                         </div>
                         <!-- End Search -->

                         <div class="x_conten tblResult " style="display:none;" > 
                              <div class="row" style="text-align:center;">
                                   <h3> {{listData.header1}}  </h3>
                                   <h3> {{listData.header2}} </h3>
                              </div>
                              <table class="table table-bordered"  >  
                                     <tbody style="width:100%;">
                                            <tr>
                                                <th colspan="5" >
                                                    @Resources.Strings.TurnAround
                                                </th> 
                                            </tr>
                                            <tr>
                                                <th>@Resources.Strings.StartDateTime</th>
                                                <th>@Resources.Strings.EndDateTime</th>  
                                                <th>@Resources.Strings.SHIFT</th>
                                                <th>@Resources.Strings.Description</th> 
                                                <th>@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                            </tr> 
                                            <tr ng-show="listData.listTurnAroundResult == 0">
                                                <td colspan="5" >
                                                    @Resources.Strings.NoData
                                                </td>
                                            </tr>
                                            <tr ng-repeat="mData in listData.listTurnAroundResult" >
                                                <td>{{mData.START_DATE | showdatetimeformat}}</td>
                                                <td>{{mData.END_DATE | showdatetimeformat}}</td>  
                                                <td>{{mData.SHIFT}}</td>
                                                <td>{{mData.DESC}}</td> 
                                                <td class="text_align_right">{{mData.VOLUME}}</td>
                                            </tr>
                                            <tr ng-hide="listData.listTurnAroundResult == 0">
                                                <td colspan="4" class="text_align_right" >                  `                                                                                                                                                                                                                                                                                                                                                                                                                                   
                                                    @Resources.Strings.Total  
                                                </td>
                                                <td class="text_align_right" >
                                                    {{listData.totalVolTurnAround}}
                                                </td>
                                            </tr> 
                                     </tbody>
                              </table>                        
                              <table class="table table-bordered"  >  
                                     <tbody style="width:100%;">
                                            <tr>
                                                <th colspan="5" >
                                                    @Resources.Strings.Downtime
                                                </th> 
                                            </tr>
                                            <tr>
                                                <th>@Resources.Strings.StartDateTime</th>
                                                <th>@Resources.Strings.EndDateTime</th> 
                                                <th>@Resources.Strings.SHIFT</th>
                                                <th>@Resources.Strings.Description</th> 
                                                <th>@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                            </tr> 
                                            <tr ng-show="listData.listDownTimeResult == 0">
                                                <td colspan="5" >
                                                    @Resources.Strings.NoData
                                                </td>
                                            </tr>
                                            <tr ng-repeat="mData in listData.listDownTimeResult" >
                                                <td>{{mData.START_DATE | showdatetimeformat}}</td>
                                                <td>{{mData.END_DATE | showdatetimeformat}}</td> 
                                                <td>{{mData.SHIFT}}</td>
                                                <td>{{mData.DESC}}</td> 
                                                <td class="text_align_right">{{mData.VOLUME}}</td>
                                            </tr>
                                            <tr ng-hide="listData.listDownTimeResult == 0">
                                                <td colspan="4" class="text_align_right" >
                                                    @Resources.Strings.Total  
                                                </td>
                                                <td class="text_align_right" >
                                                    {{listData.totalVolDownTime}}
                                                </td>
                                            </tr>
                                     </tbody>
                              </table>
                              <table class="table table-bordered"  >  
                                     <tbody style="width:100%;">
                                            <tr>
                                                <th colspan="6" >
                                                    @Resources.Strings.ChangeGrade
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>@Resources.Strings.StartDateTime</th>
                                                <th>@Resources.Strings.EndDateTime</th>  
                                                <th>@Resources.Strings.Product</th>
                                                <th>@Resources.Strings.SHIFT</th>
                                                <th>@Resources.Strings.Description</th> 
                                                <th>@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                            </tr> 
                                            <tr ng-show="listData.listChangeGradeResult == 0">
                                                <td colspan="6" >
                                                    @Resources.Strings.NoData
                                                </td>
                                            </tr>
                                            <tr ng-repeat="mData in listData.listChangeGradeResult" >
                                                <td>{{mData.START_DATE | showdatetimeformat}}</td>
                                                <td>{{mData.END_DATE | showdatetimeformat}}</td> 
                                                <td>{{mData.PRODUCT_NAME}}</td> 
                                                <td>{{mData.SHIFT}}</td>
                                                <td>{{mData.DESC}}</td> 
                                                <td class="text_align_right">{{mData.VOLUME}}</td>
                                            </tr>
                                            <tr ng-hide="listData.listChangeGradeResult == 0">
                                                <td colspan="5" class="text_align_right" >
                                                    @Resources.Strings.Total  
                                                </td>
                                                <td  class="text_align_right" >
                                                    {{listData.totalVolChangeGrade}}
                                                </td>
                                            </tr>
                                     </tbody>
                              </table>
                              <table class="table table-bordered"  >  
                                     <tbody style="width:100%;">
                                            <tr>
                                                <th colspan="6">
                                                    @Resources.Strings.CrossVolume
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>@Resources.Strings.StartDateTime</th>
                                                <th>@Resources.Strings.EndDateTime</th> 
                                                <th>@Resources.Strings.Product</th>
                                                <th>@Resources.Strings.SHIFT</th>
                                                <th>@Resources.Strings.Description</th> 
                                                <th>@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                            </tr> 
                                            <tr ng-show="listData.listCrossVolumeResult == 0">
                                                <td colspan="6" >
                                                    @Resources.Strings.NoData
                                                </td>
                                            </tr>
                                            <tr ng-repeat="mData in listData.listCrossVolumeResult" >
                                                  <td>{{mData.START_DATE | showdatetimeformat}}</td>
                                                  <td>{{mData.END_DATE | showdatetimeformat}}</td> 
                                                  <td>{{mData.PRODUCT_NAME}}</td> 
                                                  <td>{{mData.SHIFT}}</td>
                                                  <td>{{mData.DESC}}</td> 
                                                  <td class="text_align_right">{{mData.VOLUME}}</td>
                                            </tr>
                                            <tr  ng-hide="listData.listCrossVolumeResult == 0">
                                                 <td colspan="5" class="text_align_right" >
                                                    @Resources.Strings.Total  
                                                 </td>
                                                 <td class="text_align_right" >
                                                     {{listData.totalVolCross}}
                                                 </td>
                                            </tr>
                                     </tbody>
                              </table>
                              <table class="table table-bordered"  >  
                                     <tbody style="width:100%;">
                                            <tr>
                                                <th colspan="6">
                                                    @Resources.Strings.Abnormal
                                                </th>
                                            </tr>                                            
                                            <tr>
                                               <th>@Resources.Strings.StartDateTime</th>
                                               <th>@Resources.Strings.EndDateTime</th> 
                                               <th>@Resources.Strings.Product</th>
                                               <th>@Resources.Strings.SHIFT</th>
                                               <th>@Resources.Strings.Description</th> 
                                               <th>@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                            </tr> 
                                            <tr ng-show="listData.listAbnormalResult == 0">
                                                <td colspan="6" >
                                                    @Resources.Strings.NoData
                                                </td>
                                            </tr> 
                                            <tr ng-repeat="mData in listData.listAbnormalResult" >
                                                <td>{{mData.START_DATE | showdatetimeformat}}</td>
                                                <td>{{mData.END_DATE | showdatetimeformat}}</td> 
                                                <td>{{mData.PRODUCT_NAME}}</td> 
                                                <td>{{mData.SHIFT}}</td>
                                                <td>{{mData.DESC}}</td> 
                                                <td class="text_align_right">{{mData.VOLUME}}</td>
                                            </tr>
                                            <tr  ng-hide="listData.listAbnormalResult == 0">
                                                <td colspan="5" class="text_align_right" >
                                                    @Resources.Strings.Total  
                                                </td>
                                                <td class="text_align_right" >
                                                    {{listData.totalVolAbnormal}}
                                                </td>
                                            </tr>
                                     </tbody>
                              </table>
                              <table class="table table-bordered"  >  
                                     <tbody style="width:100%;">
                                            <tr>
                                                <th colspan="5">@Resources.Strings.ReduceFeed </th>
                                            </tr>
                                            <tr>
                                                <th>@Resources.Strings.StartDateTime</th>
                                                <th>@Resources.Strings.EndDateTime</th>  
                                                <th>@Resources.Strings.SHIFT</th>
                                                <th>@Resources.Strings.Description</th> 
                                                <th>@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                            </tr> 
                                            <tr ng-show="listData.listReduceFeedResult == 0">
                                                <td colspan="5" >
                                                    @Resources.Strings.NoData
                                                </td>
                                            </tr>
                                            <tr ng-repeat="mData in listData.listReduceFeedResult" >
                                                <td>{{mData.START_DATE | showdatetimeformat}}</td>
                                                <td>{{mData.END_DATE | showdatetimeformat}}</td> 
                                                <td>{{mData.SHIFT}}</td>
                                                <td>{{mData.DESC}}</td> 
                                                <td class="text_align_right">{{mData.VOLUME}}</td>
                                            </tr>
                                            <tr ng-hide="listData.listReduceFeedResult == 0">
                                                <td colspan="4" class="text_align_right" >
                                                        @Resources.Strings.Total  
                                                </td>
                                                <td   class="text_align_right" >
                                                      {{listData.totalVolReduceFeed}}
                                                </td>
                                            </tr>
                                     </tbody>
                              </table>
                              <table class="table table-bordered"  >  
                                     <tbody style="width:100%;">
                                            <tr>
                                               <th colspan="6"> @Resources.Strings.Exception </th>
                                            </tr>
                                            <tr>
                                                <th>@Resources.Strings.StartDateTime</th>
                                                <th>@Resources.Strings.EndDateTime</th> 
                                                <th>@Resources.Strings.Product</th>
                                                <th>@Resources.Strings.SHIFT</th>
                                                <th>@Resources.Strings.Description</th> 
                                                <th>@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                            </tr> 
                                            <tr ng-show="listData.listExceptionResult == 0">
                                                <td colspan="6" > @Resources.Strings.NoData </td>
                                            </tr>
                                            <tr ng-repeat="mData in listData.listExceptionResult" >
                                                <td>{{mData.START_DATE | showdatetimeformat}}</td>
                                                <td>{{mData.END_DATE | showdatetimeformat}}</td> 
                                                <td>{{mData.PRODUCT_NAME}}</td> 
                                                <td>{{mData.SHIFT}}</td>
                                                <td>{{mData.DESC}}</td> 
                                                <td class="text_align_right">{{mData.VOLUME}}</td>
                                            </tr>
                                            <tr  ng-hide="listData.listExceptionResult == 0">
                                                 <td colspan="5" class="text_align_right" >
                                                      @Resources.Strings.Total  
                                                 </td>
                                                 <td   class="text_align_right" >
                                                      {{listData.totalVolException}}
                                                 </td>
                                            </tr>
                                     </tbody>
                              </table>   
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div> 
<script type="text/javascript">
   
   app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempPlantId;
        $scope.listPlant = getListPlant(); 

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);;
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc'); 

//        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listCorrectReport; // listdata
        $scope.AllCorrectReport; //checkbox
        $scope.listData;
  
        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listCorrectReport, $scope.AllCorrectReport) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("CorrectReport/CreateManageCorrectReport") + "?id=" + mData.ID ); }
        $scope.sort = function(e){ 
               Fact.sort(e);
               $scope.SortColumn = Fact.getSortColumn();
               $scope.SortOrder = Fact.getSortOrder();
               $scope.loadCorrectReport();
        }

        $scope.clearCorrectReport = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.TempDateStart = null; 
               $scope.TempDateEnd = null; 
               $scope.tempPlantId = {};
               $scope.tempProductId = {};
               $scope.tempDocStatusId =  {};
               $scope.mSearch.CAUSE_DESC = null;

               $scope.loadCorrectReport();
        }
         
        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showCorrectReportSearch = function(){  $scope.showSearch = true; /*$("#searchCorrectReport").modal('show');*/}
        $scope.closeCorrectReportSearch = function() { $scope.showSearch = false; }
        $scope.getCorrectReportSearch = function()
        {
            console.log($scope.mSearch);
            $("#searchCorrectReport").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempPlantId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            }
             
            if( typeof $scope.tempDocStatusId !== "undefined" ){
                $scope.mSearch.DOC_STATUS = $scope.tempDocStatusId.Value;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadCorrectReport();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadCorrectReport(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadCorrectReport(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadCorrectReport(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadCorrectReport(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadCorrectReport(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadCorrectReport(); }

        $scope.loadCorrectReport = function () { 

            
            var valid = true;
            var urlName = get_base_url("Report/GetOffControlCorrectDataBySearch");

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.TempDateStart !== "undefined"  && $scope.TempDateStart !== null ){
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                valid = false;
            }  

            if( typeof $scope.TempDateEnd !== "undefined"  && $scope.TempDateEnd !== null ){
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                valid = false;
            }

            if(true == valid){ 

                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                     Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }
                
                Fact.loadlistData(urlName, $scope.mSearch, function(response){ 
                    try{
                       $scope.listData = response.data.message; 
                    }catch(e){

                    } 
                    $(".tblResult").show();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }


        } 
          



        $scope.loadExcelCorrectReport = function (){

            

            var valid = true; 
            

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.TempDateStart !== "undefined"  && $scope.TempDateStart !== null ){
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                valid = false;
            }  

            if( typeof $scope.TempDateEnd !== "undefined"  && $scope.TempDateEnd !== null ){
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                valid = false;
            }

            

            if(true == valid){ 

                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                     Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }
                $scope.loadCorrectReport();                
                var urlName = get_base_url("Report/OffControlCorrectDataExcel");

                //var numb1 = $scope.TempDateStart.replace("/Date(", "").replace(")/", "");
	            var dDate1 = new Date($scope.TempDateStart);
                //var numb2 = $scope.TempDateEnd.replace("/Date(", "").replace(")/", "");
	            var dDate2 = new Date($scope.TempDateEnd);
                    
                urlName += "?START_DATE=" +  dDate1.getFullYear() + "/" + (dDate1.getMonth() + 1) + "/" + (dDate1.getDate()) + " " + dDate1.getHours() + ":" + dDate1.getMinutes() + ":" + dDate1.getSeconds() ;
                urlName += "&END_DATE=" +   dDate2.getFullYear() + "/" + (dDate2.getMonth() + 1) + "/" + (dDate2.getDate()) + " " + dDate2.getHours() + ":" + dDate2.getMinutes() + ":" + dDate2.getSeconds() ;
                urlName += "&PLANT_ID=" +  $scope.mSearch.PLANT_ID;

                window.open(urlName, "@Resources.Strings.OffControlCorrectData");
                
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }


        } 

        $scope.loadPdfCorrectReport = function (){

             var obj = new Object();
                
                var hasPdfViewer = getAcrobatInfo().acrobat ==="installed";
                var pdfDownload = 0;

                if(false == hasPdfViewer){
                    pdfDownload = 1; 
                }else{
                    pdfDownload = 0;
                }  

            var valid = true; 
            

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.TempDateStart !== "undefined"  && $scope.TempDateStart !== null ){
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                valid = false;
            }  

            if( typeof $scope.TempDateEnd !== "undefined"  && $scope.TempDateEnd !== null ){
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                valid = false;
            }

            

            if(true == valid){ 

                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                     Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }
                $scope.loadCorrectReport();                
                var urlName = get_base_url("Report/GetTemplateCorrectDataPDF");

                //var numb1 = $scope.TempDateStart.replace("/Date(", "").replace(")/", "");
	            var dDate1 = new Date($scope.TempDateStart);
                //var numb2 = $scope.TempDateEnd.replace("/Date(", "").replace(")/", "");
	            var dDate2 = new Date($scope.TempDateEnd);
                    
                urlName += "?bDownload=" + pdfDownload; 
                urlName += "&START_DATE="  +  dDate1.getFullYear() + "/" + (dDate1.getMonth() + 1) + "/" + (dDate1.getDate()) + " " + dDate1.getHours() + ":" + dDate1.getMinutes() + ":" + dDate1.getSeconds() ;
                urlName += "&END_DATE=" +   dDate2.getFullYear() + "/" + (dDate2.getMonth() + 1) + "/" + (dDate2.getDate()) + " " + dDate2.getHours() + ":" + dDate2.getMinutes() + ":" + dDate2.getSeconds() ;
                urlName += "&PLANT_ID=" +  $scope.mSearch.PLANT_ID;

                window.open(urlName);
                
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }


        } 


        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Report/GetOffControlCorrectDataBySearch"));
//            Fact.setDelelteUrl(get_base_url("CorrectReport/DeleteQMS_TR_ABNORMAL"));
            Fact.setSearchModel( getSearchModel() ); 

            Fact.setSortIcon();
            //$scope.loadCorrectReport();
        }

        $scope.init();

    });

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchModel)); 
        return lstData; 
    }


   function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }


</script>