﻿ <div >
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Off Control Correct Data</h3>
                <div class="clearfix"></div>


              </div>
            </div>

            <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title"> 
                    <div class="row" style="text-align:right;">
                      <a href="~/Report/ShowOffControlCorrectData"><span class="btn btn-primary" style="color:white;"><i class="fa fa-file-text-o"></i> Generate Report</span></a>
                      <a href=""><span class="btn btn-primary" style="color:white;"><i class="fa fa-file-excel-o"></i> Excel Export</span></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
                        Plant
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" >
                        <select class="form-control optsearch">
                          <option>Choose Plant</option>
                          <option>All GSP</option>
                          <option>GSP#1</option>
                          <option>GSP#2</option>
                          <option>GSP#3</option>
                          <option>GSP#5</option>
                          <option>GSP#6</option>
                          <option>ESP</option>
                        </select>
                      </div>
                      <!-- <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
                        Status
                      </div> -->
                      <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;"> 
                      </div>
                    </div>
                    <br>

                    <div class="row">
                      <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
                        Start
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;">
                        <input type="text" class="form-control has-feedback-left dDateDemo" id="single_cal1"  aria-describedby="inputSuccess2Status">
                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                      </div>
                      <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:right;">
                        End
                      </div>
                      <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                        <input type="text" class="form-control has-feedback-left dDateDemo" id="single_cal2"  aria-describedby="inputSuccess2Status">
                        <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                      </div>
                    </div>
                    <br>
                    <hr>
                    <div class="row" id="report">
                      <div class="row" style="text-align:center;">
                        <h3>  รายงานการ Correct Data </h3>
                          <h3>  Plant : GSP#1 ระหว่างวันที่ 1/08/2016 ถึงวันที่ 30/08/2016</h3>
                      </div>
                      <br>
                      <div class="row">
                        <table class="table table-bordered" style="width:100%;">
                          <thead style="width:100%;">
                            <tr>
                              <th>Item</th>
                              <th>Date Time</th>

                              <th>Correct Data</th>
                              <th>Shift</th>
                              <th>
                                Description
                              </th>

                              <th>Volume(TON)</th>
                            <tr>
                          </thead>
                          <tbody style="width:100%;">
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Abnormal</td>
                              <td>A</td>
                              <td>Value Freeze</td>
                              <td>100</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Abnormal</td>
                              <td>B</td>
                              <td>Value Freeze</td>
                              <td>100</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Abnormal</td>
                              <td>C</td>
                              <td>Value Freeze</td>
                              <td>100</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Abnormal</td>
                              <td>A</td>
                              <td>Value Freeze</td>
                              <td>100</td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>Total</td>
                              <td>400</td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                      <br>
                      <div class="row">
                        <table class="table table-bordered" style="width:100%;">
                          <thead style="width:100%;">
                            <tr>
                              <th>Item</th>
                              <th>Date Time</th>

                              <th>Correct Data</th>
                              <th>Shift</th>
                              <th>
                                Description
                              </th>

                              <th>Volume(TON)</th>
                            <tr>
                          </thead>
                          <tbody style="width:100%;">
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Exception</td>
                              <td>A</td>
                              <td>xxx</td>
                              <td>100</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Exception</td>
                              <td>B</td>
                              <td>xxx</td>
                              <td>100</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Exception</td>
                              <td>C</td>
                              <td>xxx</td>
                              <td>100</td>
                            </tr>

                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>Total</td>
                              <td>300</td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                      <br>
                      <div class="row">
                        <table class="table table-bordered" style="width:100%;">
                          <thead style="width:100%;">
                            <tr>
                              <th>Item</th>
                              <th>Date Time</th>

                              <th>Correct Data</th>
                              <th>Shift</th>
                              <th>
                                Description
                              </th>

                              <th>Volume(TON)</th>
                            <tr>
                          </thead>
                          <tbody style="width:100%;">
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Cross Volume</td>
                              <td>A</td>
                              <td>From LPG to NGL</td>
                              <td>100</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>1/08/2016:00:00:00 – 1/08/2016:01:30:00</td>
                              <td>Cross Volume</td>
                              <td>B</td>
                              <td>From LPG to NGL</td>
                              <td>100</td>
                            </tr>


                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>Total</td>
                              <td>200</td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                      </div>

                    </div>
                    <br>


                  </div>
                </div>
              </div>
            </div> 
        </div>
        
<script type="text/javascript">
    $(document).ready(function () {
        $(".optsearch").chosen();
        $(".dDateDemo").datepicker();
    });
</script>