﻿@{
    var createQMS_MA_PRODUCT_MERGE = ViewBag.createQMS_MA_PRODUCT_MERGE as QMSSystem.Model.CreateQMS_MA_PRODUCT_MERGE;

    //var searchSample = ViewBag.searchSample as QMSSystem.Model.ControlValueRowSearchModel;
    //var searchItem = ViewBag.searchItem as QMSSystem.Model.ControlValueColumnSearchModel;
    //var searchControlValueData = ViewBag.searchControlValueData as QMSSystem.Model.ControlValueDataSearchModel;

    //var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;

    var searchProductMerge = ViewBag.searchProductMerge as QMSSystem.Model.ProductMergeSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

}
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@Resources.Strings.ProductMapping </h3>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
        <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

        <div class="row" ng-show="showList">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_panel">

                    <div class="x_title">
                        <span ng-click="showControlGASSearch()" class="btn btn-primary "><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                        <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                        <span class="btn btn-primary " my-confirm-click="delControlGAS()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content tblResult " style="display:none;">
                        <div class="form-horizontal form-label-left" ng-show="showSearch">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" maxlength="50" ng-model="mSearch.ITEM">
                                </div>
                            </div><div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.DisplayName </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="message" class="form-control" maxlength="150" name="message" ng-model="mSearch.DISPLAY_NAME"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-primary" ng-click="loadControlGAS()"><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                    <button type="button" class="btn btn-primary" ng-click="clearControlGAS()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                    <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                        </div>

                        <div class="row">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th> <input type="checkbox" ng-model="AllControlGAS" ng-change="SelectAllCheck()"></th>
                                        <th class="sorting" ng-click="sort($event)" sort="ITEM">@Resources.Strings.Item</th>
                                        <th class="sorting" ng-click="sort($event)" sort="UNIT">@Resources.Strings.Unit</th>
                                        @*<th class="sorting" ng-click="sort($event)" sort="CONTROL_VALUE">@Resources.Strings.ControlValue</th>*@
                                        <th class="sorting" ng-click="sort($event)" sort="TEST_METHOD">@Resources.Strings.TestMethod</th>
                                        <th class="sorting" ng-click="sort($event)" sort="SPEC_VALUE">@Resources.Strings.SpecValue</th>
                                        <th class="sorting" ng-click="sort($event)" sort="DISPLAY_NAME">@Resources.Strings.DisplayName</th>
                                        <th>@Resources.Strings.Tools</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="mControlGAS in listControlGAS">
                                        <td><input type="checkbox" ng-model="mControlGAS.ITEM_SELECTED" /></td>
                                        <td>{{mControlGAS.ITEM}}</td>
                                        <td>{{mControlGAS.UNIT}}</td>
                                        @*<td>{{mControlGAS.CONTROL_VALUE}}</td>*@
                                        <td>{{mControlGAS.TEST_METHOD}}</td>
                                        <td>{{mControlGAS.SPEC_VALUE}}</td>
                                        <td>{{mControlGAS.DISPLAY_NAME}}</td>
                                        <td><i class="fa fa-edit set-pointer" ng-click="editData(mControlGAS)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- ทำหน้า -->
                    <div class="row tblResult " style="display:none;">
                        <div class="col-md-7 col-sm-7 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                @Resources.Strings.ResultsPerPage
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select ng-model="TempPageSize"
                                        chosen
                                        ng-change="loadByPageSize()"
                                        ng-options="item.Text  for item in listPageSize"
                                        class="col-md-12 col-sm-12 col-xs-12"
                                        name="lst_pagesize" id="lst_pagesize">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="col-md-5 col-sm-5 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left"></i>@Resources.Strings.Previous</span></label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;">
                                <select ng-model="TempPageIndex"
                                        chosen
                                        ng-change="searchByPage()"
                                        ng-options="item.PageIndex  for item in listPageIndex">
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer">@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer"></i></span></label>
                            </div>
                        </div>
                    </div>
                    <!-- ทำหน้า -->
                </div>

            </div>

        </div>


        <div class="row" ng-show="showDevice">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="row text_align_right">
                        <span class="btn btn-primary" ng-click="saveData()"><i class="fa fa-save"></i> @Resources.Strings.Save</span>

                        @*<span class="btn btn-primary showTab" ng-click="showPDF()" style="display:none;"><i class="fa fa-file-pdf-o"></i> @Resources.Strings.PDF</span>*@
                        <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                    </div>
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-horizontal form-label-left" ng-form="myQMS_MA_PRODUCT_MERGE">

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="myQMS_MA_PRODUCT_MERGE_NAME" maxlength="100" ng-model="createModel.ITEM" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Unit <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="myQMS_MA_PRODUCT_MERGE_NAME" maxlength="100" ng-model="createModel.UNIT" required />
                                </div>
                            </div>
                            @*<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Control Value <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="myQMS_MA_PRODUCT_MERGE_NAME" maxlength="100" ng-model="createModel.CONTROL_VALUE" required />
                                </div>
                            </div>*@
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.TestMethod <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="myQMS_MA_PRODUCT_MERGE_NAME" maxlength="100" ng-model="createModel.TEST_METHOD" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.SpecValue <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="myQMS_MA_PRODUCT_MERGE_NAME" maxlength="100" ng-model="createModel.SPEC_VALUE" required />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.DisplayName <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="myQMS_MA_PRODUCT_MERGE_NAME" maxlength="100" ng-model="createModel.DISPLAY_NAME" required />
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Control Value modal -->
    <div class="modal fade control-value-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ControlValue</h4>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-model="templistSample"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.SAMPLE  for item in listSample"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-model="templistItem"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.ITEM + ' (' + item.UNIT_NAME + ')'  for item in listItem"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <label><input ng-model="createControlDataModel.CONC_LOADING_FLAG" type="checkbox" class="condcheck"> @Resources.Strings.CondLoading</label>
                            </div>
                        </div><div class="form-group min_max" ng-show="!createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"><input type="checkbox" ng-model="createControlDataModel.MIN_FLAG"> @Resources.Strings.Min</label>
                            </div><div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" ng-model="createControlDataModel.MIN_VALUE" ng-disabled="!createControlDataModel.MIN_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                            </div><div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"> {{createControlDataModel.UNIT_NAME}} </label>
                            </div>
                        </div><div class="form-group min_max" ng-show="!createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12"></div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @* <label><input type="checkbox" ng-model="createControlDataModel.MIN_NO_CAL"  > @Resources.Strings.ExceptInOffControlCal</label>*@
                            </div>
                        </div><div class="form-group min_max" ng-show="!createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"><input type="checkbox" ng-model="createControlDataModel.MAX_FLAG"> @Resources.Strings.Max</label>
                            </div><div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" ng-model="createControlDataModel.MAX_VALUE" ng-disabled="!createControlDataModel.MAX_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                            </div><div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"> {{createControlDataModel.UNIT_NAME}}</label>
                            </div>
                        </div><div class="form-group min_max" ng-show="!createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12"></div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @* <label><input type="checkbox" ng-model="createControlDataModel.MAX_NO_CAL"  > @Resources.Strings.ExceptInOffControlCal</label>*@
                            </div>
                        </div><div class="form-group conc_loading" ng-show="createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"><input type="checkbox" ng-model="createControlDataModel.CONC_FLAG"> @Resources.Strings.CONC</label>
                            </div><div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" ng-model="createControlDataModel.CONC_VALUE" ng-disabled="!createControlDataModel.CONC_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                            </div><div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"> {{createControlDataModel.UNIT_NAME}}</label>
                            </div>
                        </div><div class="form-group min_max" ng-show="createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12"></div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @*  <label><input type="checkbox" ng-model="createControlDataModel.CONC_NO_CAL"  > @Resources.Strings.ExceptInOffControlCal</label>*@
                            </div>
                        </div><div class="form-group conc_loading" ng-show="createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"><input type="checkbox" ng-model="createControlDataModel.LOADING_FLAG"> @Resources.Strings.LOADING</label>
                            </div><div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" ng-model="createControlDataModel.LOADING_VALUE" ng-disabled="!createControlDataModel.LOADING_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                            </div><div class="col-md-2 col-sm-2 col-xs-12">
                                <label class="control-label"> {{createControlDataModel.UNIT_NAME}}</label>
                            </div>
                        </div><div class="form-group min_max" ng-show="createControlDataModel.CONC_LOADING_FLAG">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"> </label>
                            <div class="col-md-2 col-sm-2 col-xs-12"></div>
                            <div class="col-md-5 col-sm-5 col-xs-12">
                                @*<label><input type="checkbox" ng-model="createControlDataModel.LOADING_NO_CAL"  > @Resources.Strings.ExceptInOffControlCal</label>*@
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary" my-confirm-click="delControlData(createControlDataModel)" data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            <button type="button" class="btn btn-primary" ng-click="saveQMS_MA_PRODUCT_MERGE_VALUE()"><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                        </div>
                    </div>
                    <div class="form-group" ng-show="createControlDataModel.ID > 0">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size ">
                                @Resources.Strings.CreateBy {{createControlDataModel.CREATE_USER}} ( {{createControlDataModel.SHOW_CREATE_DATE }} )
                            </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_right text_right small_font_size ">
                                @Resources.Strings.UpdateBy {{createControlDataModel.UPDATE_USER}} ( {{createControlDataModel.SHOW_UPDATE_DATE }} )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Control Value modal -->

</div>








<script type="text/javascript">
    $(document).ready(function () {

        //        $(".condcheck").change(function () {
        //            if ($(".condcheck").prop("checked")) {
        //                $(".min_max").hide();
        //                $(".conc_loading").show();
        //            } else {
        //                $(".conc_loading").hide();
        //                $(".min_max").show();
        //            }
        //        });
    });

    function openControlDialog() {
        $(".control-value-modal-lg").modal('show');
    }
</script>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike , $tooltip ) {

         $scope.setTooltip = function(data){
            if(data.ITEM_TYPE == 3){
                console.log(data.CONTROL_COLUMN_ID, data.CONTROL_ROW_ID);

                var title = "";

                 if(data.CONTROL_ROW_ID  > 0){
                    $scope.listSample.forEach(function(entry) {
		    	        if(data.CONTROL_ROW_ID == entry.ID){
                            sampleName =  entry.SAMPLE;
                            checkData = true;
		    	        }
			        });

                    title = "Sample : " + sampleName;
                }

                //Item
                if(data.CONTROL_COLUMN_ID  > 0){
                    $scope.listItem.forEach(function(entry) {
		    	        if(data.CONTROL_COLUMN_ID == entry.ID){
                            itemName =  entry.ITEM + ' (' + entry.UNIT_NAME + ')'
                            checkData = true;
		    	        }
			        });

                    title +=  "<br/> Items : " + itemName;
                }

                $scope.tooltip = {title:  title, checked: checkData};
            }else{
                $scope.tooltip = {title:  title, checked: false};
            }
        }

        $scope.tooltip = {title: '', checked: false};

        $scope.createModel = getCreateModel();
       /* $scope.createControlRowModel = getControlRowModel();*/
        //$scope.createControlColumnModel = getControlColumnModel();
        //$scope.createControlDataModel = getControlDataModel();

        //$scope.searchSample = getSearchSampleModel();
        //$scope.searchItem = getSearchItemModel();
        $scope.searchProductMerge = getSearchProductMergeModel();
        //$scope.searchProductMergeData = getSearchProductMergeDataModel();

        $scope.tempSample;
        $scope.tempItem;
        $scope.tempProductMerge;

        $scope.listSampleSelect = {};
        $scope.listItemSelect = {};
        $scope.listProductMergeSelect = {};

        $scope.AllSampleSelected = false;
        $scope.ShowSample = true;
        $scope.AllItemSelected = false;
        $scope.ShowItem = true;
        $scope.AllPlantProductMerge= false;
        $scope.ShowProductMerge = true;

        $scope.listSample;
        $scope.listItem;
        $scope.listProductMerge;

        $scope.templistUnit;
        $scope.templistSample;
        $scope.templistItem;


        //$scope.listUnit = getListUnit();

        //$scope.delControlData = function (data) {
        //    var ids = [];
        //    ids.push(data.ID);

        //    var jsonData = {
	       //                     "ids": ids
	       //                };

        //    var urlName = get_base_url("ControlValue/DeleteQMS_MA_PRODUCT_MERGE_DATA");
        //    Fact.deleteDataEx(urlName, jsonData, function(response){
        //            $scope.loadControlValue();
        //    });
        //}

        $scope.showPDF = function(){
            var obj = new Object();

                var controlId  = $scope.createModel.ID;
                var hasPdfViewer = getAcrobatInfo().acrobat ==="installed";
                var pdfDownload = 0;

                if(false == hasPdfViewer){
                    pdfDownload = 1;
                }else{
                    pdfDownload = 0;
                }

            var urlName = get_base_url("ControlValue/GetTemplateProductMergePDF?bDownload=" + pdfDownload + "&controlId=" +  controlId );
                window.open(urlName);
        }

        $scope.saveData = function () {
            var urlName = get_base_url("ControlValue/CreateQMS_MA_PRODUCT_MERGE");
            var valid = true;

            if (typeof $scope.createModel.ITEM !== "undefined"
                && $scope.createModel.ITEM !== null
            ){

            }else{
                valid = false;
            }

            if (typeof $scope.createModel.UNIT !== "undefined"
                && $scope.createModel.UNIT !== null
            ) {

            } else {
                valid = false;
            }

            //if (typeof $scope.createModel.CONTROL_VALUE !== "undefined"
            //    && $scope.createModel.CONTROL_VALUE !== null
            //) {

            //} else {
            //    valid = false;
            //}

            if (typeof $scope.createModel.TEST_METHOD !== "undefined"
                && $scope.createModel.TEST_METHOD !== null
            ) {

            } else {
                valid = false;
            }

            if (typeof $scope.createModel.SPEC_VALUE !== "undefined"
                && $scope.createModel.SPEC_VALUE !== null
            ) {

            } else {
                valid = false;
            }

            if (typeof $scope.createModel.DISPLAY_NAME !== "undefined"
                && $scope.createModel.DISPLAY_NAME !== null
            ) {

            } else {
                valid = false;
            }

            $scope.createModel.CONTROL_VALUE = "-";

            $scope.createModel.ACTIVE_DATE = new Date();
            $scope.createModel.EXPIRE_DATE = new Date();

            console.log($scope.createModel);

            if (true == valid) {

                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {

                    if(response.data.result == 1){
                        $scope.loadControlGAS();
                        $scope.showDeviceData();
                    }
                    console.log($scope.createModel);

                     Fact.showMessage(response.data.message);
                      $scope.createModel =  response.data.model;
                      $scope.createModel.ID = response.data.dataId;
                     $(".showTab").show();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

        }



        //#region QMS_MA_PRODUCT_MERGE_ROW
        // $scope.adjustSamplePostion = function(data, arrow){

        //    var urlName = get_base_url("ControlValue/SetSamplePosition");
        //    var jsonData = {"ID" : data.ID, "DIRECTION" : arrow, "CONTROL_ID" : data.CONTROL_ID };
        //    Fact.loadlistData(urlName, jsonData, function (response){
        //        $scope.listSample = response.data.message;
        //        $scope.listControlValue = response.data.listControlData;
        //    });
        //}

        $scope.SelectAllSampleCheck = function () { Fact.SelectAllCheck($scope.listSample, $scope.AllSampleSelected) }

        @*$scope.delQMS_MA_PRODUCT_MERGE_ROW = function(){
            var urlName = get_base_url("ControlValue/DeleteQMS_MA_PRODUCT_MERGE_ROW");
            Fact.deleteMultiDataEx(urlName, $scope.listSample, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadControlSample(); });
        }*@

        $scope.getSampleTemplate = function (mSampleData) {
            if (mSampleData.ID === $scope.listSampleSelect.ID)
            {
                return 'editSample';
            }else{
                return 'displaySample';
            }
        };

        $scope.editSample = function (mSampleData) {
            $scope.ShowSample = false;
            $scope.listSampleSelect = angular.copy(mSampleData);
        };

        $scope.resetSample = function () {
            $scope.ShowSample = true;
            $scope.listSample.forEach(function(entry) {
		    	if($scope.listSampleSelect.ID == entry.ID){
		    		entry.SAMPLE = $scope.listSampleSelect.SAMPLE;
		    	}
			});
            $scope.listSampleSelect = {};
        };

        //$scope.loadControlSample = function () {
        //    var urlName = get_base_url("ControlValue/GetQMS_MA_PRODUCT_MERGE_ROWBySearch");

        //    if( $scope.createModel.ID > 0){
        //        $scope.searchSample.CONTROL_ID = $scope.createModel.ID;
        //        var jsonData = {
	       //          "PageIndex": 1,
	       //          "PageSize": 1000,
	       //          "SortColumn": "DESC",
	       //          "SortOrder": "ID",
	       //          "mSearch": $scope.searchSample
	       //     };

        //        Fact.loadlistData(urlName, jsonData, function(response){
        //            try{
        //                $scope.listSample = response.data.message;
        //                $scope.listControlValue = response.data.listControlData;
        //            }catch(e){

        //            }
        //        });
        //    }
        //}


        //#region  QMS_MA_PRODUCT_MERGE_COLUMN
        //$scope.adjustItemPostion = function(data, arrow){

        //    var urlName = get_base_url("ControlValue/SetItemPosition");
        //    var jsonData = {"ID" : data.ID, "DIRECTION" : arrow , "CONTROL_ID" : data.CONTROL_ID};
        //    Fact.loadlistData(urlName, jsonData, function (response){
        //        $scope.listItem = response.data.message;
        //        $scope.listControlValue = response.data.listControlData;
        //    });
        //}

        $scope.SelectAllItemCheck = function () { Fact.SelectAllCheck($scope.listItem, $scope.AllItemSelected) }

        @*$scope.delQMS_MA_PRODUCT_MERGE_COLUMN = function(){
            var urlName = get_base_url("ControlValue/DeleteQMS_MA_PRODUCT_MERGE_COLUMN");
            Fact.deleteMultiDataEx(urlName, $scope.listItem, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadControlItem(); });
        }*@

        $scope.getItemTemplate = function (mItemData) {
            if (mItemData.ID === $scope.listItemSelect.ID) return 'editItem';
                 else return 'displayItem';
        };

        $scope.editItem = function (mItemData) {
            $scope.ShowItem = false;
            $scope.listItemSelect = angular.copy(mItemData);
            $scope.listUnit.forEach(function(entry) {
		    	if($scope.listItemSelect.UNIT_ID == entry.ID){
		    		$scope.templistUnit =  entry;
		    		return false;
		    	}
			});
        };

        $scope.resetItem = function () {
            $scope.ShowItem = true;
            $scope.listItem.forEach(function(entry) {
		    	if($scope.listItemSelect.ID == entry.ID){
		    		entry.ITEM = $scope.listItemSelect.ITEM;
                    entry.UNIT_ID   = $scope.listItemSelect.UNIT_ID;
		    	}
			});
            $scope.listItemSelect = {};
            $scope.templistUnit = {};
        };

        //$scope.loadControlItem = function () {
        //    var urlName = get_base_url("ControlValue/GetQMS_MA_PRODUCT_MERGE_COLUMNBySearch");

        //    if( $scope.createModel.ID > 0){
        //        $scope.searchSample.CONTROL_ID = $scope.createModel.ID;
        //        var jsonData = {
	       //          "PageIndex": 1,
	       //          "PageSize": 1000,
	       //          "SortColumn": "DESC",
	       //          "SortOrder": "ID",
	       //          "mSearch": $scope.searchSample
	       //     };

        //        Fact.loadlistData(urlName, jsonData, function(response){
        //            try{
        //                $scope.listItem = response.data.message;
        //                $scope.listControlValue = response.data.listControlData;
        //            }catch(e){

        //            }
        //        });
        //    }
        //}

        $scope.unitChange = function(itemSelected){
            $scope.templistUnit = itemSelected;
        }


        //#region QMS_MA_PRODUCT_MERGE_DATA
        $scope.getProductMergeTemplate = function (mProductMergeData) {
            if (mProductMergeData.ID === $scope.listProductMergeSelect.ID) return 'editProductMerge';
                 else return 'displayProductMerge';
        };

        $scope.editProductMerge = function (mProductMergeData) {
            $scope.ShowProductMerge = false;
            $scope.listProductMergeSelect = angular.copy(mProductMergeData);
        };

        $scope.resetProductMerge = function () {
            $scope.ShowProductMerge = true;
            $scope.listProductMergeSelect = {};
        };

        $scope.saveControlDataModel = function () {
            var urlName = get_base_url("ControlValue/CreateQMS_MA_PRODUCT_MERGE");
            var jsonData = $scope.createModel;
            Fact.saveData(urlName, jsonData, true);
        }

        $scope.setClass = function(data){
            var type = data.ITEM_TYPE;
            var showData = false;//data.SHOW_ON_TREND_FLAG;
            if(data.CONTROL_DATA_NAME != null ){
                showData = true;
            }

            if(type == 1 || type == 2){ // header column and row
                return "metrix_header";
            }else{
                if(showData == true)
                    return "metrix_data_show";
                else
                    return "metrix_data";
            }
        }

        //$scope.loadControlValue = function () {
        //    var urlName = get_base_url("ControlValue/GetTemplateControlValue");

        //    if( $scope.createModel.ID > 0){
        //        var jsonData = {
	       //          "controlId": $scope.createModel.ID
	       //     };

        //        Fact.loadlistData(urlName, jsonData, function(response){
        //            try{
        //               // $scope.listItem = response.data.message;
        //               $scope.listControlValue = response.data.message;
        //            }catch(e){

        //            }
        //        });
        //    }
        //}

        $scope.openProductMerge = function(data){
            if(data.ITEM_TYPE == 3){
                $(".control-value-modal-lg").modal('show');
                $scope.createControlDataModel  = angular.copy(data);
                console.log($scope.createControlDataModel);

                   //Sample
                if($scope.createControlDataModel.CONTROL_ROW_ID  > 0){
                    $scope.listSample.forEach(function(entry) {
		    	        if($scope.createControlDataModel.CONTROL_ROW_ID == entry.ID){
                            $scope.templistSample =  entry;
		    	        }
			        });
                }

                //Item
                if($scope.createControlDataModel.CONTROL_COLUMN_ID  > 0){
                    $scope.listItem.forEach(function(entry) {
		    	        if($scope.createControlDataModel.CONTROL_COLUMN_ID == entry.ID){
                            $scope.templistItem =  entry;
		    	        }
			        });
                }
            }
        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;  $(".showTab").hide();}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); }
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){



            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;

            if( $scope.createModel.ID > 0){
                $(".showTab").show();
            }else{
                $(".showTab").hide();
            }

            //$scope.loadControlSample();
            //$scope.loadControlItem();
            //$scope.loadControlValue();
        }

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('DISPLAY_NAME');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listControlGAS; // listdata
        $scope.AllControlGAS; //checkbox

        $scope.showSearch = false;

        //Search
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listControlGAS, $scope.AllControlGAS) }

        $scope.sort = function(e){
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadControlGAS();
        }

        $scope.clearControlGAS = function() {  $scope.mSearch = getSearchModel();  $scope.loadControlGAS(); }

        $scope.showControlGASSearch = function () { $scope.showSearch = true; console.log($scope.showSearch); }
        $scope.closeControlGASSearch = function() { $scope.showSearch = false; }

        $scope.getControlGASSearch = function()
        {
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadControlGAS();
        }


        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadControlGAS(); }
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadControlGAS(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadControlGAS(); }
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadControlGAS(); }
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadControlGAS(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadControlGAS(); }

        $scope.loadControlGAS = function () {
            Fact.loadDataTable($scope.mSearch, function (response) {
                try {
                    $scope.listControlGAS = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;

                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;
			        });
                }catch(e){

                }
                console.log("tblResult");

                $(".tblResult").show();
            });
        }

        $scope.delControlGAS = function(){
            Fact.deleteMultiData($scope.listControlGAS, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadControlGAS(); });
        }

        //init
        $scope.init = function () {

            Fact.setDataTableUrl(get_base_url("ControlValue/GetQMS_MA_PRODUCT_MERGEBySearch"));
            Fact.setDelelteUrl(get_base_url("ControlValue/DeleteQMS_MA_PRODUCT_MERGE"));
            Fact.setSearchModel( getSearchModel() );

            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;
			});

            Fact.setSortIcon();
            $scope.loadControlGAS();
        }

        $scope.init();

    });

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_PRODUCT_MERGE));
        return lstData;
    }

    @*function getSearchSampleModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchSample));
        return lstData;
    }*@

    @*function getSearchItemModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchItem));
        return lstData;
    }*@

    function getSearchProductMergeModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchProductMerge));
        return lstData;
    }

    @*function getSearchProductMergeDataModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchProductMergeData));
        return lstData;
    }*@

    @*function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit));
        return lstData;
    }*@

     function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchProductMerge));
        return lstData;
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize));
        return lstData;
    }


</script>
