﻿@{
    var createQMS_MA_CONTROL = ViewBag.createQMS_MA_CONTROL as QMSSystem.Model.CreateQMS_MA_CONTROL;

    var createQMS_MA_CONTROL_ROW = ViewBag.createQMS_MA_CONTROL_ROW as QMSSystem.Model.CreateQMS_MA_CONTROL_ROW;
    var createQMS_MA_CONTROL_COLUMN = ViewBag.createQMS_MA_CONTROL_COLUMN as QMSSystem.Model.CreateQMS_MA_CONTROL_COLUMN;
    var createQMS_MA_CONTROL_DATA = ViewBag.createQMS_MA_CONTROL_DATA as QMSSystem.Model.CreateQMS_MA_CONTROL_DATA;

    var searchSample = ViewBag.searchSample as QMSSystem.Model.ControlValueRowSearchModel;
    var searchItem = ViewBag.searchItem as QMSSystem.Model.ControlValueColumnSearchModel;
    var searchControlValueData = ViewBag.searchControlValueData as QMSSystem.Model.ControlValueDataSearchModel;

    var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;

    var searchControlValue = ViewBag.searchControlValue as QMSSystem.Model.ControlValueSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
 
}
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@Resources.Strings.ControlOther / @Resources.Strings.HgInOutMRU  </h3>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
        <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

        <div class="row" ng-show="showList">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_panel">

                    <div class="x_title">
                        <span ng-click="showControlGASSearch()" class="btn btn-primary "><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                        <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                        <span class="btn btn-primary " my-confirm-click="delControlGAS()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content tblResult " style="display:none;">
                        <div class="form-horizontal form-label-left" ng-show="showSearch">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" maxlength="50" ng-model="mSearch.NAME">
                                </div>
                            </div><div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Description <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="message" class="form-control" maxlength="150" name="message" ng-model="mSearch.CONTROL_DESC"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-primary" ng-click="loadControlGAS()"><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                    <button type="button" class="btn btn-primary" ng-click="clearControlGAS()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                    <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                        </div>

                        <div class="row">
                            <table class="table table-bordered ">
                                <thead>
                                    <tr>
                                        <th> <input type="checkbox" ng-model="AllControlGAS" ng-change="SelectAllCheck()"></th>
                                        <th class="sorting_desc" ng-click="sort($event)" sort="NAME">@Resources.Strings.GroupOfCotrolValue</th>
                                        <th class="sorting" ng-click="sort($event)" sort="CONTROL_DESC">@Resources.Strings.Description</th>
                                        <th>@Resources.Strings.Tools</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="mControlGAS in listControlGAS">
                                        <td><input type="checkbox" ng-model="mControlGAS.ITEM_SELECTED" /></td>
                                        <td>{{mControlGAS.NAME}}</td>
                                        <td>{{mControlGAS.CONTROL_DESC}}</td>
                                        <td><i class="fa fa-edit set-pointer" ng-click="editData(mControlGAS)"></i></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- ทำหน้า -->
                    <div class="row tblResult " style="display:none;">
                        <div class="col-md-7 col-sm-7 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                @Resources.Strings.ResultsPerPage
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select ng-model="TempPageSize"
                                        chosen
                                        ng-change="loadByPageSize()"
                                        ng-options="item.Text  for item in listPageSize"
                                        class="col-md-12 col-sm-12 col-xs-12"
                                        name="lst_pagesize" id="lst_pagesize">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="col-md-5 col-sm-5 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left"></i>@Resources.Strings.Previous</span></label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;">
                                <select ng-model="TempPageIndex"
                                        chosen
                                        ng-change="searchByPage()"
                                        ng-options="item.PageIndex  for item in listPageIndex">
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer">@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer"></i></span></label>
                            </div>
                        </div>
                    </div>
                    <!-- ทำหน้า -->
                </div>

            </div>

        </div>


        <div class="row" ng-show="showDevice">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="row text_align_right">
                        <span class="btn btn-primary" ng-click="saveData()"><i class="fa fa-save"></i> @Resources.Strings.Save</span>

                        <span class="btn btn-primary showTab" ng-click="showPDF()" style="display:none;"><i class="fa fa-file-pdf-o"></i> @Resources.Strings.PDF</span>
                        <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                    </div>
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="form-horizontal form-label-left" ng-form="myQMS_MA_CONTROL">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" class="form-control" name="myQMS_MA_CONTROL_NAME" maxlength="100" ng-model="createModel.NAME" required />
                                </div>
                            </div><div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Description</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <textarea id="message" class="form-control" maxlength="150" name="message" ng-model="createModel.CONTROL_DESC"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row showTab" style="display:none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2><i class="fa fa-bars"></i>@Resources.Strings.SampleNameItemControlValue </h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="" role="tabpanel" data-example-id="togglable-tabs">
                            <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#tab_content1" id="sample-name-tab" role="tab" data-toggle="tab" aria-expanded="true">@Resources.Strings.SampleName</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content2" role="tab" id="item-tab" data-toggle="tab" aria-expanded="false">@Resources.Strings.Item</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#tab_content3" role="tab" id="control-value-tab" data-toggle="tab" aria-expanded="false">@Resources.Strings.ControlValue</a>
                                </li>
                            </ul>

                            <div id="myTabContent" class="tab-content">
                                <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="sample-name-tab">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                            <span class="btn btn-primary" my-confirm-click="delQMS_MA_CONTROL_ROW()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                            <br><br>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            <input type="checkbox" ng-model="AllSampleSelected" ng-change="SelectAllSampleCheck()">
                                                        </th>
                                                        <th>@Resources.Strings.SampleName</th>
                                                        <th>@Resources.Strings.Tools</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-form="myQMS_MA_CONTROL_ROW" ng-show="ShowSample">
                                                        <td></td>
                                                        <td>
                                                            <input type="text" name="QMS_MA_CONTROL_ROW_SAMPLE" ng-model="createControlRowModel.SAMPLE" maxlength="100" class="form-control" required>
                                                            <p class="help-redblock" ng-show=" myQMS_MA_CONTROL_ROW.QMS_MA_CONTROL_ROW_SAMPLE.$touched &&  myQMS_MA_CONTROL_SAMPLE.QMS_MA_CONTROL_ROW_SAMPLE.$invalid">@Resources.Strings.Required</p>
                                                        </td>
                                                        <td>
                                                            <span ng-click="saveQMS_MA_CONTROL_ROW()"><i class="fa fa-save"></i></span>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="mSampleData in listSample" ng-include="getSampleTemplate(mSampleData)"></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>


                                <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="item-tab">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <br>
                                            <span class="btn btn-primary" my-confirm-click="delQMS_MA_CONTROL_COLUMN()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                            <br><br>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th><input type="checkbox" ng-model="AllItemSelected" ng-change="SelectAllItemCheck()"></th>
                                                        <th style="width:30%;">@Resources.Strings.Item</th>
                                                        <th>@Resources.Strings.Unit</th>
                                                        <th>@Resources.Strings.Tools</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-form="myQMS_MA_CONTROL_COLUMN" ng-show="ShowItem">
                                                        <td></td>
                                                        <td><input type="text" ng-model="createControlColumnModel.ITEM" class="form-control" required></td>
                                                        <td class="text_left">
                                                            <div class="col-md-12 ">
                                                                <select ng-model="templistUnit"
                                                                        chosen="{inherit_select_classes: true}"
                                                                        ng-options="item.NAME  for item in listUnit"
                                                                        class="chosen_required">
                                                                    <option value=""></option>
                                                                </select>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <span ng-click="saveQMS_MA_CONTROL_COLUMN()"><i class="fa fa-save"></i></span>
                                                        </td>
                                                    </tr>
                                                    <tr ng-repeat="mItemData in listItem" ng-include="getItemTemplate(mItemData)"></tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="control-value-tab">
                                    <div class="row" style="overflow-x:scroll">
                                        <table class="table table-bordered tbl_overflow">
                                            <tbody>
                                                <tr ng-repeat="mControlValue in listControlValue">
                                                    <td ng-repeat="dataValue in mControlValue" ng-class="setClass(dataValue)" ng-click="openControlValue(dataValue)" ng-mouseover="setTooltip(dataValue)" data-animation="am-flip-x" data-type="info" data-container="body" bs-tooltip="tooltip" bs-enabled="tooltip.checked">
                                                        <div style="font-size: 12px;">
                                                            {{ dataValue.CONTROL_ROW_NAME }}  {{ dataValue.CONTROL_COLUMN_NAME }}  {{ dataValue.CONTROL_DATA_NAME }}
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- history -->
                    <div class="x_content" ng-show="createModel.ID">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size ">
                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
                            </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_right text_right small_font_size ">
                                @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
                            </div>
                        </div>
                    </div>
                    <!-- history -->
                </div>

            </div>
            <!--- SAMPLE -->
            <script type="text/ng-template" id="displaySample">
                <td><input type="checkbox" ng-model="mSampleData.ITEM_SELECTED" /></td>
                <td>{{ mSampleData.SAMPLE }}</td>
                <td>
                    <span><i class="fa fa-arrow-up" ng-show="mSampleData.ARROW_UP" ng-click="adjustSamplePostion(mSampleData, 1)" title="@Resources.Strings.Up"></i></span>
                    <span><i class="fa fa-arrow-down" ng-show="mSampleData.ARROW_DOWN" ng-click="adjustSamplePostion(mSampleData, 2)" title="@Resources.Strings.Down"></i></span>
                    <span ng-click="editSample(mSampleData)"><i class="fa fa-edit set-pointer"></i></span>
                </td>
            </script>
            <script type="text/ng-template" id="editSample">
                <td><input type="checkbox" ng-model="mSampleData.ITEM_SELECTED" /></td>
                <td><input type="text" class="form-control" ng-model="mSampleData.SAMPLE" /></td>
                <td>
                    <span ng-click="saveEditQMS_MA_CONTROL_ROW(mSampleData)"><i class="fa fa-save set-pointer"></i></span>
                    <span ng-click="resetSample()"><i class="fa fa-undo set-pointer"></i></span>
                </td>
            </script>

            <!--- ITEM -->
            <script type="text/ng-template" id="displayItem">
                <td><input type="checkbox" ng-model="mItemData.ITEM_SELECTED" /></td>
                <td>{{ mItemData.ITEM }}</td>
                <td>{{ mItemData.UNIT_NAME }}</td>
                <td>
                    <span><i class="fa fa-arrow-up" ng-show="mItemData.ARROW_UP" ng-click="adjustItemPostion(mItemData, 1)" title="@Resources.Strings.Up"></i></span>
                    <span><i class="fa fa-arrow-down" ng-show="mItemData.ARROW_DOWN" ng-click="adjustItemPostion(mItemData, 2)" title="@Resources.Strings.Down"></i></span>
                    <span ng-click="editItem(mItemData)"><i class="fa fa-edit set-pointer"></i></span>
                </td>
            </script>
            <script type="text/ng-template" id="editItem">
                <td><input type="checkbox" ng-model="mItemData.ITEM_SELECTED" /></td>
                <td><input type="text" class="form-control" ng-model="mItemData.ITEM" /></td>
                <td>
                    <select ng-model="templistUnit"
                            chosen="{inherit_select_classes: true}"
                            ng-change="unitChange(templistUnit)"
                            ng-options="item.NAME  for item in listUnit"
                            class="chosen_required">
                        <option value=""></option>
                    </select>
                </td>
                <td>
                    <span ng-click="saveEditQMS_MA_CONTROL_COLUMN(mItemData)"><i class="fa fa-save set-pointer"></i></span>
                    <span ng-click="resetItem()"><i class="fa fa-undo set-pointer"></i></span>
                </td>
            </script>
        </div>



    </div>

    <!-- Control Value modal -->
    <div class="modal fade control-value-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ControlValue</h4>
                </div>
                <div class="modal-body" style="min-height:unset;max-height:unset;overflow:unset;">
                    <div class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-model="templistSample"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.SAMPLE  for item in listSample"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-model="templistItem"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.ITEM + ' (' + item.UNIT_NAME + ')'  for item in listItem"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div role="tabpanel" class="tab-pane">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <br>
                                        <span class="btn btn-primary" my-confirm-click="delQMS_MA_CONTROL_DATACONF()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                        <br><br>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th><input type="checkbox" ng-model="AllControlSelected" ng-change="SelectAllControlCheck()"></th>
                                                    <th>@Resources.Strings.Min</th>
                                                    <th>@Resources.Strings.Max</th>
                                                    <th>@Resources.Strings.StartDateTime</th>
                                                    <th>@Resources.Strings.ExpireDate</th>
                                                    <th>@Resources.Strings.Tools</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-show="!editControl">
                                                    <td></td>
                                                    <td>
                                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                                            <input type="checkbox" ng-model="createControlDataConfigModel.MIN_FLAG">
                                                        </div>
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <input type="text" ng-model="createControlDataConfigModel.MIN_VALUE" ng-disabled="!createControlDataConfigModel.MIN_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                                            <input type="checkbox" ng-model="createControlDataConfigModel.MAX_FLAG">
                                                        </div>
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <input type="text" ng-model="createControlDataConfigModel.MAX_VALUE" ng-disabled="!createControlDataConfigModel.MAX_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="createControlDataConfigModel.START_DATE" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" ng-model="createControlDataConfigModel.EXPIRE_DATE" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                                    </td>
                                                    <td>
                                                        <span ng-click="saveTempQMS_MA_CONTROL_DATACONF()"><i class="fa fa-save"></i></span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="itemCreateControlDataConfigModel in listCreateControlDataConfigModel">

                                                    <td><input type="checkbox" ng-model="itemCreateControlDataConfigModel.ITEM_SELECTED" /></td>
                                                    <td ng-show="itemCreateControlDataConfigModel.ID != listControlConfigValueSelect.ID" ng-bind="itemCreateControlDataConfigModel.MIN_VALUE"></td>
                                                    <td ng-show="itemCreateControlDataConfigModel.ID != listControlConfigValueSelect.ID" ng-bind="itemCreateControlDataConfigModel.MAX_VALUE"></td>
                                                    <td ng-show="itemCreateControlDataConfigModel.ID != listControlConfigValueSelect.ID" ng-bind="itemCreateControlDataConfigModel.START_DATE_SHOW"></td>
                                                    <td ng-show="itemCreateControlDataConfigModel.ID != listControlConfigValueSelect.ID" ng-bind="itemCreateControlDataConfigModel.EXPIRE_DATE_SHOW"></td>
                                                    <td ng-show="itemCreateControlDataConfigModel.ID != listControlConfigValueSelect.ID">
                                                        <span ng-click="editTempQMS_MA_CONTROL_DATACONF(itemCreateControlDataConfigModel)"><i class="fa fa-edit set-pointer"></i></span>
                                                    </td>
                                                    @*editControl*@
                                                    <td ng-show="editControl && itemCreateControlDataConfigModel.ID == listControlConfigValueSelect.ID">
                                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                                            <input type="checkbox" ng-model="itemCreateControlDataConfigModel.MIN_FLAG">
                                                        </div>
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <input type="text" ng-model="itemCreateControlDataConfigModel.MIN_VALUE" ng-disabled="!itemCreateControlDataConfigModel.MIN_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                                                        </div>
                                                        </td>
                                                    <td ng-show="editControl && itemCreateControlDataConfigModel.ID == listControlConfigValueSelect.ID">
                                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                                            <input type="checkbox" ng-model="itemCreateControlDataConfigModel.MAX_FLAG">
                                                        </div>
                                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                                            <input type="text" ng-model="itemCreateControlDataConfigModel.MAX_VALUE" ng-disabled="!itemCreateControlDataConfigModel.MAX_FLAG" class="form-control col-md-7 col-xs-12" number-only-input>
                                                        </div>
                                                    </td>
                                                    <td ng-show="editControl && itemCreateControlDataConfigModel.ID == listControlConfigValueSelect.ID">
                                                        <input type="text" class="form-control" ng-model="itemCreateControlDataConfigModel.START_DATE" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                                    </td>
                                                    <td ng-show="editControl && itemCreateControlDataConfigModel.ID == listControlConfigValueSelect.ID">
                                                        <input type="text" class="form-control" ng-model="itemCreateControlDataConfigModel.EXPIRE_DATE" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                                    </td>
                                                    <td ng-show="editControl && itemCreateControlDataConfigModel.ID == listControlConfigValueSelect.ID">
                                                        <span ng-click="saveEditQMS_MA_CONTROL_DATACONF(itemCreateControlDataConfigModel)"><i class="fa fa-save set-pointer"></i></span>
                                                        <span ng-click="resetControlConfig()"><i class="fa fa-undo set-pointer"></i></span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            @*<button type="button" class="btn btn-primary" my-confirm-click="delControlData(createControlDataModel)"  data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>*@
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3">
                            @*<button type="button" class="btn btn-primary" ng-click="saveQMS_MA_CONTROL_VALUE()"><i class="fa fa-save"></i> @Resources.Strings.Save</button>*@
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                        </div>
                    </div>
                    <div class="form-group" ng-show="createControlDataModel.ID > 0">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size ">
                                @Resources.Strings.CreateBy {{createControlDataModel.CREATE_USER}} ( {{createControlDataModel.SHOW_CREATE_DATE }} )
                            </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_right text_right small_font_size ">
                                @Resources.Strings.UpdateBy {{createControlDataModel.UPDATE_USER}} ( {{createControlDataModel.SHOW_UPDATE_DATE }} )
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end Control Value modal -->

</div>






 

<script type="text/javascript">
    $(document).ready(function () {

        //        $(".condcheck").change(function () {
        //            if ($(".condcheck").prop("checked")) {
        //                $(".min_max").hide();
        //                $(".conc_loading").show();
        //            } else {
        //                $(".conc_loading").hide();
        //                $(".min_max").show();
        //            }
        //        });
    });

    function openControlDialog() {
        $(".control-value-modal-lg").modal('show');
    }
</script>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike , $tooltip ) {

         $scope.setTooltip = function(data){
            if(data.ITEM_TYPE == 3){
                console.log(data.CONTROL_COLUMN_ID, data.CONTROL_ROW_ID);

                var title = "";

                 if(data.CONTROL_ROW_ID  > 0){
                    $scope.listSample.forEach(function(entry) {
		    	        if(data.CONTROL_ROW_ID == entry.ID){
                            sampleName =  entry.SAMPLE;
                            checkData = true;
		    	        }
			        });

                    title = "Sample : " + sampleName;
                }

                //Item
                if(data.CONTROL_COLUMN_ID  > 0){
                    $scope.listItem.forEach(function(entry) {
		    	        if(data.CONTROL_COLUMN_ID == entry.ID){
                            itemName =  entry.ITEM + ' (' + entry.UNIT_NAME + ')'
                            checkData = true;
		    	        }
			        });

                    title +=  "<br/> Items : " + itemName;
                }

                $scope.tooltip = {title:  title, checked: checkData};
            }else{
                $scope.tooltip = {title:  title, checked: false};
            }
        }

        $scope.tooltip = {title: '', checked: false};

        $scope.createModel = getCreateModel();
        $scope.createControlRowModel = getControlRowModel();
        $scope.createControlColumnModel = getControlColumnModel();
        $scope.createControlDataModel = getControlDataModel();

        $scope.searchSample = getSearchSampleModel();
        $scope.searchItem = getSearchItemModel();
        $scope.searchControlValue = getSearchControlValueModel();
        $scope.searchControlValueData = getSearchControlValueDataModel();

        $scope.tempSample;
        $scope.tempItem;
        $scope.tempControlValue;

        $scope.listSampleSelect = {};
        $scope.listItemSelect = {};
        $scope.listControlValueSelect = {};

        $scope.AllSampleSelected = false;
        $scope.ShowSample = true;
        $scope.AllItemSelected = false;
        $scope.ShowItem = true;
        $scope.AllPlantControlValue= false;
        $scope.ShowControlValue = true;

        $scope.listSample;
        $scope.listItem;
        $scope.listControlValue;

        $scope.templistUnit;
        $scope.templistSample;
        $scope.templistItem;

        $scope.AllControlSelected = false;
        $scope.editControl = false;
        $scope.listControlConfigValueSelect = {};
        $scope.createControlDataConfigModel = {}
        $scope.listCreateControlDataConfigModel = [];

        $scope.listUnit = getListUnit();

        $scope.delControlData = function (data) {
            var ids = [];
            ids.push(data.ID);

            var jsonData = {
	                            "ids": ids
	                       };

            var urlName = get_base_url("ControlValue/DeleteQMS_MA_CONTROL_DATA");
            Fact.deleteDataEx(urlName, jsonData, function(response){
                    $scope.loadControlValue();
            });
        }

        $scope.showPDF = function(){
            var obj = new Object();

                var controlId  = $scope.createModel.ID;
                var hasPdfViewer = getAcrobatInfo().acrobat ==="installed";
                var pdfDownload = 0;

                if(false == hasPdfViewer){
                    pdfDownload = 1;
                }else{
                    pdfDownload = 0;
                }

                var urlName = get_base_url("ControlValue/GetTemplateControlValuePDF?bDownload=" + pdfDownload + "&controlId=" +  controlId );
                window.open(urlName);
        }

        $scope.saveData = function () {
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL");
            var valid = true;

            if( typeof $scope.createModel.NAME !== "undefined"
                && $scope.createModel.NAME !== null
            ){

            }else{
                valid = false;
            }


            if(true == valid){
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {

                    if(response.data.result == 1){
                         $scope.loadControlGAS();
                    }

                     Fact.showMessage(response.data.message);
                      $scope.createModel =  response.data.model;
                     $scope.createModel.ID = response.data.dataId;
                     $(".showTab").show();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

        }



        //#region QMS_MA_CONTROL_ROW
         $scope.adjustSamplePostion = function(data, arrow){

            var urlName = get_base_url("ControlValue/SetSamplePosition");
            var jsonData = {"ID" : data.ID, "DIRECTION" : arrow, "CONTROL_ID" : data.CONTROL_ID };
            Fact.loadlistData(urlName, jsonData, function (response){
                $scope.listSample = response.data.message;
                $scope.listControlValue = response.data.listControlData;
            });
        }

        $scope.SelectAllSampleCheck = function () { Fact.SelectAllCheck($scope.listSample, $scope.AllSampleSelected) }

        $scope.saveQMS_MA_CONTROL_ROW = function () {
            //myQMS_MA_CONTROL_ROW
            $scope.createControlRowModel.CONTROL_ID = $scope.createModel.ID;
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL_ROW");
            var valid = true;

            if( typeof $scope.createControlRowModel.SAMPLE !== "undefined"
                && $scope.createControlRowModel.SAMPLE !== null
            ){

            }else{
                valid = false;
            }


            if(true == valid){
                var jsonData = $scope.createControlRowModel;
                Fact.saveDataCallback(urlName, jsonData, function(response){
                    $scope.createControlRowModel = getControlRowModel();
                    $scope.loadControlSample();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

        }

        $scope.saveEditQMS_MA_CONTROL_ROW = function (jsonData) {

            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL_ROW");
            $scope.listSampleSelect = {};
            Fact.saveDataCallback(urlName, jsonData, function (response) {
                $scope.ShowSample = true;
                $scope.loadControlSample();
            });
        }

        $scope.delQMS_MA_CONTROL_ROW = function(){
            var urlName = get_base_url("ControlValue/DeleteQMS_MA_CONTROL_ROW");
            Fact.deleteMultiDataEx(urlName, $scope.listSample, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadControlSample(); });
        }

        $scope.getSampleTemplate = function (mSampleData) {
            if (mSampleData.ID === $scope.listSampleSelect.ID)
            {
                return 'editSample';
            }else{
                return 'displaySample';
            }
        };

        $scope.editSample = function (mSampleData) {
            $scope.ShowSample = false;
            $scope.listSampleSelect = angular.copy(mSampleData);
        };

        $scope.resetSample = function () {
            $scope.ShowSample = true;
            $scope.listSample.forEach(function(entry) {
		    	if($scope.listSampleSelect.ID == entry.ID){
		    		entry.SAMPLE = $scope.listSampleSelect.SAMPLE;
		    	}
			});
            $scope.listSampleSelect = {};
        };

        $scope.loadControlSample = function () {
            var urlName = get_base_url("ControlValue/GetQMS_MA_CONTROL_ROWBySearch");

            if( $scope.createModel.ID > 0){
                $scope.searchSample.CONTROL_ID = $scope.createModel.ID;
                var jsonData = {
	                 "PageIndex": 1,
	                 "PageSize": 1000,
	                 "SortColumn": "DESC",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchSample
	            };

                Fact.loadlistData(urlName, jsonData, function(response){
                    try{
                        $scope.listSample = response.data.message;
                        $scope.listControlValue = response.data.listControlData;
                    }catch(e){

                    }
                });
            }
        }


        //#region  QMS_MA_CONTROL_COLUMN
        $scope.adjustItemPostion = function(data, arrow){

            var urlName = get_base_url("ControlValue/SetItemPosition");
            var jsonData = {"ID" : data.ID, "DIRECTION" : arrow , "CONTROL_ID" : data.CONTROL_ID};
            Fact.loadlistData(urlName, jsonData, function (response){
                $scope.listItem = response.data.message;
                $scope.listControlValue = response.data.listControlData;
            });
        }

        $scope.SelectAllItemCheck = function () { Fact.SelectAllCheck($scope.listItem, $scope.AllItemSelected) }

        $scope.saveQMS_MA_CONTROL_COLUMN = function () {

            $scope.createControlColumnModel.CONTROL_ID = $scope.createModel.ID;
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL_COLUMN");
            var valid = true;

            var jsonData = $scope.createControlColumnModel;

            if( typeof $scope.createControlColumnModel.ITEM !== "undefined"
                && $scope.createControlColumnModel.ITEM !== null
            ){

            }else{
                valid = false;
            }


            if(true == valid){
                $scope.listItemSelect = {};
                jsonData.UNIT_ID = $scope.templistUnit.ID;
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                     $scope.ShowItem = true;
                     $scope.loadControlItem();
                     $scope.templistUnit = {};
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

        }

        $scope.saveEditQMS_MA_CONTROL_COLUMN = function (jsonData) {
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL_COLUMN");
            var valid = true;

            if( typeof jsonData.ITEM !== "undefined"
                && jsonData.ITEM !== null
            ){

            }else{
                valid = false;
            }


            if(true == valid){
                $scope.listItemSelect = {};
                jsonData.UNIT_ID = $scope.templistUnit.ID;
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                     $scope.ShowItem = true;
                     $scope.createControlColumnModel.ITEM = "";
                     $scope.loadControlItem();
                     $scope.templistUnit = {};

                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.delQMS_MA_CONTROL_COLUMN = function(){
            var urlName = get_base_url("ControlValue/DeleteQMS_MA_CONTROL_COLUMN");
            Fact.deleteMultiDataEx(urlName, $scope.listItem, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadControlItem(); });
        }

        $scope.getItemTemplate = function (mItemData) {
            if (mItemData.ID === $scope.listItemSelect.ID) return 'editItem';
                 else return 'displayItem';
        };

        $scope.editItem = function (mItemData) {
            $scope.ShowItem = false;
            $scope.listItemSelect = angular.copy(mItemData);
            $scope.listUnit.forEach(function(entry) {
		    	if($scope.listItemSelect.UNIT_ID == entry.ID){
		    		$scope.templistUnit =  entry;
		    		return false;
		    	}
			});
        };

        $scope.resetItem = function () {
            $scope.ShowItem = true;
            $scope.listItem.forEach(function(entry) {
		    	if($scope.listItemSelect.ID == entry.ID){
		    		entry.ITEM = $scope.listItemSelect.ITEM;
                    entry.UNIT_ID   = $scope.listItemSelect.UNIT_ID;
		    	}
			});
            $scope.listItemSelect = {};
            $scope.templistUnit = {};
        };

        $scope.loadControlItem = function () {
            var urlName = get_base_url("ControlValue/GetQMS_MA_CONTROL_COLUMNBySearch");

            if( $scope.createModel.ID > 0){
                $scope.searchSample.CONTROL_ID = $scope.createModel.ID;
                var jsonData = {
	                 "PageIndex": 1,
	                 "PageSize": 1000,
	                 "SortColumn": "DESC",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchSample
	            };

                Fact.loadlistData(urlName, jsonData, function(response){
                    try{
                        $scope.listItem = response.data.message;
                        $scope.listControlValue = response.data.listControlData;
                    }catch(e){

                    }
                });
            }
        }

        $scope.unitChange = function(itemSelected){
            $scope.templistUnit = itemSelected;
        }


        //#region QMS_MA_CONTROL_DATA
        $scope.getControlValueTemplate = function (mControlValueData) {
            if (mControlValueData.ID === $scope.listControlValueSelect.ID) return 'editControlValue';
                 else return 'displayControlValue';
        };

        $scope.editControlValue = function (mControlValueData) {
            $scope.ShowControlValue = false;
            $scope.listControlValueSelect = angular.copy(mControlValueData);
        };

        $scope.resetControlValue = function () {
            $scope.ShowControlValue = true;
            $scope.listControlValueSelect = {};
        };

        $scope.saveControlDataModel = function () {
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL");
            var jsonData = $scope.createModel;
            Fact.saveData(urlName, jsonData, true);
        }

        $scope.setClass = function(data){
            var type = data.ITEM_TYPE;
            var showData = false;//data.SHOW_ON_TREND_FLAG;
            if(data.CONTROL_DATA_NAME != null ){
                showData = true;
            }

            if(type == 1 || type == 2){ // header column and row
                return "metrix_header";
            }else{
                if(showData == true)
                    return "metrix_data_show";
                else
                    return "metrix_data";
            }
        }

        $scope.loadControlValue = function () {
            var urlName = get_base_url("ControlValue/GetTemplateControlValue");

            if( $scope.createModel.ID > 0){
                var jsonData = {
	                 "controlId": $scope.createModel.ID
	            };

                Fact.loadlistData(urlName, jsonData, function(response){
                    try{
                       // $scope.listItem = response.data.message;
                       $scope.listControlValue = response.data.message;
                    }catch(e){

                    }
                });
            }
        }

        $scope.openControlValue = function(data){
            if(data.ITEM_TYPE == 3){
                $(".control-value-modal-lg").modal('show');
                $scope.createControlDataModel  = angular.copy(data);
                console.log($scope.createControlDataModel);

                   //Sample
                if($scope.createControlDataModel.CONTROL_ROW_ID  > 0){
                    $scope.listSample.forEach(function(entry) {
		    	        if($scope.createControlDataModel.CONTROL_ROW_ID == entry.ID){
                            $scope.templistSample =  entry;
		    	        }
			        });
                }

                //Item
                if($scope.createControlDataModel.CONTROL_COLUMN_ID  > 0){
                    $scope.listItem.forEach(function(entry) {
		    	        if($scope.createControlDataModel.CONTROL_COLUMN_ID == entry.ID){
                            $scope.templistItem =  entry;
		    	        }
			        });
                }
                $scope.loadControlConfigValue()
            }
        }


        $scope.saveQMS_MA_CONTROL_VALUE = function () {
             $(".control-value-modal-lg").modal('hide');

            //myQMS_MA_CONTROL_VALUE
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL_DATA");
            var valid = true;

            if( typeof $scope.templistSample !== "undefined"  && typeof $scope.templistSample.ID !== "undefined" ){
                 $scope.createControlDataModel.CONTROL_ROW_ID = $scope.templistSample.ID;
            }else{
                valid = false;
            }
            if( typeof $scope.templistItem !== "undefined"  && typeof $scope.templistItem.ID !== "undefined" ){
                 $scope.createControlDataModel.CONTROL_COLUMN_ID =  $scope.templistItem.ID;
            }else{
                valid = false;
            }

            if( typeof $scope.createControlDataModel.MIN_FLAG !== "undefined"
                && $scope.createControlDataModel.MIN_FLAG !== null
                && $scope.createControlDataModel.MIN_FLAG >= 0
            ){

            }else{
                valid = false;
            }
            //console.log($scope.createControlDataModel)

            if(true == valid){
                var jsonData = $scope.createControlDataModel;
                Fact.saveDataCallback(urlName, jsonData, function(response){

                    $scope.loadControlValue();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

        }
        $scope.loadControlConfigValue = function () {
            $scope.editControl = false;
            $scope.listControlConfigValueSelect = {};
            $scope.createControlDataConfigModel = {}
            var urlName = get_base_url("ControlValue/getQMS_MA_CONTROL_DATACONFByRowColControlId");
            var jsonData = {
                CONTROL_ROW_ID: $scope.createControlDataModel.CONTROL_ROW_ID,
                CONTROL_COLUMN_ID: $scope.createControlDataModel.CONTROL_COLUMN_ID,
                CONTROL_ID: $scope.createControlDataModel.CONTROL_ID,
            }
            Fact.saveDataCallback(urlName, jsonData, function (response) {
                $scope.listCreateControlDataConfigModel = response.data.message
                $scope.listCreateControlDataConfigModel.forEach(function (entry) {
                    entry.START_DATE = Fact.getDateFromDoubleEx(entry.START_DATE);
                    entry.EXPIRE_DATE = Fact.getDateFromDoubleEx(entry.EXPIRE_DATE);
                    if (entry.MAX_VALUE == 0) {
                        entry.MAX_VALUE = ""
                    }
                    if (entry.MIN_VALUE == 0) {
                        entry.MIN_VALUE = ""
                    }
                });
            });
            $scope.loadControlValue()
        }
        $scope.SelectAllControlCheck = function () { Fact.SelectAllCheck($scope.listCreateControlDataConfigModel, $scope.AllControlSelected) }
        $scope.delQMS_MA_CONTROL_DATACONF = function () {
            var urlName = get_base_url("ControlValue/DeleteQMS_MA_CONTROL_DATACONF");
            Fact.deleteMultiDataEx(urlName, $scope.listCreateControlDataConfigModel, "@Resources.Strings.PleaseSelectDelData", function () { $scope.loadControlConfigValue(); });
        }
        $scope.resetControlConfig = function () {
            $scope.editControl = false;
            $scope.listControlConfigValueSelect = {};
            $scope.createControlDataConfigModel = {}
        };
        $scope.editTempQMS_MA_CONTROL_DATACONF = function (item) {
            $scope.createControlDataConfigModel = {}
            $scope.editControl = true;
            $scope.listControlConfigValueSelect = item;

        }
        $scope.saveEditQMS_MA_CONTROL_DATACONF = function (item) {
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL_DATACONF");
            var valid = true;
            if (typeof $scope.templistSample !== "undefined" && typeof $scope.templistSample.ID !== "undefined") {
                item.CONTROL_ROW_ID = $scope.templistSample.ID;
            } else {
                valid = false;
            }
            if (typeof $scope.templistItem !== "undefined" && typeof $scope.templistItem.ID !== "undefined") {
                item.CONTROL_COLUMN_ID = $scope.templistItem.ID;
            } else {
                valid = false;
            }
            if (item.START_DATE == "" || item.START_DATE == null) {
                valid = false;
            }
            //if (item.EXPIRE_DATE == "" || item.EXPIRE_DATE == null) {
            //    valid = false;
            //}
            if (item.MIN_FLAG > 0 || item.MAX_FLAG > 0) {

                if (typeof item.MIN_FLAG !== "undefined"
                    && item.MIN_FLAG !== null
                    && item.MIN_FLAG > 0) {
                    if (item.MIN_VALUE != ""
                        && item.MIN_VALUE != null) {

                    } else {
                        valid = false;
                    }
                }
                if (typeof item.MAX_FLAG !== "undefined"
                    && item.MAX_FLAG !== null
                    && item.MAX_FLAG > 0) {
                    if (item.MAX_VALUE != ""
                        && item.MAX_VALUE != null) {

                    } else {
                        valid = false;
                    }
                }
            } else {
                valid = false;
            }

            if (true == valid) {
                var jsonData = item;
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                    console.log(response)
                    if (response.data.result == 1) {
                        Fact.showMessage("@Resources.Strings.SaveSuccess");
                        
                        $scope.loadControlConfigValue()
                    } else {
                        Fact.showMessage("@Resources.Strings.SaveFailure");
                    }

                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }
        $scope.saveTempQMS_MA_CONTROL_DATACONF = function () {
            var urlName = get_base_url("ControlValue/CreateQMS_MA_CONTROL_DATACONF");
            var valid = true;
            $scope.createControlDataConfigModel.CONTROL_ID = $scope.createControlDataModel.CONTROL_ID
            if (typeof $scope.templistSample !== "undefined" && typeof $scope.templistSample.ID !== "undefined") {
                $scope.createControlDataConfigModel.CONTROL_ROW_ID = $scope.templistSample.ID;
            } else {
                valid = false;
            }
            if (typeof $scope.templistItem !== "undefined" && typeof $scope.templistItem.ID !== "undefined") {
                $scope.createControlDataConfigModel.CONTROL_COLUMN_ID = $scope.templistItem.ID;
            } else {
                valid = false;
            }
            if ($scope.createControlDataConfigModel.START_DATE == "" || $scope.createControlDataConfigModel.START_DATE == null) {
                valid = false;
            }
            //if ($scope.createControlDataConfigModel.EXPIRE_DATE == "" || $scope.createControlDataConfigModel.EXPIRE_DATE == null) {
            //    valid = false;
            //}
            if ($scope.createControlDataConfigModel.MIN_FLAG > 0 || $scope.createControlDataConfigModel.MAX_FLAG > 0) {

                if (typeof $scope.createControlDataConfigModel.MIN_FLAG !== "undefined"
                    && $scope.createControlDataConfigModel.MIN_FLAG !== null
                    && $scope.createControlDataConfigModel.MIN_FLAG > 0) {
                    if ($scope.createControlDataConfigModel.MIN_VALUE != ""
                        && $scope.createControlDataConfigModel.MIN_VALUE != null) {

                    } else {
                        valid = false;
                    }
                }
                if (typeof $scope.createControlDataConfigModel.MAX_FLAG !== "undefined"
                    && $scope.createControlDataConfigModel.MAX_FLAG !== null
                    && $scope.createControlDataConfigModel.MAX_FLAG > 0) {
                    if ($scope.createControlDataConfigModel.MAX_VALUE != ""
                        && $scope.createControlDataConfigModel.MAX_VALUE != null) {

                    } else {
                        valid = false;
                    }
                }
            } else {
                valid = false;
            }

            if (true == valid) {
                var jsonData = $scope.createControlDataConfigModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                    if (response.data.result == 1) {
                        Fact.showMessage("@Resources.Strings.SaveSuccess");
                        $scope.loadControlConfigValue()
                    } else {
                        Fact.showMessage("@Resources.Strings.SaveFailure");
                    }
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;  $(".showTab").hide();}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); }
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){



            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;

            if( $scope.createModel.ID > 0){
                $(".showTab").show();
            }else{
                $(".showTab").hide();
            }

            $scope.loadControlSample();
            $scope.loadControlItem();
            $scope.loadControlValue();
        }

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('NAME');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listControlGAS; // listdata
        $scope.AllControlGAS; //checkbox

        $scope.showSearch = false;

        //Search
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listControlGAS, $scope.AllControlGAS) }

        $scope.sort = function(e){
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadControlGAS();
        }

        $scope.clearControlGAS = function() {  $scope.mSearch = getSearchModel();  $scope.loadControlGAS(); }

        $scope.showControlGASSearch = function(){  $scope.showSearch = true; }
        $scope.closeControlGASSearch = function() { $scope.showSearch = false; }

        $scope.getControlGASSearch = function()
        {
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadControlGAS();
        }


        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadControlGAS(); }
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadControlGAS(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadControlGAS(); }
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadControlGAS(); }
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadControlGAS(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadControlGAS(); }

        $scope.loadControlGAS = function () {
            Fact.loadDataTable($scope.mSearch, function(response){
                try{
                    $scope.listControlGAS = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;

                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;
			        });
                }catch(e){

                }
                $(".tblResult").show();
            });
        }

        $scope.delControlGAS = function(){
            Fact.deleteMultiData($scope.listControlGAS, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadControlGAS(); });
        }

        //init
        $scope.init = function () {



            Fact.setDataTableUrl(get_base_url("ControlValue/GetQMS_MA_CONTROLBySearch"));
            Fact.setDelelteUrl(get_base_url("ControlValue/DeleteQMS_MA_CONTROL"));
            Fact.setSearchModel( getSearchModel() );

            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;
			});

            Fact.setSortIcon();
            $scope.loadControlGAS();
        }

        $scope.init();

    });

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_CONTROL));
        return lstData;
    }

    function getControlRowModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_CONTROL_ROW));
        return lstData;
    }

    function getControlColumnModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_CONTROL_COLUMN));
        return lstData;
    }

    function getControlDataModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_CONTROL_DATA));
        return lstData;
    }

    function getSearchSampleModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchSample));
        return lstData;
    }

    function getSearchItemModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchItem));
        return lstData;
    }

    function getSearchControlValueModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchControlValue));
        return lstData;
    }

    function getSearchControlValueDataModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchControlValueData));
        return lstData;
    }

    function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit));
        return lstData;
    }

     function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchControlValue));
        return lstData;
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize));
        return lstData;
    }


</script>
 