﻿@{
    var searchRawData = ViewBag.searchRawData as QMSSystem.Model.RawDataSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var createQMS_TR_RAW_DATA = ViewBag.createQMS_TR_RAW_DATA as QMSSystem.Model.CreateQMS_TR_RAW_DATA;

}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class="">

           <div class="page-title">
                <div class="title_left">
                    <h3>@Resources.Strings.ManageData / @Resources.Strings.OffControl / @Resources.Strings.RawDataExport</h3>
                     <div class="clearfix"></div> 
                </div>
           </div>
           <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
           <div class="row"  ng-show="showList">

                <div class="col-md-12 col-sm-12 col-xs-12">

                     <div class="x_panel  tblResult " style="display:none;" >

                          <div class="x_title"> 
                                 <span ng-click="showRawDataSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                 <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                 <span class="btn btn-primary "  my-confirm-click="delRawData()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                              <div class="clearfix"></div>                                    
                          </div>

                                 
                          <div class="form-horizontal form-label-left" ng-show="showSearch">

                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Plant 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempPlantId"
					                            chosen  
					                            ng-options="item.NAME  for item in listPlant" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div> 
                               <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempDateStart" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                     </div>
                               </div>
                               <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                          <input type="text" class="form-control"  ng-model="TempDateEnd" data-autoclose="1"  data-date-format="dd-MM-yyyy"   bs-datepicker > 
                                     </div>
                               </div> 
                               <div class="form-group">     
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <input type="text" ng-model="mSearch.RAW_DATA_DESC"  class="form-control col-md-7 col-xs-12">
                                    </div>                                    
                               </div>                                   
                              
                              
                               <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                         <button type="button" class="btn btn-primary" ng-click="loadRawData()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                         <button type="button" class="btn btn-primary" ng-click="clearRawData()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                         <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                    </div>
                               </div>
                               <div class="ln_solid"></div>

                          </div>


                          <div class="x_conten tblResult " style="display:none;" >

                               <table class="table table-bordered">

                                      <thead>
                                             <tr>
                                                 <th>
                                                      <input type="checkbox" ng-model="AllRawData" ng-change="SelectAllCheck()" >
                                                 </th>
                                                 <th class="sorting_desc" ng-click="sort($event)" sort="PLANT_ID">@Resources.Strings.Plant</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="DATE_START">@Resources.Strings.StartDate</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="DATE_END">@Resources.Strings.EndDate</th>
                                                 @*<th class="sorting" ng-click="sort($event)" sort="FILE_PATH">@Resources.Strings.FilePath</th>*@
                                                 <th class="sorting" ng-click="sort($event)" sort="RAW_DATA_DESC">@Resources.Strings.Description</th>
                                                 <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>                                                    
                                              <tr>
                                       </thead>

                                      <tbody>
                                             <tr ng-repeat="mRawData in listRawData" >
                                                 <td><input type="checkbox" ng-model="mRawData.ITEM_SELECTED" /></td>
                                                 <td>{{mRawData.PLANT_NAME}}</td>
                                                 <td>{{mRawData.DATE_START|showdatetimeformat }}</td>
                                                 <td>{{mRawData.DATE_END|showdatetimeformat }}</td>
                                                 @*<td>{{mRawData.FILE_PATH}}</td>*@
                                                 <td>{{mRawData.RAW_DATA_DESC}}</td>
                                                 <td>
                                                    <i class="fa fa-edit set-pointer"  ng-click="editData(mRawData)"></i>
                                                    <i class="fa fa-download set-pointer"  ng-click="downloadExcel(mRawData)"></i> 
                                                 </td>
                                             </tr>
                                      </tbody>

                               </table>
                     
                          </div>

                          <!-- ทำหน้า -->
                          <div class="row tblResult " style="display:none;" >
                               <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <select
				                                ng-model="TempPageSize"
				                                chosen 
                                                ng-change="loadByPageSize()" 
				                                ng-options="item.Text  for item in listPageSize"
				                                class="col-md-12 col-sm-12 col-xs-12"
				                                name="lst_pagesize" id="lst_pagesize">
				                                <option value=""></option>
			                             </select> 
                                    </div>
                               </div>
                               <div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                                ng-model="TempPageIndex"
				                                chosen 
                                                ng-change="searchByPage()" 
				                                ng-options="item.PageIndex  for item in listPageIndex"  
				                                >
			                             </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                    </div>
                          </div>
                          <!-- ทำหน้า -->

                     </div>

                </div> 

           </div>


            <div class="row" ng-show="showDevice"   >
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">                 
                               <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <span class="btn btn-primary " ng-click="showDeviceData()" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                              </div>
                              <div class="clearfix"></div>                                
                         </div>
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="CreatetempPlantId"
					                                chosen="{inherit_select_classes: true}"  
					                                ng-options="item.NAME  for item in listPlant" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                   </div> 
                                    <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempDateStart" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempDateEnd" data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker required> 
                                        </div>
                                   </div> 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempDateStart" data-time-format="HH:mm" data-length="1" data-minute-step="5" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempDateEnd" data-time-format="HH:mm"  data-length="1" data-minute-step="5" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>
                                   </div>  
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>                                          
                                        <div class="col-md-8 col-sm-8 col-xs-12" style="text-align:right;">
                                             <textarea ng-model="createModel.RAW_DATA_DESC" 
                                                        rows="3" class="form-control" maxlength="150" name="message" >
                                             </textarea>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="x_content" ng-show="createModel.ID">
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
                                   <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                               </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
	                               <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                               </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>

      </div>

</div>

<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        $scope.CreatetempPlantId;
        $scope.CreateTempDateStart = null;
        $scope.CreateTempDateEnd = null;

        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listRawData; // listdata
        $scope.AllRawData; //checkbox


        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }


        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listRawData, $scope.AllRawData) }

       
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadRawData();
        }

        $scope.clearRawData = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.TempDateStart = null; 
               $scope.TempDateEnd = null; 
               $scope.tempPlantId = {};
               $scope.mSearch.RAW_DATA_DESC = null;
               $scope.mSearch.FILE_PATH = null;
               $scope.loadRawData();
        }
         
        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; }
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
            $scope.CreateTempDateStart  = null;
            $scope.CreateTempDateEnd  = null;
            $scope.CreatetempPlantId = {};
              

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.CreatetempPlantId =  entry; 
		    		return false;
		    	} 
			});            
            

            $scope.CreateTempDateStart = Fact.getDateFromDoubleEx($scope.createModel.DATE_START);
            $scope.CreateTempDateEnd = Fact.getDateFromDoubleEx($scope.createModel.DATE_END); 

        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showRawDataSearch = function(){  $scope.showSearch = true; /*$("#searchRawData").modal('show');*/}
        $scope.closeRawDataSearch = function() { $scope.showSearch = false; }
        $scope.getRawDataSearch = function()
        {
            $("#searchRawData").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempPlantId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadRawData();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadRawData(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadRawData(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadRawData(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadRawData(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadRawData(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadRawData(); }

        $scope.loadRawData = function () { 
            if(typeof $scope.tempPlantId !== "undefined")
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            if( $scope.TempDateStart !== null){
                $scope.mSearch.DATE_START = $scope.TempDateStart;
            }
            if( $scope.TempDateEnd !== null){
                $scope.mSearch.DATE_END = $scope.TempDateEnd;
            }
           
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listRawData = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delRawData = function(){
            Fact.deleteMultiData($scope.listRawData, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadRawData(); });
        }

        $scope.downloadExcel = function (data){
            console.log(data);
             
            var urlName = get_base_url("RawData/RawDataExcel");

            var numb1 = data.DATE_START.replace("/Date(", "").replace(")/", "");
	        var dDate1 = new Date(parseFloat(numb1));
            var numb2 = data.DATE_END.replace("/Date(", "").replace(")/", "");
	        var dDate2 = new Date(parseFloat(numb2));
                    
            urlName += "?START_DATE=" +  dDate1.getFullYear() + "/" + (dDate1.getMonth() + 1) + "/" + (dDate1.getDate()) + " " + dDate1.getHours() + ":" + dDate1.getMinutes() + ":" + dDate1.getSeconds() ;
            urlName += "&END_DATE=" +   dDate2.getFullYear() + "/" + (dDate2.getMonth() + 1) + "/" + (dDate2.getDate()) + " " + dDate2.getHours() + ":" + dDate2.getMinutes() + ":" + dDate2.getSeconds() ;

            urlName += "&PLANT_ID=" +  data.PLANT_ID;
            //urlName += "&PRODUCT_ID=" +  data.PRODUCT_ID; 
            urlName += "&EXA_DATA_TYPE=" + 0;
            window.open(urlName, "@Resources.Strings.OffControlcalculate");
                 
         
        }

        $scope.saveData = function () {   
            var urlName = get_base_url("RawData/CreateQMS_TR_RAW_DATA");            
            var valid = true;
             

            if( typeof $scope.CreatetempPlantId !== "undefined"  && typeof $scope.CreatetempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.CreatetempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreateTempDateStart !== "undefined"  && $scope.CreateTempDateStart !== null ){
                $scope.createModel.DATE_START =$scope.CreateTempDateStart;
            }else{
                valid = false;
            }  
            if( typeof $scope.CreateTempDateEnd !== "undefined"  && $scope.CreateTempDateEnd !== null ){
                $scope.createModel.DATE_END =$scope.CreateTempDateEnd;
            }else{
                valid = false;
            }      
 
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                    if(response.data.result == 1){
//                         var url =  get_base_url("RawData/ListRawDataExport");
//                         Fact.loadtoList(url); 
//                         Fact.showMessage(response.data.message); 
//                         $scope.createModel = response.data.model;
//                         $scope.createModel.ID = response.data.dataId;
                       $scope.loadRawData();
                       $scope.showDeviceData();
                    }else{
                        Fact.showMessage(response.data.message); 
                    }
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }   
                        
          
        }   
        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("RawData/GetQMS_TR_RAW_DATABySearch"));
            Fact.setDelelteUrl(get_base_url("RawData/DeleteQMS_TR_RAW_DATA"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadRawData();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchRawData)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_TR_RAW_DATA)); 
        return lstData; 
    }

     
</script>