﻿<footer style="background:#444444;color:white;border-top: 4px solid #98c207;">
  <div class="pull-left">
    <div class="col-md-2">
      <img src="~/Content/images/qms/logo-footer.png" style="width:100%;">

    </div>
    <div class="col-md-10" style="font-size:small;">
        @Resources.Strings.CompanyFooter
       <br>
        @Resources.Strings.CompanyFooterAddr
    </div>

  </div>
  <div class="pull-right">
        @Resources.Strings.CopyrightFooter
  </div>
  <div class="clearfix"></div>
</footer>