﻿<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>@Resources.Strings.QMSSystem</title>

<link href="~/Content/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
<meta name="viewport" content="width=device-width, initial-scale=1">


@*@Styles.Render("~/Content/themes")
    @Styles.Render("~/Content/themes2")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/datepicker")*@

<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>

<link href="/Content/bootstrap.css" rel="stylesheet">
<link href="/Content/angular-strap.css" rel="stylesheet">
<link href="/Content/font-awesome/css/font-awesome.css" rel="stylesheet">
<link href="/Content/bootstrap.css" rel="stylesheet">
<link href="/Content/angular-strap.css" rel="stylesheet">
<link href="/Content/Site.css" rel="stylesheet">
<link href="/Content/chosen.css" rel="stylesheet">


@{
    var url = Request.Url;
    var baseurl = Request.Url.GetLeftPart(UriPartial.Authority) + VirtualPathUtility.ToAbsolute("~/");//url.GetLeftPart(UriPartial.Authority);
    var action = this.Url.RouteUrl(this.ViewContext.RouteData.Values["action"]);
    var fullRoute = this.Url.RouteUrl(this.ViewContext.RouteData.Values);
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    var urlEx = Request.Url.GetLeftPart(UriPartial.Authority);
}
<style>
#myBtn { display: none; position: fixed; bottom: 30px; right: 30px; z-index: 99; font-size: 18px; border: none; outline: none; color: white; cursor: pointer; padding: 15px; border-radius: 30px; background-image: url("../../Content/images/arrow_top.png"); width: 60px; height: 60px; }

    .G1 {
        border: none;
        color: white;
        /*  padding-left: 20%;
        padding-right: 20%;
        padding-top: 12%;
        padding-bottom: 12%;*/
        width: 80%;
        height: 129px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        margin-top: 2%;
        margin-bottom: 2%;
        padding-top: 10%;
    }
    .line {
        border-left: 2px solid #f7f7f7;
        height: 65px;
        position: absolute;
        left: 101%;
        margin-left: -3px;
        top: 0%;
    }
    .line2 {
        border-left: 2px solid #f7f7f7;
        height: 67px;
        position: absolute;
        right: 4%;
        margin-left: -3px;
        top: 10%;
    }
    .G2 {
        border: none;
        color: white;
        padding-left: 3%;
        padding-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 100%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    .G3 {
        border: none;
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
    .textAlignVer {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        transform: rotate(-90deg);
        position: relative;
        margin-top: 900%;
    }
    #myBtn:hover {
        background-color: #555;
    }

    .nav-pills > li > a {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 8px 12px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 12px;
    }

        .nav-pills > li > a:hover {
            background-color: #5a95e1;
            color: white;
            cursor: grab/pointer;
        }

        .nav-pills > li > a:focus {
            background-color: #337ab7;
        }

    .nav-tabs > li.active > a {
        background: #337ab7;
        color: #fff;
    }

        .nav-tabs > li.active > a:focus {
            background: #337ab7;
            color: #fff;
        }
</style>
<script type="text/javascript">

    function get_base_url(url) {
        url = url || "";
        return '@baseurl' + url;
    }

    function get_request_url() {
        return '@url';
    }

    function get_base_urlEx(url) {
        return '@urlEx' + '/' + url;
    }

    function getActionName() {
        return '@actionName';
    }

    function getControllerName() {
        return '@controllerName';
    }


</script>


<base href="@baseurl" />
