﻿<!DOCTYPE html>
<html>
<head>
    @{
        var control = HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();

    }
    @Html.Partial("~/Views/Shared/_Head.cshtml")
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")*@

    <script src="/Scripts/jquery.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/angular.js"></script>
    <script src="/Scripts/chosen.jquery.js"></script>
    <script src="/Scripts/angular-animate.js"></script>
    <script src="/Scripts/angular-sanitize.js"></script>
    <script src="/Scripts/angular-strap.js"></script>
    <script src="/Scripts/angular-strap.tpl.js"></script>
    <script src="/Scripts/angular.app.utility.js"></script>


</head> 
<body class="nav-md">
    <button onclick="topFunction()" id="myBtn" title="Go to top"></button>
    <div id="overlay" style="display:none;"><img width="100px" height="100px" src="~/Content/images/loading.gif" class="overlay" /></div>
    <div id="mastercontainer" class="container fixWeb body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                @Html.Partial("~/Views/Shared/_SideBar.cshtml")
            </div>
            <!-- top navigation -->
            <div class="top_nav">
                @Html.Partial("~/Views/Shared/_TopNav.cshtml")
            </div>
            <!-- /top navigation -->
            <!-- page content -->


            <div class="right_col" role="main">
                <div class="breadcrumbnav">
                    @Html.MvcSiteMap().SiteMapPath()
                </div>
                @RenderSection("sourcescript", false)
                @RenderBody()
            </div>
            <!-- /page content -->
            <!-- footer content -->
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
            <!-- /footer content -->
        </div>
    </div>

    @Html.Partial("~/Views/Shared/_SharedDialog.cshtml")

    @*@Scripts.Render("~/bundles/datepicker")
        @Scripts.Render("~/bundles/chart")
        @Scripts.Render("~/bundles/uploadfile")
        @Scripts.Render("~/bundles/custome")*@

    <script src="/Scripts/jquery-ui-1.12.1.js"></script>
    <script src="/Scripts/moment.js"></script>

    <script src="/Scripts/Chart.js"></script>
    <script src="/Scripts/angular-chart.js"></script>
    <script src="/Scripts/chartjs-plugin-datalabels.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.5.0"></script>*@

    <script src="/Scripts/ng-file-upload-shim.js"></script>
    <script src="/Scripts/ng-file-upload.js"></script>

    <script src="/Scripts/site.js"></script>


    <script type="text/javascript">


        //        $SIDEBAR_MENU.find('a').filter(function () {
        //            return this.href == CURRENT_URL;
        //        }).parent('li').addClass('current-page').parents('ul').slideDown(function () {
        //            setContentHeight();
        //        }).parent().addClass('active');


        $(document).ready(function () {

            window.chartColors = {
                red: 'rgb(255, 99, 132)',
                orange: 'rgb(255, 159, 64)',
                yellow: 'rgb(255, 205, 86)',
                green: 'rgb(110, 175, 10)', //green: 'rgb(75, 192, 192)',
                blue: 'rgb(6, 100, 199)',// blue: 'rgb(54, 162, 235)',
                purple: 'rgb(153, 102, 255)',
                grey: 'rgb(231,233,237)'
            };

            window.randomScalingFactor = function () {
                return (Math.random() > 0.5 ? 1.0 : -1.0) * Math.round(Math.random() * 100);
            }

        });
    </script>
    <script>
        //Get the button
        var mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>
 
</html>
