﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Resources.Strings.QMSSystem</title>
    @Scripts.Render("~/bundles/jquery")
</head>
@Styles.Render("~/Content/themes")
@Styles.Render("~/Content/themes2")
@Styles.Render("~/Content/loginlayout")
<body style="background: linear-gradient(#afbbcb, #f7f7f7);">
    @RenderBody()
</body>
</html>
