﻿<!-- myWaitModal -->
<div class="modal " id="myWaitModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">                        
                <h4 class="modal-title" id="myModalLabel">@Resources.Strings.PleaseWaitFor</h4>
            </div>
            <div class="modal-body">                        
                <div class="row col-lg-12">
                    <p>@Resources.Strings.WaitDialog<br/></p>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.myWaitModal-dialog -->


<div class="modal " id="myErrorModal" tabindex="-1" role="dialog" aria-labelledby="myErrorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Strings.Error</h4>
            </div>
            <div class="modal-body">                        
                <div class="row col-lg-12">
                    <p id="error_message"><br/></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  class="btn btn-primary " data-dismiss="modal">@Resources.Strings.Close</button>                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal " id="myMessageModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myMessageModalLabel">@Resources.Strings.Infomation</h4>
            </div>
            <div class="modal-body">                        
                <div class="row col-lg-12">
                    <p id="show_message"><br/></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseMsg"  class="btn btn-primary btnCloseMsg" data-dismiss="modal">@Resources.Strings.Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal " id="myRelaodMessageModal" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"  >@Resources.Strings.Infomation</h4>
            </div>
            <div class="modal-body">                        
                <div class="row col-lg-12">
                    <p id="show_reload_message"><br/></p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button"  onclick="location.reload();" class="btn btn-primary btnCloseMsg" data-dismiss="modal">@Resources.Strings.Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<div  class="modal" tabindex="-1" role="dialog" aria-hidden="true" id="dialog-confirm" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myMessageModalLabel">@Resources.Strings.Confirmation</h4>
            </div>
            <div class="modal-body">
                <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>@Resources.Strings.DoYouWantToDelete</p>
            </div>
            <div class="modal-footer">
               <button type="button" id="btnYes" class="btn btn-primary" >@Resources.Strings.Yes</button>
               <button type="button" id="btnNo" class="btn btn-primary" data-dismiss="modal">@Resources.Strings.NoCancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div> 