﻿ @using QMSSystem.Model;
 @using QMSsystem.Models.Privilege;
 

 <div class="left_col scroll-view">
    <div class="navbar nav_title" style="border: 0;">
        <a href="~/Home/Index/" class="site_title"<span>@Resources.Strings.PTTQMS</span></a>
    </div>
     
    <!-- menu profile quick info -->
    <div class="profile">
        <div class="profile_pic">
            <img src=@ViewBag.ImagePath  class="img-circle profile_img"> 
        </div>
        <div class="profile_info">
            <span>@Resources.Strings.Welcome</span>
            <h2>@ViewBag.UserLoginName</h2>
        </div>
        <div class="profile_desc">
            <h3>@ViewBag.DeptName</h3>
        </div>
    </div>

    <div class="clearfix"></div>
    <!-- /menu profile quick info -->

    <br />

    <!-- sidebar menu -->
    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section"> 
          <ul class="nav side-menu">
              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_Home, DataAccessEnum.Authen)
                  )
              {
                  <li>
                      <a href="~/Home/Index" class="Index"><i class="fa fa-home"></i> @Resources.Strings.HOME </a>
                  </li>
              }

              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_Dashboard, DataAccessEnum.Authen)
                  )
              {
                  <li>
                      <a href="~/Dashboard/Dashboard" class="Dashboard"><i class="fa fa-pie-chart"></i>Product Quality Dashboard</a>
                  </li>
              }
              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_OffControl, DataAccessEnum.Authen)
                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_OffSpec, DataAccessEnum.Authen)
                  )
              {
                  <li>
                      <a><i class="fa fa-bar-chart"></i> @Resources.Strings.OffControlSpec <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_OffControl, DataAccessEnum.Authen))
                          {
                              <li><a href="~/OffControl/DashboardControl" class="DashboardControl"> @Resources.Strings.OffControlReport</a></li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_OffSpec, DataAccessEnum.Authen))
                          {
                              <li><a href="~/OffSpec/DashboardSpec" class="DashboardSpec"> @Resources.Strings.OffSpecReport</a></li>
                          }
                      </ul>
                  </li>
              }
              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHighlight, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendGAS, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendUtility, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendProduct, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHotOilFlashPoint, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHotOilPhysical, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgInPL, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgOutletMRU, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendSulfurInGasWeekly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendTwoHundredThousandPond, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgStab, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendAcidOffGas, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddObservePondsAndOilyWaters, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendEmission, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddObservePonds, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddOilyWaters, DataAccessEnum.Authen)
              )
              {
                  <li>
                      <a><i class="fa fa-line-chart"></i> @Resources.Strings.TrendData <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHighlight, DataAccessEnum.Authen))
                          {
                              <li><a href="~/TrendData/TrendHighlight" class="TrendHighlight"> @Resources.Strings.TrendHighlight</a></li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendGAS, DataAccessEnum.Authen))
                          {
                              <li><a href="~/TrendData/TrendGas" class="TrendGas"> @Resources.Strings.TrendGAS</a></li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendUtility, DataAccessEnum.Authen))
                          {
                              <li><a href="~/TrendData/TrendUtility" class="TrendUtility"> @Resources.Strings.TrendUtility</a></li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendProduct, DataAccessEnum.Authen))
                          {
                              <li><a href="~/TrendData/TrendProduct" class="TrendProduct"> @Resources.Strings.TrendProduct</a></li>
                          }

                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendEmission, DataAccessEnum.Authen))
                          {
                              <li><a href="~/TrendData/TrendEmission" class="TrendEmission"> @Resources.Strings.TrendEmission</a></li>
                          }
                          <li>
                              <a>@Resources.Strings.TrendWasteWater<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendWasteWater, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendWasteWater" class="TrendWasteWater">@Resources.Strings.WatseWaters</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddObservePonds, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendObservePonds" class="TrendObservePonds">@Resources.Strings.ObservePonds</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrenddOilyWaters, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendOilyWaters" class="TrendOilyWaters">@Resources.Strings.OilyWaters</a>
                                      </li>
                                  }
                              </ul>
                          </li>
                          <li>
                              <a>@Resources.Strings.TrendOther<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHotOilFlashPoint, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendHotOilFlashPoint" class="TrendHotOilFlashPoint">@Resources.Strings.HotOil</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendTwoHundredThousandPond, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendTwoHundredThousandPond" class="TrendTwoHundredThousandPond">@Resources.Strings.TwoHundredThousandPond</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgInPLMonthly, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendHgInPLMonthly" class="TrendHgInPLMonthly">@Resources.Strings.HgInOutMRU</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendHgStab, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendHgStab" class="TrendHgStab">@Resources.Strings.Hg & RVP Stab</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendSulfurInGasMonthly, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendSulfurInGasMonthly" class="TrendSulfurInGasMonthly">@Resources.Strings.SulfurInGas</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendAcidOffGas, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/TrendAcidOffGas" class="TrendAcidOffGas">@Resources.Strings.Acidoffgas</a>
                                      </li>
                                  }
                              </ul>
                          </li>
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_ProductCSC, DataAccessEnum.Authen))
                          {
                              <li><a href="~/TrendData/ProductQualityToCSC" class="ProductQualityToCSC"> @Resources.Strings.ProductQualityToCSC</a></li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.D_TrendLabControlChart, DataAccessEnum.Authen))
                          {
                              <li><a href="~/TrendData/LabControlChart" class="LabControlChart"> @Resources.Strings.LabControlChart</a></li>
                          }
                      </ul>
                  </li>
              }
              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LabControlChart, DataAccessEnum.Authen))
              {
                  <li>
                      <a href="~/InternalQualityControl/IQCControlChart" class="IQCControlChart"><i class="fa fa-yelp"></i>@Resources.Strings.IQCControlChart</a>
                  </li>
              }

              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_RawDataExport, DataAccessEnum.Authen)
                   || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_OffControlCal, DataAccessEnum.Authen)
                   || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_OffSpecCal, DataAccessEnum.Authen)
                   || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TurnAround, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_DownTime, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_ChangeGrade, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_CrossVolume, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_Abnormal, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_ReduceFeed, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_Exception, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateGas, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateUtility, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateEmission, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateCOA, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateClarifiedSystem, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateWasteWater, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHotOilFlashPoint, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHotOilPhysical, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgInPLMonthly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateSulfurInGasMonthly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgInPL, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgOutletMRU, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateSulfurInGasWeekly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateTwoHundredThousandPond, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateObservePonds, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateOilyWaters, DataAccessEnum.Authen)
                  )
              {
                  <li>
                      <a><i class="fa fa-pencil"></i> @Resources.Strings.ManageData <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li>
                              <a>@Resources.Strings.OffControl<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_RawDataExport, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/RawData/ListRawDataExport/" class="ListRawDataExport CreateRawDataExport">@Resources.Strings.RawDataExport</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_OffControlCal, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/OffControl/ListManageOffControl/" class="ListManageOffControl CreateManageOffControl">@Resources.Strings.OffControlcalculate</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_OffSpecCal, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/OffSpec/ListManageOffSpec/" class="ListManageOffSpec CreateManageOffSpec">@Resources.Strings.OffSpeccalculate</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TurnAround, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TurnAround/ListManageTurnAround/" class="ListManageTurnAround CreateManageTurnAround">@Resources.Strings.TurnAround</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_DownTime, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Downtime/ListManageDowntime/" class="ListManageDowntime CreateManageDowntime"> @Resources.Strings.Downtime</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_ChangeGrade, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ChangeGrade/ListManageChangeGrade/" class="ListManageChangeGrade CreateManageChangeGrade">@Resources.Strings.ChangeGrade</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_CrossVolume, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/CrossVolume/ListManageCrossVolume/" class="ListManageCrossVolume CreateManageCrossVolume">@Resources.Strings.CrossVolume</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_ReduceFeed, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ReduceFeed/ListManageReduceFeed/" class="ListManageReduceFeed CreateManageReduceFeed">@Resources.Strings.ReduceFeed</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_Abnormal, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Abnormal/ListManageAbnormal/" class="ListManageAbnormal CreateManageAbnormal">@Resources.Strings.Abnormal</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_Exception, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Exception/ListManageException/" class="ListManageException CreateManageException">@Resources.Strings.ExceptionCase</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_DataLake, DataAccessEnum.Authen))
                                  {
                                      <li>
                                          <a>@Resources.Strings.DataLake<span class="fa fa-chevron-down"></span></a>
                                          <ul class="nav child_menu">
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageLoadDataLake/" class="ManageLoadDataLake">@Resources.Strings.LoadDataLake</a>
                                              </li>
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageLoadEventRawDataToDB/" class="ManageLoadEventRawDataToDB">@Resources.Strings.LoadEventRawDataToDB</a>
                                              </li>
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageLoadQmsRpOffControlToDataLake/" class="ManageLoadQmsRpOffControlToDataLake">@Resources.Strings.LoadQmsRpOffControlToDataLake</a>
                                              </li>
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageLoadQmsRpOffControlSummaryToDataLake/" class="ManageLoadQmsRpOffControlSummaryToDataLake">@Resources.Strings.LoadQmsRpOffControlSummaryToDataLake</a>
                                              </li>
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageLoadQmsRpOffControlStampToDataLake/" class="ManageLoadQmsRpOffControlStampToDataLake">@Resources.Strings.LoadQmsRpOffControlStampToDataLake</a>
                                              </li>
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageLoadAbnormalToDB/" class="ManageLoadAbnormalToDB">@Resources.Strings.LoadAbnormalToDB</a>
                                              </li>
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageLoadEventCalToDB/" class="ManageLoadEventCalToDB">@Resources.Strings.LoadEventCalToDB</a>
                                              </li>
                                              <li class="sub_menu">
                                                  <a href="~/OffControl/ManageCheckTotalEXQProduct/" class="ManageCheckTotalEXQProduct">@Resources.Strings.CheckTotalEXQProduct</a>
                                              </li>
                                          </ul>
                                      </li>
                                  }
                                  @*<li>
                                <a>@Resources.Strings.DataLake<span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LoadDataLake, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageLoadDataLake/" class="ManageLoadDataLake">@Resources.Strings.LoadDataLake</a>
                                        </li>
                                    }
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LoadEventRawDataToDB, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageLoadEventRawDataToDB/" class="ManageLoadEventRawDataToDB">@Resources.Strings.LoadEventRawDataToDB</a>
                                        </li>
                                    }
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LoadQmsRpOffControlToDataLake, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageLoadQmsRpOffControlToDataLake/" class="ManageLoadQmsRpOffControlToDataLake">@Resources.Strings.LoadQmsRpOffControlToDataLake</a>
                                        </li>
                                    }
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LoadQmsRpOffControlSummaryToDataLake, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageLoadQmsRpOffControlSummaryToDataLake/" class="ManageLoadQmsRpOffControlSummaryToDataLake">@Resources.Strings.LoadQmsRpOffControlSummaryToDataLake</a>
                                        </li>
                                    }
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LoadQmsRpOffControlStampToDataLake, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageLoadQmsRpOffControlStampToDataLake/" class="ManageLoadQmsRpOffControlStampToDataLake">@Resources.Strings.LoadQmsRpOffControlStampToDataLake</a>
                                        </li>
                                    }
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LoadAbnormalToDB, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageLoadAbnormalToDB/" class="ManageLoadAbnormalToDB">@Resources.Strings.LoadAbnormalToDB</a>
                                        </li>
                                    }
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_LoadEventCalToDB, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageLoadEventCalToDB/" class="ManageLoadEventCalToDB">@Resources.Strings.LoadEventCalToDB</a>
                                        </li>
                                    }
                                    @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_CheckTotalEXQProduct, DataAccessEnum.Authen))
                                    {
                                        <li class="sub_menu">
                                            <a href="~/TrendData/ManageCheckTotalEXQProduct/" class="ManageCheckTotalEXQProduct">@Resources.Strings.CheckTotalEXQProduct</a>
                                        </li>
                                    }
                                </ul>
                            </li>*@
                              </ul>
                          </li>
                          <li>
                              <a>@Resources.Strings.TrendData<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateGas, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/ListManageTrendGas/" class="ListManageTrendGas CreateManageTrendGas">@Resources.Strings.TemplateGASData</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateUtility, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/ListManageTrendUtility/" class="ListManageTrendUtility CreateManageTrendUtility">@Resources.Strings.TemplateUtilityData</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateCOA, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/ListManageTrendCOA/" class="ListManageTrendCOA EditTrendCOA CreateManageTrendCOA">@Resources.Strings.TemplateCOA</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateCOA, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/ManageLIMS/" class="ManageLIMS ">@Resources.Strings.ManageLIMS</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateCSCProduct, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/ManageCSCProduct/" class="ManageCSCProduct ">@Resources.Strings.LoadCSCProduct</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateCOAToDataLake, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/ManageCOAToDataLake/" class="ManageCOAToDataLake ">@Resources.Strings.LoadCOAToDataLake</a>
                                      </li>
                                  }

                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateEmission, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/TrendData/ListManageTrendEmission" class="ListManageTrendEmission"> @Resources.Strings.TemplateEmission</a>
                                      </li>
                                  }
                                  <li>
                                      <a>@Resources.Strings.TemplateWasteWater<span class="fa fa-chevron-down"></span></a>
                                      <ul class="nav child_menu">
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateWasteWater, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/TrendData/ListManageTrendWasteWater/" class="ListManageTrendWasteWater CreateManageTrendWasteWater">@Resources.Strings.WatseWaters</a>
                                              </li>
                                          }
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateObservePonds, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/TrendData/ListManageTrendObservePonds/" class="ListManageTrendObservePonds CreateManageTrendObservePonds">@Resources.Strings.ObservePonds</a>
                                              </li>
                                          }
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateOilyWaters, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/TrendData/ListManageTrendOilyWaters/" class="ListManageTrendOilyWaters CreateManageTrendOilyWaters">@Resources.Strings.OilyWaters</a>
                                              </li>
                                          }
                                      </ul>
                                  </li>
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateClarifiedSystem, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHotOilFlashPoint, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHotOilPhysical, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgInPLMonthly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgInPL, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgOutletMRU, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateSulfurInGasMonthly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateSulfurInGasWeekly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateTwoHundredThousandPond, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgStab, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateAcidOffGas, DataAccessEnum.Authen)
                                      )
                                  {
                                      <li>
                                          <a>@Resources.Strings.TemplateOther<span class="fa fa-chevron-down"></span></a>
                                          <ul class="nav child_menu">
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHotOilFlashPoint, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendHotOilFlashPoint/" class="ListManageTrendHotOilFlashPoint CreateManageTrendHotOilFlashPoint">@Resources.Strings.HotOilFlashPoint</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHotOilPhysical, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendHotOilPhysical/" class="ListManageTrendHotOilPhysical CreateManageTrendHotOilPhysical">@Resources.Strings.HotOilPhysicalImpurity</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateClarifiedSystem, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendClarifiedSystem/" class="ListManageTrendClarifiedSystem CreateManageTrendClarifiedSystem">@Resources.Strings.ClarifiedSystem</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateTwoHundredThousandPond, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendTwoHundredThousandPond/" class="ListManageTrendTwoHundredThousandPond CreateManageTrendTwoHundredThousandPond">@Resources.Strings.TwoHundredThousandPond</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgInPLMonthly, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendHgInPLMonthly/" class="ListManageTrendHgInPLMonthly CreateManageTrendHgInPLMonthly">@Resources.Strings.HgInOutMRU</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateHgStab, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendHgStab/" class="ListManageTrendHgStab CreateManageTrendHgStab">@Resources.Strings.Hg & RVP Stab</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateSulfurInGasMonthly, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendSulfurInGasMonthly/" class="ListManageTrendSulfurInGasMonthly CreateManageTrendSulfurInGasMonthly">@Resources.Strings.SulfurInGas</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_TemplateAcidOffGas, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/TrendData/ListManageTrendAcidOffGas/" class="ListManageTrendAcidOffGas CreateManageTrendAcidOffGas">@Resources.Strings.Acidoffgas</a>
                                                  </li>
                                              }
                                          </ul>
                                      </li>
                                  }
                              </ul>
                          </li>
                      </ul>
                  </li>
              }

              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_OffControlSum, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.R_OffSpecSum, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.R_CorrectData, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.R_Shift, DataAccessEnum.Authen)
                 || UserIdentity.IsCanAccess(PrivilegeModeEnum.R_TrendGas, DataAccessEnum.Authen)
                 || UserIdentity.IsCanAccess(PrivilegeModeEnum.R_TrendUtitliy, DataAccessEnum.Authen)
                 || UserIdentity.IsCanAccess(PrivilegeModeEnum.R_TrendProduct, DataAccessEnum.Authen)
                 )
              {
                  <li>
                      <a><i class="fa fa-desktop"></i> @Resources.Strings.Report <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li>
                              <a>@Resources.Strings.OffControl<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_OffControlSum, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Report/ListOffControlSummary" class="ListOffControlSummary CreateOffControlSummary GraphOffControlSummary">@Resources.Strings.OffControlSummary</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_OffSpecSum, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Report/ListOffSpecSummary" class="ListOffSpecSummary CreateOffSpecSummary GraphOffSpecSummary">@Resources.Strings.OffSpecSummary</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_CorrectData, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Report/OffControlCorrectData" class="OffControlCorrectData ShowOffControlCorrectData">@Resources.Strings.OffControlCorrectData</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_Shift, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Report/OffControlShiftAnalysis" class="OffControlShiftAnalysis ShowOffControlShiftAnalysis">@Resources.Strings.OffControlShiftAnalysis</a>
                                      </li>

                                  }
                              </ul>
                          </li>
                          <li>
                              <a>@Resources.Strings.TrendData<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_TrendGas, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Report/ListTrendGAS" class="ListTrendGAS CreateTrendGAS">@Resources.Strings.TrendGAS</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_TrendUtitliy, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Report/ListTrendUtility" class="ListTrendUtility CreateTrendUtility">@Resources.Strings.TrendUtility</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.R_TrendProduct, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Report/ListTrendProduct" class="ListTrendProduct CreateTrendProduct">@Resources.Strings.TrendProduct</a>
                                      </li>
                                  }
                              </ul>
                          </li>
                      </ul>
                  </li>
              }
              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_PlantAndProduct, DataAccessEnum.Authen)
                   || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ReduceFeed, DataAccessEnum.Authen)
                   || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_DownTime, DataAccessEnum.Authen)
                   || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_CorrectData, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_RootCause, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_KPI, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_IntervalSampling, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_SigmaLevel, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_Shift, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlGas, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_SpecGas, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlUtility, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlProdcut, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateGas, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateUtility, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_Email, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_Unit, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlEmission, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlClarifiedSystem, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateClarifiedSystem, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlWatseWater, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateWatseWater, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHotOilFlashPoint, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHotOilFlashPoint, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHotOilPhysical, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHotOilPhysical, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlSulfurInGasMonthly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateSulfurInGasMonthly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgInPLMonthly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgInPLMonthly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgInPL, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgInPL, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgOutletMRU, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgOutletMRU, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlSulfurInGasWeekly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateSulfurInGasWeekly, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlTwoHundredThousandPond, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateTwoHundredThousandPond, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgStab, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgStab, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlAcidOffGas, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateAcidOffGas, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlObservePonds, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateObservePonds, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlOilyWaters, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateOilyWaters, DataAccessEnum.Authen)
                  )
              {
                  <li>
                      <a><i class="fa fa-sitemap"></i> @Resources.Strings.MasterData <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li>
                              <a>@Resources.Strings.OffControl<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_PlantAndProduct, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/PlantProductMapping/ListPlantProduct" class="ListPlantProduct CreatePlantProduct ">@Resources.Strings.PlantAndProductMapping</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ReduceFeed, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ReduceFeed/ListMasterReduceFeed" class="ListMasterReduceFeed CreateMasterReduceFeed ">@Resources.Strings.ReduceFeed</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_DownTime, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Downtime/ListMasterDowntime" class="ListMasterDowntime CreateMasterDowntime ">@Resources.Strings.Downtime</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_CorrectData, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/CorrectData/ListMasterCorrect" class="ListMasterCorrect CreateMasterCorrect">@Resources.Strings.CorrectData</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_KPI, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/KPI/ListMasterKPI" class="ListMasterKPI CreateMasterKPI ">@Resources.Strings.KPI</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_IntervalSampling, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/IntervalSampling/ListMasterIntervalSampling" class="ListMasterIntervalSampling CreateMasterIntervalSampling">Sampling Interval </a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_SigmaLevel, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/SigmaLevel/ListMasterSigmaLevel" class="ListMasterSigmaLevel">@Resources.Strings.SigmaLevel</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_Shift, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Shift/ListMasterShift" class="ListMasterShift">@Resources.Strings.OperationShift</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlGas, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ControlValue/ListMasterControlGas" class="ListMasterControlGas CreateMasterControlGAS ">@Resources.Strings.ControlValueofGAS</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_SpecGas, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/SpecValue/ListMasterSpecGas" class="ListMasterSpecGas CreateMasterSpecGas "> @Resources.Strings.SpecValue</a>
                                      </li>
                                  }
                              </ul>
                          </li>
                          <li>
                              <a>@Resources.Strings.TrendData<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlUtility, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ControlValue/ListMasterControlUtility" class="ListMasterControlUtility CreateMasterControlUtility">@Resources.Strings.ControlValueofUtility</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlProdcut, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ControlValue/ListMasterControlProduct" class="ListMasterControlProduct CreateMasterControlProduct">@Resources.Strings.ControlValueofProduct</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlEmission, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ControlValue/ListMasterControlEmission" class="ListMasterControlEmission CreateMasterControlEmission">@Resources.Strings.ControlValueofEmission</a>
                                      </li>
                                  }
                                  <li>
                                      <a>@Resources.Strings.ControlWasteWater<span class="fa fa-chevron-down"></span></a>
                                      <ul class="nav child_menu">
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlWatseWater, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/ControlValue/ListMasterControlWatseWater" class="ListMasterControlWatseWater CreateMasterControlWatseWater">@Resources.Strings.WatseWaters</a>
                                              </li>
                                          }

                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlObservePonds, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/ControlValue/ListMasterControlObservePonds" class="ListMasterControlObservePonds CreateMasterControlObservePonds">@Resources.Strings.ObservePonds</a>
                                              </li>
                                          }
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlOilyWaters, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/ControlValue/ListMasterControlOilyWaters" class="ListMasterControlOilyWaters CreateMasterControlOilyWaters">@Resources.Strings.OilyWaters</a>
                                              </li>
                                          }
                                      </ul>
                                  </li>

                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlClarifiedSystem, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHotOilFlashPoint, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHotOilFlashPoint, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgInPLMonthly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlSulfurInGasMonthly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgInPL, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgOutletMRU, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlSulfurInGasWeekly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlTwoHundredThousandPond, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgStab, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlAcidOffGas, DataAccessEnum.Authen)
                                      )
                                  {
                                      <li>
                                          <a>@Resources.Strings.ControlOther<span class="fa fa-chevron-down"></span></a>
                                          <ul class="nav child_menu">
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHotOilFlashPoint, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlHotOilFlashPoint" class="ListMasterControlHotOilFlashPoint CreateMasterControlHotOilFlashPoint">@Resources.Strings.HotOilFlashPoint</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHotOilPhysical, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlHotOilPhysical" class="ListMasterControlHotOilPhysical CreateMasterControlHotOilPhysical">@Resources.Strings.HotOilPhysicalImpurity</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlClarifiedSystem, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlClarifiedSystem" class="ListMasterControlClarifiedSystem CreateMasterControlClarifiedSystem">@Resources.Strings.ControlValueofClarifiedSystem</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlTwoHundredThousandPond, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlTwoHundredThousandPond" class="ListMasterControlTwoHundredThousandPond CreateMasterControlTwoHundredThousandPond">@Resources.Strings.TwoHundredThousandPond</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgInPLMonthly, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlHgInPLMonthly" class="ListMasterControlHgInPLMonthly CreateMasterControlHgInPLMonthly">@Resources.Strings.HgInOutMRU</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlHgStab, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlHgStab" class="ListMasterControlHgStab CreateMasterControlHgStab">@Resources.Strings.Hg & RVP Stab</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlSulfurInGasMonthly, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlSulfurInGasMonthly" class="ListMasterControlSulfurInGasMonthly CreateMasterControlSulfurInGasMonthly">@Resources.Strings.SulfurInGas</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ControlAcidOffGas, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/ControlValue/ListMasterControlAcidOffGas" class="ListMasterControlAcidOffGas CreateMasterControlAcidOffGas">@Resources.Strings.Acidoffgas</a>
                                                  </li>
                                              }
                                          </ul>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateGas, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Template/ListMasterTemplateGAS" class="ListMasterTemplateGAS CreateMasterTemplateGAS">@Resources.Strings.TemplateGAS</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateUtility, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Template/ListMasterTemplateUtility" class="ListMasterTemplateUtility CreateMasterTemplateUtility">@Resources.Strings.TemplateUtility</a>
                                      </li>
                                  }

                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateEmission, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Template/ListMasterTemplateEmission" class="ListMasterTemplateEmission CreateMasterTemplateEmission">@Resources.Strings.TemplateEmission</a>
                                      </li>
                                  }
                                  <li>
                                      <a>@Resources.Strings.TemplateWasteWater<span class="fa fa-chevron-down"></span></a>
                                      <ul class="nav child_menu">
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateWatseWater, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/Template/ListMasterTemplateWatseWater" class="ListMasterTemplateWatseWater CreateMasterTemplateWatseWater">@Resources.Strings.WatseWaters</a>
                                              </li>
                                          }
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateObservePonds, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/Template/ListMasterTemplateObservePonds" class="ListMasterTemplateObservePonds CreateMasterTemplateObservePonds">@Resources.Strings.ObservePonds</a>
                                              </li>
                                          }
                                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateOilyWaters, DataAccessEnum.Authen))
                                          {
                                              <li class="sub_menu">
                                                  <a href="~/Template/ListMasterTemplateOilyWaters" class="ListMasterTemplateOilyWaters CreateMasterTemplateOilyWaters">@Resources.Strings.OilyWaters</a>
                                              </li>
                                          }
                                      </ul>
                                  </li>
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateClarifiedSystem, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHotOilFlashPoint, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHotOilPhysical, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgInPLMonthly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateSulfurInGasMonthly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgInPL, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgOutletMRU, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateSulfurInGasWeekly, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateTwoHundredThousandPond, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgStab, DataAccessEnum.Authen)
                                      || UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateAcidOffGas, DataAccessEnum.Authen)
                                      )
                                  {
                                      <li>
                                          <a>@Resources.Strings.TemplateOther<span class="fa fa-chevron-down"></span></a>
                                          <ul class="nav child_menu">
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHotOilFlashPoint, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateHotOilFlashPoint" class="ListMasterTemplateHotOilFlashPoint CreateMasterTemplateHotOilFlashPoint">@Resources.Strings.HotOilFlashPoint</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHotOilPhysical, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateHotOilPhysical" class="ListMasterTemplateHotOilPhysical CreateMasterTemplateHotOilPhysical">@Resources.Strings.HotOilPhysicalImpurity</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateClarifiedSystem, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateClarifiedSystem" class="ListMasterTemplateClarifiedSystem CreateMasterTemplateClarifiedSystem">@Resources.Strings.ClarifiedSystem</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateTwoHundredThousandPond, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateTwoHundredThousandPond" class="ListMasterTemplateTwoHundredThousandPond CreateMasterTemplateTwoHundredThousandPond">@Resources.Strings.TwoHundredThousandPond</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgInPLMonthly, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateHgInPLMonthly" class="ListMasterTemplateHgInPLMonthly CreateMasterTemplateHgInPLMonthly">@Resources.Strings.HgInOutMRU</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateHgStab, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateHgStab" class="ListMasterTemplateHgStab CreateMasterTemplateHgStab">@Resources.Strings.Hg & RVP Stab</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateSulfurInGasMonthly, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateSulfurInGasMonthly" class="ListMasterTemplateSulfurInGasMonthly CreateMasterTemplateSulfurInGasMonthly">@Resources.Strings.SulfurInGas</a>
                                                  </li>
                                              }
                                              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_TemplateAcidOffGas, DataAccessEnum.Authen))
                                              {
                                                  <li class="sub_menu">
                                                      <a href="~/Template/ListMasterTemplateAcidOffGas" class="ListMasterTemplateAcidOffGas CreateMasterTemplateAcidOffGas">@Resources.Strings.Acidoffgas</a>
                                                  </li>
                                              }
                                          </ul>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_ProductMerge, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ControlValue/ListMasterProductMerge" class="ListMasterProductMerge">Product Mapping</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_CustomerMerge, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/ControlValue/ListMasterCustomerMerge" class="ListMasterCustomerMerge">Customer Mapping</a>
                                      </li>
                                  }
                              </ul>
                          </li>
                          <li>
                              <a>@Resources.Strings.IQC<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCMasterRule" class="ListIQCMasterRule">@Resources.Strings.IQCMasterRule</a>
                                  </li>
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCMasterPossibleCause" class="ListIQCMasterPossibleCause">@Resources.Strings.IQCMasterPossibleCause</a>
                                  </li>
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCMasterItem" class="ListIQCMasterItem">@Resources.Strings.IQCMasterItem</a>
                                  </li>
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCMasterEquip" class="ListIQCMasterEquip">@Resources.Strings.IQCMasterEquipment</a>
                                  </li>
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCMasterFormula" class="ListIQCMasterFormula">@Resources.Strings.IQCMasterFormula</a>
                                  </li>
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCMasterMailAlert" class="ListIQCMasterMailAlert">@Resources.Strings.IQCMasterMailAlert</a>
                                  </li>
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCTemplateGas" class="ListIQCTemplateGas">@Resources.Strings.IQCTemplateGas</a>
                                  </li>
                                  <li class="sub_menu">
                                      <a href="~/InternalQualityControl/ListIQCTemplateUtility" class="">@Resources.Strings.IQCTemplateUtility</a>
                                  </li>

                              </ul>
                          </li>
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_Email, DataAccessEnum.Authen))
                          {
                              <li><a href="~/Email/ListMasterEmail" class="ListMasterEmail CreateMasterEmail">@Resources.Strings.EmailList</a></li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.M_Unit, DataAccessEnum.Authen))
                          {
                              <li><a href="~/Unit/ListMasterUnit" class="ListMasterUnit CreateMasterUnit">@Resources.Strings.Unit</a></li>
                          }
                      </ul>
                  </li>
              }

              @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Home, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Abnormal, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.S_ExportData, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.S_ReportOff, DataAccessEnum.Authen)
                 || UserIdentity.IsCanAccess(PrivilegeModeEnum.S_ExtraSchedule, DataAccessEnum.Authen)
                 || UserIdentity.IsCanAccess(PrivilegeModeEnum.S_TrendHightlight, DataAccessEnum.Authen)
                 || UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Connect, DataAccessEnum.Authen)
                  || UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Log, DataAccessEnum.Authen)
                 )
              {
                  <li>
                      <a><i class="fa fa-gear"></i> @Resources.Strings.Setting <span class="fa fa-chevron-down"></span></a>
                      <ul class="nav child_menu">
                          <li class="sub_menu">
                              <a class="HomeBackgroud" href="~/Setting/HomeBackgroud">@Resources.Strings.HomeBackground</a>
                          </li>
                          <li>
                              <a>@Resources.Strings.OffControl<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Home, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Setting/Abnormal" class="Abnormal">@Resources.Strings.Abnormal</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Abnormal, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Setting/ExportDataBoundary" class="ExportDataBoundary">@Resources.Strings.ExportDataBoundary</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_ExportData, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Setting/ListExportDataPrefix" class="ListExportDataPrefix CreateExportDataPrefix">@Resources.Strings.ExportDataPrefix</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_ReportOff, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Setting/ReportOffControlSpec" class="ReportOffControlSpec">@Resources.Strings.ReportOffControlSpec</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_ExtraSchedule, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Setting/ListExaquatumSchedule" class="ListExaquatumSchedule CreateExaquatumSchedule">@Resources.Strings.ExaquantumSchedule</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.N_ImpExpTemplate, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Template/ImportExportEXQTemplate" class="ImportExportEXQTemplate ">@Resources.Strings.ImportExportEXQTemplate</a>
                                      </li>
                                  }
                              </ul>
                          </li>
                          <li>
                              <a>@Resources.Strings.TrendData<span class="fa fa-chevron-down"></span></a>
                              <ul class="nav child_menu">
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_TrendHightlight, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Setting/TrendHighlightSetting" class="TrendHighlightSetting">@Resources.Strings.TrendHighlight</a>
                                      </li>
                                  }
                                  @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_SortOption, DataAccessEnum.Authen))
                                  {
                                      <li class="sub_menu">
                                          <a href="~/Setting/SortOption" class="SortOption">@Resources.Strings.SortOption</a>
                                      </li>
                                  }
                              </ul>
                          </li>
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_ProductCSCPath, DataAccessEnum.Authen))
                          {
                              <li class="sub_menu">
                                  <a href="~/Setting/ProductCSCPath" class="ProductCSCPath">@Resources.Strings.ProductCSCPath</a>
                              </li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Connect, DataAccessEnum.Authen))
                          {
                              <li class="sub_menu">
                                  <a href="~/Setting/SystemConnect" class="SystemConnect">@Resources.Strings.SystemConnect</a>
                              </li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Authen, DataAccessEnum.Authen))
                          {
                              <li class="sub_menu">
                                  <a href="~/Setting/Authorization" class="Authorization">@Resources.Strings.Authorization</a>
                              </li>
                          }
                          @if (UserIdentity.IsCanAccess(PrivilegeModeEnum.S_Log, DataAccessEnum.Authen))
                          {
                              <li class="sub_menu">
                                  <a href="~/Setting/SystemLog" class="SystemLog">@Resources.Strings.SystemLog</a>
                              </li>
                          }
                          @*<li class="sub_menu">เพิ่มตอน pop ต่อ DataLake
                        <a href="~/Setting/LoadLakeTagNameFromExcelTODB" class="LoadDataLeak">@Resources.Strings.LoadLakeTagNameFromExcelTODB</a>
                    </li>
                    <li class="sub_menu">เพิ่มตอน pop ต่อ DataLake
                        <a href="~/Setting/LoadDataFromDataLakeTODB" class="LoadDataLeak">@Resources.Strings.LoadDataFromDataLakeTODB</a>
                    </li>
                    <li class="sub_menu">เพิ่มตอน pop ต่อ DataLake
                        <a href="~/Setting/LoadAbnormalFromDataLakeTODB" class="LoadDataLeak">@Resources.Strings.LoadAbnormalFromDataLakeTODB</a>
                    </li>
                    <li class="sub_menu">เพิ่มตอน pop ต่อ DataLake
                        <a href="~/Setting/LoadEventRawDataFromDataLakeTODB" class="LoadDataLeak">@Resources.Strings.LoadEventRawDataFromDataLakeTODB</a>
                    </li>
                    <li class="sub_menu">เพิ่มตอน pop ต่อ DataLake
                        <a href="~/Setting/LoadOffControlFromDBTODataLake" class="LoadDataLeak">@Resources.Strings.LoadOffControlFromDBTODataLake</a>
                    </li>
                    <li class="sub_menu">เพิ่มตอน pop ต่อ DataLake
                        <a href="~/Setting/LoadRP_OFF_CONTROLFromDBTODataLake" class="LoadDataLeak">@Resources.Strings.LoadRP_OFF_CONTROLFromDBTODataLake</a>
                    </li>
                    <li class="sub_menu">เพิ่มตอน pop ต่อ DataLake
                        <a href="~/Setting/LoadRP_OFF_CONTROL_SUMMARYFromDBTODataLake" class="LoadDataLeak">@Resources.Strings.LoadRP_OFF_CONTROL_SUMMARYFromDBTODataLake</a>
                    </li>*@
                      </ul>
                  </li>
              }
              @*<li class="sub_menu">
                  <a href="~/Report/ApireloadQMS_RP_OFF_CONTROL/" class="ManageCheckTotalEXQProduct">API Run (API RECAL REPORT)</a>
              </li>*@
          </ul>
      </div>
  

</div>

    <!-- /sidebar menu -->

    <!-- /menu footer buttons -->
    <div class="sidebar-footer hidden-small">
    </div>
    <!-- /menu footer buttons -->
</div>
