﻿<div class="nav_menu">
  <nav>
    <div class="nav toggle">
      <a id="menu_toggle"><i class="fa fa-bars"></i></a>
    </div>
   
    <div class="nav toggle" style="float:right;"> 
      <a id="menu_toggle_EXPAND"><i class="fa fa-arrows-alt"></i></a>
    </div>
    <div style="float:right; width:240px; margin-top:20px; color: #181365; ">
      <p ><b>@Resources.Strings.QualityManagementSystem</b><br />@Resources.Strings.ByPTTGSPQualityControlDivision </p>
        <div style="font-size:18px;"> 
            <a href="~/login/Clear/"><i class="fa fa-sign-out pull-right"> <span >@Resources.Strings.LogOut</span></i></a> 
        </div>   
    </div>
    @*<ul class="nav navbar-nav navbar-right">
      <li class="">
        <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
           @ViewBag.UserLoginName
          <span class=" fa fa-angle-down"></span>
        </a>
        <ul class="dropdown-menu dropdown-usermenu pull-right"> 
          <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
        </ul>
      </li>
    </ul>*@
  </nav>
</div>