﻿<!-- modal -->
<div class="modal fade chart-control-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" ng-form="myQMS_MA_EXQ_TAG"> 
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Strings.History / @Resources.Strings.ControlChartConfig</h4>
            </div> 
            <div class="modal-body">
                <div  class="form-horizontal form-label-left" >
                    <div class="x_title">
                        <h2>{{worksheet}}</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 col-sm-2 col-xs-12"style="text-align:right;">
                            <label>
                                @Resources.Strings.Year
                            </label>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <select
                                ng-model="TempHsYear"
                                chosen=""
                                ng-options="item.Text  for item in listHsYears"
                                class="col-md-12 col-sm-12 col-xs-12">
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>@Resources.Strings.Date</th>
                                    <th>@Resources.Strings.UCL</th>
                                    <th>@Resources.Strings.UWL</th>
                                    <th>@Resources.Strings.AVG</th>
                                    <th>@Resources.Strings.LWL</th>
                                    <th>@Resources.Strings.LCL</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1-01-2020 12:51:52</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>2-02-2020 11:16:32</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1-03-2020 13:56:05</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>3-04-2020 15:06:03</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>
                                <tr>
                                    <td>1-05-2020 11:23:53</td>
                                    <td>5</td>
                                    <td>4</td>
                                    <td>3</td>
                                    <td>2</td>
                                    <td>1</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                    <!-- ทำหน้า -->
                    <div class="row tblResult " >
                        <div class="col-md-7 col-sm-7 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                @Resources.Strings.ResultsPerPage
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select
                                    ng-model="TempPageSizeEx"
                                    chosen=""
                                    ng-options="item.Text  for item in listPageSize"
                                    class="col-md-12 col-sm-12 col-xs-12">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                <label>
                                    <span class="set-pointer">
                                        <i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous
                                    </span>
                                </label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                <select
                                    ng-model="TempPageIndexEx"
                                    chosen=""
                                    ng-options="item.PageIndex  for item in listPageIndexEx"
                                    class="col-md-12 col-sm-12 col-xs-12">
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label>
                                    / {{ totalPage }}  <span class="set-pointer" >
                                    @Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- ทำหน้า -->
                    </div> 
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-12 col-sm-12 col-xs-12"style="text-align:right;">
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
