﻿@{ 
    var searchDowntime = ViewBag.searchDowntime as QMSSystem.Model.ViewQMS_TEST_TABLE;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
}

<div id="myControl" ng-app="myApp" ng-controller="myCtrl" ng-init="onInit()">
    <div class="">
        <div class="page-title">              
            <h3>@Resources.Strings.Labgas / @Resources.Strings.HginLiqHC</h3>
            <div class="clearfix"> 
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
        </div>   
        <div class="row DisplayDevice" style="display:none">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                    <div class="x_title"> 
                        <span ng-click="showDeviceSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                        <span ng-click="showDeviceAdd()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                        <span class="btn btn-primary "  my-confirm-click="delData()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                        <div class="clearfix"></div>                                    
                    </div>
                    <div class="x_content">
                        <div  class="form-horizontal form-label-left" ng-show="showSearch">   
                            <div class="form-group"> 
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.StartDateTime</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" ng-model="mSearch.START_DATE" data-date-format="dd-MM-yyyy"  bs-datepicker  >
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.EndDateTime</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" ng-model="mSearch.END_DATE" data-date-format="dd-MM-yyyy"  bs-datepicker  >
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.Name</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" ng-model="mSearch.NAME" >
                                    </div>
                                </div>
                            </div>  
                            <div class="form-group"> 
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <span class="btn btn-primary" ng-click="loadSearch()"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                        <span class="btn btn-primary" ng-click="ResetSearch()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</span>
                                        <span class="btn btn-primary" ng-click="closeDeviceSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                    </div>
								</div>
                            </div> 
                            <div class="ln_solid"></div>
                        </div>

                        <div  class="form-horizontal form-label-left" ng-show="showAdd">   
                            <div class="form-group"> 
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.Name</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" ng-model="createModel.NAME" >
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.Value</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="number" class="form-control" ng-model="createModel.VALUE" >
                                    </div>
                                </div>
                            </div>  
                            <div class="form-group"> 
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <span class="btn btn-primary" ng-click="Save()"><i class="fa fa-plus"></i> @Resources.Strings.Save</span>
                                        <span class="btn btn-primary" ng-click="ResetModel()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</span>
                                        <span class="btn btn-primary" ng-click="closeDeviceAdd()"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                    </div>
								</div>
                            </div> 
                            <div class="ln_solid"></div>
                        </div>
                        <div class="form-group DisplaytblResult"> 
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="col-md-1 col-sm-1 col-xs-1">
                                            <input type="checkbox" ng-model="AllSelected" ng-change="SelectAllCheck()" >  
                                        </th>
                                        <th class="sorting_desc custom_textbox_200" ng-click="sort($event)" sort="NAME">@Resources.Strings.Name</th>
                                        <th class="sorting custom_textbox_200" ng-click="sort($event)" sort="VALUE">@Resources.Strings.Value</th> 
                                        <th>Option</th>                                            
                                    </tr>
                                </thead> 
                                <tbody>
                                    <tr ng-repeat="item in Listdata">
                                        <td><input type="checkbox" ng-model="item.ITEM_SELECTED" /></td>
                                        <td>{{item.NAME}}</td>
                                        <td>{{item.VALUE}}</td>     
                                        <td><i class="fa fa-edit set-pointer"  ng-click="editData(item)"></i></td>       
                                    </tr>
                                </tbody>
                            </table>
                              
                            <!-- ทำหน้า -->
                            <div class="row tblResult " >
                                <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
                                                ng-model="TempPageSize"
												chosen		    
                                                ng-change="loadByPageSize()" 
												ng-options="item.Text  for item in listPageSize"
												class="col-md-12 col-sm-12 col-xs-12">    
										</select> 
                                    </div>
                                </div>
                                <div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                        <select
                                            ng-model="TempPageIndex"
                                            chosen 
                                            ng-change="searchByPage()"
                                            ng-options="item.PageIndex  for item in listPageIndex"
                                            class="col-md-12 col-sm-12 col-xs-12">
                                        </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                </div>
                            </div>
                            <!-- ทำหน้า -->
                        </div>         
                    </div>
                </div>
            </div>
        </div>

        <div class="row AddDevice" style="display:none">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                    <div class="x_title">
                        <h2>@Resources.Strings.LoadTempalte</h2> 
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div  class="form-horizontal form-label-left" >   
                            <div class="form-group"> 
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.StartDateTime</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" ng-model="mSearch.SampleStartDate" data-date-format="dd-MM-yyyy"  bs-datepicker  >
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.EndDateTime</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" ng-model="mSearch.SampleEndDate" data-date-format="dd-MM-yyyy"  bs-datepicker  >
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>@Resources.Strings.Name</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" ng-model="mSearch.NAME" >
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <label>&nbsp;</label>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <span class="btn btn-primary" ng-click="loaddata()"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                    </div>
								</div>
                            </div>            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    app.controller('myCtrl', ['$scope', 'Upload', '$http', 'Fact', function ($scope, Upload, $http, Fact) {

        $scope.createModel;
        $scope.mSearch;
        $scope.Listdata;// listdata
        $scope.AllSelected; //checkbox

        $scope.showSearch = false;
        $scope.showAdd = false;

        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.listPageIndex;

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('NAME');
        $scope.SortOrder = Fact.setSortOrder('desc');
        $scope.TempPageIndex;

        $scope.listPageSize = getListPageSize(); // list of page size

        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadSearch(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadSearch(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadSearch(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadSearch(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex ); $scope.loadSearch(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadSearch(); }

        $scope.ShowDisplayDevice = function () {
            $(".DisplayDevice").show();
            $(".DisplaytblResult").hide();
        };
        $scope.ShowtblResult = function () {
            $(".DisplayDevice").show();
            $(".DisplaytblResult").show();
        };

        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadSearch();
        }

        $scope.showDeviceSearch = function(){  $scope.showSearch = true;$scope.showAdd = false;}
		$scope.closeDeviceSearch = function() { $scope.showSearch = false;$scope.showAdd = false; $scope.ResetSearch();}

        $scope.showDeviceAdd = function(){  $scope.showAdd = true;$scope.showSearch = false;}
		$scope.closeDeviceAdd = function() { $scope.showAdd = false;$scope.showSearch = false; $scope.ResetModel();}

        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.Listdata, $scope.AllSelected) }

        $scope.ResetSearch = function () {
            var date = new Date();
            var tempDate = date.setDate(date.getDate() - 30);
            var startDate = new Date(tempDate);
            var endDate = new Date();
            $scope.mSearch ={
                                    START_DATE: startDate,
                                    END_DATE: endDate,
                                    NAME: "",
                                };
        };

        $scope.ResetModel = function () {
            $scope.createModel ={
                                    NAME: "",
                                    VALUE: "",
                                };
        };

        $scope.onInit = function(){ 
            Fact.setDataTableUrl(get_base_url("Labcontrol/GetData"));
            Fact.setDelelteUrl(get_base_url("Labcontrol/DeleteData"));
            $scope.ShowDisplayDevice(); 
            $scope.ResetSearch();
            $scope.ResetModel();
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});
//            Fact.setSearchModel( getSearchModel() );
            $scope.loadSearch();
            Fact.setSortIcon();
        }

        $scope.loadSearch = function(){ 
            
             Fact.loadDataTable($scope.mSearch, function(response){
                try{
                    if(response.status ==200){
                        $scope.Listdata = response.data.message;
                        $scope.totalPage = response.data.toTalPage; //init;
                        $scope.totalRecords = response.data.totalRecords;
                        $scope.listPageIndex = response.data.listPageIndex;
                        $scope.listPageIndex.forEach(function(entry, index) {
                                if($scope.PageIndex == entry.PageIndex)
		    	                $scope.TempPageIndex =  entry;  
			            });
                        $scope.ShowtblResult();
                    }
                }catch(e){

                } 
                $(".tblResult").show();
            });
        }

        $scope.Save = function () {
				var urlName = get_base_url("Labcontrol/SaveData");
				var valid = true;

				if( $scope.createModel.NAME == "" ){
					valid = false;
				}else{
				}
                if( $scope.createModel.VALUE == "" ){
					valid = false;
				}else{
				}
			
				if(true == valid){ 
					var jsonData = $scope.createModel;
					Fact.saveDataCallback(urlName, jsonData, function(response){
						Fact.showMessage(response.data.message);
                        $scope.closeDeviceSearch();
                        $scope.closeDeviceAdd();
                        $scope.loadSearch();
					});
				}else{
					Fact.showMessage("@Resources.Strings.PleaseInputData");
				} 
		}

        $scope.editData = function(item){  $scope.createModel = angular.copy(item);  $scope.showDeviceAdd (); }

        $scope.delData = function(){
            Fact.deleteMultiData($scope.Listdata, "@Resources.Strings.PleaseSelectDelData", function(response)
            {
                Fact.showMessage(response.data.message);$scope.closeDeviceSearch();$scope.closeDeviceAdd(); $scope.loadSearch(); 
            });
        }
    } ]);
    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchDowntime)); 
        return lstData; 
    }
</script>