﻿@{
    var searchCrossVolume = ViewBag.searchCrossVolume as QMSSystem.Model.CrossVolumeSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
    var listDocStatus = ViewBag.listDocStatus as List<SelectListItem>;
    var listToGrade = ViewBag.listToGrade as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;

    var listProductTo = ViewBag.listProductTo as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
    var createQMS_TR_CROSS_VOLUME = ViewBag.createQMS_TR_CROSS_VOLUME as QMSSystem.Model.CreateQMS_TR_CROSS_VOLUME;
    var volumeSearch = ViewBag.volumeSearch as QMSSystem.Model.VoulmeEXQSearchModel; 
    var listDocStatusEx = ViewBag.listDocStatusEx as List<SelectListItem>;
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class="">

           <div class="page-title">
                <div class="title_left">
                    <h3>@Resources.Strings.ManageData / @Resources.Strings.OffControl / @Resources.Strings.CrossVolume</h3>
                     <div class="clearfix"></div> 
                </div>
           </div>
           <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
           
           <div class="row"  ng-show="showList">

                <div class="col-md-12 col-sm-12 col-xs-12">

                     <div class="x_panel  tblResult " style="display:none;" >

                          <div class="x_title"> 
                                 <span ng-click="showCrossVolumeSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                 <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                 <span class="btn btn-primary "  my-confirm-click="delCrossVolume()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                 <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(1)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.PENDING</span>
                                 <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(2)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.CONFIRM</span>
                                 <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(3)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.REJECT</span>

                              <div class="clearfix"></div>                                    
                          </div>

                                 
                          <div class="form-horizontal form-label-left" ng-show="showSearch">

                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Plant 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempPlantId"
					                            chosen  
					                            ng-options="item.NAME  for item in listPlant" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div>
                               <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempDateStart" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                     </div>
                               </div>
                               <div class="form-group">
                                     <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                     </label>
                                     <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                          <input type="text" class="form-control"  ng-model="TempDateEnd" data-autoclose="1"  data-date-format="dd-MM-yyyy"   bs-datepicker  > 
                                     </div>
                               </div>                                
                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.DocStatus
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempDocStatusId"
					                            chosen  
					                            ng-options="item.Text  for item in listDocStatus" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div>
                               <div class="form-group">     
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <input type="text" ng-model="mSearch.CAUSE_DESC"  class="form-control col-md-7 col-xs-12">
                                    </div>                                    
                               </div>                                   
                              
                              
                               <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                         <button type="button" class="btn btn-primary" ng-click="loadCrossVolume()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                         <button type="button" class="btn btn-primary" ng-click="clearCrossVolume()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                         <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                    </div>
                               </div>
                               <div class="ln_solid"></div>

                          </div>


                          <div class="x_conten tblResult " style="display:none;" >

                               <table class="table table-bordered">

                                      <thead>
                                             <tr>
                                                 <th>
                                                      <input type="checkbox" ng-model="AllCrossVolume" ng-change="SelectAllCheck()" >
                                                 </th>
                                                 <th class="sorting_desc" ng-click="sort($event)" sort="PLANT_ID">@Resources.Strings.Plant</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="PRODUCT_ID">@Resources.Strings.Product</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="PRODUCT_TO">@Resources.Strings.To</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="START_DATE">@Resources.Strings.StartDate</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="END_DATE">@Resources.Strings.EndDate</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="VOLUME">@Resources.Strings.Volume (@Resources.Strings.Ton)</th>
                                                 <th class="sorting" ng-click="sort($event)" sort="DOC_STATUS">@Resources.Strings.DocStatus</th>
                                                 @*<th class="sorting" ng-click="sort($event)" sort="CORRECT_DATA_TYPE_NAME">@Resources.Strings.CorrectData</th>*@
                                                 <th class="sorting" ng-click="sort($event)" sort="CAUSE_DESC">@Resources.Strings.Description</th>
                                                 <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>                                                    
                                              </tr>
                                       </thead>

                                      <tbody>
                                             <tr ng-repeat="mCrossVolume in listCrossVolume" >
                                                 <td><input type="checkbox" ng-model="mCrossVolume.ITEM_SELECTED" /></td>
                                                 <td>{{mCrossVolume.PLANT_NAME}}</td>  
                                                 <td>{{mCrossVolume.PRODUCT_NAME}}</td>
                                                 <td>{{mCrossVolume.PRODUCT_TO_NAME}}</td>                              
                                                 <td>{{mCrossVolume.START_DATE|showdatetimeformat }}</td>
                                                 <td>{{mCrossVolume.END_DATE|showdatetimeformat }}</td> 
                                                 <td>{{mCrossVolume.VOLUME  | addcomma}}</td>
                                                 <td>{{mCrossVolume.DOC_STATUS_NAME}}</td>
                                                 @*<td>{{mCrossVolume.CORRECT_DATA_TYPE_NAME}}</td>*@
                                                 <td>{{mCrossVolume.CAUSE_DESC}}</td>
                                                 <td><i class="fa fa-edit set-pointer"  ng-click="editData(mCrossVolume)"></i></td>
                                             </tr>
                                      </tbody>

                               </table>
                     
                          </div>

                          <!-- ทำหน้า -->
                          <div class="row tblResult " style="display:none;" >
                               <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <select
				                                ng-model="TempPageSize"
				                                chosen 
                                                ng-change="loadByPageSize()" 
				                                ng-options="item.Text  for item in listPageSize"
				                                class="col-md-12 col-sm-12 col-xs-12"
				                                name="lst_pagesize" id="lst_pagesize">
				                                <option value=""></option>
			                             </select> 
                                    </div>
                               </div>
                               <div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                                ng-model="TempPageIndex"
				                                chosen 
                                                ng-change="searchByPage()" 
				                                ng-options="item.PageIndex  for item in listPageIndex"  
				                                >
			                             </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                    </div>
                          </div>
                          <!-- ทำหน้า -->

                     </div>

                </div> 

           </div>


            <div class="row" ng-show="showDevice"  >
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">                 
                               <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>                  
                              </div>
                              <div class="clearfix"></div>                                
                         </div>
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="CreatetempPlantId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.NAME  for item in listPlant"
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.DocStatus <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="CreatetempDocStatusId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.Text  for item in listDocStatusEx" 
                                                    class="chosen_required">				                              
					                                <option value=""></option>
				                            </select>
                                        </div>
                                   </div>  
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Product <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="CreatetempProductId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listProduct"
                                                    ng-change="setNewListProduct()" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.ProductTo <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="CreatetempProductToId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listProductTo" 
                                                    class="chosen_required">					                              
					                                <option value=""></option>
				                            </select>
                                        </div>
                                   </div>  
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempStartDate" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempEndDate" data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker required> 
                                        </div>
                                   </div> 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempStartDate" data-time-format="HH:mm" data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="CreateTempEndDate" data-time-format="HH:mm"  data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>
                                   </div>
                                    <div class="form-group">                                                                                 
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Volume (@Resources.Strings.Ton)<span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="text" ng-model="createModel.VOLUME"  class="form-control col-md-7 col-xs-12" number-only-input required>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left;">
                                             <span class="btn btn-primary" ng-click="loadVolume()"><i class="fa fa-calculator"></i> @Resources.Strings.AutoloadVolume</span>
                                        </div>
                                   </div>                                 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>                                          
                                        <div class="col-md-8 col-sm-8 col-xs-12" style="text-align:right;">
                                             <textarea ng-model="createModel.CAUSE_DESC" 
                                                        rows="3" class="form-control" maxlength="150" name="message" >
                                             </textarea>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="x_content" ng-show="createModel.ID > 0">
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
                                   <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                               </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
	                               <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                               </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
      </div>

</div>

<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempProductId;
        $scope.listProduct = getListProduct();
        $scope.tempDocStatusId;
        $scope.listDocStatus = getListDocStatus();
        $scope.tempToGradeId;
        $scope.listToGrade = getListToGrade()
       ;
        $scope.listProductTo = getListProductTo();

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        /**Special case by case ตาม search model**/    
        $scope.createModel = getCreateModel();
        $scope.mSearch = getSearchModel();
        $scope.listDocStatusEx = getListDocStatusEx();
        $scope.mVolumeSearch = getVolumeSearchModel();

        $scope.CreateTempStartDate = null;
        $scope.CreateTempEndDate = null;
        $scope.CreatetempPlantId = {};
        $scope.CreatetempDocStatusId = {};
        $scope.CreatetempProductId= {};
        $scope.CreatetempProductToId = {};


        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);;
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listCrossVolume; // listdata
        $scope.AllCrossVolume; //checkbox


        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }


        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listCrossVolume, $scope.AllCrossVolume) }
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadCrossVolume();
        }

        $scope.clearCrossVolume = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.TempDateStart = null; 
               $scope.TempDateEnd = null; 
               $scope.tempPlantId = {};
               $scope.tempProductId = {};
               $scope.tempDocStatusId =  {};
               $scope.tempToGradeId = {};
               $scope.mSearch.CAUSE_DESC = null;

               $scope.loadCrossVolume();
        }
         
        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showCrossVolumeSearch = function(){  $scope.showSearch = true; /*$("#searchCrossVolume").modal('show');*/}
        $scope.closeCrossVolumeSearch = function() { $scope.showSearch = false; }
        $scope.getCrossVolumeSearch = function()
        {
            $("#searchCrossVolume").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempPlantId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            }
            if( typeof $scope.tempProductId !== "undefined" ){
                $scope.mSearch.PRODUCT_ID = $scope.tempProductId.ID;
            }
            if( typeof $scope.tempDocStatusId !== "undefined" ){
                $scope.mSearch.DOC_STATUS = $scope.tempDocStatusId.Value;
            }            
            if( typeof $scope.tempToGradeId !== "undefined" ){
                $scope.mSearch.PRODUCT_TO = $scope.tempToGradeId.ID;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadCrossVolume();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadCrossVolume(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadCrossVolume(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadCrossVolume(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadCrossVolume(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadCrossVolume(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadCrossVolume(); }

        $scope.loadCrossVolume = function () { 
            if(typeof $scope.tempPlantId !== "undefined")
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            if(typeof $scope.tempProductId !== "undefined")
                $scope.mSearch.PRODUCT_ID = $scope.tempProductId.ID;
            if(typeof $scope.tempDocStatusId !== "undefined")
                $scope.mSearch.DOC_STATUS = $scope.tempDocStatusId.Value;
            if(typeof $scope.tempToGradeId !== "undefined")
                $scope.mSearch.PRODUCT_TO = $scope.tempToGradeId.ID;
            if( $scope.TempDateStart !== null){
                $scope.mSearch.START_DATE = $scope.TempDateStart ;
            }
            if( $scope.TempDateEnd !== null){
                $scope.mSearch.END_DATE = $scope.TempDateEnd ;
            }


            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listCrossVolume = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delCrossVolume = function(){
            Fact.deleteMultiData($scope.listCrossVolume, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadCrossVolume(); });
        }

        
        $scope.ClkUpdateDocStatus = function(DOC_STATUS_VALUE){

            switch(DOC_STATUS_VALUE) {
                  case 1:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectPending";
                         break;
                  case 2:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectConfirm";
                         break;
                  case 3:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectReject";
                         break;
                  default:
                         MSG_DOC_STATUS = "Null";
                         break;
            }
        
            Fact.UpdateDocStatus($scope.listCrossVolume, DOC_STATUS_VALUE , MSG_DOC_STATUS , function(){ $scope.loadCrossVolume(); });
            $scope.loadCrossVolume();
        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
            
            $scope.CreateTempStartDate  = null;
            $scope.CreateTempEndDate  = null;
            $scope.CreatetempPlantId = {};
            $scope.CreatetempDocStatusId = {};   
            $scope.CreatetempProductId= {};
            $scope.CreatetempProductToId = {};

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.CreatetempPlantId =  entry; 
		    		return false;
		    	}
			});
            
            $scope.listProduct.forEach(function(entry) {
		    	if($scope.createModel.PRODUCT_ID  == entry.ID){  
		    		$scope.CreatetempProductId =  entry; 
		    		return false;
		    	} 
			}); 
               
            $scope.listDocStatusEx.forEach(function(entry) {
		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
		    		$scope.CreatetempDocStatusId =  entry; 
		    		return false;
		    	} 
			});

            $scope.CreateTempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
            $scope.CreateTempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
            $scope.setNewListProduct();
        }

        $scope.saveData = function () {   
            var urlName = get_base_url("CrossVolume/CreateQMS_TR_CROSS_VOLUME");            
            var valid = true;

            if( typeof $scope.createModel.VOLUME !== "undefined"  
                && $scope.createModel.VOLUME !== null  
            ){
                 $scope.createModel.VOLUME = removeCommas($scope.createModel.VOLUME);
            }

            if( typeof $scope.CreatetempPlantId !== "undefined"  && typeof $scope.CreatetempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.CreatetempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempProductId !== "undefined"  && typeof $scope.CreatetempProductId.ID !== "undefined" ){
                $scope.createModel.PRODUCT_ID = $scope.CreatetempProductId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempDocStatusId !== "undefined"  && typeof $scope.CreatetempDocStatusId.Value !== "undefined" ){
                $scope.createModel.DOC_STATUS = $scope.CreatetempDocStatusId.Value;
            }else{
                valid = false;
            }                        
            if( typeof $scope.CreateTempStartDate !== "undefined"  && $scope.CreateTempStartDate !== null ){
                $scope.createModel.START_DATE =$scope.CreateTempStartDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.CreateTempEndDate !== "undefined"  && $scope.CreateTempEndDate !== null ){
                $scope.createModel.END_DATE =$scope.CreateTempEndDate;
            }else{
                valid = false;
            }             
            if( typeof $scope.CreatetempProductToId !== "undefined"  && typeof $scope.CreatetempProductToId.ID !== "undefined" ){
                $scope.createModel.PRODUCT_TO = $scope.CreatetempProductToId.ID;
            }else{
                valid = false;
            }
           
            if( typeof $scope.createModel.VOLUME !== "undefined"  
                && $scope.createModel.VOLUME !== null 
                && parseFloat($scope.createModel.VOLUME) > 0
                && $scope.CreateTempEndDate >= $scope.CreateTempStartDate
            ){
                
            }else{
                valid = false;
            }    

           //console.log($scope.createModel.VOLUME ,   removeCommas($scope.createModel.VOLUME) );
            
            if(true == valid){ 
                if($scope.createModel.START_DATE > $scope.createModel.END_DATE){
                     Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }

                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     if(response.data.result == 1){
                         $scope.loadCrossVolume();
                         $scope.showDeviceData();
                    }else{
                        Fact.showMessage(response.data.message); 
                    }
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                if ($scope.createModel.VOLUME == 0){
                    Fact.showMessage("@Resources.Strings.VolumeAlert");
                }else if(  $scope.CreateTempEndDate >= $scope.CreateTempStartDate){
                    Fact.showMessage("@Resources.Strings.PleaseInputData");
                }else{
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
                }
            }             
            
        }  



        $scope.setNewListProduct = function(){ 
           

            var urlName = get_base_url("CrossVolume/GetProductListByNotinId");
            if( typeof $scope.CreatetempProductId !== "undefined"  && typeof $scope.CreatetempProductId.ID !== "undefined" ){ 
                var jsonData = {
	                    "productId": $scope.CreatetempProductId.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{ 
                        $scope.listProductTo = response.data.message;  
                        $scope.CreatetempProductToId = {};

                        $scope.listProductTo.forEach(function(entry) {
		    	            if($scope.createModel.PRODUCT_TO  == entry.ID){  
		    		            $scope.CreatetempProductToId =  entry; 
		    		            return false;
		    	            } 
			            });
                    }catch(e){
                    
                    }
                }); 
            }
        } 
        
        $scope.loadVolume = function () {  
            var valid = true;
            var urlName = get_base_url("Report/getVolumeByVoulmeEXQSearch");
             

            if( typeof $scope.CreatetempPlantId !== "undefined"  && typeof $scope.CreatetempPlantId.ID !== "undefined" ){
                $scope.mVolumeSearch.PLANT_ID = $scope.CreatetempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempProductId !== "undefined"  && typeof $scope.CreatetempProductId.ID !== "undefined" ){
                $scope.mVolumeSearch.PRODUCT_ID = $scope.CreatetempProductId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.CreateTempStartDate !== "undefined"  && $scope.CreateTempStartDate !== null ){
                $scope.mVolumeSearch.START_DATE =$scope.CreateTempStartDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.CreateTempEndDate !== "undefined"  && $scope.CreateTempEndDate !== null ){
                $scope.mVolumeSearch.END_DATE =$scope.CreateTempEndDate;
            }else{
                valid = false;
            }

            if(true == valid){ 

                if($scope.mVolumeSearch.START_DATE > $scope.mVolumeSearch.END_DATE){
                     Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }
                
                Fact.loadlistData(urlName, $scope.mVolumeSearch, function(response){ 
                    try{
                         $scope.createModel.VOLUME = response.data.message; 
                        //console.log(response);
                    }catch(e){

                    }  
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 
        } 

        $scope.init = function(mData){

            Fact.setUpdateTableUrl(get_base_url("CrossVolume/UpdateDocStatusQMS_TR_CROSS_VOLUME"));
            Fact.setDataTableUrl(get_base_url("CrossVolume/GetQMS_TR_CROSS_VOLUMEBySearch"));
            Fact.setDelelteUrl(get_base_url("CrossVolume/DeleteQMS_TR_CROSS_VOLUME"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadCrossVolume();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchCrossVolume)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

     function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }

    function getListDocStatus(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDocStatus)); 
        return lstData; 
    }

    function getListToGrade(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listToGrade)); 
        return lstData; 
    }

    function getListDocStatusEx(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDocStatusEx)); 
        return lstData; 
    }
    
    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_TR_CROSS_VOLUME)); 
        return lstData; 
    }
     
       function getListProductTo(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProductTo)); 
        return lstData; 
    }


      function getVolumeSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(volumeSearch)); 
        return lstData; 
    }
</script>
