﻿@{
    var searchIQCItem = ViewBag.searchIQCItem as QMSSystem.Model.IQCItemSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;


    var createQMS_MA_IQC_ITEM = ViewBag.createQMS_MA_IQC_ITEM as QMSSystem.Model.CreateQMS_MA_IQC_ITEM;
    var createQMS_MA_IQC_ITEMEQUIP = ViewBag.createQMS_MA_IQC_ITEMEQUIP as QMSSystem.Model.CreateQMS_MA_IQC_ITEMEQUIP;
    
    var listIQCEquipment = ViewBag.listIQCEquipment as List<QMSSystem.Model.ViewQMS_MA_IQC_EQUIP>;
    var listIQCItemEquip = ViewBag.listIQCItemEquip as List<QMSSystem.Model.ViewQMS_MA_IQC_ITEMEQUIP>;
        
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class=""> 
           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.IQCMasterItem</h3>
                     <div class="clearfix"></div> 
                </div>
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
           
           <div class="row" ng-show="showList">
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                     <div class="x_panel"> 
                          <div class="x_title">
                                <span ng-click="showIQCItemSearch()" class="btn btn-primary" style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                               <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                <span class="btn btn-primary "  my-confirm-click="delIQCItem()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                          </div>  
                          <div class="x_content  tblResult " style="display:none;" >
                               <div class="form-horizontal form-label-left" ng-show="showSearch">                                                                                    
                                   <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.ItemName 
                                       </label>
                                       <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" ng-model="mSearch.ITEM_NAME"  class="form-control col-md-7 col-xs-12">
                                       </div>
                                  </div>
                                  <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                             <input type="text" ng-model="mSearch.ITEM_DESC"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                   </div>                                
                                   <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" class="btn btn-primary" ng-click="loadIQCItem()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                            <button type="button" class="btn btn-primary" ng-click="clearIQCItem()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                            <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                   <div class="ln_solid"></div>
                               </div>
                               <table class="table table-bordered" >
                                      <thead>                                            
                                             <tr>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">
                                                      <input type="checkbox" ng-model="AllIQCItem" ng-change="SelectAllCheck()" >
                                                  </th>
                                                  <th class="sorting_desc custom_textbox_50" ng-click="sort($event)" sort="ITEM_ID">Item</th>                                               
                                                  <th class="sorting custom_textbox_200" ng-click="sort($event)" sort="ITEM_NAME">Name</th>
                                                  <th class="sorting custom_textbox_250" ng-click="sort($event)" sort="ITEM_DESC">Description</th>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">Edit Item</th> 
                                                  <th class="col-md-1 col-sm-1 col-xs-1">Add Equipment</th>
                                             </tr>
                                      </thead>
                                      <tbody>
                                              <tr ng-repeat="mIQCItem in listIQCItem" >
                                                  <td><input type="checkbox" ng-model="mIQCItem.ITEM_SELECTED" /></td>
                                                  <td>{{mIQCItem.ITEM_ID}}</td>
                                                  <td>{{mIQCItem.ITEM_NAME}}</td>
                                                  <td>{{mIQCItem.ITEM_DESC}}</td>                                                 
                                                  <td><i class="fa fa-edit set-pointer"  ng-click="editData(mIQCItem)"></i></td>
                                                  <td><i class="fa fa-plus set-pointer"  ng-click="openItemEquipManagement(mIQCItem)"></i></td>        
                                              </tr>
                                      </tbody>                                      
                              </table>
                          </div>
                          <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                          <!-- ทำหน้า -->
                     </div> 
                </div> 
           </div> 


           <div class="row" ng-show="showDevice"  >
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                          <div class="x_title">
                              <div class="row text_align_right" >
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <span class="btn btn-primary " ng-click="showDeviceData()" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                              </div>
                              <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 
                               <div  class="form-horizontal form-label-left" >
                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ItemId <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.ITEM_ID"  class="form-control col-md-7 col-xs-12" required>
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ItemName <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.ITEM_NAME"  class="form-control col-md-7 col-xs-12" required>
                                          </div>
                                     </div> 
                                                                          
                                     <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea ng-model="createModel.ITEM_DESC" rows="3" class="form-control" maxlength="250" name="message" >
                                            </textarea>
                                        </div>
                                     </div>
                                </div>  

                                
                          </div>

                             <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->

                     </div>
                </div>
           </div>      

         

      </div>



      <!-- ItemEquip modal -->
        <div class="modal fade itemequip-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                       <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Equipment Management</h4>                            
                       </div>
                       <div class="modal-body">
                            <div class="col-md-12">
                                 <span class="btn btn-primary" my-confirm-click="delItemEquipData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                 <br><br> 
                                 <div class="col-md-24">
                                      <label>{{showQMS_MA_IQC_ITEM_NAME}}</label>
                                 </div>                                 
                                 <table class="table table-bordered"  >
                                        <thead style="width:100%;">
                                                <tr>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">
                                                        <input type="checkbox" ng-model="AllItemEquipSelected" ng-change="SelectAllItemEquipCheck()" >  
                                                    </th>                                       
                                                    <th>Equipment</th>
                                                    <th>@Resources.Strings.Tools</th>
                                                </tr>
                                        </thead>
                                        <tbody style="width:100%;">
                                                <tr ng-form="myQMS_MA_IQC_ITEMEQUIP" ng-show="ShowItemEquip">
                                                    <td></td>
                                                    <td> 
                                                         <div class="col-md-12 col-sm-12 col-xs-24">
                                                              <select
			                                                         ng-model="createQMS_MA_IQC_EQUIP"
			                                                         chosen="{inherit_select_classes: true}" 
			                                                         ng-options="item.EQUIP_NAME  for item in listIQCEquipment" 
                                                                     class="chosen_required">
		                                                             <option value=""></option>
			                                                  </select> 
                                                         </div>
                                                    </td>
                                                    <td><span  ng-click="saveQMS_MA_IQC_ITEMEQUIP()"  ><i class="fa fa-save" title="@Resources.Strings.Save"></i></span>
                                                    </td>                                           
                                                </tr>
                                                <tr ng-repeat="mItemEquipData in listIQCItemEquip" ng-include="getItemEquipTemplate(mItemEquipData)"></tr>
                     
                                        </tbody>
                                 </table>
                            </div>                     
                       </div>
                       <div class="modal-footer"> </div>  
                  </div>
             </div>
        </div>
        <!-- end ItemEquip modal -->

        <!-- Template ItemEquip -->
        <script type="text/ng-template" id="displayItemEquip">
                <td align="center"><input type="checkbox" ng-model="mItemEquipData.ITEM_SELECTED" /></td>  
                <td>{{ mItemEquipData.EQUIP_NAME }}</td>
                <td align="center">
                    <span ng-click="editItemEquip(mItemEquipData)" ><i   class="fa fa-edit set-pointer" title="@Resources.Strings.Edit"></i></span>
                </td>
        </script>
        <script type="text/ng-template" id="editItemEquip">
            <td align="center"><input type="checkbox" ng-model="mItemEquipData.ITEM_SELECTED" /></td>
            <td> 
                 <div class="col-md-6 col-sm-6 col-xs-24">
                      <select
			                ng-model="mEquipData"
			                chosen="{inherit_select_classes: true}" 
			                ng-options="item.EQUIP_NAME  for item in listIQCEquipment" 
                            class="chosen_required">
		                    <option value=""></option>
			          </select> 
                 </div>
            </td>
            <td align="center">
                <span  ng-click="saveEditQMS_MA_IQC_ITEMEQUIP(mItemEquipData,mEquipData)" ><i class="fa fa-save set-pointer" title="@Resources.Strings.Save"></i></span>
                <span  ng-click="resetItemEquip()" ><i class="fa fa-undo set-pointer" title="@Resources.Strings.Cancel"></i></span>
            </td>
        </script>
        <!-- Template ItemEquip -->

</div>








<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempIQCItemId;
        $scope.CreatetempIQCItemEquipId;
        $scope.listIQCItemEquip = getListIQCItemEquip(); 
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();




        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('ITEM_ID');
        $scope.SortOrder = Fact.setSortOrder('asc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listIQCItem; // listdata
        $scope.AllIQCItem; //checkbox
        $scope.listIQCItemEquip; // listdata
        $scope.AllIQCItemEquip;
        

        //$scope.listEmail;
        $scope.AllItemEquipSelected = false;
        $scope.ShowItemEquip = true;
        $scope.listItemEquipSelect = {};
        $scope.listIQCEquipment = getListIQCEquipment();
        $scope.listItemEquipSelect = getListIQCEquipment();
//        $scope.tempItemEquipId;
        //$scope.mEquipData;
        $scope.createQMS_MA_IQC_ITEMEQUIP = getCreateQMS_MA_IQC_ITEMEQUIP();
        $scope.SelectAllItemEquipCheck = function () { Fact.SelectAllCheck($scope.listIQCItemEquip, $scope.AllItemEquipSelected) }

        $scope.showQMS_MA_IQC_ITEM_NAME;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
       

        $scope.showSearch = false;
        $scope.showItemEquip = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listIQCItem, $scope.AllIQCItem) }
        $scope.SelectAllCheckItemEquip = function () { Fact.SelectAllCheckItemEquip($scope.listIQCItemEquip, $scope.AllIQCItemEquip) }

        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadIQCItem();
        }

        

        $scope.clearIQCItem = function() {          
               $scope.mSearch = getSearchModel(); 
               $scope.tempItemId = {};
               $scope.mSearch.ITEM_ID = 0;
               $scope.mSearch.ITEM_NAME = null;
               $scope.mSearch.ITEM_DESC = null;
               $scope.loadIQCItem();
        } 

        $scope.clearItemEquipData = function() {  
               $scope.createItemEquipModel = {}
               $scope.createItemEquipModel.NAME = null
               
        }



        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showAddItemEquip = function(){  $scope.showItemEquip = true; }
        $scope.closeAddItemEquip = function() { $scope.showItemEquip = false; }


        $scope.showIQCItemSearch = function(){  $scope.showSearch = true; /*$("#searchIQCItem").modal('show');*/}
        $scope.closeIQCItemSearch = function() { $scope.showSearch = false; }
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }
    
        
        $scope.getIQCItemSearch = function()
        {
           // $("#searchIQCItem").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadIQCItem();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadIQCItem(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadIQCItem(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadIQCItem(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadIQCItem(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadIQCItem(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadIQCItem(); }

        $scope.loadIQCItem = function () { 

            if(typeof $scope.tempIQCItemId !== "undefined")
                $scope.mSearch.ITEM_ID = $scope.tempIQCItemId.ID;

//            console.log("mSearch",$scope.mSearch); 
                       
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listIQCItem = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delIQCItem = function(){
            Fact.deleteMultiData($scope.listIQCItem, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadIQCItem(); });
        }

        $scope.createModel = getCreateModel();

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchIQCItem").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }
      
         $scope.saveQMS_MA_IQC_ITEMEQUIP = function () { 
            $scope.createQMS_MA_IQC_ITEMEQUIP.ITEM_ID = $scope.CreatetempIQCEquipmentId.ID;
            $scope.createQMS_MA_IQC_ITEMEQUIP.EQUIP_ID = $scope.createQMS_MA_IQC_EQUIP.ID;

            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_ITEMEQUIP");
            var jsonData = $scope.createQMS_MA_IQC_ITEMEQUIP;        
            if($scope.myQMS_MA_IQC_ITEMEQUIP.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                     $scope.createQMS_MA_IQC_ITEMEQUIP = getCreateQMS_MA_IQC_ITEMEQUIP(); 
                     $scope.loadActiveItemEquip();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
            $scope.createQMS_MA_IQC_EQUIP = null;

        }

        $scope.saveEditQMS_MA_IQC_ITEMEQUIP = function (mItemEquipData,mEquipData) { 
            $scope.createQMS_MA_IQC_ITEMEQUIP = angular.copy(mItemEquipData);
            $scope.createQMS_MA_IQC_ITEMEQUIP.EQUIP_ID = mEquipData.ID;
            
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_ITEMEQUIP");
            var jsonData = $scope.createQMS_MA_IQC_ITEMEQUIP;
            Fact.saveDataCallback(urlName, jsonData, function (response) { 
                 $scope.ShowItemEquip = true; 
                 $scope.createQMS_MA_IQC_ITEMEQUIP = getCreateQMS_MA_IQC_ITEMEQUIP();
                 $scope.loadActiveItemEquip();  
                 });
        }
         
        $scope.loadActiveItemEquip = function(){ 
                $scope.resetItemEquip(); 
                var urlName = get_base_url("InternalQualityControl/GetListQMS_MA_IQC_ITEMEQUIPById");     
                var jsonData = {
	                    "id":  $scope.CreatetempIQCEquipmentId.ID
	            };                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                        $scope.listIQCItemEquip = response.data.message; 
                }); 
        }
        $scope.loadActiveItemEquipCallBack = function(callback){ $scope.resetItemEquip(); Fact.loadAllItemEquip(function (response){  $scope.listIQCItemEquip = response.data.message; callback(response); });  }
         
        $scope.delItemEquipData = function(){
            var urlName = get_base_url("InternalQualityControl/DeleteQMS_MA_IQC_ITEMEQUIP");
            Fact.deleteMultiDataEx(urlName, $scope.listIQCItemEquip, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveItemEquip(); });
        }

        $scope.getItemEquipTemplate = function (mItemEquipData) { 

            if (mItemEquipData.ID === $scope.listItemEquipSelect.ID) return 'editItemEquip';
                 else return 'displayItemEquip';
        };

        $scope.editItemEquip = function (mItemEquipData) {
            $scope.ShowItemEquip = false;
            $scope.listItemEquipSelect = angular.copy(mItemEquipData);
        };

        $scope.resetItemEquip = function () {
            $scope.ShowItemEquip = true;
           
            if(null != $scope.listIQCItemEquip){
                $scope.listIQCItemEquip.forEach(function(entry) { 
		    	    if($scope.listItemEquipSelect.ID == entry.ID){ 
		    		    entry.NAME = $scope.listItemEquipSelect.EQUIP_NAME;                        
		    	    } 
			    });
            }

            if(null != $scope.mEquipData){
                $scope.mEquipData.forEach(function(entry) { 
		    	    if($scope.listItemEquipSelect.ID == entry.ID){ 
		    		    entry.NAME = $scope.listItemEquipSelect.EQUIP_NAME;                        
		    	    } 
			    });
            }
            
            $scope.listItemEquipSelect = {};
        };

         

        $scope.openItemEquipManagement = function (mItemData) { 

            $scope.resetItemEquip(); 
            $scope.CreatetempIQCEquipmentId = angular.copy(mItemData);
            $scope.showQMS_MA_IQC_ITEM_NAME = $scope.CreatetempIQCEquipmentId.ITEM_NAME;


            if($scope.CreatetempIQCEquipmentId.ID > 0 ){

                var urlName = get_base_url("InternalQualityControl/GetListQMS_MA_IQC_ITEMEQUIPById");     
                var jsonData = {
	                    "id":  $scope.CreatetempIQCEquipmentId.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                        $scope.listIQCItemEquip = response.data.message; 
                        
                }); 
            }

            $(".itemequip-modal-lg").modal('show').on('shown.bs.modal', function (e) {
                 $scope.ShowItemEquip = true;
                 $scope.resetItemEquip();                
            });
       };


        $scope.initialData = function(){
            
            $scope.CreatetempIQCItemId = {};
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
  

            $scope.listIQCItem.forEach(function(entry) {
		    	if($scope.createModel.ITEM_ID  == entry.ID){  
		    		$scope.CreatetempIQCItemId =  entry;
		    		return false;
		    	}
			}); 

            if($scope.createModel.ID > 0 ){

                var urlName = get_base_url("InternalQualityControl/GetCreateQMS_MA_IQC_ITEMById");     
                var jsonData = {
	                    "id":  $scope.createModel.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                        $scope.createModel = response.data.message; 
                        
                }); 
            }


        }

        $scope.saveData = function () {   
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_ITEM");            
            var valid = true;
            
            
             
            if( $scope.createModel.ITEM_ID == null 
                || $scope.createModel.ITEM_ID == ""
                || $scope.createModel.ITEM_ID  == "undefined"
                || $scope.createModel.ITEM_NAME == null 
                || $scope.createModel.ITEM_NAME == ""
                || $scope.createModel.ITEM_NAME  == "undefined"
                ){ 
                          valid = false;   
            } 
 
 
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     
                    if(response.data.result == 1){
                        $scope.loadIQCItem();
                        $scope.showDeviceData();
                    }else{ 
                         Fact.showMessage(response.data.message);
                    }
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       }         
        
       
         $scope.saveItemEquipData = function (CreatetempIQCEquipmentId) {   
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_ITEMEQUIP");            
            var valid = true;
            $scope.createItemEquipModel.ITEM_ID = $scope.createModel.ID;

            if( $scope.createItemEquipModel.EQUIP_ID == null 
                || $scope.createItemEquipModel.EQUIP_ID == ""
                || $scope.createItemEquipModel.EQUIP_ID  == "undefined"         
                ){ 
                          valid = false;   
            } 
            
//            console.log("$scope.createItemEquipModel", $scope.createItemEquipModel );
            
            if(true == valid){ 
                var jsonData = $scope.createItemEquipModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     
                    if(response.data.result == 1){
                        $scope.clearItemEquipData();
                        $scope.loadIQCItemEquip();
                    }else{ 
                         Fact.showMessage(response.data.message);
                    }
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       } 

        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("InternalQualityControl/GetQMS_MA_IQC_ITEMBySearch"));
            Fact.setDelelteUrl(get_base_url("InternalQualityControl/DeleteQMS_MA_IQC_ITEM"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadIQCItem();
        }

        $scope.init();

    });
    
   function getListIQCItemEquip(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listIQCItemEquip)); 
        return lstData; 
    }

    function getListIQCEquipment(){
        var lstData = @Html.Raw(Json.Encode(listIQCEquipment)); 
        return lstData; 
    }
    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchIQCItem)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }
        

     function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_IQC_ITEM)); 
        return lstData; 
    }

    function getCreateQMS_MA_IQC_ITEMEQUIP(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_IQC_ITEMEQUIP));
        return lstData; 
    }
     
</script>