﻿@{
    var searchIQCFormula = ViewBag.searchIQCFormula as QMSSystem.Model.IQCFormulaSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;


    var createQMS_MA_IQC_FORMULA = ViewBag.createQMS_MA_IQC_FORMULA as QMSSystem.Model.CreateQMS_MA_IQC_FORMULA;
    var listIQCItem = ViewBag.listIQCItem as List<QMSSystem.Model.ViewQMS_MA_IQC_ITEM>;
    
    var listIQCMethod = ViewBag.listIQCMethod as List<QMSSystem.Model.ViewQMS_MA_IQC_METHOD>;
    var createQMS_MA_IQC_METHOD = ViewBag.createQMS_MA_IQC_METHOD as QMSSystem.Model.CreateQMS_MA_IQC_METHOD;

    
    
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class=""> 
           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.IQCMasterFormula</h3>
                     <div class="clearfix"></div> 
                </div>
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
           
           <div class="row" ng-show="showList">
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                     <div class="x_panel"> 
                          <div class="x_title">
                                <span ng-click="showIQCFormulaSearch()" class="btn btn-primary" style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                               <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                <span class="btn btn-primary "  my-confirm-click="delIQCFormula()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                          </div>  
                          <div class="x_content  tblResult " style="display:none;" >
                               <div class="form-horizontal form-label-left" ng-show="showSearch"> 
                                 <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.FormulaID 
                                       </label>
                                       <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select
					                                ng-model="tempIQCMethodId"
					                                chosen="{inherit_select_classes: true}"   
                                                    @*ng-change="loadIQCFormula()"*@                                                    
					                                ng-options="item.METHOD_NAME  for item in listIQCMethod" >
					                                <option value=""></option>
				                                </select>
                                        </div> 
                                  </div> 
                                  <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.FormulaRev 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                             <input type="text" ng-model="mSearch.FORMULA_REV"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                   </div>       
                                  <div class="form-group">
                                       <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.FormulaProduct 
                                       </label>
                                       <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select
					                                ng-model="tempIQCItemId"
					                                chosen="{inherit_select_classes: true}"   
                                                    @*ng-change="loadIQCFormula()"*@                                                    
					                                ng-options="item.ITEM_NAME  for item in listIQCItem" >
					                                <option value=""></option>
				                                </select>
                                        </div> 
                                  </div>                                                    
                                  <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                             <input type="text" ng-model="mSearch.FORMULA_DESC"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                   </div>                                
                                   <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <button type="button" class="btn btn-primary" ng-click="loadIQCFormula()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                            <button type="button" class="btn btn-primary" ng-click="clearIQCFormula()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                            <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                   <div class="ln_solid"></div>
                               </div>
                               <table class="table table-bordered" >
                                      <thead>                                            
                                             <tr>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">
                                                      <input type="checkbox" ng-model="AllIQCFormula" ng-change="SelectAllCheck()" >
                                                  </th>
                                                  <th class="sorting custom_textbox_150" ng-click="sort($event)" sort="FORMULA_DESC">Rev.</th>
                                                  <th class="sorting_desc custom_textbox_100" ng-click="sort($event)" sort="METHOD_ID">Formula</th> 
                                                  <th class="sorting custom_textbox_100" ng-click="sort($event)" sort="FORMULA_PROD">Item</th> 
                                                  <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="ACTIVE_DATE">Active</th>
                                                  <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="EXPIRE_DATE">Expire</th>                                             
                                                  <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="FORMULA_UCL">UCL</th>
                                                  @*<th class="sorting custom_textbox_50" ng-click="sort($event)" sort="FORMULA_UWL">UWL</th>*@
                                                  <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="FORMULA_AVG">AVG</th>
                                                  @*<th class="sorting custom_textbox_50" ng-click="sort($event)" sort="FORMULA_LWL">LWL</th>*@
                                                  <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="FORMULA_LCL">LCL</th>
                                                  @*<th class="sorting custom_textbox_150" ng-click="sort($event)" sort="FORMULA_DESC">Description</th>*@
                                                  <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th> 
                                             </tr>
                                      </thead>
                                      <tbody>
                                              <tr ng-repeat="mIQCFormula in listIQCFormula" >
                                                  <td><input type="checkbox" ng-model="mIQCFormula.ITEM_SELECTED" /></td>
                                                  <td>{{mIQCFormula.FORMULA_REV}}</td>
                                                  <td>{{mIQCFormula.METHOD_NAME}}</td>
                                                  <td>{{mIQCFormula.FORMULA_PRODNAME}}</td>
                                                  <td>{{mIQCFormula.ACTIVE_DATE|showdateformat}} </td>
                                                  <td>{{mIQCFormula.EXPIRE_DATE|showdateformat}} </td>
                                                  <td>{{mIQCFormula.FORMULA_UCL}}</td>
                                                  @*<td>{{mIQCFormula.FORMULA_UWL}}</td>*@
                                                  <td>{{mIQCFormula.FORMULA_AVG}}</td>
                                                  @*<td>{{mIQCFormula.FORMULA_LWL}}</td>*@
                                                  <td>{{mIQCFormula.FORMULA_LCL}}</td>
                                                  @*<td>{{mIQCFormula.FORMULA_DESC}}</td>*@                                                 
                                                  <td><i class="fa fa-edit set-pointer"  ng-click="editData(mIQCFormula)"></i></td>
                                              </tr>
                                      </tbody>                                      
                              </table>
                          </div>
                          <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->
                     </div> 
                </div> 
           </div> 


         <div class="row" ng-show="showDevice"  >
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                          <div class="x_title">
                              <div class="row text_align_right" >
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <span class="btn btn-primary " ng-click="showDeviceData()" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                              </div>
                              <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 
                               <div  class="form-horizontal form-label-left" >
                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaRev <span class="required"></span></label>
                                          <div class="col-md-10 col-sm-10 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_REV"  class="form-control col-md-7 col-xs-12" >
                                          </div>                                          
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaID <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select
					                                ng-model="CreatetempIQCMethodId"
					                                chosen="{inherit_select_classes: true}"                                         
					                                ng-options="item.METHOD_NAME  for item in listIQCMethod" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                                </select>
                                          </div> 
                                          <div class="col-md-1 col-sm-1 col-xs-12" style="text-align:left;"> 
                                              <span  ng-click="openMethodManagement()" ><i class="fa fa-plus"></i> </span>
                                          </div>
                                         
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaSTD <span class="required"></span></label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_STD"  class="form-control col-md-7 col-xs-12" >
                                          </div>                                          
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaProduct </label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                                <select
					                                ng-model="CreatetempIQCItemId"
					                                chosen="{inherit_select_classes: true}"                                         
					                                ng-options="item.ITEM_NAME  for item in listIQCItem" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                                </select>
                                          </div> 
                                     </div> 
                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.SampleFile <span class="required"></span></label>
                                          <div class="col-md-5 col-sm-5 col-xs-12">
                                               <input type="text" ng-model="createModel.FILE_NAME"  class="form-control col-md-8 col-xs-12" readonly>
                                          </div>                                         
                                             <div class="col-md-2 col-sm-2 col-xs-12"  ngf-select="upload($file)" ng-model="file" name="file" ngf-pattern="'.xls,.csv,.xlsx'"
                                        ngf-accept="'.xls,.csv,.xlsx'" ngf-max-size="2048MB" ngf-min-height="100"  ><span class="btn btn-primary" >@Resources.Strings.SelectFile</span> 
                                        
                                        </div> 
                                       
                                          <div class="col-md-1 col-sm-1 col-xs-12" style="text-align:left;"> 
                                             <!-- <span  ng-click="downloadExcel()" ><i class="fa fa-download"></i> </span>-->
                                             
                                             
                                                <span  ng-click="download()" ><i class="fa fa-download"></i> </span>
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaSample <span class="required"></span></label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_SAMPLE"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div> 

                                     

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaUp </label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_UP"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaUCL <span class="required"></span></label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_UCL"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Pattern </label>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                               <input type="text" ng-model="createModel.UCL_PATTERN"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaUWL <span class="required"></span></label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_UWL"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Pattern </label>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                               <input type="text" ng-model="createModel.UWL_PATTERN"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaAVG <span class="required"></span></label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_AVG"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Pattern </label>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                               <input type="text" ng-model="createModel.AVG_PATTERN"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaLWL <span class="required"></span></label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_LWL"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Pattern </label>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                               <input type="text" ng-model="createModel.LWL_PATTERN"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaLCL <span class="required"></span></label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_LCL"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Pattern </label>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                               <input type="text" ng-model="createModel.LCL_PATTERN"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div> 

                                     <div class="form-group">                                          
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FormulaLow </label>
                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                               <input type="text" ng-model="createModel.FORMULA_LOW"  class="form-control col-md-7 col-xs-12" >
                                          </div>
                                     </div>
                                     <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ActiveDate </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input type="text" class="form-control"   ng-model="TempActiveDate"   data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker class="form-control col-md-7 col-xs-12"> 
                                        </div> 
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExpireDate </label>
                                        <div class="col-md-2 col-sm-2 col-xs-12">
                                            <input type="text" class="form-control"   ng-model="TempExpireDate"  data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker class="form-control col-md-7 col-xs-12"> 
                                        </div>
                                    </div>                                                                                                              
                                     <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea ng-model="createModel.FORMULA_DESC" rows="3" class="form-control" maxlength="250" name="message" >
                                            </textarea>
                                        </div>
                                     </div>
                                </div>  

                                       
                          </div>

                             <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->

                     </div>
                </div>
           </div> 
      
      </div>


      
        <!-- Method modal -->
        <div class="modal fade email-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
             <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                       <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel">Method Management</h4>
                       </div>
                       <div class="modal-body">
                            <div class="col-md-12">
                                 <span class="btn btn-primary" my-confirm-click="delMethodData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                 <br><br>
                                 <table class="table table-bordered"  >
                                        <thead style="width:100%;">
                                                <tr>
                                                    <th class="col-md-1 col-sm-1 col-xs-1">
                                                        <input type="checkbox" ng-model="AllMethodSelected" ng-change="SelectAllMethodCheck()" >  
                                                    </th>
                                                    <th>Id</th>
                                                    <th>Method</th>
                                                    <th>@Resources.Strings.Tools</th>
                                                </tr>
                                        </thead>
                                        <tbody style="width:100%;">
                                                <tr ng-form="myQMS_MA_IQC_METHOD" ng-show="ShowMethod">
                                                    <td></td>
                                                    <td>
                                                        <input type="text" name="QMS_MA_IQC_METHOD_ID" ng-model="createQMS_MA_IQC_METHOD.METHOD_ID" maxlength="20" class="form-control" required > 
                                                    </td>
                                                    <td>
                                                        <input type="text" name="QMS_MA_IQC_METHOD_NAME" ng-model="createQMS_MA_IQC_METHOD.METHOD_NAME" maxlength="100" class="form-control" required > 
                                                    </td>                                                    
                                            
                                                    <td><span  ng-click="saveQMS_MA_IQC_METHOD()"  ><i class="fa fa-save" title="@Resources.Strings.Save"></i></span>
                                                    </td>
                                                </tr>
                                                <tr ng-repeat="mMethodData in listIQCMethod" ng-include="getMethodTemplate(mMethodData)"></tr>
                                        </tbody>
                                 </table>
                            </div>                     
                       </div>
                       <div class="modal-footer"> </div>  
                  </div>
             </div>
        </div>
        <!-- end Method modal -->


        <!-- Template Method -->
        <script type="text/ng-template" id="displayMethod">
                <td align="center"><input type="checkbox" ng-model="mMethodData.ITEM_SELECTED" /></td>
                <td>{{ mMethodData.METHOD_ID }}</td>
                <td>{{ mMethodData.METHOD_NAME }}</td>
                <td align="center">
                    <span ng-click="editMethod(mMethodData)" ><i   class="fa fa-edit set-pointer" title="@Resources.Strings.Edit"></i></span>
                </td>
        </script>
        <script type="text/ng-template" id="editMethod">
            <td align="center"><input type="checkbox" ng-model="mMethodData.ITEM_SELECTED" /></td>
            <td><input type="text" class="form-control" ng-model="mMethodData.METHOD_ID" /></td>
            <td><input type="text" class="form-control" ng-model="mMethodData.METHOD_NAME" /></td>

            <td align="center">
                <span  ng-click="saveEditQMS_MA_IQC_METHOD(mMethodData)" ><i class="fa fa-save set-pointer" title="@Resources.Strings.Save"></i></span>
                <span  ng-click="resetMethod()" ><i class="fa fa-undo set-pointer" title="@Resources.Strings.Cancel"></i></span>
            </td>
        </script>
        <!-- Template Method -->


</div>



<script type="text/javascript">

    app.controller('myCtrl', function ($scope,Upload, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempIQCMethodId;
        $scope.tempIQCItemId;
        $scope.CreatetempIQCMethodId;
        $scope.CreatetempIQCItemId; 
        $scope.listIQCItem = getListIQCItem();
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.tempIQCMethodId;
        $scope.CreatetempIQCMethodId;
        $scope.listIQCMethod = getListIQCMethod();
        //$scope.listIQCMethod; // listdata
        $scope.AllIQCMethod;
        //$scope.listMethod;
        $scope.AllMethodSelected = false;
        $scope.ShowMethod = true;
        $scope.listMethodSelect = {};
        $scope.tempMethodId;
        $scope.createQMS_MA_IQC_METHOD = getCreateQMS_MA_IQC_METHOD();
        $scope.SelectAllMethodCheck = function () { Fact.SelectAllCheck($scope.listIQCMethod, $scope.AllMethodSelected) }
        $scope.file=null;
        $scope.pathFile= '@System.Configuration.ConfigurationManager.AppSettings["IQC_FORMULA_FILES"]'.replace("~/", "");;
  
        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('ID');
        $scope.SortOrder = Fact.setSortOrder('asc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listIQCFormula;
        $scope.AllIQCFormula; //checkbox




        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
       

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;


        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listIQCFormula, $scope.AllIQCFormula) }
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadIQCFormula();
        }


        $scope.clearIQCFormula = function() {          
               $scope.mSearch = getSearchModel(); 
               $scope.tempIQCMethodId = {};
               $scope.tempIQCItemId = {};
               $scope.mSearch.METHOD_ID = null;
               $scope.mSearch.FORMULA_REV = null;
               $scope.mSearch.FORMULA_PROD = null;
               $scope.mSearch.FORMULA_DESC = null;
               $scope.loadIQCFormula();
        } 

        $scope.clearMethodData = function() {  
               $scope.createMethodModel = {}
               $scope.createMethodModel.METHOD_ID = null
               $scope.createMethodModel.METHOD_NAME = null
               
        } 

        $scope.showAddMethod = function(){  $scope.showMethod = true; }
        $scope.closeAddMethod = function() { $scope.showMethod = false; }

        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showIQCFormulaSearch = function(){  $scope.showSearch = true; /*$("#searchIQCFormula").modal('show');*/}
        $scope.closeIQCFormulaSearch = function() { $scope.showSearch = false; }
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        
        $scope.getIQCFormulaSearch = function()
        {
           // $("#searchIQCFormula").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadIQCFormula();
        }

        $scope.downloadExcel = function (){
            var urlName = get_base_url("InternalQualityControl/DownloadFile"); 
//                
              Fact.saveDataCallback(urlName, {m_dtFile:$scope.createModel.FILE_NAME}, function (response) {  
                
                      if(response.data.result == true){
                        var link = document.createElement('a');
                                link.target = "_black";
                                link.href = response.data.message;  
                                link.click();          
                   
                      }
                    
                });        
    
        }
         $scope.download = function (){
                if($scope.createModel.FILE_NAME!= ""){
                 var link = document.createElement('a');
                 link.target = "_black";
                 link.href = $scope.pathFile+$scope.createModel.FILE_NAME;  
                 link.click();   
                }
                       
                   
          
    
        }
          $scope.upload = function (file) {
          console.log(file)
//            if ($scope.form.file.$valid && $scope.file) {
//                console.log("valid");
//            }
           
            Upload.upload({
                url: 'Files/SaveFileAttachIQCFormula',
                data: { file: file, 'FileName':file.name,'QMS_MA_IQC_METHOD_ID': $scope.createModel.ID}
            }).then(function (resp) { 
                 
              
               if(resp.status == 200){
                if(resp.data.result == "Success"){
                 $scope.createModel.FILE_NAME = resp.data.message ;
                }
               }
      

               

            }, function (resp) {
                console.log('Error status: ' + resp.status);
            }, function (evt) {
                var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
            });
        };


        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadIQCFormula(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadIQCFormula(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadIQCFormula(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadIQCFormula(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadIQCFormula(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadIQCFormula(); }

        $scope.loadIQCFormula = function () { 
            
            if(typeof $scope.tempIQCMethodId !== "undefined")
                $scope.mSearch.METHOD_ID = $scope.tempIQCMethodId.ID;
            if(typeof $scope.tempIQCItemId !== "undefined")
                $scope.mSearch.FORMULA_PROD = $scope.tempIQCItemId.ID;
            
            console.log("mSearch",$scope.mSearch);
                       
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listIQCFormula = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delIQCFormula = function(){
            Fact.deleteMultiData($scope.listIQCFormula, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadIQCFormula(); });
        }

        $scope.createModel = getCreateModel();

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchIQCFormula").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
            
            $scope.CreatetempIQCMethodId = {};
            $scope.CreatetempIQCItemId = {};
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            $scope.file = null;
            console.log("initial", $scope.createModel );
           

            $scope.listIQCMethod.forEach(function(entry) {
		    	if($scope.createModel.METHOD_ID  == entry.ID){  
		    		$scope.CreatetempIQCMethodId =  entry; 
                    
		    		return false;
		    	}
			}); 

            $scope.listIQCItem.forEach(function(entry) {
		    	if($scope.createModel.FORMULA_PROD  == entry.ID){  
		    		$scope.CreatetempIQCItemId =  entry; 
		    		return false;
		    	}
			}); 

            console.log("$scope.createModel", $scope.createModel );


            if($scope.createModel.ID > 0 ){

                var urlName = get_base_url("InternalQualityControl/GetCreateQMS_MA_IQC_FORMULAById");     
                var jsonData = {
	                    "id":  $scope.createModel.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                        $scope.createModel = response.data.message; 
                        
                }); 
            }

           $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
           $scope.TempExpireDate = Fact.getDateFromDoubleEx($scope.createModel.EXPIRE_DATE);
        }

        $scope.saveData = function () {   
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_FORMULA");            
            var valid = true;

            if( typeof $scope.CreatetempIQCMethodId !== "undefined"  && typeof $scope.CreatetempIQCMethodId.ID !== "undefined" ){
                $scope.createModel.METHOD_ID = $scope.CreatetempIQCMethodId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.CreatetempIQCItemId !== "undefined"  && typeof $scope.CreatetempIQCItemId.ID !== "undefined" ){
                $scope.createModel.FORMULA_PROD = $scope.CreatetempIQCItemId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.TempActiveDate;
            }else{
                $scope.createModel.ACTIVE_DATE  = null;
                valid = false;
            }  
            if( typeof $scope.TempExpireDate !== "undefined"  && $scope.TempExpireDate !== null ){
                $scope.createModel.EXPIRE_DATE =$scope.TempExpireDate;
            }else{
                $scope.createModel.EXPIRE_DATE  = null;
                valid = false;
            }  
             
            if( $scope.createModel.METHOD_ID == null 
                || $scope.createModel.METHOD_ID == ""
                || $scope.createModel.METHOD_ID  == "undefined"
                || $scope.createModel.FORMULA_PROD == null 
                || $scope.createModel.FORMULA_PROD == ""
                || $scope.createModel.FORMULA_PROD  == "undefined"               
                ){ 
                          valid = false;   
            } 
 


            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     
                    if(response.data.result == 1){
                        $scope.loadIQCFormula();
                        $scope.showDeviceData();
                    }else{ 
                         Fact.showMessage(response.data.message);
                    }
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       }         
        

         $scope.saveQMS_MA_IQC_METHOD = function () { 
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_METHOD");
            var jsonData = $scope.createQMS_MA_IQC_METHOD;            
            if($scope.myQMS_MA_IQC_METHOD.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.createQMS_MA_IQC_METHOD = getCreateQMS_MA_IQC_METHOD(); $scope.loadActiveMethod();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveEditQMS_MA_IQC_METHOD = function (jsonData) { 
            
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_METHOD");
            Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.ShowMethod = true; $scope.createQMS_MA_IQC_METHOD = getCreateQMS_MA_IQC_METHOD(); $scope.loadActiveMethod();  });
        }
         
        $scope.loadActiveMethod = function(){ $scope.resetMethod(); Fact.loadAllMethod(function (response){  $scope.listIQCMethod = response.data.message;  });  }
        $scope.loadActiveMethodCallBack = function(callback){ $scope.resetMethod(); Fact.loadAllMethod(function (response){  $scope.listIQCMethod = response.data.message; callback(response); });  }
         
        $scope.delMethodData = function(){
            var urlName = get_base_url("InternalQualityControl/DeleteQMS_MA_IQC_METHOD");
            Fact.deleteMultiDataEx(urlName, $scope.listIQCMethod, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveMethod(); });
        }

        $scope.getMethodTemplate = function (mMethodData) { 
            if (mMethodData.ID === $scope.listMethodSelect.ID) return 'editMethod';
                 else return 'displayMethod';
        };

        $scope.editMethod = function (mMethodData) {
            $scope.ShowMethod = false;
            $scope.listMethodSelect = angular.copy(mMethodData);
        };

        $scope.resetMethod = function () {
            $scope.ShowMethod = true;
            $scope.createQMS_MA_IQC_METHOD = getCreateQMS_MA_IQC_METHOD();

            if(null != $scope.listIQCMethod){
                $scope.listIQCMethod.forEach(function(entry) { 
		    	    if($scope.listMethodSelect.ID == entry.ID){ 
		    		    entry.NAME = $scope.listMethodSelect.NAME;
		    	    } 
			    });
            }


            $scope.listMethodSelect = {};
        };

        $scope.openMethodManagement = function () { 
            $scope.resetMethod(); 
            $(".email-modal-lg").modal('show').on('shown.bs.modal', function (e) {
                 $scope.ShowMethod = true;
                 $scope.resetMethod();
            });
       };

         $scope.saveMethodData = function () {   
            var urlName = get_base_url("InternalQualityControl/CreateQMS_MA_IQC_METHOD");            
            var valid = true;

            if( $scope.createMethodModel.METHODE_ID == null 
                || $scope.createMethodModel.METHODE_ID == ""
                || $scope.createMethodModel.METHODE_ID  == "undefined"
                || $scope.createMethodModel.METHODE_NAME == null 
                || $scope.createMethodModel.METHODE_NAME == ""
                || $scope.createMethodModel.METHODE_NAME  == "undefined"    
                ){ 
                          valid = false;   
            } 
            
        
            if(true == valid){ 
                var jsonData = $scope.createMethodModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     
                    if(response.data.result == 1){
                        //$scope.loadIQCMailAlert();
                        $scope.clearMethodData();
                        $scope.loadIQCMethod();
                        //$scope.showDeviceData();
                    }else{ 
                         Fact.showMessage(response.data.message);
                    }
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       }   
        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("InternalQualityControl/GetQMS_MA_IQC_FORMULABySearch"));
            Fact.setDelelteUrl(get_base_url("InternalQualityControl/DeleteQMS_MA_IQC_FORMULA"));
            Fact.setSearchModel( getSearchModel() );

            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});
            Fact.setSortIcon();
            $scope.loadIQCFormula();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchIQCFormula)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }
        

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_IQC_FORMULA)); 
        return lstData; 
    }
     
   
    function getListIQCItem(){
        var lstData = @Html.Raw(Json.Encode(listIQCItem)); 
        return lstData; 
    }

    function getCreateQMS_MA_IQC_METHOD(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_IQC_METHOD));
        return lstData; 
    }

    function getListIQCMethod(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listIQCMethod)); 
        return lstData; 
    }
</script>