﻿@{
    
    var createQMS_TR_CHANGE_GRADE = ViewBag.createQMS_TR_CHANGE_GRADE as QMSSystem.Model.CreateQMS_TR_CHANGE_GRADE;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
    var listDocStatus = ViewBag.listDocStatus as List<SelectListItem>;
    var listFromGrade = ViewBag.listFromGrade as List<QMSSystem.Model.ViewQMS_MA_GRADE>;
    var listToGrade = ViewBag.listToGrade as List<QMSSystem.Model.ViewQMS_MA_GRADE>;
    var volumeSearch = ViewBag.volumeSearch as QMSSystem.Model.VoulmeEXQSearchModel;
    
}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.ChangeGrade @ViewBag.ActionName</h3>             
               </div>
               <div class="clearfix"></div> 
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            
             
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">                 
                               <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <a href="~/ChangeGrade/ListManageChangeGrade">
                                      <span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                   </a>                    
                              </div>
                              <div class="clearfix"></div>                                
                         </div>
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="tempPlantId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listPlant" 
                                                    ng-change="loadGrade()"
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.DocStatus <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="tempDocStatusId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.Text  for item in listDocStatus"  
                                                    class="chosen_required">				                              
					                                <option value=""></option>
				                            </select>
                                        </div>
                                   </div>                                  
                                   
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Product <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="tempProductId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listProduct" 
                                                    ng-change="loadGrade()"
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.FROMGRADE <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12"> 
                                            <select disabled=disabled
					                                ng-model="tempFromGradeId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listFromGrade" 
                                                    ng-change="setNewListGrade()"
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.TOGRADE <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="tempToGradeId"
					                                chosen="{inherit_select_classes: true}"
					                                ng-options="item.NAME  for item in listToGrade" 
                                                    class="chosen_required">			                              
					                                <option value=""></option>
				                            </select>
                                        </div>
                                   </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempStartDate" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempEndDate" data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker required> 
                                        </div>
                                   </div> 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempStartDate" data-time-format="HH:mm" data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempEndDate" data-time-format="HH:mm"  data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>
                                   </div>
                                    <div class="form-group">                                                                                 
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Volume (@Resources.Strings.Ton)<span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <input type="text" ng-model="createModel.VOLUME"  class="form-control col-md-7 col-xs-12" number-only-input required>
                                        </div>
                                        <div class="col-md-2 col-sm-2 col-xs-12" style="text-align:left;">
                                             <span class="btn btn-primary" ng-click="loadVolume()"><i class="fa fa-calculator"></i> @Resources.Strings.AutoloadVolume</span>
                                        </div>
                                   </div>                                  
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>                                          
                                        <div class="col-md-8 col-sm-8 col-xs-12" style="text-align:right;">
                                             <textarea ng-model="createModel.CAUSE_DESC" 
                                                        rows="3" class="form-control" maxlength="150" name="message" >
                                             </textarea>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="x_content" ng-show="createModel.ID">
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
                                   <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                               </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
	                               <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                               </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();
        $scope.TempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
        $scope.TempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
 
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempProductId;
        $scope.listProduct = getListProduct();
        $scope.tempDocStatusId;
        $scope.listDocStatus = getListDocStatus();        
        $scope.tempFromGradeId;
        $scope.listFromGrade = getListFromGrade();
        $scope.tempToGradeId;
        $scope.listToGrade = getListToGrade();
        $scope.GRADE_FROM_NAME = "";


        $scope.mVolumeSearch = getVolumeSearchModel();
        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
         
        $scope.saveData = function () {   
            var urlName = get_base_url("ChangeGrade/CreateQMS_TR_CHANGE_GRADE");            
            var valid = true;


            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempProductId !== "undefined"  && typeof $scope.tempProductId.ID !== "undefined" ){
                $scope.createModel.PRODUCT_ID = $scope.tempProductId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempDocStatusId !== "undefined"  && typeof $scope.tempDocStatusId.Value !== "undefined" ){
                $scope.createModel.DOC_STATUS = $scope.tempDocStatusId.Value;
            }else{
                valid = false;
            }                        
            if( typeof $scope.TempStartDate !== "undefined"  && $scope.TempStartDate !== null ){
                $scope.createModel.START_DATE =$scope.TempStartDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.TempEndDate !== "undefined"  && $scope.TempEndDate !== null ){
                $scope.createModel.END_DATE =$scope.TempEndDate;
            }else{
                valid = false;
            } 
            if( typeof $scope.tempFromGradeId !== "undefined"  && typeof $scope.tempFromGradeId.ID !== "undefined" ){
                $scope.createModel.GRADE_FROM = $scope.tempFromGradeId.ID;
            }else{
                valid = false;
            }
            if( typeof $scope.tempToGradeId !== "undefined"  && typeof $scope.tempToGradeId.ID !== "undefined" ){
                $scope.createModel.GRADE_TO = $scope.tempToGradeId.ID;
            }else{
                valid = false;
            }
            if( typeof $scope.createModel.VOLUME !== "undefined"  
                && $scope.createModel.VOLUME !== null 
                && parseFloat($scope.createModel.VOLUME) > 0
                && $scope.TempEndDate >= $scope.TempStartDate
                && $scope.tempToGradeId.ID !== $scope.tempFromGradeId.ID 
            ){
                
            }else{
                valid = false;
            } 


            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     if(response.data.result == 1){
                         var url =  get_base_url("ChangeGrade/ListManageChangeGrade");
                         Fact.loadtoList(url); 
//                         Fact.showMessage(response.data.message); 
//                         $scope.createModel = response.data.model;
//                         $scope.createModel.ID = response.data.dataId;
                    }else{
                        Fact.showMessage(response.data.message); 
                    }  
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                 

                if ($scope.createModel.VOLUME == 0){
                    Fact.showMessage("@Resources.Strings.VolumeAlert");
                }else if(  $scope.TempEndDate >= $scope.TempStartDate){
                    Fact.showMessage("@Resources.Strings.PleaseInputData");
                }else{
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
                }
            } 
        } 

        $scope.loadVolume = function () {  
            var valid = true;
            var urlName = get_base_url("Report/getVolumeByVoulmeEXQSearch");
             

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.mVolumeSearch.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempProductId !== "undefined"  && typeof $scope.tempProductId.ID !== "undefined" ){
                $scope.mVolumeSearch.PRODUCT_ID = $scope.tempProductId.ID; 
            }else{
                valid = false;
            }

            if( typeof $scope.TempStartDate !== "undefined"  && $scope.TempStartDate !== null ){
                $scope.mVolumeSearch.START_DATE =$scope.TempStartDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.TempEndDate !== "undefined"  && $scope.TempEndDate !== null ){
                $scope.mVolumeSearch.END_DATE =$scope.TempEndDate;
            }else{
                valid = false;
            }

            if(true == valid){ 

                if($scope.mVolumeSearch.START_DATE > $scope.mVolumeSearch.END_DATE){
                     Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }
                
                Fact.loadlistData(urlName, $scope.mVolumeSearch, function(response){ 
                    try{
                         $scope.createModel.VOLUME = response.data.message; 
                        //console.log(response);
                    }catch(e){

                    }  
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 
        } 


        $scope.loadGrade = function(){ 
           
           var valid = true;
           var dtPLANT_ID = 0;
           var dtPRODUCT_ID = 0;
           
            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                dtPLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempProductId !== "undefined"  && typeof $scope.tempProductId.ID !== "undefined" ){
                dtPRODUCT_ID = $scope.tempProductId.ID; 
            }else{
                valid = false;
            }

            if(valid){
                var urlName = get_base_url("ChangeGrade/GetChangeGradeList");
             
                var jsonData = {
	                    PLANT_ID: dtPLANT_ID,
                        PRODUCT_ID: dtPRODUCT_ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{ 
                        $scope.listToGrade = response.data.message;
                        $scope.tempToGradeId = {};

                        $scope.createModel.GRADE_FROM = response.data.default_grade.GRADE_ID;
                        $scope.GRADE_FROM_NAME = response.data.default_grade.GRADE_NAME;

                        $scope.listFromGrade.forEach(function(entry) {
		    	            if($scope.createModel.GRADE_FROM  == entry.ID){  
		    		            $scope.tempFromGradeId =  entry; 
		    		            return false;
		    	            } 
			            });
                    }catch(e){
                    
                    }
                }); 
            }else{
                 $scope.createModel.GRADE_FROM = 0;
                 $scope.GRADE_FROM_NAME = "";
            }
        }

         $scope.setNewListGrade = function(){ 
           

            var urlName = get_base_url("ChangeGrade/GetChangeGradeListByNotinId");
             
            var jsonData = {
	                "FromGradeId": $scope.tempFromGradeId.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                    $scope.listToGrade = response.data.message; 
                    //reset 
                    $scope.tempToGradeId = {};
                }catch(e){
                    
                }
            }); 
        }

        $scope.init = function () { 
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempPlantId =  entry; 
		    		return false;
		    	} 
			}); 
            $scope.listProduct.forEach(function(entry) {
		    	if($scope.createModel.PRODUCT_ID  == entry.ID){  
		    		$scope.tempProductId =  entry; 
		    		return false;
		    	} 
			});                       
            $scope.listDocStatus.forEach(function(entry) {
		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
		    		$scope.tempDocStatusId =  entry; 
		    		return false;
		    	} 
			});
            $scope.listFromGrade.forEach(function(entry) {
		    	if($scope.createModel.GRADE_FROM  == entry.ID){  
		    		$scope.tempFromGradeId =  entry; 
		    		return false;
		    	} 
			});
            $scope.listToGrade.forEach(function(entry) {
		    	if($scope.createModel.GRADE_TO  == entry.ID){  
		    		$scope.tempToGradeId =  entry; 
		    		return false;
		    	} 
			});
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_TR_CHANGE_GRADE)); 
        return lstData; 
    }

     function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }

    function getListDocStatus(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDocStatus)); 
        return lstData; 
    }
        

    function getListFromGrade(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listFromGrade)); 
        return lstData; 
    }

    function getListToGrade(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listToGrade)); 
        return lstData; 
    }

    function getVolumeSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(volumeSearch)); 
        return lstData; 
    }

</script>
