﻿@{
    var listControlGroup = ViewBag.listControlGroup as List<QMSSystem.Model.ViewQMS_MA_CONTROL>;
    var listTemplateCOADetail = ViewBag.listTemplateCOADetail as List<QMSSystem.Model.ViewQMS_TR_TEMPLATE_COA_DETAIL>;
    var coaData = ViewBag.coaData as QMSSystem.Model.CreateQMS_TR_TEMPLATE_COA ;
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
            <div class="page-title">
              <div class="title_left">
                <h3>@Resources.Strings.TemplateCOA @ViewBag.ActionName</h3>
                <div class="clearfix"></div>


              </div>
            </div>

            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                     <div class="row" style="text-align:right;">              
                        <span class="btn btn-primary "  ng-click="setTrendStatus(1)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.SetOn</span>
                        <span class="btn btn-primary "  ng-click="setTrendStatus(0)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.SetOff</span>
                        <a href="~/TrendData/ListManageTrendCOA"> 
                            <span class="btn btn-primary" ><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                        </a>                    
                    </div>
                    <div class="clearfix"></div>    
                  </div>
                  <div class="x_content">

                   <div class="form-horizontal form-label-left"  >
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"  >@Resources.Strings.Customer :
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 text_left"> 
                                 @coaData.CUSTOMER_NAME
                            </label>
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Product :
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 text_left">
                                 @coaData.PRODUCT_NAME
                            </label>
                        </div> 
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-2">  
                            </label> 
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.DocStatus :
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-2 text_left"> 
                                 @coaData.DOC_STATUS_VIEW
                            </label>
                        </div> 
                        <div class="ln_solid"></div>

                    </div>

                    <div class="clearfix"></div> 
                      <table class="table table-bordered" >
                        <thead >
                            <tr>
                            <th>
                                <input type="checkbox" ng-model="AllTrendCOA" ng-change="SelectAllCheck()" >
                            </th>
                            <th>@Resources.Strings.Item</th>
                            <th>@Resources.Strings.Unit</th>
                            <th>@Resources.Strings.TrendStatus</th>
                            <th>@Resources.Strings.ControlValue</th>
                            <th>@Resources.Strings.SpecValue</th>  
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="mTrend in listTemplateCOADetail" >
                                <td><input type="checkbox" ng-model="mTrend.ITEM_SELECTED" /></td>
                                <td>{{mTrend.ITEM_NAME}}</td>   
                                <td>{{mTrend.UNIT_NAME}}</td>
                                <td ng-class="setTrendFlagClass(mTrend.TREND_GRAPH_FLAG)">{{mTrend.TREND_GRAPH_FLAG_VIEW}}</td>
                                <td class="pointer_cursor " ng-click="openControlDialog(mTrend)">{{mTrend.CONTROL_VALUE}}</td>  
                                <td>{{mTrend.SPECIFICATION}}</td>
                            </tr>
                        </tbody>
                      </table>


                  </div> 

                  <div class="x_content">
                    <div class="col-md-6 col-sm-6 col-xs-6  ">
                        <div class="title_left text_left small_font_size " >
		                    @Resources.Strings.CreateBy @coaData.CREATE_USER ( @coaData.SHOW_CREATE_DATE  )
	                    </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  ">
	                    <div class="title_right text_right small_font_size " >
	                        @Resources.Strings.UpdateBy @coaData.UPDATE_USER ( @coaData.SHOW_UPDATE_DATE )
	                    </div>
                    </div>
                </div>
                </div>

              </div>


            </div>


            <!-- Control Value modal -->
            <div class="modal fade control-value-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                 <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                           <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ControlValue</h4>
                           </div> 
                           <div class="modal-body">
                                 <div  class="form-horizontal form-label-left" >
                                     <div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                            ng-model="templistControlGroup"
					                            chosen="{inherit_select_classes: true}"   
                                                ng-change="loadControlSample()"
					                            ng-options="item.NAME  for item in listControlGroup"
                                                class="chosen_required">
					                            <option value=""></option>
				                            </select> 
                                        </div>
                                    </div><div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select 
					                            ng-model="templistControlSample"
					                            chosen="{inherit_select_classes: true}"   
                                                ng-change="loadControlItem()"
					                            ng-options="item.SAMPLE  for item in listControlSample"
                                                class="chosen_required">
					                            <option value=""></option>
				                            </select> 
                                        </div> 
                                    </div><div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select 
					                            ng-model="templistControlItem"
					                            chosen="{inherit_select_classes: true}"   
                                                ng-change="showControlItem()"
					                            ng-options="item.CONTROL_COLUMN_NAME + ' (' + item.UNIT_NAME + ')'   for item in listControlItem"
                                                class="chosen_required">
					                            <option value=""></option>
				                            </select>
                                        </div> 
                                    </div><div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ControlValue</label>
                                        <label class="control-label col-md-3 col-sm-3  col-xs-12">
                                            {{tempControlValue}}
                                        </label>
                                    </div> 
                                </div> 
                           </div> 
                           <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-primary" my-confirm-click="delControlValue()"  data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3"> 
                                        <button type="button" class="btn btn-primary" ng-click="saveControlQMS_TR_TEMPLATE_COA_DETAIL()" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                    </div>
                                </div>
                                <div class="x_content">
                                  <div class="col-md-6 col-sm-6 col-xs-6  ">
                                       <div class="title_left text_left small_font_size " >
		                                    @Resources.Strings.CreateBy {{editQMS_TR_TEMPLATE_COA_DETAIL.CREATE_USER}} ( {{editQMS_TR_TEMPLATE_COA_DETAIL.SHOW_CREATE_DATE }} )
	                                   </div>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-6  ">
	                                   <div class="title_right text_right small_font_size " >
	                                        @Resources.Strings.UpdateBy {{editQMS_TR_TEMPLATE_COA_DETAIL.UPDATE_USER}} ( {{editQMS_TR_TEMPLATE_COA_DETAIL.SHOW_UPDATE_DATE }} )
	                                   </div>
                                  </div>
                                </div>
                           </div> 
                      </div>
                 </div>
            </div>
            <!-- end Control Value modal -->

</div>

<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        $scope.listTemplateCOADetail = listTemplateCOADetail();

        $scope.listControlGroup = getListControlGroup();
        $scope.listControlSample;
        $scope.listControlItem;

        $scope.templistControlGroup; 
        $scope.tempControlValue;
        $scope.tempSampleValue;
        $scope.tempItemValue;

        $scope.editQMS_TR_TEMPLATE_COA_DETAIL;

        $scope.templistControlItem = function(){

        }

        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listTemplateCOADetail, $scope.AllTrendCOA) }

        $scope.delControlValue = function(){
            var urlName = get_base_url("TrendData/UpdateControlQMS_TR_TEMPLATE_COA_DETAIL");
            var valid = true;
 

            if(valid == true){
                $(".control-value-modal-lg").modal('hide');
                var jsonData = {
                                 id: $scope.editQMS_TR_TEMPLATE_COA_DETAIL.ID,
                                 controlid: 0,
                                 CUSTOMER_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.CUSTOMER_NAME,
                                 PRODUCT_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.PRODUCT_NAME, 
                                }
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                    $scope.listTemplateCOADetail = response.data.listTemplateCOADetail; 
                });             
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveControlQMS_TR_TEMPLATE_COA_DETAIL = function(){

            var urlName = get_base_url("TrendData/UpdateControlQMS_TR_TEMPLATE_COA_DETAIL");
            var valid = true;

            if( typeof $scope.templistControlItem !== "undefined"  && typeof $scope.templistControlItem.ID !== "undefined" ){
                $scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_ID = $scope.templistControlItem.ID;
            }else{
                valid = false;
            }

            if(valid == true){
                $(".control-value-modal-lg").modal('hide');
                var jsonData = {
                                 id: $scope.editQMS_TR_TEMPLATE_COA_DETAIL.ID,
                                 controlid: $scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_ID,
                                 CUSTOMER_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.CUSTOMER_NAME,
                                 PRODUCT_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.PRODUCT_NAME, 
                                }
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                    $scope.listTemplateCOADetail = response.data.listTemplateCOADetail; 
                });             
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.loadControlSample = function(){ 
           
            var urlName = get_base_url("ControlValue/GetSampleListByControlId");
             
            var jsonData = {
	                "controlId": $scope.templistControlGroup.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                       
                    $scope.optControl = true;
                    $scope.listControlSample = response.data.message; 
                    //reset 
                    $scope.templistControlItem = {};
                    $scope.listControlItem = {};
                    $scope.tempControlValue = "";
                }catch(e){
                    
                }
            }); 
        }
        
        $scope.loadControlItem = function(){

            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
            var jsonData = {
	                "controlId": $scope.templistControlGroup.ID,
                    "sampleId": $scope.templistControlSample.ID
                    
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                    $scope.listControlItem = response.data.message; 
                    $scope.templistControlItem = {};
                    $scope.showControlItem();
                }catch(e){
                    
                }
            }); 
        }

        $scope.setTrendFlagClass = function(item){
          if(0 == parseFloat(item)){
            return "text-danger";
          }
        }

        $scope.setTrendStatus = function(DOC_STATUS_VALUE){ 
            MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectTrendStatus";
            var urlUpdateTrend = get_base_url("TrendData/UpdateTrendStatusQMS_TR_TEMPLATE_COA_DETAIL");
            Fact.UpdateTrendDetailStatus(urlUpdateTrend,  @coaData.ID, $scope.listTemplateCOADetail, DOC_STATUS_VALUE , MSG_DOC_STATUS , function(response){ $scope.loadTrendCOADetail(response); });
        }

        $scope.loadTrendCOADetail = function (response) { 
           //console.log("loadTrendCOADetail", response); 
           $scope.listTemplateCOADetail = response.data.listData;
        } 

        $scope.showControlItem = function(){
           
            if( typeof $scope.templistControlItem !== "undefined" ){
                $scope.tempControlValue = $scope.templistControlItem.CONTROL_DATA_NAME;
            }else{
               $scope.tempControlValue = "";
            }
        }

        $scope.openControlDialog = function(data){
         
           $scope.editQMS_TR_TEMPLATE_COA_DETAIL = angular.copy(data);
            //reset 
            $scope.templistControlGroup = {};
            $scope.templistControlSample = {};
            $scope.templistControlItem = {};
            $scope.tempControlValue = "";  

            $(".control-value-modal-lg").modal('show'); 
                
            if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ID  > 0){
                $scope.listControlGroup.forEach(function(entry) {                     
                    if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ID == entry.ID){  
		    	        $scope.templistControlGroup =  entry; 
                    }
			    });
                     
                //get sample list then assign then get item list and assgin

                var urlName = get_base_url("ControlValue/GetSampleListByControlId");

                    
                var jsonData = {
	                    "controlId": $scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{  
                        $scope.optControl = true;
                        $scope.listControlSample = response.data.message;
                             
                        //reset 
                        $scope.templistControlItem = {};
                        $scope.listControlItem = {};
//                               $scope.tempControlValue = "";

                        //assign sample value 
                        $scope.listControlSample.forEach(function(entry) { 
                            if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_SMAPLE_ID== entry.ID){  
		    	                $scope.templistControlSample =  entry;
                                     
                            }
			            });


                        //load Control Item

                        var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
                                  
                        var jsonData = {
	                            "controlId": $scope.templistControlGroup.ID,
                                "sampleId": $scope.templistControlSample.ID
	                    };
                  
                        Fact.loadlistData(urlName, jsonData, function(response){ 
                            try{ 
                                $scope.listControlItem = response.data.message;
                                $scope.listControlItem.forEach(function(entry) { 
                                    if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ITEM_ID == entry.CONTROL_COLUMN_ID){  
		    	                        $scope.templistControlItem =  entry; 
                                        $scope.showControlItem();
                                    }
			                    });
                            }catch(e){
                    
                            }
                        }); 
                    }catch(e){
                    
                    }
                });
            } 
             
        }
    });
    

    
    function listTemplateCOADetail(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTemplateCOADetail)); 
        return lstData; 
    } 

    function getListControlGroup(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listControlGroup)); 
        return lstData;
    }
     
</script>