﻿@{ 
     var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.TrendGasGraphSearchModel;
     
}
  <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">              
                <h3>@Resources.Strings.LabControlChart</h3>
                <div class="clearfix"> 
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            </div>   
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                <div class="x_content">
                    <div  class="form-horizontal form-label-left controlSearch" >                             
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Category<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select
					                ng-model="tempCategory"
					                chosen  
                                    ng-change="loadWorkSheet()"
					                ng-options="item.NAME  for item in listCategory" >
					                <option value=""></option>
				                </select>
                            </div> 
                        </div><div class="form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.WorkSheet<span class="required">*</span>
                            </label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                                <select
					                ng-model="tempWorkSheet"
					                chosen   
                                    ng-change="loadItem()"
					                ng-options="item.NAME for item in listWorkSheet" >
					                <option value=""></option>
				                </select>
                            </div>
                         </div><div class="form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select
					                ng-model="tempItem"
					                chosen   
					                ng-options="item.NAME  for item in listItem" >
					                <option value=""></option>
				                </select>
                            </div>
                          </div><div class="form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Equipment </label>
                             <div class="col-md-6 col-sm-6 col-xs-12">
                                <select
					                ng-model="tempItemId1"
					                chosen   
					                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem1" >
					                <option value=""></option>
				                </select>
                            </div>
                        </div> 
                         <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.StartDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateStart"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker>  
                            </div> 
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.EndDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateEnd"   data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                            </div>
                        </div>
                     </div>
                       
                    <div class="row " style="text-align:right;">                        
                        <span class="btn btn-primary resetData controlSearch"  ng-click="clearTrendData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                        <span class="btn btn-primary  controlSearch" ng-click="GetGraphData()"  > <i class="fa fa-play"></i> @Resources.Strings.Run</span>
                        @*<span class="btn btn-primary searchData " style="display:none;"> <i class="fa fa-search"></i> @Resources.Strings.Search</span>*@
                        <span class="btn btn-primary downloadData graphData" style="display:none;"  ng-click="downloadImage()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadImage</span>
                        <span class="btn btn-primary downloadCSV graphData"  style="display:none;" ng-click="downloadCSV()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadData</span>
                    </div>
                  </div>

                  <div class="x_content graphData" style="display:none;" > 
                    <br/>
                     <div class="row" style="text-align:center;">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                  </div>
                  <div class="row graphData" style="display:none;text-align:right;">         
                    <span class="btn btn-primary" ><i class="fa fa-paper-plane"></i> Week Report</span>
                    <span class="btn btn-primary" ><i class="fa fa-paper-plane-o"></i> Month Report</span>  
                    <span class="btn btn-primary" ><i class="fa fa-file-excel-o"></i> Excel</span>               
                  </div>
                  
                </div>
              </div>

            </div>

            <div class="row graphData" style="display:none;"> 
                <div  class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Control</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <label for="Default">
                                        <input type="radio" id="Default" name="control" value="Default"checked>&nbsp;&nbsp;&nbsp;Default
                                    </label> 
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                    <label for="Manage">
                                        <input type="radio" id="Manage" name="control" value="Manage">&nbsp;&nbsp;&nbsp;Manage
                                    </label> 
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              </br>
                              <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    Upper Control Limit (UCL)
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                    <input class="form-control" type="number" >
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <input class="form-control" type="color" value="#0000ff"> 
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    Upper Warning Limit (UWL)
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                    <input class="form-control" type="number" >
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <input class="form-control" type="color" value="#ff0000"> 
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    Average Line (Mean)
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                    <input class="form-control" type="number" >
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <input class="form-control" type="color" value="#ffff00"> 
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    Lower Warning Limit (LWL)
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                    <input class="form-control" type="number" >
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <input class="form-control" type="color" value="#00ff00"> 
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    Lower Control Limit (LCL)
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                    <input class="form-control" type="number" >
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <input class="form-control" type="color" value="#ffcc99"> 
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    X - axis:
                                </div>   
                                <div class="col-md-4 col-sm-4 col-xs-12">   
                                    <input class="form-control" type="text" >
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    Y - axis:
                                </div>   
                                <div class="col-md-4 col-sm-4 col-xs-12">   
                                    <input class="form-control" type="text" >
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              <div class="row form-group"style="text-align:right;">         
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                <span class="btn btn-primary" ><i class="fa fa-line-chart"></i> Display</span>
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>

                        </div>
                </div>
            </div></div>

            <div class="row graphData" style="display:none;"> 
                <div  class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>Posible Cuase</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="row form-group">         
                                <div class="col-md-3 col-sm-3 col-xs-12"style="text-align:right;"> 
                                    Posible Cuase  
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <select
                                        ng-change="loaddata()"
					                    ng-model="tempTank6"
					                    chosen   
					                    ng-options="item.name  for item in PosibleList" >
					                    <option value=""></option>
				                    </select>
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                </div>   
                                <div class="col-md-2 col-sm-2 col-xs-12">   
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12">   
                                </div>      
                              </div>
                              </br>
                              <div class="col-md-12 col-sm-12 col-xs-12"ng-show="DataList.length > 0">         
                                <table class="table table-bordered tblResult "  >
                                    <thead><tr>
                                        <th >Start Point</th>
                                        <th >End Point</th>
                                        <th >Reasons</th>
                                    </tr>           
                                    </thead>
 
                                    <tbody  >
                                        <tr  ng-repeat="item in DataList"> 
                                            <td>{{item.Start_Point}}</td>   
                                            <td >{{item.End_Point }}</td>                              
                                            <td >{{item.Reasons}}</td>
                                        </tr>
                                    </tbody>
                                </table>     
                              </div>
                              <div class="row form-group"ng-show="DataList.length > 0">         
                                <div class="col-md-3 col-sm-3 col-xs-12"style="text-align:right;">   
                                    Subject
                                </div>     
                                <div class="col-md-2 col-sm-2 col-xs-12">  
                                    <input class="form-control" type="text" >
                                </div>   
                                <div class="col-md-3 col-sm-3 col-xs-12"style="text-align:right;">   
                                    <span class="btn btn-primary" ><i class="fa fa-paper-plane-o"></i> Send</span>
                                    <span class="btn btn-primary" ng-click="showhistory()" ><i class="fa fa-history"></i> History</span>
                                </div>   
                                <div class="col-md-4 col-sm-4 col-xs-12">   
                                </div>      
                              </div>
                        </div>
                </div>
            </div>
            </div>

            <div class="row graphData" style="display:none;"ng-show="History==1"> 
                <div  class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h3>History</h3>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                              <div class="col-md-12 col-sm-12 col-xs-12"ng-show="History==1">         
                                <table class="table table-bordered tblResult "  >
                                    <thead><tr>
                                        <th >Subject</th>
                                        <th >Send Datetime</th>
                                    </tr>           
                                    </thead>
 
                                    <tbody  >
                                        <tr> 
                                            <td>test1</td>   
                                            <td >2020-08-28 12:00:00</td>                   
                                        </tr>
                                        <tr> 
                                            <td>test2</td>   
                                            <td >2020-08-31 14:00:00</td>                   
                                        </tr>
                                    </tbody>
                                </table>     
                              </div>
                        </div>
                </div>
            </div>
            </div>

            <div class="row graphAnalysis" style="display:none;"> 
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Legend</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Color</th>
                        <th >@Resources.Strings.AreaName  </th>
                        <th >@Resources.Strings.Sample  </th>
                        <th>@Resources.Strings.Item  </th>
                        <th >@Resources.Strings.Unit</th> 
                    </tr>           
                    </thead>
 
                    <tbody  >
                        <tr  > 
                            <td  >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #286090;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA1}}</td>   
                            <td >{{mSearch.SAMPLE_ID1 }}</td>                              
                            <td class="text-primary">{{mSearch.ITEM_ID1}}</td>
                            <td>{{mSearch.UNIT_NAME1}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #98c207;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA2}}</td>   
                            <td>{{mSearch.SAMPLE_ID2 }}</td>                                  
                            <td class="text-success">{{mSearch.ITEM_ID2}}</td>
                            <td>{{mSearch.UNIT_NAME2}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
            </div>

            <div class="row graphAnalysis" style="display:none;">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Analysis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Item</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th>@Resources.Strings.Average  </th>
                        <th >@Resources.Strings.SD</th>
                        <th >@Resources.Strings.ControlValue</th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  > 
                            <td class="text-primary">{{listTrendSummary.ItemsName}}</td>   
                            <td>{{listTrendSummary.MinValue}} ( {{listTrendSummary.UnitName}} )</td>                                               
                            <td>{{listTrendSummary.MaxValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.AvgValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.SDValue}}</td> 
                            <td>{{control1.SpecView}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">{{listTrendSummary2.ItemsName}}</td>   
                            <td>{{listTrendSummary2.MinValue}} ( {{listTrendSummary2.UnitName}} )</td>                                               
                            <td>{{listTrendSummary2.MaxValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.AvgValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.SDValue}}</td> 
                            <td>{{control2.SpecView}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
                

             <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.EditYAxis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.TrendData</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th> @Resources.Strings.StepSize  </th> 
                        <th></th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  >  
                            <td class="text-primary">@Resources.Strings.TrandDataData1</td>   
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMin"  number-only-input /> </td>                                               
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.stepSize"  number-only-input /> </td>
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">@Resources.Strings.TrandDataData2</td>   
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMin"  number-only-input />  </td>                                               
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.stepSize"  number-only-input /> </td> 
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
              </div> 

            </div>
            
             <form id="TheForm" method="post" action="~/TrendData/TreandDataExcel" target="TheWindow"> 
                <input type="hidden" name="searchData"  id="searchData"   />
            </form>
            

    </div> 
</div>
 
<script type="text/javascript">



    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        $scope.tempTemplate1;
        $scope.tempTemplate2;
        $scope.listTemplate = getListTemplate();
        $scope.listCategory = getListCategory();
        $scope.listWorkSheet;
        $scope.listItem;
        $scope.tempCategory;
        $scope.tempWorkSheet;

        $scope.mSearch = getSearchModel();

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        $scope.tempSampleId1;
        $scope.tempSampleId2;
        $scope.listSample1;
        $scope.listSample2;

        $scope.tempItemId1;
        $scope.tempItemId2;
        $scope.listItem1;
        $scope.listItem2;

        $scope.ticksOption1;
        $scope.ticksOption2;

        $scope.mSearch = getSearchModel();

        $scope.listTrendSummary;
        $scope.listTrendData;

        $scope.listTrendSummary2;
        $scope.listTrendData2;

        $scope.control1;
        $scope.control2;

        $scope.graph1;
        $scope.TemplateType = 1; //GAS

        $scope.DataList;
        $scope.History;

        $scope.showhistory = function () {$scope.History=1}

        $scope.PosibleList = [
                                {name:'Large shirts'},
                                {name:'Small shifts'},
                                {name:'Trends'},
                                {name:'Mixtures'},
                                {name:'Stratification'},
                                {name:'Over control'}
                              ];
        $scope.loaddata = function () {
         $scope.DataList = [
                                {Start_Point:'1',End_Point:'5',Reasons:'test1'},
                                {Start_Point:'7',End_Point:'10',Reasons:'test2'},
                                {Start_Point:'12',End_Point:'14',Reasons:'test3'}
                              ];
                              }
        $scope.loadSample2 = function () {
            var urlName = get_base_url("TrendData/GetSampleByTemplateId");

            var jsonData = {
                "TemplateId": $scope.tempTemplate2.TEMPLATE_NAME,
                "TemplateType": $scope.TemplateType
            };

            $scope.tempSampleId2 = {};
            $scope.tempItemId2 = {};
            $scope.listItem2 = {};
            $scope.tempSampleId2 = {};

            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listSample2 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.loadWorkSheet = function () {

            if ($scope.tempCategory.NAME == "Lab Gas") {
                $scope.listWorkSheet = [{ "ID": "Hg in Liq HC", "NAME": "Hg in Liq HC" }, { "ID": "Hg in Gas", "NAME": "Hg in Gas" }, { "ID": "Total Sulfur", "NAME": "Total Sulfur" }
                , { "ID": "H2S", "NAME": "H2S" }, { "ID": "COS", "NAME": "COS" }
                , { "ID": "RVP", "NAME": "RVP" }, { "ID": "VP", "NAME": "VP" }
                , { "ID": "Distillation", "NAME": "Distillation" }, { "ID": "SG 60/60F in Pentane", "NAME": "SG 60/60F in Pentane" }
                , { "ID": "SG 60/60F in LPG", "NAME": "SG 60/60F in LPG" }, { "ID": "Hg in Gas", "NAME": "Hg in Gas" }
                , { "ID": "CO2 ppm", "NAME": "CO2 ppm" }, { "ID": "Composition in Ethane", "NAME": "Composition in Ethane" }
                , { "ID": "Composition in LPG", "NAME": "Composition in LPG" }, { "ID": "Composition in Natural Gas", "NAME": "Composition in Natural Gas" }
                , { "ID": "Composition in Methane", "NAME": "Composition in Methane" }, { "ID": "Composition in Propane", "NAME": "Composition in Propane"}];
            } else {
                $scope.listWorkSheet = [{ "ID": "pH", "NAME": "pH" }, { "ID": "TDS", "NAME": "TDS" },
                { "ID": "SS", "NAME": "SS" }, { "ID": "Temperator", "NAME": "Temperator" },
                { "ID": "Mercury", "NAME": "Mercury" }, { "ID": "Zine", "NAME": "Zine"}];
            }
        }

        $scope.loadItem = function () {

            if ($scope.tempWorkSheet.NAME == "Total Sulfur") {
                $scope.listItem = [{ "ID": "Standard H2S 5 ppm", "NAME": "Standard H2S 5 ppm"}];
            } else {
                $scope.listItem = [];
            }
        }

        $scope.loadSample1 = function () {

            var urlName = get_base_url("TrendData/GetSampleByTemplateId");

            var jsonData = {
                "TemplateId": $scope.tempTemplate1.TEMPLATE_NAME,
                "TemplateType": $scope.TemplateType
            };

            $scope.tempSampleId1 = {};
            $scope.tempItemId1 = {};
            $scope.listItem1 = {};
            $scope.tempSampleId1 = {};

            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listSample1 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.loadItem2 = function () {

            var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
            var jsonData = {
                "TemplateId": $scope.tempTemplate2.TEMPLATE_NAME,
                "SampleName": $scope.tempSampleId2.SAMPLE_NAME,
                "TEMPLATE_TYPE": $scope.TemplateType
            };


            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listItem2 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.loadItem1 = function () {

            var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
            var jsonData = {
                "TemplateId": $scope.tempTemplate1.TEMPLATE_NAME,
                "SampleName": $scope.tempSampleId1.SAMPLE_NAME,
                "TEMPLATE_TYPE": $scope.TemplateType
            };


            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.listItem1 = response.data.message;
                } catch (e) {

                }
            });
        }

        $scope.setJsonMSearch = function () {
            var bValid = true;

            if (typeof $scope.tempTemplate1 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA1 = $scope.tempTemplate1.TEMPLATE_NAME;

            if (typeof $scope.tempSampleId1 !== "undefined")
                $scope.mSearch.SAMPLE_ID1 = $scope.tempSampleId1.SAMPLE_NAME;

            if (typeof $scope.tempItemId1 !== "undefined" && typeof $scope.tempItemId1.ITEM_NAME !== "undefined") {
                $scope.mSearch.ITEM_ID1 = $scope.tempItemId1.ITEM_NAME;
                $scope.mSearch.UNIT_ID1 = $scope.tempItemId1.UNIT_ID;
                $scope.mSearch.UNIT_NAME1 = $scope.tempItemId1.UNIT_NAME;
            } else {
                bValid = false;
            }


            if (typeof $scope.tempTemplate2 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA2 = $scope.tempTemplate2.TEMPLATE_NAME;

            if (typeof $scope.tempSampleId2 !== "undefined")
                $scope.mSearch.SAMPLE_ID2 = $scope.tempSampleId2.SAMPLE_NAME;

            if (typeof $scope.tempItemId2 !== "undefined") {
                $scope.mSearch.ITEM_ID2 = $scope.tempItemId2.ITEM_NAME;
                $scope.mSearch.UNIT_ID2 = $scope.tempItemId2.UNIT_ID;
                $scope.mSearch.UNIT_NAME2 = $scope.tempItemId1.UNIT_NAME;
            }


            if (typeof $scope.TempDateStart !== null) {
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            } else {
                bValid = false;
            }

            if (typeof $scope.TempDateEnd !== null) {
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            } else {
                bValid = false;
            }

            if ($scope.mSearch.START_DATE > $scope.mSearch.END_DATE) {
                bValid = false;
                Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
            }

            return bValid;
        }


        $scope.createGraphEx = function () {
            $scope.ticksOption1 = Fact.setTicksOption(1, $scope.ticksOption1);
            $scope.ticksOption2 = Fact.setTicksOption(2, $scope.ticksOption2);

            $scope.createGraph()
        }

        $scope.createGraph = function () {

            var labelDate = ['7/1/2019', '14/1/2019', '21/1/2019', '28/1/2019', '4/2/2019', '11/2/2019', '18/2/2019', '25/2/2019', '4/3/2019', '11/3/2019', '18/3/2019', '25/3/2019', '1/4/2019', '8/4/2019', '15/4/2019', '22/4/2019', '29/4/2019', '6/5/2019', '13/5/2019', '20/5/2019', '27/5/2019', '3/6/2019', '10/6/2019', '17/6/2019', '24/6/2019', '1/7/2019', '8/7/2019', '15/7/2019', '22/7/2019', '29/7/2019', '5/8/2019', '13/8/2019', '19/8/2019', '26/8/2019', '2/9/2019', '9/9/2019', '16/9/2019', '23/9/2019', '30/9/2019', '7/10/2019', '15/10/2019', '21/10/2019', '28/10/2019'];
            var H2S = ['4.41', '4.6', '4.33', '4.29', '4.61', '4.44', '4.72', '4.32', '4.56', '4.24', '4.17', '4.29', '4.61', '4.20', '4.26', '4.55', '4.61', '4.60', '4.78', '4.34', '4.76', '4.55', '4.77', '4.44', '4.80', '4.39', '4.39', '4.84', '4.37', '4.69', '4.65', '4.32', '4.39', '4.19', '4.98', '5.00', '4.90', '4.90', '4.70', '4.67', '4.56', '4.72', '4.68'];
            var LowLimit = ['3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98', '3.98'];
            var LowWarning = ['4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15', '4.15'];
            var Average = ['4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50', '4.50'];
            var UpperLimit = ['4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85', '4.85'];
            var UpperWarning = ['5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02', '5.02'];
            var CheckBy = ['ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'ST', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP', 'KP'];
            var ApproveBy = ['WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK', 'WK'];

            try {
                
                  lineChartData = {
                                    labels: labelDate,
                                    datasets: [{
                                                label: "UCL",
                                                backgroundColor: window.chartColors.red,
                                                borderColor: window.chartColors.red,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: UpperLimit, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "Warning UL",
                                                backgroundColor: window.chartColors.yellow,
                                                borderColor: window.chartColors.yellow,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: UpperWarning, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "Average",
                                                backgroundColor: window.chartColors.purple,
                                                borderColor: window.chartColors.purple,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: Average, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            },{
                                                label: "Warning LL",
                                                backgroundColor: window.chartColors.yellow,
                                                borderColor: window.chartColors.yellow,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: LowWarning, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "LCL",
                                                backgroundColor: window.chartColors.red,
                                                borderColor: window.chartColors.red,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: LowLimit, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }, {
                                                label: "H2S",
                                                backgroundColor: window.chartColors.blue,
                                                borderColor: window.chartColors.blue,
                                                fill: false, 
                                                pointHoverRadius: 0,
                                                 pointRadius: 0,
                                                data: H2S, 
                                                spanGaps: true,
                                                tension: 0,
                                                pointStyle: 'line'
                                            }]
                                        };
                  var yAxesData =    [{
                                            type: "linear", // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                                            display: true,
                                            position: "left",
                                            id: "y-axis-1",
                                            scaleLabel: {
                                                display: true,
                                                labelString:  "Total Sulfur (ppm)",
                                            },  
                                        }];

                var graphConfig1 = {
                        type: 'line',
                        data:  lineChartData, 
                        options: {
                            tooltips: {
                                enabled: true,
                                mode: 'single',  
                                intersect : false,                              
                                callbacks: {
                                   /* label: function(tooltipItems, data) {  
                                   
                                       var multistringText = [data.datasets[0].label + ": " + tooltipItems.yLabel]; 
                                        try{
                                           multistringText.push(data.datasets[1].label + ": " +tooltipItems.index+1); 
                                        }catch(e){

                                        }
                                        return multistringText;

                                    }, */
                                    title: function(tooltipItem, data) {
                                         console.log(data , tooltipItem[0].index);
                                        try{ 
                                            var d = data.labels[tooltipItem[0].index]; 
                                             return getDateFormatShow(d); 
                                        }catch(e){
                                             console.log(e);
                                             return tooltipItem[0].xLabel;
                                        } 
                                    }
                                }
                            },
                            responsive: true,
                            title:{
                                display:true,
                                text: "IQC Total Sulfur"
                            }, 
                            hover: {
                                mode: 'single',
                                intersect: false
                            },
                            scales: {
                                xAxes: [{
//                                            type: "time",
//                                            time: {
//                                                    displayFormats: {
//                                                       'millisecond': 'SSS [ms]',
//                                                       'second':'h:mm:ss a',
//                                                       'minute': 'h:mm:ss a',
//                                                       'hour': 'D MMM YYYY  hA',// 'D MMM YYYY  hA',
//                                                       'day': 'D MMM YYYY',
//                                                       'week': 'D MMM YYYY',
//                                                       'month': 'D MMM YYYY',
//                                                       'quarter': 'D MMM YYYY',
//                                                       'year': 'D MMM YYYY', 
//                                                    },
//                                                    min : minDateTime , //dateTime[0],
//                                                    max : maxDateTime //dateTime[dateTime.length-1]
//                                                }, 
                                            display: true,
                                            scaleLabel: {
                                                display: true,
                                                labelString: 'Date'
                                            },
                                             ticks: {
                                                 beginAtZero: true,
                                                autoSkip: false,
                                                maxRotation: 75,
                                                minRotation: 75
                                            }
                                        }],
                                yAxes: yAxesData,  
                            },
                                legend: {
                                display: true,                                        
                                labels: {
                                    //fontColor: 'rgb(255, 99, 132)',
                                    usePointStyle: true,
                                    boxWidth: 10,
                                }, 
                            }
                        }
                    };
                     
                //graphConfig1 = Fact.setGraphConfig($scope.graph1, true, "canvas");

                $(".graphData").show();
                $(".searchData").show();
                //$(".graphAnalysis").show();

                if (typeof graphConfig1 === 'undefined') {
                    $(".graphData").hide();
                    $(".searchData").hide();
                    $(".graphAnalysis").hide();
                    Fact.showMessage("@Resources.Strings.NoDataFound"); return;
                } else {
                    var ctx = document.getElementById("canvas").getContext("2d");

                    if (typeof window.myLine1 !== "undefined") {
                        window.myLine1.destroy();
                    }
                    try {
                        window.myLine1 = new Chart(ctx, graphConfig1);
                        $scope.ticksOption1 = Fact.getTicksOption(1);
                        $scope.ticksOption2 = Fact.getTicksOption(0);
                    } catch (e) {
                        console.log(e);
                    }
                }
            } catch (e) {
                console.log(e);
            }

        }

        $scope.GetGraphData = function () {
            if (typeof window.myLine !== "undefined") {
                window.myLine.destroy();
            }
             $scope.createGraph();

//            var bValid = $scope.setJsonMSearch();
//            var urlName = get_base_url("TrendData/GetGraphData");
//            var jsonData = $scope.mSearch;



//            if (bValid == true) {
//                Fact.loadlistData(urlName, jsonData, function (response) {
//                    try {

//                        $scope.graph1 = response.data.message;
//                        $scope.listTrendData = response.data.message.listTrend1;
//                        $scope.listTrendSummary = response.data.message.listSummary1;

//                        $scope.listTrendData2 = response.data.message.listTrend2;
//                        $scope.listTrendSummary2 = response.data.message.listSummary2;

//                        $scope.control1 = response.data.message.control1;
//                        $scope.control2 = response.data.message.control2;

//                        Fact.resetTicksOption();
//                        $scope.createGraph(); // $scope.ticksOption1 = {}; $scope.ticksOption2 = {};   $scope.createGraph(); 
//                    } catch (e) {

//                    }
//                });
//            } else {
//                if ($scope.mSearch.START_DATE > $scope.mSearch.END_DATE) {
//                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
//                } else {
//                    Fact.showMessage("@Resources.Strings.PleaseInputData");
//                }
//            }
        }

        $scope.clearTrendData = function () {
            $scope.mSearch = getSearchModel();

            $scope.tempItemId1 = {};
            $scope.tempSampleId1 = {};
            $scope.tempTemplate1 = {};

            $scope.tempItemId2 = {};
            $scope.tempSampleId2 = {};
            $scope.tempTemplate2 = {};

            $scope.listSample1 = [];
            $scope.listSample2 = [];

            $scope.listItem1 = [];
            $scope.listItem2 = [];


            $(".graphData").hide();
            $(".searchData").hide();
            $(".graphAnalysis").hide();
        }

        $scope.downloadCSV = function () {


            var urlName = get_base_url("TrendData/TreandDataExcel");
            var jsonData = $scope.mSearch;
            var checkResult = $scope.setJsonMSearch();


            var startDate = "";
            var endDate = "";

            var dd = jsonData.START_DATE.getDate();
            var mm = jsonData.START_DATE.getMonth() + 1;
            var yy = jsonData.START_DATE.getFullYear();

            startDate = yy + "/" + mm + "/" + dd;

            dd = jsonData.END_DATE.getDate();
            mm = jsonData.END_DATE.getMonth() + 1;
            yy = jsonData.END_DATE.getFullYear();

            endDate = yy + "/" + mm + "/" + dd;

            if (true == checkResult) {

                var dataObjectString = JSON.stringify(jsonData);
                $("#searchData").val(JSON.stringify(jsonData));
                document.getElementById('TheForm').submit();

                //                urlName += "?TEMPLATE_TYPE=" + jsonData.TEMPLATE_TYPE;
                //                urlName += "&START_DATE=" + startDate;//  jsonData.START_DATE;
                //                urlName += "&END_DATE=" +   endDate;//jsonData.END_DATE;

                //                urlName += "&PLANT_ID1=" +  jsonData.PLANT_ID1;
                //                urlName += "&SAMPLE_ID1=" +  jsonData.SAMPLE_ID1;
                //                urlName += "&ITEM_ID1=" +   jsonData.ITEM_ID1;
                //                urlName += "&UNIT_ID1=" +  jsonData.UNIT_ID1;
                //                urlName += "&UNIT_NAME1=" +  jsonData.UNIT_NAME1;

                //                urlName += "&PLANT_ID2=" +  jsonData.PLANT_ID2;
                //                urlName += "&SAMPLE_ID2=" +  jsonData.SAMPLE_ID2;
                //                urlName += "&ITEM_ID2=" +   jsonData.ITEM_ID2;
                //                urlName += "&UNIT_ID2=" +  jsonData.UNIT_ID2;
                //                urlName += "&UNIT_NAME2=" +  jsonData.UNIT_NAME2;

                //                window.open(urlName, "@Resources.Strings.TrendData");

            }

        }

        $scope.showError = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#error_message').html(msg);
            $('#myErrorModal').modal('show');
        }

        $scope.showMessage = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#show_message').html(msg);
            $('#myMessageModal').modal('show');
        }

        $scope.downloadImage = function () {
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'Trend Gas.png');
            } else {
                var link = document.createElement('a');
                link.download = 'TrendGas.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }

        $scope.downloadImage2 = function () {
            var canvas = document.getElementById("canvas");
            var dataURL = canvas.toDataURL('image/png');

            // console.log(dataURL); return;

            var urlName = get_base_url("Files/DownloadImage");
            var jsonData = {
                imageData: dataURL,
                fname: "Trend Gas"
            };
            window.open(urlName + "?imageData=" + dataURL + "&fname=Trend");

        }



    }); 
 

    function getSearchModel(){
        var self = this;
        var lstData = "";
        return lstData; 
    } 
  
    function getListTemplate(){
        var self = this;
        var lstData =  [{"TEMPLATE_ID":"GSP1","TEMPLATE_NAME":"GSP1"},{"TEMPLATE_ID":"gsp1","TEMPLATE_NAME":"gsp1"},{"TEMPLATE_ID":"area name","TEMPLATE_NAME":"area name"}]; 
        return lstData; 
    }

    function getListCategory(){
        var self = this;
        var lstData =  [{"ID":"Lab Gas","NAME":"Lab Gas"},{"ID":"Lab Utility","NAME":"Lab Utility"}]; 
        return lstData; 
    }



</script>