﻿@{ 
    var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.TrendManageSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var listTemplate = ViewBag.listTemplate as List<QMSSystem.Model.ViewQMS_MA_TEMPLATE>;  
}
<div  ng-app="myApp" ng-controller="myCtrl">  
          <div class="">
            <div class="page-title">
              <div class="title_left">
                  <h3>@Resources.Strings.ManageData / @Resources.Strings.TrendData / @Resources.Strings.TemplateOther / @Resources.Strings.SulfurInGas</h3>
                <div class="clearfix"></div>
              </div>
            </div>

            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <span class="btn btn-primary " ng-click="showTrendGasSearch()"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                        <span class="btn btn-primary " ng-click="ExecuteTrendData()"><i class="fa fa fa-play"></i> @Resources.Strings.Execute</span>
                        <span class="btn btn-primary " ng-click="ExecuteAllTrendData()"><i class="fa fa fa-play"></i> @Resources.Strings.Execute All</span>
                        <div class="clearfix"></div>
                    </div>
                  <div class="x_content tblResult " style="display:none;" >
                    <div  class="form-horizontal form-label-left"  ng-show="showSearch" >
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.SulfurInGas <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <select
					                            ng-model="templistTemplateId"
					                            chosen  
					                            ng-options="item.NAME  for item in listTemplate" >
					                            <option value=""></option>
				                            </select>
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.StartDate <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input type="text" ng-model="TempStartDate" class="form-control col-md-7 col-xs-12"  data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.EndDate <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input type="text" ng-model="TempEndDate"  class="form-control col-md-7 col-xs-12"  data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                          <button type="button" class="btn btn-primary" ng-click="loadTrendGas()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                          <button type="button" class="btn btn-primary" ng-click="clearTrendGas()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                          <button type="button" class="btn btn-primary"  ng-click="closeTrendGasSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                </div> 
                    <div class="clearfix"></div> 
                      <table class="table table-bordered" >
                        <thead >
                            <tr>
                                <th class="col-md-1 col-sm-1 col-xs-1">
                                    <input type="checkbox" ng-model="AllTrendGas" ng-change="SelectAllCheck()" >
                                </th>
                                <th class="sorting_desc" ng-click="sort($event)" sort="m_dtFile">@Resources.Strings.FileName</th>
                                <th class="sorting" ng-click="sort($event)" sort="m_dtDirectory">@Resources.Strings.FilePath</th> 
                                @*<th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.LastModify</th> *@                                                   
                            </tr>
                        </thead>
                        <tbody > 
                           <tr ng-repeat="mTrendGas in listTrendGas" >
                                <td><input type="checkbox" ng-model="mTrendGas.ITEM_SELECTED" /></td>
                                <td>{{mTrendGas.m_dtFile}}</td>   
                                <td>{{mTrendGas.m_dtDirectory}}</td>
                               @* <td>{{mTrendGas.m_FileModify | showdateformat}}</td> *@
                            </tr>
                        </tbody>
                      </table> 
                  </div>
                  <!-- ทำหน้า -->
                        <div class="row tblResult " style="display:none;" >
                                <div class="col-md-7 col-sm-7 col-xs-6">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                    @Resources.Strings.ResultsPerPage
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select
				                        ng-model="TempPageSize"
				                        chosen 
                                        ng-change="loadByPageSize()" 
				                        ng-options="item.Text  for item in listPageSize"
				                        class="col-md-12 col-sm-12 col-xs-12"
				                        name="lst_pagesize" id="lst_pagesize">
				                        <option value=""></option>
			                        </select> 
                                </div>
                                </div><div class="col-md-5 col-sm-5 col-xs-6">
                                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                        <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                </div>
                                </div>
                            </div>
                        <!-- ทำหน้า -->
                </div> 
              </div> 
            </div> 
          </div>
        </div>

       
<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/

        /**Special case by case ตาม search model**/

        $scope.mSearch = getSearchModel();

        $scope.TempStartDate = Fact.getDateFromDoubleEx($scope.mSearch.START_DATE);
        $scope.TempEndDate = Fact.getDateFromDoubleEx($scope.mSearch.END_DATE);

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('m_dtFile');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listTrendGas; // listdata
        $scope.AllTrendGas; //checkbox

        $scope.listTemplate = getListTemplate();
        $scope.templistTemplateId ;

        $scope.listFile = [];

        $scope.showSearch = false;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        //Search
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listTrendGas, $scope.AllTrendGas) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("TrendGas/CreateMasterCorrect") + "?id=" + mData.ID ); }

        $scope.sort = function(e){
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadTrendGas();
        }

        $scope.clearTrendGas = function() {  $scope.mSearch = getSearchModel(); $scope.TempStartDate = null;  $scope.TempEndDate = null; }
        $scope.showTrendGasSearch = function(){  $scope.showSearch = true; }
        $scope.closeTrendGasSearch = function() { $scope.showSearch = false; }

        $scope.getTrendGasSearch = function()
        {
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadTrendGas();
        }


        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadTrendGas(); }
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadTrendGas(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadTrendGas(); }
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadTrendGas(); }
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadTrendGas(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadTrendGas(); }

        $scope.loadTrendGas = function () {


            if(typeof $scope.templistTemplateId !== "undefined"){
                $scope.mSearch.TEMPLATE_ID = $scope.templistTemplateId.ID;
            }else{
                Fact.showMessage("@Resources.Strings.PleaseSelectTemplate"); return;
            }

            $scope.mSearch.START_DATE = $scope.TempStartDate;
            $scope.mSearch.END_DATE = $scope.TempEndDate;

            if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE ){
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
            }

            Fact.loadDataTable($scope.mSearch, function(response){
                try{
                    $scope.listTrendGas = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;

                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;
			        });


                }catch(e){

                }
                $(".tblResult").show();
            });
        }

        $scope.delTrendGas = function(){
            Fact.deleteMultiData($scope.listTrendGas, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadTrendGas(); });
        }

        $scope.ExecuteTrendData = function(){
        //ExecuteFileTemplateToDB
             $scope.listFile = [];
	         var isValid = false;

	         $scope.listTrendGas.forEach(function (entry, index) {
	             if (true == entry.ITEM_SELECTED) {
                     $scope.listFile.push(
                        {
                            "TEMPLATE_ID": entry.TEMPLATE_ID,
                            "m_dtFolder": entry.m_dtFolder,
                            "m_dtDirectory": entry.m_dtDirectory,
                            "m_dtFile": entry.m_dtFile
                        }
                     );
	                 isValid = true;
	             }
	         });
	         if (isValid) {
	               var urlName = get_base_url("TrendData/ExecuteFileTemplateToDB");
                   var jsonData = $scope.listFile;// $scope.createModel;

                   Fact.saveDataCallback(urlName, jsonData, function(response){
                         Fact.showMessage(response.data.message);
                    });
	         } else {
	             Fact.showError("@Resources.Strings.PleaseInputData");
	         }
        }

        $scope.ExecuteAllTrendData = function () {
                //$scope.mSearch.PageSize = -1;
                if(typeof $scope.templistTemplateId !== "undefined"){
                    $scope.mSearch.TEMPLATE_ID = $scope.templistTemplateId.ID;
                }else{
                    Fact.showMessage("@Resources.Strings.PleaseSelectTemplate"); return;
                }

                $scope.mSearch.START_DATE = $scope.TempStartDate;
                $scope.mSearch.END_DATE = $scope.TempEndDate;

                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE ){
                        Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); return;
                }
                console.log($scope.mSearch)
                var urlName = get_base_url("TrendData/ExecuteAllFileTemplateToDB");
                var jsonData = {
                    "PageIndex": 1,
                    "PageSize": -1,
                    "SortColumn": "m_dtFile",
                    "SortOrder": "desc",
                    "mSearch": $scope.mSearch
                };// $scope.createModel;

                Fact.saveDataCallback(urlName, jsonData, function(response){
                        Fact.showMessage(response.data.message);
                });
        }

        $scope.init = function(mData){

          Fact.setDataTableUrl(get_base_url("TrendData/GetFileAndFolderName"));
//            Fact.setDelelteUrl(get_base_url("TrendGas/DeleteQMS_MA_CORRECT_DATA"));
//            Fact.setSearchModel( getSearchModel() );
//
          $scope.listPageSize.forEach(function(entry, index) {
                    if(0 == index)
		    	    $scope.TempPageSize =  entry;
		    });

//            $scope.loadTrendGas();
            Fact.setSortIcon();
            $(".tblResult").show();
        }

        $scope.init();

    });



    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searhTrendData));
        return lstData;
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize));
        return lstData;
    }

    function getListTemplate(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTemplate));
        return lstData;
    }

</script>