﻿@{ 
    var searchModel = ViewBag.searchModel as QMSSystem.Model.TemplateCOASearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
    var listDocStatus = ViewBag.listDocStatus as List<SelectListItem>;

    var listCustomer = ViewBag.listCustomer as List<QMSSystem.Model.CUSTOMER_COA>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.PRODUCT_COA>;

    var listTemplate = ViewBag.listTemplate as List<QMSSystem.Model.ViewQMS_MA_TEMPLATE>;
    var coaData = ViewBag.coaData as QMSSystem.Model.CreateQMS_TR_TEMPLATE_COA;

    var listControlGroup = ViewBag.listControlGroup as List<QMSSystem.Model.ViewQMS_MA_CONTROL>;

}
<div  ng-app="myApp" ng-controller="myCtrl"> 
          <div class="">
            <div class="page-title">
              <div class="title_left">
                  <h3>@Resources.Strings.ManageData / @Resources.Strings.TrendData / @Resources.Strings.TemplateCOA</h3>
                <div class="clearfix"></div> 
              </div>
            </div>

            <div class="clearfix"></div>
             <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
            <div class="row"  ng-show="showList">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">  
                        <span class="btn btn-primary "  ng-click="showTrendCOASearch()" ><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                        <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(1)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.PENDING</span>
                        <span class="btn btn-primary "  ng-click="ClkUpdateDocStatus(2)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.CONFIRM</span>
                        <span class="btn btn-primary "  ng-click="setTrendStatus(1)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.SetOn</span>
                        <span class="btn btn-primary "  ng-click="setTrendStatus(0)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.SetOff</span> 
                        <div class="clearfix"></div>
                    </div>

                    <div class="form-horizontal form-label-left" ng-show="showSearch">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Customer 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select
					                    ng-model="tempCustomerId"
					                    chosen  
					                    ng-options="item.CUSTOMER  for item in listCustomer" >
					                    <option value=""></option>
				                    </select> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Product 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select
					                    ng-model="tempProductId"
					                    chosen  
					                    ng-options="item.PRODUCT  for item in listProduct" >
					                    <option value=""></option>
				                    </select> 
                            </div>
                        </div> 
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.DocStatus 
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                    <select
					                    ng-model="tempDocStatusId"
					                    chosen  
					                    ng-options="item.Text  for item in listDocStatus" >
					                    <option value=""></option>
				                    </select> 
                            </div>
                        </div> 
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Customer Mapping</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="tempCustomerMappingId"
                                        chosen
                                        ng-options="item.CUSTOMER_NAME  for item in listCustomerMapping">
                                    <option value=""></option>
                                </select> 
                            </div>
                        </div>*@ 
                        @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Product Mapping</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select ng-model="tempProductMappingId"
                                        chosen
                                        ng-options="item.ITEM  for item in listProductMapping">
                                    <option value=""></option>
                                </select> 
                            </div>
                        </div>*@ 
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-primary" ng-click="loadTrendCOA()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                    <button type="button" class="btn btn-primary" ng-click="clearTrendCOA()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                    <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                            </div>
                        </div>
                        <div class="ln_solid"></div>

                    </div>

                  <div class="x_content">
                      <table class="table table-bordered" >
                        <thead >
                          <tr>
                            <th>
                                <input type="checkbox" ng-model="AllTrendCOA" ng-change="SelectAllCheck()" >
                            </th>
                            <th class="sorting_desc" ng-click="sort($event)" sort="CUSTOMER_NAME">@Resources.Strings.Customer</th>
                            <th class="sorting" ng-click="sort($event)" sort="PRODUCT_NAME">@Resources.Strings.Product</th>
                            <th class="sorting" ng-click="sort($event)" sort="TREND_GRAPH_FLAG">@Resources.Strings.TrendStatus</th>
                            <th class="sorting" ng-click="sort($event)" sort="TREND_GRAPH_FLAG">@Resources.Strings.CustomerMapping</th>
                            <th class="sorting" ng-click="sort($event)" sort="DOC_STATUS_NAME">@Resources.Strings.DocStatus</th>
                            <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                          </tr>
                        </thead>
                        <tbody >
                           <tr ng-repeat="mTrend in listTrendCOA" >
                                <td><input type="checkbox" ng-model="mTrend.ITEM_SELECTED" /></td>
                                <td>{{mTrend.CUSTOMER_NAME}}</td>   
                                <td>{{mTrend.PRODUCT_NAME}}</td>                                               
                                <td ng-class="setTrendFlagClass(mTrend.TREND_GRAPH_FLAG)">{{mTrend.TREND_GRAPH_FLAG_VIEW}}</td> 
                                <td>
                                    <select ng-model="mTrend.CUSTOMER_MERGE_SELECT"
                                            ng-disabled="mTrend.ITEM_SELECTED == false"
                                            chosen
                                            ng-options="item.CUSTOMER_NAME  for item in listCustomerMapping">
                                        <option value=""></option>
                                    </select>
                                </td> 
                                <td>{{mTrend.DOC_STATUS_NAME}}</td> 
                                <td>
                                    <i class="fa fa-edit set-pointer"  ng-click="editData(mTrend)"></i>                                                
                                </td>
                            </tr>
                        </tbody>
                      </table>


                  </div>
                  
                   <!-- ทำหน้า -->
                    <div class="row tblResult " style="display:none;" >
                        <div class="col-md-7 col-sm-7 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                    @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                    @Resources.Strings.ResultsPerPage
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select
				                        ng-model="TempPageSize"
				                        chosen 
                                        ng-change="loadByPageSize()" 
				                        ng-options="item.Text  for item in listPageSize"
				                        class="col-md-12 col-sm-12 col-xs-12"
				                        name="lst_pagesize" id="lst_pagesize">
				                        <option value=""></option>
			                        </select> 
                            </div>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                    <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                    <select
				                        ng-model="TempPageIndex"
				                        chosen 
                                        ng-change="searchByPage()" 
				                        ng-options="item.PageIndex  for item in listPageIndex"  
				                        >
			                        </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                            </div>
                            </div>
                    </div>
                    <!-- ทำหน้า -->


                </div>

              </div>


            </div>

            <div class="row" ng-show="showDevice"  >
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                     <div class="row" style="text-align:right;">              
                        <span class="btn btn-primary "  ng-click="setTrendDetailStatus(1)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.SetOn</span>
                        <span class="btn btn-primary "  ng-click="setTrendDetailStatus(0)" style="color:white;"><i class="fa fa-edit"></i> @Resources.Strings.SetOff</span>
                        <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>                 
                    </div>
                    <div class="clearfix"></div>    
                  </div>
                  <div class="x_content">

                   <div class="form-horizontal form-label-left"  >
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12"  >@Resources.Strings.Customer :
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 text_left"> 
                                {{createModel.CUSTOMER_NAME}}
                            </label>
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Product :
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-12 text_left">
                                {{createModel.PRODUCT_NAME}}
                            </label>
                        </div> 
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-2">  
                            </label> 
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.DocStatus :
                            </label>
                            <label class="control-label col-md-2 col-sm-2 col-xs-2 text_left"> 
                                 {{createModel.DOC_STATUS_NAME}}
                            </label>
                        </div> 
                        <div class="ln_solid"></div>

                    </div>

                    <div class="clearfix"></div> 
                      <table class="table table-bordered" >
                        <thead >
                            <tr>
                                <th>
                                    <input type="checkbox" ng-model="AllTrendCOA" ng-change="SelectDetailAllCheck()">
                                </th>
                                <th>@Resources.Strings.Item</th>
                                <th>@Resources.Strings.Unit</th>
                                <th>@Resources.Strings.TrendStatus</th>
                                <th>@Resources.Strings.ControlValue</th>
                                <th>@Resources.Strings.TestMethod</th>
                                <th>@Resources.Strings.SpecValue</th>
                                <th>@Resources.Strings.ProductMapping</th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="mTrend in listTemplateCOADetail">
                                <td><input type="checkbox" ng-model="mTrend.ITEM_SELECTED" ng-change="test(mTrend)"/></td>
                                <td>{{mTrend.ITEM_NAME}}</td>
                                <td>{{mTrend.UNIT_NAME}}</td>
                                <td ng-class="setTrendFlagClass(mTrend.TREND_GRAPH_FLAG)">{{mTrend.TREND_GRAPH_FLAG_VIEW}}</td>
                                <td class="pointer_cursor " ng-click="openControlDialog(mTrend)">{{mTrend.CONTROL_VALUE}}</td>
                                <td>{{mTrend.TEST_METHOD}}</td>
                                <td>{{mTrend.SPECIFICATION}}</td>
                                <td>
                                    <select 
                                            ng-model="mTrend.PRODUCT_MERGE_SELECT"
                                            ng-change="test(mTrend.PRODUCT_MERGE_SELECT)"
                                            ng-disabled="mTrend.ITEM_SELECTED == false"
                                            chosen
                                            ng-options="item.DISPLAY_NAME  for item in listProductMapping">
                                        <option value=""></option>
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                      </table>


                  </div> 

                  <div class="x_content">
                    <div class="col-md-6 col-sm-6 col-xs-6  ">
                        <div class="title_left text_left small_font_size " >
		                    @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                    </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6  ">
	                    <div class="title_right text_right small_font_size " >
	                        @Resources.Strings.UpdateBy  {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                    </div>
                    </div>
                </div>
                </div>

              </div>


            </div>


            <!-- Control Value modal -->
            <div class="modal fade control-value-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                 <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                           <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                                </button>
                                <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ControlValue</h4>
                           </div> 
                           <div class="modal-body">
                                 <div  class="form-horizontal form-label-left" >
                                     <div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                            ng-model="templistControlGroup"
					                            chosen="{inherit_select_classes: true}"   
                                                ng-change="loadControlSample()"
					                            ng-options="item.NAME  for item in listControlGroup"
                                                class="chosen_required">
					                            <option value=""></option>
				                            </select> 
                                        </div>
                                    </div><div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select 
					                            ng-model="templistControlSample"
					                            chosen="{inherit_select_classes: true}"   
                                                ng-change="loadControlItem()"
					                            ng-options="item.SAMPLE  for item in listControlSample"
                                                class="chosen_required">
					                            <option value=""></option>
				                            </select> 
                                        </div> 
                                    </div><div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select 
					                            ng-model="templistControlItem"
					                            chosen="{inherit_select_classes: true}"   
                                                ng-change="showControlItem()"
					                            ng-options="item.CONTROL_COLUMN_NAME + ' (' + item.UNIT_NAME + ')'   for item in listControlItem"
                                                class="chosen_required">
					                            <option value=""></option>
				                            </select>
                                        </div> 
                                    </div><div class="form-group" >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ControlValue</label>
                                        <label class="control-label col-md-3 col-sm-3  col-xs-12">
                                            {{tempControlValue}}
                                        </label>
                                    </div> 
                                </div> 
                           </div> 
                           <div class="modal-footer">
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-12 col-xs-12">
                                        <button type="button" class="btn btn-primary" my-confirm-click="delControlValue()"  data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                                    </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3"> 
                                        <button type="button" class="btn btn-primary" ng-click="saveControlQMS_TR_TEMPLATE_COA_DETAIL()" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                    </div>
                                </div>
                                <div class="x_content">
                                  <div class="col-md-6 col-sm-6 col-xs-6  ">
                                       <div class="title_left text_left small_font_size " >
		                                    @Resources.Strings.CreateBy {{editQMS_TR_TEMPLATE_COA_DETAIL.CREATE_USER}} ( {{editQMS_TR_TEMPLATE_COA_DETAIL.SHOW_CREATE_DATE }} )
	                                   </div>
                                  </div>
                                  <div class="col-md-6 col-sm-6 col-xs-6  ">
	                                   <div class="title_right text_right small_font_size " >
	                                        @Resources.Strings.UpdateBy {{editQMS_TR_TEMPLATE_COA_DETAIL.UPDATE_USER}} ( {{editQMS_TR_TEMPLATE_COA_DETAIL.SHOW_UPDATE_DATE }} )
	                                   </div>
                                  </div>
                                </div>
                           </div> 
                      </div>
                 </div>
            </div>
            <!-- end Control Value modal -->
    </div>
</div>
<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/
        $scope.tempCustomerId;
        $scope.listCustomer = getListCustomer();
        $scope.tempProductId;
        $scope.listProduct = getListProduct();
        $scope.tempDocStatusId;
        $scope.listDocStatus = getListDocStatus();

        $scope.productId = {};

        /**Special case by case ตาม search model**/

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);;
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('CUSTOMER_NAME');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listTrendCOA; // listdata
        $scope.AllTrendCOA; //checkbox

        $scope.listTemplateCOADetail;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }


        $scope.showSearch = false;

        $scope.listControlGroup = getListControlGroup();
        $scope.listControlSample;
        $scope.listControlItem;

        $scope.templistControlGroup;
        $scope.tempControlValue;
        $scope.tempSampleValue;
        $scope.tempItemValue;

        $scope.editQMS_TR_TEMPLATE_COA_DETAIL;

        //Search
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listTrendCOA, $scope.AllTrendCOA) }

        $scope.sort = function(e){
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadTrendCOA();
        }

        $scope.clearTrendCOA = function() {

               $scope.tempCustomerId = null;
               $scope.tempProductId = null;
               $scope.tempDocStatusId =  null;
               $scope.tempCustomerMappingId =  null;
               $scope.tempProductMappingId =  null;
               $scope.mSearch = getSearchModel();
               console.log($scope.mSearch);
               $scope.loadTrendCOA();
        }

        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }

        $scope.showTrendCOASearch = function(){  $scope.showSearch = true; /*$("#searchTrendCOA").modal('show');*/}
        $scope.closeTrendCOASearch = function() { $scope.showSearch = false; }


        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadTrendCOA(); }
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadTrendCOA(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadTrendCOA(); }
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadTrendCOA(); }
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadTrendCOA(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadTrendCOA(); }

        $scope.loadTrendCOA = function () {

            if(typeof $scope.tempCustomerId !== "undefined" && null !=  $scope.tempCustomerId) {
                $scope.mSearch.CUSTOMER = $scope.tempCustomerId.CUSTOMER;
                 console.log($scope.mSearch, $scope.tempCustomerId.CUSTOMER, $scope.tempCustomerId);
            }

            if(typeof $scope.tempProductId !== "undefined" && null !=  $scope.tempProductId){
                $scope.mSearch.PRODUCT = $scope.tempProductId.PRODUCT;
            }

            if(typeof $scope.tempDocStatusId !== "undefined" && null != $scope.tempDocStatusId){
                $scope.mSearch.COA_DOC_STATUS = $scope.tempDocStatusId.Value;
            }

            Fact.loadDataTable($scope.mSearch, function(response){
                try{
                    $scope.listTrendCOA = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;

                    $scope.loadCustomerMapping();

                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;
			        });
                }catch(e){

                }
                $(".tblResult").show();
            });
        }

        $scope.delTrendCOA = function(){
            Fact.deleteMultiData($scope.listTrendCOA, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadTrendCOA(); });
        }

        $scope.setTrendFlagClass = function(item){
          if(0 == parseFloat(item)){
            return "text-danger";
          }
        }

        $scope.ClkUpdateDocStatus = function(DOC_STATUS_VALUE){

            switch(DOC_STATUS_VALUE) {
                  case 1:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectPending";
                         break;
                  case 2:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectConfirm";
                         break;
                  case 3:
                         MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectReject";
                         break;
                  default:
                         MSG_DOC_STATUS = "Null";
                         break;
            }

            Fact.UpdateDocStatus($scope.listTrendCOA, DOC_STATUS_VALUE , MSG_DOC_STATUS , function(){ $scope.loadTrendCOA(); });

        }

        $scope.setTrendStatus = function (DOC_STATUS_VALUE) {
            $scope.listTrendCOA.forEach(function (entry) {
                entry.CUSTOMER_MERGE_ID = entry.CUSTOMER_MERGE_SELECT != null ? entry.CUSTOMER_MERGE_SELECT.ID : null;
                entry.TREND_GRAPH_FLAG = DOC_STATUS_VALUE;
            });

            MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectTrendStatus";
            var urlUpdateTrend = get_base_url("TrendData/UpdateTrendStatusQMS_TR_TEMPLATE_COA");
            Fact.UpdateTrendStatus(urlUpdateTrend, $scope.listTrendCOA, MSG_DOC_STATUS, function () { $scope.loadTrendCOA(); });
        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); }
        $scope.editData = function (mData) { $scope.createModel = angular.copy(mData); $scope.initialData();}

        $scope.initialData = function(){
            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            console.log("initialData", $scope.createModel );
           
            var valid = true;
            var urlName = get_base_url("TrendData/getCOADetail");
            var jsonData = {id : $scope.createModel.ID};

            if(true == valid){

                Fact.loadlistData(urlName,  jsonData, function(response){
                    try{
                        $scope.listTemplateCOADetail = response.data.listDetail;
                        $scope.loadProductMapping();
                        $scope.loadCustomerMapping();
                    }catch(e){

                    }
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.init = function (mData) {

            Fact.setUpdateTableUrl(get_base_url("TrendData/UpdateDocStatusQMS_TR_TEMPLATE_COA"));
            Fact.setDataTableUrl(get_base_url("TrendData/GetMasterCOABySearch"));

            $scope.listPageSize.forEach(function (entry, index) {
                if (0 == index)
                    $scope.TempPageSize = entry;
            });

            Fact.setSortIcon();
            $scope.getCustomerMapping();
            $scope.loadTrendCOA();

            $scope.getProductMapping();
        }

        $scope.getCustomerMapping = function () {

            var urlName = get_base_url("ControlValue/GetQMS_MA_CUSTOMER_MERGEBySearch");

            var jsonData = {
                "PageIndex": 1,
                "PageSize": 1000,
                "SortColumn": "CUSTOMER_NAME",
                "SortOrder": "desc",
                "mSearch" : {
                       "CUSTOMER_NAME": null,
                       "ACTIVE_DATE": null,
                       "EXPIRE_DATE": null
                 }
            };

            Fact.loadlistData(urlName, jsonData, function (response) {
                try {
                    $scope.tempCustomerMappingId;
                    $scope.listCustomerMapping = response.data.message;

                    $scope.listCustomerMapping.push({
                        "ID": null,
                        "ITEM": "N/A",
                        "CUSTOMER_NAME": "N/A",
                        "DELETE_FLAG": 0,
                    });
                    //reset
                } catch (e) {

                } 
            });
        }

        $scope.getProductMapping = function () {

            var urlName = get_base_url("ControlValue/GetQMS_MA_PRODUCT_MERGEBySearch");

            var jsonData = {
                "PageIndex": 1,
                "PageSize": 1000,
                "SortColumn": "CUSTOMER_NAME",
                "SortOrder": "desc",
                "mSearch": {
                    "ITEM": null,
                    "UNIT": null,
                    "CONTROL_VALUE": null,
                    "TEST_METHOD": null,
                    "SPEC_VALUE": null,
                    "DISPLAY_NAME": null,
                    "ACTIVE_DATE": null,
                    "EXPIRE_DATE": null
                }
            };

           

            Fact.loadlistData(urlName, jsonData, function (response) {
               

                try {
                    $scope.tempProductMappingId;
                    $scope.listProductMapping = response.data.message;

                    $scope.listProductMapping.push({
                        "ID": null,
                        "ITEM": "N/A",
                        "DISPLAY_NAME": "N/A",
                        "DELETE_FLAG": 0,
                    });

                    console.log($scope.listProductMapping);

                    //reset
                 
                } catch (e) {

                }
            });
        }


        $scope.SelectDetailAllCheck = function () { Fact.SelectAllCheck($scope.listTemplateCOADetail, $scope.AllTrendCOA) }

        $scope.test = function (test) { console.log(test); }

        $scope.delControlValue = function(){
            var urlName = get_base_url("TrendData/UpdateControlQMS_TR_TEMPLATE_COA_DETAIL");
            var valid = true;


            if(valid == true){
                $(".control-value-modal-lg").modal('hide');
                var jsonData = {
                                 id: $scope.editQMS_TR_TEMPLATE_COA_DETAIL.ID,
                                 controlid: 0,
                                 CUSTOMER_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.CUSTOMER_NAME,
                                 PRODUCT_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.PRODUCT_NAME,
                                }
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                    $scope.listTemplateCOADetail = response.data.listTemplateCOADetail;
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveControlQMS_TR_TEMPLATE_COA_DETAIL = function(){

            var urlName = get_base_url("TrendData/UpdateControlQMS_TR_TEMPLATE_COA_DETAIL");
            var valid = true;

            if( typeof $scope.templistControlItem !== "undefined"  && typeof $scope.templistControlItem.ID !== "undefined" ){
                $scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_ID = $scope.templistControlItem.ID;
            }else{
                valid = false;
            }

            if(valid == true){
                $(".control-value-modal-lg").modal('hide');
                var jsonData = {
                                 id: $scope.editQMS_TR_TEMPLATE_COA_DETAIL.ID,
                                 controlid: $scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_ID,
                                 CUSTOMER_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.CUSTOMER_NAME,
                                 PRODUCT_NAME:$scope.editQMS_TR_TEMPLATE_COA_DETAIL.PRODUCT_NAME,
                                }
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                    $scope.listTemplateCOADetail = response.data.listTemplateCOADetail;
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }


        $scope.loadProductMapping = function () {
            console.log($scope.listTemplateCOADetail);
            if ($scope.listTemplateCOADetail != undefined) {
                $scope.listTemplateCOADetail.forEach(function (entry) {
                    $scope.listProductMapping.forEach(function (item) {
                        if (entry.PRODUCT_MERGE_ID == item.ID) {
                            entry.PRODUCT_MERGE_SELECT = item
                        }
                    }
                    )
                });
            }
        }

        $scope.loadCustomerMapping = function () {
            if ($scope.listTrendCOA != undefined) {
                $scope.listTrendCOA.forEach(function (entry) {
                    $scope.listCustomerMapping.forEach(function (item) {
                        if (entry.CUSTOMER_MERGE_ID == item.ID) {
                            entry.CUSTOMER_MERGE_SELECT = item
                        }
                    }
                    )
                });
            }
        }

        $scope.loadControlSample = function(){

            var urlName = get_base_url("ControlValue/GetSampleListByControlId");

            var jsonData = {
	                "controlId": $scope.templistControlGroup.ID
	        };

            Fact.loadlistData(urlName, jsonData, function(response){
                try{

                    $scope.optControl = true;
                    $scope.listControlSample = response.data.message;
                    //reset
                    $scope.templistControlItem = {};
                    $scope.listControlItem = {};
                    $scope.tempControlValue = "";
                }catch(e){

                }
            });
        }

        $scope.loadControlItem = function(){

            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
            var jsonData = {
	                "controlId": $scope.templistControlGroup.ID,
                    "sampleId": $scope.templistControlSample.ID

	        };

            Fact.loadlistData(urlName, jsonData, function(response){
                try{
                    $scope.listControlItem = response.data.message;
                    $scope.templistControlItem = {};
                    $scope.showControlItem();
                }catch(e){

                }
            });
        }

        $scope.setTrendFlagClass = function(item){
          if(0 == parseFloat(item)){
            return "text-danger";
          }
        }

        $scope.setTrendDetailStatus = function (DOC_STATUS_VALUE) {

            $scope.listTemplateCOADetail.forEach(function (entry) {
                entry.PRODUCT_MERGE_ID = entry.PRODUCT_MERGE_SELECT != null ? entry.PRODUCT_MERGE_SELECT.ID : null;
                entry.TREND_GRAPH_FLAG = DOC_STATUS_VALUE;
            });
            console.log($scope.listTemplateCOADetail);
            MSG_DOC_STATUS = "@Resources.Strings.PleaseSelectTrendStatus";
            var urlUpdateTrend = get_base_url("TrendData/UpdateTrendStatusQMS_TR_TEMPLATE_COA_DETAIL");
            let listCOADetail = [];
            $scope.listTemplateCOADetail.forEach(function (entry) {
                listCOADetail.push({
                    "ID": entry.ID,
                    "ITEM_SELECTED": entry.ITEM_SELECTED,
                    "PRODUCT_MERGE_ID": entry.PRODUCT_MERGE_ID,
                    "TREND_GRAPH_FLAG": entry.TREND_GRAPH_FLAG
                });
            });

            Fact.UpdateTrendDetailStatus(urlUpdateTrend, $scope.createModel.ID, listCOADetail, MSG_DOC_STATUS, function (response) { $scope.loadTrendCOADetail(response); });

        }


        $scope.loadTrendCOADetail = function (response) {
           //console.log("loadTrendCOADetail", response);
            $scope.listTemplateCOADetail = response.data.listData;
            $scope.loadProductMapping();
        }

        $scope.showControlItem = function(){

            if( typeof $scope.templistControlItem !== "undefined" ){
                $scope.tempControlValue = $scope.templistControlItem.CONTROL_DATA_NAME;
            }else{
               $scope.tempControlValue = "";
            }
        }

        $scope.openControlDialog = function(data){

           $scope.editQMS_TR_TEMPLATE_COA_DETAIL = angular.copy(data);
            //reset
            $scope.templistControlGroup = {};
            $scope.templistControlSample = {};
            $scope.templistControlItem = {};
            $scope.tempControlValue = "";

            $(".control-value-modal-lg").modal('show');

            if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ID  > 0){
                $scope.listControlGroup.forEach(function(entry) {
                    if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ID == entry.ID){
		    	        $scope.templistControlGroup =  entry;
                    }
			    });

                //get sample list then assign then get item list and assgin

                var urlName = get_base_url("ControlValue/GetSampleListByControlId");


                var jsonData = {
	                    "controlId": $scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ID
	            };

                Fact.loadlistData(urlName, jsonData, function(response){
                    try{
                        $scope.optControl = true;
                        $scope.listControlSample = response.data.message;

                        //reset
                        $scope.templistControlItem = {};
                        $scope.listControlItem = {};
//                               $scope.tempControlValue = "";

                        //assign sample value
                        $scope.listControlSample.forEach(function(entry) {
                            if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_SMAPLE_ID== entry.ID){
		    	                $scope.templistControlSample =  entry;

                            }
			            });


                        //load Control Item

                        var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");

                        var jsonData = {
	                            "controlId": $scope.templistControlGroup.ID,
                                "sampleId": $scope.templistControlSample.ID
	                    };

                        Fact.loadlistData(urlName, jsonData, function(response){
                            try{
                                $scope.listControlItem = response.data.message;
                                $scope.listControlItem.forEach(function(entry) {
                                    if($scope.editQMS_TR_TEMPLATE_COA_DETAIL.CONTROL_GROUP_ITEM_ID == entry.CONTROL_COLUMN_ID){
		    	                        $scope.templistControlItem =  entry;
                                        $scope.showControlItem();
                                    }
			                    });
                            }catch(e){

                            }
                        });
                    }catch(e){

                    }
                });
            }

        }

        $scope.init();

    });



    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchModel));
        return lstData;
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize));
        return lstData;
    }

    function getListCustomer(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listCustomer));
        return lstData;
    }

    function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct));
        return lstData;
    }

    function getListDocStatus(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDocStatus));
        return lstData;
    }

   function getListControlGroup(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listControlGroup));
        return lstData;
    }


</script>