﻿@{ 
     var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.TrendGasGraphSearchModel;
     
     var listTemplate = ViewBag.listTemplate as List<QMSSystem.Model.TemplateName_COMBO>; 
}
  <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">              
                <h3>@Resources.Strings.TrendDataGAS</h3>
                <div class="clearfix"> 
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            </div>   
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                <div class="x_content">
                    <div  class="form-horizontal form-label-left controlSearch" >
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.StartDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateStart"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker>  
                            </div> 
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.EndDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateEnd"   data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker> 
                            </div>
                        </div>
                        <div class="form-group">@Resources.Strings.TrandDataData1 </div>                                
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempTemplate1"
					                chosen  
                                    ng-change="loadSample1()"
					                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
					                <option value=""></option>
				                </select>
                            </div> 
                         </div><div class="form-group">
                             <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempSampleId1"
					                chosen  
                                    ng-change="loadItem1()"
					                ng-options="item.SAMPLE_NAME  for item in listSample1" >
					                <option value=""></option>
				                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempItemId1"
					                chosen   
					                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem1" >
					                <option value=""></option>
				                </select>
                            </div>
                        </div>
                        <div class="form-group">@Resources.Strings.TrandDataData2 </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempTemplate2"
					                chosen  
                                    ng-change="loadSample2()"
					                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
					                <option value=""></option>
				                </select> 
                            </div> 
                      </div><div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempSampleId2"
					                chosen  
                                    ng-change="loadItem2()"
					                ng-options="item.SAMPLE_NAME  for item in listSample2" >
					                <option value=""></option>
				                </select>
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempItemId2"
					                chosen   
					                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')'   for item in listItem2" >
					                <option value=""></option>
				                </select>
                            </div>
                        </div>
                     </div>
                       
                    <div class="row " style="text-align:right;">                        
                        <span class="btn btn-primary resetData controlSearch"  ng-click="clearTrendData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                        <span class="btn btn-primary  controlSearch" ng-click="GetGraphData()"  > <i class="fa fa-play"></i> @Resources.Strings.Run</span>
                        @*<span class="btn btn-primary searchData " style="display:none;"> <i class="fa fa-search"></i> @Resources.Strings.Search</span>*@
                        <span class="btn btn-primary downloadData graphData" style="display:none;"  ng-click="downloadImage()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadImage</span>
                        <span class="btn btn-primary downloadCSV graphData"  style="display:none;" ng-click="downloadCSV()" ><i class="fa fa-download"></i> @Resources.Strings.DownloadData</span>
                    </div>
                  </div>

                  <div class="x_content graphData" style="display:none;" > 
                    <br/>
                     <div class="row" style="text-align:center;">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas"></canvas>
                        </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            
            <div class="row graphAnalysis" style="display:none;"> 
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Legend</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Color</th>
                        <th >@Resources.Strings.AreaName  </th>
                        <th >@Resources.Strings.Sample  </th>
                        <th>@Resources.Strings.Item  </th>
                        <th >@Resources.Strings.Unit</th> 
                    </tr>           
                    </thead>
 
                    <tbody  >
                        <tr  > 
                            <td  >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #286090;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA1}}</td>   
                            <td >{{mSearch.SAMPLE_ID1 }}</td>                              
                            <td class="text-primary">{{mSearch.ITEM_ID1}}</td>
                            <td>{{mSearch.UNIT_NAME1}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td >
                                <svg width="20" height="20">
                                  <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #98c207;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA2}}</td>   
                            <td>{{mSearch.SAMPLE_ID2 }}</td>                                  
                            <td class="text-success">{{mSearch.ITEM_ID2}}</td>
                            <td>{{mSearch.UNIT_NAME2}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
            </div>

            <div class="row graphAnalysis" style="display:none;">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Analysis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Item</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th>@Resources.Strings.Average  </th>
                        <th >@Resources.Strings.SD</th>
                        <th >@Resources.Strings.ControlValue</th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  > 
                            <td class="text-primary">{{listTrendSummary.ItemsName}}</td>   
                            <td>{{listTrendSummary.MinValue}} ( {{listTrendSummary.UnitName}} )</td>                                               
                            <td>{{listTrendSummary.MaxValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.AvgValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.SDValue}}</td> 
                            <td>{{control1.SpecView}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">{{listTrendSummary2.ItemsName}}</td>   
                            <td>{{listTrendSummary2.MinValue}} ( {{listTrendSummary2.UnitName}} )</td>                                               
                            <td>{{listTrendSummary2.MaxValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.AvgValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.SDValue}}</td> 
                            <td>{{control2.SpecView}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>
                

             <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.EditYAxis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.TrendData</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th> @Resources.Strings.StepSize  </th> 
                        <th></th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  >  
                            <td class="text-primary">@Resources.Strings.TrandDataData1</td>   
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMin"  number-only-input /> </td>                                               
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.stepSize"  number-only-input /> </td>
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0"> 
                            <td class="text-success">@Resources.Strings.TrandDataData2</td>   
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMin"  number-only-input />  </td>                                               
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.stepSize"  number-only-input /> </td> 
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
              </div> 

            </div>
            
             <form id="TheForm" method="post" action="~/TrendData/TreandDataExcel" target="TheWindow"> 
                <input type="hidden" name="searchData"  id="searchData"   />
            </form>
            

    </div> 
</div>
 
<script type="text/javascript">
    
     

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        $scope.tempTemplate1;
        $scope.tempTemplate2; 
        $scope.listTemplate = getListTemplate();

        $scope.mSearch = getSearchModel();

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        $scope.tempSampleId1;
        $scope.tempSampleId2;
        $scope.listSample1;
        $scope.listSample2;

        $scope.tempItemId1;
        $scope.tempItemId2;
        $scope.listItem1;
        $scope.listItem2;

        $scope.ticksOption1;
        $scope.ticksOption2;

        $scope.mSearch = getSearchModel();

        $scope.listTrendSummary;
        $scope.listTrendData;

        $scope.listTrendSummary2;
        $scope.listTrendData2;

        $scope.control1;
        $scope.control2;
        
        $scope.graph1;
        $scope.TemplateType = 1;//GAS

        $scope.loadSample2 = function(){
            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
           
            var jsonData = {
	                            "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                "TemplateType" : $scope.TemplateType
                            };

            $scope.tempSampleId2 = {};
            $scope.tempItemId2 = {};
            $scope.listItem2 = {};
            $scope.tempSampleId2 = {};
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listSample2 = response.data.message;
                }catch(e){ 

                }
            }); 
        }

        $scope.loadSample1 = function () { 
             
            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
           
            var jsonData = {
	                            "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                "TemplateType" : $scope.TemplateType
                            };

            $scope.tempSampleId1 = {};
            $scope.tempItemId1 = {};
            $scope.listItem1 = {};
            $scope.tempSampleId1 = {}; 
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listSample1 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

         $scope.loadItem2 = function () { 
              
           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
           var jsonData = {
	                            "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                "SampleName" : $scope.tempSampleId2.SAMPLE_NAME,
                                "TEMPLATE_TYPE" : $scope.TemplateType
                            };
                             
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listItem2 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

        $scope.loadItem1 = function () { 
             
           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
           var jsonData = {
	                            "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                "SampleName" : $scope.tempSampleId1.SAMPLE_NAME,
                                "TEMPLATE_TYPE" : $scope.TemplateType
                            };
                             
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listItem1 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

        $scope.setJsonMSearch = function(){
            var bValid = true;

            if(typeof $scope.tempTemplate1 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA1 = $scope.tempTemplate1.TEMPLATE_NAME;
            
            if(typeof $scope.tempSampleId1 !== "undefined")
                $scope.mSearch.SAMPLE_ID1 = $scope.tempSampleId1.SAMPLE_NAME;
            
            if(typeof $scope.tempItemId1 !== "undefined" && typeof $scope.tempItemId1.ITEM_NAME !== "undefined"){
                $scope.mSearch.ITEM_ID1 = $scope.tempItemId1.ITEM_NAME;
                $scope.mSearch.UNIT_ID1 = $scope.tempItemId1.UNIT_ID;
                $scope.mSearch.UNIT_NAME1 = $scope.tempItemId1.UNIT_NAME;
            }else{
                bValid = false;
            }


            if(typeof $scope.tempTemplate2 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA2 = $scope.tempTemplate2.TEMPLATE_NAME;
            
            if(typeof $scope.tempSampleId2 !== "undefined")
                $scope.mSearch.SAMPLE_ID2 = $scope.tempSampleId2.SAMPLE_NAME;
            
            if(typeof $scope.tempItemId2 !== "undefined"){
                $scope.mSearch.ITEM_ID2 = $scope.tempItemId2.ITEM_NAME;
                $scope.mSearch.UNIT_ID2 = $scope.tempItemId2.UNIT_ID;
                $scope.mSearch.UNIT_NAME2 = $scope.tempItemId1.UNIT_NAME;
            }


            if( typeof $scope.TempDateStart !== null ){
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                bValid = false;
            }

            if( typeof $scope.TempDateEnd !== null ){
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                bValid = false;
            }

            if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                bValid = false;
                Fact.showMessage("@Resources.Strings.StartDateOverEndDate");  
            }

            return bValid;
        }
         

       $scope.createGraphEx = function () {  
           $scope.ticksOption1 = Fact.setTicksOption(1,$scope.ticksOption1); 
           $scope.ticksOption2 = Fact.setTicksOption(2,$scope.ticksOption2); 
            
           $scope.createGraph()
       }

       $scope.createGraph = function () { 
            
           try{
               graphConfig1 = Fact.setGraphConfig($scope.graph1, true, "canvas");
                
                $(".graphData").show(); 
                $(".searchData").show();
                $(".graphAnalysis").show();
             
               if(typeof graphConfig1 === 'undefined'){
                   $(".graphData").hide(); 
                   $(".searchData").hide();
                   $(".graphAnalysis").hide(); 
                   Fact.showMessage("@Resources.Strings.NoDataFound"); return; 
               }else{
                   var ctx = document.getElementById( "canvas").getContext("2d");
                   
                   if(typeof window.myLine1 !== "undefined"){
                        window.myLine1.destroy();
                   } 
                   try{
                        window.myLine1 = new Chart(ctx, graphConfig1); 
                        $scope.ticksOption1 = Fact.getTicksOption(1);
                        $scope.ticksOption2 = Fact.getTicksOption(0);
                   }catch(e){
                        console.log(e);
                   } 
               }
           }catch(e){
                console.log(e);
           }
            
        }

        $scope.GetGraphData = function () { 
            if(typeof window.myLine !== "undefined"){
                window.myLine.destroy();
            }
             
            var bValid = $scope.setJsonMSearch();
            var urlName = get_base_url("TrendData/GetGraphData");
            var jsonData = $scope.mSearch;

             

            if(bValid == true){                 
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        
                         $scope.graph1 =  response.data.message;
                         $scope.listTrendData = response.data.message.listTrend1;
                         $scope.listTrendSummary = response.data.message.listSummary1;

                         $scope.listTrendData2 = response.data.message.listTrend2;
                         $scope.listTrendSummary2 = response.data.message.listSummary2;

                         $scope.control1 = response.data.message.control1;
                         $scope.control2 = response.data.message.control2;
                         
                         Fact.resetTicksOption();
                         $scope.createGraph(); // $scope.ticksOption1 = {}; $scope.ticksOption2 = {};   $scope.createGraph(); 
                    }catch(e){
                    
                    }
                }); 
              }else{
                    if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){  
                        Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); 
                    } else{ 
                        Fact.showMessage("@Resources.Strings.PleaseInputData");
                    }
              }
        }

       $scope.clearTrendData = function() {  
            $scope.mSearch = getSearchModel(); 

            $scope.tempItemId1 = {};
            $scope.tempSampleId1 = {};
            $scope.tempTemplate1 = {}; 

            $scope.tempItemId2 = {};
            $scope.tempSampleId2 = {};
            $scope.tempTemplate2 = {};

            $scope.listSample1 = [];
            $scope.listSample2 = [];
         
            $scope.listItem1 = [];
            $scope.listItem2 = [];


            $(".graphData").hide(); 
            $(".searchData").hide();
            $(".graphAnalysis").hide();
       } 

       $scope.downloadCSV = function (){
           
           
            var urlName = get_base_url("TrendData/TreandDataExcel");
            var jsonData = $scope.mSearch;
            var checkResult =  $scope.setJsonMSearch();


            var startDate = "";
            var endDate = "";

            var dd=jsonData.START_DATE.getDate();
            var mm=jsonData.START_DATE.getMonth()+1;
            var yy=jsonData.START_DATE.getFullYear();

            startDate = yy+"/"+mm+"/"+dd;

            dd=jsonData.END_DATE.getDate();
            mm=jsonData.END_DATE.getMonth()+1;
            yy=jsonData.END_DATE.getFullYear();

            endDate = yy+"/"+mm+"/"+dd;

            if( true == checkResult){
                  
                  var dataObjectString = JSON.stringify(jsonData);
                $("#searchData").val(JSON.stringify(jsonData));
                document.getElementById('TheForm').submit(); 

//                urlName += "?TEMPLATE_TYPE=" + jsonData.TEMPLATE_TYPE;
//                urlName += "&START_DATE=" + startDate;//  jsonData.START_DATE;
//                urlName += "&END_DATE=" +   endDate;//jsonData.END_DATE;

//                urlName += "&PLANT_ID1=" +  jsonData.PLANT_ID1;
//                urlName += "&SAMPLE_ID1=" +  jsonData.SAMPLE_ID1;
//                urlName += "&ITEM_ID1=" +   jsonData.ITEM_ID1;
//                urlName += "&UNIT_ID1=" +  jsonData.UNIT_ID1;
//                urlName += "&UNIT_NAME1=" +  jsonData.UNIT_NAME1;

//                urlName += "&PLANT_ID2=" +  jsonData.PLANT_ID2;
//                urlName += "&SAMPLE_ID2=" +  jsonData.SAMPLE_ID2;
//                urlName += "&ITEM_ID2=" +   jsonData.ITEM_ID2;
//                urlName += "&UNIT_ID2=" +  jsonData.UNIT_ID2;
//                urlName += "&UNIT_NAME2=" +  jsonData.UNIT_NAME2;

//                window.open(urlName, "@Resources.Strings.TrendData");

            }
         
        }
         
        $scope.showError = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#error_message').html(msg);
            $('#myErrorModal').modal('show');
        }

        $scope.showMessage = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#show_message').html(msg);
            $('#myMessageModal').modal('show');
        }

        $scope.downloadImage = function () { 
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'Trend Gas.png');
            } else { 
                var link = document.createElement('a');
                link.download =  'TrendGas.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }

        $scope.downloadImage2 = function () {
            var canvas = document.getElementById("canvas");
            var dataURL = canvas.toDataURL('image/png');

           // console.log(dataURL); return;

            var urlName = get_base_url("Files/DownloadImage"); 
            var jsonData = {
                               imageData : dataURL,
                               fname : "Trend Gas"
                           }; 
            window.open(urlName+"?imageData="+dataURL+"&fname=Trend" );
 
       }

       

    }); 
 

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searhTrendData)); 
        return lstData; 
    } 
  
    function getListTemplate(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTemplate)); 
        return lstData; 
    }

</script>