﻿@{ 
    var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.ProductQualityToCSCSearchModel;
    var listCustomer = ViewBag.listCustomer as List<QMSSystem.Model.CUSTOMER_COA>;  
}
 <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">              
                <h3>@Resources.Strings.ProductQualityToCSC</h3>
                <div class="clearfix"> 
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            </div>   
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                <div class="x_content">
                    <div  class="form-horizontal form-label-left controlSearch" >
                        <div class="form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.StartDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateStart"    data-autoclose="1"  data-date-format="dd-MM-yyyy"   bs-datepicker required>  
                            </div> 
                            <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.EndDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control"  ng-model="TempDateEnd"   data-autoclose="1"  data-date-format="dd-MM-yyyy"   bs-datepicker required> 
                            </div>
                        </div>
                       @* <div class="form-group">@Resources.Strings.TrandDataData1 </div>         *@                       
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Customer<span class="required">*</span>
                            </label>
                            <div  class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="tempCustomer1"
					                chosen="{inherit_select_classes: true}"  
                                    class="chosen_required"  
                                    ng-change="loadProduct1()"
					                ng-options="item.CUSTOMER  for item in listCustomer" >
					                <option value=""></option>
				                </select>
                            </div> 
                        </div><div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Product<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                 <select
					                ng-model="tempProductId1"
					                chosen="{inherit_select_classes: true}"
                                    class="chosen_required"
                                    multiple
					                ng-options="item.PRODUCT  for item in listProduct1" >
					                <option value=""></option>
				                </select>
                            </div> 
                     </div>
                       
                     <div class="row " style="text-align:right;">                        
                        <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                        <span class="btn btn-primary controlSearch" ng-click="downloadCSV()"  > <i  class="fa fa-download"></i> @Resources.Strings.DownloadData</span>
                    </div>
                  </div>

                  <div class="x_content graphData" style="display:none;" >
                    @*<h3>@Resources.Strings.TrendDataReport</h3>*@
                    <br>
                     <div class="row" style="text-align:center;">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas"></canvas>
                        </div>
                    </div> 
                  </div>


                </div>
              </div>

            </div>

            <div class="row graphAnalysis" style="display:none;">
             
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.Analysis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.Item</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th>@Resources.Strings.Average  </th>
                        <th >@Resources.Strings.SD</th>
                        <th >@Resources.Strings.SpecValue</th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  > 
                            <td>{{listTrendSummary.ItemsName}}</td>   
                            <td>{{listTrendSummary.MinValue}} ( {{listTrendSummary.UnitName}} )</td>                                               
                            <td>{{listTrendSummary.MaxValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.AvgValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.SDValue}}</td> 
                            <td>{{control1.SpecView}}</td> 
                        </tr>
                        <tr  ng-show="listTrendData2.length > 0"> 
                            <td>{{listTrendSummary2.ItemsName}}</td>   
                            <td>{{listTrendSummary2.MinValue}} ( {{listTrendSummary2.UnitName}} )</td>                                               
                            <td>{{listTrendSummary2.MaxValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.AvgValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.SDValue}}</td> 
                            <td>{{control2.SpecView}}</td> 
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
            </div>

             <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                    <h3>@Resources.Strings.EditYAxis</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <table class="table table-bordered tblResult "  >
                    <thead><tr>
                        <th >@Resources.Strings.TrendData</th>
                        <th >@Resources.Strings.Min  </th>
                        <th >@Resources.Strings.Max  </th> 
                        <th> @Resources.Strings.StepSize  </th> 
                        <th></th>
                    </tr>           
                    </thead>
                    <tbody  >
                        <tr  >  
                            <td>@Resources.Strings.TrandDataData1</td>   
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMin"  number-only-input /> </td>                                               
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.stepSize"  number-only-input /> </td>
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0"> 
                            <td>@Resources.Strings.TrandDataData2</td>   
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMin"  number-only-input />  </td>                                               
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMax"  number-only-input /> </td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.stepSize"  number-only-input /> </td> 
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                    </tbody>
                </table>
               </div>
              </div>
              </div> 

            </div>
            <form id="TheForm" method="post" action="~/TrendData/GetCSCDataExcel" target="TheWindow">
                <input type="hidden" name="PRODUCT"  id="PRODUCT"    />
                <input type="hidden" name="LIST_PRODUCT"  id="LIST_PRODUCT"    />
                <input type="hidden" name="START_DATE"  id="START_DATE"  />
                <input type="hidden" name="END_DATE"  id="END_DATE"    />
                <input type="hidden" name="searchModel"  id="searchModel"   />
            </form>
          </div>
        </div>
</div>
   

<script type="text/javascript">
     
   

    var graphConfig = {};
     
    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        $scope.tempCustomer1;
        $scope.tempCustomer2;
        $scope.listCustomer = getListCustomer();

        $scope.tempProductId1;
        $scope.tempProductId2;
        $scope.listProductId1;
        $scope.listProductId2;
        

        $scope.tempItemId1;
        $scope.tempItemId2;
        $scope.listItem1;
        $scope.listItem2;
         
        $scope.ticksOption1;
        $scope.ticksOption2; 

        $scope.mSearch = getSearchModel();

        $scope.listTrendSummary;
        $scope.listTrendData;

        $scope.listTrendSummary2;
        $scope.listTrendData2;

        $scope.spec1;
        $scope.spec2;
        $scope.control1;
        $scope.control2;

        $scope.graph1;
          
        $scope.showError = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#error_message').html(msg);
            $('#myErrorModal').modal('show');
        }

        $scope.showMessage = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#show_message').html(msg);
            $('#myMessageModal').modal('show');
        }

        $scope.downloadImage = function () { 
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'TrendGas.png');
            } else { 
                 var link = document.createElement('a');
                link.download =  'TrendGas.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();

//                var image = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
//                window.location.href=image; // it will save locally
            }
        }

        $scope.downloadImage2 = function () {
            var canvas = document.getElementById("canvas");
            var dataURL = canvas.toDataURL('image/png');

           // console.log(dataURL); return;

            var urlName = get_base_url("Files/DownloadImage"); 
            var jsonData = {
                               imageData : dataURL,
                               fname : "Trend Gas"
                           }; 
            window.open(urlName+"?imageData="+dataURL+"&fname=Trend" );
 
       }

       $scope.loadItem1 = function () { 
             
            var urlName = get_base_url("TrendData/GetItemByCustomerAndProduct");
            var jsonData = { 
	                            "customer" :  $scope.tempCustomer1.CUSTOMER ,
                                "product" : $scope.tempProductId1.PRODUCT //COA_ID  
                            };
                             
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listItem1 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

       $scope.loadProduct1 = function () { 
             
            var urlName = get_base_url("TrendData/GetProductByCustomer");

            //console.log($scope.tempCustomer1, $scope.tempCustomer1.CUSTOMER);

            var jsonData = {
	                            "customer" :  $scope.tempCustomer1.CUSTOMER 
                            };

            $scope.tempProductId1 = [];
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listProduct1 = response.data.message; 
                }catch(e){
                    
                }
            }); 
        }


         $scope.loadItem2 = function () { 
             
            var urlName = get_base_url("TrendData/GetItemByCustomerAndProduct");
            var jsonData = { 
	                            "customer" :  $scope.tempCustomer2.CUSTOMER ,
                                "product" : $scope.tempProductId2.PRODUCT //COA_ID  
                            };
                             
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listItem2 = response.data.message;
                }catch(e){
                    
                }
            }); 
        }

       $scope.loadProduct2 = function () { 
             
            var urlName = get_base_url("TrendData/GetProductByCustomer");
             

            var jsonData = {
	                            "customer" :  $scope.tempCustomer2.CUSTOMER 
                            };

            $scope.tempProductId2 = {};
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{
                    $scope.listProduct2 = response.data.message; 
                }catch(e){
                    
                }
            }); 
        }

        $scope.setJsonMSearch = function(){
           var bValid = true;
            
            

            if(typeof $scope.tempProductId1 !== "undefined" && $scope.tempProductId1 !== null){ 
                $scope.mSearch.LIST_PRODUCT = $scope.tempProductId1; 
            }else{
                bValid = false;
            }

            if(typeof $scope.tempCustomer1 !== "undefined" && $scope.tempCustomer1 !== null){ 
                $scope.mSearch.CUSTOMER_NAME =  $scope.tempCustomer1.CUSTOMER; 
            }else{
                bValid = false;
            }

            if( $scope.TempDateStart !== null){ 
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                bValid = false;
            }

            if( $scope.TempDateEnd !== null){
               $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                bValid = false;
            }

            if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                bValid = false;
                Fact.showMessage("@Resources.Strings.StartDateOverEndDate");  
            }
             
            return bValid;
       }

       $scope.clearTrendData = function() {  
            $scope.mSearch = getSearchModel(); 

            $scope.tempItemId1 = [];
            $scope.tempProductId1 = [];
            $scope.tempCustomer1 = [];

            $scope.tempItemId2 = [];
            $scope.tempProductId2 = [];
            $scope.tempCustomer2 = []; 


            $scope.listProduct1 = []; 

            $(".graphData").hide(); 
            $(".searchData").hide();
            $(".graphAnalysis").hide();

      } 

       $scope.downloadCSV = function (){

           

            var urlName = get_base_url("TrendData/GetCSCDataExcel");
           
            var checkResult = $scope.setJsonMSearch();
            var jsonData = $scope.mSearch;

            //console.log(jsonData); 
//            return;
            
            if( true == checkResult){

//                var startDate = "";
//                var endDate = ""; 

//                var dd=jsonData.START_DATE.getDate();
//                var mm=jsonData.START_DATE.getMonth()+1;
//                var yy=jsonData.START_DATE.getFullYear();

//                startDate = yy+"/"+mm+"/"+dd;

//                dd=jsonData.END_DATE.getDate();
//                mm=jsonData.END_DATE.getMonth()+1;
//                yy=jsonData.END_DATE.getFullYear();

//                endDate = yy+"/"+mm+"/"+dd;

                var dataObjectString = JSON.stringify(jsonData);
                $("#PRODUCT").val(JSON.stringify(jsonData));
                document.getElementById('TheForm').submit(); 
            }else{
                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){  
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); 
                } else{ 
                    Fact.showMessage("@Resources.Strings.PleaseInputData");
                }
            }
            return false; 
         
        } 

       $scope.createGraphEx = function () {  
           $scope.ticksOption1 = Fact.setTicksOption(1,$scope.ticksOption1); 
           $scope.ticksOption2 = Fact.setTicksOption(2,$scope.ticksOption2); 
            
           $scope.createGraph()
       }

       $scope.createGraph = function () { 
            
           try{
               graphConfig1 = Fact.setGraphConfig($scope.graph1, true, "canvas");
                
                $(".graphData").show(); 
                $(".searchData").show();
                $(".graphAnalysis").show();
             
               if(typeof graphConfig1 === 'undefined'){
                   $(".graphData").hide(); 
                   $(".searchData").hide();
                   $(".graphAnalysis").hide(); 
                   Fact.showMessage("@Resources.Strings.NoDataFound"); return; 
               }else{
                   var ctx = document.getElementById( "canvas").getContext("2d");
                   
                   if(typeof window.myLine1 !== "undefined"){
                        window.myLine1.destroy();
                   } 
                   try{
                        window.myLine1 = new Chart(ctx, graphConfig1); 
                        $scope.ticksOption1 = Fact.getTicksOption(1);
                        $scope.ticksOption2 = Fact.getTicksOption(0);
                   }catch(e){
                        console.log(e);
                   } 
               }
           }catch(e){
                console.log(e);
           }
            
        }

       $scope.GetCSCData = function () { 
             
            var urlName = get_base_url("TrendData/GetCSCData");
            
            var bValid = $scope.setJsonMSearch();

            $scope.mSearch.LIST_PRODUCT

            var jsonData = $scope.mSearch;
            
            console.log($scope.tempProductId1, jsonData); return;
            
            if(true == bValid){
                             
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                         
                         $scope.graph1 =  response.data.message;
                         $scope.listTrendData = response.data.message.listTrend1;
                         $scope.listTrendSummary = response.data.message.listSummary1;

                         $scope.listTrendData2 = response.data.message.listTrend2;
                         $scope.listTrendSummary2 = response.data.message.listSummary2;
 
                         $scope.spec1 = response.data.message.spec1;
                         $scope.spec2 = response.data.message.spec2;
                           
                         $scope.control1 = response.data.message.control1;
                         $scope.control2 = response.data.message.control2;

                         Fact.resetTicksOption();
                         $scope.createGraph(); // $scope.ticksOption1 = {}; $scope.ticksOption2 = {};   $scope.createGraph(); 

                        // trendGraphShow();
                    }catch(e){
                    
                    }
                }); 
            }else{
                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){  
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate"); 
                } else{ 
                    Fact.showMessage("@Resources.Strings.PleaseInputData");
                }
            }
        }
    }); 

    function getListCustomer(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listCustomer)); 
        return lstData; 
    }

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searhTrendData)); 
        return lstData; 
    } 
</script>