﻿@{
    var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.TrendGasGraphSearchModel;
    var listSample = ViewBag.listSample as List<QMSSystem.Model.TrendSample>;
    var listTemplate = ViewBag.listTemplate as List<QMSSystem.Model.TemplateName_COMBO>;
}
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="" id="myDIV">
        <div class="page-title">
            <h3>@Resources.Strings.TrendOther / @Resources.Strings.TwoHundredThousandPond</h3>
            <div class="clearfix">
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-horizontal form-label-left controlSearch">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    @Resources.Strings.StartDate<span class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" class="form-control" ng-model="TempDateStart" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                </div>
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                    @Resources.Strings.EndDate<span class="required">*</span>
                                </label>
                                <div class="col-md-3 col-sm-3 col-xs-12">
                                    <input type="text" class="form-control" ng-model="TempDateEnd" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                </div>
                            </div>
                            </br>
                            <div class="TrandDataUtility1">
                                <div class="form-group">@Resources.Strings.TrandDataData1 </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        @Resources.Strings.Sample<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempSampleId1"
                                                chosen
                                                ng-change="loadItem1()"
                                                ng-options="item.SAMPLE_NAME  for item in listSample">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                        @Resources.Strings.Item<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-disabled="disabledlistutilityItem1"
                                                ng-model="tempItemId1"
                                                chosen
                                                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem1">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="TrandDataUtility2" style="display:none;">
                                <div class="form-group">@Resources.Strings.TrandDataData2 </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        @Resources.Strings.Sample<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempSampleId2"
                                                chosen
                                                ng-change="loadItem2()"
                                                ng-options="item.SAMPLE_NAME  for item in listSample">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                        @Resources.Strings.Item<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempItemId2"
                                                chosen
                                                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem2">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <span class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(2)"> <i class="fa fa-minus"></i></span>
                                        @*<span ng-show="flagadddivutilityarea == 2" class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(2)"> <i class="fa fa-minus"></i></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="TrandDataUtility3" style="display:none;">
                                <div class="form-group">@Resources.Strings.TrandDataData3 </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        @Resources.Strings.Sample<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempSampleId3"
                                                chosen
                                                ng-change="loadItem3()"
                                                ng-options="item.SAMPLE_NAME  for item in listSample">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                        @Resources.Strings.Item<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempItemId3"
                                                chosen
                                                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem3">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <span class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(3)"> <i class="fa fa-minus"></i></span>
                                        @*<span ng-show="flagadddivutilityarea == 3" class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(3)"> <i class="fa fa-minus"></i></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="TrandDataUtility4" style="display:none;">
                                <div class="form-group">@Resources.Strings.TrandDataData4 </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        @Resources.Strings.Sample<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempSampleId4"
                                                chosen
                                                ng-change="loadItem4()"
                                                ng-options="item.SAMPLE_NAME  for item in listSample">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                        @Resources.Strings.Item<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempItemId4"
                                                chosen
                                                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem4">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <span class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(4)"> <i class="fa fa-minus"></i></span>
                                        @*<span ng-show="flagadddivutilityarea == 4" class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(4)"> <i class="fa fa-minus"></i></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="TrandDataUtility5" style="display:none;">
                                <div class="form-group">@Resources.Strings.TrandDataData5 </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        @Resources.Strings.Sample<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempSampleId5"
                                                chosen
                                                ng-change="loadItem5()"
                                                ng-options="item.SAMPLE_NAME  for item in listSample">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                        @Resources.Strings.Item<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempItemId5"
                                                chosen
                                                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem5">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <span class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(5)"> <i class="fa fa-minus"></i></span>
                                        @*<span ng-show="flagadddivutilityarea == 5" class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(5)"> <i class="fa fa-minus"></i></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="TrandDataUtility6" style="display:none;">
                                <div class="form-group">@Resources.Strings.TrandDataData6 </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        @Resources.Strings.Sample<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempSampleId6"
                                                chosen
                                                ng-change="loadItem6()"
                                                ng-options="item.SAMPLE_NAME  for item in listSample">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                        @Resources.Strings.Item<span class="required">*</span>
                                    </label>
                                    <div class="col-md-3 col-sm-3 col-xs-12">
                                        <select ng-model="tempItemId6"
                                                chosen
                                                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem6">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="col-md-1 col-sm-1 col-xs-12">
                                        <span class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(6)"> <i class="fa fa-minus"></i></span>
                                        @*<span ng-show="flagadddivutilityarea == 6" class="btn btn-primary controlSearch" ng-click="delDivAddmultipleutilityarea(6)"> <i class="fa fa-minus"></i></span>*@
                                    </div>
                                </div>
                            </div>
                            <div class="multiitemutility" style="display:none;border-style: solid;border-width: 1px;">
                                </br>
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-3 col-xs-12" ng-repeat="item in templistItemutility">
                                        <label>
                                            <input type="checkbox" ng-model="item.Selected">&nbsp;{{item.ITEM_NAME}}&nbsp;(&nbsp;{{item.UNIT_NAME}}&nbsp;)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            </br>
                        </div>

                        <div class="row" style="text-align: right;">
                            <span class="btn btn-primary addmultipleutilityarea" ng-click="addmultipleutilityarea()"><i class="fa fa-plus"></i> @Resources.Strings.addmultipledata</span>
                            <span class="btn btn-primary addmultipleutilityitem" ng-click="addmultipleutilityitem()"><i class="fa fa-plus"></i> @Resources.Strings.addmultipleitem</span>
                            <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
                            <span class="btn btn-primary  controlSearch" ng-click="GetGraphData()"> <i class="fa fa-play"></i> @Resources.Strings.Run</span>
                            <span class="btn btn-primary downloadData graphData" style="display:none;" ng-click="downloadImage()"><i class="fa fa-download"></i> @Resources.Strings.DownloadImage</span>
                            <span class="btn btn-primary downloadCSV graphData" style="display:none;" ng-click="downloadCSV()"><i class="fa fa-download"></i> @Resources.Strings.DownloadData</span>
                        </div>
                    </div>

                    <div class="x_content graphData" style="display:none;">
                        <br />
                        <div class="row" style="text-align:center;">
                            <div style="width:100%;margin: auto;">
                                <canvas id="canvas"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="row graphAnalysis" style="display:none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@Resources.Strings.Legend</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered tblResult ">
                            <thead>
                                <tr>
                                    <th>@Resources.Strings.TrendData</th>
                                    <th>@Resources.Strings.Color</th>
                                    <th>@Resources.Strings.Sample  </th>
                                    <th>@Resources.Strings.Item  </th>
                                    <th>@Resources.Strings.Unit</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td class="text-primary" style="color:#286090;">@Resources.Strings.TrandDataData1</td>
                                    <td>
                                        <svg width="20" height="20">
                                            <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #286090;"></rect>
                                        </svg>
                                    </td>
                                    <td>{{mSearch.SAMPLE_ID1 }}</td>
                                    <td>{{mSearch.ITEM_ID1}}</td>
                                    <td>{{mSearch.UNIT_NAME1}}</td>
                                </tr>
                                <tr ng-show="listTrendData2.length > 0">
                                    <td class="text-success" style="color:#98c207;">@Resources.Strings.TrandDataData2</td>
                                    <td>
                                        <svg width="20" height="20">
                                            <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #98c207;"></rect>
                                        </svg>
                                    </td>
                                    <td>{{mSearch.SAMPLE_ID2 }}</td>
                                    <td>{{mSearch.ITEM_ID2}}</td>
                                    <td>{{mSearch.UNIT_NAME2}}</td>
                                </tr>
                                <tr ng-show="listTrendData3.length > 0">
                                    <td class="text-success" style="color: #A0522D;">@Resources.Strings.TrandDataData3</td>
                                    <td>
                                        <svg width="20" height="20">
                                            <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width: 5; fill: #A0522D;"></rect>
                                        </svg>
                                    </td>
                                    <td>{{mSearch.SAMPLE_ID3 }}</td>
                                    <td>{{mSearch.ITEM_ID3}}</td>
                                    <td>{{mSearch.UNIT_NAME3}}</td>
                                </tr>
                                <tr ng-show="listTrendData4.length > 0">
                                    <td class="text-success" style="color: #80ced6;">@Resources.Strings.TrandDataData4</td>
                                    <td>
                                        <svg width="20" height="20">
                                            <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width: 5; fill: #80ced6;"></rect>
                                        </svg>
                                    </td>
                                    <td>{{mSearch.SAMPLE_ID4 }}</td>
                                    <td>{{mSearch.ITEM_ID4}}</td>
                                    <td>{{mSearch.UNIT_NAME4}}</td>
                                </tr>
                                <tr ng-show="listTrendData5.length > 0">
                                    <td class="text-success" style="color:#cc33ff;">@Resources.Strings.TrandDataData5</td>
                                    <td>
                                        <svg width="20" height="20">
                                            <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #cc33ff;"></rect>
                                        </svg>
                                    </td>
                                    <td>{{mSearch.SAMPLE_ID5 }}</td>
                                    <td>{{mSearch.ITEM_ID3}}</td>
                                    <td>{{mSearch.UNIT_NAME5}}</td>
                                </tr>
                                <tr ng-show="listTrendData6.length > 0">
                                    <td class="text-success" style="color: #2F4F4F;">@Resources.Strings.TrandDataData6</td>
                                    <td>
                                        <svg width="20" height="20">
                                            <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width: 5; fill: #2F4F4F;"></rect>
                                        </svg>
                                    </td>
                                    <td>{{mSearch.SAMPLE_ID6 }}</td>
                                    <td>{{mSearch.ITEM_ID6}}</td>
                                    <td>{{mSearch.UNIT_NAME6}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div class="row graphAnalysis" style="display:none;">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@Resources.Strings.Analysis</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered tblResult ">
                            <thead>
                                <tr>
                                    <th>@Resources.Strings.TrendData</th>
                                    <th>@Resources.Strings.Sample  </th>
                                    <th>@Resources.Strings.Item</th>
                                    <th>@Resources.Strings.Min  </th>
                                    <th>@Resources.Strings.Max  </th>
                                    <th>@Resources.Strings.Average  </th>
                                    <th>@Resources.Strings.SD</th>
                                    <th>@Resources.Strings.ControlValue</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-primary" style="color:#286090;">@Resources.Strings.TrandDataData1</td>
                                    <td>{{mSearch.SAMPLE_ID1 }}</td>
                                    <td>{{listTrendSummary.ItemsName}}</td>
                                    <td>{{listTrendSummary.MinValue}} ( {{listTrendSummary.UnitName}} )</td>
                                    <td>{{listTrendSummary.MaxValue}} ( {{listTrendSummary.UnitName}} )</td>
                                    <td>{{listTrendSummary.AvgValue}} ( {{listTrendSummary.UnitName}} )</td>
                                    <td>{{listTrendSummary.SDValue}}</td>
                                    <td>{{control1.SpecView}}</td>
                                </tr>
                                <tr ng-show="listTrendData2.length > 0">
                                    <td class="text-success" style="color:#98c207;">@Resources.Strings.TrandDataData2</td>
                                    <td>{{mSearch.SAMPLE_ID2 }}</td>
                                    <td>{{listTrendSummary2.ItemsName}}</td>
                                    <td>{{listTrendSummary2.MinValue}} ( {{listTrendSummary2.UnitName}} )</td>
                                    <td>{{listTrendSummary2.MaxValue}} ( {{listTrendSummary2.UnitName}} )</td>
                                    <td>{{listTrendSummary2.AvgValue}} ( {{listTrendSummary2.UnitName}} )</td>
                                    <td>{{listTrendSummary2.SDValue}}</td>
                                    <td>{{control2.SpecView}}</td>
                                </tr>
                                <tr ng-show="listTrendData3.length > 0">
                                    <td class="text-success" style="color: #A0522D;">@Resources.Strings.TrandDataData3</td>
                                    <td>{{mSearch.SAMPLE_ID3 }}</td>
                                    <td>{{listTrendSummary3.ItemsName}}</td>
                                    <td>{{listTrendSummary3.MinValue}} ( {{listTrendSummary3.UnitName}} )</td>
                                    <td>{{listTrendSummary3.MaxValue}} ( {{listTrendSummary3.UnitName}} )</td>
                                    <td>{{listTrendSummary3.AvgValue}} ( {{listTrendSummary3.UnitName}} )</td>
                                    <td>{{listTrendSummary3.SDValue}}</td>
                                    <td>{{control3.SpecView}}</td>
                                </tr>
                                <tr ng-show="listTrendData4.length > 0">
                                    <td class="text-success" style="color: #80ced6;">@Resources.Strings.TrandDataData4</td>
                                    <td>{{mSearch.SAMPLE_ID4 }}</td>
                                    <td>{{listTrendSummary4.ItemsName}}</td>
                                    <td>{{listTrendSummary4.MinValue}} ( {{listTrendSummary4.UnitName}} )</td>
                                    <td>{{listTrendSummary4.MaxValue}} ( {{listTrendSummary4.UnitName}} )</td>
                                    <td>{{listTrendSummary4.AvgValue}} ( {{listTrendSummary4.UnitName}} )</td>
                                    <td>{{listTrendSummary4.SDValue}}</td>
                                    <td>{{control4.SpecView}}</td>
                                </tr>
                                <tr ng-show="listTrendData5.length > 0">
                                    <td class="text-success" style="color:#cc33ff;">@Resources.Strings.TrandDataData5</td>
                                    <td>{{mSearch.SAMPLE_ID5 }}</td>
                                    <td>{{listTrendSummary5.ItemsName}}</td>
                                    <td>{{listTrendSummary5.MinValue}} ( {{listTrendSummary5.UnitName}} )</td>
                                    <td>{{listTrendSummary5.MaxValue}} ( {{listTrendSummary5.UnitName}} )</td>
                                    <td>{{listTrendSummary5.AvgValue}} ( {{listTrendSummary5.UnitName}} )</td>
                                    <td>{{listTrendSummary5.SDValue}}</td>
                                    <td>{{control5.SpecView}}</td>
                                </tr>
                                <tr ng-show="listTrendData6.length > 0">
                                    <td class="text-success" style="color: #2F4F4F;">@Resources.Strings.TrandDataData6</td>
                                    <td>{{mSearch.SAMPLE_ID6 }}</td>
                                    <td>{{listTrendSummary6.ItemsName}}</td>
                                    <td>{{listTrendSummary6.MinValue}} ( {{listTrendSummary6.UnitName}} )</td>
                                    <td>{{listTrendSummary6.MaxValue}} ( {{listTrendSummary6.UnitName}} )</td>
                                    <td>{{listTrendSummary6.AvgValue}} ( {{listTrendSummary6.UnitName}} )</td>
                                    <td>{{listTrendSummary6.SDValue}}</td>
                                    <td>{{control6.SpecView}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@Resources.Strings.EditHeaderGraph</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered tblResult ">
                            <thead>
                                <tr>
                                    <th> @Resources.Strings.HeaderGraph </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> <input type="text" class="form-control" ng-model="headerGraph" /> </td>
                                    <td><span class="btn btn-primary " ng-click="createHeaderGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h3>@Resources.Strings.EditYAxis</h3>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-bordered tblResult ">
                            <thead>
                                <tr>
                                    <th>@Resources.Strings.TrendData</th>
                                    <th>@Resources.Strings.Min  </th>
                                    <th>@Resources.Strings.Max  </th>
                                    <th> @Resources.Strings.StepSize  </th>
                                    <th> @Resources.Strings.Position </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="text-primary" style="color:#286090;">@Resources.Strings.TrandDataData1</td>
                                    <td> <input type="text" class="form-control " ng-model="ticksOption1.min" number-only-input ng-disabled="disabledEditYAxis1" /> </td>
                                    <td> <input type="text" class="form-control " ng-model="ticksOption1.max" number-only-input ng-disabled="disabledEditYAxis1" /> </td>
                                    <td> <input type="text" class="form-control " ng-model="ticksOption1.stepSize" number-only-input ng-disabled="disabledEditYAxis1" /> </td>
                                    <td>
                                        <label><input type="radio" ng-model="ticksOption1.position" value="left" ng-disabled="disabledEditYAxis1" />Left&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="radio" ng-model="ticksOption1.position" value="right" ng-disabled="disabledEditYAxis1" />Right</label>
                                    </td>
                                    <td><span class="btn btn-primary " ng-hide="disabledEditYAxis1" ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                                </tr>
                                <tr ng-show="listTrendData2.length > 0">
                                    <td class="text-success" style="color:#98c207;">@Resources.Strings.TrandDataData2 <br>{{txtDisabledEditYAxis2}}</td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption2.min" number-only-input ng-disabled="disabledEditYAxis2" />  </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption2.max" number-only-input ng-disabled="disabledEditYAxis2" /> </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption2.stepSize" number-only-input ng-disabled="disabledEditYAxis2" /> </td>
                                    <td>
                                        <label><input type="radio" ng-model="ticksOption2.position" value="left" ng-disabled="disabledEditYAxis2" />Left&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="radio" ng-model="ticksOption2.position" value="right" ng-disabled="disabledEditYAxis2" />Right</label>
                                    </td>
                                    <td><span class="btn btn-primary " ng-hide="disabledEditYAxis2" ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                                </tr>
                                <tr ng-show="listTrendData3.length > 0">
                                    <td class="text-success" style="color: #A0522D;">@Resources.Strings.TrandDataData3<br>{{txtDisabledEditYAxis3}}</td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption3.min" number-only-input ng-disabled="disabledEditYAxis3" />  </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption3.max" number-only-input ng-disabled="disabledEditYAxis3" /> </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption3.stepSize" number-only-input ng-disabled="disabledEditYAxis3" /> </td>
                                    <td>
                                        <label><input type="radio" ng-model="ticksOption3.position" value="left" ng-disabled="disabledEditYAxis3" />Left&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="radio" ng-model="ticksOption3.position" value="right" ng-disabled="disabledEditYAxis3" />Right</label>
                                    </td>
                                    <td><span class="btn btn-primary " ng-hide="disabledEditYAxis3" ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                                </tr>
                                <tr ng-show="listTrendData4.length > 0">
                                    <td class="text-success" style="color: #80ced6;">@Resources.Strings.TrandDataData4<br>{{txtDisabledEditYAxis4}}</td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption4.min" number-only-input ng-disabled="disabledEditYAxis4" />  </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption4.max" number-only-input ng-disabled="disabledEditYAxis4" /> </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption4.stepSize" number-only-input ng-disabled="disabledEditYAxis4" /> </td>
                                    <td>
                                        <label><input type="radio" ng-model="ticksOption4.position" value="left" ng-disabled="disabledEditYAxis4" />Left&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="radio" ng-model="ticksOption4.position" value="right" ng-disabled="disabledEditYAxis4" />Right</label>
                                    </td>
                                    <td><span class="btn btn-primary " ng-hide="disabledEditYAxis4" ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                                </tr>
                                <tr ng-show="listTrendData5.length > 0">
                                    <td class="text-success" style="color:#cc33ff;">@Resources.Strings.TrandDataData5<br>{{txtDisabledEditYAxis5}}</td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption5.min" number-only-input ng-disabled="disabledEditYAxis5" />  </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption5.max" number-only-input ng-disabled="disabledEditYAxis5" /> </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption5.stepSize" number-only-input ng-disabled="disabledEditYAxis5" /> </td>
                                    <td>
                                        <label><input type="radio" ng-model="ticksOption5.position" value="left" ng-disabled="disabledEditYAxis5" />Left&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="radio" ng-model="ticksOption5.position" value="right" ng-disabled="disabledEditYAxis5" />Right</label>
                                    </td>
                                    <td><span class="btn btn-primary " ng-hide="disabledEditYAxis5" ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                                </tr>
                                <tr ng-show="listTrendData6.length > 0">
                                    <td class="text-success" style="color: #2F4F4F;">@Resources.Strings.TrandDataData6<br>{{txtDisabledEditYAxis6}}</td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption6.min" number-only-input ng-disabled="disabledEditYAxis6" />  </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption6.max" number-only-input ng-disabled="disabledEditYAxis6" /> </td>
                                    <td> <input type="text" class="form-control" ng-model="ticksOption6.stepSize" number-only-input ng-disabled="disabledEditYAxis6" /> </td>
                                    <td>
                                        <label><input type="radio" ng-model="ticksOption6.position" value="left" ng-disabled="disabledEditYAxis6" />Left&nbsp;&nbsp;&nbsp;</label>
                                        <label><input type="radio" ng-model="ticksOption6.position" value="right" ng-disabled="disabledEditYAxis6" />Right</label>
                                    </td>
                                    <td><span class="btn btn-primary " ng-hide="disabledEditYAxis6" ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>




    </div>
    <form id="TheForm" method="post" action="~/TrendData/TreandDataExcel" target="TheWindow">
        <input type="hidden" name="searchData" id="searchData" />
    </form>
</div>

<script type="text/javascript">
app.controller(
  "myCtrl",
  function (
    $scope,
    Fact,
    $sce,
    $http,
    $httpParamSerializer,
    $httpParamSerializerJQLike
  ) {
    $scope.mSearch = getSearchModel();

    $scope.TempDateStart = null;
    $scope.TempDateEnd = null;

    $scope.tempSampleId1;
    $scope.tempSampleId2;
    $scope.tempSampleId3;
    $scope.tempSampleId4;
    $scope.tempSampleId5;
    $scope.tempSampleId6;

      $scope.listSample = getlistSample();
      $scope.listTemplate = getlistTemplate();

    $scope.listItem1;
    $scope.listItem2;
    $scope.listItem3;
    $scope.listItem4;
    $scope.listItem5;
    $scope.listItem6;

    $scope.tempItemId1;
    $scope.tempItemId2;
    $scope.tempItemId3;
    $scope.tempItemId4;
    $scope.tempItemId5;
    $scope.tempItemId6;

    $scope.ticksOption1;
    $scope.ticksOption2;
    $scope.ticksOption3;
    $scope.ticksOption4;
    $scope.ticksOption5;
      $scope.ticksOption6;

      $scope.tempTemplate;

    $scope.mSearch = getSearchModel();

    $scope.listTrendSummary;
    $scope.listTrendData;

    $scope.listTrendSummary2;
    $scope.listTrendData2;

    $scope.listTrendSummary3;
    $scope.listTrendData3;

    $scope.listTrendSummary4;
    $scope.listTrendData4;

    $scope.listTrendSummary5;
    $scope.listTrendData5;

    $scope.listTrendSummary6;
    $scope.listTrendData6;

    $scope.control1;
    $scope.control2;
    $scope.control3;
    $scope.control4;
    $scope.control5;
    $scope.control6;

    $scope.graph1;

    $scope.headerGraph = "";

    $scope.disabledEditYAxis1 = false;
    $scope.disabledEditYAxis2 = false;
    $scope.disabledEditYAxis3 = false;
    $scope.disabledEditYAxis4 = false;
    $scope.disabledEditYAxis5 = false;
    $scope.disabledEditYAxis6 = false;

    $scope.FlagcreateGraphEx = false;

    $scope.txtDisabledEditYAxis2 = "";
    $scope.txtDisabledEditYAxis3 = "";
    $scope.txtDisabledEditYAxis4 = "";
    $scope.txtDisabledEditYAxis5 = "";
      $scope.txtDisabledEditYAxis6 = "";

      $scope.tempchkItemIsSame;

    $scope.TemplateType = 2;

    $scope.flagadddivutilityarea = 1;
    $scope.flagutilitycheckadd = 1;

    $scope.templistItemutility;
    $scope.flagaddmultipleutilityitem = 0;

    $scope.disabledlistutilityItem1 = false;
      $scope.chklengthItemutility;

    $scope.loadItem1 = function () {
        var urlName = get_base_url("TrendData/GetItemBySampleNameTemplateTypeEx");
        var jsonData = {
            "TemplateType": [15],
            "SampleName": $scope.tempSampleId1.SAMPLE_NAME
        };
      Fact.loadlistData(urlName, jsonData, function (response) {
        try {
          $scope.listItem1 = response.data.message;
          if ($scope.flagaddmultipleutilityitem == 1) {
            $scope.addmultipleutilityitem();
          }
        } catch (e) {}
      });
    };
    $scope.loadItem2 = function () {
        var urlName = get_base_url("TrendData/GetItemBySampleNameTemplateTypeEx");
        var jsonData = {
            "TemplateType": [15],
            "SampleName": $scope.tempSampleId2.SAMPLE_NAME
        };
      Fact.loadlistData(urlName, jsonData, function (response) {
        try {
          $scope.listItem2 = response.data.message;
        } catch (e) {}
      });
    };

    $scope.loadItem3 = function () {
        var urlName = get_base_url("TrendData/GetItemBySampleNameTemplateTypeEx");
        var jsonData = {
            "TemplateType": [15],
            "SampleName": $scope.tempSampleId3.SAMPLE_NAME
        };
      Fact.loadlistData(urlName, jsonData, function (response) {
        try {
          $scope.listItem3 = response.data.message;
        } catch (e) {}
      });
    };

    $scope.loadItem4 = function () {
        var urlName = get_base_url("TrendData/GetItemBySampleNameTemplateTypeEx");
        var jsonData = {
            "TemplateType": [15],
            "SampleName": $scope.tempSampleId4.SAMPLE_NAME
        };
      Fact.loadlistData(urlName, jsonData, function (response) {
        try {
          $scope.listItem4 = response.data.message;
        } catch (e) {}
      });
    };

    $scope.loadItem5 = function () {
        var urlName = get_base_url("TrendData/GetItemBySampleNameTemplateTypeEx");
        var jsonData = {
            "TemplateType": [15],
            "SampleName": $scope.tempSampleId5.SAMPLE_NAME
        };
      Fact.loadlistData(urlName, jsonData, function (response) {
        try {
          $scope.listItem5 = response.data.message;
        } catch (e) {}
      });
    };

    $scope.loadItem6 = function () {
        var urlName = get_base_url("TrendData/GetItemBySampleNameTemplateTypeEx");
        var jsonData = {
            "TemplateType": [15],
            "SampleName": $scope.tempSampleId1.SAMPLE_NAME
        };
      Fact.loadlistData(urlName, jsonData, function (response) {
        try {
          $scope.listItem6 = response.data.message;
        } catch (e) {}
      });
      };

    $scope.addmultipleutilityitem = function () {
      $scope.flagaddmultipleutilityitem = 1;
      if (
        typeof $scope.tempSampleId1 !== "undefined" &&
        $scope.tempSampleId1 !== null &&
        typeof $scope.tempSampleId1.SAMPLE_NAME !== "undefined"
      ) {
        $scope.templistItemutility = [];
        $scope.listItem1.forEach(function (entry, index) {
          $scope.tempentry = {
            Selected: false,
            ITEM_ID: 0,
            ITEM_NAME: "",
            PLANT_ID: 0,
            SAMPLE_ID: 0,
            UNIT_ID: 0,
            UNIT_NAME: "",
          };
          $scope.tempentry.Selected = false;
          if (
            typeof $scope.tempItemId1 !== "undefined" &&
            $scope.tempItemId1 !== null &&
            typeof $scope.tempItemId1.ITEM_ID !== "undefined" &&
            $scope.tempItemId1.ITEM_ID !== null &&
            $scope.tempItemId1.ITEM_NAME == entry.ITEM_NAME
          ) {
            $scope.tempItemId1 = entry;
            $scope.tempentry.Selected = true;
          }
          $scope.tempentry.ITEM_ID = entry.ITEM_ID;
          $scope.tempentry.ITEM_NAME = entry.ITEM_NAME;
          $scope.tempentry.PLANT_ID = entry.PLANT_ID;
          $scope.tempentry.SAMPLE_ID = entry.SAMPLE_ID;
          $scope.tempentry.UNIT_ID = entry.UNIT_ID;
          $scope.tempentry.UNIT_NAME = entry.UNIT_NAME;
          $scope.templistItemutility.push($scope.tempentry);
        });

        $(".multiitemutility").show();
        $scope.disabledlistutilityItem1 = true;
        $(".addmultipleutilityarea").hide();
      } else {
        if ($scope.TempDateStart !== null) {
          $scope.mSearch.START_DATE = $scope.TempDateStart;
        } else {
          Fact.showMessage("@Resources.Strings.PleaseInputData");
        }

        if ($scope.TempDateEnd !== null) {
          $scope.mSearch.END_DATE = $scope.TempDateEnd;
        } else {
          Fact.showMessage("@Resources.Strings.PleaseInputData");
        }
        if ($scope.mSearch.START_DATE > $scope.mSearch.END_DATE) {
          Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
        } else {
          Fact.showMessage("@Resources.Strings.PleaseInputData");
        }
      }
    };

    $scope.addmultipleutilityarea = function () {
      $(".addmultipleutilityitem").hide();

      if ($scope.flagadddivutilityarea < 6) {
        $scope.flagadddivutilityarea += 1;
      }
      if ($scope.flagutilitycheckadd < 7) {
        $scope.flagutilitycheckadd += 1;
      }
      if ($scope.flagutilitycheckadd == 7) {
        $scope.showMessage("The system can add maximum 6 products only ");
      }
      $scope.checkflagaddmultipleutilityarea();
    };
    $scope.checkflagaddmultipleutilityarea = function () {
      if ($scope.flagadddivutilityarea >= 2) {
        $(".TrandDataUtility2").show();
      }
      if ($scope.flagadddivutilityarea >= 3) {
        $(".TrandDataUtility3").show();
      }
      if ($scope.flagadddivutilityarea >= 4) {
        $(".TrandDataUtility4").show();
      }
      if ($scope.flagadddivutilityarea >= 5) {
        $(".TrandDataUtility5").show();
      }
      if ($scope.flagadddivutilityarea == 6) {
        $(".TrandDataUtility6").show();
      }
      if ($scope.flagadddivutilityarea == 1) {
        $(".addmultipleutilityitem").show();
      }
    };
      $scope.delDivAddmultipleutilityarea = function (flagData) {
          if (flagData <= 2) {
              //clear data 2
              $scope.tempSampleId2 = {};
              $scope.tempItemId2 = {};
              $scope.listSample2 = [];
              $scope.listItem2 = [];
              $scope.mSearch.SAMPLE_ID2 = null;
              $scope.mSearch.ITEM_ID2 = null;
              $scope.mSearch.UNIT_NAME2 = null;
              $scope.mSearch.UNIT_ID2 = 0;
              //set data 2
              $scope.tempSampleId2 = $scope.tempSampleId3;
              $scope.tempItemId2 = $scope.tempItemId3;
              $scope.listSample2 = $scope.listSample3;
              $scope.listItem2 = $scope.listItem3;
              $scope.mSearch.TEMPLATE_AREA2 = $scope.mSearch.TEMPLATE_AREA3;
              $scope.mSearch.SAMPLE_ID2 = $scope.mSearch.SAMPLE_ID3;
              $scope.mSearch.ITEM_ID2 = $scope.mSearch.ITEM_ID3;
              $scope.mSearch.UNIT_NAME2 = $scope.mSearch.UNIT_NAME3;
              $scope.mSearch.UNIT_ID2 = $scope.mSearch.UNIT_ID3;

          }
          if (flagData <= 3) {
              //clear data 3
              $scope.tempSampleId3 = {};
              $scope.tempItemId3 = {};
              $scope.listSample3 = [];
              $scope.listItem3 = [];
              $scope.mSearch.SAMPLE_ID3 = null;
              $scope.mSearch.ITEM_ID3 = null;
              $scope.mSearch.UNIT_NAME3 = null;
              $scope.mSearch.UNIT_ID3 = 0;
              //set data 3
              $scope.tempSampleId3 = $scope.tempSampleId4;
              $scope.tempItemId3 = $scope.tempItemId4;
              $scope.listSample3 = $scope.listSample4;
              $scope.listItem3 = $scope.listItem4;
              $scope.mSearch.TEMPLATE_AREA3 = $scope.mSearch.TEMPLATE_AREA4;
              $scope.mSearch.SAMPLE_ID3 = $scope.mSearch.SAMPLE_ID4;
              $scope.mSearch.ITEM_ID3 = $scope.mSearch.ITEM_ID4;
              $scope.mSearch.UNIT_NAME3 = $scope.mSearch.UNIT_NAME4;
              $scope.mSearch.UNIT_ID3 = $scope.mSearch.UNIT_ID4;
          }
          if (flagData <= 4) {
              //clear data 4
              $scope.tempSampleId4 = {};
              $scope.tempItemId4 = {};
              $scope.listSample4 = [];
              $scope.listItem4 = [];
              $scope.mSearch.SAMPLE_ID4 = null;
              $scope.mSearch.ITEM_ID4 = null;
              $scope.mSearch.UNIT_NAME4 = null;
              $scope.mSearch.UNIT_ID4 = 0;
              //set data 4
              $scope.tempSampleId4 = $scope.tempSampleId5;
              $scope.tempItemId4 = $scope.tempItemId5;
              $scope.listSample4 = $scope.listSample5;
              $scope.listItem4 = $scope.listItem5;
              $scope.mSearch.TEMPLATE_AREA4 = $scope.mSearch.TEMPLATE_AREA5;
              $scope.mSearch.SAMPLE_ID4 = $scope.mSearch.SAMPLE_ID5;
              $scope.mSearch.ITEM_ID4 = $scope.mSearch.ITEM_ID5;
              $scope.mSearch.UNIT_NAME4 = $scope.mSearch.UNIT_NAME5;
              $scope.mSearch.UNIT_ID4 = $scope.mSearch.UNIT_ID5;
          }
          if (flagData <= 5) {
              //clear data 5
              $scope.tempSampleId5 = {};
              $scope.tempItemId5 = {};
              $scope.listSample5 = [];
              $scope.listItem5 = [];
              $scope.mSearch.SAMPLE_ID5 = null;
              $scope.mSearch.ITEM_ID5 = null;
              $scope.mSearch.UNIT_NAME5 = null;
              $scope.mSearch.UNIT_ID5 = 0;
              //set data 5
              $scope.tempSampleId5 = $scope.tempSampleId6;
              $scope.tempItemId5 = $scope.tempItemId6;
              $scope.listSample5 = $scope.listSample6;
              $scope.listItem5 = $scope.listItem6;
              $scope.mSearch.TEMPLATE_AREA5 = $scope.mSearch.TEMPLATE_AREA6;
              $scope.mSearch.SAMPLE_ID5 = $scope.mSearch.SAMPLE_ID6;
              $scope.mSearch.ITEM_ID5 = $scope.mSearch.ITEM_ID6;
              $scope.mSearch.UNIT_NAME5 = $scope.mSearch.UNIT_NAME6;
              $scope.mSearch.UNIT_ID5 = $scope.mSearch.UNIT_ID6;
          }
          if (flagData <= 6) {
              //clear data 5
              $scope.tempSampleId6 = {};
              $scope.tempItemId6 = {};
              $scope.listSample6 = [];
              $scope.listItem6 = [];
              $scope.mSearch.SAMPLE_ID6 = null;
              $scope.mSearch.ITEM_ID6 = null;
              $scope.mSearch.UNIT_NAME6 = null;
              $scope.mSearch.UNIT_ID6 = 0;
          }
      if ($scope.flagadddivutilityarea == 2) {
        $scope.tempTemplate2 = {};
        $scope.tempSampleId2 = {};
        $scope.tempItemId2 = {};

        $scope.listSample2 = [];
        $scope.listItem2 = [];

        $scope.mSearch.SAMPLE_ID2 = null;
        $scope.mSearch.ITEM_ID2 = null;
        $scope.mSearch.UNIT_NAME2 = null;
        $scope.mSearch.UNIT_ID2 = 0;
        $(".TrandDataUtility2").hide();
      }
      if ($scope.flagadddivutilityarea == 3) {
        $scope.tempTemplate3 = {};
        $scope.tempSampleId3 = {};
        $scope.tempItemId3 = {};

        $scope.listSample3 = [];
        $scope.listItem3 = [];

        $scope.mSearch.SAMPLE_ID3 = null;
        $scope.mSearch.ITEM_ID3 = null;
        $scope.mSearch.UNIT_NAME3 = null;
        $scope.mSearch.UNIT_ID3 = 0;
        $(".TrandDataUtility3").hide();
      }
      if ($scope.flagadddivutilityarea == 4) {
        $scope.tempTemplate4 = {};
        $scope.tempSampleId4 = {};
        $scope.tempItemId4 = {};

        $scope.listSample4 = [];
        $scope.listItem4 = [];

        $scope.mSearch.SAMPLE_ID4 = null;
        $scope.mSearch.ITEM_ID4 = null;
        $scope.mSearch.UNIT_NAME4 = null;
        $scope.mSearch.UNIT_ID4 = 0;
        $(".TrandDataUtility4").hide();
      }
      if ($scope.flagadddivutilityarea == 5) {
        $scope.tempTemplate5 = {};
        $scope.tempSampleId5 = {};
        $scope.tempItemId5 = {};

        $scope.listSample5 = [];
        $scope.listItem5 = [];

        $scope.mSearch.SAMPLE_ID5 = null;
        $scope.mSearch.ITEM_ID5 = null;
        $scope.mSearch.UNIT_NAME5 = null;
        $scope.mSearch.UNIT_ID5 = 0;
        $(".TrandDataUtility5").hide();
      }
      if ($scope.flagadddivutilityarea == 6) {
        $scope.tempTemplate6 = {};
        $scope.tempSampleId6 = {};
        $scope.tempItemId6 = {};

        $scope.listSample6 = [];
        $scope.listItem6 = [];

        $scope.mSearch.SAMPLE_ID6 = null;
        $scope.mSearch.ITEM_ID6 = null;
        $scope.mSearch.UNIT_NAME6 = null;
        $scope.mSearch.UNIT_ID6 = 0;
        $(".TrandDataUtility6").hide();
      }
      $scope.flagadddivutilityarea -= 1;
      if ($scope.flagutilitycheckadd == 7) {
        $scope.flagutilitycheckadd -= 2;
      } else {
        $scope.flagutilitycheckadd -= 1;
      }

      $scope.checkflagaddmultipleutilityarea();
    };

    $scope.resetmSearchmodel = function () {
      //mSearch1
      $scope.mSearch.ITEM_ID1 = null;
      $scope.mSearch.SAMPLE_ID1 = null;
      $scope.mSearch.UNIT_ID1 = 0;
      $scope.mSearch.UNIT_NAME1 = null;
      //mSearch2
      $scope.mSearch.ITEM_ID2 = null;
      $scope.mSearch.SAMPLE_ID2 = null;
      $scope.mSearch.UNIT_ID2 = 0;
      $scope.mSearch.UNIT_NAME2 = null;
      //mSearch3
      $scope.mSearch.ITEM_ID3 = null;
      $scope.mSearch.SAMPLE_ID3 = null;
      $scope.mSearch.UNIT_ID3 = 0;
      $scope.mSearch.UNIT_NAME3 = null;
      //mSearch4
      $scope.mSearch.ITEM_ID4 = null;
      $scope.mSearch.SAMPLE_ID4 = null;
      $scope.mSearch.UNIT_ID4 = 0;
      $scope.mSearch.UNIT_NAME4 = null;
      //mSearch5
      $scope.mSearch.ITEM_ID5 = null;
      $scope.mSearch.SAMPLE_ID5 = null;
      $scope.mSearch.UNIT_ID5 = 0;
      $scope.mSearch.UNIT_NAME5 = null;
      //mSearch6
      $scope.mSearch.ITEM_ID6 = null;
      $scope.mSearch.SAMPLE_ID6 = null;
      $scope.mSearch.UNIT_ID6 = 0;
      $scope.mSearch.UNIT_NAME6 = null;
    };

    $scope.setJsonMSearch = function () {
      var bValid = true;
      if ($scope.flagaddmultipleutilityitem == 1) {
        $scope.resetmSearchmodel();
        $scope.chklengthItemutility = [];
        $scope.templistItemutility.forEach(function (entry, index) {
          if (entry.Selected == true) {
            $scope.chklengthItemutility.push(entry);
          }
        });
        if ($scope.chklengthItemutility.length == 0) {
          //Please select items
          bValid = false;
        } else if ($scope.chklengthItemutility.length > 6) {
          //Can select only 6 items
          bValid = false;
        } else {
            $scope.mSearch.TEMPLATE_AREA1 = "-";
            $scope.mSearch.TEMPLATE_AREA2 = "-";
            $scope.mSearch.TEMPLATE_AREA3 = "-";
            $scope.mSearch.TEMPLATE_AREA4 = "-";
            $scope.mSearch.TEMPLATE_AREA5 = "-";
            $scope.mSearch.TEMPLATE_AREA6 = "-";
            $scope.mSearch.TEMPLATE_TYPE1 = $scope.mSearch.TEMPLATE_TYPE;
            $scope.mSearch.TEMPLATE_TYPE2 = $scope.mSearch.TEMPLATE_TYPE;
            $scope.mSearch.TEMPLATE_TYPE3 = $scope.mSearch.TEMPLATE_TYPE;
            $scope.mSearch.TEMPLATE_TYPE4 = $scope.mSearch.TEMPLATE_TYPE;
            $scope.mSearch.TEMPLATE_TYPE5 = $scope.mSearch.TEMPLATE_TYPE;
            $scope.mSearch.TEMPLATE_TYPE6 = $scope.mSearch.TEMPLATE_TYPE;
          $scope.mSearch.ITEM_ID1 = $scope.chklengthItemutility[0]["ITEM_NAME"];
          $scope.mSearch.SAMPLE_ID1 = $scope.tempSampleId1.SAMPLE_NAME;
          $scope.mSearch.UNIT_ID1 = $scope.chklengthItemutility[0]["UNIT_ID"];
          $scope.mSearch.UNIT_NAME1 =
            $scope.chklengthItemutility[0]["UNIT_NAME"];
          if ($scope.chklengthItemutility.length >= 2) {
            $scope.mSearch.ITEM_ID2 =
              $scope.chklengthItemutility[1]["ITEM_NAME"];
            $scope.mSearch.SAMPLE_ID2 = $scope.tempSampleId1.SAMPLE_NAME;
            $scope.mSearch.UNIT_ID2 = $scope.chklengthItemutility[1]["UNIT_ID"];
            $scope.mSearch.UNIT_NAME2 =
              $scope.chklengthItemutility[1]["UNIT_NAME"];
          }
          if ($scope.chklengthItemutility.length >= 3) {
            $scope.mSearch.ITEM_ID3 =
              $scope.chklengthItemutility[2]["ITEM_NAME"];
            $scope.mSearch.SAMPLE_ID3 = $scope.tempSampleId1.SAMPLE_NAME;
            $scope.mSearch.UNIT_ID3 = $scope.chklengthItemutility[2]["UNIT_ID"];
            $scope.mSearch.UNIT_NAME3 =
              $scope.chklengthItemutility[2]["UNIT_NAME"];
          }
          if ($scope.chklengthItemutility.length >= 4) {
            $scope.mSearch.ITEM_ID4 =
              $scope.chklengthItemutility[3]["ITEM_NAME"];
            $scope.mSearch.SAMPLE_ID4 = $scope.tempSampleId1.SAMPLE_NAME;
            $scope.mSearch.UNIT_ID4 = $scope.chklengthItemutility[3]["UNIT_ID"];
            $scope.mSearch.UNIT_NAME4 =
              $scope.chklengthItemutility[3]["UNIT_NAME"];
          }
          if ($scope.chklengthItemutility.length >= 5) {
            $scope.mSearch.ITEM_ID5 =
              $scope.chklengthItemutility[4]["ITEM_NAME"];
            $scope.mSearch.SAMPLE_ID5 = $scope.tempSampleId1.SAMPLE_NAME;
            $scope.mSearch.UNIT_ID5 = $scope.chklengthItemutility[4]["UNIT_ID"];
            $scope.mSearch.UNIT_NAME5 =
              $scope.chklengthItemutility[4]["UNIT_NAME"];
          }
          if ($scope.chklengthItemutility.length >= 6) {
            $scope.mSearch.ITEM_ID6 =
              $scope.chklengthItemutility[5]["ITEM_NAME"];
            $scope.mSearch.SAMPLE_ID6 = $scope.tempSampleId1.SAMPLE_NAME;
            $scope.mSearch.UNIT_ID6 = $scope.chklengthItemutility[5]["UNIT_ID"];
            $scope.mSearch.UNIT_NAME6 =
              $scope.chklengthItemutility[5]["UNIT_NAME"];
          }
        }
      } else {
        if (
          typeof $scope.tempSampleId1 !== "undefined" &&
          $scope.tempSampleId1 != null
        ) {
            $scope.mSearch.SAMPLE_ID1 = $scope.tempSampleId1.SAMPLE_NAME;
            $scope.mSearch.TEMPLATE_AREA1 = "-";
            $scope.mSearch.TEMPLATE_TYPE1 = $scope.tempSampleId1.TEMPLATE_TYPE;
        } else {
          bValid = false;
        }
        if (
          $scope.tempItemId1 !== null &&
          typeof $scope.tempItemId1 !== "undefined" &&
          typeof $scope.tempItemId1.ITEM_NAME !== "undefined"
        ) {
          $scope.mSearch.ITEM_ID1 = $scope.tempItemId1.ITEM_NAME;
          $scope.mSearch.UNIT_ID1 = $scope.tempItemId1.UNIT_ID;
          $scope.mSearch.UNIT_NAME1 = $scope.tempItemId1.UNIT_NAME;
        } else {
          bValid = false;
        }

        if ($scope.flagadddivutilityarea >= 2) {
          if (
            typeof $scope.tempSampleId2 !== "undefined" &&
            $scope.tempSampleId2 != null
          ) {
              $scope.mSearch.SAMPLE_ID2 = $scope.tempSampleId2.SAMPLE_NAME;
              $scope.mSearch.TEMPLATE_AREA2 = "-";
              $scope.mSearch.TEMPLATE_TYPE2 = $scope.tempSampleId2.TEMPLATE_TYPE;
          } else {
            bValid = false;
          }
          if (
            typeof $scope.tempItemId2 !== "undefined" &&
            $scope.tempItemId2 != null
          ) {
            $scope.mSearch.ITEM_ID2 = $scope.tempItemId2.ITEM_NAME;
            $scope.mSearch.UNIT_ID2 = $scope.tempItemId2.UNIT_ID;
            $scope.mSearch.UNIT_NAME2 = $scope.tempItemId2.UNIT_NAME;
          } else {
            bValid = false;
          }
        }

        if ($scope.flagadddivutilityarea >= 3) {
          if (
            typeof $scope.tempSampleId3 !== "undefined" &&
            $scope.tempSampleId3 != null
          ) {
              $scope.mSearch.SAMPLE_ID3 = $scope.tempSampleId3.SAMPLE_NAME;
              $scope.mSearch.TEMPLATE_AREA3 = "-";
              $scope.mSearch.TEMPLATE_TYPE3 = $scope.tempSampleId3.TEMPLATE_TYPE;
          } else {
            bValid = false;
          }
          if (
            typeof $scope.tempItemId3 !== "undefined" &&
            $scope.tempItemId3 != null
          ) {
            $scope.mSearch.ITEM_ID3 = $scope.tempItemId3.ITEM_NAME;
            $scope.mSearch.UNIT_ID3 = $scope.tempItemId3.UNIT_ID;
            $scope.mSearch.UNIT_NAME3 = $scope.tempItemId3.UNIT_NAME;
          } else {
            bValid = false;
          }
        }

        if ($scope.flagadddivutilityarea >= 4) {
          if (
            typeof $scope.tempSampleId4 !== "undefined" &&
            $scope.tempSampleId4 != null
          ) {
              $scope.mSearch.SAMPLE_ID4 = $scope.tempSampleId4.SAMPLE_NAME;
              $scope.mSearch.TEMPLATE_AREA4 = "-";
              $scope.mSearch.TEMPLATE_TYPE4 = $scope.tempSampleId4.TEMPLATE_TYPE;
          } else {
            bValid = false;
          }
          if (
            typeof $scope.tempItemId4 !== "undefined" &&
            $scope.tempItemId4 != null
          ) {
            $scope.mSearch.ITEM_ID4 = $scope.tempItemId4.ITEM_NAME;
            $scope.mSearch.UNIT_ID4 = $scope.tempItemId4.UNIT_ID;
            $scope.mSearch.UNIT_NAME4 = $scope.tempItemId4.UNIT_NAME;
          } else {
            bValid = false;
          }
        }

        if ($scope.flagadddivutilityarea >= 5) {
          if (
            typeof $scope.tempSampleId5 !== "undefined" &&
            $scope.tempSampleId5 != null
          )
                $scope.mSearch.SAMPLE_ID5 = $scope.tempSampleId5.SAMPLE_NAME;
            $scope.mSearch.TEMPLATE_AREA5 = "-";
            $scope.mSearch.TEMPLATE_TYPE5 = $scope.tempSampleId5.TEMPLATE_TYPE;

          if (
            typeof $scope.tempItemId5 !== "undefined" &&
            $scope.tempItemId5 != null
          ) {
            $scope.mSearch.ITEM_ID5 = $scope.tempItemId5.ITEM_NAME;
            $scope.mSearch.UNIT_ID5 = $scope.tempItemId5.UNIT_ID;
            $scope.mSearch.UNIT_NAME5 = $scope.tempItemId5.UNIT_NAME;
          } else {
            bValid = false;
          }
        }

        if ($scope.flagadddivutilityarea >= 6) {
          if (
            typeof $scope.tempSampleId6 !== "undefined" &&
            $scope.tempSampleId6 != null
          )
                $scope.mSearch.SAMPLE_ID6 = $scope.tempSampleId6.SAMPLE_NAME;
            $scope.mSearch.TEMPLATE_AREA6 = "-";
            $scope.mSearch.TEMPLATE_TYPE6 = $scope.tempSampleId6.TEMPLATE_TYPE;

          if (
            typeof $scope.tempItemId6 !== "undefined" &&
            $scope.tempItemId6 != null
          ) {
            $scope.mSearch.ITEM_ID6 = $scope.tempItemId6.ITEM_NAME;
            $scope.mSearch.UNIT_ID6 = $scope.tempItemId6.UNIT_ID;
            $scope.mSearch.UNIT_NAME6 = $scope.tempItemId6.UNIT_NAME;
          } else {
            bValid = false;
          }
        }
      }
      if (typeof $scope.TempDateStart !== null) {
        $scope.mSearch.START_DATE = $scope.TempDateStart;
      } else {
        bValid = false;
      }

      if (typeof $scope.TempDateEnd !== null) {
        $scope.mSearch.END_DATE = $scope.TempDateEnd;
      } else {
        bValid = false;
      }

      if ($scope.mSearch.START_DATE > $scope.mSearch.END_DATE) {
        bValid = false;
        Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
      }

      return bValid;
      };

      $scope.reTicksOptionEx = function (ticksOption) {
          var result = ticksOption;
          result.max = parseFloat(result.max);
          result.min = parseFloat(result.min);
          result.stepSize = parseFloat(result.stepSize);
          if (result.max > 1) {
              result.max = Math.ceil(result.max);
              result.min = Math.floor(result.min);
              result.stepSize = (result.max - result.min) / 10;
          }
          if (result.stepSize > 1) {
              result.stepSize = Math.ceil(result.stepSize);
              result.max = result.min + (result.stepSize * 10);
          }
          var lengthStepSize = 0;
          var lengthMax = 0;
          var lengthMin = 0;
          var piecesStepSize = result.stepSize.toString().split(".");
          var piecesMax = result.max.toString().split(".");
          var piecesMin = result.min.toString().split(".");
          if (piecesStepSize.length > 1) lengthStepSize = piecesStepSize[1].length;
          if (piecesMax.length > 1) lengthMax = piecesMax[1].length;
          if (piecesMin.length > 1) lengthMin = piecesMin[1].length;
          var decimal = Math.max(lengthMax, lengthMin);
          if (decimal == 0 && result.stepSize < 1) {
              decimal = lengthStepSize;
          }
          result.callback = function (label, index, labels) {
              try {
                  return label.toFixed(decimal);
              } catch (e) {
                  return label;
              }
          };
          return result;
      }

    $scope.createGraphEx = function () {
        $scope.FlagcreateGraphEx = true;

        $scope.ticksOption1 = $scope.reTicksOptionEx($scope.ticksOption1);
        $scope.ticksOption2 = $scope.reTicksOptionEx($scope.ticksOption2);
        $scope.ticksOption3 = $scope.reTicksOptionEx($scope.ticksOption3);
        $scope.ticksOption4 = $scope.reTicksOptionEx($scope.ticksOption4);
        $scope.ticksOption5 = $scope.reTicksOptionEx($scope.ticksOption5);
        $scope.ticksOption6 = $scope.reTicksOptionEx($scope.ticksOption6);

        $scope.ticksOption1["position"] = Fact.SetPositionOption(1,$scope.ticksOption1["position"]);
        $scope.ticksOption2["position"] = Fact.SetPositionOption(2,$scope.ticksOption2["position"]);
        $scope.ticksOption3["position"] = Fact.SetPositionOption(3,$scope.ticksOption3["position"]);
        $scope.ticksOption4["position"] = Fact.SetPositionOption(4,$scope.ticksOption4["position"]);
        $scope.ticksOption5["position"] = Fact.SetPositionOption(5,$scope.ticksOption5["position"]);
        $scope.ticksOption6["position"] = Fact.SetPositionOption(6,$scope.ticksOption6["position"]);

        $scope.tempchkItemIsSame.tempListAllItem.forEach(function (entry, index) {
            var tempId2 = 2;
            var tick;
            switch (entry.No) {
                case 1:
                    tick = $scope.ticksOption1;
                    break;
                case 2:
                    tick = $scope.ticksOption2;
                    break;
                case 3:
                    tick = $scope.ticksOption3;
                    break;
                case 4:
                    tick = $scope.ticksOption4;
                    break;
                case 5:
                    tick = $scope.ticksOption5;
                    break;
                default:
                    tick = $scope.ticksOption6;
            }
            var findYAxisInArr2 = entry.AxesJoin.find((o) => o == tempId2);
            if (typeof findYAxisInArr2 != "undefined") {
                if (entry.No != tempId2) {
                    console.log(tick)
                    $scope.ticksOption2 = tick;
                }
            }
            var tempId3 = 3;
            var findYAxisInArr3 = entry.AxesJoin.find((o) => o == tempId3);
            if (typeof findYAxisInArr3 != "undefined") {
                if (entry.No != tempId3) {
                    $scope.ticksOption3 = tick;
                }
            }
            var tempId4 = 4;
            var findYAxisInArr4 = entry.AxesJoin.find((o) => o == tempId4);
            if (typeof findYAxisInArr4 != "undefined") {
                if (entry.No != tempId4) {
                    $scope.ticksOption4 = tick;
                }
            }
            var tempId5 = 5;
            var findYAxisInArr5 = entry.AxesJoin.find((o) => o == tempId5);
            if (typeof findYAxisInArr5 != "undefined") {
                if (entry.No != tempId5) {
                    $scope.ticksOption5 = tick;
                }
            }
            var tempId6 = 6;
            var findYAxisInArr6 = entry.AxesJoin.find((o) => o == tempId6);
            if (typeof findYAxisInArr6 != "undefined") {
                if (entry.No != tempId6) {
                    $scope.ticksOption6 = tick;
                }
            }
        });

        $scope.ticksOption1 = Fact.setTicksOption(1, $scope.ticksOption1);
        $scope.ticksOption2 = Fact.setTicksOption(2, $scope.ticksOption2);
        $scope.ticksOption3 = Fact.setTicksOption(3, $scope.ticksOption3);
        $scope.ticksOption4 = Fact.setTicksOption(4, $scope.ticksOption4);
        $scope.ticksOption5 = Fact.setTicksOption(5, $scope.ticksOption5);
        $scope.ticksOption6 = Fact.setTicksOption(6, $scope.ticksOption6);

        $scope.createGraph();
    };

    //..........................................................................................................................................................................................................................
    $scope.createHeaderGraphEx = function () {
      $scope.FlagcreateGraphEx = true;
      $scope.createGraph();
    };
      $scope.reTicksOption = function (item) {
      $scope.disabledEditYAxis1 = item.disabledEditYAxis1;
      $scope.disabledEditYAxis2 = item.disabledEditYAxis2;
      $scope.disabledEditYAxis3 = item.disabledEditYAxis3;
      $scope.disabledEditYAxis4 = item.disabledEditYAxis4;
      $scope.disabledEditYAxis5 = item.disabledEditYAxis5;
      $scope.disabledEditYAxis6 = item.disabledEditYAxis6;
      $scope.txtDisabledEditYAxis2 = "";
      $scope.txtDisabledEditYAxis3 = "";
      $scope.txtDisabledEditYAxis4 = "";
      $scope.txtDisabledEditYAxis5 = "";
      $scope.txtDisabledEditYAxis6 = "";
        item.tempListAllItem.forEach(function (entry, index) {
            entry.AxesJoin.forEach(function (ent, index) {
                if (ent == 1) {
                    var ticksOption1 = $scope.setNewTicksOption(entry,window.chartColors.blue);
                    $scope.ticksOption1 = Fact.setTicksOption(1, ticksOption1);
                }
                else if (ent == 2) {
                    var ticksOption2 = $scope.setNewTicksOption(entry,window.chartColors.green);
                    $scope.ticksOption2 = Fact.setTicksOption(2, ticksOption2);
                }
                else if (ent == 3) {
                    var ticksOption3 = $scope.setNewTicksOption(entry, "#A0522D");
                    $scope.ticksOption3 = Fact.setTicksOption(3, ticksOption3);
                }
                else if (ent == 4) {
                    var ticksOption4 = $scope.setNewTicksOption(entry, "#80ced6");
                    $scope.ticksOption4 = Fact.setTicksOption(4, ticksOption4);
                }
                else if (ent == 5) {
                    var ticksOption5 = $scope.setNewTicksOption(entry,window.chartColors.purple);
                    $scope.ticksOption5 = Fact.setTicksOption(5, ticksOption5);
                }
                else if (ent == 6) {
                    var ticksOption6 = $scope.setNewTicksOption(entry, "#2F4F4F");
                    $scope.ticksOption6 = Fact.setTicksOption(6, ticksOption6);
                }
            });
        });
        if (item.tempListAllItem.length == 2) {
            item.tempListAllItem.forEach(function (entry, index) {
                if (index != 0) {
                    if (entry.No == 1) {
                        $scope.ticksOption1["position"] = Fact.SetPositionOption(1,"right");
                    }
                    if (entry.No == 2) {
                          $scope.ticksOption2["position"] = Fact.SetPositionOption(2,"right");
                    }
                    if (entry.No == 3) {
                          $scope.ticksOption3["position"] = Fact.SetPositionOption(3,"right");
                    }
                    if (entry.No == 4) {
                          $scope.ticksOption4["position"] = Fact.SetPositionOption(4,"right");
                    }
                    if (entry.No == 5) {
                          $scope.ticksOption5["position"] = Fact.SetPositionOption(5,"right");
                    }
                    if (entry.No == 6) {
                        $scope.ticksOption6["position"] = Fact.SetPositionOption(6,"right");
                    }
                }
            });
        } else if (item.tempListAllItem.length < 2) {
            $scope.ticksOption1["position"] = Fact.SetPositionOption(1, "left");
        } else if (item.tempListAllItem.length > 2) {
            $scope.ticksOption2["position"] = Fact.SetPositionOption(2, "left");
            if (item.tempListAllItem.length == 3) {
                $scope.ticksOption3["position"] = Fact.SetPositionOption(3, "left");
            }
            if (item.tempListAllItem.length == 4) {
                  $scope.ticksOption3["position"] = Fact.SetPositionOption(3, "left");
                  $scope.ticksOption4["position"] = Fact.SetPositionOption(4, "left");
            }
            if (item.tempListAllItem.length == 5) {
                  $scope.ticksOption3["position"] = Fact.SetPositionOption(3, "left");
                  $scope.ticksOption4["position"] = Fact.SetPositionOption(4, "left");
                  $scope.ticksOption5["position"] = Fact.SetPositionOption(5, "left");
            }
            if (item.tempListAllItem.length == 6) {
                  $scope.ticksOption3["position"] = Fact.SetPositionOption(3, "left");
                  $scope.ticksOption4["position"] = Fact.SetPositionOption(4, "left");
                  $scope.ticksOption5["position"] = Fact.SetPositionOption(5, "left");
                  $scope.ticksOption6["position"] = Fact.SetPositionOption(6, "left");
            }
        }
        item.tempListAllItem.forEach(function (entry, index) {
            var tempId2 = 2;
            var findYAxisInArr2 = entry.AxesJoin.find((o) => o == tempId2);
            if (typeof findYAxisInArr2 != "undefined") {
                if (entry.No != tempId2) {
                    var position = Fact.getpositionOption(entry.No);
                    $scope.ticksOption2["position"] = Fact.SetPositionOption(2, position);
                    $scope.txtDisabledEditYAxis2 =
                        "ใช้แกนร่วมกับ ข้อมูลชุดที่ " + entry.No;
                }
            }
            var tempId3 = 3;
            var findYAxisInArr3 = entry.AxesJoin.find((o) => o == tempId3);
            if (typeof findYAxisInArr3 != "undefined") {
                if (entry.No != tempId3) {
                    var position = Fact.getpositionOption(entry.No);
                    $scope.ticksOption3["position"] = Fact.SetPositionOption(3, position);
                    $scope.txtDisabledEditYAxis3 =
                        "ใช้แกนร่วมกับ ข้อมูลชุดที่ " + entry.No;
                }
            }
            var tempId4 = 4;
            var findYAxisInArr4 = entry.AxesJoin.find((o) => o == tempId4);
            if (typeof findYAxisInArr4 != "undefined") {
                if (entry.No != tempId4) {
                    var position = Fact.getpositionOption(entry.No);
                    $scope.ticksOption4["position"] = Fact.SetPositionOption(4, position);
                    $scope.txtDisabledEditYAxis4 =
                        "ใช้แกนร่วมกับ ข้อมูลชุดที่ " + entry.No;
                }
            }
            var tempId5 = 5;
            var findYAxisInArr5 = entry.AxesJoin.find((o) => o == tempId5);
            if (typeof findYAxisInArr5 != "undefined") {
                if (entry.No != tempId5) {
                    var position = Fact.getpositionOption(entry.No);
                    $scope.ticksOption5["position"] = Fact.SetPositionOption(5, position);
                    $scope.txtDisabledEditYAxis5 =
                        "ใช้แกนร่วมกับ ข้อมูลชุดที่ " + entry.No;
                }
            }
            var tempId6 = 6;
            var findYAxisInArr6 = entry.AxesJoin.find((o) => o == tempId6);
            if (typeof findYAxisInArr6 != "undefined") {
                if (entry.No != tempId6) {
                    var position = Fact.getpositionOption(entry.No);
                    $scope.ticksOption6["position"] = Fact.SetPositionOption(6, position);
                    $scope.txtDisabledEditYAxis6 =
                        "ใช้แกนร่วมกับ ข้อมูลชุดที่ " + entry.No;
                }
            }
        });
    };
      $scope.setNewTicksOption = function (model, color) {
          var lengthStepSize = 0;
          var lengthMax = 0;
          var lengthMin = 0;
          var piecesStepSize = model.STEPSIZE.toString().split(".");
          var piecesMax = model.SCALEMAX.toString().split(".");
          var piecesMin = model.SCALEMIN.toString().split(".");
          if (piecesStepSize.length > 1) lengthStepSize = piecesStepSize[1].length;
          if (piecesMax.length > 1) lengthMax = piecesMax[1].length;
          if (piecesMin.length > 1) lengthMin = piecesMin[1].length;
          var decimal = Math.max(lengthMax, lengthMin);
          if (decimal == 0 && model.STEPSIZE < 1) {
              decimal = lengthStepSize;
          }
          var ticksOption = {
              callback: function (label, index, labels) {
                  try {
                      return label.toFixed(decimal);
                  } catch (e) {
                      return label;
                  }
              },
              max: model.SCALEMAX,
              min: model.SCALEMIN,
              stepSize: model.STEPSIZE.toFixed(decimal),
              fontColor: color,
          };
          return ticksOption;
      };
    //..........................................................................................................................................................................................................................

    $scope.createGraph = function () {
      $scope.tempchkItemIsSame = Fact.chkItemIsSame($scope.graph1);
      window.scrollTo(0, 0);
      try {
        if ($scope.FlagcreateGraphEx == false) {
          $scope.reTicksOption($scope.tempchkItemIsSame);
        }
        graphConfig1 = Fact.setGraphConfig(
          $scope.graph1,
          true,
          "canvas",
          false,
          true
        );
        if ($scope.graph1.listTrend1.length > 0)
            graphConfig1.data.datasets[0]["label"] = $scope.mSearch.SAMPLE_ID1 + ", " + $scope.mSearch.ITEM_ID1;
        if ($scope.graph1.listTrend2.length > 0)
            graphConfig1.data.datasets[1]["label"] = $scope.mSearch.SAMPLE_ID2 + ", " + $scope.mSearch.ITEM_ID2;
        if ($scope.graph1.listTrend3.length > 0)
            graphConfig1.data.datasets[2]["label"] = $scope.mSearch.SAMPLE_ID3 + ", " + $scope.mSearch.ITEM_ID3;
        if ($scope.graph1.listTrend4.length > 0)
            graphConfig1.data.datasets[3]["label"] = $scope.mSearch.SAMPLE_ID4 + ", " + $scope.mSearch.ITEM_ID4;
        if ($scope.graph1.listTrend5.length > 0)
            graphConfig1.data.datasets[4]["label"] = $scope.mSearch.SAMPLE_ID5 + ", " + $scope.mSearch.ITEM_ID5;
        if ($scope.graph1.listTrend6.length > 0)
            graphConfig1.data.datasets[5]["label"] = $scope.mSearch.SAMPLE_ID6 + ", " + $scope.mSearch.ITEM_ID6;

        if ($scope.headerGraph != "" && $scope.FlagcreateGraphEx == true) {
          graphConfig1.options.title.text = $scope.headerGraph;
        } else {
          $scope.textHeaderGraph = "";
          $scope.List_ITEM_ID = [];
          $scope.List_Header = [];
          if ($scope.mSearch.ITEM_ID1 != null) {
              $scope.List_ITEM_ID.push($scope.mSearch.ITEM_ID1);
          }
          if ($scope.mSearch.ITEM_ID2 != null) {
              $scope.List_ITEM_ID.push($scope.mSearch.ITEM_ID2);
          }
          if ($scope.mSearch.ITEM_ID3 != null) {
              $scope.List_ITEM_ID.push($scope.mSearch.ITEM_ID3);
          }
          if ($scope.mSearch.ITEM_ID4 != null) {
              $scope.List_ITEM_ID.push($scope.mSearch.ITEM_ID4);
          }
          if ($scope.mSearch.ITEM_ID5 != null) {
              $scope.List_ITEM_ID.push($scope.mSearch.ITEM_ID5);
          }
          if ($scope.mSearch.ITEM_ID6 != null) {
              $scope.List_ITEM_ID.push($scope.mSearch.ITEM_ID6);
          }
          $scope.List_Header = $scope.List_ITEM_ID.map((item) => item).filter(
            (value, index, self) => self.indexOf(value) === index
            );
            console.log($scope.List_Header)
          if ($scope.List_Header.length > 0) {
            $scope.List_Header.forEach(function (entry, index) {
              if ($scope.textHeaderGraph == "") {
                $scope.textHeaderGraph = entry;
              } else {
                $scope.textHeaderGraph = $scope.textHeaderGraph + ", " + entry;
              }
            });
          }
          $scope.headerGraph =
              "กราฟแสดงผลการวิเคราะห์ค่า " +
          $scope.textHeaderGraph + " น้ำบ่อ 200000 m3"+
            " ในช่วง " +
          $scope.mSearch.START_DATE.toLocaleDateString("en-US", {
              month: "long",
              year: "numeric",
            }) +
            " - " +
          $scope.mSearch.END_DATE.toLocaleDateString("en-US", {
              month: "long",
              year: "numeric",
            });
          graphConfig1.options.title.text = $scope.headerGraph;
        }
        $scope.FlagcreateGraphEx = false;
        $(".graphData").show();
        $(".searchData").show();
        $(".graphAnalysis").show();

        if (typeof graphConfig1 === "undefined") {
          $(".graphData").hide();
          $(".searchData").hide();
          $(".graphAnalysis").hide();
          Fact.showMessage("@Resources.Strings.NoDataFound");
          return;
        } else {
          var ctx = document.getElementById("canvas").getContext("2d");

          if (typeof window.myLine1 !== "undefined") {
            window.myLine1.destroy();
          }
          try {
            window.myLine1 = new Chart(ctx, graphConfig1);
            $scope.ticksOption1 = Fact.getTicksOption(1);
            $scope.ticksOption2 = Fact.getTicksOption(2);
            $scope.ticksOption3 = Fact.getTicksOption(3);
            $scope.ticksOption4 = Fact.getTicksOption(4);
            $scope.ticksOption5 = Fact.getTicksOption(5);
            $scope.ticksOption6 = Fact.getTicksOption(6);
            $scope.ticksOption1["position"] = Fact.getpositionOption(1);
            $scope.ticksOption2["position"] = Fact.getpositionOption(2);
            $scope.ticksOption3["position"] = Fact.getpositionOption(3);
            $scope.ticksOption4["position"] = Fact.getpositionOption(4);
            $scope.ticksOption5["position"] = Fact.getpositionOption(5);
            $scope.ticksOption6["position"] = Fact.getpositionOption(6);
          } catch (e) {
            console.log(e);
          }
        }
      } catch (e) {
        console.log(e);
      }
    };

    $scope.GetGraphData = function () {
      if (typeof window.myLine !== "undefined") {
        window.myLine.destroy();
      }

      var bValid = $scope.setJsonMSearch();
      var urlName = get_base_url("TrendData/GetGraphData");
      var jsonData = $scope.mSearch;

      if (bValid == true) {
        Fact.loadlistData(urlName, jsonData, function (response) {
          try {
            $scope.graph1 = response.data.message;
            $scope.listTrendData = response.data.message.listTrend1;
            $scope.listTrendSummary = response.data.message.listSummary1;

            $scope.listTrendData2 = response.data.message.listTrend2;
            $scope.listTrendSummary2 = response.data.message.listSummary2;

            $scope.listTrendData3 = response.data.message.listTrend3;
            $scope.listTrendSummary3 = response.data.message.listSummary3;

            $scope.listTrendData4 = response.data.message.listTrend4;
            $scope.listTrendSummary4 = response.data.message.listSummary4;

            $scope.listTrendData5 = response.data.message.listTrend5;
            $scope.listTrendSummary5 = response.data.message.listSummary5;

            $scope.listTrendData6 = response.data.message.listTrend6;
            $scope.listTrendSummary6 = response.data.message.listSummary6;

            $scope.control1 = response.data.message.control1;
            $scope.control2 = response.data.message.control2;
            $scope.control3 = response.data.message.control3;
            $scope.control4 = response.data.message.control4;
            $scope.control5 = response.data.message.control5;
            $scope.control6 = response.data.message.control6;

            Fact.resetTicksOption();
            var nValid = true;
            var txtAlertNoData = "";
            if ($scope.flagaddmultipleutilityitem == 1) {
              if (
                $scope.graph1.listTrend1.length == 0 &&
                $scope.mSearch.ITEM_ID1 != null
              ) {
                txtAlertNoData =
                  "Item " +
                  $scope.mSearch.ITEM_ID1 +
                  " ( " +
                  $scope.mSearch.UNIT_NAME1 +
                  " )";
                nValid = false;
              }
              if (
                $scope.graph1.listTrend2.length == 0 &&
                $scope.mSearch.ITEM_ID2 != null
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData =
                    "Item " +
                    $scope.mSearch.ITEM_ID2 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME2 +
                    " )";
                } else {
                  txtAlertNoData +=
                    "และ Item " +
                    $scope.mSearch.ITEM_ID2 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME2 +
                    " )";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend3.length == 0 &&
                $scope.mSearch.ITEM_ID3 != null
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData =
                    "Item " +
                    $scope.mSearch.ITEM_ID3 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME3 +
                    " )";
                } else {
                  txtAlertNoData +=
                    "และ Item " +
                    $scope.mSearch.ITEM_ID3 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME3 +
                    " )";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend4.length == 0 &&
                $scope.mSearch.ITEM_ID4 != null
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData =
                    "Item " +
                    $scope.mSearch.ITEM_ID4 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME4 +
                    " )";
                } else {
                  txtAlertNoData +=
                    "และ Item " +
                    $scope.mSearch.ITEM_ID4 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME4 +
                    " )";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend5.length == 0 &&
                $scope.mSearch.ITEM_ID5 != null
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData =
                    "Item " +
                    $scope.mSearch.ITEM_ID5 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME5 +
                    " )";
                } else {
                  txtAlertNoData +=
                    "และ Item " +
                    $scope.mSearch.ITEM_ID5 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME5 +
                    " )";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend6.length == 0 &&
                $scope.mSearch.ITEM_ID6 != null
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData =
                    "Item " +
                    $scope.mSearch.ITEM_ID6 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME6 +
                    " )";
                } else {
                  txtAlertNoData +=
                    "และ Item " +
                    $scope.mSearch.ITEM_ID6 +
                    " ( " +
                    $scope.mSearch.UNIT_NAME6 +
                    " )";
                }
                nValid = false;
              }
            } else {
              if ($scope.graph1.listTrend1.length == 0) {
                txtAlertNoData = "ข้อมูลชุดที่ 1";
                nValid = false;
              }
              if (
                $scope.graph1.listTrend2.length == 0 &&
                $scope.flagadddivutilityarea >= 2
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData = "ข้อมูลชุดที่ 2";
                } else {
                  txtAlertNoData += " และ ข้อมูลชุดที่ 2";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend3.length == 0 &&
                $scope.flagadddivutilityarea >= 3
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData = "ข้อมูลชุดที่ 3";
                } else {
                  txtAlertNoData += " และ ข้อมูลชุดที่ 3";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend4.length == 0 &&
                $scope.flagadddivutilityarea >= 4
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData = "ข้อมูลชุดที่ 4";
                } else {
                  txtAlertNoData += " และ ข้อมูลชุดที่ 4";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend5.length == 0 &&
                $scope.flagadddivutilityarea >= 5
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData = "ข้อมูลชุดที่ 5";
                } else {
                  txtAlertNoData += " และ ข้อมูลชุดที่ 5";
                }
                nValid = false;
              }
              if (
                $scope.graph1.listTrend6.length == 0 &&
                $scope.flagadddivutilityarea >= 6
              ) {
                if (txtAlertNoData == "") {
                  txtAlertNoData = "ข้อมูลชุดที่ 6";
                } else {
                  txtAlertNoData += " และ ข้อมูลชุดที่ 6";
                }
                nValid = false;
              }
            }
            if (nValid == false) {
              Fact.showMessage(
                txtAlertNoData + " @Resources.Strings.NoDataFound"
              );
            } else {
              $scope.headerGraph = "";
              $scope.createGraph();
            }
          } catch (e) {}
        });
      } else {
        if ($scope.mSearch.START_DATE > $scope.mSearch.END_DATE) {
          Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
        } else {
          if ($scope.flagaddmultipleutilityitem == 1) {
            if ($scope.chklengthItemutility.length == 0) {
              Fact.showMessage("Please select items");
            } else if ($scope.chklengthItemutility.length > 6) {
              Fact.showMessage("The system can add maximum 6 items only ");
            } else {
              Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
          } else {
            Fact.showMessage("@Resources.Strings.PleaseInputData");
          }
        }
      }
    };

      $scope.clearTrendData = function (flagReSetTemplate) {
      $scope.mSearch = getSearchModel();

      $scope.tempItemId1 = {};
      $scope.tempSampleId1 = {};
        $scope.tempTemplate1 = {};
        $scope.listItem1 = [];

      $scope.tempItemId2 = {};
      $scope.tempSampleId2 = {};
        $scope.tempTemplate2 = {};
        $scope.listItem2 = [];

      $scope.tempItemId3 = {};
      $scope.tempSampleId3 = {};
        $scope.tempTemplate3 = {};
        $scope.listItem3 = [];

      $scope.tempItemId4 = {};
      $scope.tempSampleId4 = {};
        $scope.tempTemplate4 = {};
        $scope.listItem4 = [];

      $scope.tempItemId5 = {};
      $scope.tempSampleId5 = {};
        $scope.tempTemplate5 = {};
        $scope.listItem5 = [];

      $scope.tempItemId6 = {};
      $scope.tempSampleId6 = {};
        $scope.tempTemplate6 = {};
        $scope.listItem6 = [];

        if (!flagReSetTemplate) {
            $scope.tempTemplate = null;
            $scope.tempChkAllTemplate = false;
          }


      $scope.flagadddivutilityarea = 1;
      $scope.flagutilitycheckadd = 1;
      $scope.disabledlistutilityItem1 = false;
      $scope.templistItemutility = [];
      $scope.flagaddmultipleutilityitem = 0;
      $(".graphData").hide();
      $(".searchData").hide();
      $(".graphAnalysis").hide();

      $(".addmultipleutilityitem").show();
      $(".addmultipleutilityarea").show();
      $(".multiitemutility").hide();
      $(".TrandDataUtility2").hide();
      $(".TrandDataUtility3").hide();
      $(".TrandDataUtility4").hide();
      $(".TrandDataUtility5").hide();
          $(".TrandDataUtility6").hide();
          $(".showSearch").hide();
    };

    $scope.downloadCSV = function () {
      var urlName = get_base_url("TrendData/TreandDataExcel");
      var jsonData = $scope.mSearch;
      var checkResult = $scope.setJsonMSearch();
      var startDate = "";
      var endDate = "";
      var dd = jsonData.START_DATE.getDate();
      var mm = jsonData.START_DATE.getMonth() + 1;
      var yy = jsonData.START_DATE.getFullYear();
      startDate = yy + "/" + mm + "/" + dd;
      dd = jsonData.END_DATE.getDate();
      mm = jsonData.END_DATE.getMonth() + 1;
      yy = jsonData.END_DATE.getFullYear();
      endDate = yy + "/" + mm + "/" + dd;
      if (true == checkResult) {
        var dataObjectString = JSON.stringify(jsonData);
        $("#searchData").val(JSON.stringify(jsonData));
        document.getElementById("TheForm").submit();
      }
    };
    $scope.showError = function (msg) {
      $("#myWaitModal").modal("hide");
      $("#error_message").html(msg);
      $("#myErrorModal").modal("show");
    };
    $scope.showMessage = function (msg) {
      $("#myWaitModal").modal("hide");
      $("#show_message").html(msg);
      $("#myMessageModal").modal("show");
    };
    $scope.downloadImage = function () {
      var canvas = document.getElementById("canvas");
      if (canvas.msToBlob) {
        //for IE
        var blob = canvas.msToBlob();
        window.navigator.msSaveBlob(blob, "Trend Utility.png");
      } else {
        var link = document.createElement("a");
        link.download = "Trend Utility.png";
        link.href = canvas
          .toDataURL("image/png")
          .replace("image/png", "image/octet-stream"); // here is the most important part because if you dont replace you will get a DOM 18 exception.
        link.click();
      }
    };
    $scope.downloadImage2 = function () {
      var canvas = document.getElementById("canvas");
      var dataURL = canvas.toDataURL("image/png");
      var urlName = get_base_url("Files/DownloadImage");
      var jsonData = {
        imageData: dataURL,
        fname: "Trend Gas",
      };
      window.open(urlName + "?imageData=" + dataURL + "&fname=Trend");
    };
  }
);

function getSearchModel(){
    var self = this;
    var lstData = @Html.Raw(Json.Encode(searhTrendData));
    return lstData;
}

function getlistSample(){
    var self = this;
    var lstData = @Html.Raw(Json.Encode(listSample));
    return lstData;
}
function getlistTemplate(){
    var self = this;
    var lstData = @Html.Raw(Json.Encode(listTemplate));
    return lstData;
}
</script>