﻿@{ 
    var listTrendData1 = ViewBag.listTrendData1 as QMSSystem.Model.GRAPH_TREDN_GAS;
    var REPORT_MASTER1 = ViewBag.REPORT_MASTER1 as QMSSystem.Model.CreateQMS_RP_TREND_DATA;

    var listTrendData2 = ViewBag.listTrendData2 as QMSSystem.Model.GRAPH_TREDN_GAS;
    var REPORT_MASTER2 = ViewBag.REPORT_MASTER2 as QMSSystem.Model.CreateQMS_RP_TREND_DATA;

    var listTrendData3 = ViewBag.listTrendData3 as QMSSystem.Model.GRAPH_TREDN_GAS;
    var REPORT_MASTER3 = ViewBag.REPORT_MASTER3 as QMSSystem.Model.CreateQMS_RP_TREND_DATA;
    
    var listTrendData4 = ViewBag.listTrendData4 as QMSSystem.Model.GRAPH_TREDN_GAS;
    var REPORT_MASTER4 = ViewBag.REPORT_MASTER4 as QMSSystem.Model.CreateQMS_RP_TREND_DATA; 
    
}
 <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title"> 
              <div class="title_left">
                <h3>@Resources.Strings.TrendHighlight</h3>
                <div class="clearfix"></div> 
              </div>
            </div> 
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
             
            <div class="row showbig" >
              <div class="col-md-12 col-sm-12 col-xs-12" id="graph1" style="display:none;">
                <div class="x_panel">
                  <div class="x_title">
                    <!-- <h2>Total Production</h2> -->
                    <ul class="nav navbar-right panel_toolbox"> 
                      <li  ng-click="downloadImage('canvas1', report1)" ><i class="fa fa-download"> @Resources.Strings.ImageDownload</i></li>
                      <li  ng-click="downloadCSV(report1)" ><i class="fa fa-download"> @Resources.Strings.ExcelDownload</i></li> 
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas1"></canvas>
                        </div>
                  </div>
                  <div class="x_panel x_panel_content">
                    <div class="x_title">
                      <h2>{{report1.NAME}}</h2> 
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                     <p>{{report1.TREND_DESC}}</p>
                        <br />
                    </div>
                  </div>
                </div>
              </div>
               
              <div class="col-md-12 col-sm-12 col-xs-12" id="graph2" style="display:none;">
                <div class="x_panel">
                  <div class="x_title">
                    <!-- <h2>Total Production</h2> -->
                    <ul class="nav navbar-right panel_toolbox"> 
                      <li  ng-click="downloadImage('canvas2', report2)" ><i class="fa fa-download"> @Resources.Strings.ImageDownload</i></li>
                      <li  ng-click="downloadCSV(report2)" ><i class="fa fa-download"> @Resources.Strings.ExcelDownload</i></li> 
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas2"></canvas>
                        </div>
                  </div>
                  <div class="x_panel x_panel_content">
                    <div class="x_title">
                      <h2>{{report2.NAME}}</h2> 
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                     <p>{{report2.TREND_DESC}}</p>
                        <br />
                    </div>
                  </div>
                </div>
              </div>

               
              <div class="col-md-12 col-sm-12 col-xs-12" id="graph3" style="display:none;">
                <div class="x_panel">
                  <div class="x_title">
                    <!-- <h2>Total Production</h2> -->
                    <ul class="nav navbar-right panel_toolbox"> 
                      <li  ng-click="downloadImage('canvas3', report3)" ><i class="fa fa-download"> @Resources.Strings.ImageDownload</i></li>
                      <li  ng-click="downloadCSV(report3)" ><i class="fa fa-download"> @Resources.Strings.ExcelDownload</i></li> 
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas3"></canvas>
                        </div>
                  </div>
                  <div class="x_panel x_panel_content">
                    <div class="x_title">
                      <h2>{{report3.NAME}}</h2> 
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                     <p>{{report3.TREND_DESC}}</p>
                        <br />
                    </div>
                  </div>
                </div>
              </div>

               
              <div class="col-md-12 col-sm-12 col-xs-12" id="graph4" style="display:none;">
                <div class="x_panel">
                  <div class="x_title">
                    <!-- <h2>Total Production</h2> -->
                   <ul class="nav navbar-right panel_toolbox"> 
                      <li  ng-click="downloadImage('canvas4', report4)" ><i class="fa fa-download"> @Resources.Strings.ImageDownload</i></li>
                      <li  ng-click="downloadCSV(report4)" ><i class="fa fa-download"> @Resources.Strings.ExcelDownload</i></li> 
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                       <div style="width:100%;margin: auto;">
                            <canvas id="canvas4"></canvas>
                        </div>
                  </div>
                  <div class="x_panel x_panel_content">
                    <div class="x_title">
                      <h2>{{report4.NAME}}</h2> 
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                     <p>{{report4.TREND_DESC}}</p>
                        <br />
                    </div>
                  </div>
                </div>
              </div>

            </div>


          </div>
        </div>
 
@*<script type="text/javascript">

    $(document).ready(function () {
        $('.biggraph').click(function () {
            $('.biggraph').hide();
        });

        $('.showbig').click(function () {
            $('.biggraph').show();
        });

    });
    
</script>*@

<script type="text/javascript">
    
//      window.chartColors = {
//                red: 'rgb(255, 99, 132)',
//                orange: 'rgb(255, 159, 64)',
//                yellow: 'rgb(255, 205, 86)',
//                green: 'rgb(75, 192, 192)',
//                blue: 'rgb(54, 162, 235)',
//                purple: 'rgb(153, 102, 255)',
//                grey: 'rgb(231,233,237)'
//            };
//    var graphConfig = {};
     
    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {
     
        $scope.graph1 = getListTrendData1();
        $scope.report1 = getREPORT_MASTER1();

        $scope.graph2 = getListTrendData2();
        $scope.report2 = getREPORT_MASTER2();

        $scope.graph3 = getListTrendData3();
        $scope.report3 = getREPORT_MASTER3();

        $scope.graph4 = getListTrendData4();
        $scope.report4 = getREPORT_MASTER4();

        $scope.ticksOption1;
        $scope.ticksOption2;//set empty

        $scope.downloadImage = function (canvas, report) { 
            var canvas = document.getElementById(canvas);

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, report.NAME + '.png');
            } else { 
                var link = document.createElement('a');
                link.download =  report.NAME + '.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }
         

        $scope.downloadCSV = function (report){
           
           
            var urlName = get_base_url("TrendData/TreandDataExcelByReportId");
            urlName += "?id=" +  report.ID;

            window.open(urlName, report.NAME);
         
        }
         
        $scope.init  = function(){ 

           graphConfig1 = Fact.setGraphConfig($scope.graph1, false, "canvas1"); 
           //console.log(graphConfig1);
           if(typeof graphConfig1 !== 'undefined'){
               var ctx = document.getElementById( "canvas1").getContext("2d");
               if(typeof window.myLine1 !== "undefined"){
                    window.myLine1.destroy();
               }
               $('#graph1').show();
               window.myLine1 = new Chart(ctx, graphConfig1);

               
           }

             
           graphConfig2 = Fact.setGraphConfig($scope.graph2, false, "canvas2");
           //console.log(graphConfig2);
           if(typeof graphConfig2 !== 'undefined'){
               var ctx2 = document.getElementById( "canvas2").getContext("2d");
               if(typeof window.myLine2 !== "undefined"){
                    window.myLine2.destroy();
               }
               $('#graph2').show();
               window.myLine2 = new Chart(ctx2, graphConfig2);
               
           }


           graphConfig3 = Fact.setGraphConfig($scope.graph3, false, "canvas3");
           //console.log($scope.graph3,  graphConfig3);
           if(typeof graphConfig3 !== 'undefined'){
               var ctx3 = document.getElementById( "canvas3").getContext("2d");
               if(typeof window.myLine3 !== "undefined"){
                    window.myLine3.destroy();
               }
               $('#graph3').show();
               window.myLine3 = new Chart(ctx3, graphConfig3);
               
            }
            

           graphConfig4 = Fact.setGraphConfig($scope.graph4,  false, "canvas4");
            //console.log( $scope.graph4);
           if(typeof graphConfig4 !== 'undefined'){
               var ctx4 = document.getElementById( "canvas4").getContext("2d");
               if(typeof window.myLine4 !== "undefined"){
                    window.myLine4.destroy();
               }
               $('#graph4').show();
               window.myLine4 = new Chart(ctx4, graphConfig4);
             
           }   
       }
       
       angular.element(document).ready(function (){
            $scope.init(); 
       });
    }); 

    function getListTrendData1(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTrendData1)); 
        return lstData; 
    }

     function getREPORT_MASTER1(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(REPORT_MASTER1)); 
        return lstData; 
    }


    function getListTrendData2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTrendData2)); 
        return lstData; 
    }

     function getREPORT_MASTER2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(REPORT_MASTER2)); 
        return lstData; 
    }


    function getListTrendData3(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTrendData3)); 
        return lstData; 
    }

     function getREPORT_MASTER3(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(REPORT_MASTER3)); 
        return lstData; 
    }

    function getListTrendData4(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTrendData4)); 
        return lstData; 
    }

     function getREPORT_MASTER4(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(REPORT_MASTER4)); 
        return lstData; 
    }

     
</script>