﻿@{
    var searhTrendData = ViewBag.searhTrendData as QMSSystem.Model.TrendGasGraphSearchModel;

    var listTemplate = ViewBag.listTemplate as List<QMSSystem.Model.TemplateName_COMBO>;
}
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="">
        <div class="page-title">
            <h3>@Resources.Strings.TrendDataGAS</h3>
            <div class="clearfix">
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_content">
                        <div class="form-horizontal form-label-left controlSearch">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                    @Resources.Strings.StartDate<span class="required">*</span>
                            </label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <input type="text" class="form-control" ng-model="TempDateStart" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                            </div>
                            <label class="control-label col-md-1 col-sm-1 col-xs-12">
                                @Resources.Strings.EndDate<span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input type="text" class="form-control" ng-model="TempDateEnd" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                        </div>
                    </div>
                    <div class="form-group">@Resources.Strings.TrandDataData1 </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                            @Resources.Strings.AreaName<span class="required">*</span>
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <select ng-model="tempTemplate1"
                                chosen
                                ng-change="loadSample1()"
                                ng-options="item.TEMPLATE_NAME  for item in listTemplate">
                            <option value=""></option>
                        </select>
                    </div>
                </div><div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12">
                        @Resources.Strings.Sample<span class="required">*</span>
                </label>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <select ng-model="tempSampleId1"
                            chosen
                            ng-change="loadItem1()"
                            ng-options="item.SAMPLE_NAME  for item in listSample1">
                        <option value=""></option>
                    </select>
                </div>
                <label class="control-label col-md-1 col-sm-1 col-xs-12">
                    @Resources.Strings.Item<span class="required">*</span>
            </label>
            <div class="col-md-3 col-sm-3 col-xs-12">
                <select ng-model="tempItemId1"
                        chosen
                        ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')' for item in listItem1">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group"> @Resources.Strings.TrandDataData2 </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                @Resources.Strings.AreaName<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select ng-model="tempTemplate2"
                    chosen
                    ng-change="loadSample2()"
                    ng-options="item.TEMPLATE_NAME  for item in listTemplate">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">
            @Resources.Strings.Sample<span class="required">*</span>
    </label>
    <div class="col-md-3 col-sm-3 col-xs-12">
        <select ng-model="tempSampleId2"
                chosen
                ng-change="loadItem2()"
                ng-options="item.SAMPLE_NAME  for item in listSample2">
            <option value=""></option>
        </select>
    </div>
    <label class="control-label col-md-1 col-sm-1 col-xs-12">
        @Resources.Strings.Item<span class="required">*</span>
</label>
<div class="col-md-3 col-sm-3 col-xs-12">
    <select ng-model="tempItemId2"
            chosen
            ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')'   for item in listItem2">
        <option value=""></option>
    </select>
</div>
</div>
@*<div class="form-group">@Resources.Strings.TrandDataData3 </div>เพิ่มตอน pop test graph mutiple y axis
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempTemplate3"
                chosen
                ng-change="loadSample3()"
                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempSampleId3"
                chosen
                ng-change="loadItem3()"
                ng-options="item.SAMPLE_NAME  for item in listSample3" >
                <option value=""></option>
            </select>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempItemId3"
                chosen
                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')'   for item in listItem3" >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">@Resources.Strings.TrandDataData4 </div>เพิ่มตอน pop test graph mutiple y axis
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempTemplate4"
                chosen
                ng-change="loadSample4()"
                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempSampleId4"
                chosen
                ng-change="loadItem4()"
                ng-options="item.SAMPLE_NAME  for item in listSample4" >
                <option value=""></option>
            </select>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempItemId4"
                chosen
                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')'   for item in listItem4" >
                <option value=""></option>
            </select>
        </div>
    </div>*@
@*<div class="form-group">@Resources.Strings.TrandDataData5 </div>เพิ่มตอน pop test graph mutiple y axis
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempTemplate5"
                chosen
                ng-change="loadSample5()"
                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempSampleId5"
                chosen
                ng-change="loadItem5()"
                ng-options="item.SAMPLE_NAME  for item in listSample5" >
                <option value=""></option>
            </select>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempItemId5"
                chosen
                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')'   for item in listItem5" >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">@Resources.Strings.TrandDataData6 </div>เพิ่มตอน pop test graph mutiple y axis
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AreaName<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempTemplate6"
                chosen
                ng-change="loadSample6()"
                ng-options="item.TEMPLATE_NAME  for item in listTemplate" >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Sample<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempSampleId6"
                chosen
                ng-change="loadItem6()"
                ng-options="item.SAMPLE_NAME  for item in listSample6" >
                <option value=""></option>
            </select>
        </div>
        <label class="control-label col-md-1 col-sm-1 col-xs-12" >@Resources.Strings.Item<span class="required">*</span>
        </label>
        <div class="col-md-3 col-sm-3 col-xs-12">
            <select
                ng-model="tempItemId6"
                chosen
                ng-options="item.ITEM_NAME  + ' (' + item.UNIT_NAME + ')'   for item in listItem6" >
                <option value=""></option>
            </select>
        </div>
    </div>*@
</div>

<div class="row " style="text-align:right;">
    <span class="btn btn-primary resetData controlSearch" ng-click="clearTrendData()"><i class="fa fa-undo"></i> @Resources.Strings.Reset</span>
    <span class="btn btn-primary  controlSearch" ng-click="GetGraphData()"> <i class="fa fa-play"></i> @Resources.Strings.Run</span>
    @*<span class="btn btn-primary searchData " style="display:none;"> <i class="fa fa-search"></i> @Resources.Strings.Search</span>*@
    <span class="btn btn-primary downloadData graphData" style="display:none;" ng-click="downloadImage()"><i class="fa fa-download"></i> @Resources.Strings.DownloadImage</span>
    <span class="btn btn-primary downloadCSV graphData" style="display:none;" ng-click="downloadCSV()"><i class="fa fa-download"></i> @Resources.Strings.DownloadData</span>
</div>
</div>

<div class="x_content graphData" style="display:none;">
    <br />
    <div class="row" style="text-align:center;">
        <div style="width:100%;margin: auto;">
            <canvas id="canvas"></canvas>
        </div>
    </div>
</div>
</div>
</div>

</div>

<div class="row graphAnalysis" style="display:none;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>@Resources.Strings.Legend</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-bordered tblResult ">
                    <thead>
                        <tr>
                            <th>@Resources.Strings.Color</th>
                            <th>@Resources.Strings.AreaName  </th>
                            <th>@Resources.Strings.Sample  </th>
                            <th>@Resources.Strings.Item  </th>
                            <th>@Resources.Strings.Unit</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <svg width="20" height="20">
                                    <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #286090;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA1}}</td>
                            <td>{{mSearch.SAMPLE_ID1 }}</td>
                            <td class="text-primary">{{mSearch.ITEM_ID1}}</td>
                            <td>{{mSearch.UNIT_NAME1}}</td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0">
                            <td>
                                <svg width="20" height="20">
                                    <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #98c207;"></rect>
                                </svg>
                            </td>
                            <td>{{mSearch.TEMPLATE_AREA2}}</td>
                            <td>{{mSearch.SAMPLE_ID2 }}</td>
                            <td class="text-success">{{mSearch.ITEM_ID2}}</td>
                            <td>{{mSearch.UNIT_NAME2}}</td>
                        </tr>
                        @*<tr  ng-show="listTrendData3.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td >
                                    <svg width="20" height="20">
                                      <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #C70039;"></rect>
                                    </svg>
                                </td>
                                <td>{{mSearch.TEMPLATE_AREA3}}</td>
                                <td>{{mSearch.SAMPLE_ID3 }}</td>
                                <td class="text-danger">{{mSearch.ITEM_ID3}}</td>
                                <td>{{mSearch.UNIT_NAME3}}</td>
                            </tr>
                            <tr  ng-show="listTrendData4.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td >
                                    <svg width="20" height="20">
                                      <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #FF5733;"></rect>
                                    </svg>
                                </td>
                                <td>{{mSearch.TEMPLATE_AREA4}}</td>
                                <td>{{mSearch.SAMPLE_ID4 }}</td>
                                <td class="text-warning">{{mSearch.ITEM_ID4}}</td>
                                <td>{{mSearch.UNIT_NAME4}}</td>
                            </tr>*@
                        @*<tr  ng-show="listTrendData5.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td >
                                    <svg width="20" height="20">
                                      <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #5499C7;"></rect>
                                    </svg>
                                </td>
                                <td>{{mSearch.TEMPLATE_AREA5}}</td>
                                <td>{{mSearch.SAMPLE_ID5 }}</td>
                                <td class="text-info">{{mSearch.ITEM_ID5}}</td>
                                <td>{{mSearch.UNIT_NAME5}}</td>
                            </tr>
                            <tr  ng-show="listTrendData6.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td >
                                    <svg width="20" height="20">
                                      <rect x="3" y="10" rx="1" ry="1" width="10" height="10" style="stroke-width:5;fill: #343a40;"></rect>
                                    </svg>
                                </td>
                                <td>{{mSearch.TEMPLATE_AREA6}}</td>
                                <td>{{mSearch.SAMPLE_ID6 }}</td>
                                <td class="text-secondary">{{mSearch.ITEM_ID6}}</td>
                                <td>{{mSearch.UNIT_NAME6}}</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row graphAnalysis" style="display:none;">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>@Resources.Strings.Analysis</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-bordered tblResult ">
                    <thead>
                        <tr>
                            <th>@Resources.Strings.Item</th>
                            <th>@Resources.Strings.Min  </th>
                            <th>@Resources.Strings.Max  </th>
                            <th>@Resources.Strings.Average  </th>
                            <th>@Resources.Strings.SD</th>
                            <th>@Resources.Strings.ControlValue</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-primary">{{listTrendSummary.ItemsName}}</td>
                            <td>{{listTrendSummary.MinValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.MaxValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.AvgValue}} ( {{listTrendSummary.UnitName}} )</td>
                            <td>{{listTrendSummary.SDValue}}</td>
                            <td>{{control1.SpecView}}</td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0">
                            <td class="text-success">{{listTrendSummary2.ItemsName}}</td>
                            <td>{{listTrendSummary2.MinValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.MaxValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.AvgValue}} ( {{listTrendSummary2.UnitName}} )</td>
                            <td>{{listTrendSummary2.SDValue}}</td>
                            <td>{{control2.SpecView}}</td>
                        </tr>
                        @*                        <tr  ng-show="listTrendData3.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td class="text-danger">{{listTrendSummary3.ItemsName}}</td>
                                <td>{{listTrendSummary3.MinValue}} ( {{listTrendSummary3.UnitName}} )</td>
                                <td>{{listTrendSummary3.MaxValue}} ( {{listTrendSummary3.UnitName}} )</td>
                                <td>{{listTrendSummary3.AvgValue}} ( {{listTrendSummary3.UnitName}} )</td>
                                <td>{{listTrendSummary3.SDValue}}</td>
                                <td>{{control3.SpecView}}</td>
                            </tr>
                            <tr  ng-show="listTrendData4.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td class="text-warning">{{listTrendSummary4.ItemsName}}</td>
                                <td>{{listTrendSummary4.MinValue}} ( {{listTrendSummary4.UnitName}} )</td>
                                <td>{{listTrendSummary4.MaxValue}} ( {{listTrendSummary4.UnitName}} )</td>
                                <td>{{listTrendSummary4.AvgValue}} ( {{listTrendSummary4.UnitName}} )</td>
                                <td>{{listTrendSummary4.SDValue}}</td>
                                <td>{{control4.SpecView}}</td>
                            </tr>*@
                        @*<tr  ng-show="listTrendData5.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td class="text-info">{{listTrendSummary5.ItemsName}}</td>
                                <td>{{listTrendSummary5.MinValue}} ( {{listTrendSummary5.UnitName}} )</td>
                                <td>{{listTrendSummary5.MaxValue}} ( {{listTrendSummary5.UnitName}} )</td>
                                <td>{{listTrendSummary5.AvgValue}} ( {{listTrendSummary5.UnitName}} )</td>
                                <td>{{listTrendSummary5.SDValue}}</td>
                                <td>{{control5.SpecView}}</td>
                            </tr>
                            <tr  ng-show="listTrendData6.length > 0"> เพิ่มตอน pop test graph mutiple y axis
                                <td class="text-secondary">{{listTrendSummary6.ItemsName}}</td>
                                <td>{{listTrendSummary6.MinValue}} ( {{listTrendSummary6.UnitName}} )</td>
                                <td>{{listTrendSummary6.MaxValue}} ( {{listTrendSummary6.UnitName}} )</td>
                                <td>{{listTrendSummary6.AvgValue}} ( {{listTrendSummary6.UnitName}} )</td>
                                <td>{{listTrendSummary6.SDValue}}</td>
                                <td>{{control6.SpecView}}</td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>@Resources.Strings.EditYAxis</h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table class="table table-bordered tblResult ">
                    <thead>
                        <tr>
                            <th>@Resources.Strings.TrendData</th>
                            <th>@Resources.Strings.Min  </th>
                            <th>@Resources.Strings.Max  </th>
                            <th> @Resources.Strings.StepSize  </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-primary">@Resources.Strings.TrandDataData1</td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMin" number-only-input /> </td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.suggestedMax" number-only-input /> </td>
                            <td> <input type="text" class="form-control " ng-model="ticksOption1.stepSize" number-only-input /> </td>
                            @*<td> <select
                                       ng-model="tempposition1"
                                       chosen
                                       ng-options="item.position for item in positiongraph1" >
                                       <option value=""></option>
                                     </select>
                                </td> *@
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                        <tr ng-show="listTrendData2.length > 0">
                            <td class="text-success">@Resources.Strings.TrandDataData2</td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMin" number-only-input />  </td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.suggestedMax" number-only-input /> </td>
                            <td> <input type="text" class="form-control" ng-model="ticksOption2.stepSize" number-only-input /> </td>
                            @*<td> <select
                                       ng-model="tempposition2"
                                       chosen
                                       ng-options="item.position for item in positiongraph2" >
                                       <option value=""></option>
                                     </select>
                                </td> *@
                            <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                        </tr>
                        @*<tr ng-show="listTrendData3.length > 0">
                                <td class="text-danger">@Resources.Strings.TrandDataData3</td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption3.suggestedMin"  number-only-input />  </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption3.suggestedMax"  number-only-input /> </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption3.stepSize"  number-only-input /> </td>
                                <td> <select
                                        ng-model="tempposition3"
                                        chosen
                                        ng-options="item.position for item in positiongraph3" >
                                        <option value=""></option>
                                      </select>
                                 </td>
                                <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                            </tr>
                            <tr ng-show="listTrendData4.length > 0">
                                <td class="text-warning">@Resources.Strings.TrandDataData4</td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption4.suggestedMin"  number-only-input />  </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption4.suggestedMax"  number-only-input /> </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption4.stepSize"  number-only-input /> </td>
                                <td> <select
                                        ng-model="tempposition4"
                                        chosen
                                        ng-options="item.position for item in positiongraph4" >
                                        <option value=""></option>
                                      </select>
                                 </td>
                                <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                            </tr>*@
                        @*<tr ng-show="listTrendData5.length > 0">
                                <td class="text-info">@Resources.Strings.TrandDataData5</td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption5.suggestedMin"  number-only-input />  </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption5.suggestedMax"  number-only-input /> </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption5.stepSize"  number-only-input /> </td>
                                <td> <select
                                        ng-model="tempposition4"
                                        chosen
                                        ng-options="item.position for item in positiongraph4" >
                                        <option value=""></option>
                                      </select>
                                 </td>
                                <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                            </tr>
                            <tr ng-show="listTrendData6.length > 0">
                                <td class="text-secondary">@Resources.Strings.TrandDataData6</td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption6.suggestedMin"  number-only-input />  </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption6.suggestedMax"  number-only-input /> </td>
                                <td> <input type="text" class="form-control" ng-model="ticksOption6.stepSize"  number-only-input /> </td>
                                <td> <select
                                        ng-model="tempposition4"
                                        chosen
                                        ng-options="item.position for item in positiongraph4" >
                                        <option value=""></option>
                                      </select>
                                 </td>
                                <td><span class="btn btn-primary " ng-click="createGraphEx()"> <i class="fa fa-play"></i> @Resources.Strings.Apply</span></td>
                            </tr>*@
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

<form id="TheForm" method="post" action="~/TrendData/TreandDataExcel" target="TheWindow">
    <input type="hidden" name="searchData" id="searchData" />
</form>


</div>
</div>

<script type="text/javascript">



    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        $scope.tempTemplate1;
        $scope.tempTemplate2;

//        $scope.tempTemplate3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempTemplate4;//เพิ่มตอน pop test graph mutiple y axis

        $scope.listTemplate = getListTemplate();

        $scope.mSearch = getSearchModel();

        $scope.TempDateStart = null;
        $scope.TempDateEnd = null;

        $scope.tempSampleId1;
        $scope.tempSampleId2;
//        $scope.tempSampleId3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempSampleId4;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempSampleId5;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempSampleId6;//เพิ่มตอน pop test graph mutiple y axis

        $scope.listSample1;
        $scope.listSample2;
//        $scope.listSample3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listSample4;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listSample5;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listSample6;//เพิ่มตอน pop test graph mutiple y axis

        $scope.tempItemId1;
        $scope.tempItemId2;
//        $scope.tempItemId3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempItemId4;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempItemId5;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempItemId6;//เพิ่มตอน pop test graph mutiple y axis

        $scope.tempposition1;//เพิ่มตอน pop test graph mutiple y axis
        $scope.tempposition2;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempposition3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.tempposition4;//เพิ่มตอน pop test graph mutiple y axis

        $scope.listItem1;
        $scope.listItem2;
//        $scope.listItem3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listItem4;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listItem5;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listItem6;//เพิ่มตอน pop test graph mutiple y axis

        $scope.ticksOption1;
        $scope.ticksOption2;

        $scope.mSearch = getSearchModel();

        $scope.listTrendSummary;
        $scope.listTrendData;

        $scope.listTrendSummary2;
        $scope.listTrendData2;

//        $scope.listTrendSummary3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listTrendData3;//เพิ่มตอน pop test graph mutiple y axis

//        $scope.listTrendSummary4;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listTrendData4;//เพิ่มตอน pop test graph mutiple y axis

//        $scope.listTrendSummary5;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listTrendData5;//เพิ่มตอน pop test graph mutiple y axis

//        $scope.listTrendSummary6;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.listTrendData6;//เพิ่มตอน pop test graph mutiple y axis

        $scope.control1;
        $scope.control2;
//        $scope.control3;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.control4;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.control5;//เพิ่มตอน pop test graph mutiple y axis
//        $scope.control6;//เพิ่มตอน pop test graph mutiple y axis

//        $scope.positiongraph1  = [{position:"left"},{position:"right"}];//เพิ่มตอน pop test graph mutiple y axis
//        $scope.positiongraph2  = [{position:"left"},{position:"right"}];//เพิ่มตอน pop test graph mutiple y axis
//        $scope.positiongraph3  = [{position:"left"},{position:"right"}];//เพิ่มตอน pop test graph mutiple y axis
//        $scope.positiongraph4  = [{position:"left"},{position:"right"}];//เพิ่มตอน pop test graph mutiple y axis

        $scope.graph1;
        $scope.TemplateType = 1;//GAS

        $scope.loadSample1 = function () {

            var urlName = get_base_url("TrendData/GetSampleByTemplateId");

            var jsonData = {
	                            "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                "TemplateType" : $scope.TemplateType
                            };

            $scope.tempSampleId1 = {};
            $scope.tempItemId1 = {};
            $scope.listItem1 = {};
            $scope.tempSampleId1 = {};

            Fact.loadlistData(urlName, jsonData, function(response){
                try{
                    $scope.listSample1 = response.data.message;
                }catch(e){

                }
            });
        }

         $scope.loadSample2 = function(){
            var urlName = get_base_url("TrendData/GetSampleByTemplateId");

            var jsonData = {
	                            "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                "TemplateType" : $scope.TemplateType
                            };

            $scope.tempSampleId2 = {};
            $scope.tempItemId2 = {};
            $scope.listItem2 = {};
            $scope.tempSampleId2 = {};

            Fact.loadlistData(urlName, jsonData, function(response){
                try{
                    $scope.listSample2 = response.data.message;
                }catch(e){

                }
            });
        }

        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadSample3 = function(){
//            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
//
//            var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate3.TEMPLATE_NAME,
//                                "TemplateType" : $scope.TemplateType
//                            };

//            $scope.tempSampleId3 = {};
//            $scope.tempItemId3 = {};
//            $scope.listItem3 = {};
//            $scope.tempSampleId3 = {};
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listSample3 = response.data.message;
//                }catch(e){

//                }
//            });
//        }

        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadSample4 = function(){
//            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
//
//            var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate4.TEMPLATE_NAME,
//                                "TemplateType" : $scope.TemplateType
//                            };

//            $scope.tempSampleId4 = {};
//            $scope.tempItemId4 = {};
//            $scope.listItem4 = {};
//            $scope.tempSampleId4 = {};
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listSample4 = response.data.message;
//                }catch(e){

//                }
//            });
//        }

//        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadSample5 = function(){
//            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
//
//            var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate5.TEMPLATE_NAME,
//                                "TemplateType" : $scope.TemplateType
//                            };

//            $scope.tempSampleId5 = {};
//            $scope.tempItemId5 = {};
//            $scope.listItem5 = {};
//            $scope.tempSampleId5 = {};
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listSample5 = response.data.message;
//                }catch(e){

//                }
//            });
//        }

//        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadSample6 = function(){
//            var urlName = get_base_url("TrendData/GetSampleByTemplateId");
//
//            var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate6.TEMPLATE_NAME,
//                                "TemplateType" : $scope.TemplateType
//                            };

//            $scope.tempSampleId6 = {};
//            $scope.tempItemId6 = {};
//            $scope.listItem6 = {};
//            $scope.tempSampleId6 = {};
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listSample6 = response.data.message;
//                }catch(e){

//                }
//            });
//        }

        $scope.loadItem1 = function () {

           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
           var jsonData = {
	                            "TemplateId" : $scope.tempTemplate1.TEMPLATE_NAME,
                                "SampleName" : $scope.tempSampleId1.SAMPLE_NAME,
                                "TEMPLATE_TYPE" : $scope.TemplateType
                            };


            Fact.loadlistData(urlName, jsonData, function(response){
                try{
                    $scope.listItem1 = response.data.message;
                }catch(e){

                }
            });
        }

        $scope.loadItem2 = function () {

           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
           var jsonData = {
	                            "TemplateId" : $scope.tempTemplate2.TEMPLATE_NAME,
                                "SampleName" : $scope.tempSampleId2.SAMPLE_NAME,
                                "TEMPLATE_TYPE" : $scope.TemplateType
                            };


            Fact.loadlistData(urlName, jsonData, function(response){
                try{
                    $scope.listItem2 = response.data.message;
                }catch(e){

                }
            });
        }

        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadItem3 = function () {
//
//           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
//           var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate3.TEMPLATE_NAME,
//                                "SampleName" : $scope.tempSampleId3.SAMPLE_NAME,
//                                "TEMPLATE_TYPE" : $scope.TemplateType
//                            };
//
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listItem3 = response.data.message;
//                }catch(e){
//
//                }
//            });
//        }

        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadItem4 = function () {
//
//           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
//           var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate4.TEMPLATE_NAME,
//                                "SampleName" : $scope.tempSampleId4.SAMPLE_NAME,
//                                "TEMPLATE_TYPE" : $scope.TemplateType
//                            };
//
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listItem4 = response.data.message;
//                }catch(e){
//
//                }
//            });
//        }

//        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadItem5 = function () {
//
//           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
//           var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate5.TEMPLATE_NAME,
//                                "SampleName" : $scope.tempSampleId5.SAMPLE_NAME,
//                                "TEMPLATE_TYPE" : $scope.TemplateType
//                            };
//
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listItem5 = response.data.message;
//                }catch(e){
//
//                }
//            });
//        }

//        //เพิ่มตอน pop test graph mutiple y axis
//        $scope.loadItem6 = function () {
//
//           var urlName = get_base_url("TrendData/GetItemBySampleNameEx");
//           var jsonData = {
//	                            "TemplateId" : $scope.tempTemplate6.TEMPLATE_NAME,
//                                "SampleName" : $scope.tempSampleId6.SAMPLE_NAME,
//                                "TEMPLATE_TYPE" : $scope.TemplateType
//                            };
//
//
//            Fact.loadlistData(urlName, jsonData, function(response){
//                try{
//                    $scope.listItem6 = response.data.message;
//                }catch(e){
//
//                }
//            });
//        }

        $scope.setJsonMSearch = function(){
            var bValid = true;

            if(typeof $scope.tempTemplate1 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA1 = $scope.tempTemplate1.TEMPLATE_NAME;

            if(typeof $scope.tempSampleId1 !== "undefined")
                $scope.mSearch.SAMPLE_ID1 = $scope.tempSampleId1.SAMPLE_NAME;

            if(typeof $scope.tempItemId1 !== "undefined" && typeof $scope.tempItemId1.ITEM_NAME !== "undefined"){
                $scope.mSearch.ITEM_ID1 = $scope.tempItemId1.ITEM_NAME;
                $scope.mSearch.UNIT_ID1 = $scope.tempItemId1.UNIT_ID;
                $scope.mSearch.UNIT_NAME1 = $scope.tempItemId1.UNIT_NAME;
            }else{
                bValid = false;
            }


            if(typeof $scope.tempTemplate2 !== "undefined")
                $scope.mSearch.TEMPLATE_AREA2 = $scope.tempTemplate2.TEMPLATE_NAME;

            if(typeof $scope.tempSampleId2 !== "undefined")
                $scope.mSearch.SAMPLE_ID2 = $scope.tempSampleId2.SAMPLE_NAME;

            if(typeof $scope.tempItemId2 !== "undefined"){
                $scope.mSearch.ITEM_ID2 = $scope.tempItemId2.ITEM_NAME;
                $scope.mSearch.UNIT_ID2 = $scope.tempItemId2.UNIT_ID;
                $scope.mSearch.UNIT_NAME2 = $scope.tempItemId2.UNIT_NAME;
            }

            //เพิ่มตอน pop test graph mutiple y axis
//            if(typeof $scope.tempTemplate3 !== "undefined")
//                $scope.mSearch.TEMPLATE_AREA3 = $scope.tempTemplate3.TEMPLATE_NAME;
//
//            if(typeof $scope.tempSampleId3 !== "undefined")
//                $scope.mSearch.SAMPLE_ID3 = $scope.tempSampleId3.SAMPLE_NAME;
//
//            if(typeof $scope.tempItemId3 !== "undefined"){
//                $scope.mSearch.ITEM_ID3 = $scope.tempItemId3.ITEM_NAME;
//                $scope.mSearch.UNIT_ID3 = $scope.tempItemId3.UNIT_ID;
//                $scope.mSearch.UNIT_NAME3 = $scope.tempItemId3.UNIT_NAME;
//            }

            //เพิ่มตอน pop test graph mutiple y axis
//            if(typeof $scope.tempTemplate4 !== "undefined")
//                $scope.mSearch.TEMPLATE_AREA4 = $scope.tempTemplate4.TEMPLATE_NAME;
//
//            if(typeof $scope.tempSampleId4 !== "undefined")
//                $scope.mSearch.SAMPLE_ID4 = $scope.tempSampleId4.SAMPLE_NAME;
//
//            if(typeof $scope.tempItemId4 !== "undefined"){
//                $scope.mSearch.ITEM_ID4 = $scope.tempItemId4.ITEM_NAME;
//                $scope.mSearch.UNIT_ID4 = $scope.tempItemId4.UNIT_ID;
//                $scope.mSearch.UNIT_NAME4 = $scope.tempItemId4.UNIT_NAME;
//            }

//            //เพิ่มตอน pop test graph mutiple y axis
//            if(typeof $scope.tempTemplate5 !== "undefined")
//                $scope.mSearch.TEMPLATE_AREA5 = $scope.tempTemplate5.TEMPLATE_NAME;
//
//            if(typeof $scope.tempSampleId5 !== "undefined")
//                $scope.mSearch.SAMPLE_ID5 = $scope.tempSampleId5.SAMPLE_NAME;
//
//            if(typeof $scope.tempItemId5 !== "undefined"){
//                $scope.mSearch.ITEM_ID5 = $scope.tempItemId5.ITEM_NAME;
//                $scope.mSearch.UNIT_ID5 = $scope.tempItemId5.UNIT_ID;
//                $scope.mSearch.UNIT_NAME5 = $scope.tempItemId5.UNIT_NAME;
//            }

//            //เพิ่มตอน pop test graph mutiple y axis
//            if(typeof $scope.tempTemplate6 !== "undefined")
//                $scope.mSearch.TEMPLATE_AREA6 = $scope.tempTemplate6.TEMPLATE_NAME;
//
//            if(typeof $scope.tempSampleId6 !== "undefined")
//                $scope.mSearch.SAMPLE_ID6 = $scope.tempSampleId6.SAMPLE_NAME;
//
//            if(typeof $scope.tempItemId6 !== "undefined"){
//                $scope.mSearch.ITEM_ID6 = $scope.tempItemId6.ITEM_NAME;
//                $scope.mSearch.UNIT_ID6 = $scope.tempItemId6.UNIT_ID;
//                $scope.mSearch.UNIT_NAME6 = $scope.tempItemId6.UNIT_NAME;
//            }


            if( typeof $scope.TempDateStart !== null ){
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                bValid = false;
            }

            if( typeof $scope.TempDateEnd !== null ){
                $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                bValid = false;
            }

            if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                bValid = false;
                Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
            }

            return bValid;
        }


       $scope.createGraphEx = function () {
           $scope.ticksOption1 = Fact.setTicksOption(1,$scope.ticksOption1);
           $scope.ticksOption2 = Fact.setTicksOption(2,$scope.ticksOption2);
//           $scope.ticksOption3 = Fact.setTicksOption(3,$scope.ticksOption3);  //เพิ่มตอน pop test graph mutiple y axis
//           $scope.ticksOption4 = Fact.setTicksOption(4,$scope.ticksOption4);  //เพิ่มตอน pop test graph mutiple y axis

           $scope.createGraph()
       }

       $scope.createGraph = function () {

           try{
               graphConfig1 = Fact.setGraphConfig($scope.graph1, true, "canvas");

                $(".graphData").show();
                $(".searchData").show();
                $(".graphAnalysis").show();

               if(typeof graphConfig1 === 'undefined'){
                   $(".graphData").hide();
                   $(".searchData").hide();
                   $(".graphAnalysis").hide();
                   Fact.showMessage("@Resources.Strings.NoDataFound"); return;
               }else{
                   var ctx = document.getElementById( "canvas").getContext("2d");

                   if(typeof window.myLine1 !== "undefined"){
                        window.myLine1.destroy();
                   }
                   try{
                        window.myLine1 = new Chart(ctx, graphConfig1);
                        $scope.ticksOption1 = Fact.getTicksOption(1);
                        $scope.ticksOption2 = Fact.getTicksOption(2);
//                        $scope.ticksOption3 = Fact.getTicksOption(3);//เพิ่มตอน pop test graph mutiple y axis
//                        $scope.ticksOption4 = Fact.getTicksOption(4);//เพิ่มตอน pop test graph mutiple y axis
//                        $scope.Temppositiongraph1 = Fact.getpositionOption(1);
//                        $scope.positiongraph1.forEach(function (entry, index) {
//                           try{
//                                if(entry.position == $scope.Temppositiongraph1){
//                                    $scope.tempposition1 = entry.position;
//                                }
//                           }catch(e){
//                                console.log(e);
//                           }
//	                });
                        $scope.positiongraph2 = Fact.getpositionOption(2);
//                        $scope.positiongraph3 = Fact.getpositionOption(3);
//                        $scope.positiongraph4 = Fact.getpositionOption(4);
                        console.log($scope.positiongraph1)
                   }catch(e){
                        console.log(e);
                   }
               }
           }catch(e){
                console.log(e);
           }

        }

        $scope.GetGraphData = function () {
            if(typeof window.myLine !== "undefined"){
                window.myLine.destroy();
            }

            var bValid = $scope.setJsonMSearch();
            var urlName = get_base_url("TrendData/GetGraphData");
            var jsonData = $scope.mSearch;
             console.log($scope.mSearch);

            if(bValid == true){
                Fact.loadlistData(urlName, jsonData, function(response){
                    try{

                         $scope.graph1 =  response.data.message;
                         $scope.listTrendData = response.data.message.listTrend1;
                         $scope.listTrendData2 = response.data.message.listTrend2;
//                         $scope.listTrendData3 = response.data.message.listTrend3;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.listTrendData4 = response.data.message.listTrend4;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.listTrendData5 = response.data.message.listTrend5;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.listTrendData6 = response.data.message.listTrend6;//เพิ่มตอน pop test graph mutiple y axis

                         $scope.listTrendSummary = response.data.message.listSummary1;
                         $scope.listTrendSummary2 = response.data.message.listSummary2;
//                         $scope.listTrendSummary3 = response.data.message.listSummary3;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.listTrendSummary4 = response.data.message.listSummary4;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.listTrendSummary5 = response.data.message.listSummary5;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.listTrendSummary6 = response.data.message.listSummary6;//เพิ่มตอน pop test graph mutiple y axis

                         $scope.control1 = response.data.message.control1;
                         $scope.control2 = response.data.message.control2;
//                         $scope.control3 = response.data.message.control3;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.control4 = response.data.message.control4;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.control5 = response.data.message.control5;//เพิ่มตอน pop test graph mutiple y axis
//                         $scope.control6 = response.data.message.control6;//เพิ่มตอน pop test graph mutiple y axis

                         Fact.resetTicksOption();
                         $scope.createGraph(); // $scope.ticksOption1 = {}; $scope.ticksOption2 = {};   $scope.createGraph();
                    }catch(e){

                    }
                });
              }else{
                    if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                        Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
                    } else{
                        Fact.showMessage("@Resources.Strings.PleaseInputData");
                    }
              }
        }

       $scope.clearTrendData = function() {
            $scope.mSearch = getSearchModel();

            $scope.tempItemId1 = {};
            $scope.tempSampleId1 = {};
            $scope.tempTemplate1 = {};

            $scope.tempItemId2 = {};
            $scope.tempSampleId2 = {};
            $scope.tempTemplate2 = {};

//            $scope.tempItemId3 = {};//เพิ่มตอน pop test graph mutiple y axis
//            $scope.tempSampleId3 = {};//เพิ่มตอน pop test graph mutiple y axis
//            $scope.tempTemplate3 = {};//เพิ่มตอน pop test graph mutiple y axis

//            $scope.tempItemId4 = {};//เพิ่มตอน pop test graph mutiple y axis
//            $scope.tempSampleId4 = {};//เพิ่มตอน pop test graph mutiple y axis
//            $scope.tempTemplate4 = {};//เพิ่มตอน pop test graph mutiple y axis

            $scope.listSample1 = [];
            $scope.listSample2 = [];
//            $scope.listSample3 = [];//เพิ่มตอน pop test graph mutiple y axis
//            $scope.listSample4 = [];//เพิ่มตอน pop test graph mutiple y axis

            $scope.listItem1 = [];
            $scope.listItem2 = [];
//            $scope.listItem3 = [];//เพิ่มตอน pop test graph mutiple y axis
//            $scope.listItem4 = [];//เพิ่มตอน pop test graph mutiple y axis


            $(".graphData").hide();
            $(".searchData").hide();
            $(".graphAnalysis").hide();
       }

       $scope.downloadCSV = function (){


            var urlName = get_base_url("TrendData/TreandDataExcel");
            var jsonData = $scope.mSearch;
            var checkResult =  $scope.setJsonMSearch();


            var startDate = "";
            var endDate = "";

            var dd=jsonData.START_DATE.getDate();
            var mm=jsonData.START_DATE.getMonth()+1;
            var yy=jsonData.START_DATE.getFullYear();

            startDate = yy+"/"+mm+"/"+dd;

            dd=jsonData.END_DATE.getDate();
            mm=jsonData.END_DATE.getMonth()+1;
            yy=jsonData.END_DATE.getFullYear();

            endDate = yy+"/"+mm+"/"+dd;

            if( true == checkResult){

                  var dataObjectString = JSON.stringify(jsonData);
                $("#searchData").val(JSON.stringify(jsonData));
                document.getElementById('TheForm').submit();

//                urlName += "?TEMPLATE_TYPE=" + jsonData.TEMPLATE_TYPE;
//                urlName += "&START_DATE=" + startDate;//  jsonData.START_DATE;
//                urlName += "&END_DATE=" +   endDate;//jsonData.END_DATE;

//                urlName += "&PLANT_ID1=" +  jsonData.PLANT_ID1;
//                urlName += "&SAMPLE_ID1=" +  jsonData.SAMPLE_ID1;
//                urlName += "&ITEM_ID1=" +   jsonData.ITEM_ID1;
//                urlName += "&UNIT_ID1=" +  jsonData.UNIT_ID1;
//                urlName += "&UNIT_NAME1=" +  jsonData.UNIT_NAME1;

//                urlName += "&PLANT_ID2=" +  jsonData.PLANT_ID2;
//                urlName += "&SAMPLE_ID2=" +  jsonData.SAMPLE_ID2;
//                urlName += "&ITEM_ID2=" +   jsonData.ITEM_ID2;
//                urlName += "&UNIT_ID2=" +  jsonData.UNIT_ID2;
//                urlName += "&UNIT_NAME2=" +  jsonData.UNIT_NAME2;

//                window.open(urlName, "@Resources.Strings.TrendData");

            }

        }

        $scope.showError = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#error_message').html(msg);
            $('#myErrorModal').modal('show');
        }

        $scope.showMessage = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#show_message').html(msg);
            $('#myMessageModal').modal('show');
        }

        $scope.downloadImage = function () {
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'Trend Gas.png');
            } else {
                var link = document.createElement('a');
                link.download =  'TrendGas.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }

        $scope.downloadImage2 = function () {
            var canvas = document.getElementById("canvas");
            var dataURL = canvas.toDataURL('image/png');

           // console.log(dataURL); return;

            var urlName = get_base_url("Files/DownloadImage");
            var jsonData = {
                               imageData : dataURL,
                               fname : "Trend Gas"
                           };
            window.open(urlName+"?imageData="+dataURL+"&fname=Trend" );

       }



    });


    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searhTrendData));
        return lstData;
    }

    function getListTemplate(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listTemplate));
        return lstData;
    }

</script>