﻿@{ 
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div id="login" style="margin:auto; width:1024px; background-color: White;">  
    <div class="container login-page" >
		<div class="header" > 
            <div style="float:right; width:240px; margin-top:20px; color: #181365; ">
              <p ><b>@Resources.Strings.QualityManagementSystem</b><br />@Resources.Strings.ByPTTGSPQualityControlDivision </p>
            </div>
		</div> 
		<div class="content">
			<div class="login-box">
                <h3>@Resources.Strings.Login</h3>
                 @using (Html.BeginForm("Index", "login", FormMethod.Post, new { @class = "form-horizontal" }))
                { 
                    <div class="control-group">
		                <label class="control-label">@Resources.Strings.UserName</label> : 
			            <input type="text" name="userName" id="userName" placeholder="@Resources.Strings.UserName" style="margin:5px; padding:2px;"> 
	                </div>

	                <div class="control-group">
		                <label class="control-label">@Resources.Strings.UserPassword</label> : 
			            <input type="password" name="password" id="password" placeholder="@Resources.Strings.UserPassword"  style="margin:5px; padding:2px;"> 
	                </div>
                     
                    <div class="control-group">
                        <div class="controls"> 
                            <label class="control-label" style="color:Red">@ViewBag.Message</label> 
                        </div>
                    </div>
        
                    <div class="control-group" style="display:none" > 
		                <div class="controls">
                            <input type="hidden" name="RememberMe" id="RememberMe" value="true" /> 
			                <input type="checkbox" name="forever" id="forever"  onclick="setRememberMe()" >
                            <label for="forever" class="control-label"  >@Resources.Strings.ForeverLogIn</label>
		                </div>
	                </div> 
	                <div class="control-group">
		                <div class="controls">
			                <input type="submit" name="btn_login" value="@Resources.Strings.Login" class="btn btn-primary" style="margin-left: 165px;
    margin-top: 10px;" > 
		                </div>
	                </div>
                }  
			</div>
		</div>
        <img  src="~/Content/images/left_bottom_banner.png" style="float: left; height: 258px; overflow: hidden; width: 256px;"/>
        <img src="~/Content/images/bg_contrainner.png" style="float: left; height: 258px; overflow: hidden; width: 738px;"/>
	</div> 
    <footer style="background:#444444;color:white;border-top: 4px solid #98c207; padding:10px;">
      <div class="pull-left">
        <div class="col-md-2">
          <img src="~/Content/images/qms/logo-footer.png" >

        </div>
        <div class="col-md-10" style="font-size:small;">
             @Resources.Strings.CompanyFooter
            <br>
            @Resources.Strings.CompanyFooterAddr
        </div>

      </div>
      <div class="pull-right">
            @Resources.Strings.CopyrightFooter
      </div>
      <div class="clearfix"></div>
    </footer>   
</div>

 <script type="text/javascript" >

     function setRememberMe() {
         var result = $("#forever").prop("checked"); 
         $("#RememberMe").val(result);
     }

 </script> 