﻿@{
    var createQMS_MA_CORRECT_DATA = ViewBag.createQMS_MA_CORRECT_DATA as QMSSystem.Model.CreateQMS_MA_CORRECT_DATA;

    var listMultiplicand = ViewBag.listMultiplicand as List<SelectListItem>;
    var listDenominator = ViewBag.listDenominator as List<SelectListItem>;

    var listMultiplicand2 = ViewBag.listMultiplicand as List<SelectListItem>;
    var listDenominator2 = ViewBag.listDenominator as List<SelectListItem>;
    
    var listOFF_CONTROL_CAL_METHOD = ViewBag.listOFF_CONTROL_CAL_METHOD as List<SelectListItem>;    
}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class=""> 
          <div class="page-title"> 
                <h3>@Resources.Strings.CorrectData @ViewBag.ActionName</h3> 
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
          <div class="row"> 
               <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="x_panel"> 
                          <div class="x_title">
                               <div class="row"  style="text-align:right;">                    
                                    <span class="btn btn-primary " ng-click="saveData()" ><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                    <a href="~/CorrectData/ListMasterCorrect"><span class="btn btn-primary" ><i class="fa fa-close"></i> @Resources.Strings.Close</span></a>                    
                               </div>
                               <div class="clearfix"></div>
                          </div>

                          <div  class="form-horizontal form-label-left" >
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input type="text" ng-model="createModel.NAME"  class="form-control col-md-7 col-xs-12" required>
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Multiplicand <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 mDefault1"  style="display:none">
                                        <span ng-hide="showList">{{ txtMultiplicand }}</span>
                                        <select
                                            ng-show = "showList"
					                        ng-model="tempMultiplicandId"
					                        chosen="{inherit_select_classes: true}" 
					                        ng-options="item.Text  for item in listMultiplicand" 
					                        name="lst_Multiplicand" id="lst_Multiplicand"
                                            class="chosen_required">
					                        <option value=""></option>
				                        </select> 
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Denominator <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 mDefault1" style="display:none">
                                        <span ng-hide="showList">{{ txtDenominator }}</span>
                                        <select
                                            ng-show = "showList"
					                        ng-model="tempDenominatorId"
					                        chosen="{inherit_select_classes: true}"
					                        ng-options="item.Text  for item in listDenominator" 
					                        name="lst_Denominator" id="lst_Denominator"
                                            class="chosen_required">
					                        <option value=""></option>
				                        </select> 
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.OffControlCalMethod <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 mDefault1" style="display:none">
                                        <span ng-hide="showList">{{ txtOffControlCalMethod }}</span>
                                        <select
                                            ng-show = "showList"
					                        ng-model="tempOffControlCalMethodId"
					                        chosen="{inherit_select_classes: true}"
					                        ng-options="item.Text  for item in listOffControlCalMethod" 
					                        name="lst_OffControlCalMethod" id="lst_OffControlCalMethod"
                                            class="chosen_required">
					                        <option value=""></option>
				                        </select>
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Priority <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <input type="text" ng-model="createModel.PRIORITY"  class="form-control col-md-7 col-xs-12" required>
                                    </div>
                                </div> 
                           </div>

                              <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->
                    </div>
               </div>
          </div>
     </div>
</div>
 

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();

        $scope.tempMultiplicandId = 0;
        $scope.listMultiplicand = getListMultiplicand();
        $scope.listMultiplicand2 = getListMultiplicand2();

        $scope.tempDenominatorId = 0;
        $scope.listDenominator = getListDenominator();
        $scope.listDenominator2 = getListDenominator2();

        $scope.tempOffControlCalMethodId = 0;
        $scope.listOffControlCalMethod = getListOFF_CONTROL_CAL_METHOD();

        $scope.txtMultiplicand = "";
        $scope.txtDenominator = "";
        $scope.txtOffControlCalMethod = "";
         
        $scope.showList = false; 
          
        $scope.saveData = function () {            
            var urlName = get_base_url("CorrectData/CreateQMS_MA_CORRECT_DATA");
            var valid = true;

            
            if( typeof $scope.tempMultiplicandId !== "undefined"  && typeof $scope.tempMultiplicandId.Value !== "undefined"  
                && $scope.tempMultiplicandId.Value !== null && $scope.tempMultiplicandId.Value > 0 ){
                $scope.createModel.DELETE_OUTPUT_QTY = $scope.tempMultiplicandId.Value;
            }else{
                valid = false;
            }     
            if( typeof $scope.tempDenominatorId !== "undefined"  && typeof $scope.tempDenominatorId.Value !== "undefined"  
                && $scope.tempDenominatorId.Value !== null && $scope.tempDenominatorId.Value > 0 ){
                $scope.createModel.DELETE_INPUT_QTY = $scope.tempDenominatorId.Value;
            }else{
                valid = false;
            }
            if( typeof $scope.tempOffControlCalMethodId !== "undefined"  && typeof $scope.tempOffControlCalMethodId.Value !== "undefined"  
                && $scope.tempOffControlCalMethodId.Value !== null && $scope.tempOffControlCalMethodId.Value > 0 ){
                $scope.createModel.CAL_OFF_CONTROL = $scope.tempOffControlCalMethodId.Value;
            }else{
                valid = false;
            }        
            if( typeof $scope.createModel.NAME !== "undefined" 
                && $scope.createModel.NAME !== null
                && typeof $scope.createModel.PRIORITY !== "undefined"  
                && $scope.createModel.PRIORITY !== null 
                && $scope.createModel.PRIORITY > 0 
            ){
                
            }else{
                valid = false;
            }  

             
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message);
                     $scope.createModel =  response.data.model;
                     $scope.createModel.ID = response.data.dataId;     
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 

                        
        }  

        $scope.init = function () { 
           $scope.listMultiplicand.forEach(function(entry) {
		    	if($scope.createModel.DELETE_OUTPUT_QTY  == entry.Value){  
		    		$scope.tempMultiplicandId =  entry; 
		    		return true;
		    	} 
			});

            $scope.listDenominator.forEach(function(entry) {
		    	if($scope.createModel.DELETE_INPUT_QTY  == entry.Value){  
		    		$scope.tempDenominatorId =  entry; 
		    		return true;
		    	} 
			});


            $scope.listMultiplicand2.forEach(function(entry) {
		    	if($scope.createModel.DELETE_OUTPUT_QTY  == entry.Value){   
                    $scope.txtMultiplicand = entry.Text;
		    		return true;
		    	} 
			});

            $scope.listDenominator2.forEach(function(entry) {
		    	if($scope.createModel.DELETE_INPUT_QTY  == entry.Value){   
                    $scope.txtDenominator = entry.Text;
		    		return true;
		    	} 
			});

             

            $scope.listOffControlCalMethod.forEach(function(entry) { 
		    	if($scope.createModel.CAL_OFF_CONTROL  == entry.Value){  
		    		$scope.tempOffControlCalMethodId =  entry;
                   
                    $scope.txtOffControlCalMethod = entry.Text;
                     console.log(entry.Text, $scope.txtOffControlCalMethod);
		    		return true;
		    	} 
			});

            if($scope.createModel.ID > 6 || $scope.createModel.ID == 0){
                 $scope.showList = true; 
            }else{
                 $scope.showList = false; 
            }

            $(".mDefault1").show();
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_CORRECT_DATA)); 
        return lstData; 
    }

    function getListMultiplicand(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listMultiplicand)); 
        return lstData; 
    }

    function getListDenominator(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDenominator)); 
        return lstData; 
    }

    function getListMultiplicand2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listMultiplicand2)); 
        return lstData; 
    }

    function getListDenominator2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDenominator2)); 
        return lstData; 
    }

    function getListOFF_CONTROL_CAL_METHOD(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listOFF_CONTROL_CAL_METHOD)); 
        return lstData; 
    } 
</script>
 