﻿@{
    var searchCorrectData = ViewBag.searchCorrectData as QMSSystem.Model.CorrectDataSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
    
    var listMultiplicand = ViewBag.listMultiplicand as List<SelectListItem>;
    var listDenominator = ViewBag.listDenominator as List<SelectListItem>;

    var listMultiplicand2 = ViewBag.listMultiplicand2 as List<SelectListItem>;
    var listDenominator2 = ViewBag.listDenominator2 as List<SelectListItem>;
    
    var listOFF_CONTROL_CAL_METHOD = ViewBag.listOFF_CONTROL_CAL_METHOD as List<SelectListItem>; 
    var createQMS_MA_CORRECT_DATA = ViewBag.createQMS_MA_CORRECT_DATA as QMSSystem.Model.CreateQMS_MA_CORRECT_DATA;
}
<div  ng-app="myApp" ng-controller="myCtrl">  
     <div class=""> 
            <div class="page-title">
                 <div class="title_left">
                      <h3>@Resources.Strings.CorrectData</h3>
                      <div class="clearfix"></div>
                 </div>
            </div> 
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

            <div class="row" ng-show="showList"> 
                 <div class="col-md-12 col-sm-12 col-xs-12"> 
                      <div class="x_panel">
                          <div class="x_title"> 
                                <ul class="nav navbar-left panel_toolbox">
                                    <span ng-click="showCorrectDataSearch()" class="btn btn-primary "><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                    <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                    <span class="btn btn-primary "  my-confirm-click="delCorrectData()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                </ul>
                                <div class="clearfix"></div>
                           </div>
                             
                           <div class="x_content tblResult " style="display:none;" >
                                <div  class="form-horizontal form-label-left" ng-show="showSearch" >
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                          <input type="text" ng-model="mSearch.NAME"  class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Multiplicand <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                            ng-model="tempMultiplicandId"
					                            chosen  
					                            ng-options="item.Text  for item in listMultiplicand" 
					                            name="lst_Multiplicand" id="lst_Multiplicand">
					                            <option value=""></option>
				                            </select> 
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Denominator <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                            ng-model="tempDenominatorId"
					                            chosen  
					                            ng-options="item.Text  for item in listDenominator" 
					                            name="lst_Denominator" id="lst_Denominator">
					                            <option value=""></option>
				                            </select> 
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.OffControlCalMethod <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                            ng-model="tempOffControlCalMethodId"
					                            chosen  
					                            ng-options="item.Text  for item in listOffControlCalMethod" 
					                            name="lst_OffControlCalMethod" id="lst_OffControlCalMethod">
					                            <option value=""></option>
				                            </select>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                          <button type="button" class="btn btn-primary" ng-click="loadCorrectData()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                          <button type="button" class="btn btn-primary" ng-click="clearCorrectData()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                          <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                </div>
                                <table class="table table-bordered" >
                                       <thead > 
                                             <tr >
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                    <input type="checkbox" ng-model="AllCorrectData" ng-change="SelectAllCheck()" >
                                                </th>
                                                <th class=" sorting" ng-click="sort($event)" sort="NAME" >@Resources.Strings.Name</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="DELETE_OUTPUT_QTY" >@Resources.Strings.Multiplicand</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="DELETE_INPUT_QTY" >@Resources.Strings.Denominator</th>
                                                <th class=" sorting" ng-click="sort($event)" sort="CAL_OFF_CONTROL" >@Resources.Strings.OffControlCalMethod</th>
                                                <th class=" sorting_desc" ng-click="sort($event)" sort="PRIORITY" >@Resources.Strings.Priority</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                                            </tr>
                                       </thead>
                                       <tbody >
                                            <tr ng-repeat="mCorrectData in listCorrectData" >
                                                <td><input type="checkbox" ng-model="mCorrectData.ITEM_SELECTED" /></td>
                                                <td>{{mCorrectData.NAME}}</td>
                                                <td>{{mCorrectData.DELETE_OUTPUT_QTY_NAME}}</td>
                                                <td>{{mCorrectData.DELETE_INPUT_QTY_NAME}}</td>
                                                <td>{{mCorrectData.CAL_OFF_CONTROL_NAME}}</td>
                                                <td>{{mCorrectData.PRIORITY}}</td>
                                                <td><i class="fa fa-edit set-pointer"  ng-click="editData(mCorrectData)"></i></td>
                                            </tr>
                                       </tbody>
                                </table>
                           </div>

                           <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->
                      </div>
                     <!--*** ในส่วนของ Exception case ถ้าสร้างแล้ว จะเป็น List ลำดับต่อท้ายลงมา -->
                 </div> 
            </div>
            <div class="row" ng-show="showDevice"  >
               <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="x_panel"> 
                          <div class="x_title">
                               <div class="row"  style="text-align:right;">                    
                                    <span class="btn btn-primary " ng-click="saveData()" ng-show="showView" ><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                    <button type="button" class="btn btn-primary"  ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                               </div>
                               <div class="clearfix"></div>
                          </div>

                          <div  class="form-horizontal form-label-left" >
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                     <label class="control-label text-primary" ng-hide="showView">{{ createModel.NAME }}</label>
                                      <input type="text" ng-model="createModel.NAME"  ng-show = "showView"  class="form-control col-md-7 col-xs-12" required>
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Multiplicand <span class="required">*</span>
                                    </label>
                                     <label class="control-label text-primary" ng-hide="showView">{{ txtMultiplicand }}</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 " ng-show = "showView"> 
                                       
                                        <select 
					                        ng-model="CreatetempMultiplicandId"
					                        chosen="{inherit_select_classes: true}" 
					                        ng-options="item.Text  for item in listMultiplicand" 
					                        name="lst_Multiplicand" id="lst_Multiplicand"
                                            class="chosen_required">
					                        <option value=""></option>
				                        </select> 
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Denominator <span class="required">*</span>
                                    </label>
                                     <label class="control-label text-primary" ng-hide="showView">{{ txtDenominator }}</label></span>
                                    <div class="col-md-6 col-sm-6 col-xs-12 " ng-show = "showView">
                                       
                                        <select 
					                        ng-model="CreatetempDenominatorId"
					                        chosen="{inherit_select_classes: true}"
					                        ng-options="item.Text  for item in listDenominator" 
					                        name="lst_Denominator" id="lst_Denominator"
                                            class="chosen_required">
					                        <option value=""></option>
				                        </select> 
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.OffControlCalMethod <span class="required">*</span>
                                    </label>
                                     <label class="control-label text-primary"  ng-hide="showView">{{ txtOffControlCalMethod }}</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12 " ng-show = "showView">
                                       
                                        <select 
					                        ng-model="CreatetempOffControlCalMethodId"
					                        chosen="{inherit_select_classes: true}"
					                        ng-options="item.Text  for item in listOffControlCalMethod" 
					                        name="lst_OffControlCalMethod" id="lst_OffControlCalMethod"
                                            class="chosen_required">
					                        <option value=""></option>
				                        </select>
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Priority <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <label class="control-label text-primary"  ng-hide="showView">{{ createModel.PRIORITY }}</label>
                                         <input type="text" ng-model="createModel.PRIORITY"  ng-show="showView" maxlength="3"   class="form-control col-md-7 col-xs-12"   number-only-input required>
                                    </div>
                                </div> 
                           </div>

                              <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->
                    </div>
               </div>
          </div>
     </div>
</div>


<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempMultiplicandId = 0;
        $scope.listMultiplicand = getListMultiplicand();
        $scope.listMultiplicand2 = getListMultiplicand2();

        $scope.tempDenominatorId = 0;
        $scope.listDenominator = getListDenominator();
        $scope.listDenominator2 = getListDenominator2();

        $scope.tempOffControlCalMethodId = 0;
        $scope.listOffControlCalMethod = getListOFF_CONTROL_CAL_METHOD();
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('PRIORITY');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listCorrectData; // listdata
        $scope.AllCorrectData; //checkbox

        $scope.showSearch = false;


        $scope.CreatetempMultiplicandId = 0;
        $scope.CreatetempDenominatorId = 0;
        $scope.CreatetempOffControlCalMethodId  = 0;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listCorrectData, $scope.AllCorrectData) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("CorrectData/CreateMasterCorrect") + "?id=" + mData.ID ); }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadCorrectData();
        }

        
        $scope.clearCorrectData = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.tempMultiplicandId = {};  
               $scope.tempDenominatorId = {};  
               $scope.tempOffControlCalMethodId = {};
               $scope.mSearch.NAME = null;

               $scope.loadCorrectData();
        } 
        $scope.showCorrectDataSearch = function(){  $scope.showSearch = true; }
        $scope.closeCorrectDataSearch = function() { $scope.showSearch = false; }

        $scope.getCorrectDataSearch = function()
        { 
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadCorrectData();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadCorrectData(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadCorrectData(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadCorrectData(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadCorrectData(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadCorrectData(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadCorrectData(); }

        $scope.loadCorrectData = function () { 
            if( typeof $scope.tempMultiplicandId !== "undefined" ){
                $scope.mSearch.DELETE_OUTPUT_QTY = $scope.tempMultiplicandId.Value;
            }
            if( typeof $scope.tempDenominatorId !== "undefined" ){
                $scope.mSearch.DELETE_INPUT_QTY = $scope.tempDenominatorId.Value;
            }
            if( typeof $scope.tempOffControlCalMethodId !== "undefined" ){
                $scope.mSearch.CAL_OFF_CONTROL = $scope.tempOffControlCalMethodId.Value;
            }
            
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listCorrectData = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delCorrectData = function(){
            Fact.deleteMultiData($scope.listCorrectData, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadCorrectData(); });
        }
        $scope.showView = true;
         
        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true; 
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){

           
            $scope.CreatetempMultiplicandId = {}; 
            $scope.CreatetempDenominatorId= {};
            $scope.CreatetempOffControlCalMethodId  = {};

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            $scope.CreateTempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
           
             
            if($scope.createModel.ID > 6 || $scope.createModel.ID == 0){
                 $scope.showView = true; 
            }else{
                 $scope.showView = false; 
            }
             
           $scope.listMultiplicand.forEach(function(entry) {
		    	if($scope.createModel.DELETE_OUTPUT_QTY  == entry.Value){  
		    		$scope.CreatetempMultiplicandId =  entry; 
		    		return true;
		    	} 
			});

            $scope.listDenominator.forEach(function(entry) {
		    	if($scope.createModel.DELETE_INPUT_QTY  == entry.Value){  
		    		$scope.CreatetempDenominatorId =  entry; 
		    		return true;
		    	} 
			});


            $scope.listMultiplicand2.forEach(function(entry) {
		    	if($scope.createModel.DELETE_OUTPUT_QTY  == entry.Value){   
                    $scope.txtMultiplicand = entry.Text;
		    		return true;
		    	} 
			});

            $scope.listDenominator2.forEach(function(entry) {
		    	if($scope.createModel.DELETE_INPUT_QTY  == entry.Value){   
                    $scope.txtDenominator = entry.Text;
		    		return true;
		    	} 
			});

             

            $scope.listOffControlCalMethod.forEach(function(entry) { 
		    	if($scope.createModel.CAL_OFF_CONTROL  == entry.Value){  
		    		$scope.CreatetempOffControlCalMethodId =  entry; 
                    $scope.txtOffControlCalMethod = entry.Text; 
		    		return true;
		    	} 
			});

            

        }

        $scope.saveData = function () {            
            var urlName = get_base_url("CorrectData/CreateQMS_MA_CORRECT_DATA");
            var valid = true;

            
            if( typeof $scope.CreatetempMultiplicandId !== "undefined"  && typeof $scope.CreatetempMultiplicandId.Value !== "undefined"  
                && $scope.CreatetempMultiplicandId.Value !== null && $scope.CreatetempMultiplicandId.Value > 0 ){
                $scope.createModel.DELETE_OUTPUT_QTY = $scope.CreatetempMultiplicandId.Value;
            }else{
                valid = false;
            }     
            if( typeof $scope.CreatetempDenominatorId !== "undefined"  && typeof $scope.CreatetempDenominatorId.Value !== "undefined"  
                && $scope.CreatetempDenominatorId.Value !== null && $scope.CreatetempDenominatorId.Value > 0 ){
                $scope.createModel.DELETE_INPUT_QTY = $scope.CreatetempDenominatorId.Value;
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempOffControlCalMethodId !== "undefined"  && typeof $scope.CreatetempOffControlCalMethodId.Value !== "undefined"  
                && $scope.CreatetempOffControlCalMethodId.Value !== null && $scope.CreatetempOffControlCalMethodId.Value > 0 ){
                $scope.createModel.CAL_OFF_CONTROL = $scope.CreatetempOffControlCalMethodId.Value;
            }else{
                valid = false;
            }        
            if( typeof $scope.createModel.NAME !== "undefined" 
                && $scope.createModel.NAME !== null
                && typeof $scope.createModel.PRIORITY !== "undefined"  
                && $scope.createModel.PRIORITY !== null 
                && $scope.createModel.PRIORITY > 0 
            ){
                
            }else{
                valid = false;
            }  

             
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  

                if(response.data.result =1){
                    $scope.loadCorrectData();
                    $scope.showDeviceData();
                }else{
                    Fact.showMessage(response.data.message);
                }
                  
//                     Fact.showMessage(response.data.message);
//                     $scope.createModel =  response.data.model;
//                     $scope.createModel.ID = response.data.dataId;     
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
                        
        }
        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("CorrectData/GetQMS_MA_CORRECT_DATABySearch"));
            Fact.setDelelteUrl(get_base_url("CorrectData/DeleteQMS_MA_CORRECT_DATA"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadCorrectData();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchCorrectData)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListMultiplicand(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listMultiplicand)); 
        return lstData; 
    }

    function getListDenominator(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDenominator)); 
        return lstData; 
    }

    function getListOFF_CONTROL_CAL_METHOD(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listOFF_CONTROL_CAL_METHOD)); 
        return lstData; 
    } 

    
    function getListMultiplicand2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listMultiplicand2)); 
        return lstData; 
    }

    function getListDenominator2(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDenominator2)); 
        return lstData; 
    }

    function getListOFF_CONTROL_CAL_METHOD(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listOFF_CONTROL_CAL_METHOD)); 
        return lstData; 
    } 
     
     function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_CORRECT_DATA)); 
        return lstData; 
    }
</script>