﻿@{
    var createQMS_MA_TEMPLATE = ViewBag.createQMS_MA_TEMPLATE as QMSSystem.Model.CreateQMS_MA_TEMPLATE;

    var createQMS_MA_TEMPLATE_DATA = ViewBag.createQMS_MA_TEMPLATE_DATA as QMSSystem.Model.CreateQMS_MA_TEMPALTE_EXCEL;

     
    var searchSample = ViewBag.searchSample as QMSSystem.Model.TemplateRowSearchModel;
    var searchItem = ViewBag.searchItem as QMSSystem.Model.TemplateColumnSearchModel;
    var searchControlValue = ViewBag.searchControlValue as QMSSystem.Model.TemplateControlDataSearchModel;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;
    var listExcel = ViewBag.listExcel as List<List<QMSSystem.Model.ViewQMS_MA_TEMPALTE_EXCEL>>;
    var listSample = ViewBag.listSample as List<QMSSystem.Model.ViewQMS_MA_TEMPLATE_ROW>;
    var listItem = ViewBag.listItem as List<QMSSystem.Model.ViewQMS_MA_TEMPLATE_COLUMN>;


    var listControlGroup = ViewBag.listControlGroup as List<QMSSystem.Model.ViewQMS_MA_CONTROL>;
} 
 
<div ng-app="myApp" ng-controller="myCtrl">
     <div class=""> 
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.TemplateGAS  @ViewBag.ActionName</h3>
                    <div class="clearfix"></div>
               </div>
          </div>

          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12"> 
                    <div class="x_panel"> 
                         <div class="row text_align_right" >
                            <span class="btn btn-primary" ng-click="saveData()" ><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                            <span class="btn btn-primary showExcel" ng-click="showPDF()"  style="display:none;" ><i class="fa fa-file-pdf-o"></i> @Resources.Strings.PDF</span>
                            <a href="~/Template/ListMasterTemplateGAS"><span class="btn btn-primary" ><i class="fa fa-close"></i> @Resources.Strings.Close</span></a>
                        </div> 
                        <div class="x_title"> 
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content"> 
                              <div class="row">
                                <div  class="form-horizontal form-label-left" ng-form="myQMS_MA_TEMPLATE">
                                    <div class="form-group">
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.AreaName <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control" maxlength="256" ng-model="createModel.TEMPLATE_AREA" required>
                                        </div>
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FileName <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"  maxlength="256" ng-model="createModel.FILE_NAME" required>
                                        </div> 
                                    </div>
                                    <div class="form-group">                                        
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.TemplateName <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control" maxlength="100" ng-model="createModel.NAME" required>
                                        </div> 
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Path <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control" maxlength="256" ng-model="createModel.PATH_NAME" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.SheetName <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"  maxlength="100" ng-model="createModel.SHEET_NAME" required>
                                        </div> 
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExcelDate <span class="required">*</span></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control "  maxlength="100" ng-model="createModel.EXCEL_DATE" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12"></label>
                                        <div class="col-md-4 col-sm-4 col-xs-12"></div> 
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExcelTime </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control "  maxlength="100" ng-model="createModel.EXCEL_TIME"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ActiveDate </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"   ng-model="TempActiveDate"   data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                        </div> 
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExpireDate </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <input type="text" class="form-control"   ng-model="TempExpireDate"  data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker > 
                                        </div>
                                    </div>
                                    <div class="form-group"> 
                                        <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description </label>
                                        <div class="col-md-4 col-sm-4 col-xs-12">
                                            <textarea id="message" rows="3" class="form-control" name="message"  maxlength="256" ng-model="createModel.TEMPLATE_DESC" ></textarea>
                                        </div>
                                    </div>
                                </div> 
                            </div>
                        </div>  
                    </div>
               </div>
          </div> 
          @Html.Partial("MasterExcelTable")  
     
     
     </div> 
</div>

 

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike, $tooltip){
      
        
        $scope.setTooltip = function(data){ 
             if(data.ITEM_TYPE == 3){

                var sampleName = "-";
                var itemName = "-";
                var checkData = false;
                var title = "";              

                 if(data.CONTROL_DATA.SAMPLE_ID  > 0){
                    $scope.listSample.forEach(function(entry) {  
		    	        if(data.CONTROL_DATA.SAMPLE_ID == entry.ID){                 
                            sampleName =  entry.NAME;
                            checkData = true;
		    	        } 
			        });

                    title = "Sample : " + sampleName;
                }

                //Item 
                if(data.CONTROL_DATA.ITEM_ID  > 0){
                    $scope.listItem.forEach(function(entry) { 
		    	        if(data.CONTROL_DATA.ITEM_ID == entry.ID){  
                            itemName =  entry.NAME + ' (' + entry.UNIT_NAME + ')'
                            checkData = true;
		    	        } 
			        });

                    title +=  "<br/> Items : " + itemName;
                } 
                 
                $scope.tooltip = {title:  title, checked: checkData};
             }else{ 
                $scope.tooltip = {title: '', checked: false};
             }
        }
        
        $scope.tooltip = {title: 'If this filed is empty. It will be automatic form accum tag.', checked: false}; 
        
        $scope.createModel = getCreateModel(); 
        $scope.createControlDataModel = getControlDataModel();

        $scope.searchSample = getSearchSampleModel();
        $scope.searchItem = getSearchItemModel();
        $scope.searchControlValue = getSearchControlValueModel();

        $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
        $scope.TempExpireDate = Fact.getDateFromDoubleEx($scope.createModel.EXPIRE_DATE);

        $scope.tempSample;
        $scope.tempItem;
        $scope.tempControlValue;

        $scope.listSampleSelect = {};
        $scope.listItemSelect = {};
        $scope.listControlValueSelect = {};

        $scope.AllSampleSelected = false;
        $scope.ShowSample = true;
        $scope.AllItemSelected = false;
        $scope.ShowItem = true;
        $scope.AllPlantControlValue= false;
        $scope.ShowControlValue = true;

        $scope.listSample;
        $scope.listItem;
        $scope.listControlValue;

        $scope.listControlGroup = getListControlGroup();
        $scope.listControlSample;
        $scope.listControlItem;

        $scope.templistControlGroup;
        $scope.templistControlSample;
        $scope.templistControlItem;
        $scope.tempControlValue;
        $scope.tempSampleValue;
        $scope.tempItemValue;

        $scope.optControl = false;
         
        $scope.templistPlant;
        $scope.templistUnit;
        $scope.templistSample;
        $scope.templistItem;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
         
        $scope.listExcel;
       // $scope.listExcel = getlistExcel();
        $scope.listSample = getlistSample();
        $scope.listItem = getlistItem();
        $scope.listPlant = getListPlant();
        $scope.listUnit = getListUnit();
         
        $scope.showPDF = function(){
            var obj = new Object();
                
                var templateId  = $scope.createModel.ID;
                var hasPdfViewer = getAcrobatInfo().acrobat ==="installed";
                var pdfDownload = 0;

                if(false == hasPdfViewer){
                    pdfDownload = 1; 
                }else{
                    pdfDownload = 0;
                }  

                var urlName = get_base_url("Template/GetTemplateExcelDataPDF?bDownload=" + pdfDownload + "&templateId=" +  templateId );
                window.open(urlName);
        }
          
        $scope.saveData = function () {            
            var urlName = get_base_url("Template/CreateQMS_MA_TEMPLATE"); 
            var valid = true;


//            if( typeof $scope.templistPlant !== "undefined"  && $scope.templistPlant.ID !== null ){
//                $scope.createModel.PLANT_ID = $scope.templistPlant.ID;
//            }else{
//                valid = false;
//            }            
            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.TempActiveDate;
            }else{
                $scope.createModel.ACTIVE_DATE  = null;
//                valid = false;
            }  
            if( typeof $scope.TempExpireDate !== "undefined"  && $scope.TempExpireDate !== null ){
                $scope.createModel.EXPIRE_DATE =$scope.TempExpireDate;
            }else{
                $scope.createModel.EXPIRE_DATE  = null;
//                valid = false;
            }              
            if( typeof $scope.createModel.NAME !== "undefined"  
                && $scope.createModel.NAME !== null  
                && typeof $scope.createModel.FILE_NAME !== "undefined"  
                && $scope.createModel.FILE_NAME !== null 
                && typeof $scope.createModel.PATH_NAME !== "undefined"  
                && $scope.createModel.PATH_NAME !== null      
                && typeof $scope.createModel.SHEET_NAME !== "undefined"  
                && $scope.createModel.SHEET_NAME !== null
                && typeof $scope.createModel.EXCEL_DATE !== "undefined"  
                && $scope.createModel.EXCEL_DATE !== null        
//                && $scope.TempActiveDate <= $scope.TempExpireDate
            ){
                 
            }else{
                valid = false;
            }    
             
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message); 
                     $scope.createModel = response.data.model;  
                     $scope.createModel.ID =response.data.dataId; 
                     $(".showExcel").show();
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }    
             
        }
         
        //#region QMS_MA_TEMPLATE_DATA        
        $scope.getControlValueTemplate = function (mControlValueData) { 
            if (mControlValueData.ID === $scope.listControlValueSelect.ID) return 'editControlValue';
                 else return 'displayControlValue';
        };

        $scope.editControlValue = function (mControlValueData) {
            $scope.ShowControlValue = false;
            $scope.listControlValueSelect = angular.copy(mControlValueData);
        };

        $scope.resetControlValue = function () {
            $scope.ShowControlValue = true;
            $scope.listControlValueSelect = {};
        };

        $scope.saveControlDataModel = function () {            
            var urlName = get_base_url("Template/CreateQMS_MA_TEMPLATE");
            var jsonData = $scope.createModel;
            Fact.saveData(urlName, jsonData, true);
        }

        $scope.setClass = function(data){
            var type = data.ITEM_TYPE; // แสดง tempale
            var itemType = data.DATA_TYPE; // เป็น sample or item
            var showData  = false;
            
            if(null != data.CONTROL_DATA){
                showData = data.CONTROL_DATA.SHOW_ON_TREND_FLAG; 
            }
              
            if(type == 1 ) { // header column and row 
                return "metrix_header_column";

            }else if(type==2){
                return "metrix_header";
            }else{
                 
                
                if(showData == true ) //|| itemType == 3)
                {
                    return "metrix_data_show";
                }else if  (itemType == 1 && data.ROW_DATA.NAME != null ) {
                    return "metrix_data_sample_item";
                }else if (itemType == 2){
                    return "metrix_data_column";
                }else{
                    return "metrix_data";
                }

            }
        }

        $scope.loadExcelData = function () {
            var urlName = get_base_url("Template/GetTemplateExcelData");

            //if( $scope.createModel.ID > 0){ 
                var jsonData = {
	                 "templateId": $scope.createModel.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{ 
                       console.log(response);
                       $scope.listExcel = response.data.message;
                       $scope.listSample  = response.data.listSample;
                       $scope.listItem  = response.data.listItem;
                    }catch(e){
                       console.log(e);
                    }
                });
            //}
        }

        $scope.delExcelData = function (jsonData) {
            var urlName = get_base_url("Template/DeleteQMS_MA_TEMPLATE_DATA");
            Fact.deleteDataEx(urlName, jsonData, function(response){ 
                    $scope.loadExcelData();
            });
        }

        $scope.openControlDialog = function(data){
            if(data.ITEM_TYPE == 3){
                $(".control-value-modal-lg").modal('show');
                $scope.createControlDataModel  = angular.copy(data);

                console.log($scope.createControlDataModel );
                 
                //$scope.templistPlant;
                $scope.templistUnit = {};
                $scope.templistSample = {};
                $scope.templistItem = {};
                 
                $scope.templistControlGroup = {};
                $scope.templistControlSample = {};
                $scope.templistControlItem = {};;
                $scope.tempControlValue = "";

                /*********************************** ITEM ***************************************/
                //กรณีที่เป็น item ต้องคืนค่า unit ใน
                if($scope.createControlDataModel.COLUMN_DATA.UNIT_ID  > 0){
                    $scope.listUnit.forEach(function(entry) { 
		    	        if($scope.createControlDataModel.COLUMN_DATA.UNIT_ID == entry.ID){
		    		        $scope.templistUnit =  entry;  
		    	        } 
			        });
                } 
                /*********************************** ITEM ***************************************/ 

                /*********************************** CONTROL ***************************************/
                //กรณีที่เป็น control ค่า sample 
                if(data.DATA_TYPE == 3){ //เป็นค่า control
                     $scope.optControl =  false;
                     $scope.tempItemValue = $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ITEM_NAME;
                     $scope.tempSampleValue = $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_SMAPLE_NAME;
                     $scope.tempControlValue = $scope.createControlDataModel.TD_NAME;
                }else{
                     $scope.optControl = true;
                     $scope.tempItemValue = "";
                     $scope.tempSampleValue = "";
                     $scope.tempControlValue = "";
                }

                //Sample
                if($scope.createControlDataModel.CONTROL_DATA.SAMPLE_ID  > 0){
                    $scope.listSample.forEach(function(entry) {  
		    	        if($scope.createControlDataModel.CONTROL_DATA.SAMPLE_ID == entry.ID){                              
                            $scope.templistSample =  entry;  
		    	        } 
			        });
                }

                //Item 
                if($scope.createControlDataModel.CONTROL_DATA.ITEM_ID  > 0){
                    $scope.listItem.forEach(function(entry) { 
		    	        if($scope.createControlDataModel.CONTROL_DATA.ITEM_ID == entry.ID){  
                            $scope.templistItem =  entry;  
		    	        } 
			        });
                } 

                //Control
                if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ID  > 0){
                    $scope.listControlGroup.forEach(function(entry) { 
                      if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ID == entry.ID){  
		    	         $scope.templistControlGroup =  entry;   
                       }
			        });
                     
                    //get sample list then assign then get item list and assgin

                    var urlName = get_base_url("ControlValue/GetSampleListByControlId");

                    if( $scope.createModel.ID > 0){ 
                        var jsonData = {
	                         "controlId": $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ID
	                    };
                  
                        Fact.loadlistData(urlName, jsonData, function(response){ 
                            try{  
                               $scope.optControl = true;
                               $scope.listControlSample = response.data.message;
                             
                                //reset 
                               $scope.templistControlItem = {};
                               $scope.listControlItem = {};
//                               $scope.tempControlValue = "";

                               //assign sample value 
                               $scope.listControlSample.forEach(function(entry) { 
                                  if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_SMAPLE_ID== entry.ID){  
		    	                     $scope.templistControlSample =  entry; 
                                   }
			                   });


                                //load Control Item

                                var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
                                  
                                var jsonData = {
	                                    "controlId": $scope.templistControlGroup.ID,
                                        "sampleId": $scope.templistControlSample.ID
	                            };
                  
                                Fact.loadlistData(urlName, jsonData, function(response){ 
                                    try{ 
                                        $scope.listControlItem = response.data.message;
                                        console.log( $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ITEM_ID , "data");
                                        $scope.listControlItem.forEach(function(entry) { 
                                            if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ITEM_ID == entry.CONTROL_COLUMN_ID){  
		    	                                $scope.templistControlItem =  entry; 
                                            }
			                            });
                                    }catch(e){
                    
                                    }
                                });


                            }catch(e){
                    
                            }
                        });
                    }
                }
                /*********************************** CONTROL ***************************************/
            }
        }

        $scope.showSample = function (data, type){
            if(data == type){
                return true;
            }else{
                return false;
            }
        }

        $scope.saveQMS_MA_TEMPLATE_VALUE = function () { 
            $(".control-value-modal-lg").modal('hide');
            var urlName = get_base_url("Template/CreateQMS_MA_TEMPLATE_DATA");
            var valid = true; 
            var itemType = $scope.createControlDataModel.DATA_TYPE; // เป็น sample or item
            $scope.createControlDataModel.TEMPLATE_ID =   $scope.createModel.ID;

            //self validate data

            if(itemType == 1)//Sample check
            {
               if(null ==   $scope.createControlDataModel.ROW_DATA.EXCEL_FIELD || "" ==   $scope.createControlDataModel.ROW_DATA.EXCEL_FIELD ||
                    null ==   $scope.createControlDataModel.ROW_DATA.NAME ||  "" ==   $scope.createControlDataModel.ROW_DATA.NAME ){
                    valid = false;
               }
            
            }else if( itemType == 2) // Item check
            { 
                 if(null ==   $scope.createControlDataModel.COLUMN_DATA.EXCEL_FIELD || "" ==   $scope.createControlDataModel.COLUMN_DATA.EXCEL_FIELD ||
                    null ==   $scope.createControlDataModel.COLUMN_DATA.NAME ||  "" ==   $scope.createControlDataModel.COLUMN_DATA.NAME ){
                        valid = false;
                 }

                 if( typeof $scope.templistUnit !== "undefined" ){
                    $scope.createControlDataModel.COLUMN_DATA.UNIT_ID = $scope.templistUnit.ID;
                 }else{
                    valid = false; 
                 }

            }else if( itemType == 3) //Control check
            {    

                if(null ==   $scope.createControlDataModel.CONTROL_DATA.EXCEL_FIELD || "" ==   $scope.createControlDataModel.CONTROL_DATA.EXCEL_FIELD ){
                        valid = false;
                 }
                 
                 if( typeof $scope.templistSample !== "undefined" ){
                    $scope.createControlDataModel.CONTROL_DATA.SAMPLE_ID = $scope.templistSample.ID;
                 }else{
                    valid = false; 
                 }

                 if( typeof $scope.templistItem !== "undefined" ){
                    $scope.createControlDataModel.CONTROL_DATA.ITEM_ID = $scope.templistItem.ID;
                 }else{
                    valid = false; 
                 }

                 if( typeof $scope.templistControlItem !== "undefined" ){
                    $scope.createControlDataModel.CONTROL_DATA.CONTROL_ID = $scope.templistControlItem.ID;
                 }else{
                    valid = false; 
                 }
            }

            //self validate data
             

            var jsonData = $scope.createControlDataModel;  
            //console.log(jsonData, valid, (null ==   $scope.createControlDataModel.ROW_DATA.EXCEL_FIELD ) , $scope.createControlDataModel.ROW_DATA.NAME);  

            if(valid){
                Fact.saveDataCallback(urlName, jsonData, function(response){ 
                     $scope.loadExcelData();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        ///Control Group ////
        $scope.loadControlSample = function(){ 
           
            var urlName = get_base_url("ControlValue/GetSampleListByControlId");

            if( $scope.createModel.ID > 0){ 
                var jsonData = {
	                 "controlId": $scope.templistControlGroup.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{ 
                       
                       $scope.optControl = true;
                       $scope.listControlSample = response.data.message; 

                       console.log("loadControlSample", $scope.listControlSample );
                       //reset 
                       $scope.templistControlItem = {};
                       $scope.listControlItem = {};
                       $scope.tempControlValue = "";
                    }catch(e){
                    
                    }
                });
            }
        }

        $scope.loadControlItem = function(){

            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");

            //if( $scope.createModel.ID > 0){
                var jsonData = {
	                 "controlId": $scope.templistControlGroup.ID,
                     "sampleId": $scope.templistControlSample.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{ 
                       $scope.listControlItem = response.data.message; 
                    }catch(e){
                    
                    }
                });
            //} 
        }

        $scope.showControlItem = function(){
            if( typeof $scope.templistControlItem !== "undefined" ){
                $scope.tempControlValue = $scope.templistControlItem.CONTROL_DATA_NAME;
            }else{
               $scope.tempControlValue = "";
            }
        }

        //init
        $scope.init = function () { 
           
           if( $scope.createModel.ID > 0){  
            console.log( $scope.createModel.ID);
                $(".showExcel").show();
           }

//           $scope.listPlant.forEach(function(entry) {
//		    	if($scope.createModel.PLANT_ID  == entry.ID){  
//		    		$scope.templistPlant =  entry; 
//		    		return false;
//		    	} 
//			});

           $scope.loadExcelData(); 
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_TEMPLATE)); 
        return lstData; 
    } 

    function getControlDataModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_TEMPLATE_DATA)); 
        return lstData;
    }

    function getSearchSampleModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchSample)); 
        return lstData;
    }

    function getSearchItemModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchItem)); 
        return lstData;
    }

    function getSearchControlValueModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchControlValue)); 
        return lstData;
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData;
    }

     function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit)); 
        return lstData;
    }
    
    function getlistExcel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listExcel)); 
        return lstData;
    }

    function getlistSample(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listSample)); 
        return lstData;
    }

    function getlistItem(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listItem)); 
        return lstData;
    }

    function getListControlGroup(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listControlGroup)); 
        return lstData;
    }
     
</script>