﻿@{
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
}
<div  ng-app="myApp" ng-controller="myCtrl">  

     <div class="">

          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.ImportExportEXQTemplate</h3>
                    <div class="clearfix"></div>
               </div>
          </div>

          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 

          <div class="row">

               <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="x_panel">

                         <div class="x_title">  
                            @*<span class="btn btn-primary "  ng-click="showTemplateSearch()" ><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                            <a href="~/Template/CreateMasterTemplateGAS"><span class="btn btn-primary" ><i class="fa fa-plus"></i> @Resources.Strings.Add</span></a>
                            <span class="btn btn-primary " my-confirm-click="delTemplate()" ><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                            <div class="clearfix"></div>*@
                         </div>

                         <div class="x_content tblResult "  >
                             <form name="ImpExpData">
                                 <div  class="form-horizontal form-label-left"  >
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" ></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>
                                              <input type="radio" checked="checked" value="option1" id="optionsRadios1" name="optionsRadios"  ng-model="templateType" ng-value="1"> @Resources.Strings.ImportTemplate
                                            </label>&nbsp;&nbsp;&nbsp;<label>
                                              <input type="radio"  value="option2" id="optionsRadios2" name="optionsRadios"  ng-model="templateType" ng-value="2"> @Resources.Strings.ExportTemplate
                                            </label>
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" ></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <label>
                                              <input type="radio" checked="checked" value="optionT1" id="optionsRadiosT1" name="optionsRadiosT"  ng-model="downloadType" ng-value="1"> @Resources.Strings.Product
                                            </label>&nbsp;&nbsp;&nbsp;<label>
                                              <input type="radio"  value="optionT2" id="optionsRadiosT2" name="optionsRadiosT"  ng-model="downloadType" ng-value="2"> @Resources.Strings.Downtime
                                            </label>&nbsp;&nbsp;&nbsp;<label>
                                              <input type="radio"  value="optionT3" id="optionsRadiosT3" name="optionsRadiosT"  ng-model="downloadType" ng-value="3"> @Resources.Strings.ReduceFeed
                                            </label>
                                        </div>
                                    </div><div class="form-group"  >
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12"  >@Resources.Strings.Plant </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                            ng-model="tempPlantId"
					                            chosen="{inherit_select_classes: true}"  
                                                class="chosen_required"
					                            ng-options="item.NAME  for item in listPlant" >
					                            <option value=""></option>
				                            </select> 
                                        </div>
                                    </div><div class="form-group" ng-show="downloadType == 1">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Product </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select
					                            ng-model="tempProductId"
					                            chosen="{inherit_select_classes: true}"  
                                                class="chosen_required"
					                            ng-options="item.NAME  for item in listProduct" >
					                            <option value=""></option>
				                            </select> 
                                        </div>
                                    </div>
                                    <div class="form-group" ng-show="templateType == 1">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Date <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;"> 
                                                <input type="text" class="form-control"  ng-model="TempDateImport" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required > 
                                            </div>
                                   </div>
                                   <div class="form-group" ng-show="templateType == 1">
                                       <div class="row" style="margin-top:10px;"> 
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.FileAttach</label>                                                                         
                                            <div class="col-md-6 col-sm-6 col-xs-12" ngf-select ng-model="file" name="file" ngf-pattern="'.xls,.csv,.xlsx'"
                                                 ngf-accept="'.xls,.csv,.xlsx '" ngf-max-size="2048MB" ngf-min-height="100"  >
                                                 <span class="btn btn-primary" >@Resources.Strings.Browse</span> 
                                                 <span >{{file.name}}</span>  
                                           </div> 
                                      </div>
                                  </div>
                                    <div class="form-group" >
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                          <button type="button" class="btn btn-primary" ng-click="loadTemplate()" ng-show="templateType != 1" ><i class="fa fa-download"></i> @Resources.Strings.ClickToDownload</button>
                                          <button type="button" class="btn btn-primary" ng-click="upload(file)"   ng-show="templateType == 1"><i class="fa fa-save"></i> @Resources.Strings.Upload</button>
                                        @*  <button type="button" class="btn btn-primary" ng-click="clearTemplate()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                          <button type="button" class="btn btn-primary"  ng-click="closeTemplateSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> *@
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                </div>
                             </form>
                         </div> 

                    </div>

               </div>
              
          </div>

     </div>


     

</div>

<script type="text/javascript">

    //app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {
    app.controller('myCtrl', ['$scope', 'Upload',  '$http', 'Fact' , function ($scope, Upload, $http, Fact) {
        /**Special case by case ตาม search model**/
        $scope.listPlant = getListPlant();
        $scope.listProduct = getListProduct();
        $scope.tempPlantId ;
        $scope.tempProductId ;
        /**Special case by case ตาม search model**/    
        
        $scope.templateType = 1;
        $scope.downloadType = 1;

        $scope.file;
        $scope.TempDateImport;

        $scope.openUploadFile = function(){
            $scope.year = "";
            $scope.file = null;
            $(".operation-shift-modal-lg").modal('show'); 
        }

        $scope.loadTemplate = function (){ 

            var urlName = get_base_url("Template/TemplateDataExcel"); 
            var checkResult = true;
            var plantId = 0;
            var productId = 0; 

            if( "undefined" !== typeof  $scope.tempPlantId){ 
                plantId = $scope.tempPlantId.ID;
            }else{
                checkResult = false;
            }

            if( "undefined" !== typeof  $scope.tempProductId){ 
                productId = $scope.tempProductId.ID;
            }

            if($scope.downloadType == 1 && productId == 0 ){
                checkResult = false;
            }

            if( true == checkResult){

                urlName += "?downloadType=" +  $scope.downloadType + "&plantId=" +  plantId + "&productId=" + productId ;
                console.log(urlName);
                window.open(urlName, "@Resources.Strings.ReportOffControl");

            }
        }


        $scope.upload = function (file) {
            var checkResult = true;

            var plantId = 0;
            var productId = 0;

            if( "undefined" !== typeof  $scope.tempPlantId){ 
                plantId = $scope.tempPlantId.ID;
            }else{
                checkResult = false;
            }

            if( "undefined" !== typeof  $scope.tempProductId){ 
                productId = $scope.tempProductId.ID;
            }

            if($scope.downloadType == 1 && productId == 0 ){
                checkResult = false;
            }

            if( "undefined"  === $scope.TempDateImport){
                 checkResult = false;
            }
              
            if(checkResult == true){
                $('#overlay').show();

                Upload.upload({
                    url: 'Files/SaveTemplateImport',
                    data: { file: file, 
                            TagDate: $scope.TempDateImport ,
                            downloadType : $scope.downloadType,
                            plantId : plantId,
                            productId : productId
                           }
                }).then(function (resp) { 
                      //console.log(resp.data.result);
                      $(".file-attach-modal-lg").modal('hide');
                      $('#overlay').hide();
                      if(resp.data.result == "Error"){
                        Fact.showError( resp.data.message );
                      }else{   
                        Fact.showMessage( resp.data.message );
                     }

                }, function (resp) {
                    $('#overlay').hide();
                    console.log('Error status: ' + resp.status);
                }, function (evt) {
                   // $('#overlay').hide();
                    var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                    console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
                });
            }
        }

        $scope.init = function( ){
         
        }

        $scope.init();

     }]); 
     
    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }
     
     
</script>