﻿@{
    var createQMS_MA_TEMPLATE = ViewBag.createQMS_MA_TEMPLATE as QMSSystem.Model.CreateQMS_MA_TEMPLATE;

    var createQMS_MA_TEMPLATE_DATA = ViewBag.createQMS_MA_TEMPLATE_DATA as QMSSystem.Model.CreateQMS_MA_TEMPALTE_EXCEL;


    var searchSample = ViewBag.searchSample as QMSSystem.Model.TemplateRowSearchModel;
    var searchItem = ViewBag.searchItem as QMSSystem.Model.TemplateColumnSearchModel;
    var searchControlValue = ViewBag.searchControlValue as QMSSystem.Model.TemplateControlDataSearchModel;

    var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;
    var listExcel = ViewBag.listExcel as List<List<QMSSystem.Model.ViewQMS_MA_TEMPALTE_EXCEL>>;
    var listSample = ViewBag.listSample as List<QMSSystem.Model.ViewQMS_MA_TEMPLATE_ROW>;
    var listItem = ViewBag.listItem as List<QMSSystem.Model.ViewQMS_MA_TEMPLATE_COLUMN>;

    var ListAlignment = ViewBag.ListAlignment as List<QMSSystem.Model.ViewAlignmentOption>;

    var listControlGroup = ViewBag.listControlGroup as List<QMSSystem.Model.ViewQMS_MA_CONTROL>;

    var searchTemplate = ViewBag.searchTemplate as QMSSystem.Model.TemplateSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
}
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>@Resources.Strings.Template / @Resources.Strings.HotOilFlashPoint</h3>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="clearfix"></div>
        <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>


        <div class="row" ng-show="showList">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_panel">

                    <div class="x_title">
                        <span class="btn btn-primary " ng-click="showTemplateSearch()"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                        <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                        <span class="btn btn-primary " my-confirm-click="delTemplate()"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content tblResult " style="display:none;">
                        <div class="form-horizontal form-label-left" ng-show="showSearch">
                            @*<div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.AreaName </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                      <input type="text" ng-model="mSearch.TEMPLATE_AREA"  class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>*@<div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Name </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" ng-model="mSearch.NAME" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div><div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.FileName </label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" ng-model="mSearch.FILE_NAME" class="form-control col-md-7 col-xs-12">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                    <button type="button" class="btn btn-primary" ng-click="loadTemplate()"><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                    <button type="button" class="btn btn-primary" ng-click="clearTemplate()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                    <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                        </div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><input type="checkbox" ng-model="AllTemplate" ng-change="SelectAllCheck()"></th>
                                    <th class=" sorting" ng-click="sort($event)" sort="NAME">@Resources.Strings.TemplateName</th>
                                    <th class=" sorting" ng-click="sort($event)" sort="FILE_NAME">@Resources.Strings.FileName</th>
                                    <th>@Resources.Strings.Path</th>
                                    <th>@Resources.Strings.Tools</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="mTemplate in listTemplate">
                                    <td><input type="checkbox" ng-model="mTemplate.ITEM_SELECTED" /></td>
                                    <td>{{mTemplate.NAME}}</td>
                                    <td>{{mTemplate.FILE_NAME}}</td>
                                    <td>{{mTemplate.PATH_NAME}}</td>
                                    <td><i class="fa fa-edit set-pointer" ng-click="editData(mTemplate)"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- ทำหน้า -->
                    <div class="row tblResult " style="display:none;">
                        <div class="col-md-7 col-sm-7 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                @Resources.Strings.ResultsPerPage
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <select ng-model="TempPageSize"
                                        chosen
                                        ng-change="loadByPageSize()"
                                        ng-options="item.Text  for item in listPageSize"
                                        class="col-md-12 col-sm-12 col-xs-12"
                                        name="lst_pagesize" id="lst_pagesize">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="col-md-5 col-sm-5 col-xs-6">
                            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left"></i>@Resources.Strings.Previous</span></label>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;">
                                <select ng-model="TempPageIndex"
                                        chosen
                                        ng-change="searchByPage()"
                                        ng-options="item.PageIndex  for item in listPageIndex">
                                </select>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer">@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer"></i></span></label>
                            </div>
                        </div>
                    </div>
                    <!-- ทำหน้า -->

                </div>

            </div>

        </div>


        <div class="row" ng-show="showDevice">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="row text_align_right">
                        <span class="btn btn-primary" ng-click="saveData()"><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                        <span class="btn btn-primary showExcel" ng-click="showPDF()" style="display:none;"><i class="fa fa-file-pdf-o"></i> @Resources.Strings.PDF</span>
                        <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                    </div>
                    <div class="x_title">
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="row">
                            <div class="form-horizontal form-label-left" ng-form="myQMS_MA_TEMPLATE">
                                <div class="form-group">
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.FileName <span class="required">*</span></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" class="form-control" maxlength="256" ng-model="createModel.FILE_NAME" required>
                                    </div>
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.TemplateName <span class="required">*</span></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" class="form-control" maxlength="100" ng-model="createModel.NAME" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.SheetName <span class="required">*</span></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" class="form-control" maxlength="100" ng-model="createModel.SHEET_NAME" required>
                                    </div>
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Path <span class="required">*</span></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" class="form-control" maxlength="256" ng-model="createModel.PATH_NAME" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.StartPoint <span class="required">*</span></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" class="form-control" maxlength="100" ng-model="createModel.START_POINT" required>
                                    </div>
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Alignment <span class="required">*</span></label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select ng-model="tempListAlignment"
                                                chosen="{inherit_select_classes: true}"
                                                ng-options="item.NAME  for item in ListAlignment"
                                                class="chosen_required">
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ActiveDate </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" class="form-control" ng-model="TempActiveDate" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                    </div>
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExpireDate </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <input type="text" class="form-control" ng-model="TempExpireDate" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="spec-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description </label>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <textarea id="message" rows="3" class="form-control" name="message" maxlength="256" ng-model="createModel.TEMPLATE_DESC"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @Html.Partial("MasterExcelTable")

    </div>
</div>



<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike, $tooltip  ) {

         $scope.setTooltipEx = function(data){
            //console.log("setTooltipEx", data);
             if(data.ITEM_TYPE == 3){

                var sampleName = "-";
                var itemName = "-";
                var checkData = false;
                var title = "";

                 if(data.CONTROL_DATA.SAMPLE_ID  > 0){
                    $scope.listSample.forEach(function(entry) {
		    	        if(data.CONTROL_DATA.SAMPLE_ID == entry.ID){
                            sampleName =  entry.NAME;
                            checkData = true;
		    	        }
			        });

                    title = "Sample : " + sampleName;
                }

                //Item
                if(data.CONTROL_DATA.ITEM_ID  > 0){
                    $scope.listItem.forEach(function(entry) {
		    	        if(data.CONTROL_DATA.ITEM_ID == entry.ID){
                            itemName =  entry.NAME + ' (' + entry.UNIT_NAME + ')'
                            checkData = true;
		    	        }
			        });

                    title +=  "\n Items : " + itemName;
                }

                //$scope.tooltip = {title:  title, checked: checkData};
             }
             return title;
        }

        $scope.setTooltip = function(data){
             if(data.ITEM_TYPE == 3){

                var sampleName = "-";
                var itemName = "-";
                var checkData = false;
                var title = "";

                 if(data.CONTROL_DATA.SAMPLE_ID  > 0){
                    $scope.listSample.forEach(function(entry) {
		    	        if(data.CONTROL_DATA.SAMPLE_ID == entry.ID){
                            sampleName =  entry.NAME;
                            checkData = true;
		    	        }
			        });

                    title = "Sample : " + sampleName;
                }

                //Item
                if(data.CONTROL_DATA.ITEM_ID  > 0){
                    $scope.listItem.forEach(function(entry) {
		    	        if(data.CONTROL_DATA.ITEM_ID == entry.ID){
                            itemName =  entry.NAME + ' (' + entry.UNIT_NAME + ')'
                            checkData = true;
		    	        }
			        });

                    title +=  "<br/> Items : " + itemName;
                }

                $scope.tooltip = {title:  title, checked: checkData};
             }else{
                $scope.tooltip = {title: '', checked: false};
             }
        }

        $scope.tooltip = {title: 'If this filed is empty. It will be automatic form accum tag.', checked: false};
        $scope.createModel = getCreateModel();
        $scope.createControlDataModel = getControlDataModel();

        $scope.searchSample = getSearchSampleModel();
        $scope.searchItem = getSearchItemModel();
        $scope.searchControlValue = getSearchControlValueModel();

        $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
        $scope.TempExpireDate = Fact.getDateFromDoubleEx($scope.createModel.EXPIRE_DATE);

        $scope.tempSample;
        $scope.tempItem;
        $scope.tempControlValue;

        $scope.listSampleSelect = {};
        $scope.listItemSelect = {};
        $scope.listControlValueSelect = {};

        $scope.AllSampleSelected = false;
        $scope.ShowSample = true;
        $scope.AllItemSelected = false;
        $scope.ShowItem = true;
        $scope.ShowControlValue = true;

        $scope.listSample;
        $scope.listItem;
        $scope.listControlValue;

        $scope.listControlGroup = getListControlGroup();
        $scope.listControlSample;
        $scope.listControlItem;

        $scope.templistControlGroup;
        $scope.templistControlSample;
        $scope.templistControlItem;
        $scope.tempControlValue;
        $scope.tempSampleValue;
        $scope.tempItemValue;

        $scope.optControl = false;

        $scope.templistUnit;
        $scope.templistSample;
        $scope.templistItem;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }

        $scope.listExcel;
       // $scope.listExcel = getlistExcel();
        $scope.listSample = getlistSample();
        $scope.listItem = getlistItem();
        $scope.listUnit = getListUnit();

        $scope.ListAlignment = getListAlignment();
        $scope.tempListAlignment;


        $scope.listFormatDate = [{ VALUE: 'DAY', NAME: 'วัน' }, { VALUE: 'MONTH', NAME: 'เดือน' }, { VALUE: 'YEAR', NAME: 'ปี' }];
        $scope.templistFormatDate;

        $scope.showPDF = function(){
            var obj = new Object();

                var templateId  = $scope.createModel.ID;
                var hasPdfViewer = getAcrobatInfo().acrobat ==="installed";
                var pdfDownload = 0;

                if(false == hasPdfViewer){
                    pdfDownload = 1;
                }else{
                    pdfDownload = 0;
                }

                var urlName = get_base_url("Template/GetTemplateExcelDataPDF?bDownload=" + pdfDownload + "&templateId=" +  templateId );
                window.open(urlName);
        }

        $scope.saveData = function () {
            var urlName = get_base_url("Template/CreateQMS_MA_TEMPLATE");
            var valid = true;
            $scope.createModel.TEMPLATE_AREA = $scope.createModel.NAME;
            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.TempActiveDate;
            }else{
                $scope.createModel.ACTIVE_DATE  = null;
               // valid = false;
            }
            if( typeof $scope.TempExpireDate !== "undefined"  && $scope.TempExpireDate !== null ){
                $scope.createModel.EXPIRE_DATE =$scope.TempExpireDate;
            }else{
                $scope.createModel.EXPIRE_DATE  = null;
                //valid = false;
            }
            if (typeof $scope.tempListAlignment !== "undefined" && $scope.tempListAlignment !== null) {
                if ($scope.tempListAlignment.ID == 1) {
                    $scope.createModel.ALIGNMENT = true;
                } else {
                    $scope.createModel.ALIGNMENT = false;
                }
            } else {
                $scope.createModel.ALIGNMENT = null;
                valid = false;
            }
            if( typeof $scope.createModel.NAME !== "undefined"
                && $scope.createModel.NAME !== null
                && typeof $scope.createModel.TEMPLATE_AREA !== "undefined"
                && $scope.createModel.TEMPLATE_AREA !== null
                && typeof $scope.createModel.FILE_NAME !== "undefined"
                && $scope.createModel.FILE_NAME !== null
                && typeof $scope.createModel.PATH_NAME !== "undefined"
                && $scope.createModel.PATH_NAME !== null
                && typeof $scope.createModel.SHEET_NAME !== "undefined"
                && $scope.createModel.SHEET_NAME !== null
                && typeof $scope.createModel.START_POINT !== "undefined"
                && $scope.createModel.START_POINT !== null
            ){

            }else{
                valid = false;
            }
             console.log($scope.createModel);

            if(true == valid){
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {


                    if(response.data.result == 1){
                         $scope.loadTemplate();
                         $scope.createModel = response.data.model;
                         $scope.createModel.ID =response.data.dataId;
                         $scope.loadExcelData();
                    }

                     Fact.showMessage(response.data.message);
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }

        }

        //#region QMS_MA_TEMPLATE_DATA
        $scope.getControlValueTemplate = function (mControlValueData) {
            if (mControlValueData.ID === $scope.listControlValueSelect.ID) return 'editControlValue';
                 else return 'displayControlValue';
        };

        $scope.editControlValue = function (mControlValueData) {
            $scope.ShowControlValue = false;
            $scope.listControlValueSelect = angular.copy(mControlValueData);
        };

        $scope.resetControlValue = function () {
            $scope.ShowControlValue = true;
            $scope.listControlValueSelect = {};
        };

        $scope.saveControlDataModel = function () {
            var urlName = get_base_url("Template/CreateQMS_MA_TEMPLATE");
            var jsonData = $scope.createModel;
            Fact.saveData(urlName, jsonData, true);
        }

        $scope.setClass = function (data) {

            var type = data.ITEM_TYPE; // แสดง tempale
            var itemType = data.DATA_TYPE; // เป็น sample or item
            var showData  = false;

            if(null != data.CONTROL_DATA){
                showData = data.CONTROL_DATA.SHOW_ON_TREND_FLAG;
            }

            if(type == 1 ) { // header column and row
                return "metrix_header_column";

            }else if(type==2){
                return "metrix_header";
            }else{


                if(showData == true ) //|| itemType == 3)
                {
                    return "metrix_data_show";
                } else if  (itemType == 1 && data.ROW_DATA.NAME != null ) {
                    return "metrix_data_sample_item";
                }else if (itemType == 2){
                    return "metrix_data_column";
                }else{
                    return "metrix_data";
                }

            }
        }

        $scope.loadExcelData = function () {

            var urlName = get_base_url("Template/GetTemplateExcelData");

          // if( $scope.createModel.ID > 0){
                var jsonData = {
	                 "templateId": $scope.createModel.ID
	            };

                Fact.loadlistData(urlName, jsonData, function(response){
                    $(".showExcel").show();
                    try {
                       $scope.listExcel = response.data.message;
                       $scope.listSample  = response.data.listSample;
                        $scope.listItem = response.data.listSampleItem;
                    }catch(e){

                    }
                });
          //  }
        }

        $scope.delExcelData = function (jsonData) {
            var urlName = get_base_url("Template/DeleteQMS_MA_TEMPLATE_DATA");
            Fact.deleteDataEx(urlName, jsonData, function(response){
                    $scope.loadExcelData();
            });
        }

        $scope.openControlDialog = function (data) {
            console.log($scope.createControlDataModel)
            if(data.ITEM_TYPE == 3){
                $(".control-value-modal-lg").modal('show');
                $scope.createControlDataModel  = angular.copy(data);

                //$scope.templistPlant;
                $scope.templistUnit = {};
                $scope.templistSample = {};
                $scope.templistItem = {};

                $scope.templistControlGroup = {};
                $scope.templistControlSample = {};
                $scope.templistControlItem = {};
                $scope.templistFormatDate = {};
                $scope.tempControlValue = "";

                /*********************************** ELEMENT ***************************************/
                //กรณีที่เป็น ELEMENT ต้องคืนค่า FormatDate ใน
                //if ($scope.createControlDataModel.COLUMN_DATA.NAME != null) {
                //    $scope.listFormatDate.forEach(function (entry) {
                //        if ($scope.createControlDataModel.COLUMN_DATA.NAME == entry.VALUE) {
                //            $scope.templistFormatDate = entry;
                //        }
                //    });
                //}
                /*********************************** ELEMENT ***************************************/

                /*********************************** ITEM ***************************************/
                //กรณีที่เป็น item ต้องคืนค่า unit ใน
                if($scope.createControlDataModel.COLUMN_DATA.UNIT_ID  > 0){
                    $scope.listUnit.forEach(function(entry) {
		    	        if($scope.createControlDataModel.COLUMN_DATA.UNIT_ID == entry.ID){
		    		        $scope.templistUnit =  entry;
		    	        }
			        });
                }
                /*********************************** ITEM ***************************************/

                /*********************************** CONTROL ***************************************/
                //กรณีที่เป็น control ค่า sample
                if(data.DATA_TYPE == 3){ //เป็นค่า control
                     $scope.optControl =  false;
                     $scope.tempItemValue = $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ITEM_NAME;
                     $scope.tempSampleValue = $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_SMAPLE_NAME;
                     $scope.tempControlValue = $scope.createControlDataModel.TD_NAME;
                }else{
                     $scope.optControl = true;
                     $scope.tempItemValue = "";
                     $scope.tempSampleValue = "";
                     $scope.tempControlValue = "";
                }

                //Sample
                if($scope.createControlDataModel.CONTROL_DATA.SAMPLE_ID  > 0){
                    $scope.listSample.forEach(function(entry) {
                        if ($scope.createControlDataModel.CONTROL_DATA.SAMPLE_NAME == entry.NAME){
                            $scope.templistSample =  entry;
		    	        }
			        });
                }

                //Item
                if($scope.createControlDataModel.CONTROL_DATA.ITEM_ID  > 0){
                    $scope.listItem.forEach(function(entry) {
		    	        if($scope.createControlDataModel.CONTROL_DATA.ITEM_NAME == entry.NAME){
                            $scope.templistItem =  entry;
		    	        }
			        });
                }

                //Control
                if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ID  > 0){
                    $scope.listControlGroup.forEach(function(entry) {
                      if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ID == entry.ID){
		    	         $scope.templistControlGroup =  entry;
                       }
			        });

                    //get sample list then assign then get item list and assgin

                    var urlName = get_base_url("ControlValue/GetSampleListByControlId");

                    if( $scope.createModel.ID > 0){
                        var jsonData = {
	                         "controlId": $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ID
	                    };

                        Fact.loadlistData(urlName, jsonData, function(response){
                            try{
                               $scope.optControl = true;
                               $scope.listControlSample = response.data.message;

                                //reset
                               $scope.templistControlItem = {};
                               $scope.listControlItem = {};
//                               $scope.tempControlValue = "";

                               //assign sample value
                               $scope.listControlSample.forEach(function(entry) {
                                  if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_SMAPLE_ID== entry.ID){
		    	                     $scope.templistControlSample =  entry;
                                   }
			                   });


                                //load Control Item

                                //var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
                                var urlName = get_base_url("ControlValue/GetItemControlConfigValueListBySampleId");
                                var jsonData = {
	                                    "controlId": $scope.templistControlGroup.ID,
                                        "sampleId": $scope.templistControlSample.ID
	                            };

                                Fact.loadlistData(urlName, jsonData, function(response){
                                    try{
                                        $scope.listControlItem = response.data.message;
                                        console.log( $scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ITEM_ID , "data");
                                        $scope.listControlItem.forEach(function(entry) {
                                            if($scope.createControlDataModel.CONTROL_DATA.CONTROL_GROUP_ITEM_ID == entry.CONTROL_COLUMN_ID){
		    	                                $scope.templistControlItem =  entry;
                                            }
			                            });
                                    }catch(e){

                                    }
                                });


                            }catch(e){

                            }
                        });
                    }
                }
                /*********************************** CONTROL ***************************************/
            }
            if (data.DATA_TYPE == 2) {
                $scope.createControlDataModel.COLUMN_DATA.NAME = data.ROW_DATA.ITEM_NAME;
                $scope.createControlDataModel.COLUMN_DATA.UNIT_ID = data.ROW_DATA.ITEM_UNIT;
                if ($scope.createControlDataModel.COLUMN_DATA.UNIT_ID > 0) {
                    $scope.listUnit.forEach(function (entry) {
                        if ($scope.createControlDataModel.COLUMN_DATA.UNIT_ID == entry.ID) {
                            $scope.templistUnit = entry;
                        }
                    });
                }
            }
            if (data.DATA_TYPE == 2) {
                $scope.createControlDataModel.COLUMN_DATA.NAME = data.ROW_DATA.ITEM_NAME;
                $scope.createControlDataModel.COLUMN_DATA.UNIT_ID = data.ROW_DATA.ITEM_UNIT;
                if ($scope.createControlDataModel.COLUMN_DATA.UNIT_ID > 0) {
                    $scope.listUnit.forEach(function (entry) {
                        if ($scope.createControlDataModel.COLUMN_DATA.UNIT_ID == entry.ID) {
                            $scope.templistUnit = entry;
                        }
                    });
                }
            }
            $scope.createControlDataModel.COLUMN_DATA.NAME = "Flash Point (COC)";
            $scope.createControlDataModel.COLUMN_DATA.ITEM_NAME = "°C";
            $scope.listUnit.forEach(function (entry) {
                if ($scope.createControlDataModel.COLUMN_DATA.ITEM_NAME == entry.NAME) {
                    $scope.templistUnit = entry;
                }
            });
        }

        $scope.showSample = function (data, type){
            if(data == type){
                return true;
            }else{
                return false;
            }
        }

        $scope.saveQMS_MA_TEMPLATE_VALUE = function () {


            $(".control-value-modal-lg").modal('hide');
            var urlName = get_base_url("Template/CreateQMS_MA_TEMPLATE_DATA");
            var valid = true;
            var itemType = $scope.createControlDataModel.DATA_TYPE; // เป็น sample or item
            $scope.createControlDataModel.TEMPLATE_ID = $scope.createModel.ID;
            console.log($scope.createControlDataModel)

            //console.log($scope.createControlDataModel.COLUMN_DATA)

            //self validate data

            if (itemType == 1)//Sample check
            {
                if (null == $scope.createControlDataModel.ROW_DATA.EXCEL_FIELD || "" == $scope.createControlDataModel.ROW_DATA.EXCEL_FIELD ||
                    null == $scope.createControlDataModel.ROW_DATA.NAME || "" == $scope.createControlDataModel.ROW_DATA.NAME) {
                    valid = false;
                }
                $scope.createControlDataModel.ROW_DATA.ITEM_NAME = "Flash Point (COC)"
                $scope.createControlDataModel.ROW_DATA.ITEM_UNIT = $scope.templistUnit.ID;
                //$scope.createControlDataModel.ROW_DATA.EXCEL_FIELD_ITEM = $scope.createControlDataModel.COLUMN_DATA.EXCEL_FIELD;

            } else if (itemType == 2) // Item check
            {
                $scope.createControlDataModel.ROW_DATA.EXCEL_FIELD_ITEM = $scope.createControlDataModel.COLUMN_DATA.EXCEL_FIELD;
                //$scope.createControlDataModel.ROW_DATA.EXCEL_FIELD=""
                if (null == $scope.createControlDataModel.COLUMN_DATA.EXCEL_FIELD || "" == $scope.createControlDataModel.COLUMN_DATA.EXCEL_FIELD ||
                    null == $scope.createControlDataModel.COLUMN_DATA.NAME || "" == $scope.createControlDataModel.COLUMN_DATA.NAME) {
                    valid = false;
                } else {
                    $scope.createControlDataModel.ROW_DATA.ITEM_NAME = $scope.createControlDataModel.COLUMN_DATA.NAME
                    $scope.createControlDataModel.DATA_TYPE = 1;
                }
                console.log($scope.templistUnit.ID)
                if (typeof $scope.templistUnit !== "undefined" && typeof $scope.templistUnit.ID !== "undefined") {
                    $scope.createControlDataModel.COLUMN_DATA.UNIT_ID = $scope.templistUnit.ID;
                    $scope.createControlDataModel.ROW_DATA.ITEM_UNIT = $scope.templistUnit.ID;
                    $scope.createControlDataModel.DATA_TYPE = 1;
                } else {
                    valid = false;
                }

            } else if (itemType == 3) //Control check
            {

                if (null == $scope.createControlDataModel.CONTROL_DATA.EXCEL_FIELD || "" == $scope.createControlDataModel.CONTROL_DATA.EXCEL_FIELD) {
                    valid = false;
                }

                if (typeof $scope.templistSample !== "undefined") {
                    $scope.createControlDataModel.CONTROL_DATA.SAMPLE_ID = $scope.templistSample.ID;
                } else {
                    valid = false;
                }

                if (typeof $scope.templistItem !== "undefined") {
                    $scope.createControlDataModel.CONTROL_DATA.ITEM_ID = $scope.templistItem.ID;
                } else {
                    valid = false;
                }

                if (typeof $scope.templistControlItem !== "undefined") {
                    $scope.createControlDataModel.CONTROL_DATA.CONTROL_ID = $scope.templistControlItem.ID;
                } else {
                    valid = false;
                }
            }
            //self validate data


            var jsonData = $scope.createControlDataModel;
            //console.log(jsonData, valid, (null ==   $scope.createControlDataModel.ROW_DATA.EXCEL_FIELD ) , $scope.createControlDataModel.ROW_DATA.NAME);
            //console.log(valid)
            console.log(jsonData)
            if(valid){
                Fact.saveDataCallback(urlName, jsonData, function(response){
                     $scope.loadExcelData();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        ///Control Group ////
        $scope.loadControlSample = function(){

            var urlName = get_base_url("ControlValue/GetSampleListByControlId");

            if( $scope.createModel.ID > 0){
                var jsonData = {
	                 "controlId": $scope.templistControlGroup.ID
	            };

                Fact.loadlistData(urlName, jsonData, function(response){
                    try{

                       $scope.optControl = true;
                       $scope.listControlSample = response.data.message;
                       //reset
                       $scope.templistControlItem = {};
                       $scope.listControlItem = {};
                       $scope.tempControlValue = "";
                    }catch(e){

                    }
                });
            }
        }

        $scope.loadControlItem = function(){

            //var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
            var urlName = get_base_url("ControlValue/GetItemControlConfigValueListBySampleId");
            if( $scope.createModel.ID > 0){
                var jsonData = {
	                 "controlId": $scope.templistControlGroup.ID,
                     "sampleId": $scope.templistControlSample.ID
	            };

                Fact.loadlistData(urlName, jsonData, function(response){
                    try{
                       $scope.listControlItem = response.data.message;
                    }catch(e){

                    }
                });
            }
        }

        $scope.showControlItem = function(){
            if( typeof $scope.templistControlItem !== "undefined" ){
                $scope.tempControlValue = $scope.templistControlItem.CONTROL_DATA_NAME;
            }else{
               $scope.tempControlValue = "";
            }
        }


        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true; $(".showExcel").hide();}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); }
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
           if( $scope.createModel.ID > 0){
                $(".showExcel").show();
                 $scope.loadExcelData();
           }else{
                $(".showExcel").hide();
            }
            console.log($scope.createModel)
            if ($scope.createModel.ALIGNMENT) {
                $scope.createModel.ALIGNMENT = 1;
            } else {
                $scope.createModel.ALIGNMENT = 0;
            }
            if ($scope.createModel.ID == 0) {
                $scope.tempListAlignment = $scope.ListAlignment[0];
            } else {
                $scope.ListAlignment.forEach(function (entry) {
                    if ($scope.createModel.ALIGNMENT == entry.ID) {
                        $scope.tempListAlignment = entry;
                    }
                });
            }
           $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
           $scope.TempExpireDate = Fact.getDateFromDoubleEx($scope.createModel.EXPIRE_DATE);
        }

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('NAME');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listTemplate; // listdata
        $scope.AllTemplate; //checkbox

        $scope.showSearch = false;

        //Search
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listTemplate, $scope.AllTemplate) }

        $scope.sort = function(e){
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadTemplate();
        }

        $scope.clearTemplate = function() {  $scope.mSearch = getSearchModel(); $scope.tempPlantId = {}; }
        $scope.showTemplateSearch = function(){  $scope.showSearch = true; }
        $scope.closeTemplateSearch = function() { $scope.showSearch = false; }

        $scope.getTemplateSearch = function()
        {
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadTemplate();
        }


        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadTemplate(); }
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadTemplate(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadTemplate(); }
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadTemplate(); }
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadTemplate(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadTemplate(); }

        $scope.loadTemplate = function () {

            if( typeof $scope.tempPlantId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            }

            Fact.loadDataTable($scope.mSearch, function(response){
                try{
                    $scope.listTemplate = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;

                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;
			        });
                }catch(e){

                }
                $(".tblResult").show();
            });
        }

        $scope.delTemplate = function(){
            Fact.deleteMultiData($scope.listTemplate, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadTemplate(); });
        }


        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Template/GetQMS_MA_TEMPLATEBySearch"));
            Fact.setDelelteUrl(get_base_url("Template/DeleteQMS_MA_TEMPLATE"));
            Fact.setSearchModel( getSearchModel() );

            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;
			});
            /*$scope.tempListAlignment = $scope.ListAlignment[0];*/
            Fact.setSortIcon();
            $scope.loadTemplate();
        }

        $scope.init();

    });

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_TEMPLATE));
        return lstData;
    }

    function getControlDataModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_TEMPLATE_DATA));
        return lstData;
    }

    function getSearchSampleModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchSample));
        return lstData;
    }

    function getSearchItemModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchItem));
        return lstData;
    }

    function getSearchControlValueModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchControlValue));
        return lstData;
    }


     function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit));
        return lstData;
    }

    function getlistExcel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listExcel));
        return lstData;
    }

    function getlistSample(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listSample));
        return lstData;
    }

    function getlistItem(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listItem));
        return lstData;
    }

    function getListControlGroup(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listControlGroup));
        return lstData;
    }

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchTemplate));
        return lstData;
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize));
        return lstData;
    }

    function getListAlignment(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(ListAlignment));
        return lstData;
    }

</script>