﻿ <style>
/* DivTable.com */
.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}
</style>
 <div class="row showExcel" style="display:none" >
     <div class="col-md-12 col-sm-12 col-xs-12" style="overflow-x: scroll; overflow-y: scroll; height: 750px; ">
         <div class="divTable">
             <div class="divTableBody">
                 <div class="divTableRow" ng-repeat="mControlValue in listExcel">
                     <div class="divTableCell" ng-repeat="dataValue in mControlValue" style="min-width:20px;" ng-class="setClass(dataValue)" ng-click="openControlDialog(dataValue)" ng-attr-title="{{ setTooltipEx(dataValue) }} ">{{ dataValue.TD_NAME }} </div>
                 </div>
             </div>
         </div>
     </div>
</div> 
<!-- history -->
<div class="x_content" ng-show="createModel.ID">
    <div class="col-md-6 col-sm-6 col-xs-6  ">
        <div class="title_left text_left small_font_size " >
		    @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	    </div>
    </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	    <div class="title_right text_right small_font_size " >
	        @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	    </div>
    </div>
</div>
<!-- history -->
<br /><br />

<!-- Control Value modal -->
<div class="modal control-value-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ControlValue</h4>
               </div> 
               <div class="modal-body" style="overflow:unset"> 
                   <div class="form-horizontal form-label-left">
                       <div class="form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name"></label>
                           <div class="col-md-8 col-sm-8 col-xs-12"> 
                               <label ng-show="createModel.TEMPLATE_TYPE == 9 || createModel.TEMPLATE_TYPE == 12 || createModel.TEMPLATE_TYPE == 13  || createModel.TEMPLATE_TYPE == 14 || createModel.TEMPLATE_TYPE == 3">
                                   <input type="radio" value="4" ng-model="createControlDataModel.DATA_TYPE" ng-value="4" id="optionsRadios4" name="optionsRadios" class="r_check" style="margin-left:0px;"> @Resources.Strings.Area
                               </label><label>
                                   <input type="radio" value="1" ng-model="createControlDataModel.DATA_TYPE" ng-value="1" id="optionsRadios1" name="optionsRadios" class="r_check" style="margin-left:20px;"> @Resources.Strings.Sample
                               </label><label>
                                   <input type="radio" value="2" id="optionsRadios2" ng-model="createControlDataModel.DATA_TYPE" ng-value="2" name="optionsRadios" class="r_check" style="margin-left:20px;"> @Resources.Strings.Item
                               </label><label>
                                   <input type="radio" value="3" id="optionsRadios3" ng-model="createControlDataModel.DATA_TYPE" ng-value="3" name="optionsRadios" class="r_check" style="margin-left:20px;"> @Resources.Strings.ControlValue
                               </label>
                           </div>
                       </div>
                       <div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 4)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ExcelName  <span class="required">*</span></label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <input class="col-md-12 col-sm-12 col-xs-12" ng-model="createControlDataModel.ROW_DATA.EXCEL_FIELD_AREA" type="text" required>
                           </div>
                       </div>
                       <div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 4)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.AreaName  <span class="required">*</span></label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <input class="col-md-12 col-sm-12 col-xs-12" ng-model="createControlDataModel.ROW_DATA.AREA_NAME" type="text" required>
                           </div>
                       </div>
                       <div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 1)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ExcelName  <span class="required">*</span></label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <input class="col-md-12 col-sm-12 col-xs-12" ng-model="createControlDataModel.ROW_DATA.EXCEL_FIELD" type="text" required>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 1)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.SampleName <span class="required">*</span></label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <input class="col-md-12 col-sm-12 col-xs-12" ng-model="createControlDataModel.ROW_DATA.NAME" type="text" required>
                           </div>
                       </div> 
                       <div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 1)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.SamplePoint</label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <input class="col-md-12 col-sm-12 col-xs-12" ng-model="createControlDataModel.ROW_DATA.SAMPLING_POINT" type="text" required>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 1) && (createModel.TEMPLATE_TYPE == 9 || createModel.TEMPLATE_TYPE == 12  || createModel.TEMPLATE_TYPE == 13  || createModel.TEMPLATE_TYPE == 14 || createModel.TEMPLATE_TYPE == 3) ">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.AreaName  <span class="required">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-model="templistArea"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.AREA_NAME  + ' (' + item.EXCEL_FIELD_AREA + ')'   for item in listArea"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 1) && createModel.TEMPLATE_TYPE != 3 && (createModel.TEMPLATE_TYPE == 8 || createModel.TEMPLATE_TYPE == 10 || createModel.TEMPLATE_TYPE == 11 )">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.AreaName <span class="required">*</span></label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <input class="col-md-12 col-sm-12 col-xs-12" ng-model="createControlDataModel.ROW_DATA.AREA_NAME" type="text" required>
                           </div>
                       </div> 
                       <div class="form-group" ng-show="(showSample(createControlDataModel.DATA_TYPE, 2)) && createModel.TEMPLATE_TYPE != 8 && createModel.TEMPLATE_TYPE != 7&& createModel.TEMPLATE_TYPE != 10 && createModel.TEMPLATE_TYPE != 11">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ExcelName  <span class="required">*</span></label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                               <input class="col-md-6 col-sm-6 col-xs-12" ng-model="createControlDataModel.COLUMN_DATA.EXCEL_FIELD" type="text" required>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 2)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item  <span class="required">*</span></label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                               <input class="col-md-6 col-sm-6 col-xs-12" ng-model="createControlDataModel.COLUMN_DATA.NAME" type="text" required ng-readonly="createModel.TEMPLATE_TYPE == 8 || createModel.TEMPLATE_TYPE == 7 || createModel.TEMPLATE_TYPE == 10 ||createModel.TEMPLATE_TYPE == 11">
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 2)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Unit  <span class="required">*</span></label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <select ng-disabled="createModel.TEMPLATE_TYPE == 8 || createModel.TEMPLATE_TYPE == 7|| createModel.TEMPLATE_TYPE == 10 ||createModel.TEMPLATE_TYPE == 11"
                                       ng-model="templistUnit"
                                       chosen="{inherit_select_classes: true}"
                                       ng-options="item.NAME  for item in listUnit"
                                       class="chosen_required">
                                   <option value=""></option>
                               </select>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 2) && (createModel.TEMPLATE_TYPE == 9 || createModel.TEMPLATE_TYPE == 12)">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.AreaName  <span class="required">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-change="loadSampleSulfur()"
                                        ng-model="templistAreaSulfur"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.AREA_NAME  + ' (' + item.EXCEL_FIELD_AREA + ')'  for item in listArea"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 2) && (createModel.TEMPLATE_TYPE == 9 || createModel.TEMPLATE_TYPE == 12 || createModel.TEMPLATE_TYPE == 16  || createModel.TEMPLATE_TYPE == 17 )">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample  <span class="required">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-model="templistSampleSulfur"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.NAME  + ' (' + item.EXCEL_FIELD + ')'  for item in listSampleSulfur"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 2) && createModel.TEMPLATE_TYPE == 6">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample  <span class="required">*</span></label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <select ng-model="templistSampleHotOilFP"
                                       chosen="{inherit_select_classes: true}"
                                       ng-options="item.NAME  + ' (' + item.EXCEL_FIELD + ')'  for item in listSample"
                                       class="chosen_required">
                                   <option value=""></option>
                               </select>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ExcelName <span class="required">*</span></label>
                           <div class="col-md-6 col-sm-6 col-xs-12">
                               <input class="col-md-6 col-sm-6 col-xs-12" ng-model="createControlDataModel.CONTROL_DATA.EXCEL_FIELD" type="text" required>
                           </div>
                       </div><div class="form-group">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
                           <div class="col-md-6 col-sm-6 col-xs-12" ng-show="showSample(createControlDataModel.DATA_TYPE, 3)">
                               <label><input ng-model="createControlDataModel.CONTROL_DATA.SHOW_ON_TREND_FLAG" type="checkbox"> @Resources.Strings.ShowOnTrendData</label>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3) && (createModel.TEMPLATE_TYPE == 9 || createModel.TEMPLATE_TYPE == 12)">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.AreaName  <span class="required">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-change="loadSampleControlSulfur()"
                                        ng-model="templistAreaControlSulfur"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.AREA_NAME  + ' (' + item.EXCEL_FIELD_AREA + ')'  for item in listArea"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3) && (createModel.TEMPLATE_TYPE == 9 || createModel.TEMPLATE_TYPE == 12)">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample  <span class="required">*</span></label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select ng-model="templistSampleControlSulfur"
                                        chosen="{inherit_select_classes: true}"
                                        ng-options="item.NAME  + ' (' + item.EXCEL_FIELD + ')'  for item in listSampleControlSulfur"
                                        class="chosen_required">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3) && createModel.TEMPLATE_TYPE != 9 && createModel.TEMPLATE_TYPE != 12">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <select ng-model="templistSample"
                                       chosen="{inherit_select_classes: true}"
                                       ng-options="item.NAME  for item in listSample"
                                       class="chosen_required">
                                   <option value=""></option>
                               </select>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <select ng-model="templistItem"
                                       chosen="{inherit_select_classes: true}"
                                       ng-options="item.NAME + ' (' + item.UNIT_NAME + ')'  for item in listItem"
                                       class="chosen_required">
                                   <option value=""></option>
                               </select>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue</label>
                           <div class="col-md-3 col-sm-3 col-xs-12">
                               <select ng-model="templistControlGroup"
                                       chosen="{inherit_select_classes: true}"
                                       ng-change="loadControlSample()"
                                       ng-options="item.NAME  for item in listControlGroup"
                                       class="chosen_required">
                                   <option value=""></option>
                               </select>
                           </div>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                           <div class="col-md-3 col-sm-3 col-xs-12" ng-show="optControl">
                               <select ng-model="templistControlSample"
                                       chosen="{inherit_select_classes: true}"
                                       ng-change="loadControlItem()"
                                       ng-options="item.SAMPLE  for item in listControlSample"
                                       class="chosen_required">
                                   <option value=""></option>
                               </select>
                           </div>
                           <label class="control-label col-md-3 col-sm-3  col-xs-12" ng-show="!optControl">
                               {{tempSampleValue}}
                           </label>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                           <div class="col-md-3 col-sm-3 col-xs-12" ng-show="optControl">
                               <select ng-model="templistControlItem"
                                       chosen="{inherit_select_classes: true}"
                                       ng-change="showControlItem()"
                                       ng-options="item.CONTROL_COLUMN_NAME + ' (' + item.UNIT_NAME + ')'   for item in listControlItem"
                                       class="chosen_required">
                                   <option value=""></option>
                               </select>
                           </div>
                           <label class="control-label col-md-3 col-sm-3  col-xs-12" ng-show="!optControl">
                               {{tempItemValue}}
                           </label>
                       </div><div class="form-group" ng-show="showSample(createControlDataModel.DATA_TYPE, 3)">
                           <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ControlValue</label>
                           <label class="control-label col-md-3 col-sm-3  col-xs-12">
                               {{tempControlValue}}
                           </label>
                       </div>
                   </div>         
               </div> 
               <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary" ng-hide="showSample(createControlDataModel.DATA_TYPE, 2) && (createModel.TEMPLATE_TYPE == 8 || createModel.TEMPLATE_TYPE == 7|| createModel.TEMPLATE_TYPE == 10 ||createModel.TEMPLATE_TYPE == 11)" my-confirm-click="delExcelData(createControlDataModel)"  data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button> 
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3"> 
                            <button type="button" class="btn btn-primary" ng-hide="showSample(createControlDataModel.DATA_TYPE, 2) && (createModel.TEMPLATE_TYPE == 8 || createModel.TEMPLATE_TYPE == 7|| createModel.TEMPLATE_TYPE == 10 ||createModel.TEMPLATE_TYPE == 11)" ng-click="saveQMS_MA_TEMPLATE_VALUE()" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                        </div>
                    </div>
               </div>
               <div class="form-group"  ng-show="createControlDataModel.CONTROL_DATA.ID > 0">
                    <div class="col-md-6 col-sm-6 col-xs-6  ">
                        <div class="title_left text_left small_font_size " >
		                    @Resources.Strings.CreateBy {{createControlDataModel.CONTROL_DATA.CREATE_USER}} ( {{createControlDataModel.CONTROL_DATA.SHOW_CREATE_DATE }} )
	                    </div>
                    </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                    <div class="title_right text_right small_font_size ">
	                        @Resources.Strings.UpdateBy {{createControlDataModel.CONTROL_DATA.UPDATE_USER}} ( {{createControlDataModel.CONTROL_DATA.SHOW_UPDATE_DATE }} )
	                    </div>
                    </div>
                </div>
                <br /> 
          </div>
     </div>
</div>
<!-- end Control Value modal -->
 