﻿@{
    var searchPersonalInfo = ViewBag.searchPersonalInfo as QMSSystem.Model.PersonalInfoSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
 
}

<div ng-app="myApp" ng-controller="myCtrl">
     <div class=""> 
            <div class="page-title">
                 <div class="title_left">
                      <h3>@Resources.Strings.AddressBook  @ViewBag.ActionName</h3>
                      <div class="clearfix"></div>
                 </div>
            </div>

            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 

            <div class="row">

                 <div class="col-md-12 col-sm-12 col-xs-12">

                      <div class="x_panel">
                       

                           <div class="x_content">
                              <div class="form-horizontal form-label-left"  > 
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.UnitName </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" maxlength="50" ng-model="mSearch.UNIT_NAME" >
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.NameSurname </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" maxlength="50" ng-model="mSearch.NAME_SURNAME" >
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.EmployeeID </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" maxlength="50" ng-model="mSearch.EMPLOY_ID" >
                                    </div>
                                </div><div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Position </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" class="form-control" maxlength="50" ng-model="mSearch.POSTITION" >
                                    </div>
                                </div>
                                 
                               <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                         <button type="button" class="btn btn-primary" ng-click="loadPersonalInfo()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                         <button type="button" class="btn btn-primary" ng-click="clearPersonalInfo()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                         <a href="~/Email/ListMasterManageEmail">
                                            <span class="btn btn-primary" ><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                         </a> 
                                    </div>
                               </div>
                            </div>  
                               <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
                                         <div class="row" style="text-align:left;">
                                             <button type="button" class="btn btn-primary" ng-click="ConfirmSelected()"   ><i class="fa fa-save"></i>@Resources.Strings.ConfirmSelect</button> 
                                         </div> 
                                         <table class="table table-bordered  tblResult " style="display:none;" >
                                                <thead style="width:100%;">
                                                       <tr>
                                                          <th > <input type="checkbox" ng-model="AllPersonalInfo" ng-change="SelectAllCheck()" ></th>
                                                          <th>@Resources.Strings.EmployeeID</th>
                                                          <th>@Resources.Strings.NameSurname</th>
                                                          <th>@Resources.Strings.Position</th>
                                                          <th>@Resources.Strings.UnitName</th>
                                                          <th>@Resources.Strings.Email</th> 
                                                       </tr>
                                                </thead>
                                                <tbody >
                                                     <tr ng-repeat="mPersonInfo in listPersonalInfo" >
                                                        <td><input type="checkbox" ng-model="mPersonInfo.ITEM_SELECTED" /></td>
                                                        <td>{{mPersonInfo.PERSON_CODE}}</td>
                                                        <td>{{mPersonInfo.FULLNAMETH}}</td>
                                                        <td>{{mPersonInfo.POSNAME}}</td>
                                                        <td>{{mPersonInfo.UNITNAME}}</td>
                                                        <td>{{mPersonInfo.EMAIL}}</td>
                                                    </tr>
                                                </tbody>
                                         </table>
                                    </div>
                               </div>


                            <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->

                          </div> 
                          <div class="x_content">
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
                                   <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                               </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
	                               <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                               </div>
                              </div>
                         </div>
                     </div> 
                </div> 
           </div> 
     </div>  
</div>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
       
        $scope.TempPageSize;
        $scope.PageSize =  Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('PERSON_CODE');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;

        $scope.mSearch = getSearchModel();

        $scope.listPersonalInfo; // listdata
         
        $scope.saveData = function () {   
             
        }

         //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listPersonalInfo, $scope.AllPersonalInfo) }
        //$scope.editData = function(mData){ Fact.editData( get_base_url("ControlValue/CreateMasterControlGAS") + "?id=" + mData.ID ); }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.listPersonalInfo();
        }

        $scope.clearPersonalInfo = function() {  $scope.mSearch = getSearchModel(); }
         
//        $scope.showControlGASSearch = function(){  $scope.showSearch = true; }
//        $scope.closePersonalInfo= function() { $scope.showSearch = false; }

//        $scope.getControlGASSearch = function()
//        { 
//            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
//            $scope.listPersonalInfo();
//        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadPersonalInfo(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadPersonalInfo(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadPersonalInfo(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadPersonalInfo(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadPersonalInfo(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadPersonalInfo(); }
 
        $scope.loadPersonalInfo = function () {              
           
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listPersonalInfo = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        }

        $scope.ConfirmSelected = function(){

            var listEmail = [];
	        var isValid = false;

	        $scope.listPersonalInfo.forEach(function (entry, index) {
	             if (true == entry.ITEM_SELECTED) { 
                     var jsonData = {
	                     "ID": "0",
                         "GROUP_TYPE": "2",
                         "EMPLOYEE_ID": entry.PERSON_CODE,
                         "NAME":  entry.FULLNAMETH,
                         "POSITION": entry.POSNAME,
                         "EMAIL": entry.EMAIL,
                         "UNIT_NAME":  entry.UNITNAME,
                         "DEPARTMENT": entry.UNITCODE
	                 }; 
                     listEmail.push(jsonData);                      
	                 isValid = true;
	             }
	        });
            if (isValid) { 
                var urlName = get_base_url("Email/CreateListMasterEmail");            
                Fact.saveDataCallback(urlName, listEmail,  function(response){  Fact.showMessage(response.data.message) });
            }else{
                Fact.showError("@Resources.Strings.PleaseSelectDelData");
            }
        }

        $scope.init = function () { 
           
           Fact.setDataTableUrl(get_base_url("Email/GetPersonInfoBySearch"));           
           Fact.setSearchModel( getSearchModel() );
           
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});
           
           $scope.loadPersonalInfo();
        }
        
        $scope.init();

    }); 

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchPersonalInfo)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

</script>