﻿@{
    var searchQMS_MA_EMAIL = ViewBag.searchQMS_MA_EMAIL as QMSSystem.Model.QMS_MA_EMAILSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
     
}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class="">

           <div class="page-title">
             
                <div class="title_left">
                     <h3>@Resources.Strings.EmailList ( @Resources.Strings.ManagementEmailGroup )</h3>
                     <div class="clearfix"></div>

                </div>

           </div>

           <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
         
           <div class="row">

                <div class="col-md-12 col-sm-12 col-xs-12">

                     <div class="x_panel">

                          <div class="x_title"> 
                               <a href="~/Email/ListMasterEmail"><span class="btn btn-primary" ><i class="fa fa-user"></i> @Resources.Strings.AdministratorEmailGroup</span></a>
                               <span class="btn btn-info" ><i class="fa fa-user"></i> @Resources.Strings.ManagementEmailGroup</span>
                               <div class="clearfix"></div>
                          </div>
                          <div class="x_title">  
                               <span ng-click="showEmailSearch()" class="btn btn-primary " ><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                <a href="~/Email/CreateMasterManageEmail"><span  class="btn btn-primary " ><i class="fa fa-plus"></i> @Resources.Strings.Add</span></a>
                                <span class="btn btn-primary "  my-confirm-click="delEmail()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 

                                 <div class="form-horizontal form-label-left" ng-show="showSearch"  > 
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.UnitName </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" ng-model="mSearch.UNIT_NAME" >
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.NameSurname </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" ng-model="mSearch.NAME" >
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.EmployeeID </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" ng-model="mSearch.EMPLOYEE_ID" >
                                        </div>
                                    </div><div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Position </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" class="form-control" maxlength="50" ng-model="mSearch.POSITION" >
                                        </div>
                                    </div>
                                 
                                   <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                             <button type="button" class="btn btn-primary" ng-click="loadEmail()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                             <button type="button" class="btn btn-primary" ng-click="clearEmail()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                             <button type="button" class="btn btn-primary"  ng-click="closeEmailSearch()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                        </div>
                                   </div>
                                </div>  

                               <table class="table table-bordered" style="width:100%;">
                                      <thead style="width:100%;">
                                             <tr>
                                                <th > <input type="checkbox" ng-model="AllEmail" ng-change="SelectAllCheck()" ></th>
                                                <th>@Resources.Strings.EmployeeID</th>
                                                <th>@Resources.Strings.NameSurname</th>
                                                <th>@Resources.Strings.Position</th>
                                                <th>@Resources.Strings.UnitName</th>
                                                <th>@Resources.Strings.Email</th> 
                                            </tr>
                                      </thead> 
                                      <tbody style="width:100%;">
                                             <tr ng-repeat="mEmail in listEmail" >
                                                 <td><input type="checkbox" ng-model="mEmail.ITEM_SELECTED" /></td>
                                                 <td>{{mEmail.EMPLOYEE_ID}}</td>   
                                                 <td>{{mEmail.NAME}}</td>                                               
                                                 <td>{{mEmail.POSITION }}</td>
                                                 <td>{{mEmail.UNIT_NAME }}</td>
                                                 <td>{{mEmail.EMAIL}}</td> 
                                             </tr>
                                    </tbody>
                               </table>
                          </div>
               
                         
                          <!-- ทำหน้า -->
                          <div class="row tblResult " style="display:none;" >
                               <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <select
				                                ng-model="TempPageSize"
				                                chosen 
                                                ng-change="loadByPageSize()" 
				                                ng-options="item.Text  for item in listPageSize"
				                                class="col-md-12 col-sm-12 col-xs-12"
				                                name="lst_pagesize" id="lst_pagesize">
				                                <option value=""></option>
			                             </select> 
                                    </div>
                               </div>
                               <div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                                ng-model="TempPageIndex"
				                                chosen 
                                                ng-change="searchByPage()" 
				                                ng-options="item.PageIndex  for item in listPageIndex"  
				                                >
			                             </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                         <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                    </div>
                          </div>
                          <!-- ทำหน้า -->
                            
                     </div>

                </div>

           </div>


     </div>
</div>

<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
         
        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);;
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('EMPLOYEE_ID');
        $scope.SortOrder = Fact.setSortOrder('desc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listEmail; // listdata
        $scope.AllAbnormal; //checkbox


        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }


        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listEmail, $scope.AllEmail) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("Abnormal/CreateManageAbnormal") + "?id=" + mData.ID ); }
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadEmail();
        }

        $scope.clearEmail = function() {  
            $scope.mSearch = getSearchModel();
            $scope.loadEmail();
        }
         
        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showEmailSearch = function(){  $scope.showSearch = true;  }
        $scope.closeEmailSearch = function() { $scope.showSearch = false; }
        $scope.getAbnormalSearch = function()
        {
            
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadEmail();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadEmail(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadEmail(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadEmail(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadEmail(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadEmail(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadEmail(); }

        $scope.loadEmail = function () { 
            if(typeof $scope.tempPlantId !== "undefined")
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            if(typeof $scope.tempProductId !== "undefined")
                $scope.mSearch.PRODUCT_ID = $scope.tempProductId.ID;
            if(typeof $scope.tempDocStatusId !== "undefined")
                $scope.mSearch.DOC_STATUS = $scope.tempDocStatusId.Value;
           
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listEmail = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delEmail = function(){
            Fact.deleteMultiData($scope.listEmail, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadEmail(); });
        }

        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("Email/GetQMS_MA_EMAIL"));
            Fact.setDelelteUrl(get_base_url("Email/DeleteQMS_MA_EMAIL"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadEmail();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchQMS_MA_EMAIL)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }
     
</script>