﻿@{
    var searchReduceFeedDetail = ViewBag.searchReduceFeedDetail as QMSSystem.Model.ReduceFeedDetailSearchModel;
    var createQMS_MA_REDUCE_FEED = ViewBag.createQMS_MA_REDUCE_FEED as QMSSystem.Model.CreateQMS_MA_REDUCE_FEED;
    var createQMS_MA_REDUCE_FEED_DETAIL = ViewBag.createQMS_MA_REDUCE_FEED_DETAIL as QMSSystem.Model.CreateQMS_MA_REDUCE_FEED_DETAIL;

    
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;
    var listReduceFeedDetail = ViewBag.listReduceFeedDetail as List<QMSSystem.Model.ViewQMS_MA_REDUCE_FEED_DETAIL>; 
     
}
<div ng-app="myApp" ng-controller="myCtrl">
      <div class=""> 
           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.ReduceFeed  @ViewBag.ActionName</h3>
                     <div class="clearfix"></div> 
                </div>
           </div> 
           <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
          
           <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                          <div class="x_title">
                              <div class="row text_align_right" >
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <a href="~/ReduceFeed/ListMasterReduceFeed"">
                                      <span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                   </a> 
                              </div>
                              <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 
                               <div  class="form-horizontal form-label-left" >
                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Plant <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <select
					                                  ng-model="tempPlantId"
					                                  chosen="{inherit_select_classes: true}" 
					                                  ng-options="item.NAME  for item in listPlant" 
                                                      class="chosen_required">
					                                  <option value=""></option>
				                               </select> 
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExcelName <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.EXCEL_NAME"  class="form-control col-md-7 col-xs-12" required>
                                          </div>
                                     </div> 

                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Value <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.LIMIT_VALUE"  class="form-control col-md-7 col-xs-12" number-only-input required>
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Unit <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <select
					                                   ng-model="tempUnitId"
					                                   chosen="{inherit_select_classes: true}" 
					                                   ng-options="item.NAME  for item in listUnit" 
                                                       class="chosen_required">
					                                   <option value=""></option>
				                               </select> 
                                          </div>
                                     </div>

                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExaTag <span class="required">*</span></label>
                                          <div class="col-md-10 col-sm-10 col-xs-12">
                                              <input type="text" name="createModel.EXA_TAG_NAME" ng-model="createModel.EXA_TAG_NAME" class="form-control" required > 
                                          </div> 
                                     </div> 


                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ConvertValue <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" name="createModel.CONVERT_VALUE"  ng-model="createModel.CONVERT_VALUE" class="form-control" number-only-input required >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ActiveDate <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" class="form-control"  ng-model="TempActiveDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required>                                        
                                          </div>
                                     </div>
                                       
                                     <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea ng-model="createModel.REDUCE_FEED_DESC" rows="3" class="form-control" maxlength="150" name="message" >
                                            </textarea>
                                        </div>
                                     </div>
                                </div>  

                               <div class="row showContent" style="display:none;">
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                         <div class="x_title">    
                                              <span class="btn btn-primary re-pos-btn"  my-confirm-click="delQMS_MA_REDUCE_FEED_DETAIL()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                                 
                                              <div class="clearfix"></div>
                                         </div>

                                         <table class="table table-bordered" ng-form="myEditQMS_MA_REDUCE_FEED_DETAIL">
                                                <thead>
                                                       <tr>
                                                            <th class="col-md-1 col-sm-1 col-xs-1">
                                                                <input type="checkbox" ng-model="AllReduceFeedDetailSelected" ng-change="SelectAllCheckReduceFeedDetail()" >  
                                                            </th>
                                                            <th>@Resources.Strings.ExaTag</th> 
                                                            <th>@Resources.Strings.ConvertValue</th>
                                                            <th>@Resources.Strings.Tools</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                        <tr ng-form="myQMS_MA_REDUCE_FEED_DETAIL" ng-show="ShowReduceFeedDetail">
                                                            <td><input type="checkbox" ng-model="mReduceFeedDetailData.ITEM_SELECTED" /></td>
                                                            <td>
                                                                <input type="text" name="QMS_MA_REDUCE_FEED_DETAIL_TAG" ng-model="createReduceFeedDetailModel.EXA_TAG_NAME" class="form-control" required >
                                                            </td>
                                                            <td>
                                                                <input type="text" name="QMS_MA_REDUCE_FEED_DETAIL_VALUE"  ng-model="createReduceFeedDetailModel.CONVERT_VALUE" class="form-control" number-only-input required >
                                                            </td>
                                                            <td>
                                                                <span  ng-click="saveQMS_MA_REDUCE_FEED_DETAIL()" ><i class="fa fa-save"></i> </span>                                           
                                                            </td>
                                                        </tr>
                                                        <tr  ng-repeat="mReduceFeedDetailData in listReduceFeedDetail" ng-include="getReduceFeedDetailTemplate(mReduceFeedDetailData)"></tr>
                                                </tbody>
                                                                                          
                                         </table>
                
                                    </div>                         
                        
                               </div> 
                          </div>

                             <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->
                     </div>
                </div>
           </div> 
      </div>
      <!-- Template ReduceFeedDetail -->
        <script type="text/ng-template" id="displayReduceFeedDetail">
                <td><input type="checkbox" ng-model="mReduceFeedDetailData.ITEM_SELECTED" /></td>
                <td>{{ mReduceFeedDetailData.EXA_TAG_NAME }}</td>
                <td>{{ mReduceFeedDetailData.CONVERT_VALUE }}</td>
                <td >
                    <span ng-click="editReduceFeedDetail(mReduceFeedDetailData)" ><i class="fa fa-edit set-pointer"></i></span>
                </td>
        </script>
        <script type="text/ng-template" id="editReduceFeedDetail">
            <td><input type="checkbox" ng-model="mReduceFeedDetailData.ITEM_SELECTED" /></td> 
            <td>
                <input class="form-control" type="text" name="QMS_MA_REDUCE_FEED_DETAIL_TAG" ng-model="mReduceFeedDetailData.EXA_TAG_NAME" required />                                                        
            </td>
            <td>
                <input class="form-control"  type="text" name="QMS_MA_REDUCE_FEED_DETAIL_VALUE" ng-model="mReduceFeedDetailData.CONVERT_VALUE" required number-only-input/>                                                        
            </td>
            <td>
                <span ng-click="saveEditQMS_MA_REDUCE_FEED_DETAIL(mReduceFeedDetailData)" ><i class="fa fa-save set-pointer"></i></span>
                <span ng-click="resetReduceFeedDetail()" ><i class="fa fa-undo set-pointer"></i></span>
            </td>
             
        </script>
       <!-- Template ReduceFeedDetail -->     


</div>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        $scope.searchReduceFeedDetailModel = getSearchReduceFeedDetailModel();

        $scope.createModel = getCreateModel();
        $scope.createReduceFeedDetailModel = getReduceFeedDetailModel();

        $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);

        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempUnitId;
        $scope.listUnit = getListUnit();

        $scope.listReduceFeedDetailSelect = {};
        $scope.listReduceFeedDetail = getListReduceFeedDetail();

//        $scope.tempReduceFeed_DESC;

         $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
         
        $scope.saveData = function () {   
            var urlName = get_base_url("ReduceFeed/CreateQMS_MA_REDUCE_FEED");            
            var valid = true;

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempUnitId !== "undefined"  && typeof $scope.tempUnitId.ID !== "undefined" ){
                $scope.createModel.UNIT_ID = $scope.tempUnitId.ID;
            }else{
                valid = false;
            }          
            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE = $scope.TempActiveDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.createModel.LIMIT_VALUE !== "undefined"  
                && $scope.createModel.LIMIT_VALUE !== null 
               // && $scope.createModel.LIMIT_VALUE > 0 
            ){
                
            }else{
                valid = false;
            }  
 
           if( $scope.createModel.EXCEL_NAME == null 
                || $scope.createModel.EXCEL_NAME == ""
                || $scope.createModel.EXCEL_NAME  == "undefined"
                || $scope.createModel.EXA_TAG_NAME == null 
                || $scope.createModel.EXA_TAG_NAME == ""
                || $scope.createModel.EXA_TAG_NAME  == "undefined"
                || $scope.createModel.CONVERT_VALUE == null ){
                //|| $scope.createModel.CONVERT_VALUE <= 0 ){
                          valid = false;   
            } 
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message); 
                     $scope.createModel =  response.data.model;
                     if($scope.createModel.ID == 0){
                         $scope.createModel.ID = response.data.dataId;
                         $scope.createModel.REDUCE_FEED_DETAIL_ID = response.data.detailId;
                     }
                     //$scope.createModel.ID = response.data.dataId;    
                    // $(".showContent").show();  
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }       
                        
 
       }  

       



        //#region QMS_MA_REDUCE_FEED_DETAIL 
         
        $scope.saveQMS_MA_REDUCE_FEED_DETAIL = function () {
            //myQMS_MA_REDUCE_FEED_DETAIL 
            
            $scope.createReduceFeedDetailModel.REDUCE_FEED_ID = $scope.createModel.ID;
            var urlName = get_base_url("ReduceFeed/CreateQMS_MA_REDUCE_FEED_DETAIL");
            var valid = true;

            if( typeof $scope.createReduceFeedDetailModel.EXA_TAG_NAME !== "undefined" 
                && $scope.createReduceFeedDetailModel.EXA_TAG_NAME !== null 
                && typeof $scope.createReduceFeedDetailModel.CONVERT_VALUE !== "undefined"  
                && $scope.createReduceFeedDetailModel.CONVERT_VALUE !== null 
                && $scope.createReduceFeedDetailModel.CONVERT_VALUE > 0 
            ){
                
            }else{
                valid = false;
            }  

            if(true == valid){ 
                var jsonData = $scope.createReduceFeedDetailModel; 
                Fact.saveDataCallback(urlName, jsonData, function(response){
                    $scope.createReduceFeedDetailModel = getReduceFeedDetailModel();
                    $scope.loadReduceFeedDetail();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 


        }

        $scope.saveEditQMS_MA_REDUCE_FEED_DETAIL = function (jsonData) { 
            
            var urlName = get_base_url("ReduceFeed/CreateQMS_MA_REDUCE_FEED_DETAIL");
            var valid = true;
 
            if( jsonData.EXA_TAG_NAME !== null 
                && jsonData.EXA_TAG_NAME !== ""
                && jsonData.CONVERT_VALUE !== null 
                && jsonData.CONVERT_VALUE > 0 ){
                            
            }else{
                valid = false;
            } 

            if(true == valid){
                $scope.listReduceFeedDetailSelect = {};
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                     $scope.ShowReduceFeedDetail = true;                 
                     $scope.loadReduceFeedDetail();
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }           
        } 

        $scope.delQMS_MA_REDUCE_FEED_DETAIL = function(){
            var urlName = get_base_url("ReduceFeed/DeleteQMS_MA_REDUCE_FEED_DETAIL");
            Fact.deleteMultiDataEx(urlName, $scope.listReduceFeedDetail, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadReduceFeedDetail(); });
        }

        $scope.getReduceFeedDetailTemplate = function (mReduceFeedDetailData) { 
            //console.log("get rd detail : " , mReduceFeedDetailData , mReduceFeedDetailData.ID);
            if (mReduceFeedDetailData.ID === $scope.listReduceFeedDetailSelect.ID) 
            {
                return 'editReduceFeedDetail';
            }else{
                return 'displayReduceFeedDetail';
            }
        };

        $scope.editReduceFeedDetail = function (mReduceFeedDetailData) {
            $scope.ShowReduceFeedDetail = false;
            $scope.listReduceFeedDetailSelect = angular.copy(mReduceFeedDetailData); 
        };

        $scope.resetReduceFeedDetail = function () { 
            $scope.ShowReduceFeedDetail = true;
            $scope.listReduceFeedDetail.forEach(function(entry) { 
		    	if($scope.listReduceFeedDetailSelect.ID == entry.ID){ 
		    		entry.EXA_TAG_NAME = $scope.listReduceFeedDetailSelect.EXA_TAG_NAME;
                    entry.CONVERT_VALUE = $scope.listReduceFeedDetailSelect.CONVERT_VALUE;
		    	} 
			});
            $scope.listReduceFeedDetailSelect = {};
        };

        $scope.loadReduceFeedDetail = function () {
            var urlName = get_base_url("ReduceFeed/GetQMS_MA_REDUCE_FEED_DETAILBySearch");
            console.log("loadReduceFeedDetail", $scope.createModel.ID );
            if( $scope.createModel.ID > 0){ 
                $scope.searchReduceFeedDetailModel.REDUCE_FEED_ID = $scope.createModel.ID;
                var jsonData = {
	                 "PageIndex": 1,
	                 "PageSize": 1000,
	                 "SortColumn": "EXA_TAG_NAME",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchReduceFeedDetailModel
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listReduceFeedDetail = response.data.message; 
                    }catch(e){
                    
                    }
                });
            }
        }
        
        
         $scope.init = function () { 
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempPlantId =  entry; 
		    		return false;
		    	} 
			});
            $scope.listUnit.forEach(function(entry) {
		    	if($scope.createModel.UNIT_ID  == entry.ID){  
		    		$scope.tempUnitId =  entry; 
		    		return false;
		    	} 
			});

//            if( $scope.createModel.ID > 0){ 
//                $(".showContent").show();
//            }

            $scope.ShowReduceFeedDetail = true;

            $scope.loadReduceFeedDetail();

        }
        
        $scope.init(); 

    }); 

    


    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_REDUCE_FEED)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit)); 
        return lstData; 
    }

    function getReduceFeedDetailModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_REDUCE_FEED_DETAIL)); 
        return lstData;
    }

    function getListReduceFeedDetail(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listReduceFeedDetail)); 
        return lstData; 
    }

    function getSearchReduceFeedDetailModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchReduceFeedDetail)); 
        return lstData; 
    }

</script>







@*<tbody  >
        <tr>
            <td></td>
            <td class="text_left">
                <select class="form-control optsearch">
                        <option>PTTGSP.GSP1.GC ONLINE.700-QR-005 ETHANE.NORMALIZE.700QR-5CH4.PV</option>
                        <option>PTTGSP.GSP1.GC ONLINE.700-QR-005 ETHANE.NORMALIZE.700QR-5CH6.PVPTTGSP.GSP1.GC ONLINE.700-QR-005 ETHANE.NORMALIZE.700QR-5CH6.P</option> 
                </select>
            </td>
            <td><input type="text" class="form-control"  ></td>
            <td><span class="btn btn-primary" ><i class="fa fa-plus"></i> Add</span></td>
        </tr>
        <tr >
            <td><input type="checkbox"></td>
            <td>PTTGSP.GSP1.GC ONLINE.700-QR-005 ETHANE.NORMALIZE.700QR-5CH4.PV</td>
            <td>0.82</td>
            <td><a href="#"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
        <tr >
            <td><input type="checkbox"></td>
            <td>PTTGSP.GSP1.GC ONLINE.700-QR-005 ETHANE.NORMALIZE.700QR-5CH6.PVPTTGSP.GSP1.GC ONLINE.700-QR-005 ETHANE.NORMALIZE.700QR-5CH6.P</td>
            <td>0.5</td>
            <td><a href="#"><i class="fa fa-edit"></i></a>
            </td>
        </tr>
</tbody>*@