﻿@{
    var searchReduceFeed = ViewBag.searchReduceFeed as QMSSystem.Model.ReduceFeedSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;
    var createQMS_MA_REDUCE_FEED = ViewBag.createQMS_MA_REDUCE_FEED as QMSSystem.Model.CreateQMS_MA_REDUCE_FEED;
    var createQMS_MA_REDUCE_FEED_DETAIL = ViewBag.createQMS_MA_REDUCE_FEED_DETAIL as QMSSystem.Model.CreateQMS_MA_REDUCE_FEED_DETAIL;
    var searchReduceFeedDetail = ViewBag.searchReduceFeedDetail as QMSSystem.Model.ReduceFeedDetailSearchModel;

}
<div  ng-app="myApp" ng-controller="myCtrl"> 
      <div class=""> 
           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.ReduceFeed</h3>
                     <div class="clearfix"></div> 
                </div>
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>  
           <div class="row" ng-show="showList"> 
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                     <div class="x_panel"> 
                          <div class="x_title"> 
                                <span ng-click="showReduceFeedSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                                <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                                <span class="btn btn-primary "  my-confirm-click="delReduceFeed()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                <div class="clearfix"></div>
                          </div> 
                           
                          <div class="x_content tblResult " style="display:none;" >
                                <div class="form-horizontal form-label-left" ng-show="showSearch">

                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <select
					                            ng-model="tempPlantId"
					                            chosen  
					                            ng-options="item.NAME  for item in listPlant" >
					                            <option value=""></option>
				                         </select> 
                                    </div>
                               </div>                     
                               <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Value </span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.LIMIT_VALUE"  class="form-control">
                                   </div>
                              </div>
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.ExaTag </span>
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input type="text" ng-model="mSearch.EXA_TAG_NAME"  class="form-control col-md-7 col-xs-12">
                                   </div>
                              </div>
                               <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Description </span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                         <input type="text" ng-model="mSearch.REDUCE_FEED_DESC"  class="form-control col-md-7 col-xs-12">
                                    </div>
                               </div> 
                               <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="button" class="btn btn-primary" ng-click="loadReduceFeed()"   ><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                                        <button type="button" class="btn btn-primary" ng-click="clearReduceFeed()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                                        <button type="button" class="btn btn-primary"  ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                           </div>
                               <table class="table table-bordered" >
                                      <thead>                                            
                                             <tr>
                                                  <th >
                                                      <input type="checkbox" ng-model="AllReduceFeed" ng-change="SelectAllCheck()" >
                                                  </th>
                                                  <th class="sorting_desc custom_textbox_100" ng-click="sort($event)" sort="PLANT_ID">Plant</th>
                                                  <th class="sorting custom_textbox_50" ng-click="sort($event)" sort="LIMIT_VALUE">Value</th>
                                                  <th class="sorting custom_textbox_200" ng-click="sort($event)" sort="EXA_TAG_NAME">ExaTag</th>
                                                  <th class="sorting custom_textbox_100" ng-click="sort($event)" sort="ACTIVE_DATE">ActiveDate</th>
                                                  <th class="sortingcustom_textbox_150" ng-click="sort($event)" sort="REDUCE_FEED_DESC">Description</th>
                                                  <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th> 
                                             </tr>
                                      </thead>
                                      <tbody>
                                              <tr ng-repeat="mReduceFeed in listReduceFeed" >
                                                  <td><input type="checkbox" ng-model="mReduceFeed.ITEM_SELECTED" /></td>
                                                  <td>{{mReduceFeed.PLANT_NAME}}</td>
                                                  <td>{{mReduceFeed.LIMIT_VALUE}}</td>
                                                  <td>{{mReduceFeed.EXA_TAG_NAME}}</td>
                                                  <td>{{mReduceFeed.ACTIVE_DATE|showdatetimeformat }}</td>
                                                  <td>{{mReduceFeed.REDUCE_FEED_DESC}}</td>
                                                  <td><i class="fa fa-edit set-pointer"  ng-click="editData(mReduceFeed)"></i></td>
                                              </tr> 
                                      </tbody>                                      
                              </table>
                          </div>
                          <!-- ทำหน้า -->
                           <div class="row tblResult " style="display:none;" >
                                  <div class="col-md-7 col-sm-7 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                       @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                        @Resources.Strings.ResultsPerPage
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <select
				                            ng-model="TempPageSize"
				                            chosen 
                                            ng-change="loadByPageSize()" 
				                            ng-options="item.Text  for item in listPageSize"
				                            class="col-md-12 col-sm-12 col-xs-12"
				                            name="lst_pagesize" id="lst_pagesize">
				                            <option value=""></option>
			                            </select> 
                                    </div>
                                  </div><div class="col-md-5 col-sm-5 col-xs-6">
                                    <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                                         <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left" ></i>@Resources.Strings.Previous</span></label>
                                    </div>
                                    <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;" >
                                         <select
				                            ng-model="TempPageIndex"
				                            chosen 
                                            ng-change="searchByPage()" 
				                            ng-options="item.PageIndex  for item in listPageIndex"  
				                            >
			                            </select>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer" >@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer" ></i></span></label>
                                    </div>
                                  </div>
                              </div>
                            <!-- ทำหน้า -->
                     </div> 
                </div> 
           </div>  
            <div class="row"  ng-show="showDevice"  >
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                          <div class="x_title">
                              <div class="row text_align_right" >
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                  <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                              </div>
                              <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 
                               <div  class="form-horizontal form-label-left" >
                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Plant <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <select
					                                  ng-model="CreatetempPlantId"
					                                  chosen="{inherit_select_classes: true}" 
					                                  ng-options="item.NAME  for item in listPlant" 
                                                      class="chosen_required">
					                                  <option value=""></option>
				                               </select> 
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExcelName <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.EXCEL_NAME"  class="form-control col-md-7 col-xs-12" required>
                                          </div>
                                     </div> 

                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Value <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.LIMIT_VALUE"  class="form-control col-md-7 col-xs-12" number-only-input required>
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Unit <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <select
					                                   ng-model="CreatetempUnitId"
					                                   chosen="{inherit_select_classes: true}" 
					                                   ng-options="item.NAME  for item in listUnit" 
                                                       class="chosen_required">
					                                   <option value=""></option>
				                               </select> 
                                          </div>
                                     </div>

                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExaTag <span class="required">*</span></label>
                                          <div class="col-md-10 col-sm-10 col-xs-12">
                                              <input type="text" name="createModel.EXA_TAG_NAME" ng-model="createModel.EXA_TAG_NAME" class="form-control" required > 
                                          </div> 
                                     </div> 


                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ConvertValue <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" name="createModel.CONVERT_VALUE"  ng-model="createModel.CONVERT_VALUE" class="form-control" number-only-input required >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ActiveDate <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" class="form-control"  ng-model="CreateTempActiveDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required>                                        
                                          </div>
                                     </div>
                                       
                                     <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea ng-model="createModel.REDUCE_FEED_DESC" rows="3" class="form-control" maxlength="150" name="message" >
                                            </textarea>
                                        </div>
                                     </div>
                                </div>  

                               <div class="row showContent" style="display:none;">
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                         <div class="x_title">    
                                              <span class="btn btn-primary re-pos-btn"  my-confirm-click="delQMS_MA_REDUCE_FEED_DETAIL()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                                 
                                              <div class="clearfix"></div>
                                         </div>

                                         <table class="table table-bordered" ng-form="myEditQMS_MA_REDUCE_FEED_DETAIL">
                                                <thead>
                                                       <tr>
                                                            <th class="col-md-1 col-sm-1 col-xs-1">
                                                                <input type="checkbox" ng-model="AllReduceFeedDetailSelected" ng-change="SelectAllCheckReduceFeedDetail()" >  
                                                            </th>
                                                            <th>@Resources.Strings.ExaTag</th> 
                                                            <th>@Resources.Strings.ConvertValue</th>
                                                            <th>@Resources.Strings.Tools</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                        <tr ng-form="myQMS_MA_REDUCE_FEED_DETAIL" ng-show="ShowReduceFeedDetail">
                                                            <td><input type="checkbox" ng-model="mReduceFeedDetailData.ITEM_SELECTED" /></td>
                                                            <td>
                                                                <input type="text" name="QMS_MA_REDUCE_FEED_DETAIL_TAG" ng-model="createReduceFeedDetailModel.EXA_TAG_NAME" class="form-control" required >
                                                            </td>
                                                            <td>
                                                                <input type="text" name="QMS_MA_REDUCE_FEED_DETAIL_VALUE"  ng-model="createReduceFeedDetailModel.CONVERT_VALUE" class="form-control" number-only-input required >
                                                            </td>
                                                            <td>
                                                                <span  ng-click="saveQMS_MA_REDUCE_FEED_DETAIL()" ><i class="fa fa-save"></i> </span>                                           
                                                            </td>
                                                        </tr>
                                                        <tr  ng-repeat="mReduceFeedDetailData in listReduceFeedDetail" ng-include="getReduceFeedDetailTemplate(mReduceFeedDetailData)"></tr>
                                                </tbody>
                                                                                          
                                         </table>
                
                                    </div>                         
                        
                               </div> 
                          </div>

                             <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->
                     </div>
                </div>
           </div> 

              <!-- Template ReduceFeedDetail -->
                <script type="text/ng-template" id="displayReduceFeedDetail">
                        <td><input type="checkbox" ng-model="mReduceFeedDetailData.ITEM_SELECTED" /></td>
                        <td>{{ mReduceFeedDetailData.EXA_TAG_NAME }}</td>
                        <td>{{ mReduceFeedDetailData.CONVERT_VALUE }}</td>
                        <td >
                            <span ng-click="editReduceFeedDetail(mReduceFeedDetailData)" ><i class="fa fa-edit set-pointer"></i></span>
                        </td>
                </script>
                <script type="text/ng-template" id="editReduceFeedDetail">
                    <td><input type="checkbox" ng-model="mReduceFeedDetailData.ITEM_SELECTED" /></td> 
                    <td>
                        <input class="form-control" type="text" name="QMS_MA_REDUCE_FEED_DETAIL_TAG" ng-model="mReduceFeedDetailData.EXA_TAG_NAME" required />                                                        
                    </td>
                    <td>
                        <input class="form-control"  type="text" name="QMS_MA_REDUCE_FEED_DETAIL_VALUE" ng-model="mReduceFeedDetailData.CONVERT_VALUE" required number-only-input/>                                                        
                    </td>
                    <td>
                        <span ng-click="saveEditQMS_MA_REDUCE_FEED_DETAIL(mReduceFeedDetailData)" ><i class="fa fa-save set-pointer"></i></span>
                        <span ng-click="resetReduceFeedDetail()" ><i class="fa fa-undo set-pointer"></i></span>
                    </td>
             
                </script>
               <!-- Template ReduceFeedDetail -->   
      </div>
</div>



<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/    
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();

        $scope.TempActiveDate = null;
        $scope.CreateTempActiveDate = null;

        /**Special case by case ตาม search model**/    

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc'); 

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listReduceFeed; // listdata
        $scope.AllReduceFeed; //checkbox

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
       

        $scope.showSearch = false;
        
        //Search 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listReduceFeed, $scope.AllReduceFeed) } 
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadReduceFeed();
        }


        $scope.clearReduceFeed = function() {  
               $scope.mSearch = getSearchModel(); 
               $scope.TempActiveDate = null;
               $scope.tempPlantId = {};
               $scope.mSearch.LIMIT_VALUE = null;
               $scope.mSearch.EXA_TAG_NAME = null;
               $scope.mSearch.REDUCE_FEED_DESC = null;
               $scope.loadReduceFeed();
        } 

        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }
         
        $scope.showReduceFeedSearch = function(){  $scope.showSearch = true; /*$("#searchReduceFeed").modal('show');*/}
        $scope.closeReduceFeedSearch = function() { $scope.showSearch = false; }
        $scope.getReduceFeedSearch = function()
        {
            $("#searchReduceFeed").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempProductId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempProductId.ID;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadReduceFeed();
        }

       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadReduceFeed(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadReduceFeed(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadReduceFeed(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadReduceFeed(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadReduceFeed(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadReduceFeed(); }

        $scope.loadReduceFeed = function () { 
            if(typeof $scope.tempPlantId !== "undefined")
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            
           
            Fact.loadDataTable($scope.mSearch, function(response){ 
                try{
                    $scope.listReduceFeed = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                
                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delReduceFeed = function(){
            Fact.deleteMultiData($scope.listReduceFeed, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadReduceFeed(); });
        }

        $scope.CreatetempPlantId; 
        $scope.CreatetempUnitId;
        $scope.listUnit = getListUnit();
        $scope.createModel = getCreateModel();
        $scope.createReduceFeedDetailModel = getReduceFeedDetailModel();
        $scope.searchReduceFeedDetailModel = getSearchReduceFeedDetailModel();
        $scope.listReduceFeedDetailSelect = {};

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){

           
            $scope.CreatetempPlantId = {}; 
            $scope.CreatetempUnitId= {};
            $scope.CreateTempActiveDate  = null;

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
            $scope.CreateTempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
          
            if($scope.createModel.ID > 0){
                var urlName = get_base_url("ReduceFeed/GetCreateQMS_MA_REDUCE_FEEDById");     
                 var jsonData = {
	                    "id":  $scope.createModel.ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                        $scope.createModel = response.data.message; 
                        try{
                             $scope.listPlant.forEach(function(entry) {
		    	            if($scope.createModel.PLANT_ID  == entry.ID){  
		    		            $scope.CreatetempPlantId =  entry; 
		    		            return false;
		    	            } 
			            });
                        $scope.listUnit.forEach(function(entry) {
		    	            if($scope.createModel.UNIT_ID  == entry.ID){  
		    		            $scope.CreatetempUnitId =  entry; 
		    		            return false;
		    	            } 
			            });

                        $scope.CreateTempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
             
                        $scope.ShowReduceFeedDetail = true;
             

                    
                        $scope.loadReduceFeedDetail();
                    }catch(e){
                    
                    }
                });
            }
        }

         $scope.saveData = function () {   
            var urlName = get_base_url("ReduceFeed/CreateQMS_MA_REDUCE_FEED");            
            var valid = true;

            if( typeof $scope.CreatetempPlantId !== "undefined"  && typeof $scope.CreatetempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.CreatetempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempUnitId !== "undefined"  && typeof $scope.CreatetempUnitId.ID !== "undefined" ){
                $scope.createModel.UNIT_ID = $scope.CreatetempUnitId.ID;
            }else{
                valid = false;
            }          
            if( typeof $scope.CreateTempActiveDate !== "undefined"  && $scope.CreateTempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE = $scope.CreateTempActiveDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.createModel.LIMIT_VALUE !== "undefined"  
                && $scope.createModel.LIMIT_VALUE !== null  
            ){ 
            }else{
                valid = false;
            }  
 
           if( $scope.createModel.EXCEL_NAME == null 
                || $scope.createModel.EXCEL_NAME == ""
                || $scope.createModel.EXCEL_NAME  == "undefined"
                || $scope.createModel.EXA_TAG_NAME == null 
                || $scope.createModel.EXA_TAG_NAME == ""
                || $scope.createModel.EXA_TAG_NAME  == "undefined"
                || $scope.createModel.CONVERT_VALUE == null ){ 
                          valid = false;   
            } 
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                    if(response.data.result == 1){
                          $scope.loadReduceFeed();
                          $scope.showDeviceData();
                    }else{
                        Fact.showMessage(response.data.message); 
                    }
                   
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }       
                        
 
       }  
        //#region QMS_MA_REDUCE_FEED_DETAIL 
         
        $scope.saveQMS_MA_REDUCE_FEED_DETAIL = function () {
            //myQMS_MA_REDUCE_FEED_DETAIL 
            
            $scope.createReduceFeedDetailModel.REDUCE_FEED_ID = $scope.createModel.ID;
            var urlName = get_base_url("ReduceFeed/CreateQMS_MA_REDUCE_FEED_DETAIL");
            var valid = true;

            if( typeof $scope.createReduceFeedDetailModel.EXA_TAG_NAME !== "undefined" 
                && $scope.createReduceFeedDetailModel.EXA_TAG_NAME !== null 
                && typeof $scope.createReduceFeedDetailModel.CONVERT_VALUE !== "undefined"  
                && $scope.createReduceFeedDetailModel.CONVERT_VALUE !== null 
                && $scope.createReduceFeedDetailModel.CONVERT_VALUE > 0 
            ){
                
            }else{
                valid = false;
            }  

            if(true == valid){ 
                var jsonData = $scope.createReduceFeedDetailModel; 
                Fact.saveDataCallback(urlName, jsonData, function(response){
                    $scope.createReduceFeedDetailModel = getReduceFeedDetailModel();
                    $scope.loadReduceFeedDetail();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 


        }

        $scope.saveEditQMS_MA_REDUCE_FEED_DETAIL = function (jsonData) { 
            
            var urlName = get_base_url("ReduceFeed/CreateQMS_MA_REDUCE_FEED_DETAIL");
            var valid = true;
 
            if( jsonData.EXA_TAG_NAME !== null 
                && jsonData.EXA_TAG_NAME !== ""
                && jsonData.CONVERT_VALUE !== null 
                && jsonData.CONVERT_VALUE > 0 ){
                            
            }else{
                valid = false;
            } 

            if(true == valid){
                $scope.listReduceFeedDetailSelect = {};
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                     $scope.ShowReduceFeedDetail = true;                 
                     $scope.loadReduceFeedDetail();
                }); 
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }           
        } 

        $scope.delQMS_MA_REDUCE_FEED_DETAIL = function(){
            var urlName = get_base_url("ReduceFeed/DeleteQMS_MA_REDUCE_FEED_DETAIL");
            Fact.deleteMultiDataEx(urlName, $scope.listReduceFeedDetail, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadReduceFeedDetail(); });
        }

        $scope.getReduceFeedDetailTemplate = function (mReduceFeedDetailData) {   
            console.log(mReduceFeedDetailData, $scope.listReduceFeedDetailSelect);
            if (mReduceFeedDetailData.ID === $scope.listReduceFeedDetailSelect.ID) 
            {
                return 'editReduceFeedDetail';
            }else{
                return 'displayReduceFeedDetail';
            }
        };

        $scope.editReduceFeedDetail = function (mReduceFeedDetailData) {
            $scope.ShowReduceFeedDetail = false;
            $scope.listReduceFeedDetailSelect = angular.copy(mReduceFeedDetailData); 
        };

        $scope.resetReduceFeedDetail = function () { 
            $scope.ShowReduceFeedDetail = true;
            $scope.listReduceFeedDetail.forEach(function(entry) { 
		    	if($scope.listReduceFeedDetailSelect.ID == entry.ID){ 
		    		entry.EXA_TAG_NAME = $scope.listReduceFeedDetailSelect.EXA_TAG_NAME;
                    entry.CONVERT_VALUE = $scope.listReduceFeedDetailSelect.CONVERT_VALUE;
		    	} 
			});
            $scope.listReduceFeedDetailSelect = {};
        };

        $scope.loadReduceFeedDetail = function () {
            var urlName = get_base_url("ReduceFeed/GetQMS_MA_REDUCE_FEED_DETAILBySearch");
            console.log("loadReduceFeedDetail", $scope.createModel.ID ,  $scope.searchReduceFeedDetailModel);
            if( $scope.createModel.ID > 0){ 
                $scope.searchReduceFeedDetailModel.REDUCE_FEED_ID = $scope.createModel.ID;
                var jsonData = {
	                 "PageIndex": 1,
	                 "PageSize": 1000,
	                 "SortColumn": "EXA_TAG_NAME",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchReduceFeedDetailModel
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listReduceFeedDetail = response.data.message; 
                    }catch(e){
                    
                    }
                });
            }
        } 

        
        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("ReduceFeed/GetQMS_MA_REDUCE_FEEDBySearch"));
            Fact.setDelelteUrl(get_base_url("ReduceFeed/DeleteQMS_MA_REDUCE_FEED"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});

            Fact.setSortIcon();
            $scope.loadReduceFeed();
        }

        $scope.init();

    });
    

    
    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchReduceFeed)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

      function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_REDUCE_FEED)); 
        return lstData; 
    }

     function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit)); 
        return lstData; 
    }
     
    function getReduceFeedDetailModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_REDUCE_FEED_DETAIL)); 
        return lstData;
    }

    function getSearchReduceFeedDetailModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchReduceFeedDetail)); 
        return lstData; 
    }
</script>