﻿@{
    var searchSigmaLevel = ViewBag.searchSigmaLevel as QMSSystem.Model.SigmaLevelSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;

    //var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    //var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;

    var createQMS_MA_SIGMA_LEVEL = ViewBag.createQMS_MA_SIGMA_LEVEL as QMSSystem.Model.CreateQMS_MA_SIGMA_LEVEL;
}
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="">

        <div class="page-title">
            <div class="title_left">
                <h3>@Resources.Strings.SigmaLevel</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

        <div class="row" ng-show="showList">

            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="x_panel  tblResult " style="display:none;">

                    <div class="x_title">
                        <span ng-click="showSigmaLevelSearch()" class="btn btn-primary " style="color:white;"><i class="fa fa-search"></i> @Resources.Strings.Search</span>
                        <span ng-click="showAddDevice()" class="btn btn-primary " style="color:white;"><i class="fa fa-plus"></i> @Resources.Strings.Add</span>
                        <span class="btn btn-primary " my-confirm-click="delSigmaLevel()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                        <div class="clearfix"></div>
                    </div>


                    <div class="form-horizontal form-label-left" ng-show="showSearch">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                                @Resources.Strings.Plant <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select ng-model="tempPlantId"
                                    chosen
                                    ng-options="item.NAME  for item in listPlant"
                                    >
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            @Resources.Strings.Product <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select ng-model="tempProductId"
                                chosen
                                ng-options="item.NAME  for item in listProduct">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        @Resources.Strings.Description <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" ng-model="mSearch.SigmaLevel_DESC" class="form-control col-md-7 col-xs-12">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                    <button type="button" class="btn btn-primary" ng-click="loadSigmaLevel()"><i class="fa fa-search"></i> @Resources.Strings.Search</button>
                    <button type="button" class="btn btn-primary" ng-click="clearSigmaLevel()"><i class="fa fa-undo"></i> @Resources.Strings.Clear</button>
                    <button type="button" class="btn btn-primary" ng-click="closeDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                </div>
            </div>
            <div class="ln_solid"></div>
        </div>


        <div class="x_content  tblResult " style="display:none;">

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" ng-model="AllSigmaLevel" ng-change="SelectAllCheck()">
                        </th>
                        <th class="sorting_desc" ng-click="sort($event)" sort="PLANT_ID">@Resources.Strings.Plant</th>
                        <th class="sorting" ng-click="sort($event)" sort="PRODUCT_ID">@Resources.Strings.Product</th>
                        <th class="sorting" ng-click="sort($event)" sort="END_VALUE_5">@Resources.Strings.Rank6</th>
                        <th class="sorting" ng-click="sort($event)" sort="END_VALUE_5">@Resources.Strings.Rank5</th>
                        <th class="sorting" ng-click="sort($event)" sort="END_VALUE_4">@Resources.Strings.Rank4</th>
                        <th class="sorting" ng-click="sort($event)" sort="END_VALUE_3">@Resources.Strings.Rank3</th>
                        <th class="sorting" ng-click="sort($event)" sort="END_VALUE_2">@Resources.Strings.Rank2</th>
                        <th class="sorting" ng-click="sort($event)" sort="END_VALUE_1">@Resources.Strings.Rank1</th>
                        <th class="sorting" ng-click="sort($event)" sort="ACTIVE_DATE">@Resources.Strings.ActiveDate</th>
                        <th class="sorting" ng-click="sort($event)" sort="SIGMA_LEVEL_DESC">@Resources.Strings.Description</th>
                        <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Tools</th>
                    <tr>
                </thead>

                <tbody>
                    <tr ng-repeat="mKPI in listSigmaLevel">
                        <td><input type="checkbox" ng-model="mKPI.ITEM_SELECTED" /></td>
                        <td>{{mKPI.PLANT_NAME}}</td>
                        <td>{{mKPI.PRODUCT_NAME}}</td>
                        <td style="background-color:#e7e6e6; color: black;">{{mKPI.START_VALUE_6 + "-" + mKPI.END_VALUE_6 }}</td>
                        <td style="background-color:#00af50;color:black;">{{mKPI.START_VALUE_5 + "-" + mKPI.END_VALUE_5 }}</td>
                        <td style="background-color:#8ea250;color:black;">{{mKPI.START_VALUE_4 + "-" + mKPI.END_VALUE_4 }}</td>
                        <td style="background-color:#fefe00;color:black;">{{mKPI.START_VALUE_3 + "-" + mKPI.END_VALUE_3 }}</td>
                        <td style="background-color:#e99551;color:black;">{{mKPI.START_VALUE_2 + "-" + mKPI.END_VALUE_2 }}</td>
                        <td style="background-color:#fe0000;color:black;">{{mKPI.START_VALUE_1 + "-" + mKPI.END_VALUE_1 }}</td>
                        <td>{{ mKPI.ACTIVE_DATE|showdateformat }}</td>
                        <td>{{mKPI.SIGMA_LEVEL_DESC}}</td>
                        <td><i class="fa fa-edit set-pointer" ng-click="editData(mKPI)"></i></td>
                    </tr>
                </tbody>

            </table>

        </div>


        <!-- ทำหน้า -->
        <div class="row tblResult " style="display:none;">
            <div class="col-md-7 col-sm-7 col-xs-6">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    @Resources.Strings.Total {{totalRecords}} @Resources.Strings.Records
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                    @Resources.Strings.ResultsPerPage
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <select ng-model="TempPageSize"
                            chosen
                            ng-change="loadByPageSize()"
                            ng-options="item.Text  for item in listPageSize"
                            class="col-md-12 col-sm-12 col-xs-12"
                            name="lst_pagesize" id="lst_pagesize">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-5 col-sm-5 col-xs-6">
                <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
                    <label><span ng-click="getBackPage()" class="set-pointer"><i class="fa fa-chevron-left"></i>@Resources.Strings.Previous</span></label>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12" style="width:80px;">
                    <select ng-model="TempPageIndex"
                            chosen
                            ng-change="searchByPage()"
                            ng-options="item.PageIndex  for item in listPageIndex">
                    </select>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <label> / {{ totalPage }}  <span ng-click="getNextPage()" class="set-pointer">@Resources.Strings.Next <i class="fa fa-chevron-right set-pointer"></i></span></label>
                </div>
            </div>
        </div>
        <!-- ทำหน้า -->

    </div>

</div>

</div>


<div class="row" ng-show="showDevice">

    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel">

            <div class="x_title">

                <div class="row" style="text-align:right;">
                    <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span>
                    <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">

                <div class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                            @Resources.Strings.Plant <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <select ng-model="CreatetempPlantId"
                                chosen="{inherit_select_classes: true}"
                                ng-options="item.NAME  for item in listPlant"
                                class="chosen_required">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                        @Resources.Strings.Product <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select ng-model="CreatetempProductId"
                            chosen="{inherit_select_classes: true}"
                            ng-options="item.NAME  for item in listProduct"
                            class="chosen_required">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                    @Resources.Strings.ActiveDate <span class="required">*</span>
            </label>
            <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:left;">
                <input type="text" class="form-control" ng-model="CreateTempActiveDate" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                @Resources.Strings.Description
        </label>
        <div class="col-md-4 col-sm-4 col-xs-12" style="text-align:right;">
            <textarea ng-model="createModel.SIGMA_LEVEL_DESC"
                      rows="3" class="form-control" maxlength="150" name="message">
                                            </textarea>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">
                Sigma Level Point <span class="required">*</span>
            </label>
        <div class="table-responsive">

            <table class="table table-bordered">

                <thead>
                    <tr>
                        <th>@Resources.Strings.Rank</th>
                        <th>@Resources.Strings.Min</th>
                        <th>@Resources.Strings.Max</th>
                        <th>@Resources.Strings.Alias</th>
                    </tr>
                </thead>

                <tbody>
                    <tr style="text-align:center;">
                        <td style="background-color: #e7e6e6; color: black; ">6</td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_6" number-only-input required></td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_6" number-only-input required></td>
                        <td><input type="text" class="form-control" ng-model="createModel.ALIAS_DESC_6"></td>

                    </tr>
                    <tr style="text-align:center;">
                        <td style="background-color:#00af50;color:white;">5</td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_5" number-only-input required></td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_5" number-only-input required></td>
                        <td><input type="text" class="form-control" ng-model="createModel.ALIAS_DESC_5" ></td>

                    </tr>
                    <tr style="text-align:center;">
                        <td style="background-color:#8ea250;color:white;">4</td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_4" number-only-input required></td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_4" number-only-input required></td>
                        <td><input type="text" class="form-control" ng-model="createModel.ALIAS_DESC_4"></td>

                    </tr>
                    <tr style="text-align:center;">
                        <td style="background-color:#fefe00;color:black;">3</td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_3" number-only-input required></td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_3" number-only-input required></td>
                        <td><input type="text" class="form-control" ng-model="createModel.ALIAS_DESC_3"></td>

                    </tr>
                    <tr style="text-align:center;">
                        <td style="background-color:#e99551;color:white;">2</td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_2" number-only-input required></td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_2" number-only-input required></td>
                        <td><input type="text" class="form-control" ng-model="createModel.ALIAS_DESC_2"></td>

                    </tr>
                    <tr style="text-align:center;">
                        <td style="background-color:#fe0000;color:white;">1</td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.START_VALUE_1" number-only-input required></td>
                        <td><input type="text" class="form-control" placeholder="0" value="0" ng-model="createModel.END_VALUE_1" number-only-input required></td>
                        <td><input type="text" class="form-control" ng-model="createModel.ALIAS_DESC_1"></td>

                    </tr>
                </tbody>

            </table>

        </div>


    </div>



</div>


<!-- history -->
<div class="x_content" ng-show="createModel.ID">
    <div class="col-md-6 col-sm-6 col-xs-6  ">
        <div class="title_left text_left small_font_size ">
            @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
        </div>
    </div><div class="col-md-6 col-sm-6 col-xs-6  ">
        <div class="title_right text_right small_font_size ">
            @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
        </div>
    </div>
</div>
<!-- history -->
</div>

</div>
</div>

</div>
</div>
</div>

</div>


<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

        /**Special case by case ตาม search model**/
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();

        $scope.tempProductId;
        $scope.listProduct = getListProduct();

        /**Special case by case ตาม search model**/

        $scope.mSearch = getSearchModel();
        $scope.createModel = getCreateModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);;
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listSigmaLevel; // listdata
        $scope.AllSigmaLevel; //checkbox

        $scope.showSearch = false;

        //Search
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listSigmaLevel, $scope.AllSigmaLevel) }
        $scope.editData = function(mData){ Fact.editData( get_base_url("SigmaLevel/CreateMasterSigmaLevel") + "?id=" + mData.ID ); }
        $scope.sort = function(e){
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadSigmaLevel();
        }

        $scope.showDateTextFromDoubleEx = function(data) { return Fact.showDateTextFromDoubleEx(data); }

        $scope.showSigmaLevelSearch = function(){  $scope.showSearch = true; /*$("#searchSigmaLevel").modal('show');*/}
        $scope.closeSigmaLevelSearch = function() { $scope.showSearch = false; }
        $scope.getSigmaLevelSearch = function()
        {
            $("#searchSigmaLevel").modal('hide');
            //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.tempProductId !== "undefined" ){
                $scope.mSearch.PLANT_ID = $scope.tempProductId.ID;
            }
            //เรียกใช้ ฟังก์ชั่น แบบ ปกติ
            $scope.loadSigmaLevel();
        }


        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadSigmaLevel(); }
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadSigmaLevel(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadSigmaLevel(); }
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadSigmaLevel(); }
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadSigmaLevel(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadSigmaLevel(); }

        $scope.loadSigmaLevel = function () {
            if(typeof $scope.tempPlantId !== "undefined")
                $scope.mSearch.PLANT_ID = $scope.tempPlantId.ID;
            if(typeof $scope.tempProductId !== "undefined")
                $scope.mSearch.PRODUCT_ID = $scope.tempProductId.ID;

            Fact.loadDataTable($scope.mSearch, function(response){
                try{
                    $scope.listSigmaLevel = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;

                    $scope.listPageIndex.forEach(function(entry, index) {
                         if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;
			        });
                }catch(e){

                }
                $(".tblResult").show();
            });
        }

        $scope.delSigmaLevel = function(){
            Fact.deleteMultiData($scope.listSigmaLevel, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadSigmaLevel(); });
        }

        $scope.clearSigmaLevel = function() {
               $scope.mSearch = getSearchModel();

               $scope.tempPlantId = {};
               $scope.tempProductId = {};
               $scope.createModel.SIGMA_LEVEL_DESC = null;
               $scope.loadSigmaLevel();
        }

        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createModel = getCreateModel();  $scope.initialData (); }
        $scope.editData = function(mData){  $scope.createModel = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){

            $scope.CreateTempActiveDate  = null;
            $scope.CreatetempPlantId = {};
            $scope.CreatetempProductId= {};

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;

            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){
		    		$scope.CreatetempPlantId =  entry;
		    		return false;
		    	}
			});

            $scope.listProduct.forEach(function(entry) {
		    	if($scope.createModel.PRODUCT_ID  == entry.ID){
		    		$scope.CreatetempProductId =  entry;
		    		return false;
		    	}
			});


            $scope.CreateTempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);
        }


        $scope.saveData = function () {
            var urlName = get_base_url("SigmaLevel/CreateQMS_MA_SIGMA_LEVEL");
            var valid = true;

            if( typeof $scope.CreatetempPlantId !== "undefined"  && typeof $scope.CreatetempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.CreatetempPlantId.ID;
            }else{
                valid = false;
            }
            if( typeof $scope.CreatetempProductId !== "undefined"  && typeof $scope.CreatetempProductId.ID !== "undefined" ){
                $scope.createModel.PRODUCT_ID = $scope.CreatetempProductId.ID;
            }else{
                valid = false;
            }
            if( typeof $scope.CreateTempActiveDate !== "undefined"  && $scope.CreateTempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.CreateTempActiveDate;
            }else{
                valid = false;
            }
            console.log($scope.createModel.START_VALUE_6);
            console.log($scope.createModel.END_VALUE_6);
            console.log($scope.createModel);
            //if () {
            //} else if () {
            //}

            if( parseFloat($scope.createModel.END_VALUE_1) <  parseFloat($scope.createModel.START_VALUE_1)
                    || parseFloat($scope.createModel.START_VALUE_1) <  parseFloat($scope.createModel.END_VALUE_2)
                    || parseFloat($scope.createModel.END_VALUE_2) < parseFloat($scope.createModel.START_VALUE_2)
                    || parseFloat($scope.createModel.START_VALUE_2) <  parseFloat($scope.createModel.END_VALUE_3)
                    || parseFloat($scope.createModel.END_VALUE_3) < parseFloat($scope.createModel.START_VALUE_3)
                    || parseFloat($scope.createModel.START_VALUE_3) <  parseFloat($scope.createModel.END_VALUE_4)
                    || parseFloat($scope.createModel.END_VALUE_4) < parseFloat($scope.createModel.START_VALUE_4)
                    || parseFloat($scope.createModel.START_VALUE_4) <  parseFloat($scope.createModel.END_VALUE_5)
                    || parseFloat($scope.createModel.END_VALUE_5) < parseFloat($scope.createModel.START_VALUE_5)
                    || parseFloat($scope.createModel.START_VALUE_5) < parseFloat($scope.createModel.END_VALUE_6)
                    || parseFloat($scope.createModel.END_VALUE_6) < parseFloat($scope.createModel.START_VALUE_6)
            ) {
                    Fact.showMessage("@Resources.Strings.PleaseCheckMinOverMax");
                    return;
            }


            if(true == valid){
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {

                    if(response.data.result == 1){
                         $scope.loadSigmaLevel();
                         $scope.showDeviceData();
                    }else{
                        Fact.showMessage(response.data.message);
                    }
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }


        }

        $scope.init = function(mData){

            Fact.setDataTableUrl(get_base_url("SigmaLevel/GetQMS_MA_SIGMA_LEVELBySearch"));
            Fact.setDelelteUrl(get_base_url("SigmaLevel/DeleteQMS_MA_SIGMA_LEVEL"));
            Fact.setSearchModel(getSearchModel());

            console.log($scope.listPageSize);

            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;
			});

            Fact.setSortIcon();
            $scope.loadSigmaLevel();
        }

        $scope.init();

    });



    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchSigmaLevel));
        return lstData;
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize));
        return lstData;
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant));
        return lstData;
    }

    function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct));
        return lstData;
    }

      function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_SIGMA_LEVEL));
        return lstData;
    }

</script>