﻿@{
    
    ViewBag.Title = "Index"; 
    
}
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<div ng-app="myApp" ng-controller="myCtrl">

    <table  style="width:30%">
      <caption><h1>Master</h1></caption>
      <tr>
        <th>Id No.</th>
        <th>Name</th>
        <th>Last Name</th>
        <th> </th>
        <th> </th>
      </tr>
      <tr>
        <td><input ng-model="user.id_no"> </td>
        <td><input ng-model="user.firstname"></td>
        <td><input ng-model="user.lastname"></td>
        <td><input type="button" ng-click= "SearchByKey(user)" value="Retrieve data"></td>
        <td><input type="button" ng-click= "Resetinit()" value="Reset"></td>        
      </tr>   
    </table>
    
 
    <p>form = {{user}}</p>
    <p>init = {{init}}</p>


    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>No</th> 
                <th ng-click="orderByMe('STUDENT_ID')" >ID</th>
                <th ng-click="orderByMe('STUDENT_NAME')" >Name</th>
                <th ng-click="orderByMe('STUDENT_SNAME')" >Surname</th>
                <th>Option</th>
            </tr>
        <tbody>
            <tr ng-repeat="mData in listData | orderBy:myOrderBy ">
                <td>{{$index + 1}}</td> 
                <td><input type="text" ng-model="mData.STUDENT_ID"  /> </td> 
                <td><input type="text" ng-model="mData.STUDENT_NAME"  /> </td> 
                <td><input type="text" ng-model="mData.STUDENT_SNAME"  /> </td> 
                <td><span ng-click="delData(mData)"  style="color:Blue; text-decoration:underline; cursor:pointer">delete</span>
                    <span ng-click="editData(mData)"  style="color:Blue; text-decoration:underline; cursor:pointer">edit</span> 
                    <span ng-click="saveData(mData)"  style="color:Blue; text-decoration:underline; cursor:pointer">save</span>
                    <span ng-click="reset(mData)"  style="color:Blue; text-decoration:underline; cursor:pointer">reset</span>
                    Full Name: {{fullname(mData)}}
                </td>
            </tr>
        </tbody>
    </table>

    <p id="hint"></p>
</div>



<script>
    var app = angular.module('myApp', []);
   

    app.controller('myCtrl', function ($scope, $http, $httpParamSerializerJQLike) {

        $scope.bCreate = true;
        $scope.bSearch = false;
        $scope.bResultTable = true;
        $scope.createSTUDENT = { STUDENT_ID: 0, STUDENT_NAME: "test_name", STUDENT_SNAME: "test_sname" };
        $scope.SearchSTUDENT = { STD_ID: 0,STD_NAME: "",STD_SNAME: "" };


        $scope.listData;

        $scope.Result = { OK: 0, Error: 1 };

        $scope.test = function () {
            //alert('test');
            console.log("test", $scope.createModel);
        }



        $scope.orderByMe = function(mData) {
                $scope.myOrderBy = mData;
        }


        $scope.fullname = function(mData) {
               return mData.STUDENT_ID + '  ' + mData.STUDENT_NAME + '  ' + mData.STUDENT_SNAME ;
        };
       
        


        $scope.init = {id_no: "21", firstname:"Kridda", lastname:"Hayamin"};
        $scope.Resetinit = function() {
            $scope.user = angular.copy($scope.init);
        };





        $scope.SearchByKey = function (user) {

            var urlName = get_base_url("Home/GetSTUDENT");

            document.getElementById("hint").innerHTML = user.id_no + " " + user.firstname + "  " + user.lastname;

            var jsonData = {
                PageIndex: 0,
                PageSize: 10,
                SortColumn: "asc",
                SortOrder: "NAME",
                mSearch: {
                            STUDENT_ID: user.id_no,
                            STUDENT_NAME: user.firstname,
                            STUDENT_SNAME: user.lastname
                }
            };

            

            $http({
                //method: 'JSONP',
                url: urlName,
                method: "POST",
                data: jsonData, // $httpParamSerializerJQLike($scope.searchModel),
                //headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                headers: { 'Content-Type': 'application/json' },                
            }).then(function (response) {
                $scope.listData = response.data.rows;
            }, function (response) {
                console.log(response);
            });

        $scope.loadData(); 
        }



        $scope.saveData = function () {

            var urlName = get_base_url("Home/CreateSTUDENT");
            $http({
                url: urlName,
                method: "POST",
                data: $httpParamSerializerJQLike($scope.createModel),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).then(function (response) {
                if ($scope.Result.OK == response.data.result) {
                    //console.log("OK", response, response.data, response.data.result);
                    $scope.loadData();
                } else {
                    console.log("Error");
                }
                console.log(response);
            },
			function (response) { // optional
			    console.log(response);
			});
        }





        $scope.editData = function (jsonData) {

            var urlName = get_base_url("Home/CreateSTUDENT");
            $http({
                url: urlName,
                method: "POST",
                data:jsonData,
                //headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                headers: { 'Content-Type': 'application/json' },  
            }).then(function (response) {
                if ($scope.Result.OK == response.data.result) {
                    alert("success");
                    console.log("OK", response, response.data, response.data.result);
                    $scope.loadData();
                } else {
                    console.log("Error");
                }
                console.log(response);
            },
			function (response) { // optional
			    console.log(response);
			});
        }

         $scope.delData = function (data) {

             console.log(data);

             if(confirm("delete ???") == true){

                    
                    var jsonData = {
                        id: data.mas_id
                    };

                    var urlName = get_base_url("Home/DeleteSTUDENT");
                    $http({
                        url: urlName,
                        method: "POST",
                        data:  jsonData,
                        //headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                        headers: { 'Content-Type': 'application/json' },   
                    }).then(function (response) {
                        if ($scope.Result.OK == response.data.result) {
                            console.log("OK", response, response.data, response.data.result);
                            $scope.loadData();
                        } else {
                            console.log("Error");
                        }
                        console.log(response);
                    },
			        function (response) { // optional
			            console.log(response);
			        });
            }
        }

        $scope.loadData = function () {
            var urlName = get_base_url("Home/GetSTUDENT");

//            var SendData = {
//                offset :0,
//                limit :10,
//                direction:"asc",
//                order:"mas_name",
//                msearch: $httpParamSerializerJQLike($scope.searchModel)
//            };

            var jsonData = {
                PageIndex: 0,
                PageSize: 10,
                SortColumn: "asc",
                SortOrder: "NAME",
                mSearch: {
                            STUDENT_ID: $scope.SearchSTUDENT.STD_ID,
                            STUDENT_NAME: $scope.SearchSTUDENT.STD_NAME,
                            STUDENT_SNAME: $scope.SearchSTUDENT.STD_SNAME
                }
            };

////            $scope.searchModel.offset = 0; // $scope.offset;
////            $scope.searchModel.limit = 10; //$scope.itemPerpage;
////            $scope.searchModel.direction = "asc"; //$scope.direction;
////            $scope.searchModel.order = "mas_name"; // $scope.order;

            $http({
                //method: 'JSONP',
                url: urlName,
                method: "POST",
                data: jsonData, // $httpParamSerializerJQLike($scope.searchModel),
                //headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
                headers: { 'Content-Type': 'application/json' },                
            }).then(function (response) {
                $scope.listData = response.data.rows;
            }, function (response) {
                console.log(response);
            });
        }

       $scope.loadData(); 
    }); 
</script>

@*<p>The property "carname" was made in the controller, and can be referred to in the view by using the {{ }} brackets.</p>
*@