﻿@{ 
    var createQMS_MA_PLANT = ViewBag.createQMS_MA_PLANT as QMSSystem.Model.CreateQMS_MA_PLANT;
    var createQMS_MA_PRODUCT = ViewBag.createQMS_MA_PRODUCT as QMSSystem.Model.CreateQMS_MA_PRODUCT;
    var createQMS_MA_GRADE = ViewBag.createQMS_MA_GRADE as QMSSystem.Model.CreateQMS_MA_GRADE;
    var createQMS_MA_PRODUCT_MAPPING = ViewBag.createQMS_MA_PRODUCT_MAPPING as QMSSystem.Model.CreateQMS_MA_PRODUCT_MAPPING;

    var createQMS_MA_UNIT = ViewBag.createQMS_MA_UNIT as QMSSystem.Model.CreateQMS_MA_UNIT;
    var createQMS_MA_EXQ_TAG = ViewBag.createQMS_MA_EXQ_TAG as QMSSystem.Model.CreateQMS_MA_EXQ_TAG;
    var createQMS_MA_EXQ_ACCUM_TAG = ViewBag.createQMS_MA_EXQ_ACCUM_TAG as QMSSystem.Model.CreateQMS_MA_EXQ_ACCUM_TAG;

    var listControlGroup = ViewBag.listControlGroup as List<QMSSystem.Model.ViewQMS_MA_CONTROL>;
    var listSpecGroup = ViewBag.listSpecGroup as List<QMSSystem.Model.ViewQMS_MA_CONTROL>;

    var searchPlantProduct = ViewBag.searchPlantProduct as QMSSystem.Model.PlantProductSearchModel;
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
    var listProduct = ViewBag.listProduct as List<QMSSystem.Model.ViewQMS_MA_PRODUCT>;
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listGrade = ViewBag.listGrade as List<QMSSystem.Model.ViewQMS_MA_GRADE>; 
}

<script type="text/javascript">

    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike, $tooltip) {
         
         //show tag  
         $scope.tooltip = {title: 'If this filed is empty. It will be automatic form accum tag.', checked: true}; 
         //#region PlantProductMapping
         
         $scope.createQMS_MA_PRODUCT_MAPPING = getCreateQMS_MA_PRODUCT_MAPPING();

         $scope.saveQMS_MA_PRODUCT_MAPPING = function () { 
            var valid = true;

            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_PRODUCT_MAPPING");

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.createQMS_MA_PRODUCT_MAPPING.PLANT_ID = $scope.tempPlantId.ID;
            }else{
                valid = false;
            }

            if( typeof $scope.tempProductId !== "undefined"  && typeof $scope.tempProductId.ID !== "undefined" ){
                $scope.createQMS_MA_PRODUCT_MAPPING.PRODUCT_ID = $scope.tempProductId.ID;
            }else{
                valid = false;
            }

            if( typeof $scope.tempGradeId !== "undefined"  && typeof $scope.tempGradeId.ID !== "undefined" ){
                $scope.createQMS_MA_PRODUCT_MAPPING.GRADE_ID = $scope.tempGradeId.ID;
            }else{
                valid = false;
            }

            var jsonData = $scope.createQMS_MA_PRODUCT_MAPPING;

            jsonData.CREATE_DATE = null;
            jsonData.UPDATE_DATE = null;
             
//            if($scope.createQMS_MA_PRODUCT_MAPPING.PLANT_ID <= 0){
//                valid = false;
//            }
//            if($scope.createQMS_MA_PRODUCT_MAPPING.PLANT_ID <= 0){
//                valid = false;
//            }
            
            if(true == valid){   //if($scope.myQMS_MA_PRODUCT_MAPPING.$valid){
                Fact.saveDataCallback(urlName, jsonData, function(response){ 
                 
                Fact.showMessage(response.data.message); 
                $scope.createQMS_MA_PRODUCT_MAPPING.ID =response.data.dataId;

                $scope.createQMS_MA_PRODUCT_MAPPING.SHOW_CREATE_DATE = response.data.model.SHOW_CREATE_DATE;
                $scope.createQMS_MA_PRODUCT_MAPPING.CREATE_USER = response.data.model.CREATE_USER;
                $scope.createQMS_MA_PRODUCT_MAPPING.SHOW_UPDATE_DATE = response.data.model.SHOW_UPDATE_DATE;
                $scope.createQMS_MA_PRODUCT_MAPPING.UPDATE_USER = response.data.model.UPDATE_USER;
                  
                $(".showExaQualityTag").show();
                $(".showActiveExaAccumTag").show();
                $(".showExaQtyTag").show();
                $(".account_check").show();

                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 
        } 
        //#endregion 


        //#region PlantManagement
        
        $scope.listPlant;
        $scope.AllPlantSelected = false;
        $scope.ShowPlant = true;
        $scope.listPlantSelect = {};
        $scope.tempPlantId;
                 
        $scope.createQMS_MA_PLANT = getCreateQMS_MA_PLANT();
        $scope.SelectAllPlantCheck = function () { Fact.SelectAllCheck($scope.listPlant, $scope.AllPlantSelected) }
  
        $scope.saveQMS_MA_PLANT = function () { 
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_PLANT");
            var jsonData = $scope.createQMS_MA_PLANT;            
            if($scope.myQMS_MA_PLANT.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.createQMS_MA_PLANT = getCreateQMS_MA_PLANT(); $scope.loadActivePlant();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveEditQMS_MA_PLANT = function (jsonData) { 
            
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_PLANT");
            Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.ShowPlant = true; $scope.createQMS_MA_PLANT = getCreateQMS_MA_PLANT(); $scope.loadActivePlant();  });
        }
         
        $scope.loadActivePlant = function(){ $scope.resetPlant(); Fact.loadAllPlant(function (response){  $scope.listPlant = response.data.message;  });  }
        $scope.loadActivePlantCallBack = function(callback){ $scope.resetPlant(); Fact.loadAllPlant(function (response){  $scope.listPlant = response.data.message; callback(response); });  }
         
        $scope.delPlantData = function(){
            var urlName = get_base_url("PlantProductMapping/DeleteQMS_MA_PLANT");
            Fact.deleteMultiDataEx(urlName, $scope.listPlant, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActivePlant(); });
        }

        $scope.getPlantTemplate = function (mPlantData) { 
            if (mPlantData.ID === $scope.listPlantSelect.ID) return 'editPlant';
                 else return 'displayPlant';
        };

        $scope.editPlant = function (mPlantData) {
            $scope.ShowPlant = false;
            $scope.listPlantSelect = angular.copy(mPlantData);
        };

        $scope.resetPlant = function () {
            $scope.ShowPlant = true;
            $scope.createQMS_MA_PLANT = getCreateQMS_MA_PLANT();

            if(null != $scope.listPlant){
                $scope.listPlant.forEach(function(entry) { 
		    	    if($scope.listPlantSelect.ID == entry.ID){ 
		    		    entry.NAME = $scope.listPlantSelect.NAME;
                        entry.ABBREVIATION = $scope.listPlantSelect.ABBREVIATION;
		    	    } 
			    });
            }
            $scope.listPlantSelect = {};
        };

        $scope.openPlantManagement = function () { 
            $scope.resetPlant(); 
            $(".plant-modal-lg").modal('show').on('shown.bs.modal', function (e) {
                 $scope.ShowPlant = true;
                 $scope.resetPlant();
            });
        };

        $scope.adjustPlantPostion = function(data, arrow){
             
            var urlName = get_base_url("PlantProductMapping/SetPlantPosition");
            var jsonData = {"PLANT_ID" : data.ID, "DIRECTION" : arrow };
            Fact.loadlistData(urlName, jsonData, function (response){  
                $scope.listPlant = response.data.message; 
            });  
        }
        //#endregion

        
        //#region ProductManagement
        $scope.listProduct;
        $scope.AllProductSelected = false;
        $scope.ShowProduct = true;
        $scope.listProductSelect = {};
        $scope.tempProductId;
 
        $scope.createQMS_MA_PRODUCT = getCreateQMS_MA_PRODUCT();
        $scope.SelectAllProductCheck = function () { Fact.SelectAllCheck($scope.listProduct, $scope.AllProductSelected) }
  
        $scope.saveQMS_MA_PRODUCT = function () { 
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_PRODUCT");
            var jsonData = $scope.createQMS_MA_PRODUCT;
            if($scope.myQMS_MA_PRODUCT.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.createQMS_MA_PRODUCT = getCreateQMS_MA_PRODUCT(); $scope.loadActiveProduct();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveEditQMS_MA_PRODUCT = function (jsonData) { 
           
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_PRODUCT");
            
            Fact.saveDataCallback(urlName, jsonData, function (response) {  $scope.ShowProduct = true; $scope.createQMS_MA_PRODUCT = getCreateQMS_MA_PRODUCT(); $scope.loadActiveProduct();  }); 
        }
         
        $scope.loadActiveProduct = function(){ $scope.resetProduct(); Fact.loadAllProduct(function (response){  $scope.listProduct = response.data.message;  });  }
        $scope.loadActiveProductCallBack = function(callback){ $scope.resetProduct(); Fact.loadAllProduct(function (response){  $scope.listProduct = response.data.message; callback(response); });  }

        $scope.delProductData = function(){
            var urlName = get_base_url("PlantProductMapping/DeleteQMS_MA_PRODUCT");
            Fact.deleteMultiDataEx(urlName, $scope.listProduct, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveProduct(); });
        }

        $scope.getProductTemplate = function (mProductData) { 
            if (mProductData.ID === $scope.listProductSelect.ID) return 'editProduct';
                 else return 'displayProduct';
        };

        $scope.editProduct = function (mProductData) {
            $scope.ShowProduct = false;
            $scope.listProductSelect = angular.copy(mProductData);
        };

        $scope.resetProduct = function () {
            $scope.ShowProduct = true;
            $scope.createQMS_MA_PRODUCT = getCreateQMS_MA_PRODUCT();

            if(null != $scope.listProduct){
                $scope.listProduct.forEach(function(entry) { 
		    	    if($scope.listProductSelect.ID == entry.ID){ 
		    		    entry.NAME = $scope.listProductSelect.NAME; 
		    	    } 
			    });
            }
            $scope.listProductSelect = {};
        };

        $scope.openProductManagement = function () { 
            $scope.resetProduct(); 
            $(".product-modal-lg").modal('show');
        };

        $scope.adjustProductPostion = function(data, arrow){
             //GetActiveProductList
            var urlName = get_base_url("PlantProductMapping/SetProductPosition");
            var jsonData = {"PRODUCT_ID" : data.ID, "DIRECTION" : arrow };
            Fact.loadlistData(urlName, jsonData, function (response){  
                $scope.listProduct = response.data.message; 
            });  
        }
        //#endregion
         
        
        //#region GradeManagement
        $scope.listGrade;
        $scope.AllGradeSelected = false;
        $scope.ShowGrade = true;
        $scope.listGradeSelect = {};
        $scope.tempGradeId;
 
        $scope.createQMS_MA_GRADE = getCreateQMS_MA_GRADE();
        $scope.SelectAllGradeCheck = function () { Fact.SelectAllCheck($scope.listGrade, $scope.AllGradeSelected) }
  
        $scope.saveQMS_MA_GRADE = function () { 
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_GRADE");
            var jsonData = $scope.createQMS_MA_GRADE;
            if($scope.myQMS_MA_GRADE.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.createQMS_MA_GRADE = getCreateQMS_MA_GRADE(); $scope.loadActiveGrade();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveEditQMS_MA_GRADE = function (jsonData) {
            
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_GRADE");
            
            Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.ShowGrade = true; $scope.createQMS_MA_GRADE = getCreateQMS_MA_GRADE(); $scope.loadActiveGrade();  });
 
        }
         
        $scope.loadActiveGrade = function(){ $scope.resetGrade(); Fact.loadAllGrade(function (response){  $scope.listGrade = response.data.message;  });  }
        $scope.loadActiveGradeCallBack = function(callback){ $scope.resetGrade(); Fact.loadAllGrade(function (response){  $scope.listGrade = response.data.message; callback(response); });  }

        $scope.delGradeData = function(){
            var urlName = get_base_url("PlantProductMapping/DeleteQMS_MA_GRADE");
            Fact.deleteMultiDataEx(urlName, $scope.listGrade, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveGrade(); });
        }

        $scope.getGradeTemplate = function (mGradeData) { 
            if (mGradeData.ID === $scope.listGradeSelect.ID) return 'editGrade';
                 else return 'displayGrade';
        };

        $scope.editGrade = function (mGradeData) {
            $scope.ShowGrade = false;
            $scope.listGradeSelect = angular.copy(mGradeData);
        };

        $scope.resetGrade = function () {
            $scope.ShowGrade = true;
            $scope.createQMS_MA_GRADE = getCreateQMS_MA_GRADE();

            if(null != $scope.listGrade){
                $scope.listGrade.forEach(function(entry) { 
		    	    if($scope.listGradeSelect.ID == entry.ID){ 
		    		    entry.NAME = $scope.listGradeSelect.NAME; 
                        entry.EXCEL_FLAG = $scope.listGradeSelect.EXCEL_FLAG; 
		    	    } 
			    });
            }
            $scope.listGradeSelect = {};
        };

        $scope.openGradeManagement = function () {  
            $scope.resetGrade();
            $(".grade-modal-lg").modal('show');
        };
        //#endregion


         //#region UnitManagement
        $scope.listUnit;
        $scope.AllUnitSelected = false;
        $scope.ShowUnit = true;
        $scope.listUnitSelect = {};
        $scope.tempUnitId;
 
        $scope.createQMS_MA_UNIT = getCreateQMS_MA_UNIT();
        $scope.SelectAllUnitCheck = function () { Fact.SelectAllCheck($scope.listUnit, $scope.AllUnitSelected) }
  
        $scope.saveQMS_MA_UNIT = function () { 
            var urlName = get_base_url("Unit/CreateQMS_MA_UNIT");
            var jsonData = $scope.createQMS_MA_UNIT;
            if($scope.myQMS_MA_UNIT.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) { $scope.createQMS_MA_UNIT = getCreateQMS_MA_UNIT(); $scope.loadActiveUnit();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.saveEditQMS_MA_UNIT = function (jsonData) {
            
            var urlName = get_base_url("Unit/CreateQMS_MA_UNIT");
            
            Fact.saveDataCallback(urlName, jsonData, function (response) {$scope.ShowUnit = true; $scope.createQMS_MA_UNIT = getCreateQMS_MA_UNIT(); $scope.loadActiveUnit();  });

        }
         
        $scope.loadActiveUnit = function(){ $scope.resetUnit(); Fact.loadAllUnit(function (response){  $scope.listUnit = response.data.message;  });  }

        $scope.delUnitData = function(){
            var urlName = get_base_url("Unit/DeleteQMS_MA_UNIT");
            Fact.deleteMultiDataEx(urlName, $scope.listUnit, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveUnit(); });
        }

        $scope.getUnitTemplate = function (mUnitData) { 
            if (mUnitData.ID === $scope.listUnitSelect.ID) return 'editUnit';
                 else return 'displayUnit';
        };

        $scope.editUnit = function (mUnitData) {
            $scope.ShowUnit = false;
            $scope.listUnitSelect = angular.copy(mUnitData);
        };

        $scope.resetUnit = function () {
            $scope.ShowUnit = true;
            $scope.listUnitSelect = {};
        };

        $scope.openUnitManagement = function () { 
            $(".quality-tag-modal-lg").modal('hide');
            $(".quality-accum-tag-modal-lg").modal('hide');
            $(".quantity-tag-modal-lg").modal('hide');
            $scope.resetUnit();
            $(".unit-modal-lg").modal('show');
        };
        //#endregion
         
        //#region QualityTag
        $scope.AllExaQualityTagSelected = false;
        $scope.listExaQualityTag;
        $scope.ShowExaQualityTag = true; 
        $scope.tempUnitQtyId;
        $scope.TargetCheck;
        $scope.CorrectCheck;

        $scope.createQMS_MA_EXQ_TAG = getCreateQMS_MA_EXQ_TAG();
        $scope.SelectAllExaQualityTagCheck = function () { Fact.SelectAllCheck($scope.listExaQualityTag, $scope.AllExaQualityTagSelected) }

        $scope.getTargetCheck = function(){
            if($scope.TargetCheck == true){
                return 1;
            }else{
                return 0;
            }
        }

        $scope.getCorrectCheck = function(){
            if($scope.CorrectCheck == true){
                return 1;
            }else{
                return 0;
            }
        }

        $scope.setTargetCheck = function(value){
             
            if(value == 1){
                return true;
            }else{
                return false;
            }
        }

        $scope.setCorrectCheck = function(value){
            if(value == 1){
                return true;
            }else{
                return false;
            }
        }

        $scope.saveQualityQMS_MA_EXQ_TAG = function () { 
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_EXQ_TAG");

            //console.log( $scope.createQMS_MA_EXQ_TAG); return;

            $scope.createQMS_MA_EXQ_TAG.PRODUCT_MAPPING_ID = $scope.createQMS_MA_PRODUCT_MAPPING.ID;
            $scope.createQMS_MA_EXQ_TAG.UNIT_ID = $scope.tempUnitQtyId.ID;
            $scope.createQMS_MA_EXQ_TAG.TAG_TYPE = 1; //1: Quality, 2:Quantity-PV, 3: Quantity -SUM, 4: Accum
            $scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK = $scope.getTargetCheck();

            var jsonData = $scope.createQMS_MA_EXQ_TAG;
            if($scope.myQMS_MA_EXQ_TAG.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) {  $(".quality-tag-modal-lg").modal('hide');   $scope.loadActiveExaQualityTag();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.loadActiveExaQualityTag = function(){ 
            var urlName = get_base_url("PlantProductMapping/GetExaQualityTagList");
            var jsonData = {"id" : $scope.createQMS_MA_PRODUCT_MAPPING.ID };
            Fact.loadlistData(urlName, jsonData, function (response){  
                $scope.listExaQualityTag = response.data.message;
                if( $scope.createQMS_MA_PRODUCT_MAPPING.ID > 0){ 
                    $(".showExaQualityTag").show();
                }
            });  
        }

        $scope.delExaQualityTag = function(){
            var urlName = get_base_url("PlantProductMapping/DeleteExaQualityTag");
            Fact.deleteMultiDataEx(urlName, $scope.listExaQualityTag, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveExaQualityTag(); });
        }

        $scope.resetExaQualityTag = function () {
//            $scope.ShowExaQualityTag = true;
//            $scope.listExaQualityTagSelect = {};
            $scope.createQMS_MA_EXQ_TAG = getCreateQMS_MA_EXQ_TAG();
            $scope.TargetCheck = $scope.setTargetCheck($scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK);
            $scope.CorrectCheck  = $scope.setCorrectCheck($scope.createQMS_MA_EXQ_TAG.TAG_CORRECT);
        };

        $scope.openExaQualityTag = function () {
            $scope.tempUnitQtyId = ""; 
            $scope.resetExaQualityTag();
            $(".quality-tag-modal-lg").modal('show');
        };

        $scope.editExaQualityTag = function (data) {
             
            $scope.tempUnitQtyId = "";
            $scope.createQMS_MA_EXQ_TAG = angular.copy(data); 

            //$scope.listPlantSelect = angular.copy(mPlantData);
            console.log(data);
            
            $scope.TargetCheck = $scope.setTargetCheck($scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK);
            $scope.CorrectCheck  = $scope.setCorrectCheck($scope.createQMS_MA_EXQ_TAG.TAG_CORRECT);

            $scope.listUnit.forEach(function(entry) {
		    	if($scope.createQMS_MA_EXQ_TAG.UNIT_ID == entry.ID){  
		    		$scope.tempUnitQtyId =  entry; 
		    		return false;
		    	} 
			});
            $(".quality-tag-modal-lg").modal('show');
        };
        
        //#endregion

         //#region AccumTag
        $scope.AllExaAccumTagSelected = false;
        $scope.listExaAccumTag ;
        $scope.ShowExaAccumTag = true;
        $scope.tempExaQualityTagId;

        $scope.listAddExaMemberTagSelect;
        

        $scope.listAddExaMemberTag = [];
        $scope.listRemoveExaMemberTag = [];

        $scope.createQMS_MA_EXQ_ACCUM_TAG = getCreateQMS_MA_EXQ_ACCUM_TAG();

        $scope.editAccumMember = function (mAccumMemberData) {
            
            $scope.listExaQualityTag.forEach(function(entry) {
		    	if(mAccumMemberData.EXA_TAG_VALUE == entry.ID){  
		    		$scope.tempExaQualityTagId =  entry; 
		    		return false;
		    	} 
			});

            $scope.ShowExaAccumTag = false;
            $scope.listAddExaMemberTagSelect = mAccumMemberData;// angular.copy(mAccumMemberData);
        };

        $scope.resetAccumMember = function () {
            $scope.ShowExaAccumTag = true;
            $scope.listAddExaMemberTagSelect = {};
            $scope.createQMS_MA_EXQ_ACCUM_TAG = getCreateQMS_MA_EXQ_ACCUM_TAG();
            $scope.tempExaQualityTagId = "";
        };

        $scope.getAccumMemberTemplate = function (mAccumMemberData) { 


            if(typeof $scope.listAddExaMemberTagSelect === "undefined"){
                 return 'displayAccumTag';
            }
             

            if (mAccumMemberData === $scope.listAddExaMemberTagSelect) return 'editAccumTag';
                 else return 'displayAccumTag';
        };

        $scope.addMember = function(){
            
            console.log( "addMember",  $scope.tempExaQualityTagId );

            if(typeof $scope.tempExaQualityTagId === "undefined"){
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }else{
                $scope.listAddExaMemberTag.push({
                    ID: $scope.createQMS_MA_EXQ_ACCUM_TAG.ID,
                    EXA_TAG_NAME : $scope.tempExaQualityTagId.EXA_TAG_NAME,
                    EXA_TAG_ID: 0, //หมายเลข master id
                    EXA_TAG_VALUE: $scope.tempExaQualityTagId.ID, //หมายเลข ค่าที่นำมาคำนวณ
                    CONVERT_VALUE: $scope.createQMS_MA_EXQ_ACCUM_TAG.CONVERT_VALUE,
                    ITEM_SELECTED: false
                });
                $scope.resetAccumMember();
            }
        }

        $scope.delMemberData = function(){
            var delDataArray = [];
           
            $scope.listAddExaMemberTag.forEach(function (entry, index) {
	             if (true == entry.ITEM_SELECTED) {
	                  
                    if( entry.ID > 0)
                        $scope.listRemoveExaMemberTag.push({ "ID" : entry.ID });

                    var index = $scope.listAddExaMemberTag.indexOf(entry);
                    delDataArray.push( index );
                    //$scope.listAddExaMemberTag.splice(index, 1);
	             }
	         });
             
            for (var i = delDataArray.length -1; i >= 0; i--){
                $scope.listAddExaMemberTag.splice(delDataArray[i],1);
            }
            $scope.$apply();
        }

        $scope.change = function(itemSelected){
            console.log("change", itemSelected );
            $scope.tempExaQualityTagId = itemSelected;
        }

        $scope.saveEditAccumMember = function(item){ 
            //$scope.ShowExaAccumTag = true;

            item.EXA_TAG_NAME = $scope.tempExaQualityTagId.EXA_TAG_NAME;
            item.EXA_TAG_VALUE = $scope.tempExaQualityTagId.ID;
            $scope.resetAccumMember();
        }

        $scope.SelectAllExaAccumTagCheck = function () { Fact.SelectAllCheck($scope.listExaAccumTag, $scope.AllExaAccumTagSelected) }

        $scope.getTargetCheck = function(){
            if($scope.TargetCheck == true){
                return 1;
            }else{
                return 0;
            }
        }

        $scope.saveAccumQMS_MA_EXQ_TAG = function () { 
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_EXQ_TAG");

            $scope.createQMS_MA_EXQ_TAG.PRODUCT_MAPPING_ID = $scope.createQMS_MA_PRODUCT_MAPPING.ID;
            $scope.createQMS_MA_EXQ_TAG.UNIT_ID = $scope.tempUnitQtyId.ID;
            $scope.createQMS_MA_EXQ_TAG.TAG_TYPE = 4; //1: Accum, 2:Quantity-PV, 3: Quantity -SUM, 4: Accum
            $scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK = $scope.getTargetCheck();
            $scope.createQMS_MA_EXQ_TAG.TAG_CORRECT = $scope.getCorrectCheck(); 
            
            $scope.createQMS_MA_EXQ_TAG.lstAccumTag = [];
            $scope.listAddExaMemberTag.forEach(function (entry, index) {
	             $scope.createQMS_MA_EXQ_TAG.lstAccumTag.push({
                                                    "ID" : entry.ID,
                                                    "EXA_TAG_ID" : entry.EXA_TAG_ID,
                                                    "EXCEL_NAME" : entry.EXCEL_NAME,
                                                    "EXA_TAG_VALUE" : entry.EXA_TAG_VALUE,
                                                    "CONVERT_VALUE" : entry.CONVERT_VALUE
                                                });
	        });
             
            
            //$scope.createQMS_MA_EXQ_TAG.lstAccumTag = $scope.listAddExaMemberTag;//JSON.stringify($scope.listAddExaMemberTag);
            $scope.createQMS_MA_EXQ_TAG.lstDelAccumTag = [];
            $scope.listRemoveExaMemberTag.forEach(function (entry, index) {
	             $scope.createQMS_MA_EXQ_TAG.lstDelAccumTag.push(entry.ID);
	        });
            //$scope.createQMS_MA_EXQ_TAG.lstDelAccumTag = $scope.listRemoveExaMemberTag;//JSON.stringify($scope.listRemoveExaMemberTag);

            var jsonData = $scope.createQMS_MA_EXQ_TAG;
            if($scope.myAccumQMS_MA_EXQ_TAG.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) {  $(".quality-accum-tag-modal-lg").modal('hide');   $scope.loadActiveExaAccumTag();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.loadActiveExaAccumTag = function(){ 
            var urlName = get_base_url("PlantProductMapping/GetExaAccumTagList");
            var jsonData = {"id" : $scope.createQMS_MA_PRODUCT_MAPPING.ID };
            Fact.loadlistData(urlName, jsonData, function (response){  
                $scope.listExaAccumTag = response.data.message;
                if( $scope.createQMS_MA_PRODUCT_MAPPING.ID > 0){
                    $(".showActiveExaAccumTag").show();
                }
            });  
        }

        $scope.delExaAccumTag = function(){
            var urlName = get_base_url("PlantProductMapping/DeleteExaAccumTag");
            Fact.deleteMultiDataEx(urlName, $scope.listExaAccumTag, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveExaAccumTag(); });
        }

        $scope.resetExaAccumTag = function () {
//            $scope.ShowExaAccumTag = true;
//            $scope.listExaAccumTagSelect = {};
            $scope.createQMS_MA_EXQ_TAG = getCreateQMS_MA_EXQ_TAG();
            $scope.listAddExaMemberTag = [];
            $scope.listRemoveExaMemberTag = [];
            $scope.TargetCheck = $scope.setTargetCheck($scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK);
            $scope.CorrectCheck  = $scope.setCorrectCheck($scope.createQMS_MA_EXQ_TAG.TAG_CORRECT);
        };

        $scope.openExaAccumTag = function () {
            $scope.tempUnitQtyId = ""; 
            $scope.resetExaAccumTag();
            $scope.tempExaQualityTagId = {};
           
            $(".quality-accum-tag-modal-lg").modal('show');
        };
        
        $scope.editExaAccumTag = function (data) {  
             
            var urlName = get_base_url("PlantProductMapping/GetAccumMemberTagById");
            var jsonData = { "id" : data.ID  };
             
            
            Fact.loadlistData(urlName, jsonData, function (response) {
                    $scope.listAddExaMemberTag = response.data.message;
                    $scope.tempUnitQtyId = "";
                    $scope.createQMS_MA_EXQ_TAG =  angular.copy(data); //data;
                    $scope.TargetCheck = $scope.setTargetCheck($scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK);
                    $scope.CorrectCheck  = $scope.setCorrectCheck($scope.createQMS_MA_EXQ_TAG.TAG_CORRECT);

                    $scope.listUnit.forEach(function(entry) {
		    	        if($scope.createQMS_MA_EXQ_TAG.UNIT_ID == entry.ID){  
		    		        $scope.tempUnitQtyId =  entry; 
		    		        return false;
		    	        } 
			        });

                    $scope.tempExaQualityTagId = {};

                    $(".quality-accum-tag-modal-lg").modal('show');
             });
        };
        
        //#endregion

        //#region QtyTag Tag ปริมาณ
        $scope.AllExaQtyTagSelected = false;
        $scope.listExaQtyTag;
        $scope.ShowExaQtyTag = true;
        $scope.tagType = 2;

        //$scope.createQMS_MA_EXQ_TAG = getCreateQMS_MA_EXQ_TAG();
        $scope.SelectAllExaQtyTagCheck = function () { Fact.SelectAllCheck($scope.listExaQtyTag, $scope.AllExaQtyTagSelected) }

        $scope.saveQtyQMS_MA_EXQ_TAG = function () { 
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_EXQ_TAG");

            $scope.createQMS_MA_EXQ_TAG.PRODUCT_MAPPING_ID = $scope.createQMS_MA_PRODUCT_MAPPING.ID;
            $scope.createQMS_MA_EXQ_TAG.UNIT_ID = $scope.tempUnitQtyId.ID;
            $scope.createQMS_MA_EXQ_TAG.TAG_TYPE = $scope.tagType; //1: Quality, 2:Quantity-PV, 3: Quantity -SUM, 4: Accum
            $scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK = $scope.getTargetCheck();

            var jsonData = $scope.createQMS_MA_EXQ_TAG;
            if($scope.myQMS_MA_EXQ_TAG.$valid){
                Fact.saveDataCallback(urlName, jsonData, function (response) {  $(".quantity-tag-modal-lg").modal('hide');   $scope.loadActiveExaQtyTag();  });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.loadActiveExaQtyTag = function(){ 
            var urlName = get_base_url("PlantProductMapping/GetExaQtyTagList");
            var jsonData = {"id" : $scope.createQMS_MA_PRODUCT_MAPPING.ID };
            Fact.loadlistData(urlName, jsonData, function (response){  
                $scope.listExaQtyTag = response.data.message;
                if( $scope.createQMS_MA_PRODUCT_MAPPING.ID > 0){ 
                    $(".showExaQtyTag").show();
                }
            });  
        }

        $scope.delExaQtyTag = function(){
            var urlName = get_base_url("PlantProductMapping/DeleteExaQtyTag");
            Fact.deleteMultiDataEx(urlName, $scope.listExaQtyTag, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadActiveExaQtyTag(); });
        }

        $scope.resetExaQtyTag = function () {
//            $scope.ShowExaQtyTag = true; 
            $scope.tagType = 2; 
            $scope.createQMS_MA_EXQ_TAG = getCreateQMS_MA_EXQ_TAG();
        };

        $scope.openExaQtyTag = function () {
            $scope.tempUnitQtyId = ""; 
            $scope.resetExaQtyTag();
            $(".quantity-tag-modal-lg").modal('show');
        };
        
        $scope.editExaQtyTag = function (data) {  
            $scope.tempUnitQtyId = "";
            $scope.createQMS_MA_EXQ_TAG = angular.copy(data); //data;

            $scope.listUnit.forEach(function(entry) {
		    	if($scope.createQMS_MA_EXQ_TAG.UNIT_ID == entry.ID){  
		    		$scope.tempUnitQtyId =  entry; 
		    		return false;
		    	} 
			}); 
            console.log($scope.createQMS_MA_EXQ_TAG);
            $scope.tagType = $scope.createQMS_MA_EXQ_TAG.TAG_TYPE;
            $(".quantity-tag-modal-lg").modal('show');
        };
        
        //#endregion


        //#region Control & Spec
          //public enum EXA_TAG_TYPE 1: Quality, 2:Quantity-PV, 3: Quantity -SUM, 4: Accum 
        $scope.adjustExaTagPostion = function(data, arrow, TAG_TYPE ){
             
            var urlName = get_base_url("PlantProductMapping/SetExaTagPosition");
            var jsonData = {
                                "ID": data.ID,
                                "PRODUCT_MAPPING_ID" : $scope.createQMS_MA_PRODUCT_MAPPING.ID, 
                                "DIRECTION" : arrow , 
                                "TAG_TYPE" : TAG_TYPE 
                            };

            Fact.loadlistData(urlName, jsonData, function (response){  
                if( TAG_TYPE == 1){ 
                    $scope.listExaQualityTag = response.data.message; 
                }else if ( TAG_TYPE == 4){
                    $scope.listExaAccumTag = response.data.message; 
                }else{
                    $scope.listExaQtyTag = response.data.message; 
                }
            });
        }

        $scope.listControlGroup = getListControlGroup();
        $scope.listControlSample;
        $scope.listControlItem;
        
        $scope.listControlGroup2 = getListControlGroup();
        $scope.listControlSample2;
        $scope.listControlItem2;

        $scope.editQMS_MA_EXQ_TAG;

        $scope.templistControlGroup; 
        $scope.tempControlValue;
        $scope.tempSampleValue;
        $scope.tempItemValue;

        $scope.templistControlGroup2; 
        $scope.tempControlValue2;
        $scope.tempSampleValue2;
        $scope.tempItemValue2;


        $scope.listSpecGroup = getListSpecGroup();
        $scope.listSpecSample;
        $scope.listSpecItem;
        
        $scope.listSpecGroup2 = getListSpecGroup();
        $scope.listSpecSample2;
        $scope.listSpecItem2;

        $scope.editSpecQMS_MA_EXQ_TAG;

        $scope.templistSpecGroup; 
        $scope.tempSpecValue;
        $scope.tempSpecSampleValue;
        $scope.tempSpecItemValue;

        $scope.templistSpecGroup2; 
        $scope.tempSpecValue2;
        $scope.tempSpecSampleValue2;
        $scope.tempSpecItemValue2;

        $scope.ChangeControl;
        $scope.ChangeSpec;

        $scope.loadControlSample = function(){ 
           
            var urlName = get_base_url("ControlValue/GetSampleListByControlId");
             
            var jsonData = {
	                "controlId": $scope.templistControlGroup.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                       
                    $scope.optControl = true;
                    $scope.listControlSample = response.data.message; 
                    //reset 
                    $scope.templistControlItem = {};
                    $scope.listControlItem = {};
                    $scope.tempControlValue = "";
                }catch(e){
                    
                }
            }); 
        }

        $scope.loadControlSample2 = function(){ 
           
            var urlName = get_base_url("ControlValue/GetSampleListByControlId");
             
            var jsonData = {
	                "controlId": $scope.templistControlGroup2.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                       
                    $scope.optControl = true;
                    $scope.listControlSample2 = response.data.message; 
                    //reset 
                    $scope.templistControlItem2 = {};
                    $scope.listControlItem2 = {};
                    $scope.tempControlValue2 = "";
                }catch(e){
                    
                }
            }); 
        }

        $scope.loadControlItem = function(){

            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
            var jsonData = {
	                "controlId": $scope.templistControlGroup.ID,
                    "sampleId": $scope.templistControlSample.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                    $scope.listControlItem = response.data.message; 
                    $scope.templistControlItem = {};
                    $scope.showControlItem();
                }catch(e){
                    
                }
            });
        }

        $scope.loadControlItem2 = function(){

            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
            var jsonData = {
	                "controlId": $scope.templistControlGroup2.ID,
                    "sampleId": $scope.templistControlSample2.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                    $scope.listControlItem2 = response.data.message; 
                    $scope.templistControlItem2 = {};
                    $scope.showControlItem2();
                }catch(e){
                    
                }
            }); 
        }

        $scope.showControlItem = function(){
           
            if( typeof $scope.templistControlItem !== "undefined" ){
                $scope.tempControlValue = $scope.templistControlItem.CONTROL_DATA_NAME;
            }else{
               $scope.tempControlValue = "";
            }
        }

        $scope.showControlItem2 = function(){
           
            if( typeof $scope.templistControlItem2 !== "undefined" ){
                $scope.tempControlValue2 = $scope.templistControlItem2.CONTROL_DATA_NAME;
            }else{
               $scope.tempControlValue2 = "";
            }
        }

        $scope.saveControlQMS_MA_EXQ_TAG = function () { 
            console.log("saveControlQMS_MA_EXQ_TAG");
            //var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_EXQ_TAG");
            var urlName = get_base_url("PlantProductMapping/UpdateSpecAndControlQMS_MA_EXQ_TAG");
            var valid = true;
             
            $scope.editQMS_MA_EXQ_TAG.CHANGE_CONTROL_CHECK = $scope.ChangeControl;

            
            if( typeof $scope.templistControlItem !== "undefined"  && typeof $scope.templistControlItem.ID !== "undefined" ){
                $scope.editQMS_MA_EXQ_TAG.CONTROL_ID = $scope.templistControlItem.ID;
            }else{
                valid = false;
            }

            if($scope.ChangeControl == true){
                if( typeof $scope.templistControlItem2 !== "undefined"  && typeof $scope.templistControlItem2.ID !== "undefined" ){
                    $scope.editQMS_MA_EXQ_TAG.CHANGE_CONTROL_ID = $scope.templistControlItem2.ID;
                    valid = true;
                }else{
                    valid = false;
                }
            }else{ 
                $scope.editQMS_MA_EXQ_TAG.CHANGE_CONTROL_ID = 0; 
            } 
             

            if(valid == true){
                $(".control-value-modal-lg").modal('hide');
                var jsonData = $scope.editQMS_MA_EXQ_TAG; 
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                    if($scope.editQMS_MA_EXQ_TAG.TAG_TYPE == 1){
                        $scope.loadActiveExaQualityTag();
                    }else{
                        $scope.loadActiveExaAccumTag();
                    }
                });             
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        }

        $scope.delControlValue = function () { 
            $(".control-value-modal-lg").modal('hide');
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_EXQ_TAG");
            $scope.editQMS_MA_EXQ_TAG.CONTROL_ID = 0; 
            $scope.editQMS_MA_EXQ_TAG.CHANGE_CONTROL_ID = 0;
            var jsonData = $scope.editQMS_MA_EXQ_TAG; 
            Fact.saveDataCallback(urlName, jsonData, function (response) {
                if($scope.editQMS_MA_EXQ_TAG.TAG_TYPE == 1){
                    $scope.loadActiveExaQualityTag();
                }else{
                    $scope.loadActiveExaAccumTag();
                }
            });             
        } 

        $scope.openControlDialog = function(data){

            $scope.editQMS_MA_EXQ_TAG = angular.copy(data);
            //reset 
            $scope.templistControlGroup = {};
            $scope.templistControlSample = {};
            $scope.templistControlItem = {};
            $scope.tempControlValue = "";
            $scope.ChangeControl = $scope.setTargetCheck( $scope.editQMS_MA_EXQ_TAG.CHANGE_CONTROL_CHECK );

            $scope.templistControlGroup2 = {};
            $scope.templistControlSample2 = {};
            $scope.templistControlItem2 = {};
            $scope.tempControlValue2 = "";

            console.log($scope.editQMS_MA_EXQ_TAG.CHANGE_CONTROL_CHECK, $scope.ChangeControl);

//            var urlName = get_base_url("PlantProductMapping/GetAccumMemberTagById");
//            var jsonData = { "id" : data.ID  };
//             
//            
//            Fact.loadlistData(urlName, jsonData, function (response) {
//                    $scope.editQMS_MA_EXQ_TAG.lstDelAccumTag = response.data.message;
//                   /* $scope.tempUnitQtyId = "";
//                    $scope.createQMS_MA_EXQ_TAG =  angular.copy(data); //data;
//                    $scope.TargetCheck = $scope.setTargetCheck($scope.createQMS_MA_EXQ_TAG.TAG_TARGET_CHECK);
//                    $scope.CorrectCheck  = $scope.setCorrectCheck($scope.createQMS_MA_EXQ_TAG.TAG_CORRECT);

//                    $scope.listUnit.forEach(function(entry) {
//		    	        if($scope.createQMS_MA_EXQ_TAG.UNIT_ID == entry.ID){  
//		    		        $scope.tempUnitQtyId =  entry; 
//		    		        return false;
//		    	        } 
//			        });

//                    $scope.tempExaQualityTagId = {};

//                    $(".quality-accum-tag-modal-lg").modal('show');*/
//             });


            $(".control-value-modal-lg").modal('show'); 
                
            if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ID  > 0){
                $scope.listControlGroup.forEach(function(entry) {                     
                    if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ID == entry.ID){  
		    	        $scope.templistControlGroup =  entry; 
                    }
			    });
                     
                //get sample list then assign then get item list and assgin

                var urlName = get_base_url("ControlValue/GetSampleListByControlId");

                    
                var jsonData = {
	                    "controlId": $scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ID
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{  
                        $scope.optControl = true;
                        $scope.listControlSample = response.data.message;
                             
                        //reset 
                        $scope.templistControlItem = {};
                        $scope.listControlItem = {};
//                               $scope.tempControlValue = "";

                        //assign sample value 
                        $scope.listControlSample.forEach(function(entry) { 
                            if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_SMAPLE_ID== entry.ID){  
		    	                $scope.templistControlSample =  entry;
                                     
                            }
			            });


                        //load Control Item

                        var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
                                  
                        var jsonData = {
	                            "controlId": $scope.templistControlGroup.ID,
                                "sampleId": $scope.templistControlSample.ID
	                    };
                  
                        Fact.loadlistData(urlName, jsonData, function(response){ 
                            try{ 
                                $scope.listControlItem = response.data.message;
                                $scope.listControlItem.forEach(function(entry) { 
                                    if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ITEM_ID == entry.CONTROL_COLUMN_ID){  
		    	                        $scope.templistControlItem =  entry; 
                                        $scope.showControlItem();
                                    }
			                    });
                            }catch(e){
                    
                            }
                        }); 
                    }catch(e){
                    
                    }
                });
            }
            
            //Get Change Control 
            if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ID2  > 0){
                $scope.listControlGroup2.forEach(function(entry) { 
                    
                    if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ID2 == entry.ID){  
		    	        $scope.templistControlGroup2 =  entry; 
                    }
			    });
                     
                //get sample list then assign then get item list and assgin
                var urlName = get_base_url("ControlValue/GetSampleListByControlId");
                var jsonData = {
	                    "controlId": $scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ID2
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{  
                        $scope.listControlSample2 = response.data.message;
                             
                        //reset 
                        $scope.templistControlItem2 = {};
                        $scope.listControlItem2 = {};
//                               $scope.tempControlValue = "";

                        //assign sample value 
                        $scope.listControlSample2.forEach(function(entry) { 
                            if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_SMAPLE_ID2== entry.ID){  
		    	                $scope.templistControlSample2 =  entry;
                            }
			            });


                        //load Control Item

                        var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
                                  
                        var jsonData = {
	                            "controlId": $scope.templistControlGroup2.ID,
                                "sampleId": $scope.templistControlSample2.ID
	                    };
                  
                        Fact.loadlistData(urlName, jsonData, function(response){ 
                            try{ 
                                $scope.listControlItem2 = response.data.message;
                                $scope.listControlItem2.forEach(function(entry) { 
                                    if($scope.editQMS_MA_EXQ_TAG.CONTROL_GROUP_ITEM_ID2 == entry.CONTROL_COLUMN_ID){  
		    	                        $scope.templistControlItem2 =  entry; 
                                        $scope.showControlItem2();
                                    }
			                    });
                            }catch(e){
                    
                            }
                        }); 
                    }catch(e){
                    
                    }
                });
            }
            
             
        }

        $scope.loadSpecSample = function(){ 
           
            var urlName = get_base_url("ControlValue/GetSampleListByControlId");
             
            var jsonData = {
	                "controlId": $scope.templistSpecGroup.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                       
                    $scope.optControl = true;
                    $scope.listSpecSample = response.data.message; 
                    //reset 
                    $scope.templistSpecItem = {};
                    $scope.listSpecItem = {};
                    $scope.tempSpecValue = "";
                }catch(e){
                    
                }
            }); 
        }

        $scope.loadSpecSample2 = function(){ 
           
            var urlName = get_base_url("ControlValue/GetSampleListByControlId");
             
            var jsonData = {
	                "controlId": $scope.templistSpecGroup2.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                       
                    $scope.optControl = true;
                    $scope.listSpecSample2 = response.data.message; 
                    //reset 
                    $scope.templistSpecItem2 = {};
                    $scope.listSpecItem2 = {};
                    $scope.tempSpecValue2 = "";
                }catch(e){
                    
                }
            }); 
        }

        $scope.loadSpecItem = function(){

            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
            var jsonData = {
	                "controlId": $scope.templistSpecGroup.ID,
                    "sampleId": $scope.templistSpecSample.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                    $scope.listSpecItem = response.data.message; 
                    $scope.templistSpecItem = {};
                    $scope.showSpecItem();
                }catch(e){
                    
                }
            });
        }

        $scope.loadSpecItem2 = function(){

            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
            var jsonData = {
	                "controlId": $scope.templistSpecGroup2.ID,
                    "sampleId": $scope.templistSpecSample2.ID
	        };
                  
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                    $scope.listSpecItem2 = response.data.message; 
                    $scope.templistSpecItem2 = {};
                    $scope.showSpecItem2();
                }catch(e){
                    
                }
            });
        }

        $scope.showSpecItem = function(){
           
            if( typeof $scope.templistSpecItem !== "undefined" ){
                $scope.tempSpecValue = $scope.templistSpecItem.CONTROL_DATA_NAME;
            }else{
               $scope.tempSpecValue = "";
            }
        }

        $scope.showSpecItem2 = function(){
           
            if( typeof $scope.templistSpecItem2 !== "undefined" ){
                $scope.tempSpecValue2 = $scope.templistSpecItem2.CONTROL_DATA_NAME;
            }else{
               $scope.tempSpecValue2 = "";
            }
        }

        $scope.saveSpecQMS_MA_EXQ_TAG = function () { 
            
           // var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_EXQ_TAG");
            var urlName = get_base_url("PlantProductMapping/UpdateSpecAndControlQMS_MA_EXQ_TAG");
            var valid = true;

            if( typeof $scope.templistSpecItem !== "undefined"  && typeof $scope.templistSpecItem.ID !== "undefined" ){
                 $scope.editQMS_MA_EXQ_TAG.SPEC_ID = $scope.templistSpecItem.ID;
            }else{
                valid = false;
            }
            
            $scope.editQMS_MA_EXQ_TAG.CHANGE_SPEC_CHECK = $scope.ChangeSpec;

            if($scope.ChangeSpec == true){
                if( typeof $scope.templistSpecItem2 !== "undefined"  && typeof $scope.templistSpecItem2.ID !== "undefined" ){
                    $scope.editQMS_MA_EXQ_TAG.CHANGE_SPEC_ID = $scope.templistSpecItem2.ID;
                }else{
                    valid = false;
                } 
            }else{
                $scope.editQMS_MA_EXQ_TAG.CHANGE_SPEC_ID = 0;
            }            
            
            if(true == valid){ 
               $(".spec-value-modal-lg").modal('hide'); 
               var jsonData = $scope.editQMS_MA_EXQ_TAG; 
                Fact.saveDataCallback(urlName, jsonData, function(response){
                    if($scope.editQMS_MA_EXQ_TAG.TAG_TYPE == 1){
                    $scope.loadActiveExaQualityTag();
                }else{
                    $scope.loadActiveExaAccumTag();
                }
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 
    
        }

        $scope.delSpecValue = function () { 
            $(".spec-value-modal-lg").modal('hide');
            var urlName = get_base_url("PlantProductMapping/CreateQMS_MA_EXQ_TAG");
            $scope.editQMS_MA_EXQ_TAG.SPEC_ID = 0;  
            var jsonData = $scope.editQMS_MA_EXQ_TAG; 
            Fact.saveDataCallback(urlName, jsonData, function (response) {  
                if($scope.editQMS_MA_EXQ_TAG.TAG_TYPE == 1){
                    $scope.loadActiveExaQualityTag();
                }else{
                    $scope.loadActiveExaAccumTag();
                }
            });             
        }

        $scope.openSpecDialog = function(data){ 

            $scope.editQMS_MA_EXQ_TAG = angular.copy(data);
            //reset 
            $scope.templistSpecGroup = {};
            $scope.templistSpecSample = {};
            $scope.templistSpecItem = {};
            $scope.tempSpecValue = "";
            $scope.SpecControl = $scope.editQMS_MA_EXQ_TAG.CHANGE_SPEC_CHECK;

            $(".spec-value-modal-lg").modal('show');

            if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ID  > 0){                 
                $scope.listSpecGroup.forEach(function(entry) {  
                    if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ID == entry.ID){  
		    	        $scope.templistSpecGroup =  entry;
                        $scope.$apply(); 
                    }
			    });
                     
                //get sample list then assign then get item list and assgin

                var urlName = get_base_url("ControlValue/GetSampleListByControlId");

                    
                    var jsonData = {
	                        "controlId": $scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ID
	                };
                  
                    Fact.loadlistData(urlName, jsonData, function(response){ 
                        try{  
                            $scope.optControl = true;
                            $scope.listSpecSample = response.data.message;
                             
                            //reset 
                            $scope.templistSpecItem = {};
                            $scope.listSpecItem = {};
//                               $scope.tempControlValue = "";

                            //assign sample value 
                            $scope.listSpecSample.forEach(function(entry) { 
                                if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_SMAPLE_ID== entry.ID){  
		    	                    $scope.templistSpecSample =  entry;
                                     
                                }
			                });


                            //load Control Item

                            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
                                  
                            var jsonData = {
	                                "controlId": $scope.templistSpecGroup.ID,
                                    "sampleId": $scope.templistSpecSample.ID
	                        };
                  
                            Fact.loadlistData(urlName, jsonData, function(response){ 
                                try{ 
                                    $scope.listSpecItem = response.data.message; 
                                    $scope.listSpecItem.forEach(function(entry) { 
                                        if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ITEM_ID == entry.CONTROL_COLUMN_ID){  
		    	                            $scope.templistSpecItem =  entry; 
                                            $scope.showSpecItem();
                                        }
			                        });
                                }catch(e){
                    
                                }
                            }); 
                        }catch(e){
                    
                        }
                    });
                }
                
                
                //Change Spec
                
            if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ID2  > 0){                 
                $scope.listSpecGroup2.forEach(function(entry) {  
                    if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ID2 == entry.ID){  
		    	        $scope.templistSpecGroup2 =  entry; 
                    }
			    });
                     
                //get sample list then assign then get item list and assgin

                var urlName = get_base_url("ControlValue/GetSampleListByControlId");

                    
                    var jsonData = {
	                        "controlId": $scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ID
	                };
                  
                    Fact.loadlistData(urlName, jsonData, function(response){ 
                        try{   
                            $scope.listSpecSample2 = response.data.message;
                             
                            //reset 
                            $scope.templistSpecItem2 = {};
                            $scope.listSpecItem2 = {};
//                               $scope.tempControlValue = "";

                            //assign sample value 
                            $scope.listSpecSample2.forEach(function(entry) { 
                                if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_SMAPLE_ID2== entry.ID){  
		    	                    $scope.templistSpecSample2 =  entry; 
                                }
			                });


                            //load Control Item

                            var urlName = get_base_url("ControlValue/GetItemControlValueListBySampleId");
                                  
                            var jsonData = {
	                                "controlId": $scope.templistSpecGroup2.ID,
                                    "sampleId": $scope.templistSpecSample2.ID
	                        };
                  
                            Fact.loadlistData(urlName, jsonData, function(response){ 
                                try{ 
                                    $scope.listSpecItem2 = response.data.message; 
                                    $scope.listSpecItem2.forEach(function(entry) { 
                                        if($scope.editQMS_MA_EXQ_TAG.SPEC_GROUP_ITEM_ID2 == entry.CONTROL_COLUMN_ID){  
		    	                            $scope.templistSpecItem2 =  entry; 
                                            $scope.showSpecItem2();
                                        }
			                        });
                                }catch(e){
                    
                                }
                            }); 
                        }catch(e){
                    
                        }
                    });
                }
                
                 
        }
        //#endregion

         
        $scope.showSearch = false;
        $scope.showDevice = false;
        $scope.showList = true;
        $scope.stampSearch = false;

        $scope.showSearchData = function(){  $scope.showSearch = true; $scope.showDevice = false ; $scope.showList = true; /*$("#searchDowntime").modal('show');*/}
        $scope.showDeviceData = function() { $scope.createQMS_MA_PRODUCT_MAPPING = getCreateQMS_MA_PRODUCT_MAPPING(); $scope.showSearch = $scope.stampSearch; $scope.showDevice = false ; $scope.showList = true;}
        $scope.closeDeviceData = function() {  $scope.stampSearch = false; $scope.showDeviceData();};
        $scope.showAddDevice = function() { $scope.createQMS_MA_PRODUCT_MAPPING = getCreateQMS_MA_PRODUCT_MAPPING();  $scope.initialData (); } 
        $scope.editData = function(mData){  $scope.createQMS_MA_PRODUCT_MAPPING = angular.copy(mData);  $scope.initialData (); }

        $scope.initialData = function(){
            
//            $scope.CreateTempStartDate  = null;
//            $scope.CreateTempEndDate  = null;
//            $scope.CreatetempPlantId = {};
//            $scope.CreatetempDocStatusId = {};   
//            $scope.CreatetempProductId= {}; 

            $scope.stampSearch = $scope.showSearch;
            $scope.showSearch = false; $scope.showDevice = true ; $scope.showList = false;
//            
//            $scope.listPlant.forEach(function(entry) {
//		    	if($scope.createModel.PLANT_ID  == entry.ID){  
//		    		$scope.CreatetempPlantId =  entry; 
//		    		return false;
//		    	}
//			});
//             
//               
//            $scope.listDocStatusEx.forEach(function(entry) {
//		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
//		    		$scope.CreatetempDocStatusId =  entry; 
//		    		return false;
//		    	} 
//			});

//            $scope.CreateTempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
//            $scope.CreateTempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE); 


             $(".optchosen").chosen();

             $scope.loadActiveGradeCallBack(function (){ 
                 $scope.listGrade.forEach(function(entry) {
		    	    if($scope.createQMS_MA_PRODUCT_MAPPING.GRADE_ID == entry.ID){  
		    		    $scope.tempGradeId =  entry; 
		    		    return false;
		    	    } 
			    });
             });
             $scope.loadActivePlantCallBack(function (){ 
                 $scope.listPlant.forEach(function(entry) {
		    	    if($scope.createQMS_MA_PRODUCT_MAPPING.PLANT_ID  == entry.ID){  
		    		    $scope.tempPlantId =  entry; 
		    		    return false;
		    	    } 
			    });
             });
             $scope.loadActiveProductCallBack(function (){ 
                 $scope.listProduct.forEach(function(entry) {
		    	    if($scope.createQMS_MA_PRODUCT_MAPPING.PRODUCT_ID  == entry.ID){  
		    		    $scope.tempProductId =  entry; 
		    		    return false;
		    	    } 
			    });
             });

             $scope.loadActiveUnit(); 
             $scope.loadActiveExaQualityTag();
             $scope.loadActiveExaQtyTag();
             $scope.loadActiveExaAccumTag();

             if($scope.createQMS_MA_PRODUCT_MAPPING.ID > 0){
                    $(".account_check").show();
             }
        }

       

        $scope.mSearch = getSearchModel();

        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1;
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc');
        $scope.TempPageIndex;

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;
        $scope.listPlant = getListPlant();
        $scope.listProduct = getListProduct();
        $scope.listGrade = getListGrade();
        $scope.listPlantProduct; // listdata
        $scope.AllPlantProduct; //checkbox

        $scope.showSearch = false;
        //Search

        $scope.tempPlantId;
        $scope.tempProductId ;
        $scope.tempGradeId; 
        $scope.SelectAllCheck = function () { Fact.SelectAllCheck($scope.listPlantProduct, $scope.AllPlantProduct) }
        
        $scope.sort = function(e){ 
            Fact.sort(e);
            $scope.SortColumn = Fact.getSortColumn();
            $scope.SortOrder = Fact.getSortOrder();
            $scope.loadPlantProduct();
        }

        $scope.clearPlantProduct = function() {  
              
               $scope.SearchtempPlantId = {};
               $scope.SearchtempProductId = {} ;
               $scope.SearchtempGradeId = {}; 
               $scope.mSearch = getSearchModel(); 
               console.log( $scope.mSearch);
               $scope.loadPlantProduct();
        }
          
        $scope.showPlantProductSearch = function(){  $scope.showSearch = true; }
        $scope.closePlantProductSearch = function() { $scope.showSearch = false; }
      
       
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadPlantProduct(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadPlantProduct(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadPlantProduct(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadPlantProduct(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex ); $scope.loadPlantProduct(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadPlantProduct(); }
        
        $scope.loadPlantProduct = function () { 
             //กำหนด ค่า params ให้กับ msearch
            if( typeof $scope.SearchtempPlantId !== "undefined"  && typeof $scope.SearchtempPlantId.ID !== "undefined"){  
                $scope.mSearch.PLANT_ID = $scope.SearchtempPlantId.ID; 
            } 

            if( typeof $scope.SearchtempProductId !== "undefined"  && typeof $scope.SearchtempProductId.ID !== "undefined" ){
                $scope.mSearch.PRODUCT_ID = $scope.SearchtempProductId.ID; 
            }

            if( typeof $scope.SearchtempGradeId !== "undefined"  && typeof $scope.SearchtempGradeId.ID !== "undefined"){
                $scope.mSearch.GRADE_ID = $scope.SearchtempGradeId.ID; 
            }

            console.log( "loadDataTable", $scope.mSearch);

            Fact.loadDataTable($scope.mSearch, function(response){
                
                try{
                    $scope.listPlantProduct = response.data.message;
                    $scope.totalPage = response.data.toTalPage; //init;
                    $scope.totalRecords = response.data.totalRecords;
                    $scope.listPageIndex = response.data.listPageIndex;
                    $scope.listPageIndex.forEach(function(entry, index) {
                            if($scope.PageIndex == entry.PageIndex)
		    	            $scope.TempPageIndex =  entry;  
			        });
                }catch(e){

                } 
                $(".tblResult").show();
            });
        } 
         
        $scope.delPlantProduct = function(){
            Fact.deleteMultiData($scope.listPlantProduct, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadPlantProduct(); });
        }

        $scope.init = function(){

            Fact.setDataTableUrl(get_base_url("PlantProductMapping/GetQMS_MA_PRODUCT_MAPPINGBySearch"));
            Fact.setDelelteUrl(get_base_url("PlantProductMapping/DeleteQMS_MA_PRODUCT_MAPPING"));
            Fact.setSearchModel( getSearchModel() );
             
            $scope.listPageSize.forEach(function(entry, index) {
                 if(0 == index)
		    	    $scope.TempPageSize =  entry;  
			});
            
            Fact.setSortIcon();
            $scope.loadPlantProduct();
        }

        $scope.init();
    });  


    function getCreateQMS_MA_PLANT(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_PLANT));
        return lstData; 
    }


    function getCreateQMS_MA_PRODUCT(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_PRODUCT));
        return lstData; 
    }

    function getCreateQMS_MA_GRADE(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_GRADE));
        return lstData; 
    }

    function getCreateQMS_MA_PRODUCT_MAPPING(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_PRODUCT_MAPPING));
        return lstData; 
    }

    function getCreateQMS_MA_UNIT(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_UNIT));
        return lstData; 
    }

    function getCreateQMS_MA_EXQ_TAG(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_EXQ_TAG));
        return lstData; 
    }
    
    function getCreateQMS_MA_EXQ_ACCUM_TAG(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_EXQ_ACCUM_TAG));
        return lstData; 
    }
    
    function getListControlGroup(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listControlGroup)); 
        return lstData;
    }


    function getListSpecGroup(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listSpecGroup)); 
        return lstData;
    }

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchPlantProduct)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListProduct(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listProduct)); 
        return lstData; 
    }

    function getListGrade(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listGrade)); 
        return lstData; 
    }

</script>