﻿<!-- Control Value modal -->
<div class="modal fade control-value-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ControlValue 11</h4>
               </div> 
               <div class="modal-body">
                     <div  class="form-horizontal form-label-left" >
                         <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select
					                ng-model="templistControlGroup"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="loadControlSample()"
					                ng-options="item.NAME  for item in listControlGroup"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div>
                        </div><div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                            <div class="col-md-6 col-sm-6 col-xs-12"   >
                                <select 
					                ng-model="templistControlSample"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="loadControlItem()"
					                ng-options="item.SAMPLE  for item in listControlSample"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div> 
                        </div><div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                            <div class="col-md-6 col-sm-6 col-xs-12"   >
                                <select 
					                ng-model="templistControlItem"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="showControlItem()"
					                ng-options="item.CONTROL_COLUMN_NAME + ' (' + item.UNIT_NAME + ')'   for item in listControlItem"
                                    class="chosen_required">
					                <option value=""></option>
				                </select>
                            </div> 
                        </div><div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ControlValue</label>
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">
                                {{tempControlValue}}
                            </label>
                        </div><div class="form-group" >
                            <div class="col-md-3 col-sm-3 col-xs-3">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                              <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="ChangeControl" > @Resources.Strings.ChangeGrade
                                </label>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                            </div>
                        </div><!-- 2nd Control value --> 
                            <div class="form-group"  ng-show="ChangeControl" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select
					                ng-model="templistControlGroup2"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="loadControlSample2()"
					                ng-options="item.NAME  for item in listControlGroup2"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div>
                        </div><div class="form-group"  ng-show="ChangeControl"  >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                            <div class="col-md-6 col-sm-6 col-xs-12"   >
                                <select 
					                ng-model="templistControlSample2"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="loadControlItem2()"
					                ng-options="item.SAMPLE  for item in listControlSample2"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div> 
                        </div><div class="form-group"  ng-show="ChangeControl"  >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                            <div class="col-md-6 col-sm-6 col-xs-12"   >
                                <select 
					                ng-model="templistControlItem2"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="showControlItem2()"
					                ng-options="item.CONTROL_COLUMN_NAME + ' (' + item.UNIT_NAME + ')'   for item in listControlItem2"
                                    class="chosen_required">
					                <option value=""></option>
				                </select>
                            </div> 
                        </div><div class="form-group"   ng-show="ChangeControl" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.ControlValue</label>
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">
                                {{tempControlValue2}}
                            </label>
                        </div> 
                    </div> 
               </div> 
               <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary" my-confirm-click="delControlValue()"  data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3"> 
                            <button type="button" class="btn btn-primary" ng-click="saveControlQMS_MA_EXQ_TAG()" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size " ng-show="editQMS_MA_EXQ_TAG.ID > 0">
		                        @Resources.Strings.CreateBy {{editQMS_MA_EXQ_TAG.CREATE_USER}} ( {{editQMS_MA_EXQ_TAG.SHOW_CREATE_DATE }} )
	                        </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                        <div class="title_right text_right small_font_size " ng-show="editQMS_MA_EXQ_TAG.ID > 0">
	                            @Resources.Strings.UpdateBy {{editQMS_MA_EXQ_TAG.UPDATE_USER}} ( {{editQMS_MA_EXQ_TAG.SHOW_UPDATE_DATE }} )
	                        </div>
                        </div>
                    </div>
               </div> 
          </div>
     </div>
</div>
<!-- end Control Value modal -->


<!-- Spec Value modal -->
<div class="modal fade spec-value-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.SpecValue</h4>
               </div> 
               <div class="modal-body">
                   <div  class="form-horizontal form-label-left" >
                         <div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="templistSpecGroup"
					                chosen="{inherit_select_classes: true}"  
                                    ng-change="loadSpecSample()"
					                ng-options="item.NAME  for item in listSpecGroup"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div>
                        </div><div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                            <div class="col-md-3 col-sm-3 col-xs-12"   >
                                <select 
					                ng-model="templistSpecSample"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="loadSpecItem()"
					                ng-options="item.SAMPLE  for item in listSpecSample"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div> 
                        </div><div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                            <div class="col-md-3 col-sm-3 col-xs-12"   >
                                <select 
					                ng-model="templistSpecItem"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="showSpecItem()"
					                ng-options="item.CONTROL_COLUMN_NAME + ' (' + item.UNIT_NAME + ')'   for item in listSpecItem" 
                                    class="chosen_required">
					                <option value=""></option>
				                </select>
                            </div> 
                        </div><div class="form-group" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.SpecValue</label>
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">
                                {{tempSpecValue}}
                            </label>
                        </div><div class="form-group" >
                            <div class="col-md-3 col-sm-3 col-xs-3">
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                              <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="ChangeSpec" > @Resources.Strings.ChangeGrade
                                </label>
                              </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                            </div>
                        </div><!-- 2nd Control value --> 
                        <div class="form-group"  ng-show="ChangeSpec">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.GroupOfCotrolValue</label>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <select
					                ng-model="templistSpecGroup2"
					                chosen="{inherit_select_classes: true}"  
                                    ng-change="loadSpecSample2()"
					                ng-options="item.NAME  for item in listSpecGroup2"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div>
                        </div><div class="form-group"  ng-show="ChangeSpec" >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Sample</label>
                            <div class="col-md-3 col-sm-3 col-xs-12"   >
                                <select 
					                ng-model="templistSpecSample2"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="loadSpecItem2()"
					                ng-options="item.SAMPLE  for item in listSpecSample2"
                                    class="chosen_required">
					                <option value=""></option>
				                </select> 
                            </div> 
                        </div><div class="form-group"  ng-show="ChangeSpec">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.Item</label>
                            <div class="col-md-3 col-sm-3 col-xs-12"   >
                                <select 
					                ng-model="templistSpecItem2"
					                chosen="{inherit_select_classes: true}"   
                                    ng-change="showSpecItem2()"
					                ng-options="item.CONTROL_COLUMN_NAME + ' (' + item.UNIT_NAME + ')'   for item in listSpecItem2" 
                                    class="chosen_required">
					                <option value=""></option>
				                </select>
                            </div> 
                        </div><div class="form-group"  ng-show="ChangeSpec"  >
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">@Resources.Strings.SpecValue</label>
                            <label class="control-label col-md-3 col-sm-3  col-xs-12">
                                {{tempSpecValue2}}
                            </label>
                        </div>
                    </div>
               </div> 
               <div class="modal-footer">
                     <div class="form-group">
                        <div class="col-md-3 col-sm-12 col-xs-12">
                            <button type="button" class="btn btn-primary" my-confirm-click="delSpecValue()"  data-dismiss="modal"><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12 col-md-offset-3"> 
                            <button type="button" class="btn btn-primary" ng-click="saveSpecQMS_MA_EXQ_TAG()" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                        </div>
                    </div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                            <div class="title_left text_left small_font_size " ng-show="editQMS_MA_EXQ_TAG.ID > 0">
		                        @Resources.Strings.CreateBy {{editQMS_MA_EXQ_TAG.CREATE_USER}} ( {{editQMS_MA_EXQ_TAG.SHOW_CREATE_DATE }} )
	                        </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                        <div class="title_right text_right small_font_size " ng-show="editQMS_MA_EXQ_TAG.ID > 0">
	                            @Resources.Strings.UpdateBy {{editQMS_MA_EXQ_TAG.UPDATE_USER}} ( {{editQMS_MA_EXQ_TAG.SHOW_UPDATE_DATE }} )
	                        </div>
                        </div>
                    </div>
               </div> 
          </div>
     </div>
</div>
<!-- end Spec Value modal -->