﻿<div id="myControl" ng-app="myApp" ng-controller="myCtrl">
     <div class="">

          <div class="page-title"> 
            <h3>@Resources.Strings.PlantAndProductMapping </h3> 
            <div class="clearfix"></div> 
          </div> 

          <div class="clearfix"></div>
         <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>

           
          @Html.Partial("PlantManagement") 

          @Html.Partial("ProductManagement")

          @Html.Partial("GradeManagement")

          @Html.Partial("UnitManagement")

          @Html.Partial("ProductTag")
           
          @Html.Partial("QualityTag")
      
          @Html.Partial("QualityTagAccum")

          @*Quality Tag*@
          <div class="row showExaQualityTag"  style="display:none" ng-show=" createQMS_MA_PRODUCT_MAPPING.ID > 0" >

               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title" >
                              <h2>@Resources.Strings.QualityTag </h2>
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content">
                              <ul class="nav navbar-left panel_toolbox">
                                   <li>
                                        <button type="button" class="btn btn-primary"  ng-click="openExaQualityTag()" ><i class="fa fa-plus"></i> @Resources.Strings.NewTag</button>
                                   </li>
                                   <li>
                                        <button class="btn btn-primary "  my-confirm-click="delExaQualityTag()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                                   </li>
                              </ul>
                              <table class="table table-bordered" style="width:100%;">
                                      <thead style="width:100%;">
                                              <tr>
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                    <input type="checkbox" ng-model="AllExaQualityTagSelected" ng-change="SelectAllExaQualityTagCheck()" >  
                                                </th>
                                                <th class="col-md-2 col-sm-2 col-xs-2">@Resources.Strings.ExcelName</th>
                                                <th class="col-md-3 col-sm-3 col-xs-3">@Resources.Strings.ExaTag</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.TragetRange</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Unit</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.ControlValue</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.SpecValue</th> 
                                                <th class="col-md-2 col-sm-2 col-xs-2">@Resources.Strings.Tools</th>
                                              </tr>
                                      </thead>
                                      <tbody style="width:100%;"> 
                                              <tr ng-repeat="mExaQualityTag in listExaQualityTag" >
                                                <td align="center"><input type="checkbox" ng-model="mExaQualityTag.ITEM_SELECTED" /></td>
                                                <td>{{mExaQualityTag.EXCEL_NAME}}</td>
                                                <td>{{mExaQualityTag.EXA_TAG_NAME|insertspace}}</td>
                                                <td>{{mExaQualityTag.SHOW_TAG_TARGET_VALUE}}</td>
                                                <td>{{mExaQualityTag.UNIT_NAME}}</td>
                                                <td class="pointer_cursor" ng-click="openControlDialog(mExaQualityTag)">{{mExaQualityTag.CONTROL_VALUE}}</td>
                                                <td class="pointer_cursor" ng-click="openSpecDialog(mExaQualityTag)">{{mExaQualityTag.SPEC_VALUE}}</td>
                                                <td align="center">
                                                    <i class="fa fa-edit" title="@Resources.Strings.Edit" ng-click="editExaQualityTag(mExaQualityTag)" ></i>
                                                    <i class="fa fa-arrow-up" title="@Resources.Strings.Up"  ng-click="adjustExaTagPostion(mExaQualityTag, 1, 1)"  ng-show="mExaQualityTag.ARROW_UP" ></i>
                                                    <i class="fa fa-arrow-down" title="@Resources.Strings.Down"  ng-click="adjustExaTagPostion(mExaQualityTag, 2, 1)"  ng-show="mExaQualityTag.ARROW_DOWN" ></i>
                                                </td>
                                             </tr> 
                                      </tbody>
                              </table>
                         </div>
                    </div>
               </div>
          </div>

           @*Accum Tag*@
          <div class="row showExaQtyTag" style="display:none"  ng-show=" createQMS_MA_PRODUCT_MAPPING.ID > 0"  >
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                              <h2>@Resources.Strings.AccumTag</h2>
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content">
                              <ul class="nav navbar-left panel_toolbox">
                                   <li>
                                        <button type="button" class="btn btn-primary"  ng-click="openExaAccumTag()" ><i class="fa fa-plus"></i> @Resources.Strings.NewTag</button>
                                   </li>
                                   <li>
                                        <button class="btn btn-primary "  my-confirm-click="delExaAccumTag()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                                   </li>
                              </ul>
                              <table class="table table-bordered" style="width:100%;">
                                      <thead style="width:100%;">
                                              <tr>
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                    <input type="checkbox" ng-model="AllExaAccumTagSelected" ng-change="SelectAllExaAccumTagCheck()" >  
                                                </th>
                                                <th class="col-md-2 col-sm-2 col-xs-2">@Resources.Strings.ExcelName</th>
                                                <th class="col-md-3 col-sm-3 col-xs-3">@Resources.Strings.ExaTag</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.TragetRange</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Unit</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.ControlValue</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.SpecValue</th> 
                                                <th class="col-md-2 col-sm-2 col-xs-2">@Resources.Strings.Tools</th>
                                              </tr>
                                      </thead>
                                      <tbody style="width:100%;"> 
                                              <tr ng-repeat="mExaAccumTag in listExaAccumTag" >
                                                <td align="center"><input type="checkbox" ng-model="mExaAccumTag.ITEM_SELECTED" /></td>
                                                <td>{{mExaAccumTag.EXCEL_NAME}}</td>
                                                <td>{{mExaAccumTag.EXA_TAG_NAME|insertspace}}</td>
                                                <td>{{mExaAccumTag.SHOW_TAG_TARGET_VALUE}}</td>
                                                <td>{{mExaAccumTag.UNIT_NAME}}</td>
                                                <td class="pointer_cursor" ng-click="openControlDialog(mExaAccumTag)">{{mExaAccumTag.CONTROL_VALUE}}</td>
                                                <td class="pointer_cursor" ng-click="openSpecDialog(mExaAccumTag)">{{mExaAccumTag.SPEC_VALUE}}</td>
                                                <td align="center">
                                                    <i class="fa fa-edit" title="@Resources.Strings.Edit" ng-click="editExaAccumTag(mExaAccumTag)" ></i>
                                                     <i class="fa fa-arrow-up" title="@Resources.Strings.Up"  ng-click="adjustExaTagPostion(mExaAccumTag, 1, 4)" ng-show="mExaAccumTag.ARROW_UP" ></i>
                                                    <i class="fa fa-arrow-down" title="@Resources.Strings.Down"  ng-click="adjustExaTagPostion(mExaAccumTag, 2, 4)" ng-show="mExaAccumTag.ARROW_DOWN" ></i>
                                                </td>
                                             </tr> 
                                      </tbody>
                              </table>
                         </div>
                    </div>
               </div>
          </div>
           
           
          @Html.Partial("Quantity") 
                       
          @*Quantity Tag*@
          <div class="row showActiveExaAccumTag"  style="display:none"  ng-show=" createQMS_MA_PRODUCT_MAPPING.ID > 0"  >
               <div class="col-md-12">
                    <div class="x_panel"> 
                         <div class="x_title">
                              <h2>@Resources.Strings.QuantityTag </h2> 
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content">
                              <ul class="nav navbar-left panel_toolbox"> 
                                  <li> 
                                      <button type="button" class="btn btn-primary" ng-click="openExaQtyTag()" ><i class="fa fa-plus"></i> New Tag</button>
                                  </li>
                                  <li>
                                        <button class="btn btn-primary "  my-confirm-click="delExaQtyTag()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</button>
                                  </li>
                              </ul>              
                              <table class="table table-bordered col-md-12" >
                                     <thead style="width:100%;">
                                            <tr>
                                                <th class="col-md-1 col-sm-1 col-xs-1">
                                                    <input type="checkbox" ng-model="AllExaQtyTagSelected" ng-change="SelectAllExaQtyTagCheck()" >  
                                                </th>
                                                <th class="col-md-2 col-sm-2 col-xs-2">@Resources.Strings.ExcelName</th>
                                                <th class="col-md-3 col-sm-3 col-xs-3">@Resources.Strings.ExaTag</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Unit</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Type</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.Proof</th>
                                                <th class="col-md-1 col-sm-1 col-xs-1">@Resources.Strings.ConvertValue</th> 
                                                <th class="col-md-2 col-sm-2 col-xs-2">@Resources.Strings.Tools</th> 
                                            </tr>
                                     </thead>
                                     <tbody style="width:100%;">
                                            <tr ng-repeat="mExaQtyTag in listExaQtyTag" >
                                                <td align="center"><input type="checkbox" ng-model="mExaQtyTag.ITEM_SELECTED" /></td>
                                                <td>{{mExaQtyTag.EXCEL_NAME}}</td>
                                                <td>{{mExaQtyTag.EXA_TAG_NAME|insertspace}}</td> 
                                                <td>{{mExaQtyTag.UNIT_NAME}}</td>
                                                <td>{{mExaQtyTag.SHOW_TAG_TYPE}}</td>
                                                <td>{{mExaQtyTag.SHOW_PROOF_VALUE}}</td>
                                                <td>{{mExaQtyTag.SHOW_CONVERT_VAlUE}}</td>
                                                <td align="center">
                                                    <i class="fa fa-edit" title="@Resources.Strings.Edit" ng-click="editExaQtyTag(mExaQtyTag)" ></i>
                                                    <i class="fa fa-arrow-up" title="@Resources.Strings.Up"  ng-click="adjustExaTagPostion(mExaQtyTag, 1, 2)" ng-show="mExaQtyTag.ARROW_UP" ></i>
                                                    <i class="fa fa-arrow-down" title="@Resources.Strings.Down" ng-click="adjustExaTagPostion(mExaQtyTag, 2, 2)" ng-show="mExaQtyTag.ARROW_DOWN" ></i>
                                                </td>
                                             </tr> 
                                     </tbody>
                              </table>
                         </div>
                         <!-- history -->
                         <div class="x_content" ng-show="createQMS_MA_PRODUCT_MAPPING.ID">
                            <div class="col-md-6 col-sm-6 col-xs-6  ">
                                <div class="title_left text_left small_font_size " >
		                            @Resources.Strings.CreateBy {{createQMS_MA_PRODUCT_MAPPING.CREATE_USER}} ( {{createQMS_MA_PRODUCT_MAPPING.SHOW_CREATE_DATE }} )
	                            </div>
                            </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                            <div class="title_right text_right small_font_size " >
	                                @Resources.Strings.UpdateBy {{createQMS_MA_PRODUCT_MAPPING.UPDATE_USER}} ( {{createQMS_MA_PRODUCT_MAPPING.SHOW_UPDATE_DATE }} )
	                            </div>
                            </div>
                        </div>
                        <!-- history -->
                    </div>
               </div>
          </div>
          <div class="row col-md-12 "> 
         </div>
     </div>
     
          
                        
     @Html.Partial("ControlValueTag")

   
     

</div> 

@Html.Partial("_PlantProductMappingScript")