﻿<!-- Grade modal -->
<div class="modal fade grade-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">

               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.GradeManagement</h4>
               </div>

               <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <span class="btn btn-primary" my-confirm-click="delGradeData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                         <br><br> 
                         <table class="table table-bordered" style="width:100%;">
                                <thead style="width:100%;">
                                       <tr>
                                             <th class="col-md-1 col-sm-1 col-xs-1">
                                                <input type="checkbox" ng-model="AllGradeSelected" ng-change="SelectAllGradeCheck()" >  
                                             </th>
                                             <th>@Resources.Strings.Grade</th>
                                             <th>@Resources.Strings.ExcelValue</th>
                                             <th>@Resources.Strings.Tools</th>
                                       </tr>
                                </thead>
                                <tbody style="width:100%;">
                                       <tr ng-form="myQMS_MA_GRADE" ng-show="ShowGrade">
                                             <td><input type="checkbox"></td>
                                             <td>
                                                <input type="text" name="QMS_MA_GRADE_NAME" ng-model="createQMS_MA_GRADE.NAME" maxlength="50" class="form-control" required > 
                                             </td>
                                             <td>
                                                <input type="text" name="QMS_MA_GRADE_EXCEL_FLAG" ng-model="createQMS_MA_GRADE.EXCEL_FLAG" maxlength="50"   number-only-input class="form-control" required > 
                                             </td>
                                             <td><span ng-click="saveQMS_MA_GRADE()" ><i class="fa fa-save" title="@Resources.Strings.Save"></i></span>
                                             </td>
                                       </tr>
                                       <tr ng-repeat="mGradeData in listGrade" ng-include="getGradeTemplate(mGradeData)"></tr>
                                </tbody>
                         </table>
                    </div>
               </div>
               <div class="modal-footer"></div>
          </div>
     </div>
</div>
<!-- end Grade modal -->



<!-- Template Grade -->
<script type="text/ng-template" id="displayGrade">
        <td><input type="checkbox" ng-model="mGradeData.ITEM_SELECTED" /></td>
        <td>{{ mGradeData.NAME }}</td>
        <td>{{ mGradeData.EXCEL_FLAG }}</td>
        <td>
            <span ng-click="editGrade(mGradeData)" title="@Resources.Strings.Edit" ><i   class="fa fa-edit set-pointer"></i></span>
        </td>
</script>
<script type="text/ng-template" id="editGrade">
    <td><input type="checkbox" ng-model="mGradeData.ITEM_SELECTED" /></td> 
    <td><input type="text" ng-model="mGradeData.NAME"   class="form-control"  /></td>
    <td><input type="text" ng-model="mGradeData.EXCEL_FLAG"  class="form-control"  number-only-input /></td>
    <td>
        <span ng-click="saveEditQMS_MA_GRADE(mGradeData)" ><i class="fa fa-save set-pointer"  title="@Resources.Strings.Save"></i></span>
        <span ng-click="resetGrade()" ><i class="fa fa-undo set-pointer"  title="@Resources.Strings.Cancel"></i></span>
    </td>
</script>
<!-- Template Grade -->