﻿<!-- plant modal -->
<div class="modal fade plant-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.PlantManagement</h4>
               </div>
               <div class="modal-body">
                    <div class="col-md-12">
                         <span class="btn btn-primary" my-confirm-click="delPlantData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" style="color:white;"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                         <br><br>
                         <table class="table table-bordered"  >
                                <thead style="width:100%;">
                                        <tr>
                                            <th class="col-md-1 col-sm-1 col-xs-1">
                                                <input type="checkbox" ng-model="AllPlantSelected" ng-change="SelectAllPlantCheck()" >  
                                            </th>
                                            <th>@Resources.Strings.PlantName</th>
                                            <th>@Resources.Strings.Abbreviation</th>
                                            <th>@Resources.Strings.Tools</th>
                                        </tr>
                                </thead>
                                <tbody style="width:100%;">
                                        <tr ng-form="myQMS_MA_PLANT" ng-show="ShowPlant">
                                            <td></td>
                                            <td>
                                                <input type="text" name="QMS_MA_PLANT_NAME" ng-model="createQMS_MA_PLANT.NAME" maxlength="50" class="form-control" required > 
                                            </td>
                                            <td>
                                                <input type="text" name="QMS_MA_PLANT_ABBREVIATION" ng-model="createQMS_MA_PLANT.ABBREVIATION" maxlength="50" class="form-control"  required my-enter="saveQMS_MA_PLANT()"> 
                                            </td>
                                            <td><span  ng-click="saveQMS_MA_PLANT()"  ><i class="fa fa-save" title="@Resources.Strings.Save"></i></span>
                                            </td>
                                        </tr>
                                        <tr ng-repeat="mPlantData in listPlant" ng-include="getPlantTemplate(mPlantData)"></tr>
                                </tbody>
                         </table>
                    </div>                     
               </div>
               <div class="modal-footer"> </div>  
          </div>
     </div>
</div>
<!-- end plant modal -->


<!-- Template Plant -->
<script type="text/ng-template" id="displayPlant">
        <td align="center"><input type="checkbox" ng-model="mPlantData.ITEM_SELECTED" /></td>
        <td>{{ mPlantData.NAME }}</td>
        <td>{{ mPlantData.ABBREVIATION }}</td>
        <td align="center">
            <span ng-click="editPlant(mPlantData)" ><i   class="fa fa-edit set-pointer" title="@Resources.Strings.Edit"></i></span>
            <span ><i class="fa fa-arrow-up" ng-show="mPlantData.ARROW_UP" ng-click="adjustPlantPostion(mPlantData, 1)" title="@Resources.Strings.Up"></i></span>
            <span ><i class="fa fa-arrow-down" ng-show="mPlantData.ARROW_DOWN" ng-click="adjustPlantPostion(mPlantData, 2)" title="@Resources.Strings.Down"></i></span>
        </td>
</script>
<script type="text/ng-template" id="editPlant">
    <td align="center"><input type="checkbox" ng-model="mPlantData.ITEM_SELECTED" /></td>
    <td><input type="text" class="form-control" ng-model="mPlantData.NAME" /></td>
    <td><input type="text" class="form-control" ng-model="mPlantData.ABBREVIATION" /></td>
    <td align="center">
        <span  ng-click="saveEditQMS_MA_PLANT(mPlantData)" ><i class="fa fa-save set-pointer" title="@Resources.Strings.Save"></i></span>
        <span  ng-click="resetPlant()" ><i class="fa fa-undo set-pointer" title="@Resources.Strings.Cancel"></i></span>
    </td>
</script>
<!-- Template Plant -->