﻿<div class="row" ng-show="showDevice"  >
    <div class="col-md-12 col-sm-12 col-xs-12">

        <div class="x_panel" ng-form="myQMS_MA_PRODUCT_MAPPING">

                <div class="row text_align_right"  style="text-align:right;">                    
                    <span class="btn btn-primary " ng-click="saveQMS_MA_PRODUCT_MAPPING()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                    <button type="button" class="btn btn-primary" ng-click="showDeviceData()"><i class="fa fa-close"></i> @Resources.Strings.Close</button>
                </div>

                <div class="x_title">
                    <h2>@Resources.Strings.PlantAndProductMapping</h2> 
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                <div  class="form-horizontal form-label-left" >
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Plant <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <select  
					            ng-model="tempPlantId"
					            chosen="{inherit_select_classes: true }" 
					            ng-options="item.NAME  for item in listPlant"  
					            name="lst_plant" id="lst_plant"  class="chosen_required">
					            <option value=""></option>
				            </select> 
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-12" style="text-align:left;"> 
                            <span  ng-click="openPlantManagement()" ><i class="fa fa-plus"></i> </span>
                        </div>
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Product <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <select
					            ng-model="tempProductId"
					            chosen  
					            ng-options="item.NAME  for item in listProduct" 
					            name="lst_product" id="lst_product">
					            <option value=""></option>
				            </select> 
                        </div> 
                        <div class="col-md-1 col-sm-1 col-xs-12" style="text-align:left;"> 
                            <span  ng-click="openProductManagement()" ><i class="fa fa-plus"></i> </span>
                        </div>
                    </div> <div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.DefaultGrade <span class="required">*</span></label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <select
					            ng-model="tempGradeId"
					            chosen  
					            ng-options="item.NAME  for item in listGrade" 
					            name="lst_grade" id="lst_grade">
					            <option value=""></option>
				            </select> 
                        </div> 
                        <div class="col-md-1 col-sm-1 col-xs-12" style="text-align:left;"> 
                            <span  ng-click="openGradeManagement()" ><i class="fa fa-plus"></i> </span>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2"></div>
                        <div class="col-md-4 col-sm-4 col-xs-4">
                            <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="createQMS_MA_PRODUCT_MAPPING.HIGHLOW_CHECK" > @Resources.Strings.SeperateCal
                            </label>
                            </div>
                        </div>
                        
                    </div><div class="form-group">
                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <textarea ng-model="createQMS_MA_PRODUCT_MAPPING.PRODUCT_DESC" rows="3" class="form-control" maxlength="150" name="message" >
                            </textarea>
                        </div>
                    </div>
                </div> 
           </div>
        </div>
    </div>
</div>