﻿<!-- product modal -->
<div class="modal fade product-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ProductManagement</h4>
               </div>
               <div class="modal-body">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                          <span class="btn btn-primary" style="color:white;" my-confirm-click="delProductData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                          <br><br>
                          <table class="table table-bordered" style="width:100%;" ng-form="myEditQMS_MA_PRODUCT">
                                 <thead style="width:100%;">
                                        <tr>
                                              <th class="col-md-1 col-sm-1 col-xs-1">
                                                <input type="checkbox" ng-model="AllProductSelected" ng-change="SelectAllProductCheck()" >  
                                              </th>
                                              <th>@Resources.Strings.ProductName</th> 
                                              <th>@Resources.Strings.Tools</th>
                                        </tr>
                                 </thead>
                                 <tbody style="width:100%;" >
                                         <tr ng-form="myQMS_MA_PRODUCT" ng-show="ShowProduct">
                                              <td></td>
                                              <td>
                                                <input type="text" name="QMS_MA_PRODUCT_NAME" ng-model="createQMS_MA_PRODUCT.NAME" maxlength="50" class="form-control" required >
                                              </td>
                                              <td>
                                                <span   ng-click="saveQMS_MA_PRODUCT()" ><i class="fa fa-save" title="@Resources.Strings.Save"></i></span>
                                              </td>
                                        </tr>
                                        <tr  ng-repeat="mProductData in listProduct" ng-include="getProductTemplate(mProductData)"></tr>
                                 </tbody>
                          </table>
                     </div>
               </div>
                <div class="modal-footer"></div>
          </div>
     </div>
</div>
<!-- end product modal -->


<!-- Template Product -->
<script type="text/ng-template" id="displayProduct">
        <td><input type="checkbox" ng-model="mProductData.ITEM_SELECTED" /></td>
        <td>{{ mProductData.NAME }}</td>
        <td>
            <span ng-click="editProduct(mProductData)" ><i class="fa fa-edit set-pointer" title="@Resources.Strings.Edit"></i></span>
            <span ><i class="fa fa-arrow-up"  ng-show="mProductData.ARROW_UP" ng-click="adjustProductPostion(mProductData, 1)"  title="@Resources.Strings.Up"></i></span>
            <span ><i class="fa fa-arrow-down" ng-show="mProductData.ARROW_DOWN" ng-click="adjustProductPostion(mProductData, 2)" title="@Resources.Strings.Down"></i></span>
        </td>
</script>
<script type="text/ng-template" id="editProduct">
    <td><input type="checkbox" ng-model="mProductData.ITEM_SELECTED" /></td> 
    <td>
        <input type="text" name="QMS_MA_PRODUCT_NAME" ng-model="mProductData.NAME"  maxlength="50" class="form-control" required  />
    </td>
    <td>
        <span ng-click="saveEditQMS_MA_PRODUCT(mProductData)" ><i class="fa fa-save set-pointer" title="@Resources.Strings.Save"></i></span>
        <span ng-click="resetProduct()"  ><i class="fa fa-undo set-pointer" title="@Resources.Strings.Cancel"></i></span>
    </td>
</script>
<!-- Template Product -->