﻿<!-- Quality Accum modal -->
<div class="modal fade quality-accum-tag-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.QualityTagAccum</h4>
               </div> 
               <div class="modal-body">
                <div  class="form-horizontal form-label-left"  ng-form="myAccumQMS_MA_EXQ_TAG">
                    <div class="page-title"> 
	                    <div class="clearfix"></div> 
                    </div> 
                    <div class="form-group"> 
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.ExcelName<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control col-md-7 col-xs-12" maxlength="30"  ng-model="createQMS_MA_EXQ_TAG.EXCEL_NAME" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Unit<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select
					            ng-model="tempUnitQtyId"
					            chosen  
					            ng-options="item.NAME  for item in listUnit" 
					            name="lst_qtyunit"  >
					            <option value=""></option>
				            </select> 
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <span  ng-click="openUnitManagement()" ><i class="fa fa-plus"></i> </span> 
                         </div>
                    </div><div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.ExaTag<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea maxlength="230" rows="3" class="form-control" name="QMS_MA_EXQ_TAG_EXA_TAG_NAME" ng-model="createQMS_MA_EXQ_TAG.EXA_TAG_NAME"  data-placement="right" data-type="info" data-container="body" data-trigger="focus" bs-tooltip="tooltip"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" > 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label>
                                <input type="checkbox"   ng-model="TargetCheck" > @Resources.Strings.TragetRange
                            </label><label style="margin-left:30px;">
                                <input type="checkbox"   ng-model="CorrectCheck" > @Resources.Strings.CorrectValue
                            </label>
                          </div>
                        </div>
                    </div> 
                    <div class="form-group" ng-show="TargetCheck">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.TragetValue 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control"  >
                        </div>
                    </div>
                    <div class="form-group" ng-show="CorrectCheck">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Min 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control"  >
                        </div>
                    </div>
                    <div class="form-group" ng-show="CorrectCheck">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Max 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.AccumTag 
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                        <span class="btn btn-primary" style="color:white;"  my-confirm-click="delMemberData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete" ><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                        <table class="table table-bordered" >
                                    <thead style="width:100%;">
                                        <tr>
                                            <th class="col-md-1 col-sm-1 col-xs-1"><input type="checkbox"></th>
                                            <th class="col-md-7 col-sm-7 col-xs-7" >@Resources.Strings.ExaTag</th>
                                            <th class="col-md-2 col-sm-2 col-xs-2">@Resources.Strings.ConvertValue</th>
                                            <th class="col-md-2 col-sm-2 col-xs-2" style="min-width: 120px;">@Resources.Strings.Tools</th>
                                        </tr>
                                    </thead>
                                    <tbody style="width:100%;"  >
                                        <tr  ng-show="ShowExaAccumTag">
                                            <td></td>
                                            <td class="text_left">
                                                <select
					                                ng-model="tempExaQualityTagId"
					                                chosen  
					                                ng-options="item.EXA_TAG_NAME  for item in listExaQualityTag" 
					                                name="lst_ExaQualityTag"  >
					                                <option value=""></option>
				                                </select> 
                                            </td>
                                            <td>
                                                 <input type="text" class="form-control col-md-3 col-xs-12" maxlength="30"  ng-model="createQMS_MA_EXQ_ACCUM_TAG.CONVERT_VALUE" >
                                            </td>
                                            <td><span  ng-click="addMember()" ><i class="fa fa-plus"></i></span></td>
                                        </tr>
                                        <tr ng-repeat="mAccumMemberData in listAddExaMemberTag" ng-include="getAccumMemberTemplate(mAccumMemberData)"></tr>                                         
                                    </tbody>
                            </table>
                        </div>
                    </div>  
                </div>
               </div>
              
               <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary" ng-click="saveAccumQMS_MA_EXQ_TAG()"   ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                        </div>
                    </div>
                     <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                        <div class="title_left text_left small_font_size " ng-show="createQMS_MA_EXQ_TAG.ID > 0">
		                    @Resources.Strings.CreateBy {{createQMS_MA_EXQ_TAG.CREATE_USER}} ( {{createQMS_MA_EXQ_TAG.SHOW_CREATE_DATE }} )
	                    </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                    <div class="title_right text_right small_font_size " ng-show="createQMS_MA_EXQ_TAG.ID > 0">
	                        @Resources.Strings.UpdateBy {{createQMS_MA_EXQ_TAG.UPDATE_USER}} ( {{createQMS_MA_EXQ_TAG.SHOW_UPDATE_DATE }} )
	                    </div>
                        </div>
                    </div>
               </div>

            </div>@*<div class="modal-content">*@
     </div>
</div>
<!-- end Quantity Accum modal --> 



<!-- Template Accum Tag -->
<script type="text/ng-template" id="displayAccumTag">
        <td align="center"><input type="checkbox" ng-model="mAccumMemberData.ITEM_SELECTED" /></td>
        <td>{{ mAccumMemberData.EXA_TAG_NAME }}</td>
        <td>{{ mAccumMemberData.CONVERT_VALUE }}</td>
        <td align="center">
            <span ng-click="editAccumMember(mAccumMemberData)" ><i   class="fa fa-edit set-pointer"></i></span>
        </td>
</script>
<script type="text/ng-template" id="editAccumTag">
    <td align="center"><input type="checkbox" ng-model="mAccumMemberData.ITEM_SELECTED" /></td> 
    <td style="max-width:250px">
            <select  
				ng-model="tempExaQualityTagId"
				chosen  
                ng-change="change(tempExaQualityTagId)"
				ng-options="item.EXA_TAG_NAME  for item in listExaQualityTag" 
				name="lst_ExaQualityTag"  >
				<option value=""></option>
			</select>
    </td>
    <td><input type="text" class="form-control" ng-model="mAccumMemberData.CONVERT_VALUE" /></td>
    <td align="center">
        <span ng-click="saveEditAccumMember(mAccumMemberData)"  ><i class="fa fa-save set-pointer"></i></span>
        <span ng-click="resetAccumMember()"  ><i class="fa fa-undo set-pointer"></i></span>
    </td>
</script>
<!-- Template Accum Tag -->