﻿<!-- Quantity modal -->
<div class="modal fade quantity-tag-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.QuantityTag</h4>
               </div>
               <div class="modal-body">
               <div  class="form-horizontal form-label-left" >
                   <div class="page-title"> 
	                    <div class="clearfix"></div> 
                    </div> 
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.ExcelName<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control col-md-7 col-xs-12" maxlength="30"  ng-model="createQMS_MA_EXQ_TAG.EXCEL_NAME" >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Unit<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select
					            ng-model="tempUnitQtyId"
					            chosen  
					            ng-options="item.NAME  for item in listUnit" 
					            name="lst_qtyunit"  >
					            <option value=""></option>
				            </select> 
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <span  ng-click="openUnitManagement()" ><i class="fa fa-plus"></i> </span> 
                         </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.ExaTag<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea maxlength="130" rows="3" class="form-control" name="QMS_MA_EXQ_TAG_EXA_TAG_NAME" ng-model="createQMS_MA_EXQ_TAG.EXA_TAG_NAME"  required ></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" ></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <label>
                              <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"  ng-model="tagType" ng-value="2"> @Resources.Strings.MassPV
                            </label> <label>
                              <input type="radio" checked="" value="option2" id="optionsRadios2" name="optionsRadios"  ng-model="tagType" ng-value="3"> @Resources.Strings.MassSum
                            </label>
                        </div>
                    </div>
                    <div class="form-group">@*เพิ่มตอน pop ต่อ DataLeak*@
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">@Resources.Strings.Roottag<span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" class="form-control col-md-7 col-xs-12" maxlength="30"  ng-model="createQMS_MA_EXQ_TAG.LAKE_TAG_NAME" required>
                        </div>
                    </div>
                    <div class="form-group" ng-show="tagType == 2" >
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.Proof</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                             <input type="text" class="form-control"  ng-model="createQMS_MA_EXQ_TAG.TAG_FLOW_CHECK_VALUE"> 
                        </div>
                    </div>
                    <div class="form-group" ng-show="tagType == 2">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.ConvertValue</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                             <input type="text" class="form-control"  ng-model="createQMS_MA_EXQ_TAG.TAG_FLOW_CONVERT_VALUE"> 
                        </div>
                    </div> 
                </div>
               </div>  
               <div class="modal-footer">
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <button type="button" class="btn btn-primary" ng-click="saveQtyQMS_MA_EXQ_TAG()"   ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Close</button> 
                        </div>
                    </div> 
                     <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-6  ">
                        <div class="title_left text_left small_font_size " ng-show="createQMS_MA_EXQ_TAG.ID > 0">
		                    @Resources.Strings.CreateBy {{createQMS_MA_EXQ_TAG.CREATE_USER}} ( {{createQMS_MA_EXQ_TAG.SHOW_CREATE_DATE }} )
	                    </div>
                        </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                    <div class="title_right text_right small_font_size " ng-show="createQMS_MA_EXQ_TAG.ID > 0">
	                        @Resources.Strings.UpdateBy {{createQMS_MA_EXQ_TAG.UPDATE_USER}} ( {{createQMS_MA_EXQ_TAG.SHOW_UPDATE_DATE }} )
	                    </div>
                        </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- end Quantity modal -->
