﻿<!-- Unit modal -->
<div class="modal fade unit-modal-lg"  >
     <div class="modal-dialog modal-lg">
          <div class="modal-content">
               <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.UnitManagement</h4>
               </div>
               <div class="modal-body">
                <div class="form-horizontal form-label-left">
                    <div class="row">
                          <span class="btn btn-primary" style="color:white;" my-confirm-click="delUnitData()" my-confirm-click-message="@Resources.Strings.DoYouWantToDelete"><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                          <br><br>
                    </div>
                    <div class="row "  >
                          <table class="table table-bordered" style="width:100%; " ng-form="myEditQMS_MA_UNIT">
                                 <thead style="width:100%;">
                                        <tr>
                                              <th class="col-md-1 col-sm-1 col-xs-1">
                                                <input type="checkbox" ng-model="AllUnitSelected" ng-change="SelectAllUnitCheck()" >  
                                              </th>
                                              <th>@Resources.Strings.UnitName</th> 
                                              <th>@Resources.Strings.Tools</th>
                                        </tr>
                                 </thead>
                                 <tbody style="width:100%;" >
                                         <tr ng-form="myQMS_MA_UNIT" ng-show="ShowUnit">
                                              <td><input type="checkbox"></td>
                                              <td>
                                                <input type="text" name="QMS_MA_UNIT_NAME" ng-model="createQMS_MA_UNIT.NAME" maxlength="80" class="form-control" required >
                                              </td>
                                              <td>
                                                <span ng-click="saveQMS_MA_UNIT()" ><i class="fa fa-save"></i></span>
                                              </td>
                                        </tr>
                                        <tr  ng-repeat="mUnitData in listUnit" ng-include="getUnitTemplate(mUnitData)"></tr>
                                 </tbody>
                          </table>
                     </div>
                 </div>
               </div>
                <div class="modal-footer"></div>
          </div>
     </div>
</div>
<!-- end Unit modal -->


<!-- Template Unit -->
<script type="text/ng-template" id="displayUnit">
        <td><input type="checkbox" ng-model="mUnitData.ITEM_SELECTED" /></td>
        <td>{{ mUnitData.NAME }}</td>
        <td>
            <span ng-click="editUnit(mUnitData)"  ><i class="fa fa-edit set-pointer"></i></span>            
        </td>
</script>
<script type="text/ng-template" id="editUnit">
    <td><input type="checkbox" ng-model="mUnitData.ITEM_SELECTED" /></td> 
    <td>
        <input type="text" name="QMS_MA_UNIT_NAME" ng-model="mUnitData.NAME"  maxlength="10" class="form-control" required  />
        <p class="help-redblock" ng-show=" myEditQMS_MA_UNIT.QMS_MA_UNIT_NAME.$touched &&  myEditQMS_MA_UNIT.QMS_MA_UNIT_NAME.$invalid">@Resources.Strings.Required</p>
    </td>
    <td>
        <span ng-click="saveEditQMS_MA_UNIT(mUnitData)" ><i class="fa fa-save set-pointer"></i></span>
        <span ng-click="resetUnit()"  ><i class="fa fa-undo set-pointer"></i></span>
    </td>
</script>
<!-- Template Unit -->