﻿@{
    var searchDowntimeDetail = ViewBag.searchDowntimeDetail as QMSSystem.Model.DowntimeDetailSearchModel;
    var createQMS_MA_DOWNTIME = ViewBag.createQMS_MA_DOWNTIME as QMSSystem.Model.CreateQMS_MA_DOWNTIME;
    var createQMS_MA_DOWNTIME_DETAIL = ViewBag.createQMS_MA_DOWNTIME_DETAIL as QMSSystem.Model.CreateQMS_MA_DOWNTIME_DETAIL;

    
    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listUnit = ViewBag.listUnit as List<QMSSystem.Model.ViewQMS_MA_UNIT>;
    var listDowntimeDetail = ViewBag.listDowntimeDetail as List<QMSSystem.Model.ViewQMS_MA_DOWNTIME_DETAIL>; 
     
}
<div ng-app="myApp" ng-controller="myCtrl">
      <div class=""> 
           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.Downtime  @ViewBag.ActionName</h3>
                     <div class="clearfix"></div> 
                </div>
           </div> 
           <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
          
           <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <div class="x_panel">
                          <div class="x_title">
                              <div class="row text_align_right" >
                                   <span class="btn btn-primary " ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <a href="~/Downtime/ListMasterDowntime"">
                                      <span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                   </a> 
                              </div>
                              <div class="clearfix"></div>
                          </div>

                          <div class="x_content"> 
                               <div  class="form-horizontal form-label-left" >
                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Plant <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <select
					                                  ng-model="tempPlantId"
					                                  chosen="{inherit_select_classes: true}" 
					                                  ng-options="item.NAME  for item in listPlant" 
                                                      class="chosen_required">
					                                  <option value=""></option>
				                               </select> 
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExcelName <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.EXCEL_NAME"  class="form-control col-md-7 col-xs-12" required>
                                          </div>
                                     </div> 

                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Value <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" ng-model="createModel.LIMIT_VALUE"  class="form-control col-md-7 col-xs-12" number-only-input required>
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Unit <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <select
					                                   ng-model="tempUnitId"
					                                   chosen="{inherit_select_classes: true}" 
					                                   ng-options="item.NAME  for item in listUnit" 
                                                       class="chosen_required">
					                                   <option value=""></option>
				                               </select> 
                                          </div>
                                     </div>

                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ExaTag <span class="required">*</span></label>
                                          <div class="col-md-10 col-sm-10 col-xs-12">
                                              <input type="text" name="createModel.EXA_TAG_NAME" ng-model="createModel.EXA_TAG_NAME" class="form-control" required > 
                                          </div> 
                                     </div> 

                                     <div class="form-group">
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ConvertValue <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" name="createModel.CONVERT_VALUE"  ng-model="createModel.CONVERT_VALUE" class="form-control" number-only-input required >
                                          </div>
                                          <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.ActiveDate <span class="required">*</span></label>
                                          <div class="col-md-4 col-sm-4 col-xs-12">
                                               <input type="text" class="form-control"  ng-model="TempActiveDate"    data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required>                                         
                                          </div> 
                                     </div>

                                      <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12">@Resources.Strings.Description  </label>
                                        <div class="col-md-10 col-sm-10 col-xs-12">
                                            <textarea ng-model="createModel.DOWNTIME_DESC" rows="3" class="form-control" maxlength="150" name="message" >
                                            </textarea>
                                        </div>
                                     </div>
                                </div>  

                               <div class="row showContent" style="display:none;">
                                    <div class="col-md-12 col-sm-12 col-xs-12" >
                                         <div class="x_title">    
                                              <span class="btn btn-primary re-pos-btn"  my-confirm-click="delQMS_MA_DOWNTIME_DETAIL()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                                                 
                                              <div class="clearfix"></div>
                                         </div>

                                         <table class="table table-bordered" ng-form="myEditQMS_MA_DOWNTIME_DETAIL">
                                                <thead>
                                                       <tr>
                                                            <th class="col-md-1 col-sm-1 col-xs-1">
                                                                <input type="checkbox" ng-model="AllDowntimeDetailSelected" ng-change="SelectAllCheckDowntimeDetail()" >  
                                                            </th>
                                                            <th>@Resources.Strings.ExaTag</th> 
                                                            <th>@Resources.Strings.ConvertValue</th>
                                                            <th>@Resources.Strings.Tools</th>
                                                       </tr>
                                                </thead>
                                                <tbody>
                                                        <tr ng-form="myQMS_MA_DOWNTIME_DETAIL" ng-show="ShowDowntimeDetail">
                                                            <td><input type="checkbox" ng-model="mDowntimeDetailData.ITEM_SELECTED" /></td>
                                                            <td>
                                                                <input type="text" name="QMS_MA_DOWNTIME_DETAIL_TAG" ng-model="createDowntimeDetailModel.EXA_TAG_NAME" class="form-control" required >
                                                            </td>
                                                            <td>
                                                                <input type="text" name="QMS_MA_DOWNTIME_DETAIL_VALUE"  ng-model="createDowntimeDetailModel.CONVERT_VALUE" class="form-control" number-only-input required >
                                                            </td>
                                                            <td>
                                                                <span  ng-click="saveQMS_MA_DOWNTIME_DETAIL()" ><i class="fa fa-save"></i> </span>                                           
                                                            </td>
                                                        </tr>
                                                        <tr  ng-repeat="mDowntimeDetailData in listDowntimeDetail" ng-include="getDowntimeDetailTemplate(mDowntimeDetailData)"></tr>
                                                </tbody>
                                                                                          
                                         </table>
                
                                    </div>                         
                        
                               </div>   
                          </div>

                             <!-- history -->
                             <div class="x_content" ng-show="createModel.ID">
                                <div class="col-md-6 col-sm-6 col-xs-6  ">
                                    <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                                </div>
                                </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                                <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                                </div>
                                </div>
                            </div>
                            <!-- history -->

                     </div>
                </div>
           </div> 
      </div>
      <!-- Template DowntimeDetail -->
        <script type="text/ng-template" id="displayDowntimeDetail">
                <td><input type="checkbox" ng-model="mDowntimeDetailData.ITEM_SELECTED" /></td>
                <td>{{ mDowntimeDetailData.EXA_TAG_NAME }}</td>
                <td>{{ mDowntimeDetailData.CONVERT_VALUE }}</td>
                <td >
                    <span ng-click="editDowntimeDetail(mDowntimeDetailData)" ><i class="fa fa-edit set-pointer"></i></span>
                </td>
        </script>
        <script type="text/ng-template" id="editDowntimeDetail">
            <td><input type="checkbox" ng-model="mDowntimeDetailData.ITEM_SELECTED" /></td> 
            <td>
                <input class="form-control" type="text" name="QMS_MA_DOWNTIME_DETAIL_TAG" ng-model="mDowntimeDetailData.EXA_TAG_NAME" required />                                                        
            </td>
            <td>
                <input class="form-control"  type="text" name="QMS_MA_DOWNTIME_DETAIL_VALUE" ng-model="mDowntimeDetailData.CONVERT_VALUE" required number-only-input/>                                                        
            </td>
            <td>
                <span ng-click="saveEditQMS_MA_DOWNTIME_DETAIL(mDowntimeDetailData)" ><i class="fa fa-save set-pointer"></i></span>
                <span ng-click="resetDowntimeDetail()" ><i class="fa fa-undo set-pointer"></i></span>
            </td>
             
        </script>
       <!-- Template DowntimeDetail -->     


</div>

<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        $scope.searchDowntimeDetailModel = getSearchDowntimeDetailModel();

        $scope.createModel = getCreateModel();
        $scope.createDowntimeDetailModel = getDowntimeDetailModel();
  
        
        $scope.TempActiveDate = Fact.getDateFromDoubleEx($scope.createModel.ACTIVE_DATE);

        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempUnitId;
        $scope.listUnit = getListUnit();

        $scope.listDowntimeDetailSelect = {};
        $scope.listDowntimeDetail = getListDowntimeDetail();

//        $scope.tempDowntime_DESC;

         $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
         
        $scope.saveData = function () {   
            var urlName = get_base_url("Downtime/CreateQMS_MA_DOWNTIME");            
            var valid = true;

            console.log($scope.tempPlantId.ID);
            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempUnitId !== "undefined"  && typeof $scope.tempUnitId.ID !== "undefined" ){
                $scope.createModel.UNIT_ID = $scope.tempUnitId.ID;
            }else{
                valid = false;
            }          
            if( typeof $scope.TempActiveDate !== "undefined"  && $scope.TempActiveDate !== null ){
                $scope.createModel.ACTIVE_DATE =$scope.TempActiveDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.createModel.LIMIT_VALUE !== "undefined"  
                && $scope.createModel.LIMIT_VALUE !== null 
                //&& $scope.createModel.LIMIT_VALUE > 0 
            ){
               
            }else{
                valid = false;
            }  

             
            if( $scope.createModel.EXCEL_NAME == null 
                || $scope.createModel.EXCEL_NAME == ""
                || $scope.createModel.EXCEL_NAME  == "undefined"
                || $scope.createModel.EXA_TAG_NAME == null 
                || $scope.createModel.EXA_TAG_NAME == ""
                || $scope.createModel.EXA_TAG_NAME  == "undefined"
                || $scope.createModel.CONVERT_VALUE == null ){
                //|| $scope.createModel.CONVERT_VALUE <= 0 ){
                          valid = false;   
            } 
 
 
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                     Fact.showMessage(response.data.message);
                     $scope.createModel =  response.data.model;
                     if($scope.createModel.ID == 0){
                         $scope.createModel.ID = response.data.dataId;
                         $scope.createModel.DOWNTIME_DETAIL_ID = response.data.detailId;
                     }
//                     $(".showContent").show();  
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }          
 
       }  

       



        //#region QMS_MA_DOWNTIME_DETAIL 
         
        $scope.saveQMS_MA_DOWNTIME_DETAIL = function () {
            //myQMS_MA_DOWNTIME_DETAIL 
            

            $scope.createDowntimeDetailModel.DOWNTIME_ID = $scope.createModel.ID;
            var urlName = get_base_url("Downtime/CreateQMS_MA_DOWNTIME_DETAIL");
            var valid = true;

            if( typeof $scope.createDowntimeDetailModel.EXA_TAG_NAME !== "undefined" 
                && $scope.createDowntimeDetailModel.EXA_TAG_NAME !== null 
                && typeof $scope.createDowntimeDetailModel.CONVERT_VALUE !== "undefined"  
                && $scope.createDowntimeDetailModel.CONVERT_VALUE !== null 
                && $scope.createDowntimeDetailModel.CONVERT_VALUE > 0
            ){
                
            }else{
                valid = false;
            }  

            if(true == valid){ 
                var jsonData = $scope.createDowntimeDetailModel; 
                Fact.saveDataCallback(urlName, jsonData, function(response){
                    $scope.createDowntimeDetailModel = getDowntimeDetailModel();
                    $scope.loadDowntimeDetail();
                });
            }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            } 
        }

        $scope.saveEditQMS_MA_DOWNTIME_DETAIL = function (jsonData) { 
           
            var urlName = get_base_url("Downtime/CreateQMS_MA_DOWNTIME_DETAIL");
            var valid = true;
 
            if( jsonData.EXA_TAG_NAME !== null 
                && jsonData.EXA_TAG_NAME !== ""
                && jsonData.CONVERT_VALUE !== null 
                && jsonData.CONVERT_VALUE > 0 ){
                valid = true;             
            }else{
                valid = false;
            } 

            if(true == valid){
                $scope.listDowntimeDetailSelect = {};
                Fact.saveDataCallback(urlName, jsonData, function (response) {
                     $scope.ShowDowntimeDetail = true;                 
                     $scope.loadDowntimeDetail();
                }); 
             }else{
                Fact.showMessage("@Resources.Strings.PleaseInputData");
            }
        } 

        $scope.delDowntimeDetailData = function(){
            var urlName = get_base_url("Downtime/DeleteQMS_MA_DOWNTIME_DETAIL");
            Fact.deleteMultiDataEx(urlName, $scope.listDowntimeDetail, "@Resources.Strings.PleaseSelectDelData", function(){ $scope.loadDowntimeDetail(); });
        }

        $scope.getDowntimeDetailTemplate = function (mDowntimeDetailData) { 
            //console.log("get rd detail : " , mDowntimeDetailData , mDowntimeDetailData.ID);
            if (mDowntimeDetailData.ID === $scope.listDowntimeDetailSelect.ID) 
            {
                return 'editDowntimeDetail';
            }else{
                return 'displayDowntimeDetail';
            }
        };

        $scope.editDowntimeDetail = function (mDowntimeDetailData) {
            $scope.ShowDowntimeDetail = false;
            $scope.listDowntimeDetailSelect = angular.copy(mDowntimeDetailData); 
        };

        $scope.resetDowntimeDetail = function () { 
            $scope.ShowDowntimeDetail = true;
            $scope.listDowntimeDetail.forEach(function(entry) { 
		    	if($scope.listDowntimeDetailSelect.ID == entry.ID){ 
		    		entry.EXA_TAG_NAME = $scope.listDowntimeDetailSelect.EXA_TAG_NAME;
                    entry.CONVERT_VALUE = $scope.listDowntimeDetailSelect.CONVERT_VALUE;
		    	} 
			});
            $scope.listDowntimeDetailSelect = {};
        };

        $scope.loadDowntimeDetail = function () {
            var urlName = get_base_url("Downtime/GetQMS_MA_DOWNTIME_DETAILBySearch");

            if( $scope.createModel.ID > 0){ 
                $scope.searchDowntimeDetailModel.DOWNTIME_ID = $scope.createModel.ID;
                var jsonData = {
	                 "PageIndex": 1,
	                 "PageSize": 1000,
	                 "SortColumn": "EXA_TAG_NAME",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchDowntimeDetailModel
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listDowntimeDetail = response.data.message; 
                    }catch(e){
                    
                    }
                });
            }
        }
        
        
         $scope.init = function () { 
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempPlantId =  entry; 
		    		return false;
		    	} 
			});
            $scope.listUnit.forEach(function(entry) {
		    	if($scope.createModel.UNIT_ID  == entry.ID){  
		    		$scope.tempUnitId =  entry; 
		    		return false;
		    	} 
			});

//            if( $scope.createModel.ID > 0){ 
//                $(".showContent").show();
//            }

            $scope.ShowDowntimeDetail = true;

            $scope.loadDowntimeDetail();

        }
        
        $scope.init(); 

    }); 

    


    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_DOWNTIME)); 
        return lstData; 
    }

    function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getListUnit(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listUnit)); 
        return lstData; 
    }

    function getDowntimeDetailModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_MA_DOWNTIME_DETAIL)); 
        return lstData;
    }

    function getListDowntimeDetail(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDowntimeDetail)); 
        return lstData; 
    }

    function getSearchDowntimeDetailModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchDowntimeDetail)); 
        return lstData; 
    }

</script>

