﻿@{
    
    var createQMS_TR_DOWNTIME = ViewBag.createQMS_TR_DOWNTIME as QMSSystem.Model.CreateQMS_TR_DOWNTIME;

    var listPlant = ViewBag.listPlant as List<QMSSystem.Model.ViewQMS_MA_PLANT>;
    var listDocStatus = ViewBag.listDocStatus as List<SelectListItem>;
        
}
<div ng-app="myApp" ng-controller="myCtrl">
     <div class="">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.Downtime @ViewBag.ActionName</h3>             
               </div>
               <div class="clearfix"></div> 
          </div> 
          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            
             
          <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">                 
                               <div class="row" style="text-align:right;">              
                                   <span class="btn btn-primary "  ng-hide="IsInitialStatus()" ng-click="saveData()" style="color:white;"><i class="fa fa-save"></i> @Resources.Strings.Save</span> 
                                   <a href="~/Downtime/ListManageDowntime">
                                      <span class="btn btn-primary" style="color:white;"><i class="fa fa-close"></i> @Resources.Strings.Close</span>
                                   </a>                    
                              </div>
                              <div class="clearfix"></div>                                
                         </div>
                         <div class="x_content">
                              <div class="form-horizontal form-label-left">
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Plant <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12">
                                            <select
					                                ng-model="tempPlantId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.NAME  for item in listPlant" 
                                                    class="chosen_required">
					                                <option value=""></option>
				                            </select> 
                                        </div>
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.DocStatus <span class="required">*</span> 
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12"  ng-hide="IsInitialStatus()">
                                            <select
					                                ng-model="tempDocStatusId"
					                                chosen="{inherit_select_classes: true}" 
					                                ng-options="item.Text  for item in listDocStatus" 
                                                    class="chosen_required">				                              
					                                <option value=""></option>
				                            </select>
                                        </div>
                                         <label class="control-label  col-md-3 col-sm-3 col-xs-12 " ng-show="IsInitialStatus()" style="text-align:left;">
                                            @Resources.Strings.INITIAL
                                        </label>
                                   </div>
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempStartDate" data-autoclose="1"  data-date-format="dd-MM-yyyy"  bs-datepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndDateTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempEndDate" data-autoclose="1"  data-date-format="dd-MM-yyyy" data-time-format="h:mm:ss a"  bs-datepicker required> 
                                        </div>
                                   </div> 
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.StartTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempStartDate" data-time-format="HH:mm" data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>

                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.EndTime <span class="required">*</span>
                                        </label>
                                        <div class="col-md-3 col-sm-3 col-xs-12" style="text-align:left;"> 
                                            <input type="text" class="form-control"  ng-model="TempEndDate" data-time-format="HH:mm"  data-length="1" data-minute-step="2" data-arrow-behavior="picker" bs-timepicker required> 
                                        </div>
                                   </div>                                   
                                   <div class="form-group">
                                        <label class="control-label col-md-2 col-sm-2 col-xs-12" for="first-name">@Resources.Strings.Description 
                                        </label>                                          
                                        <div class="col-md-8 col-sm-8 col-xs-12" style="text-align:right;">
                                             <textarea ng-model="createModel.CAUSE_DESC" 
                                                        rows="3" class="form-control" maxlength="150" name="message" >
                                             </textarea>
                                        </div>
                                   </div>
                              </div>
                         </div>
                         <div class="x_content" ng-show="createModel.ID">
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
                                   <div class="title_left text_left small_font_size " >
		                                @Resources.Strings.CreateBy {{createModel.CREATE_USER}} ( {{createModel.SHOW_CREATE_DATE }} )
	                               </div>
                              </div>
                              <div class="col-md-6 col-sm-6 col-xs-6  ">
	                               <div class="title_right text_right small_font_size " >
	                                    @Resources.Strings.UpdateBy {{createModel.UPDATE_USER}} ( {{createModel.SHOW_UPDATE_DATE }} )
	                               </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<script type="text/javascript">

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
        
        $scope.createModel = getCreateModel();
        $scope.TempStartDate = Fact.getDateFromDoubleEx($scope.createModel.START_DATE);
        $scope.TempEndDate = Fact.getDateFromDoubleEx($scope.createModel.END_DATE);
 
        $scope.tempPlantId;
        $scope.listPlant = getListPlant();
        $scope.tempDocStatusId;
        $scope.listDocStatus = getlistDocStatus();

        

         $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
        $scope.IsInitialStatus = function(){
            if( $scope.createModel.DOC_STATUS  == 4)//initial
            {
                return true;
            }else{
                return false;
            } 
        }
         
        $scope.saveData = function () {   
            var urlName = get_base_url("Downtime/CreateQMS_TR_DOWNTIME");            
            var valid = true;

            if( typeof $scope.tempPlantId !== "undefined"  && typeof $scope.tempPlantId.ID !== "undefined" ){
                $scope.createModel.PLANT_ID = $scope.tempPlantId.ID; 
            }else{
                valid = false;
            }
            if( typeof $scope.tempDocStatusId !== "undefined"  && typeof $scope.tempDocStatusId.Value !== "undefined" ){
                $scope.createModel.DOC_STATUS = $scope.tempDocStatusId.Value;
            }else{
                valid = false;
            }                        
            if( typeof $scope.TempStartDate !== "undefined"  && $scope.TempStartDate !== null ){
                $scope.createModel.START_DATE = $scope.TempStartDate;
            }else{
                valid = false;
            }  
            if( typeof $scope.TempEndDate !== "undefined"  && $scope.TempEndDate !== null ){
                $scope.createModel.END_DATE = $scope.TempEndDate;
            }else{
                valid = false;
            }              
            if(  $scope.TempEndDate >= $scope.TempStartDate ){
                
            }else{
                valid = false;
            }    
 
            
            if(true == valid){ 
                var jsonData = $scope.createModel;
                Fact.saveDataCallback(urlName, jsonData, function (response) {  
                    if(response.data.result == 1){
                         var url =  get_base_url("Downtime/ListManageDowntime");
                         Fact.loadtoList(url); 
//                         Fact.showMessage(response.data.message); 
//                         $scope.createModel = response.data.model;
//                         $scope.createModel.ID = response.data.dataId;
                    }else{
                        Fact.showMessage(response.data.message); 
                    }     
                });
//                Fact.saveData(urlName, jsonData, true);
            }else{ 
                if(  $scope.TempEndDate >= $scope.TempStartDate){
                   Fact.showMessage("@Resources.Strings.PleaseInputData");
                }else{
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
                }
            }             
                        

        }  

        $scope.init = function () { 
            $scope.listPlant.forEach(function(entry) {
		    	if($scope.createModel.PLANT_ID  == entry.ID){  
		    		$scope.tempPlantId =  entry; 
		    		return false;
		    	} 
			});            
            $scope.listDocStatus.forEach(function(entry) {
		    	if($scope.createModel.DOC_STATUS  == entry.Value){  
		    		$scope.tempDocStatusId =  entry; 
		    		return false;
		    	} 
			});
        }
        
        $scope.init();

    }); 

    function getCreateModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(createQMS_TR_DOWNTIME)); 
        return lstData; 
    }

     function getListPlant(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPlant)); 
        return lstData; 
    }

    function getlistDocStatus(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listDocStatus)); 
        return lstData; 
    }


</script>
