﻿@{ 
     var listYear = ViewBag.listYear as List<QMSSystem.Model.ShiftYear>; 
}
<div   ng-app="fileUpload" ng-controller="MyCtrl">
      <div class="">

           <div class="page-title">
                <div class="title_left">
                     <h3>@Resources.Strings.OperationShift</h3>
                     <div class="clearfix"></div>
                </div>
           </div> 
           <div class="clearfix"></div>
           <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
           <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12"> 
                     <div class="x_panel">  
                        <div class="x_title">  
                            <div class="col-md-8 col-sm-8 col-xs-12"  > 
                               <span class="btn btn-primary  " ng-click="openUploadFile()"><i class="fa fa-search"></i> @Resources.Strings.Upload</span> 
                               <span class="btn btn-primary delShiftyear " style="display:none;"  my-confirm-click="delShiftyearData()" my-confirm-click-message=@Resources.Strings.DoYouWantToDelete><i class="fa fa-trash"></i> @Resources.Strings.Delete</span>
                            </div> 
                            <div class="col-md-1 col-sm-1 col-xs-12"  >@Resources.Strings.Year</div>
                            <div class="col-md-3 col-sm-3 col-xs-12" >
                                    <select
				                        ng-model="TempYear"
				                        chosen 
                                        ng-change="loadShift()" 
				                        ng-options="item.YEAR_NAME  for item in listYear"
				                        class="col-md-12 col-sm-12 col-xs-12"
				                        > 
                                        <option value=""></option>
			                        </select> 
                            </div>
                            <div class="clearfix"></div> 
                        </div> 
                        <div class="x_content">  
                            <div class="row tableshift" style="overflow: auto; display:none;">
                               <table border="" style="border-collapse: collapse; border-bottom-width: 0px; border-right-width: 0px;width: 100%; ">
                                    <tr  ng-repeat="mShiftValue in listShiftTable"  >
                                        <td ng-repeat="dataValue in mShiftValue" style="min-width:20px;"  ng-class="setClass(dataValue)" ng-click="openShiftDialog(dataValue)"  >
                                            {{ dataValue.columnData }} 
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div> 

                        <!-- history -->
                        <div class="x_content" ng-show="createModel.ID">
                            <div class="col-md-6 col-sm-6 col-xs-6  ">
                                <div class="title_left text_left small_font_size " >
		                            @Resources.Strings.CreateBy {{ CREATE_USER}} ( {{ SHOW_CREATE_DATE }} )
	                            </div>
                            </div><div class="col-md-6 col-sm-6 col-xs-6  ">
	                            <div class="title_right text_right small_font_size " >
	                                @Resources.Strings.UpdateBy {{ UPDATE_USER}} ( {{ SHOW_UPDATE_DATE }} )
	                            </div>
                            </div>
                        </div>
                        <!-- history -->
                     </div>
                      <!-- *** ในส่วนของ Exception case ถ้าสร้างแล้ว จะเป็น List ลำดับต่อท้ายลงมา -->


                       <!-- Operation Shift modal -->
                            <div class="modal fade operation-shift-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content"> 
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.OperationShift</h4>
                                  </div>
                                  <div class="modal-body">
                                    <form  name="form">
                                    <div class="row">
                                      <div class="col-md-4 col-sm-4 col-xs-12 text_right" >
                                        @Resources.Strings.Year
                                      </div>
                                      <div class="col-md-4 col-sm-4 col-xs-12 text_right" >
                                        <input type="text" class="form-control"  name="year" maxlength="4" id="year" ng-model="year" number-only-input>
                                      </div>
                                      <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:right;"> 
                                      </div>
                                    </div><br /><div class="row"> 
                                        <div class="col-md-4 col-sm-4 col-xs-12 text_right" >&nbsp;</div>
                                        <div class="col-md-4 col-sm-4 col-xs-12"  ngf-select ng-model="file" name="file" ngf-pattern="'.xls,.csv,.xlsx'"
                                        ngf-accept="'.xls,.csv,.xlsx'" ngf-max-size="2048MB" ngf-min-height="100"  ><span class="btn btn-primary" >@Resources.Strings.SelectFile</span> 
                                            <!--<img ngf-src="file" class="thumb">--> {{file.name}}
                                        </div> 
                                    </div> 
                                    </form>
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="upload(file)" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Cancel</button>
                                  </div> 
                                </div>
                              </div>
                            </div>
                        <!-- end Operation Shift modal -->



                         <!-- Operation Shift Edit modal -->
                            <div class="modal fade operationEdit-shift-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content"> 
                                  <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">@Resources.Strings.OperationShift</h4>
                                  </div>
                                  <div class="modal-body"> 
                                        <div class="row">
                                              <div class="col-md-4 col-sm-4 col-xs-12 text_right" >
                                                @Resources.Strings.Date : 
                                              </div>
                                              <div class="col-md-4 col-sm-4 col-xs-12  " >
                                                {{EditDataValue.SHOW_DATE}}
                                              </div> 
                                        </div><div class="row">
                                              <div class="col-md-4 col-sm-4 col-xs-12 text_right" >
                                                @Resources.Strings.SHIFT_TIME : 
                                              </div>
                                              <div class="col-md-4 col-sm-4 col-xs-12 " >
                                                {{EditDataValue.SHIFT_NAME}}
                                              </div> 
                                        </div><div class="row">
                                              <div class="col-md-4 col-sm-4 col-xs-12  text_right" >
                                                @Resources.Strings.SHIFT : 
                                              </div>
                                              <div class="col-md-4 col-sm-4 col-xs-12 text_right" >
                                                <input type="text" class="form-control"  maxlength="4"  ng-model="EditDataValue.columnData"  >
                                              </div> 
                                        </div> 
                                  </div>
                                  <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" ng-click="saveEditOperationShift()" ><i class="fa fa-save"></i> @Resources.Strings.Save</button>
                                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-close"></i> @Resources.Strings.Cancel</button>
                                  </div> 
                                </div>
                              </div>
                            </div>
                        <!-- end Operation Shift modal -->
                </div>
           </div> 

            
      </div>
 </div>
 

   
<script type="text/javascript">

    var app = angular.module('fileUpload', ['ngFileUpload', 'ui.date', 'localytics.directives', 'siyfion.sfTypeahead']); 
    app.directive("myConfirmClick", [
      function () {
          return {
              priority: -1,
              restrict: 'A',
              scope: { confirmFunction: "&myConfirmClick" },
              link: function (scope, element, attrs) {
                  element.bind('click', function (e) {
                      // message defaults to "Are you sure?"
                      var message = attrs.myConfirmClickMessage ? attrs.myConfirmClickMessage : "Are you sure?";

                      $("#dialog-confirm").modal({                    // wire up the actual modal functionality and show the dialog
                          "backdrop": "static",
                          "keyboard": true,
                          "show": true                     // ensure the modal is shown immediately
                      }).one('click', '#btnYes', function () {
                          console.log("button pressed");   // just as an example...
                        scope.confirmFunction();
                        $("#dialog-confirm").modal('hide');  
                      }); 

                  });
              }
          }
      }
    ]);
    app.controller('MyCtrl', ['$scope', 'Upload',  '$http' , function ($scope, Upload, $http) {
        // upload later on form submit or something similar
        /*$scope.submit = function() {
        if ($scope.form.file.$valid && $scope.file) {
        $scope.upload($scope.file);
        }
        };*/
        $scope.TempYear;
        $scope.listYear = getListYear();
        $scope.listShiftTable;
        $scope.EditDataValue;
        $scope.year;
        $scope.file;

        $scope.CREATE_USER;
        $scope.SHOW_CREATE_DATE;
        $scope.UPDATE_USER;
        $scope.SHOW_UPDATE_DATE;

        $scope.delShiftyearData = function(){
         
            $('#overlay').show(); 
            var urlName = get_base_url("Shift/DeleteListMasterShift");
            var jsonData = { year:  $scope.TempYear.YEAR};

	         $http({
	             url: urlName,
	             method: "POST", 
	             data: jsonData, 
	             headers: { 'Content-Type': 'application/json;charset=UTF-8' }
	         }).then(function (response) { 
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             if ('1' == response.data.result) {
	                 location.reload();
	             } else {
	                 $scope.showMessage(response.data.message);
	             }
	         }, function (response) {
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             $scope.showMessage(response.data.message);
	         });
        }

        $scope.loadShift = function () {
           // console.log($scope.TempYear);
            //$scope.showMessage($scope.TempYear.YEAR); 

            $('#overlay').show(); //$('#myWaitModal').modal('show');
            var urlName = get_base_url("Shift/GetListMasterShift");
            var jsonData = { year:  $scope.TempYear.YEAR};

	         $http({
	             url: urlName,
	             method: "POST", 
	             data: jsonData, 
	             headers: { 'Content-Type': 'application/json;charset=UTF-8' }
	         }).then(function (response) {
                $(".tableshift").show();
                $(".delShiftyear").show();
                //console.log(response);
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             if ('1' == response.data.result) {
	                 $scope.listShiftTable = response.data.message;

                    $scope.CREATE_USER  = response.data.CREATE_USER;
                    $scope.SHOW_CREATE_DATE  = response.data.SHOW_CREATE_DATE;
                    $scope.UPDATE_USER  = response.data.UPDATE_USER;
                    $scope.SHOW_UPDATE_DATE  = response.data.SHOW_UPDATE_DATE;
	             } else {
	                 $scope.showMessage(response.data.message);
	             }
	         }, function (response) {
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             $scope.showMessage(response.data.message);
	         });
        };

        $scope.saveEditOperationShift = function(){

            $('#overlay').show(); //$('#myWaitModal').modal('show');
            var urlName = get_base_url("Shift/SaveEditShiftData");
            var jsonData = $scope.EditDataValue;

             $(".operationEdit-shift-modal-lg").modal('hide'); 

	         $http({
	             url: urlName,
	             method: "POST", 
	             data: jsonData, 
	             headers: { 'Content-Type': 'application/json;charset=UTF-8' }
	         }).then(function (response) {
                $(".tableshift").show(); 
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             if ('1' == response.data.result) {
	                 $scope.listShiftTable = response.data.message;

                      $scope.CREATE_USER  = response.data.CREATE_USER;
                    $scope.SHOW_CREATE_DATE  = response.data.SHOW_CREATE_DATE;
                    $scope.UPDATE_USER  = response.data.UPDATE_USER;
                    $scope.SHOW_UPDATE_DATE  = response.data.SHOW_UPDATE_DATE;
	             } else {
	                 $scope.showMessage(response.data.message);
	             }
	         }, function (response) {
	             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	             $scope.showMessage(response.data.message);
	         });
        }

        $scope.openUploadFile = function(){
            $scope.year = "";
            $scope.file = null;
            $(".operation-shift-modal-lg").modal('show'); 
        }

        $scope.openShiftDialog = function(data){
            
            if(data.columnType == 2 && data.columnData != "" ){ //data
                 
                $(".operationEdit-shift-modal-lg").modal('show'); 
                $scope.EditDataValue =  angular.copy(data); 
            }
        }
         
        $scope.setClass = function(data){
            var type = data.columnType;
            
            if(type == 1 ){ // header column and row 
                return "metrix_header";
            }else{
               return "metrix_data";
            }
        }

        $scope.showMessage = function(msg){
             $('#overlay').hide(); //$('#myWaitModal').modal('hide');
	         $('#show_message').html(msg);
	         $('#myMessageModal').modal('show');
        }

        // upload on file select or drop
        $scope.upload = function (file) {
            if ($scope.form.file.$valid && $scope.file) {
                console.log("valid");
            }

            Upload.upload({
                url: 'Files/SaveShiftOperation',
                data: { file: file, 'year': $scope.year}
            }).then(function (resp) { 
                 
                 $scope.listYear = resp.data.listYear; 
                 $(".operation-shift-modal-lg").modal('hide'); 

                 $scope.listYear.forEach(function(entry, index) {
                    if($scope.year == entry.YEAR_NAME)
		    	        $scope.TempYear =  entry;  
			     });

                 console.log($scope.TempYear);

                 $scope.loadShift();

            }, function (resp) {
                console.log('Error status: ' + resp.status);
            }, function (evt) {
                var progressPercentage = parseInt(100.0 * evt.loaded / evt.total);
                console.log('progress: ' + progressPercentage + '% ' + evt.config.data.file.name);
            });
        };
        // for multiple files:
        $scope.uploadFiles = function (files) {
            /*if (files && files.length) {
            for (var i = 0; i < files.length; i++) {
            Upload.upload({..., data: {file: files[i]}, ...})...;
            }
            // or send them all together for HTML5 browsers:
            Upload.upload({..., data: {file: files}, ...})...;
            }*/
        } 

    } ]);


    
    function getListYear(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listYear)); 
        return lstData; 
    }
</script>