﻿@{
    
    var searchOffControl = ViewBag.searchOffControl as QMSSystem.Model.ReportOffControlSearchModel;
    var searchOffControlDetail = ViewBag.searchOffControlDetail as QMSSystem.Model.ReportOffControlDetailSearchModel;
    var searchOffControlAttach = ViewBag.searchOffControlAttach as QMSSystem.Model.ReportOffControlAttachSearchModel;
    var searchOffControlGraph = ViewBag.searchOffControlGraph as QMSSystem.Model.ReportOffControlGraphSearchModel;
    var searchOffControlSummary = ViewBag.searchOffControlSummary as QMSSystem.Model.ReportOffControlSummarySearchModel;

    var listOffControl = ViewBag.listOffControl as List<QMSSystem.Model.ViewQMS_RP_OFF_CONTROL>;
    
    var listPageSize = ViewBag.listPageSize as List<SelectListItem>;
       
}
<div id="myControl" ng-app="myApp" ng-controller="myCtrl"> 
     <div class="modal fade bs-off-control-modal-lg" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
               <div class="modal-content" > 
                    <div class="modal-header">
                         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
                         </button>
                         <h4 class="modal-title" id="myModalLabel">@Resources.Strings.ModalDashboardTitle</h4>
                    </div>
                    <div class="modal-body"> 
                         <div class="form-horizontal form-label-left" >
                              <div class="form-group">
                                   <label class="control-label col-md-3 col-sm-3 col-xs-12" >@Resources.Strings.ModalDashboardLabel 
                                   </label>
                                   <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select
					                            ng-model="tempSearchOffControl"
					                            chosen="{inherit_select_classes: true}"
					                            ng-options="item.NAME  for item in listOffControl" 
                                                class="chosen_required">
					                            <option value=""></option>
				                        </select> 
                                   </div>                                 
                              </div>                                                                                                                         
                         </div> 
                    </div> 
                    <div class="modal-footer"> 
                        <button type="button" ng-click="RunData()" class="btn btn-primary" id="runData" data-dismiss="modal"><i class="fa fa-play"></i> @Resources.Strings.ButtonRun</button>
                    </div>

               </div>
          </div>
     </div> 

     <div class="col-md-12 col-sm-12 col-xs-12 viewMasterData" id="viewMaster" style="display:none">
          <div class="page-title">
               <div class="title_left">
                    <h3>@Resources.Strings.OffControlReport </h3>
                    <div class="clearfix"></div> 
               </div>
               <div class="title_right" style="text-align:right;"> 
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-off-control-modal-lg"><i class="fa fa-search"></i> @Resources.Strings.ButtonSearchOffcontrolReport</button>
                    <div class="clearfix"></div>
               </div>
               <div class="title_left" >
                    <h3>รายงาน Off Control ประจำเดือน {{ OffControlNAME }}</h3>
                    <div class="clearfix"></div> 
               </div>
          </div>

          <div class="clearfix"></div>
          <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label>
          
  
                                                                                                                            
                                             
               <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="x_panel">                         
                              <div class="x_content fixReport">
                                   <div class="x_title"> 
                                        <h2>@Resources.Strings.ProductOffControl</h2>  
                                        <ul class="nav navbar-right panel_toolbox">                                            
                                            <li class="viewDetail" ><i class="fa fa-th-list"></i>@Resources.Strings.ClickViewDetail / </li>
                                            <li ng-click="downloadExcel()"> <i class="fa fa-download"></i>  @Resources.Strings.ClickToDownload </li>                                            
                                        </ul>
                                        <div class="clearfix"></div>
                                   </div> 
                               
                                   <table class="table table-bordered tbl_overflow"  >                                                         
                                          <tbody>
                                                   <tr ng-repeat="mOffControlSummary_T0 in listOffControlSummary_T0"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T0" ng-show="ShowOffControlSummary_T0">
                                                       <td ng-repeat="dataValue_T0 in mOffControlSummary_T0" ng-class="setClass(dataValue_T0)"  >
                                                           <div ng-if=" dataValue_T0.ITEM_TYPE !== 1 && dataValue_T0.ITEM_TYPE !== 2 " >
                                                                <input type="text" class="form-control"  ng-model="dataValue_T0.SHOW_OUTPUT" number-only-input style="font-size: 12px; text-align:right" ng-readonly="true" aria-label="Readonly field">
                                                           </div>
                                                           <div ng-if=" dataValue_T0.ITEM_TYPE === 1 || dataValue_T0.ITEM_TYPE === 2 "  style="font-size: 12px;">  
                                                               {{ dataValue_T0.SHOW_OUTPUT }}  
                                                          </div>                                                                                                                                           
                                                      </td>
                                                 </tr>
                                          </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>        

               <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="x_panel">                         
                              <div class="x_content fixReport">
                                   <div class="x_title"> 
                                        <h2>@Resources.Strings.TotalProductions</h2>                                          
                                        <div class="clearfix"></div>
                                   </div>   
                                    <table class="table table-bordered tbl_overflow"  >                                                         
                                          <tbody>
                                                   <tr ng-repeat="mOffControlSummary_T1 in listOffControlSummary_T1"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T1" ng-show="ShowOffControlSummary_T1">
                                                       <td ng-repeat="dataValue_T1 in mOffControlSummary_T1" ng-class="setClass(dataValue_T1)"  >
                                                           <div ng-if=" dataValue_T1.ITEM_TYPE !== 1 && dataValue_T1.ITEM_TYPE !== 2 " >
                                                                <input type="text" class="form-control"  ng-model="dataValue_T1.SHOW_OUTPUT" number-only-input style="font-size: 12px; text-align:right" ng-readonly="true" aria-label="Readonly field">
                                                           </div>
                                                           <div ng-if=" dataValue_T1.ITEM_TYPE === 1 || dataValue_T1.ITEM_TYPE === 2 "  style="font-size: 12px;">  
                                                               {{ dataValue_T1.SHOW_OUTPUT }}  
                                                          </div>                                                                                                                                           
                                                      </td>
                                                 </tr>
                                          </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>        
                   
               <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                         <div class="x_panel">                         
                              <div class="x_content fixReport">
                                   <div class="x_title"> 
                                        <h2>@Resources.Strings.PercentProductOffControl</h2>                                         
                                        <div class="clearfix"></div>
                                   </div>    
                                                              
                                   <table class="table table-bordered tbl_overflow"  >                                                         
                                          <tbody>
                                                   <tr ng-repeat="mOffControlSummary_T2 in listOffControlSummary_T2"  ng-form="myQMS_RP_OFF_CONTROL_SUMMARY_T2" ng-show="ShowOffControlSummary_T2">
                                                       <td ng-repeat="dataValue_T2 in mOffControlSummary_T2" ng-class="setClass(dataValue_T2)"  >
                                                           <div ng-if=" dataValue_T2.ITEM_TYPE !== 1 && dataValue_T2.ITEM_TYPE !== 2 " >
                                                                <input type="text" class="form-control"  ng-model="dataValue_T2.SHOW_OUTPUT" number-only-input style="font-size: 12px; text-align:right" ng-readonly="true" aria-label="Readonly field">
                                                           </div>
                                                           <div ng-if=" dataValue_T2.ITEM_TYPE === 1 || dataValue_T2.ITEM_TYPE === 2 "  style="font-size: 12px;">  
                                                               {{ dataValue_T2.SHOW_OUTPUT }}  
                                                          </div>                                                                                                                                           
                                                      </td>
                                                 </tr>
                                          </tbody>
                                   </table>
                              </div>
                         </div>
                    </div>
               </div>        

     </div>   
     @Html.Partial("ViewDetail")  
     <div class="sepdata viewMasterData " > 
          <div class=" row">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                              <div class="row"  style="text-align:right;">
                                   <span class="btn btn-primary" ng-click="downloadImage()"><i class="fa fa-bar-chart"></i>@Resources.Strings.GraphExport</span>
                                   <span class="btn btn-primary" ng-click="downloadCSV()"><i class="fa fa-file-excel-o"></i> @Resources.Strings.ExcelExport</span>
                              </div>
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content ">
                              <div id="container" style="width: 100%;">
                                   <canvas id="canvas"></canvas>
                              </div>
                         </div>
                    </div>
               </div>  
          </div>
          <div class="row reportData" style="display:none">
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                            <h2>{{OffControlNAME}}</h2>
                            <div class="clearfix"></div>
                         </div> 
                         <div class="x_content fixReport">
                              <p style="white-space: pre-line;" > 
                                  {{ OffControlDESC }}  
                              </p>
                              <br> 
                         </div>
                    </div>
               </div>       
          </div>
         <div class="row reportData" style="display:none">
               @*<div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel tile fixed_height_320 overflow_hidden">
                         <div class="x_title">
                              <h2>@Resources.Strings.OffControlReason</h2>
                              <ul class="nav navbar-right panel_toolbox"> 
                                  <li> @Resources.Strings.ClickToDownload <i class="fa fa-download"></i>
                                     </li>
                                 </ul>
                              <div class="clearfix"></div>
                         </div>
                         <div class="x_content fixReport">
                              <table class="" style="width:100%">
                                        <tr>
                                        <td style="width:60%;">
                                            <p></p>
                                        </td>
                                        <td>
                                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7"></div>
                                            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5"></div>
                                        </td>
                                        </tr>
                                        <tr>
                                        <td style="text-align:right;">
                                            <div id="canvas-holder" >
                                                <canvas id="chart-area" />
                                            </div>
                                        </td>
                                        <td style="text-align:right;">
                                            <table class="tile_info">
                                            <tr>
                                                <th > @Resources.Strings.OffControlReason</th>
                                                <th >(@Resources.Strings.Percent)</th>
                                            </tr>
                                            <tr>
                                                <td >
                                                <p><i class="fa fa-square blue"></i>Reason1 </p>
                                                </td>
                                                <td style="text-align:center;">30%</td>
                                            </tr>
                                            <tr>
                                                <td >
                                                <p><i class="fa fa-square green"></i>Reason2 </p>
                                                </td>
                                                <td style="text-align:center;">10%</td>
                                            </tr>
                                            <tr>
                                                <td >
                                                <p><i class="fa fa-square purple"></i>Reason3 </p>
                                                </td>
                                                <td style="text-align:center;">20%</td>
                                            </tr>
                                            <tr>
                                                <td >
                                                <p><i class="fa fa-square aero"></i>Reason4 </p>
                                                </td>
                                                <td style="text-align:center;">15%</td>
                                            </tr>
                                            <tr>
                                                <td >
                                                <p><i class="fa fa-square red"></i>Reason5 </p>
                                                </td>
                                                <td style="text-align:center;">30%</td>
                                            </tr>
                                            </table>
                                        </td>
                                        </tr>
                              </table>
                         </div>
                    </div>
               </div> *@
               <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                         <div class="x_title">
                              @Resources.Strings.AttachDocumentList
                              <div class="clearfix"></div>
                         </div> 
                         <div class="x_content " > 
                              <div class="row">  
                                   <table class="table">                                        
                                          <tbody>
                                                 <tr  ng-repeat="mOffControlAttachData in listOffControlAttach">                                                                                                                 
                                                      
                                                      <td>
                                                          <div class="col-md-2 col-sm-2 col-xs-12">
                                                                <a href="#">
                                                                <span ng-click="" ><i class="fa fa-download set-pointer" title="@Resources.Strings.Edit"></i></span>                                                               
                                                                </a>
                                                          </div>
                                                          <div class="col-md-4 col-sm-4 col-xs-12"> 
                                                               {{ mOffControlAttachData.NAME }}  
                                                          </div>                                                          
                                                      </td>
                                                      
                                                 </tr>
                                          </tbody>                                                                                          
                                   </table>
                              </div> 
                         </div>
                    </div>
               </div>
          </div> 
     </div>  
</div>

<script type="text/javascript">

  $(document).ready(function () {
        window.chartColors = {
	        red: 'rgb(255, 99, 132)',
	        orange: 'rgb(255, 159, 64)',
	        yellow: 'rgb(255, 205, 86)',
	        green: 'rgb(110, 175, 10)', //green: 'rgb(75, 192, 192)',
	        blue: 'rgb(54, 162, 235)',
	        purple: 'rgb(153, 102, 255)',
	        grey: 'rgb(231,233,237)'
        }; 
  });

    app.controller('myCtrl',  function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike  ) {
      
       
        
        $scope.searchOffControlModel = getOffControlSearchModel();
        $scope.searchOffControlDetailModel = getOffControlDetailSearchModel();
        $scope.searchOffControlAttachModel = getOffControlAttachSearchModel();
        $scope.searchOffControlGraphModel = getOffControlGraphSearchModel();
        $scope.searchOffControlSummary = getOffControlSummarySearchModel();


        $scope.ShowOffControlSummary_T0 = true;
        $scope.listOffControlSummary_T0;


        $scope.ShowOffControlSummary_T1 = true;
        $scope.listOffControlSummary_T1;


        $scope.ShowOffControlSummary_T2 = true;
        $scope.listOffControlSummary_T2;

        $scope.listOffControl;
        $scope.listOffControlDesc;
        $scope.listOffControlDetail;


        $scope.TempPageSize;
        $scope.PageSize = Fact.setPageSize(20);
        $scope.totalPage = 1; //init;
        $scope.totalRecords = 0;
        $scope.PageIndex = 1; 
        $scope.SortColumn = Fact.setSortColumn('PLANT_ID');
        $scope.SortOrder = Fact.setSortOrder('desc');

        $scope.listPageSize = getListPageSize(); // list of page size
        $scope.listPageIndex;

        $scope.tempSearchOffControl;
        $scope.listOffControl = getListOffControl();

        $scope.listOffControlAttach;

        $scope.dateOptions = {
            dateFormat: 'dd/mm/yy',
            /*changeYear: true,
            changeMonth: true,
            yearRange: '1900:-0',*/
        }
        
        $scope.getFirstPage = function(){ $scope.PageIndex = Fact.getFirstPage(); $scope.loadOffControlDetail(); }          
        $scope.getBackPage = function(){ $scope.PageIndex = Fact.getBackPage(); $scope.loadOffControlDetail(); }
        $scope.getNextPage = function(){ $scope.PageIndex = Fact.getNextPage(); $scope.loadOffControlDetail(); }        
        $scope.getLastPage = function(){ $scope.PageIndex = Fact.getLastPage(); $scope.loadOffControlDetail(); }        
        $scope.searchByPage =  function(){ $scope.PageIndex = Fact.setPageIndex($scope.TempPageIndex.PageIndex); $scope.loadOffControlDetail(); }
        $scope.setPageSize = function(data){ $scope.PageSize = Fact.setPageSize( $scope.TempPageSize.Value); }
        $scope.loadByPageSize = function(){ $scope.PageIndex = Fact.setPageIndex(1); $scope.setPageSize(); $scope.loadOffControlDetail(); }

        $scope.setClass = function(data){
            var type = data.ITEM_TYPE;
            var rank = data.SHOW_RANK;
            var showData = false;//data.SHOW_ON_TREND_FLAG;
            if(data.VALUE != null && data.VALUE > 0){
                showData = true;
            }


            if(type == 1 || type == 2){ // header column and row 
                  return "metrix_header";
            } else if(type == 3 ){
                
                if(showData == true){
                    if (rank == 0) return "metrix_data_show0";
                    if (rank == 1) return "metrix_data_show1";
                    if (rank == 2) return "metrix_data_show2";
                    if (rank == 3) return "metrix_data_show3";
                    if (rank == 4) return "metrix_data_show4";
                    if (rank == 5) return "metrix_data_show5";
                }else{
                    return "metrix_data";
                }
            } else  if(type == 4 || type == 5){
                  return "metrix_sumdata_show";                
            }else if(type == 6){
                  return "metrix_sumalldata_show";
            }             
        }

       

        $scope.RunData = function () {
             if(typeof $scope.tempSearchOffControl !== "undefined")
                $scope.searchOffControlModel.ID = $scope.tempSearchOffControl.ID;
             
             $scope.loadOffControlSummary_T0();
             $scope.loadOffControlSummary_T1();
             $scope.loadOffControlSummary_T2();
             $scope.loadOffControlDetail();
             $scope.loadOffControlAttach();
             $scope.loadOffControlDesc();
             $scope.loadOffControl();
             $scope.GetGraphData();
             $scope.OffControlNAME = $scope.tempSearchOffControl.NAME;
             $scope.OffControlDESC = $scope.tempSearchOffControl.DETAIL_DESC;
             $(".viewMasterData").show();
             $(".viewDetailData").hide();
             $(".bs-off-control-modal-lg").hide();
        }

  
        $scope.downloadExcel = function (){
           

            var urlName = get_base_url("OffControl/OffControlDataExcel");
            var jsonData = $scope.searchOffControlModel.ID;
            var checkResult = true;
            if( true == checkResult){

                urlName += "?rp_off_control_id=" +  jsonData;

                window.open(urlName, "@Resources.Strings.ReportOffControl");

            }
         
        }

       
        $scope.showError = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#error_message').html(msg);
            $('#myErrorModal').modal('show');
        }

        $scope.showMessage = function (msg) {
            $('#myWaitModal').modal('hide');
            $('#show_message').html(msg);
            $('#myMessageModal').modal('show');
        }

///// Data QMS_RP_OFF_CONTROL_SUMMARY T0
 

        $scope.loadOffControlSummary_T0 = function () {
            var urlName = get_base_url("OffControl/GetDashboardOffControlSummary_T0");
            var lstData = $scope.searchOffControlModel.ID;
        
            if(  lstData > 0){ 
                var jsonData = {
	                 "RPOffControlId": lstData
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffControlSummary_T0 = response.data.message;
                       
                    }catch(e){
                    
                    }
                });
            }
        }
              

///// Data QMS_RP_OFF_CONTROL_SUMMARY T1
 
 
        $scope.loadOffControlSummary_T1 = function () {
            var urlName = get_base_url("OffControl/GetDashboardOffControlSummary_T1");
            var lstData = $scope.searchOffControlModel.ID;

            if( lstData > 0){ 
                var jsonData = {
	                 "RPOffControlId":  lstData
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffControlSummary_T1 = response.data.message;
                        
                    }catch(e){
                    
                    }
                });
            }
        }

      
///// Data QMS_RP_OFF_CONTROL_SUMMARY T2
 
 
        $scope.loadOffControlSummary_T2 = function () {
            var urlName = get_base_url("OffControl/GetDashboardOffControlSummary_T2");
            var lstData = $scope.searchOffControlModel.ID;

            if( lstData > 0){ 
                var jsonData = {
	                 "RPOffControlId":  lstData
	            };
                  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffControlSummary_T2 = response.data.message;
                        
                    }catch(e){
                    
                    }
                });
            }
        }

/////  Off Control

        $scope.loadOffControl = function () {
        var lstData = $scope.searchOffControlModel.ID;

            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROLBySearch");
            
            if( lstData > 0){ 
                $scope.searchOffControlModel.RP_OFF_CONTROL_ID = lstData;
                $scope.searchOffControlModel.DOC_STATUS = 2;
                var jsonData = {
	                 "PageIndex":$scope.PageIndex,
	                 "PageSize": $scope.PageSize,
	                 "SortColumn": "NAME",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchOffControlModel
	            };
                
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listOffControl = response.data.message; 
                        //console.log("listOffControl",lstData,$scope.listOffControl); 
                        $scope.totalPage = response.data.toTalPage; //init;
                        $scope.totalRecords = response.data.totalRecords;
                        $scope.listPageIndex = response.data.listPageIndex;
                
                        $scope.listPageIndex.forEach(function(entry, index) {
                             if($scope.PageIndex == entry.PageIndex)
		    	                $scope.TempPageIndex =  entry;  
			            });

                         $(".viewMasterData").show();
                    }catch(e){
                    
                    }
                });
            }

        }


        
        $scope.loadOffControlDesc = function () {
        var lstData = $scope.searchOffControlModel.ID;
            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROLById");

            if( lstData > 0){ 
                var jsonData = {
	                 "ids": lstData
	            };
                //console.log(jsonData,lstData);  
                Fact.loadlistData(urlName, jsonData, function(response){ 

                    try{
                       $scope.listOffControlDesc = response.data.message;
                       //console.log($scope.searchOffControlModel.ID,$scope.listOffControlDesc.TITLE_GRAPH_X);
                    }catch(e){
                    
                    }
                });
            }
        }

        
/////  Off Control Detail 

        $scope.loadOffControlDetail = function () {
        var lstData = $scope.searchOffControlModel.ID;

            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROL_DETAILBySearch");
            //console.log("loadOffControlDetail", $scope.createModel.ID );
            if( lstData > 0){ 
                $scope.searchOffControlDetailModel.RP_OFF_CONTROL_ID = lstData;
                var jsonData = {
	                 "PageIndex":$scope.PageIndex,
	                 "PageSize": $scope.PageSize,
	                 "SortColumn": "PLANT_ID",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchOffControlDetailModel
	            };
                
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listOffControlDetail = response.data.message; 
                        $scope.totalPage = response.data.toTalPage; //init;
                        $scope.totalRecords = response.data.totalRecords;
                        $scope.listPageIndex = response.data.listPageIndex;
                
                        $scope.listPageIndex.forEach(function(entry, index) {
                             if($scope.PageIndex == entry.PageIndex)
		    	                $scope.TempPageIndex =  entry;  
			            });
                    }catch(e){
                    
                    }
                });
            }

        }

/////  Off Control Attach
         $scope.loadOffControlAttach = function () {
         var lstData = $scope.searchOffControlModel.ID;

            var urlName = get_base_url("Report/GetQMS_RP_OFF_CONTROL_ATTACHBySearch");
            if( lstData > 0){ 
                $scope.searchOffControlAttachModel.RP_OFF_CONTROL_ID = lstData;
                var jsonData = {
	                 "PageIndex":$scope.PageIndex,
	                 "PageSize": $scope.PageSize,
	                 "SortColumn": "NAME",
	                 "SortOrder": "ID",
	                 "mSearch": $scope.searchOffControlAttachModel
	            };
                
                Fact.loadlistData(urlName, jsonData, function(response){ 
                    try{
                        $scope.listOffControlAttach = response.data.message;   
                        $scope.listGraphData.forEach(function (entry, index) { 
	                         dateTime.push(entry.PREVIOUS);
                             values1.push(entry.OFF_CONTROL);
	                   }); 
//                        console.log($scope.listOffControlAttach.TITLE_GRAPH);                    
                    }catch(e){
                    
                    }
                });
            }

        }

///// Graph

      $scope.GetGraphData = function () { 
              
            var urlName = get_base_url("Report/GetBarGRAPHData");
            var jsonData = { "id" : $scope.searchOffControlModel.ID }
                
            Fact.loadlistData(urlName, jsonData, function(response){ 
                try{ 
                    
                    $scope.listGraphData = response.data.message;  
                    var graphConfig = Fact.setBarGraphConfig($scope.listGraphData, $scope.listOffControlDesc); 
                    var ctx = document.getElementById("canvas").getContext("2d");
                    window.myLine = new Chart(ctx, graphConfig);
                      
                }catch(e){
                    
                }
            }); 
        }

        
//        $scope.GetDonutGraphData = function () { 
//              
//               var config = {
//                        type: 'doughnut',
//                        data: {
//                            datasets: [{
//                                data: [
//                                    randomScalingFactor(),
//                                    randomScalingFactor(),
//                                    randomScalingFactor(),
//                                    randomScalingFactor(),
//                                    randomScalingFactor(),
//                                ],
//                                backgroundColor: [
//                                    'rgb(255, 99, 132)',
//                                    'rgb(255, 159, 64)',
//                                    'rgb(255, 205, 86)',
//                                    'rgb(75, 192, 192)',
//                                    'rgb(54, 162, 235)', 
//                                ],
//                                label: 'Dataset 1'
//                            }],
//                            labels: [
//                                "Red",
//                                "Orange",
//                                "Yellow",
//                                "Green",
//                                "Blue"
//                            ]
//                        },
//                        options: {
//                            responsive: true,
//                            legend: {
//                                position: 'top',
//                            },
//                            title: {
//                                display: true,
//                                text: 'Chart.js Doughnut Chart'
//                            },
//                            animation: {
//                                animateScale: true,
//                                animateRotate: true
//                            }
//                        }
//                    };

//                 
//                var ctx = document.getElementById("chart-area").getContext("2d");
//                window.myDoughnut = new Chart(ctx, config); 
//        }

        $scope.downloadCSV = function (){
            
            var urlName = get_base_url("OffControl/OffControlGraphDataExcel");
            var checkResult = true;
            if( true == checkResult){

                urlName += "?rp_off_control_id=" +  $scope.searchOffControlModel.ID;

                window.open(urlName, "@Resources.Strings.OffControlSummaryReportGraph");

            }
         
        }
         
        

        $scope.downloadImage = function () { 
            var canvas = document.getElementById("canvas");

            if (canvas.msToBlob) { //for IE
                var blob = canvas.msToBlob();
                window.navigator.msSaveBlob(blob, 'OFF CONTROL.png');
            } else { 
                var link = document.createElement('a');
                link.download =  'OFF CONTROL.png';
                link.href = canvas.toDataURL("image/png").replace("image/png", "image/octet-stream");  // here is the most important part because if you dont replace you will get a DOM 18 exception.
                link.click();
            }
        }

///// Main
        $scope.init = function () { 

            $scope.listOffControl.forEach(function(entry) {
		    	if($scope.searchOffControlModel.ID  == entry.ID){  
		    		$scope.tempSearchOffControl =  entry;                    
		    		return false;
		    	} 
			});

            console.log($scope.searchOffControlModel);
            if ($scope.searchOffControlModel.ID > 0) {

                $scope.ShowOffControlSummary_0 = true;
                $scope.ShowOffControlSummary_1 = true;
                $scope.ShowOffControlSummary_2 = true;
                $scope.ShowOffControlDetail = true;
                         
                $scope.loadOffControlSummary_T0();
                $scope.loadOffControlSummary_T1();
                $scope.loadOffControlSummary_T2();
                $scope.loadOffControlDetail();
                $scope.loadOffControlAttach();
                $scope.loadOffControlDesc();
                $scope.loadOffControl();
                $scope.GetGraphData();
                //$scope.GetDonutGraphData();
                $scope.OffControlNAME = $scope.tempSearchOffControl.NAME;
                $scope.OffControlDESC = $scope.tempSearchOffControl.DETAIL_DESC;

                $(".reportData").show();
                
            }else{
                console.log("Please set configuration before show the Dashboard Off Control");
                //objFact.showError("Please set configuration before show the Dashboard Off Control");
            }


            
        }
        
        $scope.init();

    }); 

  
    function getListOffControl(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listOffControl)); 
        return lstData; 
    }

    function getOffControlSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffControl)); 
        return lstData; 
    }
    
    function getOffControlDetailSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffControlDetail)); 
        return lstData; 
    }

    function getOffControlAttachSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffControlAttach)); 
        return lstData; 
    }

    function getOffControlGraphSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffControlGraph)); 
        return lstData; 
    }

    function getOffControlSummarySearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchOffControlSummary)); 
        return lstData; 
    }

    function getListPageSize(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(listPageSize)); 
        return lstData; 
    }

    var randomScalingFactor = function() {
        return Math.round(Math.random() * 100);
    };
  
        $(".viewDetail").click(function () {
             $(".viewMasterData").hide();
             $(".viewDetailData").show();
        });

        $(".viewDetailBack").click(function () {
             $(".viewMasterData").show();
             $(".viewDetailData").hide();
        });




</script>
