﻿@{ 
    var searchModel = ViewBag.searchModel as QMSSystem.Model.ManageLIMSSearchModel;   
}
 <div  ng-app="myApp" ng-controller="myCtrl">
          <div class="">
            <div class="page-title">              
                <h3>@Resources.Strings.ManageData / @Resources.Strings.OffControl / @Resources.Strings.DataLake / @Resources.Strings.LoadQmsRpOffControlSummaryToDataLake</h3>
                <div class="clearfix"> 
            </div>
            <div class="clearfix"></div>
            <hr class="green_line" /><label class="thick_undergreen">&nbsp;</label> 
            </div>   
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel"> 
                <div class="x_content">
                    <div class="form-horizontal form-label-left controlSearch">
                        <div class="form-group">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <span>* โหลดข้อมูล Off Control Summary ไปยัง Data Lake ตามช่วงวันที่</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                @Resources.Strings.StartDate<span class="required">*</span>
                        </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input type="text" class="form-control" ng-model="TempDateStart" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                        </div>
                        <label class="control-label col-md-1 col-sm-1 col-xs-12">
                            @Resources.Strings.EndDate<span class="required">*</span>
                    </label>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <input type="text" class="form-control" ng-model="TempDateEnd" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker>
                    </div>
                    </div>
                    @* <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="mSearch.bLoadCOA" >  @Resources.Strings.LoadCOA
        </label>
        </div>
    </div><div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12"></label>
        <div class="checkbox">
        <label>
            <input type="checkbox" ng-model="mSearch.bLoadCSC" >  @Resources.Strings.LoadCSC
        </label>
        </div>
    </div> *@
                    <div class="row " style="text-align:right;">
                        <span class="btn btn-primary controlSearch" ng-click="loadData()"> <i class="fa fa-play"></i> @Resources.Strings.Run</span>
                    </div>
                    </div>
 
                </div>
              </div>

            </div>
 
          </div>
        </div>
 </div>
   

 <script type="text/javascript">




    app.controller('myCtrl', function ($scope, Fact, $sce, $http, $httpParamSerializer, $httpParamSerializerJQLike) {

       $scope.TempDateStart = null;
       $scope.TempDateEnd = null;
       $scope.mSearch = getSearchModel();

        $scope.loadData = function () {

            var urlName = get_base_url("OffControl/LoadRP_OFF_CONTROL_SUMMARYFromDBTODataLake");

            var bValid = true;

            if( $scope.TempDateStart !== null){
                $scope.mSearch.START_DATE = $scope.TempDateStart;
            }else{
                bValid = false;
            }

            if( $scope.TempDateEnd !== null){
               $scope.mSearch.END_DATE = $scope.TempDateEnd;
            }else{
                bValid = false;
            }


            var jsonData = $scope.mSearch;

            if(true == bValid){
                Fact.loadlistData(urlName, jsonData, function(response){
                    try{
                         Fact.showMessage(response.data.message);
                    }catch(e){

                    }
                });
            }else{
                if($scope.mSearch.START_DATE > $scope.mSearch.END_DATE){
                    Fact.showMessage("@Resources.Strings.StartDateOverEndDate");
                } else{
                    Fact.showMessage("@Resources.Strings.PleaseInputData");
                }
            }
        }
    });

    function getSearchModel(){
        var self = this;
        var lstData = @Html.Raw(Json.Encode(searchModel));
        return lstData;
    }
 </script>